{# FIXT@fixt_reference = 'admin_sidebar.html.twig' #}
{# FIXT@name = 'Admin sidebar' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'admin_sidebar' #}
{# FIXT@prefered = true #}
{# FIXT@subtype = 'left' #}
<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<ul class="nav metismenu" id="side-menu">
			<li class="nav-header">
				<div class="dropdown profile-element"> <span>
{# 					{% if images is defined %}
					<img alt="image" class="img-circle" src="{{ asset(images.1.fileUrl) }}" style="width:42px;height:42px;">
					{% endif %} #}
					<i class="fa {{ app.user.icon|default('fa-user') }} fa-fw" style="color: {{ app.user.color|default('red') }};"></i>
					 </span>
					<a data-toggle="dropdown" class="dropdown-toggle" href="{{ path('website_admin_homepage') }}">
						<span class="clear">
							<span class="block m-t-xs"><strong class="font-bold">{{ app.user.username|default('.anon') }}</strong></span>
							<span class="text-muted text-xs block"><span>{{ app.user.functionality|default('Utilisateur') }}</span>&nbsp;<b class="caret"></b></span>
						</span>
					</a>
					<ul class="dropdown-menu animated fadeInRight m-t-xs">
						<li><a href="{{ path('fos_user_profile_show') }}">Mon compte</a></li>
						{# <li><a href="{{ path('website_admin_working') }}">Messages</a></li> #}
						{# <li class="divider"></li> #}
						<li><a href="{{ path('fos_user_security_logout') }}">Quitter</a></li>
						<li class="divider"></li>
						<li><a href="{{ path('homepage') }}">Landing page</a></li>
					</ul>
				</div>
				<div class="logo-element">
					AEW
				</div>
			</li>

			<li>
				<a href="{{ path('website_admin_homepage') }}">
					<i class="fa fa-home"></i>&nbsp;
					<span class="nav-label">Tableau de bord</span>
				</a>
			</li>

			<li>
				<a href="{{ path('website_admin_homepage') }}">
					<i class="fa fa-folder }}"></i>&nbsp;
					<span class="nav-label">Dossiers &amp; fichiers</span>
				</a>
			</li>

		</ul>

	</div>
</nav>

