{# FIXT@fixt_reference = 'index.html.twig' #}
{# FIXT@name = 'tableau de bord admin' #}
{# FIXT@titleh1 = 'Tableau de bord administration' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'index' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_page_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{# FIXT@prefered = true #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/admin_views.html.twig','WebsiteAdminBundle:Macro:admin_views.html.twig'] as admin_views %}

{% block content %}

	{# NOUVELLE SAISON #}
	{% if site_context.isEvents() %}
	{% set currentYear = currentYear() %}
	{% if currentYear not in years|default([currentYear]) %}
	<div class="row">
		<div class="col-lg-12">
			<div class="alert alert-warning alert-dismissible animated fadeInRight" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				Il est temps de créer la <strong><a href="{{ path('wsa_season_create') }}" class="alert-link">Nouvelle saison {{ currentYear }}</a></strong> !
			</div>
		</div>
	</div>
	{% endif %}
	{% endif %}

	{% if app.user.isRecentlyCreated('-7 days') and serviceUserrequest.isPossibleRequestCreate('rolecollab', app.user) %}
	<div class="row">
		<div class="col-lg-12">
			<div class="alert alert-warning">
				<h3>Vous êtes inscrit récemment sur le site, et vous souhaitez être enregistré comme collaborateur ?</h3>
				<div>Cliquez <a href="{{ path('wsa_userrequest_rolecollab', {id: app.user.id}) }}">ICI</a> pour envoyer la demande aux administrateurs.</div>
			</div>
		</div>
	</div>
	{% endif %}

	<div class="row">

		{% if site_context.isUserEnvironmentButNotCurrent() %}
			{{ admin_views.site_context('col-sm-12 col-md-6 col-lg-4') }}
		{% elseif site_context.isUserEnv() %}
			{{ admin_views.site_context('col-sm-12 col-md-6 col-lg-4') }}
			{{ admin_views.environment_counter('col-sm-12 col-md-6 col-lg-8') }}
			</div><div class="row">
			{{ admin_views.profile('col-sm-12 col-md-6 col-lg-4') }}
			{{ admin_views.tutos('col-sm-12 col-md-6 col-lg-4') }}
		{% elseif site_context.isUserEntrepriseEnv() %}
			{{ admin_views.site_context('col-sm-12 col-md-6 col-lg-4') }}
			{{ admin_views.environment_counter('col-sm-12 col-md-6 col-lg-8') }}
			</div><div class="row">
			{{ admin_views.profile('col-sm-12 col-md-6 col-lg-4') }}
			{# {{ admin_views.site_updates('col-sm-12 col-md-6 col-lg-4') }} #}
			{# {{ admin_views.site_operations('col-sm-12 col-md-6 col-lg-4') }} #}
			{{ admin_views.tutos('col-sm-12 col-md-6 col-lg-4') }}
		{% elseif site_context.isMainEntrepriseEnv() %}
			{{ admin_views.site_context('col-sm-12 col-md-6 col-lg-4') }}
			{{ admin_views.environment_counter('col-sm-12 col-md-6 col-lg-8') }}
			</div><div class="row">
			{{ admin_views.profile('col-sm-12 col-md-6 col-lg-4') }}
			{# {{ admin_views.site_updates('col-sm-12 col-md-6 col-lg-4') }} #}
			{# {{ admin_views.site_operations('col-sm-12 col-md-6 col-lg-4') }} #}
			{{ admin_views.tutos('col-sm-12 col-md-6 col-lg-4') }}
			{{ admin_views.site_modules('col-sm-12 col-md-6 col-lg-4') }}
			{{ admin_views.site_stats('col-sm-12 col-md-12 col-lg-6') }}
			{{ admin_views.site_perfs('col-sm-12 col-md-12 col-lg-6') }}
		{% else %}
			<div class="col-lg-12">
				<h2>{{ ('<strong class="text-dange">Environnement non reconnu</strong>')|raw }}</h2>
			</div>
			{{ admin_views.site_context('col-sm-12 col-md-6 col-lg-4') }}
		{% endif %}

	</div>

{% endblock content %}
