{# <!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
	</head>
	<body>
		<div>
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}) }} |
				<a href="{{ path('fos_user_security_logout') }}">
					{{ 'layout.logout'|trans }}
				</a>
			{% else %}
				<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans }}</a>
			{% endif %}
		</div>

		{% if app.request.hasPreviousSession %}
			{% for type, messages in app.session.flashbag.all() %}
				{% for message in messages %}
					<div class="well well-{{ type }}">
						{{ message }}
					</div>
				{% endfor %}
			{% endfor %}
		{% endif %}

		<div>
			{% block fos_user_content %}
			{% endblock fos_user_content %}
		</div>
	</body>
</html>
 #}

{% extends 'WebsiteSiteBundle:Root:root_01.html.twig' %}
{# {% block header %}
	{{ include('WebsiteSiteBundle:Header:header_01.html.twig') }}
{% endblock header %} #}

{% block banner %}
	{# {{ include('WebsiteSiteBundle:Banner:banner_01.html.twig') }} #}
{% endblock banner %}

{% block section %}

	<section class="py-10">
		<div class="container">
			<div class="bg-smoke p-2 p-md-6 pb-6 pb-md-8 mb-9 rounded">
				<div class="row">
					<div class="col-12">

						{% block outer_body %}

							{% block fos_user_messages %}
							{# {{ dump(app.session.flashbag.all()) }} #}
							{% if app.request.hasPreviousSession %}
								{% for type, messages in app.session.flashbag.all() %}
									{% for message in messages %}
										{% if is_granted(message.role|default(null)) %}
										<div class="well well-{{ type }}">
										{{ message is iterable ? message.message|trans|raw : message|raw }}
										</div>
										{% endif %}
									{% endfor %}
								{% endfor %}
							{% endif %}
							{% endblock fos_user_messages %}

							{% block fos_user_content %}
							{% endblock fos_user_content %}

							{% block fos_user_login_logout %}
{# 							<div>
								{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
									{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}) }} |
									<a href="{{ path('fos_user_security_logout') }}">
										{{ 'layout.logout'|trans }}
									</a>
								{% else %}
									<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans }}</a>
								{% endif %}
							</div> #}
							{% endblock fos_user_login_logout %}

						{% endblock outer_body %}

					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock section %}

