@@include('header.htm', {
  "title": "About Us - Tour Booking Theme",
  "parents": "pages",
  "active": "about-us"
})

@@include('page-title.htm', {
  "title": "About us",
  "title-border": "title-border",
  "text": "",
  "bg-image": "assets/img/pages/page-title-bg.jpg"
})

<!-- ====================================
———	ABOUT TITLE SECTION
===================================== -->
<section class="py-8 py-md-10">
  <div class="container">
    <div class="text-center border-bottom pb-6 mb-7">
      <p class="text-capitalize line-height-24 h4 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <p class="">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut
      perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
      quae ab illo inventore veritatis</p>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="media mb-4 mb-md-6 mb-lg-7">
          <a href="" class="icon-item-default border rounded border-dark bg-dark text-white mr-5">
            <i class="fa fa-bell" aria-hidden="true"></i>
          </a>

          <div class="media-body">
            <h4 class="text-capitalize font-weight-bold">Donec vel libero</h4>
            <p>Donec vel libero non lorem pharetra efficitur. Nunc nibh elit, consectetur quis dapibu.</p>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 col-lg-4">
        <div class="media mb-4 mb-md-6 mb-lg-7">
          <a href="" class="icon-item-default border rounded border-dark bg-dark text-white mr-5">
            <i class="fa fa-briefcase" aria-hidden="true"></i>
          </a>

          <div class="media-body">
            <h4 class="text-capitalize font-weight-bold">Vivamus laoreet</h4>
            <p>Vivamus laoreet dui quis interdum volutpat. Integer in magna sit amet efficitur nec.</p>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 col-lg-4">
        <div class="media mb-4 mb-md-6 mb-lg-7">
          <a href="" class="icon-item-default border rounded border-dark bg-dark text-white mr-5">
            <i class="fa fa-cab" aria-hidden="true"></i>
          </a>

          <div class="media-body">
            <h4 class="text-capitalize font-weight-bold">Ullamcorper congue</h4>
            <p>Ullamcorper congue lorem ac pharetra laoreet. Nam magna mi, eleifend ac vulpu.</p>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 col-lg-4">
        <div class="media mb-4 mb-md-6 mb-lg-0">
          <a href="" class="icon-item-default border rounded border-dark bg-dark text-white mr-5">
            <i class="fa fa-camera" aria-hidden="true"></i>
          </a>

          <div class="media-body">
            <h4 class="text-capitalize font-weight-bold">Proin libero erat</h4>
            <p>Proin libero erat lectus auctor viverra. Praesent sollicitudin leo velit sed, semper diam.</p>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 col-lg-4">
        <div class="media mb-4 mb-md-0">
          <a href="" class="icon-item-default border rounded border-dark bg-dark text-white mr-5">
            <i class="fa fa-cloud" aria-hidden="true"></i>
          </a>

          <div class="media-body">
            <h4 class="text-capitalize font-weight-bold">Amaiging tour</h4>
            <p>Amaiging tour leo vitae convallis sollicitudin. Nulla volutpat dapibus at pellen.</p>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 col-lg-4">
        <div class="media">
          <a href="" class="icon-item-default border rounded border-dark bg-dark text-white mr-5">
            <i class="fa fa-cutlery" aria-hidden="true"></i>
          </a>

          <div class="media-body">
            <h5 class="text-capitalize font-weight-bold">Cras vestibulum</h5>
            <p>Cras vestibulum, nisl et volutpat dapibus, nisl odio accumsan pretium lacus.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ====================================
———	ABOUT ITEM SECTION
===================================== -->
<section class="dzsparallaxer auto-init use-loading promotion-paralax">
  <div class="divimage dzsparallaxer--target" style="height: 700px;"
    data-src="assets/img/home/promotion/promotion-1.jpg">
  </div>

  <div class="container paralax-container">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-12">
        <div class="content">
          <span class="d-inline-block icon-item-default border rounded border-dark bg-dark text-white mb-8">
            <i class="fa fa-quote-right" aria-hidden="true"></i>
          </span>

          <p class="text-white mb-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>

          <span class="d-inline-block text-primary font-weight-medium">Adam Smith, Turist</span>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ====================================
———	TEAM SECTION
===================================== -->
<section class="py-9">
  <div class="container">
    <div class="text-center section-title">
      <h2 class="text-uppercase font-weight-bold position-relative">
        <span class="bg-white">
          Our Team
        </span>
      </h2>
      <p class="text-capitalize text-center">Quisque lacus augue, blandit non est a, dictum malesuada odio.</p>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="position-relative">
            <img class="card-img-top rounded" src="assets/img/about-us/team-01.jpg" alt="Card image cap">
            <div class="card-img-overlay rounded card-hoverable rounded-top d-flex flex-column">
              <div class="mt-auto mb-4">
                <div class="top-content">
                  <h4 class="font-weight-bold text-uppercase text-white mb-0">Sarah Harlas</h4>
                  <h5 class="font-weight-medium text-white">Tour Guide</h5>
                </div>
              
                <div class="bottom-content">
                  <p class="text-white mb-6 mb-lg-4 mb-xl-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit commodo.</p>
                  <ul class="list-unstyled d-flex">
                    <li class="mr-3">
                      <a class="icon-default icon-border rounded-circle hover-bg-primary" href="javascript:void(0)">
                        <i class="fa fa-facebook text-white" aria-hidden="true"></i>
                      </a>
                    </li>
                  
                    <li class="mr-3">
                      <a class="icon-default icon-border rounded-circle hover-bg-primary" href="javascript:void(0)">
                        <i class="fa fa-twitter text-white" aria-hidden="true"></i>
                      </a>
                    </li>
                  
                    <li class="mr-3">
                      <a class="icon-default icon-border rounded-circle hover-bg-primary" href="javascript:void(0)">
                        <i class="fa fa-google-plus text-white" aria-hidden="true"></i>
                      </a>
                    </li>
                  
                    <li class="mr-3">
                      <a class="icon-default icon-border rounded-circle hover-bg-primary" href="javascript:void(0)">
                        <i class="fa fa-pinterest-p text-white" aria-hidden="true"></i>
                      </a>
                    </li>
                  
                    <li>
                      <a class="icon-default icon-border rounded-circle hover-bg-primary" href="javascript:void(0)">
                        <i class="fa fa-vimeo text-white" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="position-relative">
            <img class="card-img-top rounded" src="assets/img/about-us/team-02.jpg" alt="Card image cap">
            <div class="card-img-overlay rounded card-hoverable rounded-top d-flex flex-column">
              <div class="mt-auto mb-4">
                <div class="top-content">
                  <h4 class="font-weight-bold text-uppercase text-white mb-0">Adam Smith</h4>
                  <h5 class="font-weight-medium text-white">Tour Guide</h5>
                </div>
        
                <div class="bottom-content">
                  <p class="text-white mb-6 mb-lg-4 mb-xl-6">Aenean conse ctetur sapien quis, mitinci duntin feugiat purus hendrerit.</p>
                  <ul class="list-unstyled d-flex">
                    <li class="mr-3">
                      <a class="icon-default icon-border rounded-circle hover-bg-primary" href="javascript:void(0)">
                        <i class="fa fa-facebook text-white" aria-hidden="true"></i>
                      </a>
                    </li>
        
                    <li class="mr-3">
                      <a class="icon-default icon-border rounded-circle hover-bg-primary" href="javascript:void(0)">
                        <i class="fa fa-twitter text-white" aria-hidden="true"></i>
                      </a>
                    </li>
        
                    <li class="mr-3">
                      <a class="icon-default icon-border rounded-circle hover-bg-primary" href="javascript:void(0)">
                        <i class="fa fa-google-plus text-white" aria-hidden="true"></i>
                      </a>
                    </li>
        
                    <li class="mr-3">
                      <a class="icon-default icon-border rounded-circle hover-bg-primary" href="javascript:void(0)">
                        <i class="fa fa-pinterest-p text-white" aria-hidden="true"></i>
                      </a>
                    </li>
        
                    <li>
                      <a class="icon-default icon-border rounded-circle hover-bg-primary" href="javascript:void(0)">
                        <i class="fa fa-vimeo text-white" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="card">
          <div class="position-relative">
            <img class="card-img-top rounded" src="assets/img/about-us/team-03.jpg" alt="Card image cap">
            <div class="card-img-overlay rounded card-hoverable rounded-top d-flex flex-column">
              <div class="mt-auto mb-4">
                <div class="top-content">
                  <h4 class="font-weight-bold text-uppercase text-white mb-0">Jenet Amanda</h4>
                  <h5 class="font-weight-medium text-white">Tour Guide</h5>
                </div>
      
                <div class="bottom-content">
                  <p class="text-white mb-6 mb-lg-4 mb-xl-6">Quisque lacus suada augue adit, nonesta dictum male odio sedvarius.</p>
                  <ul class="list-unstyled d-flex">
                    <li class="mr-3">
                      <a class="icon-default icon-border rounded-circle hover-bg-primary" href="javascript:void(0)">
                        <i class="fa fa-facebook text-white" aria-hidden="true"></i>
                      </a>
                    </li>
      
                    <li class="mr-3">
                      <a class="icon-default icon-border rounded-circle hover-bg-primary" href="javascript:void(0)">
                        <i class="fa fa-twitter text-white" aria-hidden="true"></i>
                      </a>
                    </li>
      
                    <li class="mr-3">
                      <a class="icon-default icon-border rounded-circle hover-bg-primary" href="javascript:void(0)">
                        <i class="fa fa-google-plus text-white" aria-hidden="true"></i>
                      </a>
                    </li>
      
                    <li class="mr-3">
                      <a class="icon-default icon-border rounded-circle hover-bg-primary" href="javascript:void(0)">
                        <i class="fa fa-pinterest-p text-white" aria-hidden="true"></i>
                      </a>
                    </li>
      
                    <li>
                      <a class="icon-default icon-border rounded-circle hover-bg-primary" href="javascript:void(0)">
                        <i class="fa fa-vimeo text-white" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

@@include('footer.htm')