@@include('header.htm', {
  "title": "Blog Fullwidth List View - Star Travel",
  "parents": "blog",
  "active": "blog-list-fullwidth"
})

@@include('page-title.htm', {
  "title": "Blog List",
  "title-border": "title-border",
  "text": "",
  "bg-image": "assets/img/pages/page-title-bg4.jpg"
})

<!-- ====================================
——— TRAVEL LIST FULLWIDTH
===================================== -->
<section class="py-9 py-md-10">
  <div class="container">
    <div class="card rounded-0 card-transparent border-bottom mb-7 pb-7">
      <div class="row align-items-lg-center align-items-xl-stretch">
        <div class="col-md-6">
          <a href="blog-single-right-sidebar.html" class="position-relative">
            <img class="card-img-top rounded" src="assets/img/blog/blog-01.jpg" alt="Card image cap">
            <div class="card-img-overlay card-hover-overlay rounded"></div>
          </a>
        </div>
    
        <div class="col-md-6">
          <div class="card-body px-md-0 py-6 pt-md-0 pt-xl-6">
            <h3 class="mb-4">
              <a href="blog-single-right-sidebar.html" class="text-capitalize text-dark hover-text-primary">Lorem ipsum dolor amet</a>
            </h3>
    
            <div class="meta-post-sm mb-4">
              <ul class="list-unstyled d-flex flex-wrap mb-0">
                <li class="meta-tag mr-4 mb-1">
                  <i class="fa fa-user text-gray-color" aria-hidden="true"></i>
                  <a class="text-gray-color hover-text-primary" href="blog-single-right-sidebar.html">
                    <span class="ml-1 text-capitalize">Adam smith</span>
                  </a>
                </li>
    
                <li class="meta-tag text-gray-color mr-4 mb-1">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  <span class="ml-1 text-capitalize">Mar 20, 2019</span>
                </li>
    
                <li class="meta-tag text-gray-color mr-4 mb-1">
                  <i class="fa fa fa-tags" aria-hidden="true"></i>
                  <span class="ml-1 text-capitalize">Travel</span>
                </li>
    
                <li class="meta-tag text-gray-color mr-4 mb-1">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <span class="ml-1 text-capitalize">8 com</span>
                </li>
              </ul>
            </div>
    
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
              labore
              et dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
          </div>
    
          <div class="card-footer px-5 px-lg-0">
            <a href="blog-single-right-sidebar.html" class="btn btn-sm btn-outline-secondary text-uppercase">View post</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card rounded-0 card-transparent border-bottom mb-7 pb-7">
      <div class="row align-items-lg-center align-items-xl-stretch">
        <div class="col-md-6">
          <a href="blog-single-right-sidebar.html" class="position-relative">
            <img class="card-img-top rounded" src="assets/img/blog/blog-02.jpg" alt="Card image cap">
            <div class="card-img-overlay card-hover-overlay rounded"></div>
          </a>
        </div>
    
        <div class="col-md-6">
          <div class="card-body px-md-0 py-6 pt-md-0 pt-xl-6">
            <h3 class="mb-4">
              <a href="blog-single-right-sidebar.html" class="text-capitalize text-dark hover-text-primary">Nulla placerat sem id ante</a>
            </h3>
    
            <div class="meta-post-sm mb-4">
              <ul class="list-unstyled d-flex flex-wrap mb-0">
                <li class="meta-tag mr-4 mb-1">
                  <i class="fa fa-user text-gray-color" aria-hidden="true"></i>
                  <a class="text-gray-color hover-text-primary" href="blog-single-right-sidebar.html">
                    <span class="ml-1 text-capitalize">Adam smith</span>
                  </a>
                </li>
    
                <li class="meta-tag text-gray-color mr-4 mb-1">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  <span class="ml-1 text-capitalize">Mar 20, 2019</span>
                </li>
    
                <li class="meta-tag text-gray-color mr-4 mb-1">
                  <i class="fa fa fa-tags" aria-hidden="true"></i>
                  <span class="ml-1 text-capitalize">Travel</span>
                </li>
    
                <li class="meta-tag text-gray-color mr-4 mb-1">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <span class="ml-1 text-capitalize">8 com</span>
                </li>
              </ul>
            </div>
    
            <p class="mb-0">Nulla placerat sem id ante mattis, ut convallis lectus tincidunt. Sed aliquam at tellus eu malesuada. Aliquam posuere
            imperdiet dui eget tempus. Vestibulum ipsum sem consequat ut purus ut.</p>
          </div>
    
          <div class="card-footer px-5 px-lg-0">
            <a href="blog-single-right-sidebar.html" class="btn btn-sm btn-outline-secondary text-uppercase">View post</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card rounded-0 card-transparent border-bottom mb-7 pb-7">
      <div class="row align-items-lg-center align-items-xl-stretch">
        <div class="col-md-6">
          <a href="blog-single-right-sidebar.html" class="position-relative">
            <img class="card-img-top rounded" src="assets/img/blog/blog-03.jpg" alt="Card image cap">
            <div class="card-img-overlay card-hover-overlay rounded"></div>
          </a>
        </div>
    
        <div class="col-md-6">
          <div class="card-body px-md-0 py-6 pt-md-0 pt-xl-6">
            <h3 class="mb-4">
              <a href="blog-single-right-sidebar.html" class="text-capitalize text-dark hover-text-primary">Mestibulum volutpat nibh</a>
            </h3>
    
            <div class="meta-post-sm mb-4">
              <ul class="list-unstyled d-flex flex-wrap mb-0">
                <li class="meta-tag mr-4 mb-1">
                  <i class="fa fa-user text-gray-color" aria-hidden="true"></i>
                  <a class="text-gray-color hover-text-primary" href="blog-single-right-sidebar.html">
                    <span class="ml-1 text-capitalize">Adam smith</span>
                  </a>
                </li>
    
                <li class="meta-tag text-gray-color mr-4 mb-1">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  <span class="ml-1 text-capitalize">Mar 20, 2019</span>
                </li>
    
                <li class="meta-tag text-gray-color mr-4 mb-1">
                  <i class="fa fa fa-tags" aria-hidden="true"></i>
                  <span class="ml-1 text-capitalize">Travel</span>
                </li>
    
                <li class="meta-tag text-gray-color mr-4 mb-1">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <span class="ml-1 text-capitalize">8 com</span>
                </li>
              </ul>
            </div>
    
            <p class="mb-0">Mestibulum volutpat nibh. Morbi mattis, ipsum non feugiat varius, diam dui faucibus nunc, ac pharetra massa justo vitae
            urna. Nulla facilisi. Aenean arcu est, maximus ac elementum viverra.</p>
          </div>
    
          <div class="card-footer px-5 px-lg-0">
            <a href="blog-single-right-sidebar.html" class="btn btn-sm btn-outline-secondary text-uppercase">View post</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card rounded-0 card-transparent border-bottom mb-7 pb-7">
      <div class="row align-items-lg-center align-items-xl-stretch">
        <div class="col-md-6">
          <a href="blog-single-right-sidebar.html" class="position-relative">
            <img class="card-img-top rounded" src="assets/img/blog/blog-04.jpg" alt="Card image cap">
            <div class="card-img-overlay card-hover-overlay rounded"></div>
          </a>
        </div>
    
        <div class="col-md-6">
          <div class="card-body px-md-0 py-6 pt-md-0 pt-xl-6">
            <h3 class="mb-4">
              <a href="blog-single-right-sidebar.html" class="text-capitalize text-dark hover-text-primary">Praesent condi men tum</a>
            </h3>
    
            <div class="meta-post-sm mb-4">
              <ul class="list-unstyled d-flex flex-wrap mb-0">
                <li class="meta-tag mr-4 mb-1">
                  <i class="fa fa-user text-gray-color" aria-hidden="true"></i>
                  <a class="text-gray-color hover-text-primary" href="blog-single-right-sidebar.html">
                    <span class="ml-1 text-capitalize">Adam smith</span>
                  </a>
                </li>
    
                <li class="meta-tag text-gray-color mr-4 mb-1">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  <span class="ml-1 text-capitalize">Mar 20, 2019</span>
                </li>
    
                <li class="meta-tag text-gray-color mr-4 mb-1">
                  <i class="fa fa fa-tags" aria-hidden="true"></i>
                  <span class="ml-1 text-capitalize">Travel</span>
                </li>
    
                <li class="meta-tag text-gray-color mr-4 mb-1">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <span class="ml-1 text-capitalize">8 com</span>
                </li>
              </ul>
            </div>
    
            <p class="mb-0">Praesent condi men tum ligula nec cursus congue. Nullam feugiat pretium tortor non efficitur. Donec ut urna fringilla,
            pellen tesque arcu ut, ultricies augue. Nullam auctor mattis eros viverra.</p>
          </div>
    
          <div class="card-footer px-5 px-lg-0">
            <a href="blog-single-right-sidebar.html" class="btn btn-sm btn-outline-secondary text-uppercase">View post</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card rounded-0 card-transparent border-bottom mb-7 pb-7">
      <div class="row align-items-lg-center align-items-xl-stretch">
        <div class="col-md-6">
          <a href="blog-single-right-sidebar.html" class="position-relative">
            <img class="card-img-top rounded" src="assets/img/blog/blog-05.jpg" alt="Card image cap">
            <div class="card-img-overlay card-hover-overlay rounded"></div>
          </a>
        </div>
    
        <div class="col-md-6">
          <div class="card-body px-md-0 py-6 pt-md-0 pt-xl-6">
            <h3 class="mb-4">
              <a href="blog-single-right-sidebar.html" class="text-capitalize text-dark hover-text-primary">Qorbi portitor justo tellus</a>
            </h3>
    
            <div class="meta-post-sm mb-4">
              <ul class="list-unstyled d-flex flex-wrap mb-0">
                <li class="meta-tag mr-4 mb-1">
                  <i class="fa fa-user text-gray-color" aria-hidden="true"></i>
                  <a class="text-gray-color hover-text-primary" href="blog-single-right-sidebar.html">
                    <span class="ml-1 text-capitalize">Adam smith</span>
                  </a>
                </li>
    
                <li class="meta-tag text-gray-color mr-4 mb-1">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  <span class="ml-1 text-capitalize">Mar 20, 2019</span>
                </li>
    
                <li class="meta-tag text-gray-color mr-4 mb-1">
                  <i class="fa fa fa-tags" aria-hidden="true"></i>
                  <span class="ml-1 text-capitalize">Travel</span>
                </li>
    
                <li class="meta-tag text-gray-color mr-4 mb-1">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <span class="ml-1 text-capitalize">8 com</span>
                </li>
              </ul>
            </div>
    
            <p class="mb-0">Qorbi portitor justo tellus sed et tellus elei fend, feugiat nibh posuere, rutrum sapien. Mauris sit amet mollis metus.
            Pellen tesque vitae ante magna. Etiam et lectus lorem. Ut arcu nisi efficitur eta.</p>
          </div>
    
          <div class="card-footer px-5 px-lg-0">
            <a href="blog-single-right-sidebar.html" class="btn btn-sm btn-outline-secondary text-uppercase">View post</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card rounded-0 card-transparent border-bottom  pb-7">
      <div class="row align-items-lg-center align-items-xl-stretch">
        <div class="col-md-6">
          <a href="blog-single-right-sidebar.html" class="position-relative">
            <img class="card-img-top rounded" src="assets/img/blog/blog-06.jpg" alt="Card image cap">
            <div class="card-img-overlay card-hover-overlay rounded"></div>
          </a>
        </div>
    
        <div class="col-md-6">
          <div class="card-body px-md-0 py-6 pt-md-0 pt-xl-6">
            <h3 class="mb-4">
              <a href="blog-single-right-sidebar.html" class="text-capitalize text-dark hover-text-primary">Senean non justo maximus</a>
            </h3>
    
            <div class="meta-post-sm mb-4">
              <ul class="list-unstyled d-flex flex-wrap mb-0">
                <li class="meta-tag mr-4 mb-1">
                  <i class="fa fa-user text-gray-color" aria-hidden="true"></i>
                  <a class="text-gray-color hover-text-primary" href="blog-single-right-sidebar.html">
                    <span class="ml-1 text-capitalize">Adam smith</span>
                  </a>
                </li>
    
                <li class="meta-tag text-gray-color mr-4 mb-1">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  <span class="ml-1 text-capitalize">Mar 20, 2019</span>
                </li>
    
                <li class="meta-tag text-gray-color mr-4 mb-1">
                  <i class="fa fa fa-tags" aria-hidden="true"></i>
                  <span class="ml-1 text-capitalize">Travel</span>
                </li>
    
                <li class="meta-tag text-gray-color mr-4 mb-1">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <span class="ml-1 text-capitalize">8 com</span>
                </li>
              </ul>
            </div>
    
            <p class="mb-0">Senean non justo maximus, porttitor nisi aliquam, maximus est. Curabitur elementum ipsum ultricies, scelerisque velit
            in, tincidunt nisl. Suspendisse a porta enim. Quisque porta nisl at.</p>
          </div>
    
          <div class="card-footer px-5 px-lg-0">
            <a href="blog-single-right-sidebar.html" class="btn btn-sm btn-outline-secondary text-uppercase">View post</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  @@include('pagination.htm')
</section>

@@include('footer.htm')