@@include('header.htm', {
  "title": "Single Blog Post Left Sidebar - Star Travel",
  "parents": "blog",
  "active": "blog-single-left-sidebar"
})

<!-- ====================================
——— TRAVEL LIST SECTION
===================================== -->
<section class="section-top">
  <div class="py-8 py-md-9 py-lg-10">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-xl-9 order-1 order-md-0 order-lg-1">
          <div class="card card-lg card-transparent mb-8">
            <div class="position-relative">
              <img class="card-img-top rounded-lg" src="assets/img/blog/blog-single-01.jpg" alt="Card image cap">
            </div>
  
            <div class="card-body px-2 py-6">
              <h3 class="mb-4">Lorem ipsum dolor amet</h3>
  
              <div class="meta-post-sm mb-4">
                <ul class="list-unstyled d-flex flex-wrap mb-0">
                  <li class="meta-tag mr-4 mb-1">
                    <i class="fa fa-user text-gray-color" aria-hidden="true"></i>
                    <a class="text-gray-color hover-text-primary" href="">
                      <span class="ml-1 text-capitalize">Adam smith</span>
                    </a>
                  </li>
  
                  <li class="meta-tag text-gray-color mr-4 mb-1">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <span class="ml-1 text-capitalize">Mar 20, 2019</span>
                  </li>
  
                  <li class="meta-tag text-gray-color mr-4 mb-1">
                    <i class="fa fa fa-tags" aria-hidden="true"></i>
                    <span class="ml-1 text-capitalize">Travel</span>
                  </li>
  
                  <li class="meta-tag text-gray-color mr-4 mb-1">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span class="ml-1 text-capitalize">8 com</span>
                  </li>
                </ul>
              </div>
  
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum. Sed ut
                perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
                aperiam, eaque ipsa
                quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
  
              <p class="mb-5">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                consequuntur magni dolores eos qui
                ratione voluptatem sequi nesciunt.</p>
  
              <blockquote class="blockquote rounded p-7 mb-5"
                style="background-image: url(assets/img/blog/blog-single-02.png); background-size: cover; background-position: center top; background-repeat: no-repeat">
                <p class="line-height-24 h4 text-white mb-5">Senean non justo maximus, porttitor nisi aliquam, maximus
                  est. Curabitur elementum ipsum ultricies, scelerisque velit
                  in, tincidunt nisl. Suspendisse a porta enim. Quisque porta nisl at.</p>
                <footer class="blockquote-footer text-white">by <cite title="Source Title">Adam Smith</cite></footer>
              </blockquote>
  
              <p>Praesent condi men tum ligula nec cursus congue. Nullam feugiat pretium tortor non efficitur. Donec ut
                urna fringilla,
                pellen tesque arcu ut, ultricies augue. Nullam auctor mattis eros viverra. portitor justo tellus sed et
                tellus elei fend, feugiat nibh posuere, rutrum sapien. Mauris sit amet mollis metus. Pellen
                tesque vitae.</p>
  
              <p class="mb-0">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                anim id est laborum. Sed ut
                perspiciatis unde omnis iste natus.</p>
            </div>
  
            <div class="card-footer d-flex align-items-center bg-smoke rounded p-3 p-md-4">
              <span class="font-weight-bold font-size-15">Share it</span>
  
              <ul class="list-unstyled d-flex ml-auto mb-0">
                <li class="mr-3">
                  <a href="javascript:void(0)" class="text-gray-color hover-text-primary">
                    <i class="fa fa-facebook icon-medium" aria-hidden="true"></i>
                  </a>
                </li>
  
                <li class="mr-3">
                  <a href="avascript:void(0)" class="text-gray-color hover-text-primary">
                    <i class="fa fa-twitter icon-medium" aria-hidden="true"></i>
                  </a>
                </li>
  
                <li class="mr-3">
                  <a href="avascript:void(0)" class="text-gray-color hover-text-primary">
                    <i class="fa fa-linkedin icon-medium" aria-hidden="true"></i>
                  </a>
                </li>
  
                <li class="mr-3">
                  <a href="avascript:void(0)" class="text-gray-color hover-text-primary">
                    <i class="fa fa-google-plus icon-medium" aria-hidden="true"></i>
                  </a>
                </li>
  
                <li class="mr-3">
                  <a href="avascript:void(0)" class="text-gray-color hover-text-primary">
                    <i class="fa fa-pinterest-p icon-medium" aria-hidden="true"></i>
                  </a>
                </li>
  
                <li class="mr-3">
                  <a href="avascript:void(0)" class="text-gray-color hover-text-primary">
                    <i class="fa fa-tumblr icon-medium" aria-hidden="true"></i>
                  </a>
                </li>
  
                <li>
                  <a href="avascript:void(0)" class="text-gray-color hover-text-primary">
                    <i class="fa fa-instagram icon-medium" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
  
          <div class="mb-7">
            <h3 class="mb-6">Comments (4)</h3>
  
            <div class="media mb-8">
              <div class="img-overlay rounded mr-4">
                <img class="w-100" src="assets/img/blog/comments-01.jpg" alt="Generic placeholder image">
                <a href="" class="hover-img-overlay-dark"></a>
              </div>
  
              <div class="media-body">
                <div class="mb-7">
                  <h6 class="font-weight-bold text-capitalize mb-2">Jessica Brown</h6>
  
                  <div class="meta-tag text-gray-color mb-3">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <span class="ml-2 text-capitalize">Mar 20, 2019</span>
                  </div>
  
                  <p>Pellen tesque vitae ultrices magna. Cras vul putate commodo justo. Fusce vitae justo
                    efficitur, condi mentum ante. Consectetur Adipisicing Elit, Sed Do Eiusmod Tempor Incididunt Ut Labore
                    Et Dolore Magna
                    Aliqua. Ut Enim Ad Minim
                    Veniam, Quis Nostrud Exercitation Ullamco Laboris Nisi Ut Aliquip Ex Ea Commodo Consequat. Duis Aute
                    Irure Dolor In
                    Reprehenderit.</p>
  
                  <button type="submit" onclick="location.href='javascript:void(0)';" class="btn text-primary p-0">
                    Reply
                  </button>
                </div>
  
                <div class="media flex-column flex-md-row mb-7">
                  <div class="img-overlay rounded mb-4 mb-md-0 mr-md-4">
                    <img class="w-100" src="assets/img/blog/comments-02.jpg" alt="Generic placeholder image">
                    <a href="" class="hover-img-overlay-dark"></a>
                  </div>
  
                  <div class="media-body">
                    <h6 class="font-weight-bold text-capitalize mb-2">Samants deo</h6>
  
                    <div class="meta-tag text-gray-color mb-3">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                      <span class="ml-2 text-capitalize">Mar 20, 2019</span>
                    </div>
  
                    <p>Nullam placerat varius scelerisque. Proin non lorem ac eros placerat porta. Nullam quis bibendum
                      nibh. Cras id ipsum
                      aliquam, efficitur neque vitae, faucibus justo. Sed sagittis blandit tincidunt. Vestibulum nisi
                      orci, sollicitudin
                      porttitor eros et, dignissim euismod neque. Suspendisse feugiat id erat non porta. Mauris facilisis
                      ligula neque, nec
                      gravida metus consectetur a. Nam sit amet pulvinar ante, sed accumsan.</p>
                  </div>
                </div>
  
                <div class="media flex-column flex-md-row">
                  <div class="img-overlay rounded mb-4 mb-md-0 mr-md-4">
                    <img class="w-100" src="assets/img/blog/comments-03.jpg" alt="Generic placeholder image">
                    <a href="" class="hover-img-overlay-dark"></a>
                  </div>
  
                  <div class="media-body">
                    <h6 class="font-weight-bold text-capitalize mb-2">Quanta meri</h6>
  
                    <div class="meta-tag text-gray-color mb-3">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                      <span class="ml-2 text-capitalize">Mar 20, 2019</span>
                    </div>
  
                    <p class="mb-0">Aliquam pellentesque tristique felis, sed placerat justo accumsan id. Nulla facilisi.
                      Cras mattis urna eu tincidunt
                      congue. Fusce bibendum, augue ut tempus vulputate, tellus libero tincidunt mi, et facilisis nunc
                      mauris at neque. Sed
                      vitae dolor at tortor venenatis euismod ut sed odio. Mauris vitae quam risus. Aenean felis justo,
                      iaculis sit amet
                      sagittis ac, condimentum at urna. Fusce vel gravida velit. Sed nec sem sapien.</p>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="media">
              <div class="img-overlay rounded mr-4">
                <img class="w-100" src="assets/img/blog/comments-04.jpg" alt="Generic placeholder image">
                <a href="" class="hover-img-overlay-dark"></a>
              </div>
  
              <div class="media-body">
                <div class="">
                  <h6 class="font-weight-bold text-capitalize mb-2">Philep crown</h6>
  
                  <div class="meta-tag text-gray-color mb-3">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <span class="ml-2 text-capitalize">Mar 20, 2019</span>
                  </div>
  
                  <p>Pellen tesque vitae ultrices magna. Cras vul putate commodo justo. Fusce vitae justo
                    efficitur, condi mentum ante. Consectetur Adipisicing Elit, Sed Do Eiusmod Tempor Incididunt Ut Labore
                    Et Dolore
                    Magna
                    Aliqua. Ut Enim Ad Minim
                    Veniam, Quis Nostrud Exercitation Ullamco Laboris Nisi Ut Aliquip Ex Ea Commodo Consequat. Duis Aute
                    Irure Dolor
                    In
                    Reprehenderit.</p>
  
                  <button type="submit" onclick="location.href='javascript:void(0)';" class="btn text-primary p-0">
                    Reply
                  </button>
                </div>
              </div>
            </div>
          </div>
  
          <div class="mb-7 mb-lg-0">
            <h3 class="mb-6">Leave A Comments</h3>
  
            <form action="" method="POST" role="form" class="form">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="text" class="form-control border-0 bg-smoke" required="" placeholder="Name">
                  </div>
                </div>
  
                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="email" class="form-control border-0 bg-smoke" required="" placeholder="Email">
                  </div>
                </div>
              </div>
  
              <div class="form-group">
                <textarea class="form-control border-0 bg-smoke" rows="7" placeholder="Your Message"></textarea>
              </div>
  
              <button type="submit" class="btn btn-sm btn-outline-secondary text-uppercase py-2 font-weight-medium">send
                now</button>
            </form>
          </div>
        </div>
  
        <div class="col-lg-4 col-xl-3">
          <div class="">
            <div class="row">
              <div class="col-md-6 col-lg-12">
                <div class="bg-smoke border border-light-gray rounded p-3 mb-4">
                  <h3 class="mb-4">Search</h3>
                  <form class="form-subscribe mb-3" action="index.html" method="post">
                    <div class="input-group input-group-sm">
                      <input type="email" class="form-control form-control-sm border-0" required="" placeholder="">
                      <div class="input-group-append">
                        <button class="input-group-text border-0 btn bg-primary rounded" type="submit">
                          <i class="fa fa-search text-white" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
  
                <div class="d-none d-md-block">
                  <div class="mb-4">
                    <ul class="nav nav-tabs nav-justified blog-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="recent-tab" data-toggle="tab" href="#recent" role="tab"
                          aria-controls="recent" aria-selected="true">Recent</a>
                      </li>
  
                      <li class="nav-item">
                        <a class="nav-link" id="popular-tab" data-toggle="tab" href="#popular" role="tab"
                          aria-controls="popular" aria-selected="false">Popular</a>
                      </li>
  
                      <li class="nav-item">
                        <a class="nav-link" id="new-tab" data-toggle="tab" href="#new" role="tab" aria-controls="new"
                          aria-selected="false">New</a>
                      </li>
                    </ul>
  
                    <div class="tab-content bg-smoke border border-light-gray border-top-0 rounded-bottom px-3 py-5"
                      id="myTabContent">
                      <div class="tab-pane fade show active" id="recent" role="tabpanel" aria-labelledby="recent-tab">
                        <div class="media meta-post-sm border-bottom border-off-white pb-3 mb-3">
                          <div class="img-overlay rounded mr-2">
                            <img src="assets/img/blog/tab-01.jpg" alt="Generic placeholder image">
                            <a href="" class="hover-img-overlay-dark"></a>
                          </div>
  
                          <div class="media-body">
                            <a href="" class="text-dark hover-text-primary text-capitalize mb-1">
                              Totam rem apriam eaque.
                            </a>
  
                            <ul class="list-unstyled d-flex flex-wrap mb-0">
                              <li class="meta-tag text-gray-color mr-4 mb-1">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <span class="ml-1 text-capitalize">5 March, 2019</span>
                              </li>
                            </ul>
                          </div>
                        </div>
  
                        <div class="media meta-post-sm border-bottom border-off-white pb-3 mb-3">
                          <div class="img-overlay rounded mr-2">
                            <img src="assets/img/blog/tab-02.jpg" alt="Generic placeholder image">
                            <a href="" class="hover-img-overlay-dark"></a>
                          </div>
  
                          <div class="media-body">
                            <a href="" class="text-dark hover-text-primary text-capitalize mb-1">
                              Pitter soan smeeit herick.
                            </a>
  
                            <ul class="list-unstyled d-flex flex-wrap mb-0">
                              <li class="meta-tag text-gray-color mr-4 mb-1">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <span class="ml-1 text-capitalize">5 March, 2019</span>
                              </li>
                            </ul>
                          </div>
                        </div>
  
                        <div class="media meta-post-sm border-bottom border-off-white pb-3 mb-3">
                          <div class="img-overlay rounded mr-2">
                            <img src="assets/img/blog/tab-03.jpg" alt="Generic placeholder image">
                            <a href="" class="hover-img-overlay-dark"></a>
                          </div>
  
                          <div class="media-body">
                            <a href="" class="text-dark hover-text-primary text-capitalize mb-1">
                              Amanda disuja carl parkar.
                            </a>
  
                            <ul class="list-unstyled d-flex flex-wrap mb-0">
                              <li class="meta-tag text-gray-color mr-4 mb-1">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <span class="ml-1 text-capitalize">5 March, 2019</span>
                              </li>
                            </ul>
                          </div>
                        </div>
  
                        <div class="media meta-post-sm">
                          <div class="img-overlay rounded mr-2">
                            <img src="assets/img/blog/tab-04.jpg" alt="Generic placeholder image">
                            <a href="" class="hover-img-overlay-dark"></a>
                          </div>
  
                          <div class="media-body">
                            <a href="" class="text-dark hover-text-primary text-capitalize mb-1">
                              Rodney samp deo artich.
                            </a>
  
                            <ul class="list-unstyled d-flex flex-wrap mb-0">
                              <li class="meta-tag text-gray-color mr-4 mb-1">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <span class="ml-1 text-capitalize">5 March, 2019</span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
  
                      <div class="tab-pane fade" id="popular" role="tabpanel" aria-labelledby="popular-tab">
                        <div class="media meta-post-sm border-bottom border-off-white pb-3 mb-3">
                          <div class="img-overlay rounded mr-2">
                            <img src="assets/img/blog/tab-04.jpg" alt="Generic placeholder image">
                            <a href="" class="hover-img-overlay-dark"></a>
                          </div>
  
                          <div class="media-body">
                            <a href="" class="text-dark hover-text-primary text-capitalize mb-1">
                              Rodney samp deo artich.
                            </a>
  
                            <ul class="list-unstyled d-flex flex-wrap mb-0">
                              <li class="meta-tag text-gray-color mr-4 mb-1">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <span class="ml-1 text-capitalize">5 March, 2019</span>
                              </li>
                            </ul>
                          </div>
                        </div>
  
                        <div class="media meta-post-sm border-bottom border-off-white pb-3 mb-3">
                          <div class="img-overlay rounded mr-2">
                            <img src="assets/img/blog/tab-03.jpg" alt="Generic placeholder image">
                            <a href="" class="hover-img-overlay-dark"></a>
                          </div>
  
                          <div class="media-body">
                            <a href="" class="text-dark hover-text-primary text-capitalize mb-1">
                              Amanda disuja carl parkar.
                            </a>
  
                            <ul class="list-unstyled d-flex flex-wrap mb-0">
                              <li class="meta-tag text-gray-color mr-4 mb-1">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <span class="ml-1 text-capitalize">5 March, 2019</span>
                              </li>
                            </ul>
                          </div>
                        </div>
  
                        <div class="media meta-post-sm border-bottom border-off-white pb-3 mb-3">
                          <div class="img-overlay rounded mr-2">
                            <img src="assets/img/blog/tab-02.jpg" alt="Generic placeholder image">
                            <a href="" class="hover-img-overlay-dark"></a>
                          </div>
  
                          <div class="media-body">
                            <a href="" class="text-dark hover-text-primary text-capitalize mb-1">
                              Pitter soan smeeit herick.
                            </a>
  
                            <ul class="list-unstyled d-flex flex-wrap mb-0">
                              <li class="meta-tag text-gray-color mr-4 mb-1">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <span class="ml-1 text-capitalize">5 March, 2019</span>
                              </li>
                            </ul>
                          </div>
                        </div>
  
                        <div class="media meta-post-sm">
                          <div class="img-overlay rounded mr-2">
                            <img src="assets/img/blog/tab-01.jpg" alt="Generic placeholder image">
                            <a href="" class="hover-img-overlay-dark"></a>
                          </div>
  
                          <div class="media-body">
                            <a href="" class="text-dark hover-text-primary text-capitalize mb-1">
                              Totam rem apriam eaque.
                            </a>
  
                            <ul class="list-unstyled d-flex flex-wrap mb-0">
                              <li class="meta-tag text-gray-color mr-4 mb-1">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <span class="ml-1 text-capitalize">5 March, 2019</span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
  
                      <div class="tab-pane fade" id="new" role="tabpanel" aria-labelledby="new-tab">
                        <div class="media meta-post-sm border-bottom border-off-white pb-3 mb-3">
                          <div class="img-overlay rounded mr-2">
                            <img src="assets/img/blog/tab-02.jpg" alt="Generic placeholder image">
                            <a href="" class="hover-img-overlay-dark"></a>
                          </div>
  
                          <div class="media-body">
                            <a href="" class="text-dark hover-text-primary text-capitalize mb-1">
                              Pitter soan smeeit herick.
                            </a>
  
                            <ul class="list-unstyled d-flex flex-wrap mb-0">
                              <li class="meta-tag text-gray-color mr-4 mb-1">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <span class="ml-1 text-capitalize">5 March, 2019</span>
                              </li>
                            </ul>
                          </div>
                        </div>
  
                        <div class="media meta-post-sm border-bottom border-off-white pb-3 mb-3">
                          <div class="img-overlay rounded mr-2">
                            <img src="assets/img/blog/tab-04.jpg" alt="Generic placeholder image">
                            <a href="" class="hover-img-overlay-dark"></a>
                          </div>
  
                          <div class="media-body">
                            <a href="" class="text-dark hover-text-primary text-capitalize mb-1">
                              Rodney samp deo artich.
                            </a>
  
                            <ul class="list-unstyled d-flex flex-wrap mb-0">
                              <li class="meta-tag text-gray-color mr-4 mb-1">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <span class="ml-1 text-capitalize">5 March, 2019</span>
                              </li>
                            </ul>
                          </div>
                        </div>
  
                        <div class="media meta-post-sm border-bottom border-off-white pb-3 mb-3">
                          <div class="img-overlay rounded mr-2">
                            <img src="assets/img/blog/tab-01.jpg" alt="Generic placeholder image">
                            <a href="" class="hover-img-overlay-dark"></a>
                          </div>
  
                          <div class="media-body">
                            <a href="" class="text-dark hover-text-primary text-capitalize mb-1">
                              Totam rem apriam eaque.
                            </a>
  
                            <ul class="list-unstyled d-flex flex-wrap mb-0">
                              <li class="meta-tag text-gray-color mr-4 mb-1">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <span class="ml-1 text-capitalize">5 March, 2019</span>
                              </li>
                            </ul>
                          </div>
                        </div>
  
                        <div class="media meta-post-sm">
                          <div class="img-overlay rounded mr-2">
                            <img src="assets/img/blog/tab-03.jpg" alt="Generic placeholder image">
                            <a href="" class="hover-img-overlay-dark"></a>
                          </div>
  
                          <div class="media-body">
                            <a href="" class="text-dark hover-text-primary text-capitalize mb-1">
                              Amanda disuja carl parkar.
                            </a>
  
                            <ul class="list-unstyled d-flex flex-wrap mb-0">
                              <li class="meta-tag text-gray-color mr-4 mb-1">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <span class="ml-1 text-capitalize">5 March, 2019</span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="col-md-6 col-lg-12 d-none d-md-block">
                <div class="bg-smoke border border-light-gray rounded p-3 mb-4">
                  <h3 class="mb-4">Categories</h3>
  
                  <ul class="list-unstyled list-group list-group-flush">
                    <li>
                      <a href="" class="list-group-item d-flex text-dark hover-text-primary bg-transparent border-0 px-0">
                        <span>Business</span>
                        <small class="ml-auto font-weight-bold">(9)</small>
                      </a>
                    </li>
  
                    <li>
                      <a href=""
                        class="list-group-item d-flex text-dark hover-text-primary bg-transparent border-off-white px-0">
                        <span>Design</span>
                        <small class="ml-auto font-weight-bold">(7)</small>
                      </a>
                    </li>
  
                    <li>
                      <a href=""
                        class="list-group-item d-flex text-dark hover-text-primary bg-transparent border-off-white px-0">
                        <span>Photography</span>
                        <small class="ml-auto font-weight-bold">(5)</small>
                      </a>
                    </li>
  
                    <li>
                      <a href=""
                        class="list-group-item d-flex text-dark hover-text-primary bg-transparent border-off-white px-0">
                        <span>Creative</span>
                        <small class="ml-auto font-weight-bold">(8)</small>
                      </a>
                    </li>
  
                    <li>
                      <a href=""
                        class="list-group-item d-flex text-dark hover-text-primary bg-transparent border-off-white px-0">
                        <span>Tours</span>
                        <small class="ml-auto font-weight-bold">(6)</small>
                      </a>
                    </li>
                  </ul>
                </div>
  
                <div class="">
                  <div class="bg-smoke border border-light-gray rounded p-3 mb-4 mb-lg-0">
                    <h3 class="mb-6">Instagram</h3>
  
                    <div class="mb-2">
                      <div class="row px-2">
                        <div class="col-4 px-1">
                          <div class="img-overlay rounded">
                            <img class="w-100" src="assets/img/blog/instagram-new-01.jpg" alt="Generic placeholder image">
                            <a href="" class="hover-img-overlay-dark"></a>
                          </div>
                        </div>
  
                        <div class="col-4 px-1">
                          <div class="img-overlay rounded">
                            <img class="w-100" src="assets/img/blog/instagram-new-02.jpg" alt="Generic placeholder image">
                            <a href="" class="hover-img-overlay-dark"></a>
                          </div>
                        </div>
  
                        <div class="col-4 px-1">
                          <div class="img-overlay rounded">
                            <img class="w-100" src="assets/img/blog/instagram-new-03.jpg" alt="Generic placeholder image">
                            <a href="" class="hover-img-overlay-dark"></a>
                          </div>
                        </div>
                      </div>
                    </div>
  
                    <div class="">
                      <div class="row px-2">
                        <div class="col-4 px-1">
                          <div class="img-overlay rounded">
                            <img class="w-100" src="assets/img/blog/instagram-new-04.jpg" alt="Generic placeholder image">
                            <a href="" class="hover-img-overlay-dark"></a>
                          </div>
                        </div>
  
                        <div class="col-4 px-1">
                          <div class="img-overlay rounded">
                            <img class="w-100" src="assets/img/blog/instagram-new-05.jpg" alt="Generic placeholder image">
                            <a href="" class="hover-img-overlay-dark"></a>
                          </div>
                        </div>
  
                        <div class="col-4 px-1">
                          <div class="img-overlay rounded">
                            <img class="w-100" src="assets/img/blog/instagram-new-06.jpg" alt="Generic placeholder image">
                            <a href="" class="hover-img-overlay-dark"></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="d-md-none">
        <div class="mb-4">
          <ul class="nav nav-tabs nav-justified blog-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="recent-blog-tab" data-toggle="tab" href="#recent-blog" role="tab"
                aria-controls="recent-blog" aria-selected="true">Recent</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" id="popular-blog-tab" data-toggle="tab" href="#popular-blog" role="tab"
                aria-controls="popular-blog" aria-selected="false">Popular</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" id="new-blog-tab" data-toggle="tab" href="#new-blog" role="tab" aria-controls="new-blog"
                aria-selected="false">New</a>
            </li>
          </ul>
  
          <div class="tab-content bg-smoke border border-light-gray border-top-0 rounded-bottom px-3 py-5"
            id="myTabContent">
            <div class="tab-pane fade show active" id="recent-blog" role="tabpanel" aria-labelledby="recent-blog-tab">
              <div class="media meta-post-sm border-bottom border-off-white pb-3 mb-3">
                <div class="img-overlay rounded mr-2">
                  <img src="assets/img/blog/tab-01.jpg" alt="Generic placeholder image">
                  <a href="" class="hover-img-overlay-dark"></a>
                </div>
  
                <div class="media-body">
                  <a href="" class="text-dark hover-text-primary text-capitalize mb-1">
                    Totam rem apriam eaque.
                  </a>
  
                  <ul class="list-unstyled d-flex flex-wrap mb-0">
                    <li class="meta-tag text-gray-color mr-4 mb-1">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                      <span class="ml-1 text-capitalize">5 March, 2019</span>
                    </li>
                  </ul>
                </div>
              </div>
  
              <div class="media meta-post-sm border-bottom border-off-white pb-3 mb-3">
                <div class="img-overlay rounded mr-2">
                  <img src="assets/img/blog/tab-02.jpg" alt="Generic placeholder image">
                  <a href="" class="hover-img-overlay-dark"></a>
                </div>
  
                <div class="media-body">
                  <a href="" class="text-dark hover-text-primary text-capitalize mb-1">
                    Pitter soan smeeit herick.
                  </a>
  
                  <ul class="list-unstyled d-flex flex-wrap mb-0">
                    <li class="meta-tag text-gray-color mr-4 mb-1">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                      <span class="ml-1 text-capitalize">5 March, 2019</span>
                    </li>
                  </ul>
                </div>
              </div>
  
              <div class="media meta-post-sm border-bottom border-off-white pb-3 mb-3">
                <div class="img-overlay rounded mr-2">
                  <img src="assets/img/blog/tab-03.jpg" alt="Generic placeholder image">
                  <a href="" class="hover-img-overlay-dark"></a>
                </div>
  
                <div class="media-body">
                  <a href="" class="text-dark hover-text-primary text-capitalize mb-1">
                    Amanda disuja carl parkar.
                  </a>
  
                  <ul class="list-unstyled d-flex flex-wrap mb-0">
                    <li class="meta-tag text-gray-color mr-4 mb-1">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                      <span class="ml-1 text-capitalize">5 March, 2019</span>
                    </li>
                  </ul>
                </div>
              </div>
  
              <div class="media meta-post-sm">
                <div class="img-overlay rounded mr-2">
                  <img src="assets/img/blog/tab-04.jpg" alt="Generic placeholder image">
                  <a href="" class="hover-img-overlay-dark"></a>
                </div>
  
                <div class="media-body">
                  <a href="" class="text-dark hover-text-primary text-capitalize mb-1">
                    Rodney samp deo artich.
                  </a>
  
                  <ul class="list-unstyled d-flex flex-wrap mb-0">
                    <li class="meta-tag text-gray-color mr-4 mb-1">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                      <span class="ml-1 text-capitalize">5 March, 2019</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
  
            <div class="tab-pane fade" id="popular-blog" role="tabpanel" aria-labelledby="popular-blog-tab">
              <div class="media meta-post-sm border-bottom border-off-white pb-3 mb-3">
                <div class="img-overlay rounded mr-2">
                  <img src="assets/img/blog/tab-04.jpg" alt="Generic placeholder image">
                  <a href="" class="hover-img-overlay-dark"></a>
                </div>
  
                <div class="media-body">
                  <a href="" class="text-dark hover-text-primary text-capitalize mb-1">
                    Rodney samp deo artich.
                  </a>
  
                  <ul class="list-unstyled d-flex flex-wrap mb-0">
                    <li class="meta-tag text-gray-color mr-4 mb-1">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                      <span class="ml-1 text-capitalize">5 March, 2019</span>
                    </li>
                  </ul>
                </div>
              </div>
  
              <div class="media meta-post-sm border-bottom border-off-white pb-3 mb-3">
                <div class="img-overlay rounded mr-2">
                  <img src="assets/img/blog/tab-03.jpg" alt="Generic placeholder image">
                  <a href="" class="hover-img-overlay-dark"></a>
                </div>
  
                <div class="media-body">
                  <a href="" class="text-dark hover-text-primary text-capitalize mb-1">
                    Amanda disuja carl parkar.
                  </a>
  
                  <ul class="list-unstyled d-flex flex-wrap mb-0">
                    <li class="meta-tag text-gray-color mr-4 mb-1">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                      <span class="ml-1 text-capitalize">5 March, 2019</span>
                    </li>
                  </ul>
                </div>
              </div>
  
              <div class="media meta-post-sm border-bottom border-off-white pb-3 mb-3">
                <div class="img-overlay rounded mr-2">
                  <img src="assets/img/blog/tab-02.jpg" alt="Generic placeholder image">
                  <a href="" class="hover-img-overlay-dark"></a>
                </div>
  
                <div class="media-body">
                  <a href="" class="text-dark hover-text-primary text-capitalize mb-1">
                    Pitter soan smeeit herick.
                  </a>
  
                  <ul class="list-unstyled d-flex flex-wrap mb-0">
                    <li class="meta-tag text-gray-color mr-4 mb-1">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                      <span class="ml-1 text-capitalize">5 March, 2019</span>
                    </li>
                  </ul>
                </div>
              </div>
  
              <div class="media meta-post-sm">
                <div class="img-overlay rounded mr-2">
                  <img src="assets/img/blog/tab-01.jpg" alt="Generic placeholder image">
                  <a href="" class="hover-img-overlay-dark"></a>
                </div>
  
                <div class="media-body">
                  <a href="" class="text-dark hover-text-primary text-capitalize mb-1">
                    Totam rem apriam eaque.
                  </a>
  
                  <ul class="list-unstyled d-flex flex-wrap mb-0">
                    <li class="meta-tag text-gray-color mr-4 mb-1">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                      <span class="ml-1 text-capitalize">5 March, 2019</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
  
            <div class="tab-pane fade" id="new-blog" role="tabpanel" aria-labelledby="new-blog-tab">
              <div class="media meta-post-sm border-bottom border-off-white pb-3 mb-3">
                <div class="img-overlay rounded mr-2">
                  <img src="assets/img/blog/tab-02.jpg" alt="Generic placeholder image">
                  <a href="" class="hover-img-overlay-dark"></a>
                </div>
  
                <div class="media-body">
                  <a href="" class="text-dark hover-text-primary text-capitalize mb-1">
                    Pitter soan smeeit herick.
                  </a>
  
                  <ul class="list-unstyled d-flex flex-wrap mb-0">
                    <li class="meta-tag text-gray-color mr-4 mb-1">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                      <span class="ml-1 text-capitalize">5 March, 2019</span>
                    </li>
                  </ul>
                </div>
              </div>
  
              <div class="media meta-post-sm border-bottom border-off-white pb-3 mb-3">
                <div class="img-overlay rounded mr-2">
                  <img src="assets/img/blog/tab-04.jpg" alt="Generic placeholder image">
                  <a href="" class="hover-img-overlay-dark"></a>
                </div>
  
                <div class="media-body">
                  <a href="" class="text-dark hover-text-primary text-capitalize mb-1">
                    Rodney samp deo artich.
                  </a>
  
                  <ul class="list-unstyled d-flex flex-wrap mb-0">
                    <li class="meta-tag text-gray-color mr-4 mb-1">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                      <span class="ml-1 text-capitalize">5 March, 2019</span>
                    </li>
                  </ul>
                </div>
              </div>
  
              <div class="media meta-post-sm border-bottom border-off-white pb-3 mb-3">
                <div class="img-overlay rounded mr-2">
                  <img src="assets/img/blog/tab-01.jpg" alt="Generic placeholder image">
                  <a href="" class="hover-img-overlay-dark"></a>
                </div>
  
                <div class="media-body">
                  <a href="" class="text-dark hover-text-primary text-capitalize mb-1">
                    Totam rem apriam eaque.
                  </a>
  
                  <ul class="list-unstyled d-flex flex-wrap mb-0">
                    <li class="meta-tag text-gray-color mr-4 mb-1">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                      <span class="ml-1 text-capitalize">5 March, 2019</span>
                    </li>
                  </ul>
                </div>
              </div>
  
              <div class="media meta-post-sm">
                <div class="img-overlay rounded mr-2">
                  <img src="assets/img/blog/tab-03.jpg" alt="Generic placeholder image">
                  <a href="" class="hover-img-overlay-dark"></a>
                </div>
  
                <div class="media-body">
                  <a href="" class="text-dark hover-text-primary text-capitalize mb-1">
                    Amanda disuja carl parkar.
                  </a>
  
                  <ul class="list-unstyled d-flex flex-wrap mb-0">
                    <li class="meta-tag text-gray-color mr-4 mb-1">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                      <span class="ml-1 text-capitalize">5 March, 2019</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="bg-smoke border border-light-gray rounded p-3 mb-4">
          <h3 class="mb-4">Categories</h3>
  
          <ul class="list-unstyled list-group list-group-flush">
            <li>
              <a href="" class="list-group-item d-flex text-dark hover-text-primary bg-transparent border-0 px-0">
                <span>Business</span>
                <small class="ml-auto font-weight-bold">(9)</small>
              </a>
            </li>
  
            <li>
              <a href="" class="list-group-item d-flex text-dark hover-text-primary bg-transparent border-off-white px-0">
                <span>Design</span>
                <small class="ml-auto font-weight-bold">(7)</small>
              </a>
            </li>
  
            <li>
              <a href="" class="list-group-item d-flex text-dark hover-text-primary bg-transparent border-off-white px-0">
                <span>Photography</span>
                <small class="ml-auto font-weight-bold">(5)</small>
              </a>
            </li>
  
            <li>
              <a href="" class="list-group-item d-flex text-dark hover-text-primary bg-transparent border-off-white px-0">
                <span>Creative</span>
                <small class="ml-auto font-weight-bold">(8)</small>
              </a>
            </li>
  
            <li>
              <a href="" class="list-group-item d-flex text-dark hover-text-primary bg-transparent border-off-white px-0">
                <span>Tours</span>
                <small class="ml-auto font-weight-bold">(6)</small>
              </a>
            </li>
          </ul>
        </div>
  
        <div class="bg-smoke border border-light-gray rounded p-3 mb-4 mb-lg-0">
          <h3 class="mb-6">Instagram</h3>
  
          <div class="mb-2">
            <div class="row px-2">
              <div class="col-4 px-1">
                <div class="img-overlay rounded">
                  <img class="w-100" src="assets/img/blog/instagram-new-01.jpg" alt="Generic placeholder image">
                  <a href="" class="hover-img-overlay-dark"></a>
                </div>
              </div>
  
              <div class="col-4 px-1">
                <div class="img-overlay rounded">
                  <img class="w-100" src="assets/img/blog/instagram-new-02.jpg" alt="Generic placeholder image">
                  <a href="" class="hover-img-overlay-dark"></a>
                </div>
              </div>
  
              <div class="col-4 px-1">
                <div class="img-overlay rounded">
                  <img class="w-100" src="assets/img/blog/instagram-new-03.jpg" alt="Generic placeholder image">
                  <a href="" class="hover-img-overlay-dark"></a>
                </div>
              </div>
            </div>
          </div>
  
          <div class="">
            <div class="row px-2">
              <div class="col-4 px-1">
                <div class="img-overlay rounded">
                  <img class="w-100" src="assets/img/blog/instagram-new-04.jpg" alt="Generic placeholder image">
                  <a href="" class="hover-img-overlay-dark"></a>
                </div>
              </div>
  
              <div class="col-4 px-1">
                <div class="img-overlay rounded">
                  <img class="w-100" src="assets/img/blog/instagram-new-05.jpg" alt="Generic placeholder image">
                  <a href="" class="hover-img-overlay-dark"></a>
                </div>
              </div>
  
              <div class="col-4 px-1">
                <div class="img-overlay rounded">
                  <img class="w-100" src="assets/img/blog/instagram-new-06.jpg" alt="Generic placeholder image">
                  <a href="" class="hover-img-overlay-dark"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

@@include('footer.htm')