@@include('header.htm', {
  "title": "Components - Star Travel",
  "parents": "components",
  "active": "components"
})

@@include('breadcrumb-element.htm', {
  "title": "Components",
  "title-border": "",
  "text": "Get started with Bootstrap, the world’s most popular framework for building responsive, mobile-first sites, with BootstrapCDN and a template starter page.",
  "link": "https://getbootstrap.com/docs/4.3/getting-started/introduction/",
  "bg-image": "assets/img/pages/page-title-bg10.jpg"
})

<!-- Elements Alerts -->
<section class="pt-7 pb-9 pt-lg-9 pb-lg-10">
  <div class="container">
    <div class="row">
      <div class="col-xl-10">
        <div class="pt-5 mb-5" id="alerts">
          <h1 class="element-title">Alerts</h1>
          <p class="mb-6 line-height-28 h4">Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages. <a target="_blank" href="https://getbootstrap.com/docs/4.3/components/alerts/">View details. </a></p>

          <div class="row">
            <div class="col-lg-6 mb-6 mb-lg-0">
              <h3 class="element-title">Default</h3>
              <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <strong>Holy guacamole!</strong> A simple primary alert with <a href="#" class="alert-link">an example link</a>.
                Give it a click if you like.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                <strong>Holy guacamole!</strong> A simple secondary alert with <a href="#" class="alert-link">an example link</a>.
                Give it a click if you like.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Holy guacamole!</strong> A simple success alert with <a href="#" class="alert-link">an example link</a>.
                Give it a click if you like.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Holy guacamole!</strong> A simple danger alert with <a href="#" class="alert-link">an example link</a>.
                Give it a click if you like.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Holy guacamole!</strong> A simple warning alert with <a href="#" class="alert-link">an example link</a>.
                Give it a click if you like.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="alert alert-info alert-dismissible fade show" role="alert">
                <strong>Holy guacamole!</strong> A simple info alert with <a href="#" class="alert-link">an example link</a>.
                Give it a click if you like.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="alert alert-light alert-dismissible fade show" role="alert">
                <strong>Holy guacamole!</strong> A simple light alert with <a href="#" class="alert-link">an example link</a>.
                Give it a click if you like.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="alert alert-dark alert-dismissible fade show mb-0" role="alert">
                <strong>Holy guacamole!</strong> A simple dark alert with <a href="#" class="alert-link">an example link</a>.
                Give it a click if you like.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>

            <div class="col-lg-6">
              <h3 class="element-title">Additional content</h3>
              <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">Well done!</h4>
                <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer
                  so that you can see how spacing within an alert works with this kind of content.</p>
                <hr class="my-3">
                <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
              </div>

              <div class="alert alert-secondary" role="alert">
                <h4 class="alert-heading">Well done!</h4>
                <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer
                  so that you can see how spacing within an alert works with this kind of content.</p>
                <hr class="my-3">
                <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
              </div>

              <div class="alert alert-success mb-0" role="alert">
                <h4 class="alert-heading">Well done!</h4>
                <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer
                  so that you can see how spacing within an alert works with this kind of content.</p>
                <hr class="my-3">
                <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Elements Badge -->
        <div class="pt-5 mb-5" id="badge">
          <h1 class="element-title">Badges</h1>
          <p class="mb-6 line-height-28 h4"> Documentation and examples for badges, our small count and labeling component. <a target="_blank" href="https://getbootstrap.com/docs/4.3/components/badge/">View details. </a></p>

          <div class="row">
            <div class="col-lg-6">
              <h3 class="element-title">Default</h3>
              <div class="mb-6">
                <h1>Example heading <span class="badge badge-primary">New</span></h1>
                <h2>Example heading <span class="badge badge-secondary">New</span></h2>
                <h3>Example heading <span class="badge badge-success">New</span></h3>
                <h4>Example heading <span class="badge badge-danger">New</span></h4>
                <h5>Example heading <span class="badge badge-warning">New</span></h5>
                <h6>Example heading <span class="badge badge-info">New</span></h6>
              </div>
              <h3 class="element-title">Button with badges</h3>
              <div class="mb-5 mb-lg-0">
                <button type="button" class="btn btn-primary">
                  Profile <span class="badge badge-light">9</span>
                  <span class="sr-only">unread messages</span>
                </button>
              </div>
            </div>

            <div class="col-lg-6">
              <h3 class="element-title">Contextual variations and links</h3>
              <div class="mb-5">
                <a href="#" class="badge badge-primary">Primary</a>
                <a href="#" class="badge badge-secondary">Secondary</a>
                <a href="#" class="badge badge-success">Success</a>
                <a href="#" class="badge badge-danger">Danger</a>
                <a href="#" class="badge badge-warning">Warning</a>
                <a href="#" class="badge badge-info">Info</a>
                <a href="#" class="badge badge-light">Light</a>
                <a href="#" class="badge badge-dark">Dark</a>
              </div>

              <h3 class="element-title">Pill badges</h3>
              <div class="">
                <span class="badge badge-pill badge-primary">Primary</span>
                <span class="badge badge-pill badge-secondary">Secondary</span>
                <span class="badge badge-pill badge-success">Success</span>
                <span class="badge badge-pill badge-danger">Danger</span>
                <span class="badge badge-pill badge-warning">Warning</span>
                <span class="badge badge-pill badge-info">Info</span>
                <span class="badge badge-pill badge-light">Light</span>
                <span class="badge badge-pill badge-dark">Dark</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Elements Breadcrumb -->
        <div class="pt-5 mb-5" id="breadcrumb">
          <h1 class="element-title">Breadcrumb</h1>
          <p class="mb-6 line-height-28 h4">Indicate the current page’s location within a navigational hierarchy that automatically adds separators via CSS. <a target="_blank" href="https://getbootstrap.com/docs/4.3/components/breadcrumb/"> View details. </a></p>

          <div class="row">
            <div class="col-12">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">Home</li>
                </ol>
              </nav>

              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Library</li>
                </ol>
              </nav>

              <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item"><a href="#">Library</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Data</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>

        <!-- Elements Buttons -->
        <div class="pt-5 mb-5" id="buttons">
          <div class="">
            <h1 class="element-title">Buttons</h1>
            <p class="mb-6 line-height-28 h4">Use Bootstrap’s custom button styles for actions in forms, dialogs, and more with support for multiple sizes, states, and more. <a target="_blank" href="https://getbootstrap.com/docs/4.3/components/buttons/">View details. </a></p>
          </div>

          <div class="row">
            <div class="col-12">
              <h3 class="element-title">Default</h3>
              <div class="mb-6">
                <button type="button" class="btn btn-primary mb-2">Primary</button>
                <button type="button" class="btn btn-secondary mb-2">Secondary</button>
                <button type="button" class="btn btn-success mb-2">Success</button>
                <button type="button" class="btn btn-danger mb-2">Danger</button>
                <button type="button" class="btn btn-warning mb-2">Warning</button>
                <button type="button" class="btn btn-info mb-2">Info</button>
                <button type="button" class="btn btn-light mb-2">Light</button>
                <button type="button" class="btn btn-dark mb-2">Dark</button>
                <button type="button" class="btn btn-link mb-2">Link</button>
              </div>

              <h3 class="element-title">Outline buttons</h3>
              <div class="mb-6">
                <button type="button" class="btn btn-outline-primary mb-2">Primary</button>
                <button type="button" class="btn btn-outline-secondary mb-2">Secondary</button>
                <button type="button" class="btn btn-outline-success mb-2">Success</button>
                <button type="button" class="btn btn-outline-danger mb-2">Danger</button>
                <button type="button" class="btn btn-outline-warning mb-2">Warning</button>
                <button type="button" class="btn btn-outline-info mb-2">Info</button>
                <button type="button" class="btn btn-outline-light mb-2">Light</button>
                <button type="button" class="btn btn-outline-dark mb-2">Dark</button>
              </div>

              <h3 class="element-title">Small buttons</h3>
              <div class="mb-6">
                <button type="button" class="btn btn-primary btn-sm">Small button</button>
                <button type="button" class="btn btn-secondary btn-sm">Small button</button>
              </div>
            </div>
            <div class="col-lg-6">
              <h3 class="element-title">Active state</h3>
              <div class="mb-6">
                <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
                <button type="button" class="btn btn-secondary btn-lg btn-block">Block level button</button>
              </div>
            </div>

            <div class="col-12">
              <h3 class="element-title">Button group Basic</h3>
              <div class="btn-group mb-6" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary">Left</button>
                <button type="button" class="btn btn-primary">Middle</button>
                <button type="button" class="btn btn-primary">Right</button>
              </div>

              <h3 class="element-title">Button toolbar</h3>
              <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-md-2 mb-3 mb-md-0" role="group" aria-label="First group">
                  <button type="button" class="btn btn-secondary ">1</button>
                  <button type="button" class="btn btn-secondary ">2</button>
                  <button type="button" class="btn btn-secondary ">3</button>
                  <button type="button" class="btn btn-secondary ">4</button>
                </div>
                <div class="btn-group " role="group" aria-label="Second group">
                  <button type="button" class="btn btn-secondary ">5</button>
                  <button type="button" class="btn btn-secondary ">6</button>
                  <button type="button" class="btn btn-secondary ">7</button>
                  <button type="button" class="btn btn-secondary ">8</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Elements Collapse -->
        <div class="pt-5 mb-5" id="collapse">
          <h1 class="element-title">Collapses</h1>
          <p class="mb-6 line-height-28 h4">Toggle the visibility of content across your project with a few classes and our JavaScript plugins. <a target="_blank" href="https://getbootstrap.com/docs/4.3/components/collapse/#accordion-example/">View details. </a></p>

          <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
              <h3 class="element-title">Accordion</h3>
              <div class="accordion" id="accordionOne">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="icon-bg" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                      aria-controls="collapseOne">
                      <span class="text-capitalize font-weight-medium font-size-base text-dark">Collapsible Group Item #1</span>
                    </h5>
                  </div>
              
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionOne">
                    <div class="card-body pt-3">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius sit eum nisi qui quas veniam blanditiis
                      alias, facere fugiat deleniti enim natus repudiandae in laudantium culpa eaque. Dolorem ipsam beatae
                      nisi, a excepturi harum voluptatum consectetur culpa eos, ea optio? Optio minima vel, cum ipsam.
                    </div>
                  </div>
                </div>
              
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h5 class="icon-bg collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                      aria-controls="collapseTwo">
                      <span class="text-capitalize font-weight-medium font-size-base text-dark">Collapsible Group Item #2</span>
                    </h5>
                  </div>
              
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionOne">
                    <div class="card-body pt-3">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                      aliqua put a bird on it squid single-origin coffee nulla.
                    </div>
                  </div>
                </div>
              
                <div class="card mb-0">
                  <div class="card-header" id="headingThree">
                    <h5 class="icon-bg collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                      aria-controls="collapseThree">
                      <span class="text-capitalize font-weight-medium font-size-base text-dark">Collapsible Group Item #3</span>
                    </h5>
                  </div>
              
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionOne">
                    <div class="card-body pt-3">
                      Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
                      from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
                      looked up one of the more obscure Latin words, consectetur.
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="mb-5">
                <h3 class="element-title">Link with href & data-target</h3>
                <p class="mb-0">
                  <a class="btn btn-primary mb-2 mb-md-0" data-toggle="collapse" href="#collapseExampleHref" role="button" aria-expanded="false"
                    aria-controls="collapseExampleHref">
                    Link with href
                  </a>
                  <button class="btn btn-warning mb-2 mb-md-0" type="button" data-toggle="collapse" data-target="#collapseExampleHref"
                    aria-expanded="false" aria-controls="collapseExampleHref">
                    Button with data-target
                  </button>
                </p>
                <div class="collapse" id="collapseExampleHref">
                  <div class="card card-body mb-0 border mt-2">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                  </div>
                </div>
              </div>
              <div class="mb-0">
                <h3 class="element-title">Multiple targets</h3>
                <p class="mb-0">
                  <a class="btn btn-success mb-2" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false"
                    aria-controls="multiCollapseExample1">Toggle first element</a>
                  <button class="btn btn-info mb-2" type="button" data-toggle="collapse" data-target="#multiCollapseExample2"
                    aria-expanded="false" aria-controls="multiCollapseExample2">Toggle second element</button>

                  <div class="row">
                    <div class="col">
                      <div class="collapse multi-collapse" id="multiCollapseExample1">
                        <div class="card card-body border mb-5">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil
                          anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="collapse multi-collapse" id="multiCollapseExample2">
                        <div class="card card-body border">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil
                          anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                        </div>
                      </div>
                    </div>
                  </div>
                  <p class="mb-0">
                    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target=".multi-collapse"
                      aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Toggle both elements</button>
                  </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Elements Card -->
        <div class="pt-5 mb-5" id="card">
          <div class="">
            <h1 class="element-title">Cards</h1>
            <p class="mb-6 line-height-28 h4">Bootstrap’s cards provide a flexible and extensible content container with multiple variants and options. <a target="_blank" href="https://getbootstrap.com/docs/4.3/components/card/">View details. </a></p>
          </div>

          <div class="row">
            <div class="col-md-6 col-lg-4">
              <div class="card shadow mb-5 mb-lg-0">
                <img class="card-img-top" src="assets/img/home/deal/deal-01.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-4">
              <div class="card card-bg mb-5 mb-lg-0">
                <img class="card-img-top" src="assets/img/home/deal/deal-02.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-4">
              <div class="card border text-center">
                <div class="card-header">
                  Featured
                </div>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer text-muted">
                  2 days ago
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Elements Forms -->
        <div class="pt-5 mb-5" id="forms">
          <div class="">
            <h1 class="element-title">Forms</h1>
            <p class="mb-6 line-height-28 h4">Examples and usage guidelines for form control styles, layout options, and custom components for creating a wide variety of forms. <a target="_blank" href="https://getbootstrap.com/docs/4.3/components/forms/">View details. </a></p>
          </div>

          <div class="row">
            <div class="col-12">
              <h3 class="element-title">Forms Basic</h3>
              <div class="mb-6">
                <form>
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input type="email" class="form-control" placeholder="name@example.com">
                  </div>

                  <div class="form-group">
                    <label for="exampleInputText">Example select</label>
                    <div class="select-default">
                      <select class="select-option">
                        <option>01</option>
                        <option>02</option>
                        <option>03</option>
                        <option>04</option>
                        <option>05</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="exampleMultipleSelect">Example multiple select</label>
                    <select multiple class="form-control" id="exampleMultipleSelect">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Example textarea</label>
                    <textarea class="form-control" rows="6"></textarea>
                  </div>

                  <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Static Email</label>
                    <div class="col-sm-10">
                      <input type="text" readonly class="form-control form-control-plaintext bg-transparent border" value="email@example.com">
                    </div>
                  </div>
                  <div class="form-group row mb-5">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                  </div>

                  <div class="mb-4">
                    <div class="custom-control custom-checkbox mb-1">
                      <input type="checkbox" class="custom-control-input" id="customCheckSettings1" checked>
                      <label class="custom-control-label settings-control-label" for="customCheckSettings1">
                        Default checkbox
                      </label>
                    </div>
                    
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheckSettings2" disabled>
                      <label class="custom-control-label settings-control-label" for="customCheckSettings2">
                        <span class="ml-0 font-size-base">Disabled checkbox</span>
                      </label>
                    </div>
                  </div>

                  <div class="custom-control custom-radio mb-1">
                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked>
                    <label class="custom-control-label radio-control-label" for="customRadio1">
                      Default radio
                    </label>
                  </div>

                  <div class="custom-control custom-radio mb-1">
                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label radio-control-label" for="customRadio2">
                      Second Default radio
                    </label>
                  </div>

                  <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input" disabled>
                    <label class="custom-control-label radio-control-label" for="customRadio3">
                      <span class="ml-0 font-size-base">Disabled radio</span>
                    </label>
                  </div>
                </form>
              </div>
            </div>

            <div class="col-12">
              <h3 class="element-title">Input Group</h3>
              <from>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-gray-dark text-white border-0" id="basic-addon1">@</span>
                  </div>
                  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Enter your email" aria-label="Enter your email"
                    aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="input-group-text btn btn-append hover-bg-primary text-white border-0" id="basic-addon2">
                      <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>

                <label for="basic-url">Your vanity URL</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-gray-dark text-white border-0" id="basic-addon3">https://example.com/users/</span>
                  </div>
                  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-gray-dark text-white border-0">$</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                  <div class="input-group-append">
                    <span class="input-group-text bg-gray-dark text-white border-0">.00</span>
                  </div>
                </div>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-gray-dark text-white border-0">With textarea</span>
                  </div>
                  <textarea class="form-control" rows="6" aria-label="With textarea"></textarea>
                </div>
              </from>
            </div>
          </div>
        </div>

        <!-- Elements Dropdown -->
        <div class="pt-5 mb-5" id="dropdowns">
          <div class="">
            <h1 class="element-title">Dropdowns</h1>
            <p class="mb-6 line-height-28 h4">Toggle contextual overlays for displaying lists of links and more with the Bootstrap dropdown plugin. <a target="_blank" href="https://getbootstrap.com/docs/4.3/components/dropdowns/">View details. </a></p>
          </div>

          <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
              <h3 class="element-title">Dropdown Default</h3>
              <div class="dropdown mb-6 mb-lg-0">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-6 mb-md-0">
              <h3 class="element-title">Dropdown Left</h3>
              <div class="btn-group dropleft">
                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  Dropleft
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
              <h3 class="element-title">Dropdown Right</h3>
              <div class="btn-group dropright">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  Dropright
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Elements List Group -->
        <div class="pt-5 mb-5" id="list-group">
          <div class="">
            <h1 class="element-title">List Group</h1>
            <p class="mb-6 line-height-28 h4">List groups are a flexible and powerful component for displaying a series of content. Modify and extend them to support just about any content within. <a target="_blank" href="https://getbootstrap.com/docs/4.3/components/list-group/">View details. </a></p>
          </div>

          <div class="row">
            <div class="col-md-6">
              <h3 class="element-title">Default List Group</h3>
              <div class="mb-7 mb-md-0">
                <div class="list-group">
                  <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                  <a href="#" class="list-group-item list-group-item-action list-group-item-primary">A simple primary list group
                    item</a>
                  <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">A simple secondary list
                    group item</a>
                  <a href="#" class="list-group-item list-group-item-action list-group-item-success">A simple success list group
                    item</a>
                  <a href="#" class="list-group-item list-group-item-action list-group-item-danger">A simple danger list group
                    item</a>
                  <a href="#" class="list-group-item list-group-item-action list-group-item-warning">A simple warning list group
                    item</a>
                  <a href="#" class="list-group-item list-group-item-action list-group-item-info">A simple info list group item</a>
                  <a href="#" class="list-group-item list-group-item-action list-group-item-light">A simple light list group item</a>
                  <a href="#" class="list-group-item list-group-item-action list-group-item-dark">A simple dark list group item</a>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <h3 class="element-title">List Group With badges</h3>
              <div class="mb-0">
                <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Cras justo odio
                    <span class="badge badge-primary badge-pill">14</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Dapibus ac facilisis in
                    <span class="badge badge-primary badge-pill">2</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Morbi leo risus
                    <span class="badge badge-primary badge-pill">1</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Cras justo odio
                    <span class="badge badge-primary badge-pill">1</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Dapibus ac facilisis in
                    <span class="badge badge-primary badge-pill">1</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Morbi leo risus
                    <span class="badge badge-primary badge-pill">1</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Cras justo odio
                    <span class="badge badge-primary badge-pill">14</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Dapibus ac facilisis in
                    <span class="badge badge-primary badge-pill">2</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Morbi leo risus
                    <span class="badge badge-primary badge-pill">1</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Elements Modal -->
        <div class="pt-5 mb-5" id="modal">
          <div class="">
            <h1 class="element-title">modals</h1>
            <p class="mb-6 line-height-28 h4">Use Bootstrap’s JavaScript modal plugin to add dialogs to your site for lightboxes, user notifications, or completely custom content. <a target="_blank" href="https://getbootstrap.com/docs/4.3/components/modal/">View details. </a></p>
          </div>

          <div class="row">
            <div class="col-md-6 col-lg-4">
              <h3 class="element-title mb-5">Modal Default</h3>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Launch demo modal
              </button>

              <!-- Modal -->
              <div class="modal fade mb-8" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Modal body text goes here.</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>

              <h3 class="element-title mb-5 mt-6">Modal Scrolling long content</h3>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                Launch demo modal
              </button>

              <!-- Modal -->
              <div class="modal fade mb-8" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius sit eum nisi qui quas veniam blanditiis
                        alias, facere fugiat deleniti enim natus repudiandae in laudantium culpa eaque. Dolorem ipsam beatae
                        nisi, a excepturi harum voluptatum consectetur culpa eos, ea optio? Optio minima vel, cum ipsam
                        voluptatem. Nemo ratione aliquam, doloremque dolor numquam dolorem esse libero dolorum quibusdam quis,
                        eligendi impedit dicta quaerat nobis laudantium ad suscipit optio nesciunt perspiciatis est. Natus labore
                        officiis rerum et ut suscipit, quos aut laboriosam magnam eligendi omnis, ad facilis tempora soluta! Et,
                        corrupti eius. Quaerat modi itaque nisi assumenda magni, similique quod voluptatibus, mollitia!</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius sit eum nisi qui quas veniam blanditiis
                        alias, facere fugiat deleniti enim natus repudiandae in laudantium culpa eaque. Dolorem ipsam beatae
                        nisi, a excepturi harum voluptatum consectetur culpa eos, ea optio? Optio minima vel, cum ipsam
                        voluptatem. Nemo ratione aliquam, doloremque dolor numquam dolorem esse libero dolorum quibusdam quis,
                        eligendi impedit dicta quaerat nobis laudantium ad suscipit optio nesciunt perspiciatis est. Natus labore
                        officiis rerum et ut suscipit, quos aut laboriosam magnam eligendi omnis, ad facilis tempora soluta! Et,
                        corrupti eius. Quaerat modi itaque nisi assumenda magni, similique quod voluptatibus, mollitia!</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius sit eum nisi qui quas veniam blanditiis
                        alias, facere fugiat deleniti enim natus repudiandae in laudantium culpa eaque. Dolorem ipsam beatae
                        nisi, a excepturi harum voluptatum consectetur culpa eos, ea optio? Optio minima vel, cum ipsam
                        voluptatem. Nemo ratione aliquam, doloremque dolor numquam dolorem esse libero dolorum quibusdam quis,
                        eligendi impedit dicta quaerat nobis laudantium ad suscipit optio nesciunt perspiciatis est. Natus labore
                        officiis rerum et ut suscipit, quos aut laboriosam magnam eligendi omnis, ad facilis tempora soluta! Et,
                        corrupti eius. Quaerat modi itaque nisi assumenda magni, similique quod voluptatibus, mollitia!</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius sit eum nisi qui quas veniam blanditiis
                        alias, facere fugiat deleniti enim natus repudiandae in laudantium culpa eaque. Dolorem ipsam beatae
                        nisi, a excepturi harum voluptatum consectetur culpa eos, ea optio? Optio minima vel, cum ipsam
                        voluptatem. Nemo ratione aliquam, doloremque dolor numquam dolorem esse libero dolorum quibusdam quis,
                        eligendi impedit dicta quaerat nobis laudantium ad suscipit optio nesciunt perspiciatis est. Natus labore
                        officiis rerum et ut suscipit, quos aut laboriosam magnam eligendi omnis, ad facilis tempora soluta! Et,
                        corrupti eius. Quaerat modi itaque nisi assumenda magni, similique quod voluptatibus, mollitia!</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius sit eum nisi qui quas veniam blanditiis
                        alias, facere fugiat deleniti enim natus repudiandae in laudantium culpa eaque. Dolorem ipsam beatae
                        nisi, a excepturi harum voluptatum consectetur culpa eos, ea optio? Optio minima vel, cum ipsam
                        voluptatem. Nemo ratione aliquam, doloremque dolor numquam dolorem esse libero dolorum quibusdam quis,
                        eligendi impedit dicta quaerat nobis laudantium ad suscipit optio nesciunt perspiciatis est. Natus labore
                        officiis rerum et ut suscipit, quos aut laboriosam magnam eligendi omnis, ad facilis tempora soluta! Et,
                        corrupti eius. Quaerat modi itaque nisi assumenda magni, similique quod voluptatibus, mollitia!</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Elements Navs -->
        <div class="pt-5 mb-5" id="navs">
          <div class="">
            <h1 class="element-title">Navs</h1>
            <p class="mb-6 line-height-28 h4">Documentation and examples for how to use Bootstrap’s included navigation components. <a target="_blank" href="https://getbootstrap.com/docs/4.3/components/navs/">View details. </a></p>
          </div>

          <div class="row">
            <div class="col-lg-6 mb-6 mb-lg-0">
              <div id="destination">
                <div class="mb-0">
                  <ul class="nav nav-tabs destination-tabs" id="destinationTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="overView-tab" data-toggle="tab" href="#overView" role="tab"
                        aria-controls="overView" aria-selected="true">Over view</a>
                    </li>
              
                    <li class="nav-item">
                      <a class="nav-link" id="tourGuide-tab" data-toggle="tab" href="#tourGuide" role="tab" aria-controls="tourGuide"
                        aria-selected="false">Tour guide</a>
                    </li>
              
                    <li class="nav-item">
                      <a class="nav-link" id="locationMap-tab" data-toggle="tab" href="#locationMap" role="tab"
                        aria-controls="locationMap" aria-selected="false">Location map</a>
                    </li>
              
                    <li class="nav-item d-none"></li>
                  </ul>
              
                  <div class="tab-content destinationTab-content" id="destinationTabContent">
                    <div class="tab-pane show active" id="overView" role="tabpanel" aria-labelledby="overView-tab">
                      <div class="row">
                        <div class="col-12">
                          <h3 class="text-uppercase mb-5">Some title should be here</h3>
              
                          <p class="mb-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip ex ea commodo consequat.</p>

                            <p class="mb-0">Donec rhoncus aliquet mi mattis consectetur. Curabitur viverra orci ac faucibus rutrum.
                              Vivamus sit amet magna risus. Integer volutpat sapien at libero iaculis, et vulputate quam euismod. Nunc
                              at neque lacinia nibh efficitur euismod.
                              Integer molestie mauris vel dolor rhoncus posuere porta in diam. Praesent eget velit lorem. Sed suscipit
                              orci dolor, ac tristique neque volutpat eu. Integer volutpat sapien at libero iaculis efficitur euismod.</p>
                        </div>
                      </div>
                    </div>
              
                    <div class="tab-pane" id="tourGuide" role="tabpanel" aria-labelledby="tourGuide-tab">
                      <div class="row">
                        <div class="col-12">
                          <h3 class="text-uppercase mb-5">This title is here</h3>
              
                          <p class="mb-6">Donec rhoncus aliquet mi mattis consectetur. Curabitur viverra orci ac faucibus rutrum.
                            Vivamus sit amet magna risus. Integer volutpat sapien at libero iaculis, et vulputate quam euismod. Nunc
                            at neque lacinia nibh efficitur euismod.
                            Integer molestie mauris vel dolor rhoncus posuere porta in diam. Praesent eget velit lorem. Sed suscipit
                            orci dolor, ac tristique neque volutpat eu. Orci ac faucibus rutrum. Vivamus sit amet magna risus. Integer</p>

                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                              ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                              ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                              dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident. Ut enim ad minim veniam, quis nostrud
                              exercitation ullamco laboris nisi
                              ut aliquip ex ea commodo consequat.</p>
                        </div>
                      </div>
                    </div>
              
                    <div class="tab-pane" id="locationMap" role="tabpanel" aria-labelledby="locationMap-tab">
                      <div class="" id="map" style="width:100%; height:396px;"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="">
                <div class="mb-0">
                  <ul class="nav nav-tabs nav-justified blog-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="recent-tab" data-toggle="tab" href="#recent" role="tab" aria-controls="recent"
                        aria-selected="true">Recent</a>
                    </li>
              
                    <li class="nav-item">
                      <a class="nav-link" id="popular-tab" data-toggle="tab" href="#popular" role="tab" aria-controls="popular"
                        aria-selected="false">Popular</a>
                    </li>
              
                    <li class="nav-item">
                      <a class="nav-link" id="new-tab" data-toggle="tab" href="#new" role="tab" aria-controls="new"
                        aria-selected="false">New</a>
                    </li>
                  </ul>
              
                  <div class="tab-content bg-smoke border border-light-gray border-top-0 rounded-bottom px-3 py-5" id="myTabContent">
                    <div class="tab-pane fade show active" id="recent" role="tabpanel" aria-labelledby="recent-tab">
                      <div class="media meta-post-sm border-bottom border-off-white pb-3 mb-3">
                        <div class="img-overlay rounded mr-2">
                          <img src="assets/img/blog/tab-01.jpg" alt="Generic placeholder image">
                          <a href="" class="hover-img-overlay-dark"></a>
                        </div>
              
                        <div class="media-body">
                          <a href="" class="text-dark hover-text-primary text-capitalize mb-1">
                            Totam rem apriam eaque.
                          </a>
              
                          <ul class="list-unstyled d-flex flex-wrap mb-0">
                            <li class="meta-tag text-gray-color mr-4 mb-1">
                              <i class="fa fa-calendar" aria-hidden="true"></i>
                              <span class="ml-1 text-capitalize">5 March, 2019</span>
                            </li>
                          </ul>
                        </div>
                      </div>
              
                      <div class="media meta-post-sm border-bottom border-off-white pb-3 mb-3">
                        <div class="img-overlay rounded mr-2">
                          <img src="assets/img/blog/tab-02.jpg" alt="Generic placeholder image">
                          <a href="" class="hover-img-overlay-dark"></a>
                        </div>
              
                        <div class="media-body">
                          <a href="" class="text-dark hover-text-primary text-capitalize mb-1">
                            Pitter soan smeeit herick.
                          </a>
              
                          <ul class="list-unstyled d-flex flex-wrap mb-0">
                            <li class="meta-tag text-gray-color mr-4 mb-1">
                              <i class="fa fa-calendar" aria-hidden="true"></i>
                              <span class="ml-1 text-capitalize">5 March, 2019</span>
                            </li>
                          </ul>
                        </div>
                      </div>
              
                      <div class="media meta-post-sm border-bottom border-off-white pb-3 mb-3">
                        <div class="img-overlay rounded mr-2">
                          <img src="assets/img/blog/tab-03.jpg" alt="Generic placeholder image">
                          <a href="" class="hover-img-overlay-dark"></a>
                        </div>
              
                        <div class="media-body">
                          <a href="" class="text-dark hover-text-primary text-capitalize mb-1">
                            Amanda disuja carl parkar.
                          </a>
              
                          <ul class="list-unstyled d-flex flex-wrap mb-0">
                            <li class="meta-tag text-gray-color mr-4 mb-1">
                              <i class="fa fa-calendar" aria-hidden="true"></i>
                              <span class="ml-1 text-capitalize">5 March, 2019</span>
                            </li>
                          </ul>
                        </div>
                      </div>
              
                      <div class="media meta-post-sm">
                        <div class="img-overlay rounded mr-2">
                          <img src="assets/img/blog/tab-04.jpg" alt="Generic placeholder image">
                          <a href="" class="hover-img-overlay-dark"></a>
                        </div>
              
                        <div class="media-body">
                          <a href="" class="text-dark hover-text-primary text-capitalize mb-1">
                            Rodney samp deo artich.
                          </a>
              
                          <ul class="list-unstyled d-flex flex-wrap mb-0">
                            <li class="meta-tag text-gray-color mr-4 mb-1">
                              <i class="fa fa-calendar" aria-hidden="true"></i>
                              <span class="ml-1 text-capitalize">5 March, 2019</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
              
                    <div class="tab-pane fade" id="popular" role="tabpanel" aria-labelledby="popular-tab">
                      <div class="media meta-post-sm border-bottom border-off-white pb-3 mb-3">
                        <div class="img-overlay rounded mr-2">
                          <img src="assets/img/blog/tab-04.jpg" alt="Generic placeholder image">
                          <a href="" class="hover-img-overlay-dark"></a>
                        </div>
              
                        <div class="media-body">
                          <a href="" class="text-dark hover-text-primary text-capitalize mb-1">
                            Rodney samp deo artich.
                          </a>
              
                          <ul class="list-unstyled d-flex flex-wrap mb-0">
                            <li class="meta-tag text-gray-color mr-4 mb-1">
                              <i class="fa fa-calendar" aria-hidden="true"></i>
                              <span class="ml-1 text-capitalize">5 March, 2019</span>
                            </li>
                          </ul>
                        </div>
                      </div>
              
                      <div class="media meta-post-sm border-bottom border-off-white pb-3 mb-3">
                        <div class="img-overlay rounded mr-2">
                          <img src="assets/img/blog/tab-03.jpg" alt="Generic placeholder image">
                          <a href="" class="hover-img-overlay-dark"></a>
                        </div>
              
                        <div class="media-body">
                          <a href="" class="text-dark hover-text-primary text-capitalize mb-1">
                            Amanda disuja carl parkar.
                          </a>
              
                          <ul class="list-unstyled d-flex flex-wrap mb-0">
                            <li class="meta-tag text-gray-color mr-4 mb-1">
                              <i class="fa fa-calendar" aria-hidden="true"></i>
                              <span class="ml-1 text-capitalize">5 March, 2019</span>
                            </li>
                          </ul>
                        </div>
                      </div>
              
                      <div class="media meta-post-sm border-bottom border-off-white pb-3 mb-3">
                        <div class="img-overlay rounded mr-2">
                          <img src="assets/img/blog/tab-02.jpg" alt="Generic placeholder image">
                          <a href="" class="hover-img-overlay-dark"></a>
                        </div>
              
                        <div class="media-body">
                          <a href="" class="text-dark hover-text-primary text-capitalize mb-1">
                            Pitter soan smeeit herick.
                          </a>
              
                          <ul class="list-unstyled d-flex flex-wrap mb-0">
                            <li class="meta-tag text-gray-color mr-4 mb-1">
                              <i class="fa fa-calendar" aria-hidden="true"></i>
                              <span class="ml-1 text-capitalize">5 March, 2019</span>
                            </li>
                          </ul>
                        </div>
                      </div>
              
                      <div class="media meta-post-sm">
                        <div class="img-overlay rounded mr-2">
                          <img src="assets/img/blog/tab-01.jpg" alt="Generic placeholder image">
                          <a href="" class="hover-img-overlay-dark"></a>
                        </div>
              
                        <div class="media-body">
                          <a href="" class="text-dark hover-text-primary text-capitalize mb-1">
                            Totam rem apriam eaque.
                          </a>
              
                          <ul class="list-unstyled d-flex flex-wrap mb-0">
                            <li class="meta-tag text-gray-color mr-4 mb-1">
                              <i class="fa fa-calendar" aria-hidden="true"></i>
                              <span class="ml-1 text-capitalize">5 March, 2019</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
              
                    <div class="tab-pane fade" id="new" role="tabpanel" aria-labelledby="new-tab">
                      <div class="media meta-post-sm border-bottom border-off-white pb-3 mb-3">
                        <div class="img-overlay rounded mr-2">
                          <img src="assets/img/blog/tab-02.jpg" alt="Generic placeholder image">
                          <a href="" class="hover-img-overlay-dark"></a>
                        </div>
              
                        <div class="media-body">
                          <a href="" class="text-dark hover-text-primary text-capitalize mb-1">
                            Pitter soan smeeit herick.
                          </a>
              
                          <ul class="list-unstyled d-flex flex-wrap mb-0">
                            <li class="meta-tag text-gray-color mr-4 mb-1">
                              <i class="fa fa-calendar" aria-hidden="true"></i>
                              <span class="ml-1 text-capitalize">5 March, 2019</span>
                            </li>
                          </ul>
                        </div>
                      </div>
              
                      <div class="media meta-post-sm border-bottom border-off-white pb-3 mb-3">
                        <div class="img-overlay rounded mr-2">
                          <img src="assets/img/blog/tab-04.jpg" alt="Generic placeholder image">
                          <a href="" class="hover-img-overlay-dark"></a>
                        </div>
              
                        <div class="media-body">
                          <a href="" class="text-dark hover-text-primary text-capitalize mb-1">
                            Rodney samp deo artich.
                          </a>
              
                          <ul class="list-unstyled d-flex flex-wrap mb-0">
                            <li class="meta-tag text-gray-color mr-4 mb-1">
                              <i class="fa fa-calendar" aria-hidden="true"></i>
                              <span class="ml-1 text-capitalize">5 March, 2019</span>
                            </li>
                          </ul>
                        </div>
                      </div>
              
                      <div class="media meta-post-sm border-bottom border-off-white pb-3 mb-3">
                        <div class="img-overlay rounded mr-2">
                          <img src="assets/img/blog/tab-01.jpg" alt="Generic placeholder image">
                          <a href="" class="hover-img-overlay-dark"></a>
                        </div>
              
                        <div class="media-body">
                          <a href="" class="text-dark hover-text-primary text-capitalize mb-1">
                            Totam rem apriam eaque.
                          </a>
              
                          <ul class="list-unstyled d-flex flex-wrap mb-0">
                            <li class="meta-tag text-gray-color mr-4 mb-1">
                              <i class="fa fa-calendar" aria-hidden="true"></i>
                              <span class="ml-1 text-capitalize">5 March, 2019</span>
                            </li>
                          </ul>
                        </div>
                      </div>
              
                      <div class="media meta-post-sm">
                        <div class="img-overlay rounded mr-2">
                          <img src="assets/img/blog/tab-03.jpg" alt="Generic placeholder image">
                          <a href="" class="hover-img-overlay-dark"></a>
                        </div>
              
                        <div class="media-body">
                          <a href="" class="text-dark hover-text-primary text-capitalize mb-1">
                            Amanda disuja carl parkar.
                          </a>
              
                          <ul class="list-unstyled d-flex flex-wrap mb-0">
                            <li class="meta-tag text-gray-color mr-4 mb-1">
                              <i class="fa fa-calendar" aria-hidden="true"></i>
                              <span class="ml-1 text-capitalize">5 March, 2019</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12"></div>
          </div>
        </div>

        <!-- Elements Pagination -->
        <div class="pt-5 mb-5" id="pagination">
          <div class="">
            <h1 class="element-title">Paginations</h1>
            <p class="mb-6 line-height-28 h4">Documentation and examples for showing pagination to indicate a series of related content exists across multiple pages. <a target="_blank" href="https://getbootstrap.com/docs/4.3/components/pagination/">View details. </a></p>
          </div>

          <div class="row">
            <div class="col-12">
              <h3 class="element-title">Pagination Default</h3>
              <nav aria-label="Page navigation">
                <ul class="pagination align-items-center">
                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0)" tabindex="-1">
                      <i class="fa fa-long-arrow-left d-none d-md-inline-block mr-md-1" aria-hidden="true"></i> Previous
                    </a>
                  </li>
              
                  <li class="page-item">
                    <a class="page-link active" href="javascript:void(0)">1</a>
                  </li>
              
                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0)">2</a>
                  </li>
              
                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0)">3</a>
                  </li>
              
                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0)">...</a>
                  </li>
              
                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0)">9</a>
                  </li>
              
                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0)">Next
                      <i class="fa fa-long-arrow-right d-none d-md-inline-block ml-md-1" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>

        <!-- Elements Tooltips -->
        <div class="pt-5 mb-5" id="tooltips">
          <div class="">
            <h1 class="element-title">Tooltips</h1>
            <p class="mb-6 line-height-28 h4">Documentation and examples for adding custom Bootstrap tooltips with CSS and JavaScript using CSS3 for animations and data-attributes for local title storage. <a target="_blank" href="https://getbootstrap.com/docs/4.3/components/tooltips/">View details. </a></p>
          </div>

          <div class="row">
            <div class="col-12">
              <h3 class="element-title">Tooltips Default</h3>
              <div class="">
                <button type="button" class="btn btn-primary mb-2" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                  Tooltip on top
                </button>
                <button type="button" class="btn btn-warning mb-2" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
                  Tooltip on right
                </button>
                <button type="button" class="btn btn-success mb-2" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
                  Tooltip on bottom
                </button>
                <button type="button" class="btn btn-info mb-2" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
                  Tooltip on left
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Elements Progress -->
        <div class="pt-5" id="progress">
          <div class="">
            <h1 class="element-title">Progress</h1>
            <p class="mb-6 line-height-28 h4">Documentation and examples for using Bootstrap custom progress bars featuring support for stacked bars, animated backgrounds, and text labels. <a target="_blank" href="https://getbootstrap.com/docs/4.3/components/progress/">View details. </a></p>
          </div>

          <div class="row">
            <div class="col-md-6">
              <h3 class="element-title">Backgrounds</h3>
              <div class="mb-6 mb-md-0">
                <div class="progress">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: 10%" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
                <div class="progress">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
                <div class="progress">
                  <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
                <div class="progress mb-0">
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <h3 class="element-title">Striped</h3>
              <div class="mb-0">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="progress mb-0">
                  <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-2 d-none d-xl-block mt-6">
        <div class="element-right-sidebar">
          <div class="card shadow-none bg-transparent">
            <h4 class="card-header font-weight-bold bg-primary rounded-top text-white">Components</h4>
            <div class="card-body border border-top-0 rounded-bottom components">
              <ul class="nav scrolling nav-components">
                <li class="nav-item">
                  <a class="nav-link active" href="#alerts">Alerts</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#badge">Badge</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#breadcrumb">Breadcrumb</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="#buttons">Buttons</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="#collapse">Collapse</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="#card">Card</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="#forms">Forms</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="#dropdowns">Dropdowns</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="#list-group">List Group</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="#modal">Modal</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="#navs">Navs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="#pagination">Pagination</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="#tooltips">Tooltips</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="#progress">Progress</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

@@include('footer.htm')
