@@include('header.htm', {
  "title": "Hotel Fullwidth List View - Star Travel",
  "parents": "hotels",
  "active": "hotels-list"
})

@@include('page-title.htm', {
  "title": "London Hotels",
  "title-border": "",
  "text": "",
  "bg-image": "assets/img/pages/page-title-bg11.jpg"
})

<!-- ====================================
———	PACKAGES SECTION
===================================== -->
<section class="bg-smoke py-10">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="mb-md-6">
          <div class="row align-items-center">
            <div class="col-md-6 col-xl-4">
              <div class="form-group mb-5 mb-md-0 bg-white">
                <div class="select-default select-category-2">
                  <select class="select-option">
                    <option>SORT BY RATING</option>
                    <option>SORT BY PRICE</option>
                    <option>SORT BY POPULARITY</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-xl-8 d-none d-md-block">
              <div class="d-flex justify-content-md-end">
                <a href="" class="icon-md bg-primary rounded shadow">
                  <i class="fa fa-bars text-white" aria-hidden="true"></i>
                </a>

                <a href="hotels-grid-left-sidebar.html" class="icon-md bg-white rounded shadow ml-3">
                  <i class="fa fa-th text-gray-color" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="media media-list-view media-list-fullwidth media-border flex-column flex-md-row align-items-stretch mb-5">
          <div class="media-img position-relative">
            <img class="img-fluid position-relative" src="assets/img/holets/hotel-list-01.jpg" alt="gallery-img">
            <a class="media-img-overlay" data-fancybox="gallery" href="assets/img/holets/hotel-list-01.jpg"></a>
          </div>

          <div class="media-body">
            <div class="row">
              <div class="col-md-7 col-xl-8">
                <h4>
                  <a class="media-title" href="single-hotel-right-sidebar.html">Park hyat hotel</a>
                </h4>
                <div class="rating-view">
                  <span class="star add-rating-default pl-0"></span>
                  <span class="content-view text-uppercase border-right-0 pl-1">(Reviews 29)</span>
                </div>

                <p class="mb-md-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna
                  aliqua.</p>
                <div class="date-view">
                  <span><i class="fa fa-calendar" aria-hidden="true"></i> 27 jan, 2019</span>
                  <span><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days</span>
                </div>
              </div>

              <div class="col-md-5 col-xl-4">
                <div class="bg-primary text-center p-3 view-details">
                  <h2 class="text-white font-weight-bold h1">$25</h2>
                  <p class="text-white text-capitalize">Per Night</p>

                  <div>
                    <a href="single-hotel-fullwidth.html"
                      class="btn btn-xs w-75 mx-auto btn-outline-white btn-booking text-uppercase mb-2">Details</a>
                  </div>

                  <div>
                    <a href="booking-step-1.html"
                      class="btn btn-xs w-75 mx-auto btn-outline-white btn-booking text-uppercase mb-2">Book</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="media media-list-view media-list-fullwidth media-border flex-column flex-md-row align-items-stretch mb-5">
          <div class="media-img position-relative">
            <img class="img-fluid position-relative" src="assets/img/holets/hotel-list-02.jpg" alt="gallery-img">
            <a class="media-img-overlay" data-fancybox="gallery" href="assets/img/holets/hotel-list-02.jpg"></a>
          </div>

          <div class="media-body">
            <div class="row">
              <div class="col-md-7 col-xl-8">
                <h4>
                  <a class="media-title" href="single-hotel-right-sidebar.html">Mariot hotel</a>
                </h4>
                <div class="rating-view">
                  <span class="star add-rating-default pl-0"></span>
                  <span class="content-view text-uppercase border-right-0 pl-1">(Reviews 35)</span>
                </div>

                <p class="mb-md-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut
                  labore et dolore magna
                  aliqua.</p>
                <div class="date-view">
                  <span><i class="fa fa-calendar" aria-hidden="true"></i> 27 jan, 2019</span>
                  <span><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days</span>
                </div>
              </div>

              <div class="col-md-5 col-xl-4">
                <div class="bg-primary text-center p-3 view-details">
                  <h2 class="text-white font-weight-bold h1">$32</h2>
                  <p class="text-white text-capitalize">Per Night</p>
                  <div>
                    <a href="single-hotel-fullwidth.html"
                      class="btn btn-xs w-75 mx-auto btn-outline-white btn-booking text-uppercase mb-2">Details</a>
                  </div>
                  <div>
                    <a href="booking-step-1.html"
                      class="btn btn-xs w-75 mx-auto btn-outline-white btn-booking text-uppercase mb-2">Book</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="media media-list-view media-list-fullwidth media-border flex-column flex-md-row align-items-stretch mb-5">
          <div class="media-img position-relative">
            <img class="img-fluid position-relative" src="assets/img/holets/hotel-list-03.jpg" alt="gallery-img">
            <a class="media-img-overlay" data-fancybox="gallery" href="assets/img/holets/hotel-list-03.jpg"></a>
          </div>

          <div class="media-body">
            <div class="row">
              <div class="col-md-7 col-xl-8">
                <h4>
                  <a class="media-title" href="single-hotel-right-sidebar.html">Lumier hotel</a>
                </h4>
                <div class="rating-view">
                  <span class="star add-rating-default pl-0"></span>
                  <span class="content-view text-uppercase border-right-0 pl-1">(Reviews 19)</span>
                </div>

                <p class="mb-md-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut
                  labore et dolore magna
                  aliqua.</p>
                <div class="date-view">
                  <span><i class="fa fa-calendar" aria-hidden="true"></i> 27 jan, 2019</span>
                  <span><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days</span>
                </div>
              </div>

              <div class="col-md-5 col-xl-4">
                <div class="bg-primary text-center p-3 view-details">
                  <h2 class="text-white font-weight-bold h1">$45</h2>
                  <p class="text-white text-capitalize">Per Night</p>
                  <div>
                    <a href="single-hotel-fullwidth.html"
                      class="btn btn-xs w-75 mx-auto btn-outline-white btn-booking text-uppercase mb-2">Details</a>
                  </div>
                  <div>
                    <a href="booking-step-1.html"
                      class="btn btn-xs w-75 mx-auto btn-outline-white btn-booking text-uppercase mb-2">Book</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="media media-list-view media-list-fullwidth media-border flex-column flex-md-row align-items-stretch mb-5">
          <div class="media-img position-relative">
            <img class="img-fluid position-relative" src="assets/img/holets/hotel-list-04.jpg" alt="gallery-img">
            <a class="media-img-overlay" data-fancybox="gallery" href="assets/img/holets/hotel-list-04.jpg"></a>
          </div>

          <div class="media-body">
            <div class="row">
              <div class="col-md-7 col-xl-8">
                <h4>
                  <a class="media-title" href="single-hotel-right-sidebar.html">Concorde hotel</a>
                </h4>
                <div class="rating-view">
                  <span class="star add-rating-default pl-0"></span>
                  <span class="content-view text-uppercase border-right-0 pl-1">(Reviews 27)</span>
                </div>

                <p class="mb-md-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut
                  labore et dolore magna
                  aliqua.</p>
                <div class="date-view">
                  <span><i class="fa fa-calendar" aria-hidden="true"></i> 27 jan, 2019</span>
                  <span><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days</span>
                </div>
              </div>

              <div class="col-md-5 col-xl-4">
                <div class="bg-primary text-center p-3 view-details">
                  <h2 class="text-white font-weight-bold h1">$18</h2>
                  <p class="text-white text-capitalize">Per Night</p>
                  <div>
                    <a href="single-hotel-fullwidth.html"
                      class="btn btn-xs w-75 mx-auto btn-outline-white btn-booking text-uppercase mb-2">Details</a>
                  </div>
                  <div>
                    <a href="booking-step-1.html"
                      class="btn btn-xs w-75 mx-auto btn-outline-white btn-booking text-uppercase mb-2">Book</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="media media-list-view media-list-fullwidth media-border flex-column flex-md-row align-items-stretch mb-5">
          <div class="media-img position-relative">
            <img class="img-fluid position-relative" src="assets/img/holets/hotel-list-05.jpg" alt="gallery-img">
            <a class="media-img-overlay" data-fancybox="gallery" href="assets/img/holets/hotel-list-05.jpg"></a>
          </div>

          <div class="media-body">
            <div class="row">
              <div class="col-md-7 col-xl-8">
                <h4>
                  <a class="media-title" href="single-hotel-right-sidebar.html">Victoria hotel</a>
                </h4>
                <div class="rating-view">
                  <span class="star add-rating-default pl-0"></span>
                  <span class="content-view text-uppercase border-right-0 pl-1">(Reviews 38)</span>
                </div>

                <p class="mb-md-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut
                  labore et dolore magna
                  aliqua.</p>
                <div class="date-view">
                  <span><i class="fa fa-calendar" aria-hidden="true"></i> 27 jan, 2019</span>
                  <span><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days</span>
                </div>
              </div>

              <div class="col-md-5 col-xl-4">
                <div class="bg-primary text-center p-3 view-details">
                  <h2 class="text-white font-weight-bold h1">$22</h2>
                  <p class="text-white text-capitalize">Per Night</p>
                  <div>
                    <a href="single-hotel-fullwidth.html"
                      class="btn btn-xs w-75 mx-auto btn-outline-white btn-booking text-uppercase mb-2">Details</a>
                  </div>
                  <div>
                    <a href="booking-step-1.html"
                      class="btn btn-xs w-75 mx-auto btn-outline-white btn-booking text-uppercase mb-2">Book</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="media media-list-view media-list-fullwidth media-border flex-column flex-md-row align-items-stretch mb-5">
          <div class="media-img position-relative">
            <img class="img-fluid position-relative" src="assets/img/holets/hotel-list-06.jpg" alt="gallery-img">
            <a class="media-img-overlay" data-fancybox="gallery" href="assets/img/holets/hotel-list-06.jpg"></a>
          </div>

          <div class="media-body">
            <div class="row">
              <div class="col-md-7 col-xl-8">
                <h4>
                  <a class="media-title" href="single-hotel-right-sidebar.html">Bloomsbury hotel</a>
                </h4>
                <div class="rating-view">
                  <span class="star add-rating-default pl-0"></span>
                  <span class="content-view text-uppercase border-right-0 pl-1">(Reviews 26)</span>
                </div>

                <p class="mb-md-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut
                  labore et dolore magna
                  aliqua.</p>
                <div class="date-view">
                  <span><i class="fa fa-calendar" aria-hidden="true"></i> 27 jan, 2019</span>
                  <span><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days</span>
                </div>
              </div>

              <div class="col-md-5 col-xl-4">
                <div class="bg-primary text-center p-3 view-details">
                  <h2 class="text-white font-weight-bold h1">$29</h2>
                  <p class="text-white text-capitalize">Per Night</p>
                  <div>
                    <a href="single-hotel-fullwidth.html"
                      class="btn btn-xs w-75 mx-auto btn-outline-white btn-booking text-uppercase mb-2">Details</a>
                  </div>
                  <div>
                    <a href="booking-step-1.html"
                      class="btn btn-xs w-75 mx-auto btn-outline-white btn-booking text-uppercase mb-2">Book</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="media media-list-view media-list-fullwidth media-border flex-column flex-md-row align-items-stretch mb-5">
          <div class="media-img position-relative">
            <img class="img-fluid position-relative" src="assets/img/holets/hotel-list-07.jpg" alt="gallery-img">
            <a class="media-img-overlay" data-fancybox="gallery" href="assets/img/holets/hotel-list-07.jpg"></a>
          </div>

          <div class="media-body">
            <div class="row">
              <div class="col-md-7 col-xl-8">
                <h4>
                  <a class="media-title" href="single-hotel-right-sidebar.html">Browns hotel</a>
                </h4>
                <div class="rating-view">
                  <span class="star add-rating-default pl-0"></span>
                  <span class="content-view text-uppercase border-right-0 pl-1">(Reviews 18)</span>
                </div>

                <p class="mb-md-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut
                  labore et dolore magna
                  aliqua.</p>
                <div class="date-view">
                  <span><i class="fa fa-calendar" aria-hidden="true"></i> 27 jan, 2019</span>
                  <span><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days</span>
                </div>
              </div>

              <div class="col-md-5 col-xl-4">
                <div class="bg-primary text-center p-3 view-details">
                  <h2 class="text-white font-weight-bold h1">$37</h2>
                  <p class="text-white text-capitalize">Per Night</p>
                  <div>
                    <a href="single-hotel-fullwidth.html"
                      class="btn btn-xs w-75 mx-auto btn-outline-white btn-booking text-uppercase mb-2">Details</a>
                  </div>
                  <div>
                    <a href="booking-step-1.html"
                      class="btn btn-xs w-75 mx-auto btn-outline-white btn-booking text-uppercase mb-2">Book</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="media media-list-view media-list-fullwidth media-border flex-column flex-md-row align-items-stretch mb-5">
          <div class="media-img position-relative">
            <img class="img-fluid position-relative" src="assets/img/holets/hotel-list-08.jpg" alt="gallery-img">
            <a class="media-img-overlay" data-fancybox="gallery" href="assets/img/holets/hotel-list-08.jpg"></a>
          </div>

          <div class="media-body">
            <div class="row">
              <div class="col-md-7 col-xl-8">
                <h4>
                  <a class="media-title" href="single-hotel-right-sidebar.html">Covent hotel</a>
                </h4>
                <div class="rating-view">
                  <span class="star add-rating-default pl-0"></span>
                  <span class="content-view text-uppercase border-right-0 pl-1">(Reviews 50)</span>
                </div>

                <p class="mb-md-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut
                  labore et dolore magna
                  aliqua.</p>
                <div class="date-view">
                  <span><i class="fa fa-calendar" aria-hidden="true"></i> 27 jan, 2019</span>
                  <span><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days</span>
                </div>
              </div>

              <div class="col-md-5 col-xl-4">
                <div class="bg-primary text-center p-3 view-details">
                  <h2 class="text-white font-weight-bold h1">$23</h2>
                  <p class="text-white text-capitalize">Per Night</p>
                  <div>
                    <a href="single-hotel-fullwidth.html"
                      class="btn btn-xs w-75 mx-auto btn-outline-white btn-booking text-uppercase mb-2">Details</a>
                  </div>
                  <div>
                    <a href="booking-step-1.html"
                      class="btn btn-xs w-75 mx-auto btn-outline-white btn-booking text-uppercase mb-2">Book</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="media media-list-view media-list-fullwidth media-border flex-column flex-md-row align-items-stretch mb-5">
          <div class="media-img position-relative">
            <img class="img-fluid position-relative" src="assets/img/holets/hotel-list-09.jpg" alt="gallery-img">
            <a class="media-img-overlay" data-fancybox="gallery" href="assets/img/holets/hotel-list-09.jpg"></a>
          </div>

          <div class="media-body">
            <div class="row">
              <div class="col-md-7 col-xl-8">
                <h4>
                  <a class="media-title" href="single-hotel-right-sidebar.html">Covent hotel</a>
                </h4>
                <div class="rating-view">
                  <span class="star add-rating-default pl-0"></span>
                  <span class="content-view text-uppercase border-right-0 pl-1">(Reviews 75)</span>
                </div>

                <p class="mb-md-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut
                  labore et dolore magna
                  aliqua.</p>
                <div class="date-view">
                  <span><i class="fa fa-calendar" aria-hidden="true"></i> 27 jan, 2019</span>
                  <span><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days</span>
                </div>
              </div>

              <div class="col-md-5 col-xl-4">
                <div class="bg-primary text-center p-3 view-details">
                  <h2 class="text-white font-weight-bold h1">$31</h2>
                  <p class="text-white text-capitalize">Per Night</p>
                  <div>
                    <a href="single-hotel-fullwidth.html"
                      class="btn btn-xs w-75 mx-auto btn-outline-white btn-booking text-uppercase mb-2">Details</a>
                  </div>
                  <div>
                    <a href="booking-step-1.html"
                      class="btn btn-xs w-75 mx-auto btn-outline-white btn-booking text-uppercase mb-2">Book</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  @@include('pagination.htm')
</section>

@@include('footer.htm')