@@include('header.htm', {
  "title": "Hotel Fullwidth Grid View - Star Travel",
  "parents": "hotels",
  "active": "hotels-grid"
})

@@include('page-title.htm', {
  "title": "London Hotels",
  "title-border": "",
  "text": "",
  "bg-image": "assets/img/pages/page-title-bg12.jpg"
})

<!-- ====================================
———	PACKAGES SECTION
===================================== -->
<section class="bg-smoke py-10">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="mb-md-6">
          <div class="row align-items-center">
            <div class="col-md-6 col-lg-4">
              <div class="form-group mb-5 mb-md-0 bg-white">
                <div class="select-default select-category-2">
                  <select class="select-option">
                    <option>SORT BY RATING</option>
                    <option>SORT BY PRICE</option>
                    <option>SORT BY POPULARITY</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-8 d-none d-md-block">
              <div class="d-flex justify-content-md-end">
                <a href="hotels-list-left-sidebar.html" class="icon-md bg-white rounded shadow">
                  <i class="fa fa-bars text-gray-color" aria-hidden="true"></i>
                </a>

                <a href="" class="icon-md bg-primary rounded shadow ml-3">
                  <i class="fa fa-th text-white" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="card card-hover">
              <a href="single-hotel-right-sidebar.html" class="position-relative">
                <img class="card-img-top" src="assets/img/holets/hotel-list-01.jpg" alt="Card image cap">
                <div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column">
                  <ul class="list-unstyled d-flex mt-auto text-warning mb-1">
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </li>
                  </ul>
                  <h6 class="text-white font-weight-bold">5 Review</h6>
                </div>
              </a>

              <div class="card-body">
                <h5>
                  <a href="single-hotel-right-sidebar.html" class="card-title text-uppercase">Park Hotel</a>
                </h5>

                <p class="mb-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna
                  aliqua.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <p class="mb-0 text-capitalize">Per night</p>
                    <h3 class="text-primary">$25</h3>
                  </div>

                  <div>
                    <a href="booking-step-1.html" class="btn btn-xs btn-outline-secondary text-uppercase">Book Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-5">
            <div class="card card-hover">
              <a href="single-hotel-right-sidebar.html" class="position-relative">
                <img class="card-img-top" src="assets/img/holets/hotel-list-02.jpg" alt="Card image cap">
                <div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column">
                  <ul class="list-unstyled d-flex mt-auto text-warning mb-1">
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star-o" aria-hidden="true"></i>
                    </li>
                  </ul>
                  <h6 class="text-white font-weight-bold">4 Review</h6>
                </div>
              </a>

              <div class="card-body">
                <h5>
                  <a href="single-hotel-right-sidebar.html" class="card-title text-uppercase">Mariot Hotel</a>
                </h5>

                <p class="mb-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna
                  aliqua.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <p class="mb-0 text-capitalize">Per night</p>
                    <h3 class="text-primary">$28</h3>
                  </div>

                  <div>
                    <a href="booking-step-1.html" class="btn btn-xs btn-outline-secondary text-uppercase">Book Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-5">
            <div class="card card-hover">
              <a href="single-hotel-right-sidebar.html" class="position-relative">
                <img class="card-img-top" src="assets/img/holets/hotel-list-03.jpg" alt="Card image cap">
                <div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column">
                  <ul class="list-unstyled d-flex mt-auto text-warning mb-1">
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star-o mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star-o" aria-hidden="true"></i>
                    </li>
                  </ul>
                  <h6 class="text-white font-weight-bold">3 Review</h6>
                </div>
              </a>

              <div class="card-body">
                <h5>
                  <a href="single-hotel-right-sidebar.html" class="card-title text-uppercase">Lumire Hotel</a>
                </h5>

                <p class="mb-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut
                  labore et dolore magna
                  aliqua.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <p class="mb-0 text-capitalize">Per night</p>
                    <h3 class="text-primary">$32</h3>
                  </div>

                  <div>
                    <a href="booking-step-1.html" class="btn btn-xs btn-outline-secondary text-uppercase">Book Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-5">
            <div class="card card-hover">
              <a href="single-hotel-right-sidebar.html" class="position-relative">
                <img class="card-img-top" src="assets/img/holets/hotel-list-04.jpg" alt="Card image cap">
                <div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column">
                  <ul class="list-unstyled d-flex mt-auto text-warning mb-1">
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star-o mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star-o" aria-hidden="true"></i>
                    </li>
                  </ul>
                  <h6 class="text-white font-weight-bold">3 Review</h6>
                </div>
              </a>

              <div class="card-body">
                <h5>
                  <a href="single-hotel-right-sidebar.html" class="card-title text-uppercase">Lumire Hotel</a>
                </h5>

                <p class="mb-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut
                  labore et dolore magna
                  aliqua.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <p class="mb-0 text-capitalize">Per night</p>
                    <h3 class="text-primary">$26</h3>
                  </div>

                  <div>
                    <a href="booking-step-1.html" class="btn btn-xs btn-outline-secondary text-uppercase">Book Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-5">
            <div class="card card-hover">
              <a href="single-hotel-right-sidebar.html" class="position-relative">
                <img class="card-img-top" src="assets/img/holets/hotel-list-05.jpg" alt="Card image cap">
                <div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column">
                  <ul class="list-unstyled d-flex mt-auto text-warning mb-1">
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </li>
                  </ul>
                  <h6 class="text-white font-weight-bold">5 Review</h6>
                </div>
              </a>

              <div class="card-body">
                <h5>
                  <a href="single-hotel-right-sidebar.html" class="card-title text-uppercase">Concord Hotel</a>
                </h5>

                <p class="mb-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut
                  labore et dolore magna
                  aliqua.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <p class="mb-0 text-capitalize">Per night</p>
                    <h3 class="text-primary">$22</h3>
                  </div>

                  <div>
                    <a href="booking-step-1.html" class="btn btn-xs btn-outline-secondary text-uppercase">Book Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-5">
            <div class="card card-hover">
              <a href="single-hotel-right-sidebar.html" class="position-relative">
                <img class="card-img-top" src="assets/img/holets/hotel-list-06.jpg" alt="Card image cap">
                <div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column">
                  <ul class="list-unstyled d-flex mt-auto text-warning mb-1">
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star-o" aria-hidden="true"></i>
                    </li>
                  </ul>
                  <h6 class="text-white font-weight-bold">4 Review</h6>
                </div>
              </a>

              <div class="card-body">
                <h5>
                  <a href="single-hotel-right-sidebar.html" class="card-title text-uppercase">Victoria Hotel</a>
                </h5>

                <p class="mb-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut
                  labore et dolore magna
                  aliqua.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <p class="mb-0 text-capitalize">Per night</p>
                    <h3 class="text-primary">$28</h3>
                  </div>

                  <div>
                    <a href="booking-step-1.html" class="btn btn-xs btn-outline-secondary text-uppercase">Book Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-5">
            <div class="card card-hover">
              <a href="single-hotel-right-sidebar.html" class="position-relative">
                <img class="card-img-top" src="assets/img/holets/hotel-list-07.jpg" alt="Card image cap">
                <div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column">
                  <ul class="list-unstyled d-flex mt-auto text-warning mb-1">
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star-o mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star-o" aria-hidden="true"></i>
                    </li>
                  </ul>
                  <h6 class="text-white font-weight-bold">3 Review</h6>
                </div>
              </a>

              <div class="card-body">
                <h5>
                  <a href="single-hotel-right-sidebar.html" class="card-title text-uppercase">Suspendisse Hotel</a>
                </h5>

                <p class="mb-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut
                  labore et dolore magna
                  aliqua.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <p class="mb-0 text-capitalize">Per night</p>
                    <h3 class="text-primary">$26</h3>
                  </div>

                  <div>
                    <a href="booking-step-1.html" class="btn btn-xs btn-outline-secondary text-uppercase">Book Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-5">
            <div class="card card-hover">
              <a href="single-hotel-right-sidebar.html" class="position-relative">
                <img class="card-img-top" src="assets/img/holets/hotel-list-08.jpg" alt="Card image cap">
                <div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column">
                  <ul class="list-unstyled d-flex mt-auto text-warning mb-1">
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star-o" aria-hidden="true"></i>
                    </li>
                  </ul>
                  <h6 class="text-white font-weight-bold">4 Review</h6>
                </div>
              </a>

              <div class="card-body">
                <h5>
                  <a href="single-hotel-right-sidebar.html" class="card-title text-uppercase">Bloomsbury Hotel</a>
                </h5>

                <p class="mb-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut
                  labore et dolore magna
                  aliqua.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <p class="mb-0 text-capitalize">Per night</p>
                    <h3 class="text-primary">$35</h3>
                  </div>

                  <div>
                    <a href="booking-step-1.html" class="btn btn-xs btn-outline-secondary text-uppercase">Book Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-5">
            <div class="card card-hover">
              <a href="single-hotel-right-sidebar.html" class="position-relative">
                <img class="card-img-top" src="assets/img/holets/hotel-list-09.jpg" alt="Card image cap">
                <div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column">
                  <ul class="list-unstyled d-flex mt-auto text-warning mb-1">
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </li>
                  </ul>
                  <h6 class="text-white font-weight-bold">5 Review</h6>
                </div>
              </a>

              <div class="card-body">
                <h5>
                  <a href="single-hotel-right-sidebar.html" class="card-title text-uppercase">Rookery Hotel</a>
                </h5>

                <p class="mb-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut
                  labore et dolore magna
                  aliqua.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <p class="mb-0 text-capitalize">Per night</p>
                    <h3 class="text-primary">$40</h3>
                  </div>

                  <div>
                    <a href="booking-step-1.html" class="btn btn-xs btn-outline-secondary text-uppercase">Book Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  @@include('pagination.htm')
</section>

@@include('footer.htm')