@@include('header-2.htm', {
	"title": "Star Travel - Tour Booking Theme",
	"parents": "home",
	"active": "home-city"
})

<!-- ====================================
———	BANNER SECTION
===================================== -->
<section id="rev_slider_18_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="home-2"
	data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
	<!-- START REVOLUTION SLIDER 5.4.8.1 fullwidth mode -->
	<div id="rev_slider_18_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.8.1">
		<ul>
			<!-- SLIDE  -->
			<li data-index="rs-58" data-transition="slideoverdown" data-slotamount="default" data-hideafterloop="0"
				data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default"
				data-thumb="assets/img/home-city/slider/slider-01.jpg" data-delay="6000" data-rotate="0" data-saveperformance="off"
				data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
				data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
				<!-- MAIN IMAGE -->
				<img src="assets/img/home-city/slider/slider-01.jpg" alt="" data-bgposition="center center" data-bgfit="cover"
					data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina style="width: 100% !important">
				<!-- LAYERS -->

				<!-- LAYER NR. 1 -->
				<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-58-layer-1"
					data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
					data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap"
					data-type="shape" data-basealign="slide" data-responsive_offset="on"
					data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+5680","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
					data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
					style="z-index: 5;background-color:rgba(0,0,0,0.15);"> </div>

				<!-- LAYER NR. 2 -->
				<div class="tp-caption   tp-resizeme" id="slide-58-layer-2" data-x="['center','center','center','center']"
					data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
					data-voffset="['-90','-90','-55','-55']" data-fontsize="['55','50','37','19']"
					data-lineheight="['55','50','37','37']" data-width="none" data-height="none" data-whitespace="nowrap"
					data-type="text" data-responsive_offset="on"
					data-frames='[{"delay":650,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+3340","speed":300,"frame":"999","to":"y:50px;opacity:0;","ease":"Power3.easeInOut"}]'
					data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
					style="z-index: 6; white-space: wrap; font-size: 55px; line-height: 55px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:Ubuntu;text-transform:uppercase;">
					Discover Star City Places </div>

				<!-- LAYER NR. 3 -->
				<div class="tp-caption   tp-resizeme" id="slide-58-layer-3" data-x="['center','center','center','center']"
					data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
					data-voffset="['0','0','0','0']" data-fontsize="['20','20','15','14']" data-lineheight="['21','21','16','16']"
					data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
					data-frames='[{"delay":750,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+3240","speed":300,"frame":"999","to":"y:50px;opacity:0;","ease":"Power3.easeInOut"}]'
					data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
					style="z-index: 7; white-space: wrap; font-size: 20px; line-height: 21px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Ubuntu;">
					More than 100 places to visit and 30 Hotels to stay </div>

				<!-- LAYER NR. 4 -->
				<a href="packages-grid-left-sidebar.html" class="tp-caption rev-btn " id="slide-58-layer-4" data-x="['center','center','center','center']"
					data-hoffset="['-100','-100','-100','-101']" data-y="['middle','middle','middle','middle']"
					data-voffset="['90','90','70','85']" data-fontsize="['14','14','14','11']" data-width="none"
					data-height="none" data-whitespace="nowrap" data-type="button" data-responsive_offset="on"
					data-responsive="on"
					data-frames='[{"delay":850,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+3140","speed":300,"frame":"999","to":"y:50px;opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(255,137,30);bc:rgb(255,137,30);"}]'
					data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[14,14,14,14]"
					data-paddingright="[31,31,31,31]" data-paddingbottom="[14,14,14,14]" data-paddingleft="[31,31,31,31]"
					style="z-index: 8; white-space: wrap; font-size: 14px; line-height: 17px; font-weight: 400; color: rgba(255,255,255,1); letter-spacing: 0;font-family:Ubuntu;text-transform:uppercase;border-color:rgb(255,255,255);border-style:solid;border-width:2px 2px 2px 2px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
					View Tours </a>

				<!-- LAYER NR. 5 -->
				<a href="hotels-grid-left-sidebar.html" class="tp-caption rev-btn " id="slide-58-layer-5" data-x="['center','center','center','center']"
					data-hoffset="['100','100','100','100']" data-y="['middle','middle','middle','middle']"
					data-voffset="['90','90','70','85']" data-fontsize="['14','14','14','11']" data-width="none"
					data-height="none" data-whitespace="nowrap" data-type="button" data-responsive_offset="on"
					data-responsive="on"
					data-frames='[{"delay":850,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+3140","speed":300,"frame":"999","to":"y:50px;opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(255,137,30);bc:rgb(255,137,30);"}]'
					data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[14,14,14,14]"
					data-paddingright="[31,31,31,31]" data-paddingbottom="[14,14,14,14]" data-paddingleft="[31,31,31,31]"
					style="z-index: 9; white-space: wrap; font-size: 14px; line-height: 17px; font-weight: 400; color: rgba(255,255,255,1); letter-spacing: 0;font-family:Ubuntu;text-transform:uppercase;border-color:rgb(255,255,255);border-style:solid;border-width:2px 2px 2px 2px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
					View Hotels </a>
			</li>
			<!-- SLIDE  -->
			<li data-index="rs-59" data-transition="slideoverdown" data-slotamount="default" data-hideafterloop="0"
				data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default"
				data-thumb="assets/img/home-city/slider/slider-02.jpg" data-delay="6000" data-rotate="0" data-saveperformance="off"
				data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
				data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
				<!-- MAIN IMAGE -->
				<img src="assets/img/home-city/slider/slider-02.jpg" alt="" data-bgposition="center center" data-bgfit="cover"
					data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina style="width: 100% !important">
				<!-- LAYERS -->

				<!-- LAYER NR. 6 -->
				<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-59-layer-1"
					data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
					data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap"
					data-type="shape" data-basealign="slide" data-responsive_offset="on"
					data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+5680","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
					data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
					style="z-index: 5;background-color:rgba(0,0,0,0.15);"> </div>

				<!-- LAYER NR. 7 -->
				<div class="tp-caption   tp-resizeme" id="slide-59-layer-2" data-x="['center','center','center','center']"
					data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
					data-voffset="['-90','-90','-55','-55']" data-fontsize="['55','50','37','19']"
					data-lineheight="['55','50','37','37']" data-width="none" data-height="none" data-whitespace="nowrap"
					data-type="text" data-responsive_offset="on"
					data-frames='[{"delay":650,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+3340","speed":300,"frame":"999","to":"y:50px;opacity:0;","ease":"Power3.easeInOut"}]'
					data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
					style="z-index: 6; white-space: wrap; font-size: 55px; line-height: 55px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:Ubuntu;text-transform:uppercase;">
					Discover Star City Places </div>

				<!-- LAYER NR. 8 -->
				<div class="tp-caption   tp-resizeme" id="slide-59-layer-3" data-x="['center','center','center','center']"
					data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
					data-voffset="['0','0','0','0']" data-fontsize="['20','20','15','14']" data-lineheight="['21','21','16','16']"
					data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
					data-frames='[{"delay":750,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+3240","speed":300,"frame":"999","to":"y:50px;opacity:0;","ease":"Power3.easeInOut"}]'
					data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
					style="z-index: 7; white-space: wrap; font-size: 20px; line-height: 21px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Ubuntu;">
					More than 100 places to visit and 30 Hotels to stay </div>

				<!-- LAYER NR. 9 -->
				<a href="packages-grid-left-sidebar.html" class="tp-caption rev-btn " id="slide-59-layer-4" data-x="['center','center','center','center']"
					data-hoffset="['-100','-100','-100','-96']" data-y="['middle','middle','middle','middle']"
					data-voffset="['90','90','70','85']" data-fontsize="['14','14','14','11']" data-width="none"
					data-height="none" data-whitespace="nowrap" data-type="button" data-responsive_offset="on"
					data-responsive="on"
					data-frames='[{"delay":850,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+3140","speed":300,"frame":"999","to":"y:50px;opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(255,137,30);bc:rgb(255,137,30);"}]'
					data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[14,14,14,14]"
					data-paddingright="[31,31,31,31]" data-paddingbottom="[14,14,14,14]" data-paddingleft="[31,31,31,31]"
					style="z-index: 8; white-space: wrap; font-size: 14px; line-height: 17px; font-weight: 400; color: rgba(255,255,255,1); letter-spacing: 0;font-family:Ubuntu;text-transform:uppercase;border-color:rgb(255,255,255);border-style:solid;border-width:2px 2px 2px 2px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
					View Tours </a>

				<!-- LAYER NR. 10 -->
				<a href="hotels-grid-left-sidebar.html" class="tp-caption rev-btn " id="slide-59-layer-5" data-x="['center','center','center','center']"
					data-hoffset="['100','100','100','100']" data-y="['middle','middle','middle','middle']"
					data-voffset="['90','90','70','85']" data-fontsize="['14','14','14','11']" data-width="none"
					data-height="none" data-whitespace="nowrap" data-type="button" data-responsive_offset="on"
					data-responsive="on"
					data-frames='[{"delay":850,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+3140","speed":300,"frame":"999","to":"y:50px;opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(255,137,30);bc:rgb(255,137,30);"}]'
					data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[14,14,14,14]"
					data-paddingright="[31,31,31,31]" data-paddingbottom="[14,14,14,14]" data-paddingleft="[31,31,31,31]"
					style="z-index: 9; white-space: wrap; font-size: 14px; line-height: 17px; font-weight: 400; color: rgba(255,255,255,1); letter-spacing: 0;font-family:Ubuntu;text-transform:uppercase;border-color:rgb(255,255,255);border-style:solid;border-width:2px 2px 2px 2px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
					View Hotels </a>
			</li>
			<!-- SLIDE  -->
			<li data-index="rs-60" data-transition="slideoverdown" data-slotamount="default" data-hideafterloop="0"
				data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default"
				data-thumb="assets/img/home-city/slider/slider-03.jpg" data-delay="6000" data-rotate="0" data-saveperformance="off"
				data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
				data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
				<!-- MAIN IMAGE -->
				<img src="assets/img/home-city/slider/slider-03.jpg" alt="" data-bgposition="center center" data-bgfit="cover"
					data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina style="width: 100% !important">
				<!-- LAYERS -->

				<!-- LAYER NR. 11 -->
				<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-60-layer-1"
					data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
					data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap"
					data-type="shape" data-basealign="slide" data-responsive_offset="on"
					data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+5680","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
					data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
					style="z-index: 5;background-color:rgba(0,0,0,0.15);"> </div>

				<!-- LAYER NR. 12 -->
				<div class="tp-caption   tp-resizeme" id="slide-60-layer-2" data-x="['center','center','center','center']"
					data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
					data-voffset="['-90','-90','-55','-55']" data-fontsize="['55','50','37','19']"
					data-lineheight="['55','50','37','37']" data-width="none" data-height="none" data-whitespace="nowrap"
					data-type="text" data-responsive_offset="on"
					data-frames='[{"delay":650,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+3340","speed":300,"frame":"999","to":"y:50px;opacity:0;","ease":"Power3.easeInOut"}]'
					data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
					style="z-index: 6; white-space: wrap; font-size: 55px; line-height: 55px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:Ubuntu;text-transform:uppercase;">
					Discover Star City Places </div>

				<!-- LAYER NR. 13 -->
				<div class="tp-caption   tp-resizeme" id="slide-60-layer-3" data-x="['center','center','center','center']"
					data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
					data-voffset="['0','0','0','0']" data-fontsize="['20','20','15','14']" data-lineheight="['21','21','16','16']"
					data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
					data-frames='[{"delay":750,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+3240","speed":300,"frame":"999","to":"y:50px;opacity:0;","ease":"Power3.easeInOut"}]'
					data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
					style="z-index: 7; white-space: wrap; font-size: 20px; line-height: 21px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Ubuntu;">
					More than 100 places to visit and 30 Hotels to stay </div>

				<!-- LAYER NR. 14 -->
				<a href="packages-grid-left-sidebar.html" class="tp-caption rev-btn " id="slide-60-layer-4" data-x="['center','center','center','center']"
					data-hoffset="['-100','-100','-100','-100']" data-y="['middle','middle','middle','middle']"
					data-voffset="['90','90','70','85']" data-fontsize="['14','14','14','11']" data-width="none"
					data-height="none" data-whitespace="nowrap" data-type="button" data-responsive_offset="on"
					data-responsive="on"
					data-frames='[{"delay":850,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+3140","speed":300,"frame":"999","to":"y:50px;opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(255,137,30);bc:rgb(255,137,30);"}]'
					data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[14,14,14,14]"
					data-paddingright="[31,31,31,31]" data-paddingbottom="[14,14,14,14]" data-paddingleft="[31,31,31,31]"
					style="z-index: 8; white-space: wrap; font-size: 14px; line-height: 17px; font-weight: 400; color: rgba(255,255,255,1); letter-spacing: 0;font-family:Ubuntu;text-transform:uppercase;border-color:rgb(255,255,255);border-style:solid;border-width:2px 2px 2px 2px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
					View Tours </a>

				<!-- LAYER NR. 15 -->
				<a href="hotels-grid-left-sidebar.html" class="tp-caption rev-btn " id="slide-60-layer-5" data-x="['center','center','center','center']"
					data-hoffset="['100','100','100','100']" data-y="['middle','middle','middle','middle']"
					data-voffset="['90','90','70','85']" data-fontsize="['14','14','14','11']" data-width="none"
					data-height="none" data-whitespace="nowrap" data-type="button" data-responsive_offset="on"
					data-responsive="on"
					data-frames='[{"delay":850,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+3140","speed":300,"frame":"999","to":"y:50px;opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(255,137,30);bc:rgb(255,137,30);"}]'
					data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[14,14,14,14]"
					data-paddingright="[31,31,31,31]" data-paddingbottom="[14,14,14,14]" data-paddingleft="[31,31,31,31]"
					style="z-index: 9; white-space: wrap; font-size: 14px; line-height: 17px; font-weight: 400; color: rgba(255,255,255,1); letter-spacing: 0;font-family:Ubuntu;text-transform:uppercase;border-color:rgb(255,255,255);border-style:solid;border-width:2px 2px 2px 2px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
					View Hotels </a>
			</li>
		</ul>
		<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
	</div>
</section>

<!-- ====================================
———	POPULAR TOURS SECTION
===================================== -->
<section class="bg-smoke py-8 py-lg-10">
	<div class="container">
		<div class="text-center section-title2">
			<h2 class="text-uppercase font-weight-bold position-relative">
				<span class="bg-smoke">Most Popular Tours</span>
			</h2>
			<p class="text-capitalize text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>

		<div class="row justify-content-center">
			<div class="col-md-6 col-lg-4">
				<div class="card card-hover mb-5 mb-lg-0">
					<a href="single-package-left-sidebar.html" class="position-relative">
						<img class="card-img-top" src="assets/img/packages/most-populer-img-01.jpg" alt="Card image cap">
						<div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column"></div>
					</a>
					
					<div class="card-body">
						<h5>
							<a href="single-package-left-sidebar.html" class="card-title text-uppercase">Museum of london</a>
						</h5>
						<p class="mb-5">Integer purus ex, dictum nec elementum eu, tristique vel lectus. Donec rutrum lectus et pharetra
							egestas.</p>
						<div class="d-flex justify-content-between align-items-center">
							<div>
								<p class="mb-0 text-capitalize">Start from</p>
								<h3 class="text-primary">$299</h3>
							</div>
							<div>
								<a href="javascript:void(0)" class="btn btn-xs btn-outline-secondary">
									<i class="fa fa-heart-o" aria-hidden="true"></i>
								</a>
								<a href="booking-step-1.html" class="btn btn-xs btn-outline-secondary text-uppercase">Book Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-4">
				<div class="card card-hover mb-5 mb-lg-0">
					<a href="single-package-left-sidebar.html" class="position-relative">
						<img class="card-img-top" src="assets/img/packages/most-populer-img-02.jpg" alt="Card image cap">
						<div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column"></div>
					</a>
					<div class="card-body">
						<h5>
							<a href="single-package-left-sidebar.html" class="card-title text-uppercase">London Eye Tour</a>
						</h5>
						<p class="mb-5">Proin convallis magna vel libero accumsan sollicitudin. Quisque dapibus vitae turpis eu magna sagittis.</p>
						<div class="d-flex justify-content-between align-items-center">
							<div>
								<p class="mb-0 text-capitalize">Start from</p>
								<h3 class="text-primary">$499</h3>
							</div>
							<div>
								<a href="javascript:void(0)" class="btn btn-xs btn-outline-secondary">
									<i class="fa fa-heart-o" aria-hidden="true"></i>
								</a>
								<a href="booking-step-1.html" class="btn btn-xs btn-outline-secondary text-uppercase">Book Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-4">
				<div class="card card-hover mb-5 mb-lg-0">
					<a href="single-package-left-sidebar.html" class="position-relative">
						<img class="card-img-top" src="assets/img/packages/most-populer-img-03.jpg" alt="Card image cap">
						<div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column"></div>
					</a>
					<div class="card-body">
						<h5>
							<a href="single-package-left-sidebar.html" class="card-title text-uppercase">London Bridge Tour</a>
						</h5>
						<p class="mb-5">Vivamus eu mattis nibh. Quisque eget ipsum at odio fringilla consequat vel id erat. Suspendisse non feugiat mi.</p>
						<div class="d-flex justify-content-between align-items-center">
							<div>
								<p class="mb-0 text-capitalize">Start from</p>
								<h3 class="text-primary">$399</h3>
							</div>
							<div>
								<a href="javascript:void(0)" class="btn btn-xs btn-outline-secondary">
									<i class="fa fa-heart-o" aria-hidden="true"></i>
								</a>
								<a href="booking-step-1.html" class="btn btn-xs btn-outline-secondary text-uppercase">Book Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="text-center mt-5 mt-lg-7">
			<a href="packages-grid-left-sidebar.html" class="btn btn-hover btn-outline-secondary text-uppercase">View all tours</a>
		</div>
	</div>
</section>

<!-- ====================================
———	AMAZING SECTION
===================================== -->
<section class="dzsparallaxer auto-init use-loading white-paralax">
	<div class="divimage dzsparallaxer--target bg-overlay-dark" style="height: 700px;"
		data-src="assets/img/home-city/amazing-hotel-bg.jpg">
	</div>

	<div class="container paralax-container">
		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="text-center mb-7">
					<h2 class="text-uppercase text-white font-weight-bold mb-2">Amazing Hotels and hostels</h2>
					<h4 class="text-white">We’ve pre-picked the best hotels, Hostels and bed and breckfast to make your stay enjoyable.
					</h4>
				</div>

				<form method="GET" action="index.html">
					<div class="form-row justify-content-center">
						<div class="col-lg-6">
							<div class="form-row">
								<div class="col-md-6">
									<div class="form-group form-group-icon form-group-icon-white mb-lg-0">
										<i class="fa fa-calendar" aria-hidden="true"></i>
										<input type="text" class="form-control daterange-picker-white" name="dateRange" value=""
											placeholder="check-in" />
									</div>
								</div>
				
								<div class="col-md-6">
									<div class="form-group form-group-icon form-group-icon-white mb-lg-0">
										<i class="fa fa-calendar" aria-hidden="true"></i>
										<input type="text" class="form-control daterange-picker-white" name="dateRange" value=""
											placeholder="check-out" />
									</div>
								</div>
							</div>
						</div>
				
						<div class="col-lg-5">
							<div class="form-row">
								<div class="col-md-6 col-lg-7">
									<div class="form-group">
										<div class="select-default select-white">
											<select class="select-option">
												<option>3 guests</option>
												<option>2 guests</option>
												<option>1 guest</option>
											</select>
										</div>
									</div>
								</div>
				
								<div class="col-md-6 col-lg-5">
									<div class="form-group">
										<button class="btn btn-primary btn-block text-uppercase" type="button" onclick="location.href='javascript:void(0)';">
											Search
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

<!-- ====================================
———	TOP HOTELS SECTION
===================================== -->
<section class="py-8 py-lg-10">
	<div class="container">
		<div class="text-center section-title2">
			<h2 class="text-uppercase font-weight-bold position-relative">
				<span class="bg-white">Top Hotels</span>
			</h2>
			<p class="text-capitalize text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>

		<div class="row justify-content-center">
			<div class="col-md-6 col-lg-4">
				<div class="card card-bg mb-5 mb-lg-0">
					<a href="single-hotel-right-sidebar.html" class="position-relative">
						<img class="card-img-top" src="assets/img/holets/hotel-list-10.jpg" alt="Card image cap">
						<div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column">
							<ul class="list-unstyled d-flex mt-auto text-warning mb-1">
								<li>
									<i class="fa fa-star mr-1" aria-hidden="true"></i>
								</li>
								<li>
									<i class="fa fa-star mr-1" aria-hidden="true"></i>
								</li>
								<li>
									<i class="fa fa-star mr-1" aria-hidden="true"></i>
								</li>
								<li>
									<i class="fa fa-star mr-1" aria-hidden="true"></i>
								</li>
								<li>
									<i class="fa fa-star" aria-hidden="true"></i>
								</li>
							</ul>
							<h6 class="text-white font-weight-bold">55 Review</h6>
						</div>
					</a>

					<div class="card-body">
						<h5>
							<a href="single-hotel-right-sidebar.html" class="card-title text-uppercase">Marriott Hotel London</a>
						</h5>

						<p class="mb-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
						<div class="d-flex justify-content-between align-items-center">
							<div>
								<p class="mb-0 text-capitalize">Per night</p>
								<h3 class="text-primary">$24</h3>
							</div>

							<div>
								<a href="booking-step-1.html" class="btn btn-xs btn-outline-secondary text-uppercase">Book Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-4">
				<div class="card card-bg mb-5 mb-lg-0">
					<a href="single-hotel-right-sidebar.html" class="position-relative">
						<img class="card-img-top" src="assets/img/holets/hotel-list-11.jpg" alt="Card image cap">
						<div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column">
							<ul class="list-unstyled d-flex mt-auto text-warning mb-1">
								<li>
									<i class="fa fa-star mr-1" aria-hidden="true"></i>
								</li>
								<li>
									<i class="fa fa-star mr-1" aria-hidden="true"></i>
								</li>
								<li>
									<i class="fa fa-star mr-1" aria-hidden="true"></i>
								</li>
								<li>
									<i class="fa fa-star mr-1" aria-hidden="true"></i>
								</li>
								<li>
									<i class="fa fa-star" aria-hidden="true"></i>
								</li>
							</ul>
							<h6 class="text-white font-weight-bold">31 Review</h6>
						</div>
					</a>
			
					<div class="card-body">
						<h5>
							<a href="single-hotel-right-sidebar.html" class="card-title text-uppercase">Museum of london</a>
						</h5>
			
						<p class="mb-7">Integer purus ex, dictum nec elementum eu, tristique vel lectus. Donec rutrum</p>
						<div class="d-flex justify-content-between align-items-center">
							<div>
								<p class="mb-0 text-capitalize">Per night</p>
								<h3 class="text-primary">$29</h3>
							</div>
			
							<div>
								<a href="booking-step-1.html" class="btn btn-xs btn-outline-secondary text-uppercase">Book Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-4">
				<div class="card card-bg mb-5 mb-lg-0">
					<a href="single-hotel-right-sidebar.html" class="position-relative">
						<img class="card-img-top" src="assets/img/holets/hotel-list-12.jpg" alt="Card image cap">
						<div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column">
							<ul class="list-unstyled d-flex mt-auto text-warning mb-1">
								<li>
									<i class="fa fa-star mr-1" aria-hidden="true"></i>
								</li>
								<li>
									<i class="fa fa-star mr-1" aria-hidden="true"></i>
								</li>
								<li>
									<i class="fa fa-star mr-1" aria-hidden="true"></i>
								</li>
								<li>
									<i class="fa fa-star mr-1" aria-hidden="true"></i>
								</li>
								<li>
									<i class="fa fa-star" aria-hidden="true"></i>
								</li>
							</ul>
							<h6 class="text-white font-weight-bold">45 Review</h6>
						</div>
					</a>
			
					<div class="card-body">
						<h5>
							<a href="single-hotel-right-sidebar.html" class="card-title text-uppercase">Marriott Hotel Room</a>
						</h5>
			
						<p class="mb-7">Vivamus eu mattis nibh. Quisque eget ipsum at odio fringilla consequat vel id</p>
						<div class="d-flex justify-content-between align-items-center">
							<div>
								<p class="mb-0 text-capitalize">Per night</p>
								<h3 class="text-primary">$37</h3>
							</div>
			
							<div>
								<a href="booking-step-1.html" class="btn btn-xs btn-outline-secondary text-uppercase">Book Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="text-center mt-5 mt-lg-7">
			<a href="hotels-list-left-sidebar.html" class="btn btn-hover btn-outline-secondary text-uppercase">View all tours</a>
		</div>
	</div>
</section>

<!-- ====================================
———	FOOD & DRINK SECTION
===================================== -->
<section class="media media-list d-block bg-smoke">
	<div class="px-6 py-10 p-md-0">
		<div class="row no-gutters align-items-md-center">
			<div class="col-md-6 overflow-hidden d-none d-md-block">
				<img src="assets/img/home-city/fooddrink-img-1.jpg" alt="image">
			</div>
		
			<div class="col-md-5 pl-md-6">
				<div class="">
					<h2 class="text-uppercase font-weight-bold">Food and <span class="text-primary">drink</span></h2>
					<p class="">Lorem ipsum dolor sit amet, consectetur</p>
				</div>
		
				<ul class="list-group">
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<div>
							<p class="mb-0 text-uppercase font-weight-bold text-dark">Indian Tandoori</p>
							<a href="" class="text-uppercase">View in map</a>
						</div>
						<span class="badge badge-pill badge-pill-sm">5 Places</span>
					</li>
		
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<div>
							<p class="mb-0 text-uppercase font-weight-bold text-dark">Chicken Wings</p>
							<a href="" class="text-uppercase">View in map</a>
						</div>
						<span class="badge badge-pill badge-pill-sm">8 Places</span>
					</li>
		
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<div>
							<p class="mb-0 text-uppercase font-weight-bold text-dark">Indian Tandoori</p>
							<a href="" class="text-uppercase">View in map</a>
						</div>
						<span class="badge badge-pill badge-pill-sm">2 Places</span>
					</li>
		
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<div>
							<p class="mb-0 text-uppercase font-weight-bold text-dark">Chicken Wings</p>
							<a href="" class="text-uppercase">View in map</a>
						</div>
						<span class="badge badge-pill badge-pill-sm">3 Places</span>
					</li>
		
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<div>
							<p class="mb-0 text-uppercase font-weight-bold text-dark">Indian Tandoori</p>
							<a href="" class="text-uppercase">View in map</a>
						</div>
						<span class="badge badge-pill badge-pill-sm">6 Places</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
</section>


<!-- ====================================
———	STAR CITY SECTION
===================================== -->
<section class="py-10">
	<div class="container">
		<div class="text-center section-title2">
			<h2 class="text-uppercase font-weight-bold position-relative">
				<span class="bg-white">Sights in Star City</span>
			</h2>
			<p class="text-capitalize text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>

		<div class="row">
			<div class="col-md-6 col-lg-4">
				<div class="media media-sm align-items-center border-bottom">
					<a href="destination-single-city.html">
						<img class="" src="assets/img/home-city/sight-img-1.jpg" alt="city-img">
					</a>

					<div class="media-body">
						<h6 class="text-uppercase"><a href="destination-single-city.html">Coca cola London eye</a></h6>
						<a href="destination-single-city.html" class="text-uppercase">
							<i class="fa fa-map-marker" aria-hidden="true"></i> View in map
						</a>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-4">
				<div class="media media-sm align-items-center border-bottom">
					<a href="destination-single-city.html">
						<img class="" src="assets/img/home-city/sight-img-4.jpg" alt="city-img">
					</a>
				
					<div class="media-body">
						<h6 class="text-uppercase"><a href="destination-single-city.html">Big ben tower</a></h6>
						<a href="destination-single-city.html" class="text-uppercase">
							<i class="fa fa-map-marker" aria-hidden="true"></i> View in map
						</a>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-4">
				<div class="media media-sm align-items-center border-bottom">
					<a href="destination-single-city.html">
						<img class="" src="assets/img/home-city/sight-img-7.jpg" alt="city-img">
					</a>
				
					<div class="media-body">
						<h6 class="text-uppercase"><a href="destination-single-city.html">The british museum</a></h6>
						<a href="destination-single-city.html" class="text-uppercase">
							<i class="fa fa-map-marker" aria-hidden="true"></i> View in map
						</a>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-4">
				<div class="media media-sm align-items-center border-bottom">
					<a href="destination-single-city.html">
						<img class="" src="assets/img/home-city/sight-img-2.jpg" alt="city-img">
					</a>
				
					<div class="media-body">
						<h6 class="text-uppercase"><a href="destination-single-city.html">Royal Botanical Garden</a></h6>
						<a href="destination-single-city.html" class="text-uppercase">
							<i class="fa fa-map-marker" aria-hidden="true"></i> View in map
						</a>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-4">
				<div class="media media-sm align-items-center border-bottom">
					<a href="destination-single-city.html">
						<img class="" src="assets/img/home-city/sight-img-5.jpg" alt="city-img">
					</a>

					<div class="media-body">
						<h6 class="text-uppercase"><a href="destination-single-city.html">Barbican opera house</a></h6>
						<a href="destination-single-city.html" class="text-uppercase">
							<i class="fa fa-map-marker" aria-hidden="true"></i> View in map
						</a>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-4">
				<div class="media media-sm align-items-center border-bottom">
					<a href="destination-single-city.html">
						<img class="" src="assets/img/home-city/sight-img-8.jpg" alt="city-img">
					</a>
				
					<div class="media-body">
						<h6 class="text-uppercase"><a href="destination-single-city.html">Marriott Hotel London</a></h6>
						<a href="destination-single-city.html" class="text-uppercase">
							<i class="fa fa-map-marker" aria-hidden="true"></i> View in map
						</a>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-4">
				<div class="media media-sm align-items-center border-bottom">
					<a href="destination-single-city.html">
						<img class="" src="assets/img/home-city/sight-img-3.jpg" alt="city-img">
					</a>
				
					<div class="media-body">
						<h6 class="text-uppercase"><a href="destination-single-city.html">Tower of london</a></h6>
						<a href="destination-single-city.html" class="text-uppercase">
							<i class="fa fa-map-marker" aria-hidden="true"></i> View in map
						</a>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-4">
				<div class="media media-sm align-items-center border-bottom">
					<a href="destination-single-city.html">
						<img class="" src="assets/img/home-city/sight-img-6.jpg" alt="city-img">
					</a>
				
					<div class="media-body">
						<h6 class="text-uppercase"><a href="destination-single-city.html">Imperial war museum</a></h6>
						<a href="destination-single-city.html" class="text-uppercase">
							<i class="fa fa-map-marker" aria-hidden="true"></i> View in map
						</a>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-4">
				<div class="media media-sm align-items-center border-bottom">
					<a href="destination-single-city.html">
						<img class="" src="assets/img/home-city/sight-img-9.jpg" alt="city-img">
					</a>

					<div class="media-body">
						<h6 class="text-uppercase"><a href="destination-single-city.html">Novotel Hotel</a></h6>
						<a href="destination-single-city.html" class="text-uppercase">
							<i class="fa fa-map-marker" aria-hidden="true"></i> View in map
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="text-center mt-1">
			<a href="destination-cities.html" class="btn btn-hover btn-outline-secondary text-uppercase">See All Sights</a>
		</div>
	</div>
</section>

<!-- ====================================
———	CITY TOUR SECTION
===================================== -->
<section class="dzsparallaxer auto-init use-loading city-paralax">
	<div class="divimage dzsparallaxer--target bg-overlay-dark" style="height: 600px;"
		data-src="assets/img/home-city/exclusive-day-bg.jpg">
	</div>

	<div class="container paralax-container">
		<div class="row align-items-center justify-content-center text-center">
			<div class="col-md-8 col-lg-12">
				<div class="content mb-7">
					<h2 class="text-uppercase text-white font-weight-bold mb-2 px-5 px-md-0">Exclusive 5 days star city tour <span class="text-primary"> from $299</span></h2>
					<h4 class="text-white">This includes 3 sight seen 2 museums and1 art gallery tour</h4>
				</div>
				
				<a href="single-package-right-sidebar.html" class="btn btn-primary text-uppercase">View Details</a>
			</div>
		</div>
	</div>
</section>

<!-- ====================================
———	TOUR PLAN SECTION
===================================== -->
<section class="bg-smoke py-10">
	<div class="container">
		<div class="text-center section-title2">
			<h2 class="text-uppercase font-weight-bold position-relative">
				<span class="bg-smoke">Why Plan a tour to star city?</span>
			</h2>
			<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>

		<div class="row justify-content-center">
			<div class="col-md-6 col-lg-4 mb-6 mb-lg-0">
				<div class="card card-bg-white">
					<div class="icon-xl border rounded-circle m-auto">
						<i class="fa fa-map-marker text-primary" aria-hidden="true"></i>
					</div>
			
					<div class="card-body text-center">
						<h6 class="text-uppercase">29 Amazing places <br> and spots to visit</h6>
						<a href="destination-cities.html" class="text-uppercase">View all Spots</a>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-4 mb-6 mb-lg-0">
				<div class="card card-bg-white">
					<div class="icon-xl border rounded-circle m-auto">
						<i class="fa fa-beer text-primary" aria-hidden="true"></i>
					</div>

					<div class="card-body text-center">
						<h6 class="text-uppercase">Traditional Food <br> and drink</h6>
						<a href="destination-cities.html" class="text-uppercase">View all Spots</a>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-4">
				<div class="card card-bg-white">
					<div class="icon-xl border rounded-circle m-auto">
						<i class="fa fa-umbrella text-primary" aria-hidden="true"></i>
					</div>

					<div class="card-body text-center">
						<h6 class="text-uppercase">Excellent weather <br> and special services</h6>
						<a href="destination-cities.html" class="text-uppercase">View all Spots</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- ====================================
———	PHOTO GALLERY SECTION
===================================== -->
<section class="py-8 py-lg-10">
	<div class="container">
		<div class="text-center section-title2">
			<h2 class="text-uppercase font-weight-bold position-relative">
				<span class="bg-white">Photo Gallery</span>
			</h2>
			<p class="text-capitalize text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>

		<div class="row">
			<div class="col-md-10 offset-md-1">
				<div class="gallery-slider">
					<div class="item">
						<div class="slick-img">
							<img src="assets/img/home-city/slider/photo-slider-01.jpg" alt="image">
						</div>
					</div>

					<div class="item">
						<div class="slick-img">
							<img src="assets/img/home-city/slider/photo-slider-02.jpg" alt="image">
						</div>
					</div>

					<div class="item">
						<div class="slick-img">
							<img src="assets/img/home-city/slider/photo-slider-03.jpg" alt="image">
						</div>
					</div>

					<div class="item">
						<div class="slick-img">
							<img src="assets/img/home-city/slider/photo-slider-01.jpg" alt="image">
						</div>
					</div>

					<div class="item">
						<div class="slick-img">
							<img src="assets/img/home-city/slider/photo-slider-02.jpg" alt="image">
						</div>
					</div>

					<div class="item">
						<div class="slick-img">
							<img src="assets/img/home-city/slider/photo-slider-03.jpg" alt="image">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- ====================================
———	TRAVEL GUIDE SECTION
===================================== -->
<section class="bg-smoke py-10 media-center">
	<div class="container">
		<div class="row align-items-lg-center">
			<div class="col-md-6">
				<div class="media-img mb-10 mb-md-0">
					<img class="img-fluid" src="assets/img/home-city/tour-guide-img.png" alt="image">
					<div class="media-img-overlay">
						<div class="media-content">
							<span class="d-block text-primary">Free pdf</span>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="mb-7">
					<h2 class="text-uppercase text-uppercase font-weight-bold mb-3">Travel Guide</h2>
					<h4 class="text-uppercase text-gray-color">Start from <span class="text-primary">$255</span></h4>
				</div>
				<p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco nisi ut aliquip ex ea commodo consequat</p>

				<div class="mt-7">
					<a href="" class="btn btn-primary text-uppercase">Get it now</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- ====================================
———	TRAVEL TIPS SECTION
===================================== -->
<section class="py-10">
	<div class="container">
		<div class="text-center section-title2 mb-7">
			<h2 class="text-uppercase font-weight-bold position-relative">
				<span class="bg-white">Get city travel tips</span>
			</h2>
			<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>

		<div class="row">
			<div class="col-lg-6 mb-6">
				<div class="media media-img-wrapper flex-column flex-md-row">
					<div class="img-overlay media-img">
						<img src="assets/img/home-city/travel-tips-img-1.jpg" alt="Generic placeholder image">
						<a href="blog-single-right-sidebar.html" class="hover-img-overlay-dark"></a>
					</div>

					<div class="media-body">
						<h6 class="text-uppercase mb-2">
							<a href="blog-single-right-sidebar.html">Panoramic london city Sightseeing tour</a>
						</h6>
						
						<ul class="list-unstyled d-flex mb-4">
							<li>
								<a class="mr-4" href="javascript:void(0)">
									<i class="fa fa-user-o text-primary" aria-hidden="true"></i>
									<span class="ml-1">by Admin</span>
								</a>
							</li>

							<li>
								<a class="mr-4" href="javascript:void(0)">
									<i class="fa fa-comments-o text-primary" aria-hidden="true"></i>
									<span class="ml-1">Comments</span>
								</a>
							</li>
						</ul>

						<p>Lorem ipsum dolor sit amet consectetur adipisicing sed do eiusmodtempor incididunt ut laboet dolore magna aliqua Ut enim ad minim veniam</p>
						<a href="blog-single-right-sidebar.html" class="text-uppercase">read more</a>
					</div>
				</div>
			</div>

			<div class="col-lg-6 mb-2">
				<div class="media media-img-wrapper flex-column flex-md-row">
					<div class="img-overlay media-img">
						<img src="assets/img/home-city/travel-tips-img-2.jpg" alt="Generic placeholder image">
						<a href="blog-single-right-sidebar.html" class="hover-img-overlay-dark"></a>
					</div>
			
					<div class="media-body">
						<h6 class="text-uppercase mb-2">
							<a href="blog-single-right-sidebar.html">Eiffel Tower Louvre Paris City Museum Tour</a>
						</h6>
			
						<ul class="list-unstyled d-flex mb-4">
							<li>
								<a class="mr-4" href="javascript:void(0)">
									<i class="fa fa-user-o text-primary" aria-hidden="true"></i>
									<span class="ml-1">by Admin</span>
								</a>
							</li>
			
							<li>
								<a class="mr-4" href="javascript:void(0)">
									<i class="fa fa-comments-o text-primary" aria-hidden="true"></i>
									<span class="ml-1">Comments</span>
								</a>
							</li>
						</ul>
			
						<p>Nullam vitae ullamcorper sapien. Donec egestas fermentum leo et molestie. Vestibulum lacinia felis vel felis sodales, in
						viverra tortor bibendum.</p>
						<a href="blog-single-right-sidebar.html" class="text-uppercase">read more</a>
					</div>
				</div>
			</div>
		</div>

		<div class="text-center mt-5 mt-lg-7">
			<a href="blog-grid-three-col.html" class="btn btn-hover btn-outline-secondary text-uppercase">Read all</a>
		</div>
	</div>
</section>

<!-- ====================================
———	OFFER & TIPS SECTION
===================================== -->
<section class="dzsparallaxer auto-init use-loading signup-paralax">
	<div class="divimage dzsparallaxer--target bg-overlay-warning" style="height: 550px;"
		data-src="assets/img/home-city/subscribs-bg.jpg">
	</div>

	<div class="container paralax-container">
		<div class="row align-items-center justify-content-center text-center">
			<div class="col-md-7 col-lg-6">
				<div class="text-center mb-7">
					<h2 class="text-white text-uppercase font-weight-bold">Subscribe to reacive amazing offer and tips</h2>
				</div>

				<form class="" action="index.html" method="GET">
					<div class="form-row align-items-center">
						<div class="col-md-8">
							<div class="form-group">
								<input type="email" class="form-control form-control-white" required="" placeholder="Your email"
									aria-describedby="basic-addon1">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<button type="submit" class="btn btn-block btn-white text-uppercase">Sign up</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

@@include('footer.htm')