@@include('header.htm', {
  "title": "Packages Right Sidebar List View - Star Travel",
  "parents": "tours",
  "active": "packages-list-right-sidebar"
})

@@include('page-title.htm', {
  "title": "Tour Packages",
  "title-border": "title-border",
  "text": "",
  "bg-image": "assets/img/pages/page-title-bg6.jpg"
})

<!-- ====================================
———	TOUR PACKAGES SECTION
===================================== -->
<section class="bg-smoke py-10">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-3 order-lg-1">
        <div class="row">
          <div class="col-md-6 col-lg-12">
            <div class="mb-6 bg-white p-3 border-top border-top-5 border-primary rounded">
              <form class="" action="index.html" method="GET">
                <h4 class="text-uppercase font-weight-bold">Search</h4>
                
                <div class="mb-5">
                  <div class="select-default select-category-1">
                    <select class="select-option">
                      <option>Destinations</option>
                      <option>USA</option>
                      <option>UK</option>
                      <option>Canada</option>
                    </select>
                  </div>
                </div>

                <div class="form-group form-group-icon form-group-icon-dark mb-5">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  <input type="text" class="form-control daterange-picker sidebar-daterange-picker" name="dateRange"
                    value="" placeholder="MM/DD/YYYY" />
                </div>

                <div class="form-group form-group-icon form-group-icon-dark mb-5">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  <input type="text" class="form-control daterange-picker sidebar-daterange-picker" name="dateRange"
                    value="" placeholder="MM/DD/YYYY" />
                </div>

                <button type="button" onclick="location.href='javascript:void(0)';"
                  class="btn btn-block btn-xs btn-outline-secondary text-uppercase">Search</button>
              </form>
            </div>
          </div>

          <div class="col-md-6 col-lg-12">
            <div class="mb-6 bg-white p-3 border-top border-top-5 border-primary rounded">
              <h4 class="text-uppercase font-weight-bold">Price</h4>

              <div class="price-range mt-5" id="price-range">
                <div class="price-range-content mb-5">
                  <span class="price-value" id="lower-value"></span>
                  <span class="mx-3"><i class="fa fa-minus" aria-hidden="true"></i></span>
                  <span class="price-value" id="upper-value"></span>
                </div>
              
                <div class="mb-6" id="slider-non-linear-step"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-lg-9">
        <div class="media media-list-view flex-column flex-md-row mb-5">
          <div class="media-img position-relative">
            <img class="img-fluid position-relative" src="assets/img/packages/package-list-01.jpg" alt="gallery-img">
            <a class="media-img-overlay" data-fancybox="gallery" href="assets/img/packages/package-list-01.jpg"></a>
          </div>

          <div class="media-body">
            <div class="row">
              <div class="col-md-7 col-xl-8">
                <h4>
                  <a class="media-title" href="single-package-right-sidebar.html">Suspendisse Tour</a>
                </h4>
                <div class="rating-view">
                  <span class="content-view text-uppercase">Asia</span>
                  <span class="star add-rating-default"></span>
                </div>

                <p class="mb-md-0">Integer purus ex, dictum nec elementum eu, tristique vel lectus. Donec rutrum lectus
                  et pharetra egestas.</p>
                <div class="date-view">
                  <span><i class="fa fa-calendar" aria-hidden="true"></i> 27 jan, 2019</span>
                  <span><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days</span>
                </div>
              </div>

              <div class="col-md-5 col-xl-4">
                <div class="bg-primary text-center p-3 view-details">
                  <h2 class="text-white font-weight-bold h1">$499</h2>
                  <p class="text-white text-capitalize">Per person</p>
                  <div>
                    <a href="single-package-fullwidth.html"
                      class="btn btn-xs btn-block btn-outline-white btn-booking text-uppercase mb-2">Details</a>
                  </div>
                  <div>
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#inquiry"
                      class="btn btn-xs btn-block btn-outline-white btn-booking text-uppercase mb-2">Inquiry</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="media media-list-view flex-column flex-md-row mb-5">
          <div class="media-img position-relative">
            <img class="img-fluid position-relative" src="assets/img/packages/package-list-02.jpg" alt="gallery-img">
            <a class="media-img-overlay" data-fancybox="gallery" href="assets/img/packages/package-list-02.jpg"></a>
          </div>

          <div class="media-body">
            <div class="row">
              <div class="col-md-7 col-xl-8">
                <h4>
                  <a class="media-title" href="single-package-right-sidebar.html">Maldives Tour</a>
                </h4>
                <div class="rating-view">
                  <span class="content-view text-uppercase">Asia</span>
                  <span class="star add-rating-default"></span>
                </div>

                <p class="mb-md-0">Proin convallis magna vel libero accumsan sollicitudin. Quisque dapibus vitae turpis
                  eu magna sagittis.</p>
                <div class="date-view">
                  <span><i class="fa fa-calendar" aria-hidden="true"></i> 27 jan, 2019</span>
                  <span><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days</span>
                </div>
              </div>

              <div class="col-md-5 col-xl-4">
                <div class="bg-primary text-center p-3 view-details">
                  <h2 class="text-white font-weight-bold h1">$349</h2>
                  <p class="text-white text-capitalize">Per person</p>
                  <div>
                    <a href="single-package-fullwidth.html"
                      class="btn btn-xs btn-block btn-outline-white btn-booking text-uppercase mb-2">Details</a>
                  </div>
                  <div>
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#inquiry"
                      class="btn btn-xs btn-block btn-outline-white btn-booking text-uppercase mb-2">Inquiry</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="media media-list-view flex-column flex-md-row mb-5">
          <div class="media-img position-relative">
            <img class="img-fluid position-relative" src="assets/img/packages/package-list-03.jpg" alt="gallery-img">
            <a class="media-img-overlay" data-fancybox="gallery" href="assets/img/packages/package-list-03.jpg"></a>
          </div>

          <div class="media-body">
            <div class="row">
              <div class="col-md-7 col-xl-8">
                <h4>
                  <a class="media-title" href="single-package-right-sidebar.html">Maldives Tour</a>
                </h4>
                <div class="rating-view">
                  <span class="content-view text-uppercase">Asia</span>
                  <span class="star add-rating-default"></span>
                </div>

                <p class="mb-md-0">Vivamus eu mattis nibh. Quisque eget ipsum at odio fringilla consequat vel id erat.
                  Suspendisse non feugiat mi.</p>
                <div class="date-view">
                  <span><i class="fa fa-calendar" aria-hidden="true"></i> 27 jan, 2019</span>
                  <span><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days</span>
                </div>
              </div>

              <div class="col-md-5 col-xl-4">
                <div class="bg-primary text-center p-3 view-details">
                  <h2 class="text-white font-weight-bold h1">$599</h2>
                  <p class="text-white text-capitalize">Per person</p>
                  <div>
                    <a href="single-package-fullwidth.html"
                      class="btn btn-xs btn-block btn-outline-white btn-booking text-uppercase mb-2">Details</a>
                  </div>
                  <div>
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#inquiry"
                      class="btn btn-xs btn-block btn-outline-white btn-booking text-uppercase mb-2">Inquiry</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="media media-list-view flex-column flex-md-row mb-5">
          <div class="media-img position-relative">
            <img class="img-fluid position-relative" src="assets/img/packages/package-list-04.jpg" alt="gallery-img">
            <a class="media-img-overlay" data-fancybox="gallery" href="assets/img/packages/package-list-04.jpg"></a>
          </div>

          <div class="media-body">
            <div class="row">
              <div class="col-md-7 col-xl-8">
                <h4>
                  <a class="media-title" href="single-package-right-sidebar.html">Maldives Tour</a>
                </h4>
                <div class="rating-view">
                  <span class="content-view text-uppercase">Asia</span>
                  <span class="star add-rating-default"></span>
                </div>

                <p class="mb-md-0">Sagittis proin convallis magna vel libero accumsan sollicitudin. Quisque dapibus
                  vitae turpis eu magna.</p>
                <div class="date-view">
                  <span><i class="fa fa-calendar" aria-hidden="true"></i> 27 jan, 2019</span>
                  <span><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days</span>
                </div>
              </div>

              <div class="col-md-5 col-xl-4">
                <div class="bg-primary text-center p-3 view-details">
                  <h2 class="text-white font-weight-bold h1">$199</h2>
                  <p class="text-white text-capitalize">Per person</p>
                  <div>
                    <a href="single-package-fullwidth.html"
                      class="btn btn-xs btn-block btn-outline-white btn-booking text-uppercase mb-2">Details</a>
                  </div>
                  <div>
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#inquiry"
                      class="btn btn-xs btn-block btn-outline-white btn-booking text-uppercase mb-2">Inquiry</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="media media-list-view flex-column flex-md-row mb-5">
          <div class="media-img position-relative">
            <img class="img-fluid position-relative" src="assets/img/packages/package-list-05.jpg" alt="gallery-img">
            <a class="media-img-overlay" data-fancybox="gallery" href="assets/img/packages/package-list-05.jpg"></a>
          </div>

          <div class="media-body">
            <div class="row">
              <div class="col-md-7 col-xl-8">
                <h4>
                  <a class="media-title" href="single-package-right-sidebar.html">Maldives Tour</a>
                </h4>
                <div class="rating-view">
                  <span class="content-view text-uppercase">Asia</span>
                  <span class="star add-rating-default"></span>
                </div>

                <p class="mb-md-0">Suspendisse non feugiat mi. Vivamus eu mattis nibh. Quisque eget ipsum at odio
                  fringilla consequat vel id erat.</p>
                <div class="date-view">
                  <span><i class="fa fa-calendar" aria-hidden="true"></i> 27 jan, 2019</span>
                  <span><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days</span>
                </div>
              </div>

              <div class="col-md-5 col-xl-4">
                <div class="bg-primary text-center p-3 view-details">
                  <h2 class="text-white font-weight-bold h1">$999</h2>
                  <p class="text-white text-capitalize">Per person</p>
                  <div>
                    <a href="single-package-fullwidth.html"
                      class="btn btn-xs btn-block btn-outline-white btn-booking text-uppercase mb-2">Details</a>
                  </div>
                  <div>
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#inquiry"
                      class="btn btn-xs btn-block btn-outline-white btn-booking text-uppercase mb-2">Inquiry</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="media media-list-view flex-column flex-md-row mb-5">
          <div class="media-img position-relative">
            <img class="img-fluid position-relative" src="assets/img/packages/package-list-06.jpg" alt="gallery-img">
            <a class="media-img-overlay" data-fancybox="gallery" href="assets/img/packages/package-list-06.jpg"></a>
          </div>

          <div class="media-body">
            <div class="row">
              <div class="col-md-7 col-xl-8">
                <h4>
                  <a class="media-title" href="single-package-right-sidebar.html">Maldives Tour</a>
                </h4>
                <div class="rating-view">
                  <span class="content-view text-uppercase">Asia</span>
                  <span class="star add-rating-default"></span>
                </div>

                <p class="mb-md-0">Donec rutrum lectus et pharetra egetas. Iteger purus ex, dicum nec elementum eu,
                  trisique lectus.</p>
                <div class="date-view">
                  <span><i class="fa fa-calendar" aria-hidden="true"></i> 27 jan, 2019</span>
                  <span><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days</span>
                </div>
              </div>

              <div class="col-md-5 col-xl-4">
                <div class="bg-primary text-center p-3 view-details">
                  <h2 class="text-white font-weight-bold h1">$1199</h2>
                  <p class="text-white text-capitalize">Per person</p>
                  <div>
                    <a href="single-package-fullwidth.html"
                      class="btn btn-xs btn-block btn-outline-white btn-booking text-uppercase mb-2">Details</a>
                  </div>
                  <div>
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#inquiry"
                      class="btn btn-xs btn-block btn-outline-white btn-booking text-uppercase mb-2">Inquiry</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="media media-list-view flex-column flex-md-row mb-5">
          <div class="media-img position-relative">
            <img class="img-fluid position-relative" src="assets/img/packages/package-list-07.jpg" alt="gallery-img">
            <a class="media-img-overlay" data-fancybox="gallery" href="assets/img/packages/package-list-07.jpg"></a>
          </div>

          <div class="media-body">
            <div class="row">
              <div class="col-md-7 col-xl-8">
                <h4>
                  <a class="media-title" href="single-package-right-sidebar.html">Maldives Tour</a>
                </h4>
                <div class="rating-view">
                  <span class="content-view text-uppercase">Asia</span>
                  <span class="star add-rating-default"></span>
                </div>

                <p class="mb-md-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut labore.</p>
                <div class="date-view">
                  <span><i class="fa fa-calendar" aria-hidden="true"></i> 27 jan, 2019</span>
                  <span><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days</span>
                </div>
              </div>

              <div class="col-md-5 col-xl-4">
                <div class="bg-primary text-center p-3 view-details">
                  <h2 class="text-white font-weight-bold h1">$299</h2>
                  <p class="text-white text-capitalize">Per person</p>
                  <div>
                    <a href="single-package-fullwidth.html"
                      class="btn btn-xs btn-block btn-outline-white btn-booking text-uppercase mb-2">Details</a>
                  </div>
                  <div>
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#inquiry"
                      class="btn btn-xs btn-block btn-outline-white btn-booking text-uppercase mb-2">Inquiry</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="media media-list-view flex-column flex-md-row mb-5">
          <div class="media-img position-relative">
            <img class="img-fluid position-relative" src="assets/img/packages/package-list-08.jpg" alt="gallery-img">
            <a class="media-img-overlay" data-fancybox="gallery" href="assets/img/packages/package-list-08.jpg"></a>
          </div>

          <div class="media-body">
            <div class="row">
              <div class="col-md-7 col-xl-8">
                <h4>
                  <a class="media-title" href="single-package-right-sidebar.html">Maldives Tour</a>
                </h4>
                <div class="rating-view">
                  <span class="content-view text-uppercase">Asia</span>
                  <span class="star add-rating-default"></span>
                </div>

                <p class="mb-md-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut
                  labore.</p>
                <div class="date-view">
                  <span><i class="fa fa-calendar" aria-hidden="true"></i> 27 jan, 2019</span>
                  <span><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days</span>
                </div>
              </div>

              <div class="col-md-5 col-xl-4">
                <div class="bg-primary text-center p-3 view-details">
                  <h2 class="text-white font-weight-bold h1">$349</h2>
                  <p class="text-white text-capitalize">Per person</p>
                  <div>
                    <a href="single-package-fullwidth.html"
                      class="btn btn-xs btn-block btn-outline-white btn-booking text-uppercase mb-2">Details</a>
                  </div>
                  <div>
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#inquiry"
                      class="btn btn-xs btn-block btn-outline-white btn-booking text-uppercase mb-2">Inquiry</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="media media-list-view flex-column flex-md-row mb-5">
          <div class="media-img position-relative">
            <img class="img-fluid position-relative" src="assets/img/packages/package-list-09.jpg" alt="gallery-img">
            <a class="media-img-overlay" data-fancybox="gallery" href="assets/img/packages/package-list-09.jpg"></a>
          </div>

          <div class="media-body">
            <div class="row">
              <div class="col-md-7 col-xl-8">
                <h4>
                  <a class="media-title" href="single-package-right-sidebar.html">Maldives Tour</a>
                </h4>
                <div class="rating-view">
                  <span class="content-view text-uppercase">Asia</span>
                  <span class="star add-rating-default"></span>
                </div>

                <p class="mb-md-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut
                  labore.</p>
                <div class="date-view">
                  <span><i class="fa fa-calendar" aria-hidden="true"></i> 27 jan, 2019</span>
                  <span><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days</span>
                </div>
              </div>

              <div class="col-md-5 col-xl-4">
                <div class="bg-primary text-center p-3 view-details">
                  <h2 class="text-white font-weight-bold h1">$699</h2>
                  <p class="text-white text-capitalize">Per person</p>
                  <div>
                    <a href="single-package-fullwidth.html"
                      class="btn btn-xs btn-block btn-outline-white btn-booking text-uppercase mb-2">Details</a>
                  </div>
                  <div>
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#inquiry"
                      class="btn btn-xs btn-block btn-outline-white btn-booking text-uppercase mb-2">Inquiry</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  @@include('pagination.htm')
</section>

@@include('footer.htm')