@@include('header.htm', {
	"title": "Packages Fullwidth List View - Star Travel",
	"parents": "tours",
	"active": "packages-list"
})

@@include('page-title.htm', {
	"title": "Tour Packages",
	"title-border": "title-border",
	"text": "",
	"bg-image": "assets/img/pages/page-title-bg6.jpg"
})

<!-- ====================================
———	TOUR PACKAGES SECTION
===================================== -->
<section class="bg-smoke py-10">
	<div class="container">
		<div class="media media-list-view media-list-fullwidth flex-column flex-md-row mb-5">
			<div class="media-img position-relative">
				<img class="img-fluid position-relative" src="assets/img/packages/package-list-01.jpg" alt="gallery-img">
				<a class="media-img-overlay" data-fancybox="gallery" href="assets/img/packages/package-list-01.jpg"></a>
			</div>

			<div class="media-body">
				<div class="row align-items-md-center align-items-lg-stretch">
					<div class="col-md-7 col-lg-8">
						<h4>
							<a class="media-title" href="single-package-right-sidebar.html">Suspendisse Tour</a>
						</h4>
						<div class="rating-view">
							<span class="content-view text-uppercase">Asia</span>
							<span class="star add-rating-default"></span>
						</div>
		
						<p class="mb-lg-0">Integer purus ex, dictum nec elementum eu, tristique vel lectus. Donec rutrum lectus et
							pharetra egestas. Proin
							convallis magna vel libero accumsan sollicitudin. Quisque dapibus vitae turpis eu magna sagittis.</p>
		
						<div class="date-view mb-5 mb-md-0">
							<span><i class="fa fa-calendar" aria-hidden="true"></i> 27 jan, 2019</span>
							<span><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days</span>
						</div>
					</div>
		
					<div class="col-md-5 col-lg-4">
						<div class="bg-primary text-center p-5 view-details">
							<h2 class="text-white font-weight-bold h1">$499</h2>
							<p class="text-white text-capitalize">Per person</p>
							<div>
								<a href="single-package-fullwidth.html"
									class="btn btn-xs btn-outline-white btn-booking text-uppercase mb-2">Details</a>
							</div>
							<div>
								<a href="javascript:void(0)" data-toggle="modal" data-target="#inquiry"
									class="btn btn-xs btn-outline-white btn-booking text-uppercase mb-2">Inquiry</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="media media-list-view media-list-fullwidth flex-column flex-md-row mb-5">
			<div class="media-img position-relative">
				<img class="img-fluid position-relative" src="assets/img/packages/package-list-02.jpg" alt="gallery-img">
				<a class="media-img-overlay" data-fancybox="gallery" href="assets/img/packages/package-list-02.jpg"></a>
			</div>

			<div class="media-body">
				<div class="row align-items-md-center align-items-lg-stretch">
					<div class="col-md-7 col-lg-8">
						<h4>
							<a class="media-title" href="single-package-right-sidebar.html">Maldives Tour</a>
						</h4>
						<div class="rating-view">
							<span class="content-view text-uppercase">Asia</span>
							<span class="star add-rating-default"></span>
						</div>
		
						<p class="mb-lg-0">Proin convallis magna vel libero accumsan sollicitudin. Quisque dapibus vitae turpis eu magna sagittis. Vivamus eu
						mattis nibh. Quisque eget ipsum at odio fringilla consequat vel id erat. Suspendisse non feugiat mi.</p>
		
						<div class="date-view mb-5 mb-md-0">
							<span><i class="fa fa-calendar" aria-hidden="true"></i> 27 jan, 2019</span>
							<span><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days</span>
						</div>
					</div>
		
					<div class="col-md-5 col-lg-4">
						<div class="bg-primary text-center p-5 view-details">
							<h2 class="text-white font-weight-bold h1">$399</h2>
							<p class="text-white text-capitalize">Per person</p>
							<div>
								<a href="single-package-fullwidth.html"
									class="btn btn-xs btn-outline-white btn-booking text-uppercase mb-2">Details</a>
							</div>
							<div>
								<a href="javascript:void(0)" data-toggle="modal" data-target="#inquiry"
									class="btn btn-xs btn-outline-white btn-booking text-uppercase mb-2">Inquiry</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="media media-list-view media-list-fullwidth flex-column flex-md-row mb-5">
			<div class="media-img position-relative">
				<img class="img-fluid position-relative" src="assets/img/packages/package-list-03.jpg" alt="gallery-img">
				<a class="media-img-overlay" data-fancybox="gallery" href="assets/img/packages/package-list-03.jpg"></a>
			</div>

			<div class="media-body">
				<div class="row align-items-md-center align-items-lg-stretch">
					<div class="col-md-7 col-lg-8">
						<h4>
							<a class="media-title" href="single-package-right-sidebar.html">Maldives Tour</a>
						</h4>
						<div class="rating-view">
							<span class="content-view text-uppercase">Asia</span>
							<span class="star add-rating-default"></span>
						</div>
		
						<p class="mb-lg-0">Vivamus eu mattis nibh. Quisque eget ipsum at odio fringilla consequat vel id erat. Suspendisse non feugiat mi. Sagittis
						proin convallis magna vel libero accumsan sollicitudin. Quisque dapibus turpis magna.</p>
		
						<div class="date-view mb-5 mb-md-0">
							<span><i class="fa fa-calendar" aria-hidden="true"></i> 27 jan, 2019</span>
							<span><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days</span>
						</div>
					</div>
		
					<div class="col-md-5 col-lg-4">
						<div class="bg-primary text-center p-5 view-details">
							<h2 class="text-white font-weight-bold h1">$599</h2>
							<p class="text-white text-capitalize">Per person</p>
							<div>
								<a href="single-package-fullwidth.html"
									class="btn btn-xs btn-outline-white btn-booking text-uppercase mb-2">Details</a>
							</div>
							<div>
								<a href="javascript:void(0)" data-toggle="modal" data-target="#inquiry"
									class="btn btn-xs btn-outline-white btn-booking text-uppercase mb-2">Inquiry</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="media media-list-view media-list-fullwidth flex-column flex-md-row mb-5">
			<div class="media-img position-relative">
				<img class="img-fluid position-relative" src="assets/img/packages/package-list-04.jpg" alt="gallery-img">
				<a class="media-img-overlay" data-fancybox="gallery" href="assets/img/packages/package-list-04.jpg"></a>
			</div>

			<div class="media-body">
				<div class="row align-items-md-center align-items-lg-stretch">
					<div class="col-md-7 col-lg-8">
						<h4>
							<a class="media-title" href="single-package-right-sidebar.html">Maldives Tour</a>
						</h4>
						<div class="rating-view">
							<span class="content-view text-uppercase">Asia</span>
							<span class="star add-rating-default"></span>
						</div>
		
						<p class="mb-lg-0">Sagittis proin convallis magna vel libero accumsan sollicitudin. Quisque dapibus vitae turpis eu magna. Suspendisse non
						feugiat mi. Vivamus eu mattis nibh. Quisque eget ipsum at odio fringilla consequat vel id erat.</p>
		
						<div class="date-view mb-5 mb-md-0">
							<span><i class="fa fa-calendar" aria-hidden="true"></i> 27 jan, 2019</span>
							<span><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days</span>
						</div>
					</div>
		
					<div class="col-md-5 col-lg-4">
						<div class="bg-primary text-center p-5 view-details">
							<h2 class="text-white font-weight-bold h1">$199</h2>
							<p class="text-white text-capitalize">Per person</p>
							<div>
								<a href="single-package-fullwidth.html"
									class="btn btn-xs btn-outline-white btn-booking text-uppercase mb-2">Details</a>
							</div>
							<div>
								<a href="javascript:void(0)" data-toggle="modal" data-target="#inquiry"
									class="btn btn-xs btn-outline-white btn-booking text-uppercase mb-2">Inquiry</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="media media-list-view media-list-fullwidth flex-column flex-md-row mb-5">
			<div class="media-img position-relative">
				<img class="img-fluid position-relative" src="assets/img/packages/package-list-05.jpg" alt="gallery-img">
				<a class="media-img-overlay" data-fancybox="gallery" href="assets/img/packages/package-list-05.jpg"></a>
			</div>

			<div class="media-body">
				<div class="row align-items-md-center align-items-lg-stretch">
					<div class="col-md-7 col-lg-8">
						<h4>
							<a class="media-title" href="single-package-right-sidebar.html">Maldives Tour</a>
						</h4>
						<div class="rating-view">
							<span class="content-view text-uppercase">Asia</span>
							<span class="star add-rating-default"></span>
						</div>
		
						<p class="mb-lg-0">Sagittis proin convallis magna vel libero accumsan sollicitudin. Quisque dapibus vitae turpis eu magna. Suspendisse non
						feugiat mi. Vivamus eu mattis nibh. Quisque eget ipsum at odio fringilla consequat vel id erat.</p>
		
						<div class="date-view mb-5 mb-md-0">
							<span><i class="fa fa-calendar" aria-hidden="true"></i> 27 jan, 2019</span>
							<span><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days</span>
						</div>
					</div>
		
					<div class="col-md-5 col-lg-4">
						<div class="bg-primary text-center p-5 view-details">
							<h2 class="text-white font-weight-bold h1">$999</h2>
							<p class="text-white text-capitalize">Per person</p>
							<div>
								<a href="single-package-fullwidth.html"
									class="btn btn-xs btn-outline-white btn-booking text-uppercase mb-2">Details</a>
							</div>
							<div>
								<a href="javascript:void(0)" data-toggle="modal" data-target="#inquiry"
									class="btn btn-xs btn-outline-white btn-booking text-uppercase mb-2">Inquiry</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="media media-list-view media-list-fullwidth flex-column flex-md-row mb-5">
			<div class="media-img position-relative">
				<img class="img-fluid position-relative" src="assets/img/packages/package-list-06.jpg" alt="gallery-img">
				<a class="media-img-overlay" data-fancybox="gallery" href="assets/img/packages/package-list-06.jpg"></a>
			</div>

			<div class="media-body">
				<div class="row align-items-md-center align-items-lg-stretch">
					<div class="col-md-7 col-lg-8">
						<h4>
							<a class="media-title" href="single-package-right-sidebar.html">Maldives Tour</a>
						</h4>
						<div class="rating-view">
							<span class="content-view text-uppercase">Asia</span>
							<span class="star add-rating-default"></span>
						</div>
		
						<p class="mb-lg-0">Donec rutrum lectus et pharetra egestas. Integer purus, dictum nec elementum, tristique vel lectus. Lorem ipsum
						dolor sit amet, consectetur adipisicing elit, eiusmod tempor incididunt labore dolore magna aliqua.</p>
		
						<div class="date-view mb-5 mb-md-0">
							<span><i class="fa fa-calendar" aria-hidden="true"></i> 27 jan, 2019</span>
							<span><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days</span>
						</div>
					</div>
		
					<div class="col-md-5 col-lg-4">
						<div class="bg-primary text-center p-5 view-details">
							<h2 class="text-white font-weight-bold h1">$1199</h2>
							<p class="text-white text-capitalize">Per person</p>
							<div>
								<a href="single-package-fullwidth.html"
									class="btn btn-xs btn-outline-white btn-booking text-uppercase mb-2">Details</a>
							</div>
							<div>
								<a href="javascript:void(0)" data-toggle="modal" data-target="#inquiry"
									class="btn btn-xs btn-outline-white btn-booking text-uppercase mb-2">Inquiry</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="media media-list-view media-list-fullwidth flex-column flex-md-row mb-5">
			<div class="media-img position-relative">
				<img class="img-fluid position-relative" src="assets/img/packages/package-list-07.jpg" alt="gallery-img">
				<a class="media-img-overlay" data-fancybox="gallery" href="assets/img/packages/package-list-07.jpg"></a>
			</div>

			<div class="media-body">
				<div class="row align-items-md-center align-items-lg-stretch">
					<div class="col-md-7 col-lg-8">
						<h4>
							<a class="media-title" href="single-package-right-sidebar.html">Maldives Tour</a>
						</h4>
						<div class="rating-view">
							<span class="content-view text-uppercase">Asia</span>
							<span class="star add-rating-default"></span>
						</div>
		
						<p class="mb-lg-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod et dolore magna
						aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed tempor incididunt ut labore et dolore
						magna aliqua.</p>
		
						<div class="date-view mb-5 mb-md-0">
							<span><i class="fa fa-calendar" aria-hidden="true"></i> 27 jan, 2019</span>
							<span><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days</span>
						</div>
					</div>
		
					<div class="col-md-5 col-lg-4">
						<div class="bg-primary text-center p-5 view-details">
							<h2 class="text-white font-weight-bold h1">$299</h2>
							<p class="text-white text-capitalize">Per person</p>
							<div>
								<a href="single-package-fullwidth.html"
									class="btn btn-xs btn-outline-white btn-booking text-uppercase mb-2">Details</a>
							</div>
							<div>
								<a href="javascript:void(0)" data-toggle="modal" data-target="#inquiry"
									class="btn btn-xs btn-outline-white btn-booking text-uppercase mb-2">Inquiry</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="media media-list-view media-list-fullwidth flex-column flex-md-row mb-5">
			<div class="media-img position-relative">
				<img class="img-fluid position-relative" src="assets/img/packages/package-list-08.jpg" alt="gallery-img">
				<a class="media-img-overlay" data-fancybox="gallery" href="assets/img/packages/package-list-08.jpg"></a>
			</div>

			<div class="media-body">
				<div class="row align-items-md-center align-items-lg-stretch">
					<div class="col-md-7 col-lg-8">
						<h4>
							<a class="media-title" href="single-package-right-sidebar.html">Maldives Tour</a>
						</h4>
						<div class="rating-view">
							<span class="content-view text-uppercase">Asia</span>
							<span class="star add-rating-default"></span>
						</div>
		
						<p class="mb-lg-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod et dolore magna
							aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed tempor incididunt ut labore et dolore
							magna aliqua.</p>
		
						<div class="date-view mb-5 mb-md-0">
							<span><i class="fa fa-calendar" aria-hidden="true"></i> 27 jan, 2019</span>
							<span><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days</span>
						</div>
					</div>
		
					<div class="col-md-5 col-lg-4">
						<div class="bg-primary text-center p-5 view-details">
							<h2 class="text-white font-weight-bold h1">$349</h2>
							<p class="text-white text-capitalize">Per person</p>
							<div>
								<a href="single-package-fullwidth.html"
									class="btn btn-xs btn-outline-white btn-booking text-uppercase mb-2">Details</a>
							</div>
							<div>
								<a href="javascript:void(0)" data-toggle="modal" data-target="#inquiry"
									class="btn btn-xs btn-outline-white btn-booking text-uppercase mb-2">Inquiry</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="media media-list-view media-list-fullwidth flex-column flex-md-row mb-5">
			<div class="media-img position-relative">
				<img class="img-fluid position-relative" src="assets/img/packages/package-list-09.jpg" alt="gallery-img">
				<a class="media-img-overlay" data-fancybox="gallery" href="assets/img/packages/package-list-09.jpg"></a>
			</div>

			<div class="media-body">
				<div class="row align-items-md-center align-items-lg-stretch">
					<div class="col-md-7 col-lg-8">
						<h4>
							<a class="media-title" href="single-package-right-sidebar.html">Maldives Tour</a>
						</h4>
						<div class="rating-view">
							<span class="content-view text-uppercase">Asia</span>
							<span class="star add-rating-default"></span>
						</div>
		
						<p class="mb-lg-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod et dolore magna
							aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed tempor incididunt ut labore et dolore
							magna aliqua.</p>
		
						<div class="date-view mb-5 mb-md-0">
							<span><i class="fa fa-calendar" aria-hidden="true"></i> 27 jan, 2019</span>
							<span><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days</span>
						</div>
					</div>
		
					<div class="col-md-5 col-lg-4">
						<div class="bg-primary text-center p-5 view-details">
							<h2 class="text-white font-weight-bold h1">$699</h2>
							<p class="text-white text-capitalize">Per person</p>
							<div>
								<a href="single-package-fullwidth.html"
									class="btn btn-xs btn-outline-white btn-booking text-uppercase mb-2">Details</a>
							</div>
							<div>
								<a href="javascript:void(0)" data-toggle="modal" data-target="#inquiry"
									class="btn btn-xs btn-outline-white btn-booking text-uppercase mb-2">Inquiry</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	@@include('pagination.htm')
</section>

@@include('footer.htm')