@@include('header.htm', {
  "title": "Star Travel",
  "parents": "",
  "active": ""
})

<!-- ====================================
———	PRICING SECTION
===================================== -->
<section style="background-image: url(assets/img/pages/page-title-bg10.jpg);">
  <div class="container">
    <div class="row align-items-center justify-content-center" style="height: 300px;">
      <div class="col-md-6">
        <div class="section-title text-center">
          <h2 class="text-uppercase">Pricing tables</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ====================================
———	TABLE 1 SECTION
===================================== -->
<section class="">
  <div class="container">
    <div class="section-title text-uppercase text-center">
      <h2>Pricing table 1</h2>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="card">
          <div class="text-center">
               <h5 class="text-uppercase">Standard</h5>
          </div>
          <div class="border-top">
            <div class="d-flex align-items-center justify-content-center">
                 <span class="">$29<small>/ month</small></span>
               </div>
          </div>
          <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <i class="fa fa-check-circle" aria-hidden="true"></i>15 Projects
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-check-circle" aria-hidden="true"></i>Unlimited Users
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-circle-o" aria-hidden="true"></i>No Time Tracking
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-circle-o" aria-hidden="true"></i>Enhanced Security
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-circle-o" aria-hidden="true"></i>5 GB Storage
                    </li>
                  </ul>
          <div class="card-body text-uppercase text-center">
            <a href="#" class="btn btn-outline-secondary">Order now</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card">
          <div class="text-center">
               <h5 class="text-uppercase">Professional</h5>
          </div>
          <div class="border-top">
            <div class="d-flex align-items-center justify-content-center">
                 <span class="">$39<small>/ month</small></span>
               </div>
          </div>
          <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <i class="fa fa-check-circle" aria-hidden="true"></i>15 Projects
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-check-circle" aria-hidden="true"></i>Unlimited Users
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-circle-o" aria-hidden="true"></i>No Time Tracking
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-circle-o" aria-hidden="true"></i>Enhanced Security
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-circle-o" aria-hidden="true"></i>5 GB Storage
                    </li>
                  </ul>
          <div class="card-body text-uppercase text-center">
            <a href="#" class="btn btn-outline-secondary">Order now</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card">
          <div class="text-center">
               <h5 class="text-uppercase">Premiuam</h5>
          </div>
          <div class="border-top">
            <div class="d-flex align-items-center justify-content-center">
                 <span class="">$49<small>/ month</small></span>
               </div>
          </div>
          <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <i class="fa fa-check-circle" aria-hidden="true"></i>15 Projects
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-check-circle" aria-hidden="true"></i>Unlimited Users
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-circle-o" aria-hidden="true"></i>No Time Tracking
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-circle-o" aria-hidden="true"></i>Enhanced Security
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-circle-o" aria-hidden="true"></i>5 GB Storage
                    </li>
                  </ul>
          <div class="card-body text-uppercase text-center">
            <a href="#" class="btn btn-outline-secondary">Order now</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card">
          <div class="text-center">
               <h5 class="text-uppercase">Professional</h5>
          </div>
          <div class="border-top">
            <div class="d-flex align-items-center justify-content-center">
                 <span class="">$59<small>/ month</small></span>
               </div>
          </div>
          <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <i class="fa fa-check-circle" aria-hidden="true"></i>15 Projects
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-check-circle" aria-hidden="true"></i>Unlimited Users
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-circle-o" aria-hidden="true"></i>No Time Tracking
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-circle-o" aria-hidden="true"></i>Enhanced Security
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-circle-o" aria-hidden="true"></i>5 GB Storage
                    </li>
                  </ul>
          <div class="card-body text-uppercase text-center">
            <a href="#" class="btn btn-outline-secondary">Order now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ====================================
———	TABLE 2 SECTION
===================================== -->
<section class="">
  <div class="container">
    <div class="section-title text-uppercase text-center">
      <h2>Pricing table 2</h2>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <div class="text-center">
               <h5 class="text-uppercase">Standard</h5>
          </div>
          <div class="border-top">
            <div class="d-flex align-items-center justify-content-center">
                 <span class="">$29<small>/ month</small></span>
               </div>
          </div>
          <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <i class="fa fa-check-circle" aria-hidden="true"></i>15 Projects
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-check-circle" aria-hidden="true"></i>Unlimited Users
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-circle-o" aria-hidden="true"></i>No Time Tracking
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-circle-o" aria-hidden="true"></i>Enhanced Security
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-circle-o" aria-hidden="true"></i>5 GB Storage
                    </li>
                  </ul>
          <div class="card-body text-uppercase text-center">
            <a href="#" class="btn btn-outline-secondary">Order now</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <div class="text-center">
               <h5 class="text-uppercase">Professional</h5>
          </div>
          <div class="border-top">
            <div class="d-flex align-items-center justify-content-center">
                 <span class="">$39<small>/ month</small></span>
               </div>
          </div>
          <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <i class="fa fa-check-circle" aria-hidden="true"></i>15 Projects
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-check-circle" aria-hidden="true"></i>Unlimited Users
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-circle-o" aria-hidden="true"></i>No Time Tracking
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-circle-o" aria-hidden="true"></i>Enhanced Security
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-circle-o" aria-hidden="true"></i>5 GB Storage
                    </li>
                  </ul>
          <div class="card-body text-uppercase text-center">
            <a href="#" class="btn btn-outline-secondary">Order now</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <div class="text-center">
               <h5 class="text-uppercase">Premiuam</h5>
          </div>
          <div class="border-top">
            <div class="d-flex align-items-center justify-content-center">
                 <span class="">$49<small>/ month</small></span>
               </div>
          </div>
          <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <i class="fa fa-check-circle" aria-hidden="true"></i>15 Projects
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-check-circle" aria-hidden="true"></i>Unlimited Users
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-circle-o" aria-hidden="true"></i>No Time Tracking
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-circle-o" aria-hidden="true"></i>Enhanced Security
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-circle-o" aria-hidden="true"></i>5 GB Storage
                    </li>
                  </ul>
          <div class="card-body text-uppercase text-center">
            <a href="#" class="btn btn-outline-secondary">Order now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- ====================================
———	TABLE 3 SECTION
===================================== -->
<section class="py-5">
  <div class="container">
    <div class="section-title text-uppercase text-center">
      <h2>Pricing table 3</h2>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="card">
          <div class="card-body text-center">
               <h5 class="text-uppercase">Standerd</h5>
          </div>
          <div class="position-relative">
            <img class="card-img-top" src="assets/img/packages/package-01.jpg" alt="Card image cap">
            <div class="card-img-overlay d-flex align-items-center justify-content-center">
                 <span class="">$29<small>/ month</small></span>
               </div>
          </div>
          <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <i class="fa fa-check-circle" aria-hidden="true"></i>15 Projects
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-check-circle" aria-hidden="true"></i>Unlimited Users
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-circle-o" aria-hidden="true"></i>No Time Tracking
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-circle-o" aria-hidden="true"></i>Enhanced Security
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-circle-o" aria-hidden="true"></i>5 GB Storage
                    </li>
                  </ul>
          <div class="card-body text-uppercase text-center">
            <a href="#" class="btn btn-outline-secondary">Order now</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card">
          <div class="card-body text-center">
               <h5 class="card-title text-uppercase">Premium</h5>
          </div>
          <div class="position-relative">
            <img class="card-img-top" src="assets/img/packages/package-02.jpg" alt="Card image cap">
            <div class="card-img-overlay d-flex align-items-center justify-content-center">
                 <span class="">$39<small>/ month</small></span>
               </div>
          </div>
          <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <i class="fa fa-check-circle" aria-hidden="true"></i>15 Projects
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-check-circle" aria-hidden="true"></i>Unlimited Users
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-circle-o" aria-hidden="true"></i>No Time Tracking
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-circle-o" aria-hidden="true"></i>Enhanced Security
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-circle-o" aria-hidden="true"></i>5 GB Storage
                    </li>
                  </ul>
          <div class="card-body text-uppercase text-center">
            <a href="#" class="btn btn-outline-secondary">Order now</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card">
          <div class="card-body text-center">
               <h5 class="text-uppercase">Professional</h5>
          </div>
          <div class="position-relative">
            <img class="card-img-top" src="assets/img/packages/package-03.jpg" alt="Card image cap">
            <div class="card-img-overlay d-flex align-items-center justify-content-center">
                 <span class="">$49<small>/ month</small></span>
               </div>
          </div>
          <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <i class="fa fa-check-circle" aria-hidden="true"></i>15 Projects
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-check-circle" aria-hidden="true"></i>Unlimited Users
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-circle-o" aria-hidden="true"></i>No Time Tracking
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-circle-o" aria-hidden="true"></i>Enhanced Security
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-circle-o" aria-hidden="true"></i>5 GB Storage
                    </li>
                  </ul>
          <div class="card-body text-uppercase text-center">
            <a href="#" class="btn btn-outline-secondary">Order now</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card">
          <div class="card-body text-center">
               <h5 class="text-uppercase">Premium</h5>
          </div>
          <div class="position-relative">
            <img class="card-img-top" src="assets/img/packages/package-04.jpg" alt="Card image cap">
            <div class="card-img-overlay d-flex align-items-center justify-content-center">
                 <span class="">$59<small>/ month</small></span>
               </div>
          </div>
          <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <i class="fa fa-check-circle" aria-hidden="true"></i>15 Projects
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-check-circle" aria-hidden="true"></i>Unlimited Users
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-circle-o" aria-hidden="true"></i>No Time Tracking
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-circle-o" aria-hidden="true"></i>Enhanced Security
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-circle-o" aria-hidden="true"></i>5 GB Storage
                    </li>
                  </ul>
          <div class="card-body text-uppercase text-center">
            <a href="#" class="btn btn-outline-secondary">Order now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

@@include('footer.htm')