@@include('header.htm', {
  "title": "Settings - Star Travel",
  "parents": "admin",
  "active": "setting"
})

@@include('header-dashboard.htm', {
  "parents": "setting-menu",
  "active": "setting-menu"
})
  
<!-- ====================================
——— ACCOUNT SETTINGS SECTION
===================================== -->
<section class="py-9">
  <div class="container">
    <div class="bg-smoke p-2 p-md-6 pb-6 pb-md-8 mb-9 rounded">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-lg-6">
              <div class="mb-4">
                <h3 class="text-uppercase mb-3">Account Settings</h3>
                <p class="text-primary mb-0">Change Your Password</p>
              </div>
              
              <form action="" method="">
                <div class="form-group mb-4">
                  <input type="password" class="form-control form-control-lg rounded border-0" required="" placeholder="Old Password">
                </div>

                <div class="form-group mb-4">
                  <input type="password" class="form-control form-control-lg rounded border-0" required="" placeholder="New Password">
                </div>

                <div class="form-group mb-4">
                  <input type="password" class="form-control form-control-lg rounded border-0" required="" placeholder="Confirm New Password">
                </div>

                <div class="pt-2">
                  <button type="submit" class="btn btn-primary text-uppercase font-size-15 px-6 px-md-7">Update Password</button>
                </div>
              </form>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-lg-6">
              <div class="mb-4">
                <p class="text-primary mb-0">Change Your Email</p>
              </div>
          
              <form action="" method="">
                <div class="form-group mb-4">
                  <input type="email" class="form-control form-control-lg rounded border-0" required=""
                    placeholder="Old Email">
                </div>
          
                <div class="form-group mb-4">
                  <input type="email" class="form-control form-control-lg rounded border-0" required=""
                    placeholder="New Email">
                </div>
          
                <div class="form-group mb-4">
                  <input type="email" class="form-control form-control-lg rounded border-0" required=""
                    placeholder="Confirm New Email">
                </div>
          
                <div class="pt-2">
                  <button type="submit" class="btn btn-primary text-uppercase font-size-15 px-2 px-md-6">Update email address</button>
                </div>
              </form>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-lg-6">
              <p class="text-primary">Change Settings</p>

              <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="customCheckSettings1">
                <label class="custom-control-label settings-control-label" for="customCheckSettings1">
                  <span class="ml-0">Star Travel has periodic offers and deals on really cool destinations.</span>
                </label>
              </div>

              <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="customCheckSettings2">
                <label class="custom-control-label settings-control-label" for="customCheckSettings2">
                  <span class="ml-0">Star Travel has fun company news, as well as periodic emails.</span>
                </label>
              </div>

              <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="customCheckSettings3">
                <label class="custom-control-label settings-control-label" for="customCheckSettings3">
                  <span class="ml-0">I have an upcoming reservation.</span>
                </label>
              </div>

              <div class="pt-3">
                <button type="submit" class="btn btn-primary text-uppercase font-size-15 px-3 px-md-6">Update your account</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Contact Section -->
    <div class="bg-smoke p-2 p-md-5 p-lg-6 rounded">
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
          <div class="mb-7 mb-lg-0">
            <h6 class="font-size-15 text-uppercase mb-5">Benefits</h6>
    
            <ul class="list-unstyled mb-0 bg-white rounded p-5">
              <li class="media mb-2">
                <div class="mr-2">
                  <i class="fa fa-check-square text-primary" aria-hidden="true"></i>
                </div>
    
                <div class="media-body">
                  <a href="" class="text-gray-color hover-text-primary text-capitalize mb-0">
                    Some benefit
                  </a>
                </div>
              </li>
    
              <li class="media mb-2">
                <div class="mr-2">
                  <i class="fa fa-check-square text-primary" aria-hidden="true"></i>
                </div>
    
                <div class="media-body">
                  <a href="" class="text-gray-color hover-text-primary text-capitalize mb-0">
                    Curabitur viveraj
                  </a>
                </div>
              </li>
    
              <li class="media mb-2">
                <div class="mr-2">
                  <i class="fa fa-check-square text-primary" aria-hidden="true"></i>
                </div>
    
                <div class="media-body">
                  <a href="" class="text-gray-color hover-text-primary text-capitalize mb-0">
                    Donec null rhonus
                  </a>
                </div>
              </li>
    
              <li class="media mb-2">
                <div class="mr-2">
                  <i class="fa fa-check-square text-primary" aria-hidden="true"></i>
                </div>
    
                <div class="media-body">
                  <a href="" class="text-gray-color hover-text-primary text-capitalize mb-0">
                    Morbi up sum eismod
                  </a>
                </div>
              </li>
    
              <li class="media mb-2">
                <div class="mr-2">
                  <i class="fa fa-check-square text-primary" aria-hidden="true"></i>
                </div>
    
                <div class="media-body">
                  <a href="" class="text-gray-color hover-text-primary text-capitalize mb-0">
                    Praesent nisi ante
                  </a>
                </div>
              </li>
    
              <li class="media">
                <div class="mr-2">
                  <i class="fa fa-check-square text-primary" aria-hidden="true"></i>
                </div>
    
                <div class="media-body">
                  <a href="" class="text-gray-color hover-text-primary text-capitalize mb-0">
                    Vesti bulum int daum
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
    
        <div class="col-md-6 col-lg-4">
          <div class="mb-7 mb-lg-0">
            <h6 class="font-size-15 text-uppercase mb-5">Recent offers</h6>
    
            <div class="bg-white rounded p-5">
              <div class="media meta-post-sm border-bottom border-off-white pb-3 mb-3">
                <div class="img-overlay rounded mr-3">
                  <img src="assets/img/blog/tab-02.jpg" alt="Generic placeholder image">
                  <a href="" class="hover-img-overlay-dark"></a>
                </div>
    
                <div class="media-body">
                  <a href="" class="text-dark hover-text-primary text-capitalize mb-1">
                    Totam rem apria.
                  </a>
    
                  <ul class="list-unstyled d-flex flex-wrap mb-0">
                    <li class="meta-tag text-gray-color mr-4 mb-1">
                      <span class="d-block text-capitalize">Family package</span>
                      <span class="text-primary font-size-base">$25</span>
                    </li>
                  </ul>
                </div>
              </div>
    
              <div class="media meta-post-sm ">
                <div class="img-overlay rounded mr-3">
                  <img src="assets/img/blog/tab-04.jpg" alt="Generic placeholder image">
                  <a href="" class="hover-img-overlay-dark"></a>
                </div>
    
                <div class="media-body">
                  <a href="" class="text-dark hover-text-primary text-capitalize mb-1">
                    Rodney samp deo.
                  </a>
    
                  <ul class="list-unstyled d-flex flex-wrap mb-0">
                    <li class="meta-tag text-gray-color mr-4 mb-1">
                      <span class="d-block text-capitalize">Tours package</span>
                      <span class="text-primary font-size-base">$30</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
    
        <div class="col-md-8 col-lg-4">
          <div class="mb-0">
            <h6 class="font-size-15 text-uppercase mb-5">Need help</h6>
    
            <div class="bg-dark rounded p-5">
              <p class="text-white line-height-24 mb-6">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
              </p>
    
              <div class="mb-3">
                <a href="tel:+2512353256" class="btn btn-lg btn-primary rounded-0 btn-block font-weight-semibold">
                  <span class="mr-1"><i class="fa fa-phone" aria-hidden="true"></i></span>
                  +251-235-3256
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

@@include('footer.htm')