@@include('header.htm', {
"title": "Single Packages Fullwidth - Star Travel",
"parents": "tours",
"active": "single-package-fullwidth"
})

@@include('page-title.htm', {
  "title": "City Museum Tour",
  "title-border": "",
  "text": "Lorem ipsum dolor sit amet, consectetur adipisicing elit",
  "bg-image": "assets/img/pages/page-title-bg13.jpg"
})

<!-- ====================================
———	PACKAGES SECTION
===================================== -->
<section class="py-10">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="package-slider" class="owl-carousel owl-theme package-slider">
          <div class="item">
            <img src="assets/img/packages/package-slider-03.jpg" alt="image">
          </div>

          <div class="item">
            <img src="assets/img/packages/package-slider-04.jpg" alt="image">
          </div>

          <div class="item">
            <img src="assets/img/packages/package-slider-05.jpg" alt="image">
          </div>
        </div>

        <div class="mt-8">
          <h2 class="text-uppercase mb-5">Description</h2>
          <p class="mb-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip commodo consequat. Duis aute irure dolor in reprehenderit</p>

          <div class="mb-5">
            <div class="row">
              <div class="col-md-6">
                <ul class="list-unstyled mb-0">
                  <li class="media">
                    <div class="text-gray-color mr-2">
                      <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                      <p>Cras tincidunt mi a sodales pulvinar.</p>
                    </div>
                  </li>

                  <li class="media">
                    <div class="text-gray-color mr-2">
                      <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                      <p>Mauris in libero sodales ultrices purus</p>
                    </div>
                  </li>

                  <li class="media">
                    <div class="text-gray-color mr-2">
                      <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                      <p>Quisque vulputate enim eu fringilla.</p>
                    </div>
                  </li>

                  <li class="media">
                    <div class="text-gray-color mr-2">
                      <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                      <p>Eleifend mi vel nisl lobortis nec tincidunt</p>
                    </div>
                  </li>

                  <li class="media">
                    <div class="text-gray-color mr-2">
                      <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                      <p>Mauris in libero sodales ultrices purus</p>
                    </div>
                  </li>
                </ul>
              </div>

              <div class="col-md-6">
                <ul class="list-unstyled mb-0">
                  <li class="media">
                    <div class="text-gray-color mr-2">
                      <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                      <p>Praesent nec nisl iaculis, pulvinar nunc.</p>
                    </div>
                  </li>

                  <li class="media">
                    <div class="text-gray-color mr-2">
                      <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                      <p>Sed at erat lacinia, condimentum eros non</p>
                    </div>
                  </li>

                  <li class="media">
                    <div class="text-gray-color mr-2">
                      <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                      <p>Mauris in libero sodales ultrices purus at</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="mb-8">
          <h3 class="text-uppercase mb-5">Program</h3>
          <p class="mb-5">Pellen tesque vitae ultrices magna. Cras vul putate commodo justo. Fusce vitae justo
          efficitur, condi mentum ante a, tempor
          velit. Proin portt itor tortor.</p>

          <div class="media flex-column flex-md-row align-items-lg-center border rounded px-6 py-7 bg-smoke mb-2">
            <div class="mr-md-3">
              <h5 class="text-uppercase mb-2">Nunc ultricies dui</h5>
              <p class="mb-5 mb-md-0">Nunc ultricies dui sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              incididunt
              ut labore et dolore magna
              aliqua. Ut enim ad minim veniam</p>
            </div>

            <div class="media-body d-flex">
              <div class="badge badge-rounded-circle border">
                <span class="d-block text-primary">Day1</span>
              </div>
            </div>
          </div>

          <div class="media flex-column flex-md-row align-items-lg-center border rounded px-6 py-7 bg-smoke mb-2">
            <div class="mr-md-3">
              <h5 class="text-uppercase mb-2">Pulla consuat sed</h5>
              <p class="mb-5 mb-md-0">Pulla consuat sed libero eu feugiat. Praesent vel hendrerit erat. Phasellus gravida efficitur lectus, placerat semper
              est tristique nec. Proin magna enim</p>
            </div>
          
            <div class="media-body d-flex">
              <div class="badge badge-rounded-circle border">
                <span class="d-block text-primary">Day2</span>
              </div>
            </div>
          </div>

          <div class="media flex-column flex-md-row align-items-lg-center border rounded px-6 py-7 bg-smoke">
            <div class="mr-md-3">
              <h5 class="text-uppercase mb-2">Donec phareta nec</h5>
              <p class="mb-5 mb-md-0">Donec phareta nec quam congue egestas. Sed aliquam mauris quam, id molestie erat tristique vel. Donec euismod malesuada
              rhoncus. Nulla vestibulum</p>
            </div>
          
            <div class="media-body d-flex">
              <div class="badge badge-rounded-circle border">
                <span class="d-block text-primary">Day3</span>
              </div>
            </div>
          </div>
        </div>

        <div class="mb-7">
          <h2 class="text-uppercase mb-6">Location</h2>
          <p class="mb-0">Pellen tesque vitae ultrices magna. Cras vul putate commodo justo. Fusce vitae justo efficitur, condi mentum ante a,
          tempor velit. Proin portt itor tortor.</p>
        </div>

        <div class="mb-7" id="map" style="width:100%; height:400px;"></div>

        <div class="mb-7">
          <h2 class="text-uppercase mb-6">Reviews</h2>
          <p class="mb-6">Pulla consuat sed libero eu feugiat. Praesent vel hendrerit erat. Phasellus gravida efficitur
            lectus, placerat semper
            est tristique nec. Proin magna enim</p>
        
          <div class="d-flex align-items-center mb-6">
            <h3 class="text-uppercase mb-0">
              <span class="mr-2">Reviews (3)</span>
        
              <span class="text-warning">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
              </span>
            </h3>
          </div>
        
          <div class="media mb-6">
            <a class="mr-6" href="">
              <img class="rounded" src="assets/img/blog/comments-02.jpg" alt="Generic placeholder image">
            </a>
        
            <div class="media-body">
              <h5>Samanta Doe</h5>
              <span class="star add-rating-default pb-1"></span>
              <p class="mb-0">Pellen tesque vitae ultrices magna. Cras vul putate commodo justo. Fusce vitae justo
                efficitur, condi mentum ante.</p>
            </div>
          </div>
        
          <div class="media mb-6">
            <a class="mr-6" href="">
              <img class="rounded" src="assets/img/blog/comments-01.jpg" alt="Generic placeholder image">
            </a>
        
            <div class="media-body">
              <h5>Amanda Smith</h5>
              <span class="star add-rating-default pb-1"></span>
              <p class="mb-0">Nunc ultricies dui sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna
                aliqua.</p>
            </div>
          </div>
        
          <div class="media">
            <a class="mr-6" href="">
              <img class="rounded" src="assets/img/blog/comments-03.jpg" alt="Generic placeholder image">
            </a>
            <div class="media-body">
              <h5>Rodney Artichoke</h5>
              <span class="star add-rating-default pb-1"></span>
              <p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                laudan totam rem ape riam</p>
            </div>
          </div>
        </div>

        <form class="">
          <h3 class="text-uppercase mb-6">Leave your review</h3>
        
          <p class="rating-view d-flex align-items-center">
            <span class="content-view">Want to Rate it?</span>
            <span class="star add-rating-default ml-2"></span>
          </p>
        
          <div class="form-group mb-6">
            <textarea class="form-control border-0 bg-smoke" placeholder="Comment" rows="6"></textarea>
          </div>
        
          <div class="">
            <button type="button" onclick="location.href='javascript:void(0)';"
              class="btn btn-hover btn-outline-secondary text-uppercase">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- ====================================
———	PACKAGES LIKE SECTION
===================================== -->
<section class="pb-10">
  <div class="container">
    <div class="text-uppercase mb-4">
      <h2 class="mb-0">you may also like</h2>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
        <div class="card card-bg">
          <a href="single-package-right-sidebar.html" class="position-relative">
            <img class="card-img-top" src="assets/img/home/deal/deal-01.jpg" alt="Card image cap">
            <div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column">
              <div class="badge badge-primary badge-rounded-circle">
                <span class="d-block">
                  45%<br>off
                </span>
              </div>

              <ul class="list-unstyled d-flex mt-auto text-warning mb-0">
                <li>
                  <i class="fa fa-star mr-1" aria-hidden="true"></i>
                </li>
                <li>
                  <i class="fa fa-star mr-1" aria-hidden="true"></i>
                </li>
                <li>
                  <i class="fa fa-star mr-1" aria-hidden="true"></i>
                </li>
                <li>
                  <i class="fa fa-star mr-1" aria-hidden="true"></i>
                </li>
                <li>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </li>
              </ul>

              <ul class="list-unstyled d-flex text-white font-weight-bold mb-0">
                <li class="border-right border-white pr-2">7 days</li>
                <li class="border-right border-white px-2">15 hrs</li>
                <li class="pl-2">15 min</li>
              </ul>
            </div>
          </a>

          <div class="card-body">
            <h5>
              <a href="single-package-right-sidebar.html" class="card-title text-uppercase">France / Paris</a>
            </h5>

            <p class="mb-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt labore dolore.</p>

            <div class="d-flex justify-content-between align-items-center">
              <div>
                <p class="mb-0 text-capitalize">Start from</p>
                <h3 class="text-primary">$299</h3>
              </div>

              <div>
                <a href="" class="btn btn-xs btn-outline-secondary text-uppercase">Details</a>
                <a href="" class="btn btn-xs btn-outline-secondary px-4">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
        <div class="card card-bg">
          <a href="single-package-right-sidebar.html" class="position-relative">
            <img class="card-img-top" src="assets/img/home/deal/deal-02.jpg" alt="Card image cap">
            <div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column">
              <div class="badge badge-primary badge-rounded-circle">
                <span class="d-block">
                  50%<br>off
                </span>
              </div>

              <ul class="list-unstyled d-flex mt-auto text-warning mb-0">
                <li>
                  <i class="fa fa-star mr-1" aria-hidden="true"></i>
                </li>
                <li>
                  <i class="fa fa-star mr-1" aria-hidden="true"></i>
                </li>
                <li>
                  <i class="fa fa-star mr-1" aria-hidden="true"></i>
                </li>
                <li>
                  <i class="fa fa-star mr-1" aria-hidden="true"></i>
                </li>
                <li>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </li>
              </ul>

              <ul class="list-unstyled d-flex text-white font-weight-bold mb-0">
                <li class="border-right border-white pr-2">7 days</li>
                <li class="border-right border-white px-2">15 hrs</li>
                <li class="pl-2">15 min</li>
              </ul>
            </div>
          </a>

          <div class="card-body">
            <h5>
              <a href="single-package-right-sidebar.html" class="card-title text-uppercase">Australia / Canberra</a>
            </h5>

            <p class="mb-7">Integer purus ex, dictum nec elementum eu, tristique vel lectus. Donec rutrum lectus et
              pharetra
              egestas.</p>

            <div class="d-flex justify-content-between align-items-center">
              <div>
                <p class="mb-0 text-capitalize">Start from</p>
                <h3 class="text-primary">$299</h3>
              </div>

              <div>
                <a href="" class="btn btn-xs btn-outline-secondary text-uppercase">Details</a>
                <a href="" class="btn btn-xs btn-outline-secondary px-4">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="card card-bg">
          <a href="single-package-right-sidebar.html" class="position-relative">
            <img class="card-img-top" src="assets/img/home/deal/deal-03.jpg" alt="Card image cap">
            <div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column">
              <div class="badge badge-primary badge-rounded-circle">
                <span class="d-block">
                  40%<br>off
                </span>
              </div>

              <ul class="list-unstyled d-flex mt-auto text-warning mb-0">
                <li>
                  <i class="fa fa-star mr-1" aria-hidden="true"></i>
                </li>
                <li>
                  <i class="fa fa-star mr-1" aria-hidden="true"></i>
                </li>
                <li>
                  <i class="fa fa-star mr-1" aria-hidden="true"></i>
                </li>
                <li>
                  <i class="fa fa-star mr-1" aria-hidden="true"></i>
                </li>
                <li>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </li>
              </ul>

              <ul class="list-unstyled d-flex text-white font-weight-bold mb-0">
                <li class="border-right border-white pr-2">7 days</li>
                <li class="border-right border-white px-2">15 hrs</li>
                <li class="pl-2">15 min</li>
              </ul>
            </div>
          </a>

          <div class="card-body">
            <h5>
              <a href="single-package-right-sidebar.html" class="card-title text-uppercase">Jarmani / Berlin</a>
            </h5>

            <p class="mb-7">Donec lacus felis, dapibus males uada massa non, ferm entum tincidunt quam. Orci varius
            natoque.</p>

            <div class="d-flex justify-content-between align-items-center">
              <div>
                <p class="mb-0 text-capitalize">Start from</p>
                <h3 class="text-primary">$299</h3>
              </div>

              <div>
                <a href="" class="btn btn-xs btn-outline-secondary text-uppercase">Details</a>
                <a href="" class="btn btn-xs btn-outline-secondary px-4">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

@@include('footer.htm')