@@include('header.htm', {
  "title": "Star Travel",
  "parents": "",
  "active": ""
})

<!-- ====================================
———	TABS & DROPDOWNS SECTION
===================================== -->
<section style="background-image: url(assets/img/pages/page-title-bg10.jpg);">
  <div class="container">
    <div class="row align-items-center justify-content-center" style="height: 300px;">
      <div class="col-md-6">
        <div class="section-title text-center">
          <h2 class="text-uppercase">Tabs & dropdowns</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ====================================
———	TABS SECTION
===================================== -->
<section class="">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-12">
        <div class="section-title">
          <h2 class="text-center text-uppercase">Tabs</h2>
        </div>
        <ul class="list-unstyled d-flex justify-content-center">
          <li class="text-uppercase">
            <a href="#" class="btn btn-outline-secondary">All places</a>
          </li>
          <li class="text-uppercase">
            <a href="#" class="btn btn-outline-secondary">Asia</a>
          </li>
          <li class="text-uppercase">
            <a href="#" class="btn btn-outline-secondary text-uppercase">America</a>
          </li>
          <li class="text-uppercase">
            <a href="#" class="btn btn-outline-secondary text-uppercase">Africa</a>
          </li>
          <li class="text-uppercase">
            <a href="#" class="btn btn-outline-secondary text-uppercase">Europe</a>
          </li>	
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- ====================================
———	POPULAR SECTION
===================================== -->
<section>
  <div class="container">
    <div class="">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <a href="#">
            <img class="img-fluid" src="assets/img/packages/package-related-01.jpg" alt="Generic placeholder image">
          </a>
        </div>
        <div class="col-md-6 col-lg-8">
          <h5 class="">Popular Destinations for Honeymoon</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div class="row">
              <div class="col-md-6">
                <ul class="list-unstyled">
                              <li class="media">
                                <div class=""><i class="fa fa-square" aria-hidden="true"></i>
                                </div>
                                <div class="media-body">Some point should be here</div>
                              </li>
                              <li class="media">
                                <div class=""><i class="fa fa-square" aria-hidden="true"></i>
                                </div>
                                <div class="media-body">Some point should be here</div>
                              </li>
                              <li class="media">
                                <div class=""><i class="fa fa-square" aria-hidden="true"></i>
                                </div>
                                <div class="media-body">Some point should be here</div>
                              </li>
                              <li class="media">
                                <div class=""><i class="fa fa-square" aria-hidden="true"></i>
                                </div>
                                <div class="media-body">Some point should be here</div>
                              </li>
                          </ul>
              </div>
              <div class="col-md-6">
                <ul class="list-unstyled">
                              <li class="media">
                                <div class=""><i class="fa fa-square" aria-hidden="true"></i>
                                </div>
                                <div class="media-body">Some point should be here</div>
                              </li>
                              <li class="media">
                                <div class=""><i class="fa fa-square" aria-hidden="true"></i>
                                </div>
                                <div class="media-body">Some point should be here</div>
                              </li>
                              <li class="media">
                                <div class=""><i class="fa fa-square" aria-hidden="true"></i>
                                </div>
                                <div class="media-body">Some point should be here</div>
                              </li>
                          </ul>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ====================================
———	POPULAR SECTION
===================================== -->
<section class="">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="">
          <div>
            <nav class="nav nav-pills flex-column flex-sm-row">
              <a class="flex-sm-fill text-sm-center nav-link active" href="#">Recent</a>
              <a class="flex-sm-fill text-sm-center nav-link" href="#">Popular</a>
              <a class="flex-sm-fill text-sm-center nav-link" href="#">New</a>
            </nav>
          </div>
          <div class="">
            <div class="media">
              <a href="#">
                <img class="" src="assets/img/packages/tab-01.jpg" alt="Generic placeholder image">
              </a>
              <div class="media-body">
                <p><a href="#">Popular Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></p>
                <span><i class="fa fa-calendar" aria-hidden="true"></i>5 March, 2016</span>
              </div>
            </div>
            <div class="media">
              <a href="#">
                <img class="" src="assets/img/packages/tab-02.jpg" alt="Generic placeholder image">
              </a>
              <div class="media-body">
                <p><a href="#">Popular Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></p>
                <span><i class="fa fa-calendar" aria-hidden="true"></i>5 March, 2016</span>
              </div>
            </div>
            <div class="media">
              <a href="#">
                <img class="" src="assets/img/packages/tab-03.jpg" alt="Generic placeholder image">
              </a>
              <div class="media-body">
                <p><a href="#">Popular Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></p>
                <span><i class="fa fa-calendar" aria-hidden="true"></i>5 March, 2016</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="">
          <div>
            <nav class="nav nav-pills flex-column flex-sm-row">
              <a class="flex-sm-fill text-sm-center nav-link active" href="#">Recent</a>
              <a class="flex-sm-fill text-sm-center nav-link" href="#">Popular</a>
              <a class="flex-sm-fill text-sm-center nav-link" href="#">New</a>
            </nav>
          </div>
          <div class="">
            <div class="media">
              <a href="#">
                <img class="" src="assets/img/packages/tab-01.jpg" alt="Generic placeholder image">
              </a>
              <div class="media-body">
                <p><a href="#">Popular Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></p>
                <span><i class="fa fa-calendar" aria-hidden="true"></i>5 March, 2016</span>
              </div>
            </div>
            <div class="media">
              <a href="#">
                <img class="" src="assets/img/packages/tab-02.jpg" alt="Generic placeholder image">
              </a>
              <div class="media-body">
                <p><a href="#">Popular Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></p>
                <span><i class="fa fa-calendar" aria-hidden="true"></i>5 March, 2016</span>
              </div>
            </div>
            <div class="media">
              <a href="#">
                <img class="" src="assets/img/packages/tab-03.jpg" alt="Generic placeholder image">
              </a>
              <div class="media-body">
                <p><a href="#">Popular Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></p>
                <span><i class="fa fa-calendar" aria-hidden="true"></i>5 March, 2016</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ====================================
———	DROPDOWN SECTION
===================================== -->
<section class="">
  <div class="container">
    <div class="section-title text-uppercase text-center">
      <h2>Dropdown</h2>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="form-group">
            <select id="inputState" class="form-control text-uppercase">
              <option selected="">Select a card</option>
              <option>Usa</option>
              <option>Uk</option>
              <option>Canada</option>
            </select>
        </div>
        <div class="form-group">
            <select id="inputState" class="form-control text-uppercase">
              <option selected="">Select a card</option>
              <option>Usa</option>
              <option>Uk</option>
              <option>Canada</option>
            </select>
        </div>
        <div class="form-group">
            <select id="inputState" class="form-control text-uppercase">
              <option selected="">Select a card</option>
              <option>Usa</option>
              <option>Uk</option>
              <option>Canada</option>
            </select>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="form-group">
            <select id="inputState" class="form-control text-uppercase">
              <option selected="">Select a card</option>
              <option>Usa</option>
              <option>Uk</option>
              <option>Canada</option>
            </select>
        </div>
        <div class="form-group">
            <select id="inputState" class="form-control text-uppercase">
              <option selected="">Select a card</option>
              <option>Usa</option>
              <option>Uk</option>
              <option>Canada</option>
            </select>
        </div>
        <div class="form-group">
            <select id="inputState" class="form-control text-uppercase">
              <option selected="">Select a card</option>
              <option>Usa</option>
              <option>Uk</option>
              <option>Canada</option>
            </select>
        </div>
      </div>
      <div class="col-md-6 col-lg-2">
        <div class="form-group">
            <select id="inputState" class="form-control text-uppercase">
              <option selected="">English</option>
              <option>Usa</option>
              <option>Uk</option>
              <option>Canada</option>
            </select>
        </div>
        <div class="form-group">
            <select id="inputState" class="form-control text-uppercase">
              <option selected="">English</option>
              <option>Usa</option>
              <option>Uk</option>
              <option>Canada</option>
            </select>
        </div>
        <div class="form-group">
            <select id="inputState" class="form-control text-uppercase">
              <option selected="">English</option>
              <option>Usa</option>
              <option>Uk</option>
              <option>Canada</option>
            </select>
        </div>
      </div>
      <div class="col-md-6 col-lg-2">
        <div class="form-group">
            <select id="inputState" class="form-control text-uppercase">
              <option selected="">usd</option>
              <option>Usa</option>
              <option>Uk</option>
              <option>Canada</option>
            </select>
        </div>
        <div class="form-group">
            <select id="inputState" class="form-control text-uppercase">
              <option selected="">usd</option>
              <option>Usa</option>
              <option>Uk</option>
              <option>canada</option>
            </select>
        </div>
        <div class="form-group">
            <select id="inputState" class="form-control text-uppercase">
              <option selected="">usd</option>
              <option>usa</option>
              <option>uk</option>
              <option>canada</option>
            </select>
        </div>
      </div>
    </div>
  </div>
</section>

@@include('footer.htm')