{# FIXT@fixt_reference = 'admin_footer.html.twig' #}
{# FIXT@name = 'footer admin' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'admin_footer' #}
{# FIXT@prefered = true #}
{# FIXT@subtype = 'L1' #}
<div class="footer">
	<div class="pull-right">
		Crée par <strong><a href="http://aequation.fr/" target="_blank">Aequation-Webdesign</a></strong>
	</div>
	<div>
		Copyright <strong>{{ Entreprise.title|default('') }}</strong> &copy; {{ currentYear() }}
	</div>
</div>
