{% extends 'WebsiteSiteBundle:Root:root_error_01.html.twig' %}

{% block section %}

	<!-- ====================================
	———	CONTACT SECTION
	===================================== -->
	<section>
		<div class="container my-10">
			<div class="row text-center align-items-center justify-content-center" style="height: -webkit-fill-available;">
				<div class="col-md-10 col-lg-8 col-xl-6">
					
					<p class="h3 m-7"><strong>Une erreur s'est produite !</strong></p>
					<p class="">Un rapport a été envoyé à l'administrateur.<br>Nous procédons rapidement à sa résolution.</p>

					<div class="m-9">
						<a href="javascript:history.back()" class="btn btn-primary text-uppercase">Retour</a>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock section %}
