{# FIXT@fixt_reference = 'banner_01.html.twig' #}
{# FIXT@name = "Page d'accueil" #}
{# FIXT@owner = "@FIXT_REF=Entreprise@GROTTES_DU_CERDON" #}
{# FIXT@groups = ["@FIXT_REF=Group@GROTTES_PUBLIC"] #}
{# FIXT@titleh1 = "Page d'accueil des Grottes" #}
{# FIXT@title = "Accueil Grottes du Cerdon" #}
{# FIXT@menutitle = "Accueil" #}
{# FIXT@description = "Page d'accueil des Grottes" #}
{# FIXT@bundle = 'WebsiteSiteBundle' #}
{# FIXT@templatename = 'star2' #}
{# !!!FIXT@typepage = 'root' #}
{# !!!FIXT@twigsections = ['@FIXT_REF=Twig@banner_01.html.twig','@FIXT_REF=Twig@section_search_01.html.twig','@FIXT_REF=Twig@section_top_deals_01.html.twig','@FIXT_REF=Twig@section_star_city.html.twig','@FIXT_REF=Twig@footer_01.html.twig'] #}
{# FIXT@seo = true #}
{# FIXT@prefered = true #}

<div id="rev_slider_12_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="star-test"
	data-source="gallery"
	style="margin:0px auto;background:rgba(0,0,0,0.15);padding:0px;margin-top:0px;margin-bottom:0px;background-repeat:no-repeat;background-size:cover;background-position:center center;">
	<!-- START REVOLUTION SLIDER 5.4.8.1 fullwidth mode -->
	<div id="rev_slider_12_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.8.1">
		<ul>
			<!-- SLIDE  -->
			<li data-index="rs-33" data-transition="slideoverdown" data-slotamount="default" data-hideafterloop="0"
				data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default"
				data-thumb="{{ asset('bundles/websitesite/Diapos/1280x480-v3.jpg') }}" data-delay="6000" data-rotate="0" data-saveperformance="off"
				data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
				data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
				<!-- MAIN IMAGE -->
				<img src="{{ asset('bundles/websitesite/Diapos/1280x480-v3.jpg') }}" alt="" data-bgposition="center center" data-bgfit="cover"
					data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina style="width: 100% !important">
				<!-- LAYERS -->

				<!-- LAYER NR. 1 -->
				<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-33-layer-22"
					data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
					data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="wrap"
					data-type="shape" data-basealign="slide" data-responsive_offset="on"
					data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
					data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
					style="z-index: 5;background-color:rgba(0,0,0,0.15);"> </div>

				<!-- LAYER NR. 2 -->
				<div class="tp-caption   tp-resizeme" id="slide-33-layer-6" data-x="['left','left','left','left']"
					data-hoffset="['0','100','50','70']" data-y="['middle','middle','middle','middle']"
					data-voffset="['-100','-100','-100','-100']" data-fontsize="['30','30','22','20']" data-width="none"
					data-height="none" data-whitespace="wrap" data-type="text" data-responsive_offset="on"
					data-frames='[{"delay":650,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+4340","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]'
					data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
					style="z-index: 6; white-space: wrap; font-size: 30px; line-height: 35px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Montserrat;text-transform:uppercase;">
					{{ site_context.Entreprise.subtitle|default('')|raw }} </div>

				<!-- LAYER NR. 3 -->
				<div class="tp-caption   tp-resizeme" id="slide-33-layer-7" data-x="['left','left','left','left']"
					data-hoffset="['0','100','50','70']" data-y="['middle','middle','middle','middle']"
					data-voffset="['-40','-40','-55','-50']" data-fontsize="['65','65','40','30']" data-width="none"
					data-height="none" data-whitespace="wrap" data-type="text" data-responsive_offset="on"
					data-frames='[{"delay":650,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+4340","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]'
					data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
					style="z-index: 7; white-space: wrap; font-size: 65px; line-height: 70px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:montserrat;text-transform:uppercase;">
					{{ site_context.Entreprise.accroche|default('')|raw }} </div>

				<!-- LAYER NR. 4 -->
				<div class="tp-caption   tp-resizeme" id="slide-33-layer-10" data-x="['left','left','left','center']"
					data-hoffset="['0','100','50','0']" data-y="['middle','middle','middle','middle']"
					data-voffset="['35','30','10','29']" data-fontsize="['14','14','13','14']" data-width="none"
					data-height="none" data-whitespace="wrap" data-visibility="['on','on','on','off']" data-type="text"
					data-responsive_offset="on"
					data-frames='[{"delay":1050,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+3940","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]'
					data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
					style="z-index: 8; white-space: wrap; font-size: 14px; line-height: 21px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:montserrat;">
					{{ 'AccrocheDiapo'|trans()|raw }} </div>

				<!-- LAYER NR. 5 -->
				<a href="#" target="_blank" class="tp-caption rev-btn " id="slide-33-layer-11" data-x="['left','left','left','left']"
					data-hoffset="['0','100','50','70']" data-y="['middle','middle','middle','middle']"
					data-voffset="['120','120','100','30']" data-width="132" data-height="none" data-whitespace="wrap"
					data-type="button" data-responsive_offset="on" data-responsive="on"
					data-frames='[{"delay":1450,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+3540","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]'
					data-textAlign="['center','center','center','center']" data-paddingtop="[14,14,14,14]"
					data-paddingright="[0,0,0,0]" data-paddingbottom="[14,14,14,14]" data-paddingleft="[0,0,0,0]"
					style="z-index: 9; min-width: 132px; max-width: 132px; white-space: nowrap; font-size: 14px; line-height: 17px; font-weight: 500; color: #ffffff; letter-spacing: 0;font-family:Montserrat;text-transform:uppercase;background-color:rgb(255,137,30);border-radius:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
					Tarifs </a>
			</li>
			<!-- SLIDE  -->
			<li data-index="rs-54" data-transition="slideoverdown" data-slotamount="default" data-hideafterloop="0"
				data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default"
				data-thumb="{{ asset('bundles/websitesite/Diapos/1280x480-FTC2019.jpg') }}" data-delay="6000" data-rotate="0" data-saveperformance="off"
				data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
				data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
				<!-- MAIN IMAGE -->
				<img src="{{ asset('bundles/websitesite/Diapos/1280x480-FTC2019.jpg') }}" alt="" data-bgposition="center center" data-bgfit="cover"
					data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina style="width: 100% !important">
				<!-- LAYERS -->

				<!-- LAYER NR. 6 -->
				<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-54-layer-12"
					data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
					data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="wrap"
					data-type="shape" data-basealign="slide" data-responsive_offset="on"
					data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
					data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
					style="z-index: 5;background-color:rgba(0,0,0,0.15);"> </div>

				<!-- LAYER NR. 7 -->
				<div class="tp-caption   tp-resizeme" id="slide-54-layer-6" data-x="['center','center','center','center']"
					data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
					data-voffset="['-100','-100','-100','-100']" data-fontsize="['30','30','22','20']" data-width="none"
					data-height="none" data-whitespace="wrap" data-type="text" data-responsive_offset="on"
					data-frames='[{"delay":650,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+4330","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]'
					data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
					style="z-index: 6; white-space: nowrap; font-size: 30px; line-height: 35px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Montserrat;text-transform:uppercase;">
					Aux Grottes du Cerdon... </div>

				<!-- LAYER NR. 8 -->
				<div class="tp-caption   tp-resizeme" id="slide-54-layer-7" data-x="['center','center','center','center']"
					data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
					data-voffset="['-40','-40','-55','-50']" data-fontsize="['65','65','40','30']" data-width="none"
					data-height="none" data-whitespace="wrap" data-type="text" data-responsive_offset="on"
					data-frames='[{"delay":650,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+4330","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]'
					data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
					style="z-index: 7; white-space: nowrap; font-size: 65px; line-height: 70px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:montserrat;text-transform:uppercase;">
					Fear The Cave </div>

				<!-- LAYER NR. 9 -->
				{# <div class="tp-caption   tp-resizeme" id="slide-54-layer-10" data-x="['center','center','center','center']"
					data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
					data-voffset="['35','30','10','29']" data-fontsize="['14','14','13','14']" data-width="none"
					data-height="none" data-whitespace="wrap" data-visibility="['on','on','on','off']" data-type="text"
					data-responsive_offset="on"
					data-frames='[{"delay":1050,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+3930","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]'
					data-textAlign="['center','center','center','inherit']" data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
					style="z-index: 8; white-space: nowrap; font-size: 14px; line-height: 21px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:montserrat;">
					{{ 'AccrocheDiapo'|trans()|raw }} </div> #}

				<!-- LAYER NR. 10 -->
				<a href="#" target="_blank" class="tp-caption rev-btn " id="slide-54-layer-11" data-x="['center','center','center','center']"
					data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
					data-voffset="['120','120','100','30']" data-width="132" data-height="none" data-whitespace="wrap"
					data-type="button" data-responsive_offset="on" data-responsive="on"
					data-frames='[{"delay":1450,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+3530","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]'
					data-textAlign="['center','center','center','center']" data-paddingtop="[14,14,14,14]"
					data-paddingright="[0,0,0,0]" data-paddingbottom="[14,14,14,14]" data-paddingleft="[0,0,0,0]"
					style="z-index: 9; min-width: 132px; max-width: 132px; white-space: nowrap; font-size: 14px; line-height: 17px; font-weight: 500; color: #ffffff; letter-spacing: 0;font-family:Montserrat;text-transform:uppercase;background-color:rgb(255,137,30);border-radius:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
					Réservez ! </a>
			</li>
			<!-- SLIDE  -->
			<li data-index="rs-56" data-transition="slideoverdown" data-slotamount="default" data-hideafterloop="0"
				data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default"
				data-thumb="{{ asset(fileurl(images[13],'optimized',256)) }}" data-delay="6000" data-rotate="0" data-saveperformance="off"
				data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
				data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
				<!-- MAIN IMAGE -->
				<img src="{{ asset(fileurl(images[13],'optimized',1440)) }}" alt="" data-bgposition="center center" data-bgfit="cover"
					data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina style="width: 100% !important">
				<!-- LAYERS -->

				<!-- LAYER NR. 11 -->
				<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-56-layer-12"
					data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
					data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="wrap"
					data-type="shape" data-basealign="slide" data-responsive_offset="on"
					data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
					data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
					style="z-index: 5;background-color:rgba(0,0,0,0.15);"> </div>

				<!-- LAYER NR. 12 -->
				<div class="tp-caption   tp-resizeme" id="slide-56-layer-6" data-x="['left','left','left','left']"
					data-hoffset="['0','100','50','70']" data-y="['middle','middle','middle','middle']"
					data-voffset="['-100','-100','-100','-100']" data-fontsize="['30','30','22','20']" data-width="none"
					data-height="none" data-whitespace="wrap" data-type="text" data-responsive_offset="on"
					data-frames='[{"delay":650,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]'
					data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
					style="z-index: 6; white-space: nowrap; font-size: 30px; line-height: 35px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Montserrat;text-transform:uppercase;">
					{{ site_context.Entreprise.subtitle|default('')|raw }} </div>

				<!-- LAYER NR. 13 -->
				<div class="tp-caption   tp-resizeme" id="slide-56-layer-7" data-x="['left','left','left','left']"
					data-hoffset="['0','100','50','70']" data-y="['middle','middle','middle','middle']"
					data-voffset="['-40','-40','-55','-50']" data-fontsize="['65','65','40','30']" data-width="none"
					data-height="none" data-whitespace="wrap" data-type="text" data-responsive_offset="on"
					data-frames='[{"delay":650,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]'
					data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
					style="z-index: 7; white-space: nowrap; font-size: 65px; line-height: 70px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:montserrat;text-transform:uppercase;">
					{{ site_context.Entreprise.accroche|default('')|raw }} </div>

				<!-- LAYER NR. 14 -->
				<div class="tp-caption   tp-resizeme" id="slide-56-layer-10" data-x="['left','left','left','center']"
					data-hoffset="['0','100','50','0']" data-y="['middle','middle','middle','middle']"
					data-voffset="['35','30','10','29']" data-fontsize="['14','14','13','14']" data-width="none"
					data-height="none" data-whitespace="wrap" data-visibility="['on','on','on','off']" data-type="text"
					data-responsive_offset="on"
					data-frames='[{"delay":1050,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]'
					data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
					style="z-index: 8; white-space: nowrap; font-size: 14px; line-height: 21px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:montserrat;">
					{{ 'AccrocheDiapo'|trans()|raw }} </div>

				<!-- LAYER NR. 15 -->
				<a href="#" target="_blank" class="tp-caption rev-btn " id="slide-56-layer-11" data-x="['left','left','left','left']"
					data-hoffset="['0','100','50','70']" data-y="['middle','middle','middle','middle']"
					data-voffset="['120','120','100','30']" data-width="132" data-height="none" data-whitespace="wrap"
					data-type="button" data-responsive_offset="on" data-responsive="on"
					data-frames='[{"delay":1450,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]'
					data-textAlign="['center','center','center','center']" data-paddingtop="[14,14,14,14]"
					data-paddingright="[0,0,0,0]" data-paddingbottom="[14,14,14,14]" data-paddingleft="[0,0,0,0]"
					style="z-index: 9; min-width: 132px; max-width: 132px; white-space: nowrap; font-size: 14px; line-height: 17px; font-weight: 500; color: #ffffff; letter-spacing: 0;font-family:Montserrat;text-transform:uppercase;background-color:rgb(255,137,30);border-radius:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
					Groupes </a>
			</li>
		</ul>
		<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
	</div>
</div>