
{%- macro agenda_month(data_comp, title, linkToAgendaComplet) -%}
	{% set linkToAgendaComplet = linkToAgendaComplet|default(false) ? cat_url(634) : null %}
	{% if data_comp|length -%}
	<div class="card border" style="background-color: #f7f0b8;">
		<div class="card-body">
			<div class="row">
				<div class="col-lg-12">
					{% set title = title ?? data_comp.title %}
					<h5 class="text-center font-weight-bold text-capitalize"><strong>{{ linkToAgendaComplet|isString ? ('<a href="' ~ asset(linkToAgendaComplet) ~ '" title="' ~ ('voir_agenda_complet'|trans|striptags) ~ '"><i class="fa fa-calendar fa-fw text-success"></i></a>&nbsp;')|raw }}{{ title|isString ? title : title|date("F Y", site_context.getTimeZone()) }}</strong></h5>
					<table class="table table-condensed table-agenda" style="table-layout: fixed;">
						<thead>
							<tr>
								{% for day in namesOfDay(2) -%}<th>{{ day|upper }}</th>{%- endfor %}
							</tr>
						</thead>
						<tbody>
							{% for i,item1 in data_comp.days -%}
							<tr>
								{% for j,item2 in item1 -%}
								{% if item2 is not null %}
									{% set today = site_context.isContextToday(item2.start|default(item2)) ? ' today' : '' %}
									{% set deprecated = site_context.isContextDeprecated(item2.start|default(item2)) ? ' opacity-5' : '' %}
								{% endif %}
								{%- if item2|isInstance('DateTime') -%}
								<td class="text-center{{ today }}{{ deprecated }} text-muted" style="background-color: transparent;">{{ item2|date('d', site_context.getTimeZone()) }}</td>
								{%- elseif item2|isArray and item2.start is defined -%}
								{% if item2._events|default([])|length > 0 %}
								{% set titles = [] %}
								{% for ti in item2._events %}{% set titles = titles|merge([ti.menutitle|striptags]) %}{% endfor %}
								<td data-agenda-day="{{ (item2|removeKeys(['_events']))|serialized }}" class="text-center{{ today }}{{ deprecated }} cursor-pointer font-weight-bold title-popover agenda-event" style="background-color: {{ item2.parc.color|default('transparent') }};" data-toggle="popover" data-placement="bottom" data-trigger="focus" title="{{ item2.start|localizeddate('full', 'none', currentLanguage.fullname) }}" data-content='<ul class="list-unstyled"><li class="font-weight-bold text-center">{{ titles|arrayunique|join("</li><li>") }}</li></ul><hr class="my-1"><p>{{ (item2.parc.resume|default(''))|striptags }}</p>'>{{ item2.start|date('d', site_context.getTimeZone()) }}</td>
								{%- else -%}
								<td data-agenda-day="{{ (item2|removeKeys(['_events']))|serialized }}" class="text-center{{ today }}{{ deprecated }} cursor-pointer" style="background-color: {{ item2.parc.color|default('transparent') }};">{{ item2.start|date('d', site_context.getTimeZone()) }}</td>
								{%- endif -%}
								{%- else -%}
								<td class="text-center" style="background-color: transparent;">&nbsp;</td>
								{%- endif -%}
								{%- endfor %}
							</tr>
							{%- endfor %}
						</tbody>
					</table>
					{% if linkToAgendaComplet|isString -%}
					<div class="w-100 text-center">
						<a href="{{ asset(linkToAgendaComplet) }}" title="{{ 'voir_agenda_complet'|trans|striptags }}"><i class="fa fa-calendar fa-fw text-success"></i>&nbsp;{{ 'voir_agenda_complet'|trans|raw }}</a>
					</div>
					{%- endif -%}
				</div>
			</div>
		</div>
	</div>
	{# {{ dump(data_comp) }} #}
	{% endif -%}
{%- endmacro -%}

{% macro month(year, month, linkToAgendaComplet) %}
	{%- import _self as self -%}
	{%- set calendars = parcsCalendars(year|default(site_context.getContextYear()), month|default(site_context.getContextMonth()), false, false, true) -%}
	{# {%- set calendars = parcsCalendars(year|default(site_context.getContextYear()), month|default(site_context.getContextMonth())) -%} #}
	{# {{- dump([month, year]) -}} #}
	{%- set compiled = calendars.getCompiled() -%}
	{%- if compiled|length -%}
	<div class="my-2">
		{{- self.agenda_month(compiled, null, linkToAgendaComplet|default(true)) -}}
	</div>
	{%- endif -%}
{% endmacro %}












