{% macro flashMessages() %}
	<span id="flashbag_messages" style="display:none;">
		{% for label, messages in app.flashes %}
		{% for message in messages if message is iterable %}
		<div data-flash-message data-type="{{ label }}" data-support="{{ message.support }}">{{ message.message|trans|raw }}</div>
		{% endfor %}
		{% endfor %}
	</span>
{% endmacro %}

{% macro booleanIcon(value) %}
	{{ value|isBoolean(true) ? '<i class="fa fa-check text-info fa-fw"></i>'|raw : '<i class="fa fa-times text-danger fa-fw"></i>'|raw }}
{% endmacro %}

{%- macro card(item, title, accroche, view_more) -%}
	{% set pw = item.shortname != 'Pageweb' ? item.pageweb|default(null) : item %}
	{% if pw is not null %}
	{% set URL = cat_url(item) %}
	{% set view_more = view_more|default(true) ? URL : '#' %}
	<div class="card card-hover mb-3">
		<a href="{{ view_more }}" class="position-relative">
			{% set photo = item.thumbnail|default(item.photo|default(image_by_slug('vue-depuis-le-belvedere'))) %}
			<img class="card-img-top" src="{{ asset(fileurl(photo,'original')) }}" alt="{{ item.slug|default(pw.slug|default('photo')) }}">
			{% if is_granted('ROLE_EDITOR') -%}
			<div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column">
				<small>
					<ul class="list-unstyled d-flex text-white font-weight-bold mb-0">
						<li><button data-go-href="'{{ url('wsa_' ~ item.shortname(true) ~ '_show', {id: item.id}) }}'" role="button" class="btn btn-sm btn-danger px-2" target="_blank"><i class="fa fa-cog fa-fw"></i></button></li>
					</ul>
				</small>
			</div>
			{%- endif %}
		</a>					
		<div class="card-body px-3">
			<h5>
				<a href="{{ view_more }}" class="card-title text-uppercase">{{ (title|default(item.menutitle))|striptags|truncate(70, true) }}</a>
			</h5>
			<p class="mb-3">{{ accroche|default(item.accroche|default(pw.accroche|default('')))|raw }}</p>
			{% if view_more != '#' %}
			<div class="d-flex justify-content-between align-items-center">
				<a href="{{ view_more }}" class="btn btn-xs btn-outline-secondary text-uppercase">{{ 'more_informations'|trans|striptags }}</a>
			</div>
			{% endif %}
		</div>
	</div>
	{% endif %}
{%- endmacro -%}

{% macro cards(items, view_more, style_wrapper) %}
	{% import _self as self %}
	{% for item in items if item.active %}
	<div class="{{ style_wrapper|default('col-sm-6 col-md-4 col-lg-3 mb-3') }}">{{ self.card(item, null, null, view_more|default(true)) }}</div>
	{% endfor %}
{% endmacro %}

{%- macro minicard(item, title, accroche, view_more, img_width) -%}
	{% set pw = item.shortname == 'Pageweb' ? item : item.pageweb|default(null) %}
	{% set img_width = img_width is defined ? img_width : 400 %}
	{% if pw is not null %}
	{% set URL = cat_url(item) %}
	{% set view_more = view_more|default(true) ? URL : '#' %}
	<div class="card mb-5">
		<a href="{{ view_more }}" class="position-relative">
			{% set photo = item.photo|default(item.thumbnail|default(pw.photo|default(null))) %}
			{% if photo is not null %}
			<img class="card-img-top rounded" src="{{ asset(fileurl(photo,'thumbnail', img_width)) }}" alt="{{ pw.slug }}">
			{%- else -%}
			<img class="card-img-top rounded" src="{{ asset(fileurl(image_by_slug('vue-depuis-le-belvedere'),'thumbnail', img_width)) }}" alt="{{ pw.slug }}">
			{%- endif %}
			<div class="card-img-overlay rounded card-hoverable rounded-top d-flex flex-column">
				<div class="mt-auto mb-4">
					<div class="top-content">
						<h4 class="font-weight-bold text-uppercase text-center text-white mb-0">
							{{- item.menutitle|default(item.title|default(item.name))|striptags|truncate(32, true) -}}
						</h4>
					</div>
					{% set sstitre = accroche|default(item.subtitle|default(item.accroche|default('')))|striptags|truncate(160, true) -%}
					{% if sstitre|isString -%}
					<div class="bottom-content">
						<p class="text-white text-center mb-6 mb-lg-4 mb-xl-6">{{ sstitre }}</p>
					</div>
					{%- endif %}
				</div>
			</div>
		</a>
	</div>
	{% endif %}
{%- endmacro -%}

{% macro minicards(items, view_more, cols_css, img_width, max_items) %}
	{% import _self as self %}
	{% set max_items = max_items|isInteger ? max_items : 8 %}
	{% set img_width = img_width|isInteger ? img_width : 256 %}
	{% set items = sortedSlugRequests(items) %}
	<div class="row">
		{% set ctn = 0 %}
		{% for item in items %}
		{% set pw = item.shortname == 'Pageweb' ? item : item.pageweb|default(null) %}
		{% if pw|isObject and ctn < max_items %}
		{% set URL = item.currentPathslugAsParams|default(null) is not null ? cat_url(item) : '#' %}
		{% set view_more = view_more|default(true) ? URL : '#' %}
		<div class="{{ cols_css|default('col-md-6 col-lg-3') }}">
			{{ self.minicard(item, null, null, view_more, img_width) }}
		</div>
		{% set ctn = ctn + 1 %}
		{% endif %}
		{% endfor %}
	</div>
{% endmacro %}

{%- macro adminItem(item, role) -%}
	{%- set role = role|default('ROLE_ADMIN') -%}
	{%- if is_granted(role) or item.owner == app.user -%}
	<a data-go-href="'{{ url('wsa_' ~ item.shortname(true) ~ '_show', {id: item.id}) }}'" role="button" class="btn btn-xs btn-danger text-white" target="_blank" style="cursor: pointer;"><i class="fa fa-cog fa-fw"></i></a>
	{%- endif -%}
{%- endmacro -%}

{% macro grid_pano(items, classes) %}
	{% import _self as self %}
	{% set item = items|isArray ? items|first : items %}
	{% set elements = pagewebDefaultsValues(item, {resume: ['resume','accroche','title','subtitle']}) %}
	{% set images = pagewebDefaultsValues(items, {picone: ['picone','photo','entete']}) %}
	<div class="{{ classes|default('col-md-6 col-lg-4 mb-5') }}">
		<div class="card card-hover">
			{% if images.picone is not null %}
			<a href="{{ '#' }}" class="position-relative">
				<img class="card-img-top" src="{{ asset(fileurl(images.picone,'panoramic',400)) }}" alt="{{ item.slug }}">
				{% if item.isNew %}
				<div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column">
					<button class="btn btn-sm btn-warning text-white font-weight-bold">NOUVEAU</button>
				</div>
				{% endif %}
			</a>
			{% endif %}

			<div class="card-body">
				<h5><a href="{{ '#' }}" class="card-title text-uppercase">{{ item.title|striptags }}</a></h5>
				{# <p class="mb-7">{{ dump(item) }}</p> #}
				<p class="mb-4" style="height: 4.8em; overflow: hidden;">{{ elements.resume|striptagstoextract(120) }}</p>
				<div class="d-flex justify-content-between align-items-center">
					<div>
						<p class="mb-0 text-capitalize">{{ 'Publication'|trans }}</p>
						<h4 class="text-primary">{{ item.publication|localizeddate('medium', 'none', app.request.locale) }}</h4>
					</div>

					<div>
						{{ self.adminItem(item) }}
						<a href="{{ '#' }}" class="btn btn-xs btn-outline-secondary text-uppercase ">{{ 'Consulter'|trans }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endmacro %}

{%- macro grids(items, attr_sort, view_more, cols_css, img_width, max_items) -%}
	{# {% import _self as self %} #}
	{% set attr_sort = attr_sort|isString ? attr_sort : false %}
	{% set max_items = max_items|isInteger ? max_items : 16 %}
	{% set img_width = img_width|isInteger ? img_width : 400 %}
	{% set items = sortedSlugRequests(items) %}
	<div class="row{{ attr_sort|default(false) ? ' grid' }}">
		{% set ctn = 0 %}
		{% for item in items %}
		{% set pw = item.shortname == 'Pageweb' ? item : item.pageweb|default(null) %}
		{% if pw|isObject and ctn < max_items %}
		{% set view_more = view_more|default(true) ? cat_url(item) : '#' %}
		<div class="{{ cols_css|default('col-sm-6 col-md-4 col-lg-3') }} element-item">
			<div class="media media-hoverable justify-content-center mb-2 mb-md-4 mb-lg-6" style="background-color: {{ loop.index is odd ? 'white' : '#EEEBB6' }};">
				<a href="{{ view_more }}" class="media-content">
					{% set photo = item.photo|default(item.entete|default(item.picone|default(pw.picone|default(pw.photo|default(null))))) %}
					{% if photo is not null -%}
					<img class="media-img" src="{{ asset(fileurl(photo,'panoramic', img_width)) }}" alt="{{ item.slug }}">
					{%- else -%}
					<img class="media-img" src="{{ asset(fileurl(image_by_slug('vue-depuis-le-belvedere'),'panoramic', img_width)) }}" alt="{{ item.slug }}">
					{%- endif %}
					<div class="media-object">
						<h3 class="text-uppercase text-white text-center mb-0 p-2">{{ item.menutitle|default(item.title|default(item.name))|striptags|truncate(38, true) }}</h3>
					</div>
					<div class="media-img-overlay">
						<div class="overlay-content">
							<h3 class="">&nbsp;</h3>
							<p class="text-white text-center mb-0 p-2 pt-6">{{- item.subtitle|default(item.resume|default(''))|striptags|truncate(160, true) -}}</p>
						</div>
					</div>
					<div class="media-object">
						{% if is_granted('ROLE_EDITOR') -%}
						<small>
							<ul class="list-unstyled d-flex text-white font-weight-bold mb-0">
								<li><button data-go-href="'{{ url('wsa_' ~ item.shortname(true) ~ '_show', {id: item.id}) }}'" role="button" class="btn btn-sm btn-danger px-2" target="_blank"><i class="fa fa-cog fa-fw"></i></button></li>
							</ul>
						</small>
						{%- endif %}
					</div>
				</a>
			</div>
		</div>
		{% set ctn = ctn + 1 %}
		{% endif %}
		{% endfor %}
	</div>
{%- endmacro -%}

{% macro cardPdf(pdf) %}
	<div class="card card-hover mb-2 bg-smoke">
		<a href="{{ url('website_view_media', {slug: pdf.slug, ext: pdf.fileExtension}) }}" target="_blank" class="position-relative">
			<img class="card-img-top" src="{{ asset(fileurl(pdf,'optimized',256)) }}" alt="{{ pdf.slug }}">
			{% if is_granted('ROLE_EDITOR') -%}
			<div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column">
				<small>
					<ul class="list-unstyled d-flex text-white font-weight-bold mb-0">
						{% if is_granted('ROLE_EDITOR') -%}
						<li><button data-go-href="'{{ url('wsa_' ~ pdf.shortname(true) ~ '_show', {id: pdf.id}) }}'" role="button" class="btn btn-sm btn-danger px-2" target="_blank"><i class="fa fa-cog fa-fw"></i></button></li>
						{%- endif %}
					</ul>
				</small>
			</div>
			{%- endif %}
		</a>
		<div class="card-body bg-smoke p-3">
			<h5><a href="{{ url('website_view_media', {slug: pdf.slug, ext: pdf.fileExtension}) }}" target="_blank" class="card-title text-uppercase mb-0">{{ pdf.title|raw }}</a></h5>
			<p class="mb-2"><a href="{{ pdf.readerurl }}" target="_blank">{{ 'view_calameo'|trans }}</a></p>
			<div class="mb-0">
				<a href="{{ url('website_view_media', {slug: pdf.slug, ext: pdf.fileExtension}) }}" target="_blank" class="btn btn-xs btn-primary text-uppercase bm-0"><i class="fa {{ pdf.icon }} fa-fw"></i> {{ 'Visionner'|trans }}</a>
				<a href="{{ url('website_download_media', {slug: pdf.slug, ext: pdf.fileExtension}) }}" class="btn btn-xs btn-outline-info bm-0"><i class="fa fa-cloud-download fa-fw"></i></a>
			</div>
		</div>
	</div>
{% endmacro %}

{% macro miniPdf(pdf) %}
	<div class="media meta-post-sm border-bottom border-off-white pb-2 mb-2">
		<div class="img-overlay rounded mr-2">
			<img src="{{ asset(fileurl(pdf,'thumbnail',16)) }}" alt="{{ pdf.slug }}">
			<a href="{{ url('website_view_media', {slug: pdf.slug, ext: pdf.fileExtension}) }}" target="_blank" class="hover-img-overlay-dark"></a>
		</div>
		<div class="media-body">
			<a href="{{ url('website_view_media', {slug: pdf.slug, ext: pdf.fileExtension}) }}" target="_blank" class="text-dark hover-text-primary text-capitalize mb-1">{{ pdf.title|raw }}.{{ pdf.fileExtension }}</a>
			<a href="{{ url('website_download_media', {slug: pdf.slug, ext: pdf.fileExtension}) }}" class="btn btn-xs btn-outline-info pull-right"><i class="fa fa-cloud-download fa-fw"></i></a>
		</div>
	</div>
{% endmacro %}

{% macro medialist(items, alternate, imgField) %}
	{% for item in items %}
	{% set pw = item.shortname in ['Pageweb'] ? item : item.pageweb|default(null) %}
	{% if pw.shortname|default(null) in ['Pageweb'] %}
	<div class="media media-list-view media-list-fullwidth flex-column flex-md-row mb-5 bg-smoke">
		<div class="media-img position-relative{{ alternate|default(false) and loop.index is even ? ' order-md-2 rounded-left-0 rounded-right-lg' }}">
			{% set photo = attrs(item, [imgField|default('photo'), 'picone'], true, true) %}
			{% if photo is null %}{% set photo = pw.photo|default(null) %}{% endif %}
			{% if photo is not null -%}
			<img class="img-fluid position-relative" src="{{ asset(fileurl(photo,'thumbnail',800)) }}" alt="{{ item.slug }}">
			{%- else -%}
			<img class="img-fluid position-relative" src="{{ asset(fileurl(image_by_slug('vue-depuis-le-belvedere'),'thumbnail',800)) }}" alt="{{ item.slug }}">
			{%- endif %}
			<a class="media-img-overlay" href="{{ cat_url(item) }}"></a>
			{% if is_granted('ROLE_EDITOR') -%}
			<div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column">
				<small>
					<ul class="list-unstyled d-flex text-white font-weight-bold mb-0">
						<li><button data-go-href="'{{ url('wsa_' ~ item.shortname(true) ~ '_show', {id: item.id}) }}'" role="button" class="btn btn-sm btn-danger px-2" target="_blank"><i class="fa fa-cog fa-fw"></i></button></li>
					</ul>
				</small>
			</div>
			{%- endif %}
		</div>
		<div class="media-body">
			<div class="row align-items-md-center align-items-lg-stretch">
				<div class="col-md-12 col-lg-12">
					<h4>
						<a class="media-title" href="{{ cat_url(item) }}">{{ item.menutitle|striptags|truncate(64, true) }}</a>
					</h4>
					{% set text = item.resume|default(item.accroche|default(pw.resume|default(null))) %}
					{% if text is not null %}
					<p class="mb-lg-0">{{ include(template_from_string(text)) }}</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	{% endfor %}
{% endmacro %}


{%- macro miniproducts(products, ajaxload, popup) -%}
	{% if site_context.Entreprise.preference('MarketplaceBundle/operator', [], false, true)|length and popup|default(false) %}
		{% set products = products|filter_valids(['!parentprod']) %}
		{% if products|length %}
		{% for product in products %}
		<button role="button" class="btn btn-md btn-primary btn-block mb-1 text-uppercase font-weight-bold" data-info-entity="{{ ajaxload|default(false) ? "'" ~ product.bddid ~ "'" : product|serialized(["info"]) }}">
			<i class="fa {{ product.icon }} fa-1x fa-fw"></i> {{ product.name|striptags -}}
		</button>
		{% endfor %}
		{% endif %}
	{% else %}
		{% set products = products|filter_valids(['!parentprod','pageweb']) %}
		{% if products|length %}
		{% for product in products %}
		<a href="{{ url('website_pageweb_by_product', {product: product.slug}) }}" role="button" class="btn btn-md btn-primary btn-block mb-1 text-uppercase font-weight-bold">
			<i class="fa {{ product.icon }} fa-1x fa-fw"></i> <strong>{{ product.name|striptags -}}</strong>
		</a>
		{# <p><i class="fa {{ product.icon }} fa-1x fa-fw"></i> <strong><a href="{{ url('website_pageweb_by_product', {product: product.slug}) }}">{{ product.name|striptags }}</a></strong></p> #}
		{% endfor %}
		{% endif %}
	{% endif %}
{%- endmacro -%}

{%- macro minievents(events, asButtons, ajaxload) -%}
	{# {{ dump(events) }} #}
	{% for key,event in events %}
		{% if asButtons|default(false) == false %}
			{% if event|isObject %}
				<button role="button" class="btn btn-md btn-primary btn-block mb-1 text-uppercase font-weight-bold" data-info-entity="{{ ajaxload|default(false) ? "'" ~ event.bddid ~ "'" : event|serialized(["info"]) }}">
					{{- event.menutitle|striptags -}}
				</button>
			{% elseif event|isArray(true) %}
				{% for evt in event -%}
				{{ key|isString(true) and loop.first ? ('<h3 class="text-uppercase font-weight-bold text-center">' ~ 'longnames'|trans({}, evt.shortname) ~ '</h3>')|raw }}
				<button role="button" class="btn btn-md btn-primary btn-block mb-1 text-uppercase font-weight-bold" data-info-entity="{{ ajaxload|default(false) ? "'" ~ evt.bddid ~ "'" : evt|serialized(["info"]) }}">
					{{- evt.menutitle|striptags -}}
				</button>
				{%- endfor %}
			{% endif %}
		{% else %}
			{% if event|isObject %}
			<div data-info-entity="{{ ajaxload|default(false) ? "'" ~ event.bddid ~ "'" : event|serialized(["info"]) }}" class="hover-text-primary cursor-pointer">{{- event.menutitle|striptags -}}</div>
			{% elseif event|isArray(true) %}
			<ul>
				{% for evt in event -%}
				{{ key|isString(true) and loop.first ? ('<h4 class="text-uppercase font-weight-bold">' ~ 'longnames'|trans({}, evt.shortname) ~ '</h4>')|raw }}
				<li data-info-entity="{{ ajaxload|default(false) ? "'" ~ evt.bddid ~ "'" : evt|serialized(["info"]) }}" class="hover-text-primary cursor-pointer">{{- evt.menutitle|striptags -}}</li>
				{%- endfor %}
			</ul>
			{% endif %}
		{% endif %}
	{% endfor %}
	{# {% for event in events if event.pageweb|default(null) is not null %} #}
	{# <p><i class="fa {{ event.icon }} fa-1x fa-fw"></i> <strong><a href="{{ url('website_pageweb_by_event', {event: event.slug}) }}">{{ event.title }}</a></strong></p> #}
	{# {% endfor %} #}
{%- endmacro -%}


{%- macro productcard(item, title, accroche, view_more, ajaxload) -%}
	{% set view_more = cat_url(item) %}
	<div class="card card-hover" id="{{ item.id ~ item.slug }}"{% if not ajaxload|default(false) %} data-entity-data="{{ item|serialized(["info"]) }}"{% endif %}>
		<a href="{{ view_more }}" class="position-relative">
			{% set photo = item.thumbnail|default(item.photo|default(null)) %}
			{% if photo is not null -%}
			<img class="card-img-top rounded" src="{{ asset(fileurl(photo,'optimized',400)) }}" alt="{{ item.slug }}">
			{%- else -%}
			<img class="card-img-top rounded" src="{{ asset(fileurl(image_by_slug('plan-du-parc-des-grottes-du-cerdon'),'optimized',400)) }}" alt="{{ item.slug }}">
			{%- endif %}
			{% set cats = item.categorie|split(' ') %}
			{# {% if cats|length > 0 %} #}
			<div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column">
				<small>
					<ul class="list-unstyled d-flex text-white font-weight-bold mb-0">
						{% if is_granted('ROLE_EDITOR') -%}
						<li><button data-go-href="'{{ url('wsa_' ~ item.shortname(true) ~ '_show', {id: item.id}) }}'" role="button" class="btn btn-sm btn-danger px-2" target="_blank"><i class="fa fa-cog fa-fw"></i></button></li>
						{%- endif %}
						{# {% for cat in cats -%} #}
						{# <li class="{{ not loop.last ? 'border-right border-white' }} {{ not loop.last and not loop.first ? 'px-2' }} {{ loop.first ? 'pr-2' }} {{ loop.last ? 'pl-2' }}">{{ cat|capitalize }}</li> #}
						{# {%- endfor %} #}
					</ul>
				</small>
			</div>
			{# {% endif %} #}
		</a>
		<div class="card-body px-4">
			<h5>
				<a href="{{ view_more }}" class="card-title text-uppercase">{{ item.name|raw }}</a>
				{# <a href="#" data-info-entity="{{ ajaxload|default(false) ? "'" ~ item.bddid ~ "'" : "'#" ~ item.id ~ item.slug ~ "'" }}" class="card-title text-uppercase">{{ item.name|raw }}</a> #}
			</h5>
			{# {{ dump(item) }} #}
			<p class="mb-5">{{ accroche|default(item.resume|default(item.accroche))|striptags|truncate(120, true)|raw }}</p>
			{% if item.inactiveButVisible or not site_context.Entreprise.preference('MarketplaceBundle/operator', [], false, true)|length %}
			<div class="d-flex justify-content-between align-items-center">
				<div>
					{# <p class="mb-0 text-uppercase">&nbsp;</p> #}
					<h5 class="text-danger">{{ 'indisponible'|trans|striptags }}</h5>
				</div>
				<div>
					{% if not site_context.Entreprise.preference('MarketplaceBundle/operator', [], false, true)|length %}
					<a href="{{ view_more }}" class="btn btn-xs btn-outline-warning text-uppercase">{{ 'more_informations'|trans|striptags }}</a>
					{% else %}
					<a href="#" data-info-entity="{{ ajaxload|default(false) ? "'" ~ item.bddid ~ "'" : "'#" ~ item.id ~ item.slug ~ "'" }}" class="btn btn-xs btn-outline-warning text-uppercase">{{ 'more_informations'|trans|striptags }}</a>
					{% endif %}
				</div>
			</div>
			{% elseif item.minprixttc|default(0) > 0 %}
			<div class="d-flex justify-content-between align-items-center">
				<div>
					<p class="mb-0 text-uppercase">{{ 'a_partir_de'|trans }}</p>
					<h3 class="text-primary">{{ item.minprixttc|default(0)|number_format(2, ',', '') }}&nbsp;€<sup>TTC</sup></h3>
				</div>
				<div>
					<a href="#" data-info-entity="{{ ajaxload|default(false) ? "'" ~ item.bddid ~ "'" : "'#" ~ item.id ~ item.slug ~ "'" }}" class="btn btn-xs btn-outline-info text-uppercase">{{ 'acheter'|trans|striptags }}</a>
				</div>
			</div>
			{% else %}
			<div class="d-flex justify-content-between align-items-center">
				<div>
					<p class="mb-0 text-uppercase">&nbsp;</p>
					{# <h3 class="text-primary">&nbsp;</h3> #}
				</div>
				<div>
					<a href="#" data-info-entity="{{ ajaxload|default(false) ? "'" ~ item.bddid ~ "'" : "'#" ~ item.id ~ item.slug ~ "'" }}" class="btn btn-xs btn-outline-info text-uppercase">{{ 'acheter'|trans|striptags }}</a>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
	{# {% endif %} #}
{%- endmacro -%}

{% macro annonces_recent(Items, number) %}
	{% set Items = Items|default([])|length ? Items : request_data('Annonce', 'findCurrentsAsFacticee', [null, number|default(24)]) %}
	{% if Items|length %}
	{% import _self as self %}
	{{ self.fichesAnnonces(Items, true, false) }}
	{% else %}
	<div class="row">
		<div class="col-lg-12 pt-10 pb-10">
			<div class="alert alert-info text-center">
				<h3>{{ "Aucune annonce n'est disponible pour l'instant."|trans }}</h3>
			</div>
		</div>
	</div>
	{% endif %}
{% endmacro %}

{% macro notfound(shortname) %}
	<section class="bg-smoke py-10 media-center">
		<div class="container">
			<div class="row align-items-lg-center">
				<div class="col-md-4">
					<div class="media-img mb-10 mb-md-0 text-center">
						{# <img class="img-fluid" src="assets/img/home-city/tour-guide-img.png" alt="image"> #}
						<i class="fa fa-question fa-5x fa-fw"></i>
{# 						<div class="media-img-overlay">
							<div class="media-content">
								<span class="d-block text-primary">Free</span>
							</div>
						</div> #}
					</div>
				</div>

				<div class="col-md-8">
					<div class="mb-7">
						<h2 class="text-uppercase text-uppercase font-weight-bold mb-3">{{ (shortname is defined ? 'name'|trans({}, shortname) : 'élément'|trans({}, shortname))|capitalize }} introuvable</h2>
						{# <h4 class="text-uppercase text-gray-color">Start from <span class="text-primary">$255</span></h4> #}
					</div>
					<p class="">Le lien que vous avez demandé n'existe plus ou est indisponible...<br>Veuillez nous excuser pour ce désagrément.<br>S'il s'agit d'une anomalie, n'hésitez pas à nous en faire part, afin que nous puissions rapidement résoudre le souci.</p>
					<div class="mt-7">
						<a href="{{ url('website_site_homepage') }}" class="btn btn-primary text-uppercase">Page d'accueil</a>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endmacro %}

{% macro card_billets(products, title, ajaxload, popup) %}
	{% set products = popup|default(false) ? products|filter_valids(['!parentprod']) : products|filter_valids(['!parentprod','pageweb']) %}
	{% if products|length %}
	{% import _self as self %}
	<div class="card border">
		<h4 class="card-header text-uppercase font-weight-bold text-center bg-smoke border-bottom"> {{ (title|default('<i class="fa fa-ticket fa-fw"></i> ' ~ ('je_reserve'|trans)))|trans|striptags }}</h4>
		<div class="card-body px-3 py-4">
			<div>{{ self.miniproducts(products, ajaxload|default(false), popup|default(false)) }}</div>
		</div>
	</div>
	{% endif %}
{% endmacro %}

{% macro card_events(events, title, asButtons, ajaxload) %}
	{% set asButtons = asButtons|default(false) == false %}
	{% set events = events|isInstance("Product") ? events.getAllEvents(true, ["Visite","Atelier","Jeux","Animation"], true, site_context.getContextDate()) : events %}
	{% if events|length %}
	{% import _self as self %}
	<div class="card border">
		<h4 class="card-header text-uppercase font-weight-bold text-center bg-smoke border-bottom">
			{{ title|default('products_events'|trans)|raw }}
			{% if is_granted('ROLE_EDITOR') %}<br><small class="text-center font-weight-bold text-danger" title="{{ site_context.getContextDate()|localizeddate('none', 'none', app.request.locale, null, "cccc d MMMM Y HH:mm") }}">Date : {{ site_context.date_as_string|trans([], domain_admin) }}</small>{% endif %}
		</h4>
		<div class="card-body px-3 py-4">
			<div>{{ self.minievents(events, asButtons, ajaxload|default(false)) }}</div>
		</div>
		<div class="card-footer border-top bg-smoke py-2 px-5">
			<div>{{ 'billets_prevent_obsolete'|trans|raw }}</div>
		</div>
	</div>
	{% endif %}
{% endmacro %}

{% macro fichesAnnonces(annonces, cols, center, img) %}
	{% set cols = cols is same as true ? 'col-md-6 col-lg-4' : cols|default('col-md-6 col-lg-4') %}
	{% import _self as self %}
	<div class="row{{ center|default(false) ? ' justify-content-center' }}">
		{% for annonce in annonces %}
		{{ self.ficheAnnonce(annonce, cols, img) }}
		{% endfor %}
	</div>
{% endmacro %}

{% macro ficheAnnonce(annonce, cols, img) %}
	{# {% if annonce.active %} #}
	{% set img = img|default(true) %}
	{% set cols = cols is same as true ? 'col-md-6 col-lg-4' : cols|default(null) %}
	{{ cols is not empty ? ('<div class="' ~ cols ~ ' mb-3">')|raw }}
	<div class="card card-hover" style="height: 100%;">
		<a href="{{ url('website_pageweb_by_annonce', {annonce: annonce.slug}) }}" class="position-relative">
			{% if img and annonce.photo is not null %}
			<img class="card-img-top" src="{{ asset(fileurl(annonce.photo,'panoramic',399)) }}" alt="{{ annonce.slug }}">
			<div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column"></div>
			{% elseif img and site_context.Entreprise.avatar is not null %}
			<img class="card-img-top" src="{{ asset(fileurl(site_context.Entreprise.avatar,'panoramic',399)) }}" alt="{{ annonce.slug }}">
			<div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column"></div>
			{% endif %}
		</a>
		<div class="card-body">
			<h5>
				<a href="{{ url('website_pageweb_by_annonce', {annonce: annonce.slug}) }}" class="card-title text-uppercase">{{ annonce.name|striptags|truncate(50) }}</a>
			</h5>
			{% if annonce.isNew() %}<h3 class="badge badge-success" style="width: 100%;">{{ ' NOUVELLE ANNONCE '|trans }}</h3>{% endif %}
			{# {% if annonce.isPublication() %}<h3 class="badge badge-info" style="width: 100%;">{{ ' ANNONCE PUBLIÉE '|trans }}</h3>{% endif %} #}
			{# {% if annonce.isPeremption() %}<h3 class="badge badge-success" style="width: 100%;">{{ ' ANNONCE TERMINÉE '|trans }}</h3>{% endif %} #}
			{# {% if not annonce.active %}<h3 class="badge badge-danger" style="width: 100%;">{{ ' ANNONCE DÉSACTIVÉE '|trans }}</h3>{% endif %} #}
			<p class="mb-5">{{ annonce.resume|striptags|truncate(annonce.isNew() ? 100 : 150) }}</p>
			<div class="d-flex justify-content-between align-items-center">
				<div>
					{% if annonce.categorys is iterable %}
					{% set cats = annonce.categorys|slice(0,3) %}
					{% for category in cats %}
					<small class="badge badge-info mr-1">{{ category.name }}</small>
					{% endfor %}
					{% if cats|length < annonce.categorys|length %}<small class="badge badge-primary mr-1">+</small>{% endif %}
					{% elseif annonce.categorys|isObject %}
					<small class="badge badge-info mr-1">{{ annonce.categorys.name }}</small>
					{% endif %}
				</div>
				<div>
					<a href="{{ url('website_pageweb_by_annonce', {annonce: annonce.slug}) }}" class="btn btn-xs btn-outline-secondary text-uppercase">{{ 'Consulter'|trans }}</a>
				</div>
			</div>
		</div>
	</div>
	{{ cols is not empty ? '</div>'|raw }}
	{# {% endif %} #}
{% endmacro %}

{% macro fichesCliniques(cliniques, cols, center, img) %}
	{% set cols = cols is same as true ? 'col-md-6 col-lg-4' : cols|default('col-md-6 col-lg-4') %}
	{% import _self as self %}
	<div class="row{{ center|default(false) ? ' justify-content-center' }}">
		{% for clinique in cliniques %}
		{{ self.ficheClinique(clinique, cols, img) }}
		{% endfor %}
	</div>
{% endmacro %}

{% macro ficheClinique(clinique, cols, img) %}
	{% set img = img|default(true) %}
	{% set cols = cols is same as true ? 'col-md-6 col-lg-4' : cols|default(null) %}
	{{ cols is not empty ? ('<div class="' ~ cols ~ ' mb-3">')|raw }}
	<div class="card card-hover" style="height: 100%;">
		<a href="{{ url('website_pageweb_by_clinique', {clinique: clinique.slug}) }}" class="position-relative">
			{% if img and clinique.avatar is not null %}
			<img class="card-img-top" src="{{ asset(fileurl(clinique.avatar,'panoramic',399)) }}" alt="{{ clinique.slug }}">
			<div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column"></div>
			{% elseif img and site_context.Entreprise.avatar is not null %}
			<img class="card-img-top" src="{{ asset(fileurl(site_context.Entreprise.avatar,'panoramic',399)) }}" alt="{{ clinique.slug }}">
			<div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column"></div>
			{% endif %}
		</a>
		<div class="card-body">
			<h5>
				<a href="{{ url('website_pageweb_by_clinique', {clinique: clinique.slug}) }}" class="card-title text-uppercase">{{ clinique.menutitle|striptags|truncate(50) }}</a>
			</h5>
			<p class="mb-5">{{ clinique.resume|striptags|truncate(150) }}</p>
			<div class="d-flex justify-content-between align-items-center">
				<div>
					{# {% for category in clinique.categorys|slice(0,3) %}
					<small class="badge badge-info">{{ category.name }}</small>
					{% endfor %} #}
				</div>
				<div>
					<a href="{{ url('website_pageweb_by_clinique', {clinique: clinique.slug}) }}" class="btn btn-xs btn-outline-secondary text-uppercase">{{ 'Plus d\'informations'|trans }}</a>
				</div>
			</div>
		</div>
	</div>
	{{ cols is not empty ? '</div>'|raw }}
{% endmacro %}

{% macro breadcrumb(breadcrumb) %}
	{% if breadcrumb|default([])|length and breadcrumb._route_params|length %}
	<section class="my-2">
		<div class="container">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{{ path('website_site_homepage') }}"><i class="fa fa-home fa-fw"></i></a></li>
					{% for cat,item in breadcrumb._route_items %}
					{% if loop.last %}
					<li class="breadcrumb-item font-weight-bold active">{{ item.menutitle|trans({}, domainByKeytext(item.menutitle))|striptags }}</li>
					{% else %}
					<li class="breadcrumb-item"><a href="{{ path(breadcrumb._route, breadcrumb._route_params|slice(0,loop.index)) }}">{{ item.menutitle|trans({}, domainByKeytext(item.menutitle))|striptags }}</a></li>
					{% endif %}
					{% endfor %}
				</ol>
			</nav>
		</div>
	</section>
	{% endif %}
{% endmacro %}

{% macro slider_carousel(images, parameters) %}
	{% set images = getArray(images) %}
	{% if images|length %}
	{% if parameters.shuffle|default(false) %}{% set images = shuffle_array(images) %}{% endif %}
	<div id="package-slider" class="owl-carousel owl-theme package-slider">
		{# {% set img = asset(fileurl(image_by_slug('vue-depuis-le-belvedere'),'thumbnail',800)) %} #}
		{% for alt,img in images %}
		{% if img.active and loop.index0 < parameters.maxlength|default(24) %}
		{% if img|isInstance('Image') or img|isInstance('Pdf') %}
			{% set alt = not alt|isString ? img.slug : alt %}
			{% set img = fileurl(img, parameters.type|default_string('optimized'), parameters.size|default_integer(500)) %}
		{% endif %}
		<div class="item">
			<img src="{{ asset(img) }}" alt="{{ alt|default_string('photo') }}">
		</div>
		{% endif %}
		{% endfor %}
	</div>
	{% endif %}
{% endmacro %}








