{% macro sitedata() %}
	<div id="site-data">
		<div id="sd-public" data-info="{{ site_context.isPublic() }}"></div>
		<div id="sd-environment" data-info="{{ app.environment }}"></div>
		<div id="sd-languages" data-info="{{ Languages|default([])|serialized(['base']) }}"></div>
		<div id="sd-contextdate" data-info="{{ site_context.getAllContextDatetime()|serialized(['base']) }}"></div>
		<div id="sd-user" data-info="{{ app.user|serialized(['base']) }}"></div>
		<div id="sd-entreprise" data-info="{{ site_context.Entreprise|default(null)|serialized(['base']) }}"></div>
		<div id="sd-country_separator" data-info="{{ constant('ModelApi\\InternationalBundle\\Entity\\Language::COUNTRY_SEPARATOR') }}"></div>
	</div>
{% endmacro %}





