
{%- macro make_menu(data, Pageweb) -%}
	<nav class="nav-menuzord navbar-sticky">
		<div class="container clearfix">
			<div id="menuzord" class="menuzord">
				<a href="{{ path('website_site_homepage') }}" class="menuzord-brand" style="padding: 18px 0px 22px;">
					{% if site_context.Entreprise.avatar|default(null) is not null %}
					<img class="logo" src="{{ asset(fileurl(site_context.Entreprise.avatar, 'original')) }}" title="{{ site_context.Entreprise.name|default('') }}" alt="Logo {{ site_context.Entreprise.slug|default('') }}" style="width: 203px;">
					{% endif %}
				</a>
				
				<ul class="menuzord-menu menuzord-right">

					{% set default_styles = [
						'color: #0a2133;',
						'font-weight: 400;',
					] %}
						{# 'text-transform: uppercase', #}
					{% set default_classes = [
					] %}
						{# 'font-weight-bold', #}


					{% set childs_1 = data|first %}
					{% if childs_1 %}
					
					{% for child1 in childs_1.childs %}
					{% set childs_2 = child1.childs %}
					<li>
						<a class="{{ default_classes|join(' ') }}" href="{{ url('website_pageweb_by_cat', child1.getCurrentPathslugAsParams()) }}" style="{{ default_styles|join('; ') }};">{{ child1.menutitle|default(child1.title) }}</a>
						{% if child1|isInstance('Basedirectory') and childs_2|length %}
						{% set ch_1 = child1.childs|default([])|first %}
						{% set ch_2 = 0 %}
						{% for child2 in childs_2 %}{% set ch_2 = child2|isInstance('Basedirectory') ? ch_2 + 1 : ch_2 %}{% endfor %}
						{% if ch_2 in [3,4] %}
							<div class="megamenu drop-up">
								<div class="megamenu-row">
									{% for child2 in childs_2 %}
									{% set childs_3 = child2.childs %}
									{% if child2.shortname in ["Pageweb"] or not childs_3|length %}
									<a href="{{ url('website_pageweb_by_cat', child2.getCurrentPathslugAsParams()) }}" class="{{ default_classes|join(' ') }}" style="{{ default_styles|join('; ') }};">{{ child2.menutitle|default(child2.title) }}</a>
									{% elseif child2|isInstance('Basedirectory') %}
									<div class="col{{ 12 / ch_2 }}">
										<ul class="list-unstyled">
											{% if child2.pageweb.shortname|default(null) in ['Pageweb'] %}
											<li><a href="{{ url('website_pageweb_by_cat', child2.getCurrentPathslugAsParams()) }}" class="{{ default_classes|join(' ') }} font-weight-bold" style="{{ default_styles|join('; ') }};">{{ child2.menutitle|default(child2.title) }}</a></li>
											{% else %}
											<li>{{ child2.menutitle|default(child2.title) }}</li>
											{% endif %}
											{% for child3 in childs_3 %}
											{% if child3.shortname not in ['Menu','Directory'] %}
											<li><a href="{{ url('website_pageweb_by_cat', child3.getCurrentPathslugAsParams()) }}" style="{{ default_styles|join('; ') }};">{{ child3.menutitle|default(child3.title) }}</a></li>
											{% endif %}
											{% endfor %}
										</ul>
									</div>
									{% endif %}
									{% endfor %}
								</div>
							</div>
						{% else %}
							<ul class="dropdown drop-up">
								{% for child2 in childs_2 %}
								{% set childs_3 = child2.childs %}
								{% if child2|isInstance('Basedirectory') and childs_3|length %}
								<li>
									<a href="{{ child2.pageweb.shortname|default(null) in ['Pageweb'] ? url('website_pageweb_by_cat', child2.getCurrentPathslugAsParams()) : '#' }}" class="{{ default_classes|join(' ') }}" style="{{ default_styles|join('; ') }};">{{ child2.menutitle|default(child2.title) }}</a>
									{% if childs_3|length %}
									<ul class="dropdown dropdown-{{ loop.parent.loop.last ? 'left' : 'right' }} drop-up">
										{% for child3 in childs_3 %}
										<li>
											<a href="{{ url('website_pageweb_by_cat', child3.getCurrentPathslugAsParams()) }}" style="{{ default_styles|join('; ') }};">{{ child3.menutitle|default(child3.title) }}</a>
										</li>
										{% endfor %}
									</ul>
									{% endif %}
								</li>
								{% elseif child2.menuable %}
								<li>
									<a href="{{ url('website_pageweb_by_cat', child2.getCurrentPathslugAsParams()) }}"{{ child2.shortname in ['Pageweb'] ? ' class="' ~ default_classes|join(' ') ~ '"' }} style="{{ default_styles|join('; ') }};">{{ child2.menutitle|default(child2.title|default(child2.slug)) }}</a>
								</li>
								{% endif %}
								{% endfor %}
							</ul>
						{% endif %}
						{% endif %}
					</li>
					{% endfor %}
					{% endif %}

					{# ADD INTRANET #}
					{% if site_context.Entreprise.preferences.value('intranet')|hasText %}
					<li>
						<a class="{{ default_classes|join(' ') }}" href="{{ site_context.Entreprise.preferences.value('intranet') }}" target="_blank" style="{{ default_styles|join('; ') }};">INTRANET</a>
					</li>
					{% endif %}

					{% if site_context.isTranslatorAndShow() %}
					<li>
						<a href="#" style="{{ default_styles|join('; ') }};"><img src="{{ asset(fileurl(currentLanguage.thumbnail,'thumbnails',18)) }}" class="img" style="width: 18px;"></a>
						<ul class="dropdown drop-up">
							{% for language in Languages %}
							{% if language.active %}
							<li class="">
								<a href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({locale: language.fullname})) }}" style="{{ default_styles|join('; ') }};">
									{% if language.fullname == currentLanguage.fullname %}
									<img src="{{ asset(fileurl(language.thumbnail,'thumbnails',24)) }}" style="width: 28px;" class="mr-2"><strong><u>{{ language.description|default(language.fullname) }}</u></strong>
									{% else %}
									<img src="{{ asset(fileurl(language.thumbnail,'thumbnails',18)) }}" style="width: 18px;" class="mr-2">{{ language.description|default(language.fullname) }}
									{% endif %}
								</a>
							</li>
							{% endif %}
							{% endfor %}
						</ul>
					</li>
					{% endif %}

					<li>
						{% if app.user.avatar|default(false) %}
						<a href="{{ is_granted("IS_AUTHENTICATED_REMEMBERED") ? '#' : path('website_site_user_login') }}" style="{{ default_styles|join('; ') }};"><img src="{{ asset(fileurl(app.user.avatar,'thumbnails',18)) }}" class="rounded-circle" style="width: 18px;"></a>
						{% else  %}
						<a href="{{ is_granted("IS_AUTHENTICATED_REMEMBERED") ? '#' : path('website_site_user_login') }}" style="{{ default_styles|join('; ') }};"><i class="fa fa-user fa-1x"{{ app.user.color|default(false) ? (' style="color:' ~ app.user.color ~ ';"')|raw }}>&nbsp;</i></a>
						{% endif %}
						<ul class="dropdown drop-up">
							{% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}

								{% if Pageweb|isObject %}
									<li class=""><a href="{{ Pageweb.hasSection('modale-login') ?  '#' : path('website_site_user_login') }}"{{ Pageweb.hasSection('modale-login') ? ' data-toggle="modal" data-target="#login"' }} style="{{ default_styles|join('; ') }};">{{ 'user.account.login'|trans }}</a></li>
									{% if site_context.Entreprise.preferences.value('UserBundle|self_register') -%}
									<li class=""><a href="{{ Pageweb.hasSection('modale-signup') ?  '#' : path('user_register') }}"{{ Pageweb.hasSection('modale-signup') ? ' data-toggle="modal" data-target="#signup"' }} style="{{ default_styles|join('; ') }};">{{ 'user.account.create'|trans }}</a></li>
									{%- endif %}
								{% else %}
									<li class=""><a href="{{ path('website_site_user_login') }}" style="{{ default_styles|join('; ') }};">{{ 'user.account.login'|trans }}</a></li>
									{% if site_context.Entreprise.preferences.value('UserBundle|self_register') -%}
									<li class=""><a href="{{ path('user_register') }}" style="{{ default_styles|join('; ') }};">{{ 'user.account.create'|trans }}</a></li>
									{%- endif %}
								{% endif %}

							{% else %}

								{% if is_granted('ROLE_EDITOR') %}
								<li class=""><a href="{{ path('website_admin_homepage') ~ '?' ~ site_context.CONTEXT_ENVIRONMENT_TOKEN_NAME ~ '=' ~ site_context.Entreprise.bddid|url_encode }}" target="_blank" style="{{ default_styles|join('; ') }};">{{ icon(site_context.Entreprise, true, true, ['fa-fw'])|raw }} <strong>Admin site web</strong></a></li>
								{% endif %}
								{% if is_granted('ROLE_USER') %}
								<li class=""><a href="{{ path('website_admin_homepage') ~ '?' ~ site_context.CONTEXT_ENVIRONMENT_TOKEN_NAME ~ '=' ~ app.user.bddid|url_encode }}" target="_blank" style="{{ default_styles|join('; ') }};">{{ icon(app.user, true, true, ['fa-fw'])|raw }} Compte {{ app.user.username }}</a></li>
								{% endif %}
								{# <li class=""><a href="{{ path('nelmio_api_doc_index') }}" target="_blank" style="{{ default_styles|join('; ') }};"><i class="fa fa-info-circle fa-fw"></i> {{ 'api-doc'|trans({}, 'admin') }}</a></li> #}
								{# <li class=""><a href="{{ asset('/bundles/websitesite/star-2-0/Gulp/build/development/index.html') }}" target="_blank" style="{{ default_styles|join('; ') }};"><i class="fa fa-star fa-fw"></i> Template Star 2</a></li> #}
								{% if is_granted('ROLE_EDITOR') %}
								{% if Pageweb.tempitem|default(null) is not null %}
								<li class=""><a href="{{ path('wsa_pageweb_show', {id: Pageweb.id}) }}" target="_blank" title="{{ Pageweb.name }}" style="{{ default_styles|join('; ') }};"><i class="fa fa-pencil fa-fw"></i><i class="fa {{ Pageweb.icon }} fa-fw"></i> {{ 'name'|trans({}, Pageweb.shortname) }}</a></li>
								<li class=""><a href="{{ path('wsa_' ~ Pageweb.tempitem.shortname(true) ~ '_show', {id: Pageweb.tempitem.id}) }}" target="_blank" title="{{ Pageweb.tempitem.name }}" style="{{ default_styles|join('; ') }};"><i class="fa fa-pencil fa-fw"></i><i class="fa {{ Pageweb.tempitem.icon }} fa-fw"></i> <strong>{{ 'name'|trans({}, Pageweb.tempitem.shortname) }}</strong></a></li>
								{% elseif Pageweb|default(null) is not null %}
								<li class=""><a href="{{ path('wsa_pageweb_show', {id: Pageweb.id}) }}" target="_blank" title="{{ Pageweb.name }}" style="{{ default_styles|join('; ') }};"><i class="fa fa-pencil fa-fw"></i><i class="fa {{ Pageweb.icon }} fa-fw"></i> <strong>{{ 'name'|trans({}, Pageweb.shortname) }}</strong></a></li>
								{% endif %}
								{% endif %}
								{% if is_granted('ROLE_TRANSLATOR') and site_context.isTranslatorAndShow() %}
								<li class=""><a href="{{ path('wsa_twgtranslation_list') }}" target="_blank" style="{{ default_styles|join('; ') }};">{{ icon('TwgTranslation', true, true, ['fa-fw'])|raw }} {{ 'names'|trans({}, 'TwgTranslation') }}</a></li>
								{% endif %}

							{% endif %}

							{% if site_context.Entreprise.preferences.value('intranet')|hasText %}
							<li class=""><a href="{{ site_context.Entreprise.preferences.value('intranet') }}" style="{{ default_styles|join('; ') }};" target="_blank"><i class="fa fa-server fa-fw text-success"></i> <strong>INTRANET</strong></a></li>
							{% endif %}

							{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
							<li class=""><a href="{{ path('fos_user_change_password') }}" style="{{ default_styles|join('; ') }};">{{ 'change_password.submit'|trans }}</a></li>
							<li class=""><a href="{{ path('fos_user_security_logout') }}" style="{{ default_styles|join('; ') }};">{{ 'user.account.logout'|trans }}</a></li>
							{% endif %}

						</ul>
					</li>

				</ul>
			</div>
		</div>
	</nav>
{%- endmacro -%}