{# FIXT@fixt_reference = 'homepage.html.twig' #}
{# FIXT@name = "Page d'accueil" #}
{# FIXT@titleh1 = "Page d'accueil des Grottes" #}
{# FIXT@title = "Accueil Grottes du Cerdon" #}
{# FIXT@menutitle = "Accueil" #}
{# FIXT@description = "Page d'accueil des Grottes" #}
{# FIXT@bundle = 'WebsiteSiteBundle' #}
{# FIXT@singlefilename = 'homepage' #}
{# FIXT@templatename = 'star2' #}
{# FIXT@twigsections = ['@FIXT_REF=Twig@banner_01.html.twig','@FIXT_REF=Twig@section_search_01.html.twig','@FIXT_REF=Twig@section_top_deals_01.html.twig','@FIXT_REF=Twig@section_star_city.html.twig','@FIXT_REF=Twig@footer_01.html.twig'] #}
{# FIXT@seo = true #}
{# FIXT@prefered = true #}
{% extends 'WebsiteSiteBundle:Root:root_01.html.twig' %}
{# {% block header %}
	{{ include('WebsiteSiteBundle:Header:header_01.html.twig') }}
{% endblock header %} #}

{% block banner %}
	{{ include('WebsiteSiteBundle:Banner:banner_01.html.twig') }}
{% endblock banner %}

{% block section %}
	{{ include('WebsiteSiteBundle:Section:section_search_01.html.twig') }}
	{{ include('WebsiteSiteBundle:Section:section_top_deals_01.html.twig') }}
	{# {{ include('WebsiteSiteBundle:Section:section_vacetion_01.html.twig') }} #}
	{# {{ include('WebsiteSiteBundle:Section:section_destinations_01.html.twig') }} #}
	{# {{ include('WebsiteSiteBundle:Section:section_counter_01.html.twig') }} #}
	{# {{ include('WebsiteSiteBundle:Section:section_packages_01.html.twig') }} #}
	{{ include('WebsiteSiteBundle:Section:section_top_destination.html.twig') }}
	{{ include('WebsiteSiteBundle:Section:section_star_city.html.twig') }}
{% endblock section %}

{% block footer %}
	{{ include('WebsiteSiteBundle:Footer:footer_01.html.twig') }}
{% endblock footer %}

{# {% block modale %}
	{{ include('WebsiteSiteBundle:Modale:modale_signup_01.html.twig') }}
	{{ include('WebsiteSiteBundle:Modale:modale_login_01.html.twig') }}
	{{ include('WebsiteSiteBundle:Modale:modale_inquiry_01.html.twig') }}
{% endblock modale %} #}

