{% extends 'WebsiteSiteBundle:Root:root_01.html.twig' %}
{% import 'WebsiteSiteBundle:Macro:blocks.html.twig' as blocks %}
{# {% block header %}
	{{ include('WebsiteSiteBundle:Header:header_01.html.twig') }}
{% endblock header %} #}

{% block banner %}
	{# {{ include('WebsiteSiteBundle:Banner:banner_01.html.twig') }} #}
{% endblock banner %}

{% block section %}

	{{ include('WebsiteSiteBundle:Section:section_header_dashboard.html.twig') }}

	<section class="py-9">
		<div class="container">
			<div class="hover-profile mb-7 mb-lg-9">
				<div class="row">
					<div class="col-md-6 col-lg-5 col-xl-4">
						<div class="mb-6 mb-md-0">
							<img class="w-100" src="{{ asset(fileurl(app.user.avatar, 'originals')) }}" alt="{{ app.user.username }}">
						</div>
					</div>
				
					<div class="col-md-6 col-lg-7 col-xl-8">
						<div class="d-flex justify-content-between align-items-baseline">
							<div class="mb-6 mb-md-4 mb-lg-6">
								<h2 class="text-uppercase font-weight-bold">{{ app.user.username }}</h2>
								<p class="mb-0">{{ app.user.functionality }}</p>
							</div>

							<div class="icon-setting">
								<a href="{{ path('website_site_setting') }}">
									<i class="fa fa-pencil" aria-hidden="true"></i>
								</a>
							</div>
						</div>

{# 						<p class="line-height-26">Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit anim id est labor sed ut
							perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p> #}

						<ul class="list-unstyled">
							<li class="media media-profile-list">
								<strong>{{ 'field.firstname'|trans({}, app.user.shortname) }}</strong>
								<div class="media-body ml-2">
									<span class="text-gray-color">{{ app.user.firstname }}</span>
								</div>
							</li>

							<li class="media media-profile-list">
								<strong>{{ 'field.lastname'|trans({}, app.user.shortname) }}</strong>
								<div class="media-body ml-2">
									<span class="text-gray-color">{{ app.user.lastname }}</span>
								</div>
							</li>

							<li class="media media-profile-list">
								<strong>Newsletter</strong>
								<div class="media-body ml-2">
									<span class="text-gray-color">{{ blocks.booleanIcon(app.user.isNewsletter) }}</span>
								</div>
							</li>

							<li class="media media-profile-list">
								<strong>{{ 'field.email'|trans({}, app.user.shortname) }}</strong>
								<div class="media-body ml-2">
									<a href="mailto:{{ app.user.email }}" class="text-gray-color hover-text-primary">{{ app.user.email }}</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			{# {{ dump(app.user) }} #}
			<!-- Contact Section -->
{# 			<div class="mb-7 mb-lg-9">  
				<h3 class="text-uppercase font-weight-bold mb-4">About You</h3>
				<p class="line-height-26 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. sintoccaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
			</div> #}

	</div>
	</section>

{% endblock section %}

{# {% block footer %}
	{{ include('WebsiteSiteBundle:Footer:footer_01.html.twig') }}
{% endblock footer %} #}

{# {% block modale %}
	{{ include('WebsiteSiteBundle:Modale:modale_signup_01.html.twig') }}
	{{ include('WebsiteSiteBundle:Modale:modale_login_01.html.twig') }}
	{{ include('WebsiteSiteBundle:Modale:modale_inquiry_01.html.twig') }}
{% endblock modale %} #}
