{% extends 'WebsiteSiteBundle:Root:root_01.html.twig' %}
{# {% block header %}
	{{ include('WebsiteSiteBundle:Header:header_01.html.twig') }}
{% endblock header %} #}

{% block banner %}
	{# {{ include('WebsiteSiteBundle:Banner:banner_01.html.twig') }} #}
{% endblock banner %}

{% block section %}

	{{ include('WebsiteSiteBundle:Section:section_header_dashboard.html.twig') }}

	<!-- ====================================
	——— ACCOUNT SETTINGS SECTION
	===================================== -->
	<section class="py-9">
		<div class="container">
			<div class="bg-smoke p-2 p-md-6 pb-6 pb-md-8 mb-9 rounded">
				<div class="row">
					<div class="col-12">
						<div class="row">
							<div class="col-lg-6">
								<div class="mb-4">
									<h3 class="text-uppercase mb-3">Account Settings</h3>
									<p class="text-primary mb-0">Change Your Password</p>
								</div>
								
								<form action="" method="">
									<div class="form-group mb-4">
										<input type="password" class="form-control form-control-lg rounded border-0" required="" placeholder="Old Password">
									</div>

									<div class="form-group mb-4">
										<input type="password" class="form-control form-control-lg rounded border-0" required="" placeholder="New Password">
									</div>

									<div class="form-group mb-4">
										<input type="password" class="form-control form-control-lg rounded border-0" required="" placeholder="Confirm New Password">
									</div>

									<div class="pt-2">
										<button type="submit" class="btn btn-primary text-uppercase font-size-15 px-6 px-md-7">Update Password</button>
									</div>
								</form>
							</div>
						</div>

{# 						<hr>

						<div class="row">
							<div class="col-lg-6">
								<div class="mb-4">
									<p class="text-primary mb-0">Change Your Email</p>
								</div>
						
								<form action="" method="">
									<div class="form-group mb-4">
										<input type="email" class="form-control form-control-lg rounded border-0" required=""
											placeholder="Old Email">
									</div>
						
									<div class="form-group mb-4">
										<input type="email" class="form-control form-control-lg rounded border-0" required=""
											placeholder="New Email">
									</div>
						
									<div class="form-group mb-4">
										<input type="email" class="form-control form-control-lg rounded border-0" required=""
											placeholder="Confirm New Email">
									</div>
						
									<div class="pt-2">
										<button type="submit" class="btn btn-primary text-uppercase font-size-15 px-2 px-md-6">Update email address</button>
									</div>
								</form>
							</div>
						</div> #}

{# 						<hr>

						<div class="row">
							<div class="col-lg-6">
								<p class="text-primary">Change Settings</p>

								<div class="custom-control custom-checkbox mb-2">
									<input type="checkbox" class="custom-control-input" id="customCheckSettings1">
									<label class="custom-control-label settings-control-label" for="customCheckSettings1">
										<span class="ml-0">Star Travel has periodic offers and deals on really cool destinations.</span>
									</label>
								</div>

								<div class="custom-control custom-checkbox mb-2">
									<input type="checkbox" class="custom-control-input" id="customCheckSettings2">
									<label class="custom-control-label settings-control-label" for="customCheckSettings2">
										<span class="ml-0">Star Travel has fun company news, as well as periodic emails.</span>
									</label>
								</div>

								<div class="custom-control custom-checkbox mb-2">
									<input type="checkbox" class="custom-control-input" id="customCheckSettings3">
									<label class="custom-control-label settings-control-label" for="customCheckSettings3">
										<span class="ml-0">I have an upcoming reservation.</span>
									</label>
								</div>

								<div class="pt-3">
									<button type="submit" class="btn btn-primary text-uppercase font-size-15 px-3 px-md-6">Update your account</button>
								</div>
							</div>
						</div>
					</div> #}
				</div>
			</div>

		</div>
	</section>

{% endblock section %}

{# {% block footer %}
	{{ include('WebsiteSiteBundle:Footer:footer_01.html.twig') }}
{% endblock footer %} #}

{# {% block modale %}
	{{ include('WebsiteSiteBundle:Modale:modale_signup_01.html.twig') }}
	{{ include('WebsiteSiteBundle:Modale:modale_login_01.html.twig') }}
	{{ include('WebsiteSiteBundle:Modale:modale_inquiry_01.html.twig') }}
{% endblock modale %} #}
