{% extends 'WebsiteSiteBundle:Root:root_01.html.twig' %}
{# {% block header %}
	{{ include('WebsiteSiteBundle:Header:header_01.html.twig') }}
{% endblock header %} #}

{% block banner %}
	{# {{ include('WebsiteSiteBundle:Banner:banner_01.html.twig') }} #}
{% endblock banner %}

{% block section %}
	{# {{ include('WebsiteSiteBundle:Section:section_search_01.html.twig') }} #}
	{# {{ include('WebsiteSiteBundle:Section:section_top_deals_01.html.twig') }} #}
	{# {{ include('WebsiteSiteBundle:Section:section_vacetion_01.html.twig') }} #}
	{# {{ include('WebsiteSiteBundle:Section:section_destinations_01.html.twig') }} #}
	{# {{ include('WebsiteSiteBundle:Section:section_counter_01.html.twig') }} #}
	{{ include('WebsiteSiteBundle:Section:section_packages_01.html.twig') }}
	{# {{ include('WebsiteSiteBundle:Section:section_top_destination.html.twig') }} #}
	{# {{ include('WebsiteSiteBundle:Section:section_star_city.html.twig') }} #}
{% endblock section %}

{# {% block footer %}
	{{ include('WebsiteSiteBundle:Footer:footer_01.html.twig') }}
{% endblock footer %} #}

{# {% block modale %}
	{{ include('WebsiteSiteBundle:Modale:modale_signup_01.html.twig') }}
	{{ include('WebsiteSiteBundle:Modale:modale_login_01.html.twig') }}
	{{ include('WebsiteSiteBundle:Modale:modale_inquiry_01.html.twig') }}
{% endblock modale %} #}

