{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
{% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock fos_user_content %}

{% block fos_user_login_logout %}
	{# no login #}
{% endblock fos_user_login_logout %}
