{% extends "@FOSUser/layout.html.twig" %}

{% block outer_body %}
	{% block fos_user_content %}
		{{ include('@FOSUser/Security/login_content.html.twig') }}
	{% endblock fos_user_content %}
{% endblock outer_body %}
