<div>
	<h3>
		<span data-translate="{[{ 'entities.'+entity.shortname.toLowerCase()+'.fields.texts' }]}"></span>
		<span class="pull-right">
			<i class="fa fa-list fa-fw"></i>&nbsp;<input type="checkbox" data-switchery="{size: 'small', color: '#3f89d6'}" data-ng-model="leftTab">
			<i class="fa fa-th-list fa-fw"></i>&nbsp;<input type="checkbox" data-switchery="{size: 'small', color: '#3f89d6'}" data-ng-model="showList">
		</span>
	</h3>
	<div class="tabs-container" data-ng-if="!showList">
		<div data-ng-class="{'tabs-left': leftTab}">
			<ul class="nav nav-tabs">
				<li data-ng-repeat="(locale,text) in entity.texts" data-ng-class="{active: locale === tabindex}">
					<a data-ng-click="setTab(locale)" data-translate="{[{ 'languages.'+locale }]}"></a>
				</li>
			</ul>
			<div class="tab-content">
				<div data-ng-repeat="(locale,text) in entity.texts" class="tab-pane" data-ng-class="{active: locale === tabindex}">
					<div class="panel-body" data-ng-bind-html="text | trustAsHtml"></div>
				</div>
			</div>
		</div>
	</div>
	<div data-ng-if="!!showList" data-ng-repeat="(locale,text) in entity.texts">
		<h4 data-translate="{[{ 'languages.'+locale }]}"></h4>
		<p class="well" data-ng-bind-html="text | trustAsHtml"></p>
	</div>
</div>