{# FIXT@fixt_reference = 'blogs.html.twig' #}
{# FIXT@name = "blogs" #}
{# FIXT@owner = "@FIXT_REF=Entreprise@VETO_ALLIANCE" #}
{# FIXT@groups = ["@FIXT_REF=Group@VETO_ALLIANCE_PUBLIC"] #}
{# FIXT@titleh1 = "Blogs" #}
{# FIXT@title = "Blogs" #}
{# FIXT@menutitle = "Blogs" #}
{# FIXT@description = "Blogs" #}
{# FIXT@bundle = 'WebsiteSiteBundle' #}
{# FIXT@templatename = 'star2' #}
{# FIXT@itemtypes = ['Blogs'] #}
{# !!!FIXT@typepage = 'root' #}
{# FIXT@twigsections = ['@FIXT_REF=Twig@header_01.html.twig','@FIXT_REF=Twig@title_standard.html.twig','@FIXT_REF=Twig@footer_marron.html.twig','@FIXT_REF=Twig@modale_login_01.html.twig','@FIXT_REF=Twig@modale_signup_01.html.twig','@FIXT_REF=Twig@modale_inquiry_01.html.twig'] #}
{# FIXT@urlAsEntete = '@FILE_URL=media/images/photos/test.jpg' #}
{# FIXT@seo = true #}
{# FIXT@prefered = false #}
{% extends 'WebsiteSiteBundle:Root:root_01.html.twig' %}
{% import 'WebsiteSiteBundle:Macro:blocks.html.twig' as blocks %}
{# {% import 'WebsiteSiteBundle:Macro:agenda.html.twig' as agenda %} #}

{% block header %}
	{% set header = Pageweb.getTpl('header') %}
	{% if header is not null %}{{ include(header.bundlepathname, {'Pageweb': Pageweb, 'Header': header}) }}{% endif %}
{% endblock header %}

{% block banner %}
	{% set banner = Pageweb.getTpl('banner') %}
	{% if banner is not null %}{{ include(banner.bundlepathname, {'Pageweb': Pageweb, 'Banner': banner}) }}{% endif %}
{% endblock banner %}

{% block title %}
	{% set title = Pageweb.getTpl('title') %}
	{% if title is not null %}{{ include(title.bundlepathname, {'Pageweb': Pageweb, 'Title': title}) }}{% endif %}
{% endblock title %}

{% block extra_content %}

	{% if not Items|default([])|length %}
		{% set Items = request_data('Blog', 'findCurrentBlogs', [null, 8, 'public']) %}
	{% endif %}

	{% if Items|length %}
	<section class="py-9 py-md-10">
		<div class="container">
			{% for blog in Items %}
			<div class="card rounded-0 card-transparent border-bottom mb-7 pb-7">
				<div class="row align-items-lg-center align-items-xl-stretch">
					<div class="col-md-6">
						{% if blog.photo|default(null) is not null %}
						<a href="{{ path('website_pageweb_by_blog', {blog: blog.slug}) }}" class="position-relative">
							<img class="card-img-top rounded" src="{{ asset(fileurl(blog.photo,'optimized',1440)) }}" alt="{{ blog.slug }}">
							<div class="card-img-overlay card-hover-overlay rounded"></div>
						</a>
						{% endif %}
					</div>

					<div class="col-md-6">
						<div class="card-body px-md-0 py-6 pt-md-0 pt-xl-6">
							{# <h3 class="mb-4">
								<a href="{{ path('website_pageweb_by_blog', {blog: blog.slug}) }}" class="text-capitalize text-dark hover-text-primary">{{ blog.accroche|raw }}</a>
							</h3> #}

							<div class="meta-post-sm mb-4">
								<ul class="list-unstyled d-flex flex-wrap mb-0">
									<li class="meta-tag mr-4 mb-1">
										<i class="fa fa-user text-gray-color" aria-hidden="true"></i>
										<a class="text-gray-color hover-text-primary" href="{{ path('website_pageweb_by_blog', {blog: blog.slug}) }}">
											<span class="ml-1 text-capitalize">{{ blog.owner.username }}</span>
										</a>
									</li>

									<li class="meta-tag text-gray-color mr-4 mb-1">
										<i class="fa fa-calendar" aria-hidden="true"></i>
										<span class="ml-1 text-capitalize">{{ blog.publication|localizeddate('medium', 'short', app.request.locale) }}</span>
									</li>

									<li class="meta-tag text-gray-color mr-4 mb-1">
										<i class="fa fa fa-tags" aria-hidden="true"></i>
										<span class="ml-1 text-capitalize">{{ blog.category|default(null) }}</span>
									</li>

									{# <li class="meta-tag text-gray-color mr-4 mb-1">
										<i class="fa fa-envelope" aria-hidden="true"></i>
										<span class="ml-1 text-capitalize">8 com</span>
									</li> #}
								</ul>
							</div>

							<p class="mb-0">{{ include(template_from_string(blog.resume|default(''), blog.name)) }}</p>
						</div>

						<div class="card-footer px-5 px-lg-0">
							<a href="{{ path('website_pageweb_by_blog', {blog: blog.slug}) }}" class="btn btn-sm btn-outline-secondary text-uppercase">{{ 'voir'|trans }}</a>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</section>
	{% else %}
	{{ blocks.notfound('Blog') }}
	{% endif %}

{% endblock extra_content %}

{% block section %}
	{% for section in Pageweb.getTpls('section') %}
		{{ include(section.bundlepathname, {'Pageweb': Pageweb, 'Section': section}) }}
	{% endfor %}
{% endblock section %}

{% block footer %}
	{% set footer = Pageweb.getTpl('footer') %}
	{% if footer is not null %}{{ include(footer.bundlepathname, {'Pageweb': Pageweb, 'Footer': footer}) }}{% endif %}
{% endblock footer %}

{% block modale %}
	{% for modale in Pageweb.getTpls('modale') %}
		{{ include(modale.bundlepathname, {'Pageweb': Pageweb, 'Modale': modale}) }}
	{% endfor %}
{% endblock modale %}