{# FIXT@fixt_reference = 'homepage.html.twig' #}
{# FIXT@name = "Page d'accueil" #}
{# FIXT@owner = "@FIXT_REF=Entreprise@VETO_ALLIANCE" #}
{# FIXT@groups = ["@FIXT_REF=Group@VETO_ALLIANCE_PUBLIC"] #}
{# FIXT@titleh1 = "Page d'accueil" #}
{# FIXT@title = "Accueil" #}
{# FIXT@menutitle = "Accueil" #}
{# FIXT@fulltext = "Ici, un grand texte de présentation de la page d'accueil du site..." #}
{# FIXT@description = "Page d'accueil" #}
{# FIXT@bundle = 'WebsiteSiteBundle' #}
{# FIXT@templatename = 'star2' #}
{# FIXT@twigsections = ['@FIXT_REF=Twig@header_01.html.twig','@FIXT_REF=Twig@banner_03.html.twig','@FIXT_REF=Twig@section_dernieres_annonces.html.twig','@FIXT_REF=Twig@section_partenaires.html.twig','@FIXT_REF=Twig@footer_marron.html.twig','@FIXT_REF=Twig@modale_login_01.html.twig','@FIXT_REF=Twig@modale_signup_01.html.twig','@FIXT_REF=Twig@modale_inquiry_01.html.twig'] #}
{# FIXT@seo = true #}
{# FIXT@prefered = true #}
{% extends 'WebsiteSiteBundle:Root:root_01.html.twig' %}
{% import 'WebsiteSiteBundle:Macro:blocks.html.twig' as blocks %}

{% block header %}
	{% set header = Pageweb.getTpl('header') %}
	{% if header is not null %}{{ include(header.bundlepathname, {'Pageweb': Pageweb, 'Header': header}) }}{% endif %}
{% endblock header %}

{% block banner %}
	{% set banner = Pageweb.getTpl('banner') %}
	{% if banner is not null %}{{ include(banner.bundlepathname, {'Pageweb': Pageweb, 'Banner': banner}) }}{% endif %}
{% endblock banner %}

{% block title %}
	{% set title = Pageweb.getTpl('title') %}
	{% if title is not null %}{{ include(title.bundlepathname, {'Pageweb': Pageweb, 'Title': title}) }}{% endif %}
{% endblock title %}

{% block extra_content %}

	<section class="py-6">
		<div class="container">
			<div class="text-center section-title2">
				<h2 class="text-uppercase font-weight-bold position-relative">{{ Pageweb.subtitle|raw }}</h2>
				{# <div class="text-center">{{ Pageweb.accroche|raw }}</div> #}
			</div>
		</div>
	</section>

	{% set longtext = Pageweb.fulltext|default(Pageweb.resume) %}
	{% if longtext is not null %}
	<section class="pb-4">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p class="mb-6">{{ include(template_from_string(longtext, Pageweb.name)) }}</p>
				</div>
			</div>
		</div>
	</section>
	{% endif %}

	{% set videos = site_context.Entreprise.getOwnerDirectoryChilds('drive/Video', 'Video') %}
	{% if videos|length %}
	{% set video = videos|first %}
	<section class="py-4 py-md-6 bg-info">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12">
					<figure>{{ video.getEmbedVideo()|raw }}</figure>
				</div>
			</div>
		</div>
	</section>
	{% endif %}

	{% set images = site_context.Entreprise.getOwnerDirectoryChilds('system/Diaporamas', 'Image') %}
	{% if images|length %}
	<section class="py-4 py-md-6 bg-info">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">
					{{ blocks.slider_carousel(images, {type: 'panoramics', size:800, suffle: false}) }}
				</div>
			</div>
		</div>
	</section>
	{% endif %}

{% endblock extra_content %}

{% block section %}
	{% for section in Pageweb.getTpls('section') %}
		{{ include(section.bundlepathname, {'Pageweb': Pageweb, 'Section': section}) }}
	{% endfor %}
{% endblock section %}

{% block footer %}
	{% set footer = Pageweb.getTpl('footer') %}
	{% if footer is not null %}{{ include(footer.bundlepathname, {'Pageweb': Pageweb, 'Footer': footer}) }}{% endif %}
{% endblock footer %}

{% block modale %}
	{% for modale in Pageweb.getTpls('modale') %}
		{{ include(modale.bundlepathname, {'Pageweb': Pageweb, 'Modale': modale}) }}
	{% endfor %}
{% endblock modale %}

