{# FIXT@fixt_reference = 'menu-content.html.twig' #}
{# FIXT@name = "Contenu de menu" #}
{# FIXT@owner = "@FIXT_REF=Entreprise@VETO_ALLIANCE" #}
{# FIXT@groups = ["@FIXT_REF=Group@VETO_ALLIANCE_PUBLIC"] #}
{# FIXT@titleh1 = "Liste" #}
{# FIXT@title = "Liste" #}
{# FIXT@menutitle = "Liste" #}
{# FIXT@description = "Liste de contenu d'un menu" #}
{# FIXT@bundle = 'WebsiteSiteBundle' #}
{# FIXT@templatename = 'star2' #}
{# FIXT@itemtypes = ['Basedirecorys','Items'] #}
{# !!!FIXT@typepage = 'root' #}
{# FIXT@twigsections = ['@FIXT_REF=Twig@header_01.html.twig','@FIXT_REF=Twig@title_standard.html.twig','@FIXT_REF=Twig@footer_marron.html.twig','@FIXT_REF=Twig@modale_login_01.html.twig','@FIXT_REF=Twig@modale_signup_01.html.twig','@FIXT_REF=Twig@modale_inquiry_01.html.twig'] #}
{# !!!FIXT@urlAsPhoto = '@FILE_URL=media/images/photos/test.jpg' #}
{# FIXT@urlAsEntete = '@FILE_URL=media/images/photos/test.jpg' #}
{# FIXT@seo = true #}
{# FIXT@prefered = false #}
{% extends 'WebsiteSiteBundle:Root:root_01.html.twig' %}
{% import 'WebsiteSiteBundle:Macro:blocks.html.twig' as blocks %}

{% block header %}
	{% set header = Pageweb.getTpl('header') %}
	{% if header is not null %}{{ include(header.bundlepathname, {'Pageweb': Pageweb, 'Header': header}) }}{% endif %}
{% endblock header %}

{% block banner %}
	{% set banner = Pageweb.getTpl('banner') %}
	{% if banner is not null %}{{ include(banner.bundlepathname, {'Pageweb': Pageweb, 'Banner': banner}) }}{% endif %}
{% endblock banner %}

{% block title %}
	{% set title = Pageweb.getTpl('title') %}
	{% if title is not null %}{{ include(title.bundlepathname, {'Pageweb': Pageweb, 'Title': title}) }}{% endif %}
{% endblock title %}

{% block extra_content %}

	<section class="py-2">
		<div class="container">
			{{ blocks.grids(Menu.childs.toArray()) }}
		</div>
	</section>

{% endblock %}

{% block section %}
	{% for section in Pageweb.getTpls('section') %}
		{{ include(section.bundlepathname, {'Pageweb': Pageweb, 'Section': section}) }}
	{% endfor %}
{% endblock section %}

{% block footer %}
	{% set footer = Pageweb.getTpl('footer') %}
	{% if footer is not null %}{{ include(footer.bundlepathname, {'Pageweb': Pageweb, 'Footer': footer}) }}{% endif %}
{% endblock footer %}

{% block modale %}
	{% for modale in Pageweb.getTpls('modale') %}
		{{ include(modale.bundlepathname, {'Pageweb': Pageweb, 'Modale': modale}) }}
	{% endfor %}
{% endblock modale %}