{# FIXT@fixt_reference = 'cliniques_list.html.twig' #}
{# FIXT@name = "Listing de cliniques" #}
{# FIXT@owner = "@FIXT_REF=Entreprise@VETO_ALLIANCE" #}
{# FIXT@groups = ["@FIXT_REF=Group@VETO_ALLIANCE_PUBLIC"] #}
{# FIXT@titleh1 = "Listing de cliniques" #}
{# FIXT@title = "Listing de cliniques" #}
{# FIXT@menutitle = "Listing de cliniques" #}
{# FIXT@description = "Listing de cliniques" #}
{# FIXT@bundle = 'WebsiteSiteBundle' #}
{# FIXT@templatename = 'star2' #}
{# FIXT@itemtypes = ['Html'] #}
{# !!!FIXT@typepage = 'root' #}
{# FIXT@twigsections = ['@FIXT_REF=Twig@header_01.html.twig','@FIXT_REF=Twig@title_standard_2.html.twig','@FIXT_REF=Twig@footer_marron.html.twig','@FIXT_REF=Twig@modale_login_01.html.twig','@FIXT_REF=Twig@modale_signup_01.html.twig','@FIXT_REF=Twig@modale_inquiry_01.html.twig'] #}
{# FIXT@urlAsPicone = '@FILE_URL=media/images/photos/test.jpg' #}
{# FIXT@seo = true #}
{# FIXT@prefered = false #}
{% extends 'WebsiteSiteBundle:Root:root_01.html.twig' %}
{% import 'WebsiteSiteBundle:Macro:blocks.html.twig' as blocks %}

{% block header %}
	{% set header = Pageweb.getTpl('header') %}
	{% if header is not null %}{{ include(header.bundlepathname, {'Pageweb': Pageweb, 'Header': header}) }}{% endif %}
{% endblock header %}

{% block banner %}
	{% set banner = Pageweb.getTpl('banner') %}
	{% if banner is not null %}{{ include(banner.bundlepathname, {'Pageweb': Pageweb, 'Banner': banner}) }}{% endif %}
{% endblock banner %}

{% block title %}
	{% set title = Pageweb.getTpl('title') %}
	{% if title is not null %}{{ include(title.bundlepathname, {'Pageweb': Pageweb, 'Title': title, 'subtitle': null}) }}{% endif %}
{% endblock title %}

{% block extra_content %}

	{% set clinique = Pageweb.tempitem|default(Pageweb) %}

	{% if clinique.active|default(false) %}

		{% set longtext = clinique.fulltext|default(clinique.resume) %}
		{% if longtext is not null %}
		<section class="pb-4"><div class="container"><div class="row"><div class="col-lg-12"><p class="mb-6">{{ include(template_from_string(longtext, Pageweb.name)) }}</p></div></div></div></section>
		{% endif %}

		{% set videos = clinique.getOwnerDirectoryChilds('drive/Video', 'Video') %}
		{% if videos|length %}
		{% set video = videos|first %}
		<section class="py-4 py-md-6 bg-info">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-12">
						<figure>{{ video.getEmbedVideo()|raw }}</figure>
					</div>
				</div>
			</div>
		</section>
		{% endif %}

		{% set images = clinique.getOwnerDirectoryChilds('system/Diaporamas', 'Image') %}
		{% if images|length %}
		<section class="py-4 py-md-6 bg-info">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-8">
						{{ blocks.slider_carousel(images, {type: 'panoramics', size:800, suffle: false}) }}
					</div>
				</div>
			</div>
		</section>
		{% endif %}

	{% else %}
	{{ blocks.notfound('Entreprise') }}
	{% endif %}

{% endblock %}

{% block section %}
	{% for section in Pageweb.getTpls('section') %}
		{{ include(section.bundlepathname, {'Pageweb': Pageweb, 'Section': section}) }}
	{% endfor %}
{% endblock section %}

{% block footer %}
	{% set footer = Pageweb.getTpl('footer') %}
	{% if footer is not null %}{{ include(footer.bundlepathname, {'Pageweb': Pageweb, 'Footer': footer}) }}{% endif %}
{% endblock footer %}

{% block modale %}
	{% for modale in Pageweb.getTpls('modale') %}
		{{ include(modale.bundlepathname, {'Pageweb': Pageweb, 'Modale': modale}) }}
	{% endfor %}
{% endblock modale %}