{# FIXT@fixt_reference = 'single-blog.html.twig' #}
{# FIXT@name = "single-blog" #}
{# FIXT@owner = "@FIXT_REF=Entreprise@VETO_ALLIANCE" #}
{# FIXT@groups = ["@FIXT_REF=Group@VETO_ALLIANCE_PUBLIC"] #}
{# FIXT@titleh1 = "Blog single" #}
{# FIXT@title = "Blog" #}
{# FIXT@menutitle = "Blog" #}
{# FIXT@description = "Blog single" #}
{# FIXT@bundle = 'WebsiteSiteBundle' #}
{# FIXT@templatename = 'star2' #}
{# FIXT@itemtypes = ['Blog'] #}
{# !!!FIXT@typepage = 'root' #}
{# FIXT@twigsections = ['@FIXT_REF=Twig@header_01.html.twig','@FIXT_REF=Twig@title_standard.html.twig','@FIXT_REF=Twig@footer_marron.html.twig','@FIXT_REF=Twig@modale_login_01.html.twig','@FIXT_REF=Twig@modale_signup_01.html.twig','@FIXT_REF=Twig@modale_inquiry_01.html.twig'] #}
{# FIXT@urlAsEntete = '@FILE_URL=media/images/photos/test.jpg' #}
{# FIXT@seo = true #}
{# FIXT@prefered = false #}
{% extends 'WebsiteSiteBundle:Root:root_01.html.twig' %}
{% import 'WebsiteSiteBundle:Macro:blocks.html.twig' as blocks %}
{# {% import 'WebsiteSiteBundle:Macro:agenda.html.twig' as agenda %} #}

{% block header %}
	{% set header = Pageweb.getTpl('header') %}
	{% if header is not null %}{{ include(header.bundlepathname, {'Pageweb': Pageweb, 'Header': header}) }}{% endif %}
{% endblock header %}

{% block banner %}
	{% set banner = Pageweb.getTpl('banner') %}
	{% if banner is not null %}{{ include(banner.bundlepathname, {'Pageweb': Pageweb, 'Banner': banner}) }}{% endif %}
{% endblock banner %}

{% block title %}
	{% set title = Pageweb.getTpl('title') %}
	{% if title is not null %}{{ include(title.bundlepathname, {'Pageweb': Pageweb, 'Title': title}) }}{% endif %}
{% endblock title %}

{% block extra_content %}

	{% if Pageweb.tempitem.active|default(false) %}
	<!-- ====================================
	——— TRAVEL LIST SECTION
	===================================== -->
	{% set blog = Pageweb.tempitem %}
	<section class="section-top">
		<div class="py-8 py-md-9 py-lg-6">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-xl-9 order-1 order-md-0">
						<div class="card card-lg card-transparent mb-8">
							<div class="card-body px-2 py-6">
								<h2 class="mb-4">{{ blog.accroche|raw }}</h2>
								<div class="meta-post-sm mb-4">
									<ul class="list-unstyled d-flex flex-wrap mb-0">
										<li class="meta-tag mr-4 mb-1">
											<i class="fa fa-user text-gray-color" aria-hidden="true"></i>
											<a class="text-gray-color hover-text-primary" href=""><span class="ml-1 text-capitalize">{{ blog.owner.username }}</span></a>
										</li>
										<li class="meta-tag text-gray-color mr-4 mb-1">
											<i class="fa fa-calendar" aria-hidden="true"></i>
											<span class="ml-1 text-capitalize">{{ blog.publication|localizeddate('medium', 'short', app.request.locale) }}</span>
										</li>
									</ul>
								</div>
								<div>{{ include(template_from_string(blog.fulltext|default(blog.resume|default('')), blog.name)) }}</div>
								{% if blog.photo|default(null) is not null %}
								<div class="position-relative">
									<img class="card-img-top rounded-lg" src="{{ asset(fileurl(blog.photo,'optimized',800)) }}" alt="{{ blog.slug }}">
								</div>
								<hr>
								{% endif %}
								<div>{{ blocks.slider_carousel(blog.getOwnerDirectoryChilds('system/Diaporamas'), {type: 'optimized', size:500, suffle: false}) }}</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-xl-3">
						<div class="">
							<div class="row">
								<div class="col-md-6 col-lg-12">
									<div>
										<a href="{{ path('website_blogs') }}" class="btn btn-lg btn-primary btn-block text-uppercase mb-2">{{ icon('Blog', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'Blog des Grottes'|trans }}</a>
									</div>
									{# <div class="bg-smoke border border-light-gray rounded p-3 mb-4"><h3 class="mb-4">Search</h3><form class="form-subscribe mb-3" action="index.html" method="post"><div class="input-group input-group-sm"><input type="email" class="form-control form-control-sm border-0" required="" placeholder=""><div class="input-group-append"><button class="input-group-text border-0 btn bg-primary rounded" type="submit"><i class="fa fa-search text-white" aria-hidden="true"></i></button></div></div></form></div> #}
									<div class="d-none d-md-block">
										<div class="mb-4">
											<ul class="nav nav-tabs nav-justified blog-tabs" id="myTab" role="tablist">
												<li class="nav-item">
													<a class="nav-link active" id="recent-tab" data-toggle="tab" href="#recent" role="tab" aria-controls="recent" aria-selected="true">{{ 'Récents'|trans }}</a>
												</li>		
												{# <li class="nav-item"><a class="nav-link" id="popular-tab" data-toggle="tab" href="#popular" role="tab" aria-controls="popular" aria-selected="false">Importants</a></li> #}
											</ul>

											{% set items2 = request_data('Blog', 'findCurrentBlogs', [null, 3, 'public']) %}		
											<div class="tab-content bg-smoke border border-light-gray border-top-0 rounded-bottom px-3 py-5" id="myTabContent">
												<div class="tab-pane fade show active" id="recent" role="tabpanel" aria-labelledby="recent-tab">
													{% if items2|length %}
													{% for item2 in items2 %}
													<div class="media meta-post-sm border-bottom border-off-white pb-3 mb-3">
														<div class="img-overlay rounded mr-2">
															{% if item2.photo|default(null) is not null %}
															<img src="{{ asset(fileurl(item2.photo,'thumbnail',64)) }}" alt="{{ item2.slug }}">
															{% else %}
															{{ icon('Blog', true, true, ['fa-2x','fa-fw','m-r-xs'])|raw }}
															{% endif %}
															<a href="{{ path('website_pageweb_by_blog', {blog: item2.slug}) }}" class="hover-img-overlay-dark"></a>
														</div>
														<div class="media-body">
															<a href="{{ path('website_pageweb_by_blog', {blog: item2.slug}) }}" class="text-dark hover-text-primary text-capitalize mb-1">{{- item2.accroche|raw -}}</a>
															<ul class="list-unstyled d-flex flex-wrap mb-0">
																<li class="meta-tag text-gray-color mr-4 mb-1">
																	<i class="fa fa-calendar" aria-hidden="true"></i>
																	<span class="ml-1 text-capitalize">{{ item2.publication|localizeddate('medium', 'none', app.request.locale) }}</span>
																</li>
															</ul>
														</div>
													</div>
													{% endfor %}
													{% else %}
													<div class="text-center">{{ "Pas d'autre article de blog pour le moment..."|trans|raw }}</div>
													{% endif %}
												</div>
												{# <div class="tab-pane fade" id="popular" role="tabpanel" aria-labelledby="popular-tab"><div class="media meta-post-sm border-bottom border-off-white pb-3 mb-3"><div class="img-overlay rounded mr-2"><img src="assets/img/blog/tab-04.jpg" alt="Image"><a href="" class="hover-img-overlay-dark"></a></div><div class="media-body"><a href="" class="text-dark hover-text-primary text-capitalize mb-1">Rodney samp deo artich.</a>
													<ul class="list-unstyled d-flex flex-wrap mb-0"><li class="meta-tag text-gray-color mr-4 mb-1"><i class="fa fa-calendar" aria-hidden="true"></i><span class="ml-1 text-capitalize">5 March, 2019</span></li></ul></div></div><div class="media meta-post-sm border-bottom border-off-white pb-3 mb-3"><div class="img-overlay rounded mr-2"><img src="assets/img/blog/tab-03.jpg" alt="Image"><a href="" class="hover-img-overlay-dark"></a></div><div class="media-body"><a href="" class="text-dark hover-text-primary text-capitalize mb-1">Amanda disuja carl parkar.</a>
													<ul class="list-unstyled d-flex flex-wrap mb-0"><li class="meta-tag text-gray-color mr-4 mb-1"><i class="fa fa-calendar" aria-hidden="true"></i><span class="ml-1 text-capitalize">5 March, 2019</span></li></ul></div></div><div class="media meta-post-sm border-bottom border-off-white pb-3 mb-3"><div class="img-overlay rounded mr-2"><img src="assets/img/blog/tab-02.jpg" alt="Image"><a href="" class="hover-img-overlay-dark"></a></div><div class="media-body"><a href="" class="text-dark hover-text-primary text-capitalize mb-1">Pitter soan smeeit herick.</a>
													<ul class="list-unstyled d-flex flex-wrap mb-0"><li class="meta-tag text-gray-color mr-4 mb-1"><i class="fa fa-calendar" aria-hidden="true"></i><span class="ml-1 text-capitalize">5 March, 2019</span></li></ul></div></div>
												</div> #}
											</div>
										</div>
									</div>
								</div>
								{# <div class="col-md-6 col-lg-12 d-none d-md-block"><div class="bg-smoke border border-light-gray rounded p-3 mb-4"><h3 class="mb-4">Categories</h3><ul class="list-unstyled list-group list-group-flush"><li><a href="" class="list-group-item d-flex text-dark hover-text-primary bg-transparent border-0 px-0"><span>Business</span><small class="ml-auto font-weight-bold">(9)</small></a></li><li><a href=""
									class="list-group-item d-flex text-dark hover-text-primary bg-transparent border-off-white px-0"><span>Design</span><small class="ml-auto font-weight-bold">(7)</small></a></li><li><a href=""
									class="list-group-item d-flex text-dark hover-text-primary bg-transparent border-off-white px-0"><span>Photography</span><small class="ml-auto font-weight-bold">(5)</small></a></li><li><a href=""
									class="list-group-item d-flex text-dark hover-text-primary bg-transparent border-off-white px-0"><span>Creative</span><small class="ml-auto font-weight-bold">(8)</small></a></li><li><a href=""
									class="list-group-item d-flex text-dark hover-text-primary bg-transparent border-off-white px-0"><span>Tours</span><small class="ml-auto font-weight-bold">(6)</small></a></li></ul>
								</div> #}
							</div>
						</div>
					</div>
				</div>
				<div class="d-md-none">
					<div class="mb-4">
						<ul class="nav nav-tabs nav-justified blog-tabs" id="myTab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="recent-blog-tab" data-toggle="tab" href="#recent-blog" role="tab" aria-controls="recent-blog" aria-selected="true">{{ 'Récents'|trans }}</a>
							</li>
							{# <li class="nav-item"><a class="nav-link" id="popular-blog-tab" data-toggle="tab" href="#popular-blog" role="tab"
									aria-controls="popular-blog" aria-selected="false">Importants</a></li> #}
						</ul>
						<div class="tab-content bg-smoke border border-light-gray border-top-0 rounded-bottom px-3 py-5" id="myTabContent">
							<div class="tab-pane fade show active" id="recent-blog" role="tabpanel" aria-labelledby="recent-blog-tab">
								{% if items2|length %}
								{% for item2 in items2 %}
								<div class="media meta-post-sm border-bottom border-off-white pb-3 mb-3">
									<div class="img-overlay rounded mr-2">
										{% if item2.photo|default(null) is not null %}
										<img src="{{ asset(fileurl(item2.photo,'thumbnail',64)) }}" alt="{{ item2.slug }}">
										{% else %}
										{{ icon('Blog', true, true, ['fa-2x','fa-fw','m-r-xs'])|raw }}
										{% endif %}
										<a href="{{ path('website_pageweb_by_blog', {blog: item2.slug}) }}" class="hover-img-overlay-dark"></a>
									</div>
									<div class="media-body">
										<a href="{{ path('website_pageweb_by_blog', {blog: item2.slug}) }}" class="text-dark hover-text-primary text-capitalize mb-1">
											{{- item2.accroche|raw -}}
										</a>
										<ul class="list-unstyled d-flex flex-wrap mb-0">
											<li class="meta-tag text-gray-color mr-4 mb-1">
												<i class="fa fa-calendar" aria-hidden="true"></i>
												<span class="ml-1 text-capitalize">{{ item2.publication|localizeddate('medium', 'none', app.request.locale) }}</span>
											</li>
										</ul>
									</div>
								</div>
								{% endfor %}
								{% else %}
								<div class="text-center">{{ "Pas d'autre article de blog pour le moment..."|trans|raw }}</div>
								{% endif %}
							</div>
							{# <div class="tab-pane fade" id="popular-blog" role="tabpanel" aria-labelledby="popular-blog-tab"><div class="media meta-post-sm border-bottom border-off-white pb-3 mb-3"><div class="img-overlay rounded mr-2"><img src="assets/img/blog/tab-04.jpg" alt="Image"><a href="" class="hover-img-overlay-dark"></a></div><div class="media-body"><a href="" class="text-dark hover-text-primary text-capitalize mb-1">Rodney samp deo artich.
								</a><ul class="list-unstyled d-flex flex-wrap mb-0"><li class="meta-tag text-gray-color mr-4 mb-1"><i class="fa fa-calendar" aria-hidden="true"></i><span class="ml-1 text-capitalize">5 March, 2019</span></li></ul></div></div><div class="media meta-post-sm border-bottom border-off-white pb-3 mb-3"><div class="img-overlay rounded mr-2"><img src="assets/img/blog/tab-03.jpg" alt="Image"><a href="" class="hover-img-overlay-dark"></a></div><div class="media-body"><a href="" class="text-dark hover-text-primary text-capitalize mb-1">Amanda disuja carl parkar.
								</a><ul class="list-unstyled d-flex flex-wrap mb-0"><li class="meta-tag text-gray-color mr-4 mb-1"><i class="fa fa-calendar" aria-hidden="true"></i><span class="ml-1 text-capitalize">5 March, 2019</span></li></ul></div></div><div class="media meta-post-sm border-bottom border-off-white pb-3 mb-3"><div class="img-overlay rounded mr-2"><img src="assets/img/blog/tab-02.jpg" alt="Image"><a href="" class="hover-img-overlay-dark"></a></div><div class="media-body"><a href="" class="text-dark hover-text-primary text-capitalize mb-1">Pitter soan smeeit herick.
								</a><ul class="list-unstyled d-flex flex-wrap mb-0"><li class="meta-tag text-gray-color mr-4 mb-1"><i class="fa fa-calendar" aria-hidden="true"></i><span class="ml-1 text-capitalize">5 March, 2019</span></li></ul></div></div>
							</div> #}
						</div>
					</div>
					{# <div class="bg-smoke border border-light-gray rounded p-3 mb-4"><h3 class="mb-4">Categories</h3><ul class="list-unstyled list-group list-group-flush"><li><a href="" class="list-group-item d-flex text-dark hover-text-primary bg-transparent border-0 px-0"><span>Business</span><small class="ml-auto font-weight-bold">(9)</small></a></li><li><a href="" class="list-group-item d-flex text-dark hover-text-primary bg-transparent border-off-white px-0"><span>Design</span><small class="ml-auto font-weight-bold">(7)</small></a></li><li><a href="" class="list-group-item d-flex text-dark hover-text-primary bg-transparent border-off-white px-0"><span>Photography</span><small class="ml-auto font-weight-bold">(5)</small></a></li><li><a href="" class="list-group-item d-flex text-dark hover-text-primary bg-transparent border-off-white px-0"><span>Creative</span><small class="ml-auto font-weight-bold">(8)</small></a></li><li><a href="" class="list-group-item d-flex text-dark hover-text-primary bg-transparent border-off-white px-0"><span>Tours</span><small class="ml-auto font-weight-bold">(6)</small></a></li></ul></div> #}
				</div>
			</div>
		</div>
	</section>

	{% else %}
	{{ blocks.notfound('Blog') }}
	{% endif %}

{% endblock %}

{% block section %}
	{% for section in Pageweb.getTpls('section') %}
		{{ include(section.bundlepathname, {'Pageweb': Pageweb, 'Section': section}) }}
	{% endfor %}
{% endblock section %}

{% block footer %}
	{% set footer = Pageweb.getTpl('footer') %}
	{% if footer is not null %}{{ include(footer.bundlepathname, {'Pageweb': Pageweb, 'Footer': footer}) }}{% endif %}
{% endblock footer %}

{% block modale %}
	{% for modale in Pageweb.getTpls('modale') %}
		{{ include(modale.bundlepathname, {'Pageweb': Pageweb, 'Modale': modale}) }}
	{% endfor %}
{% endblock modale %}