{# FIXT@fixt_reference = 'stages_veterinaires.html.twig' #}
{# FIXT@name = "Stages vétérinaires" #}
{# FIXT@owner = "@FIXT_REF=Entreprise@VETO_ALLIANCE" #}
{# FIXT@groups = ["@FIXT_REF=Group@VETO_ALLIANCE_PUBLIC"] #}
{# FIXT@titleh1 = "Stages vétérinaires" #}
{# FIXT@title = "Stages vétérinaires" #}
{# FIXT@menutitle = "Stages vétérinaires" #}
{# FIXT@description = "Stages vétérinaires" #}
{# FIXT@bundle = 'WebsiteSiteBundle' #}
{# FIXT@templatename = 'star2' #}
{# FIXT@itemtypes = ['Annonces'] #}
{# !!!FIXT@typepage = 'root' #}
{# FIXT@twigsections = ['@FIXT_REF=Twig@header_01.html.twig','@FIXT_REF=Twig@title_standard_2.html.twig','@FIXT_REF=Twig@footer_marron.html.twig','@FIXT_REF=Twig@modale_login_01.html.twig','@FIXT_REF=Twig@modale_signup_01.html.twig','@FIXT_REF=Twig@modale_inquiry_01.html.twig'] #}
{# FIXT@urlAsPicone = '@FILE_URL=media/images/photos/test.jpg' #}
{# FIXT@seo = true #}
{# FIXT@prefered = false #}
{% extends 'WebsiteSiteBundle:Root:root_01.html.twig' %}
{% import 'WebsiteSiteBundle:Macro:blocks.html.twig' as blocks %}

{% block header %}
	{% set header = Pageweb.getTpl('header') %}
	{% if header is not null %}{{ include(header.bundlepathname, {'Pageweb': Pageweb, 'Header': header}) }}{% endif %}
{% endblock header %}

{% block banner %}
	{% set banner = Pageweb.getTpl('banner') %}
	{% if banner is not null %}{{ include(banner.bundlepathname, {'Pageweb': Pageweb, 'Banner': banner}) }}{% endif %}
{% endblock banner %}

{% block title %}
	{% set title = Pageweb.getTpl('title') %}
	{% if title is not null %}{{ include(title.bundlepathname, {'Pageweb': Pageweb, 'Title': title, 'subtitle': null}) }}{% endif %}
{% endblock title %}

{% block extra_content %}

	{# {% if Pageweb.accroche|default(null) is not null %}
	<section class="py-0"><div class="container"><div class="text-center"><h3 class="text-uppercase font-weight-bold position-relative"><span>{{ Pageweb.accroche|raw }}</span></h3></div></div></section>
	{% endif %} #}

	{% set longtext = Pageweb.fulltext|default(Pageweb.resume) %}
	{% if longtext is not null %}
	<section class="pb-4"><div class="container"><div class="row"><div class="col-lg-12"><p class="mb-6">{{ include(template_from_string(longtext, Pageweb.name)) }}</p></div></div></div></section>
	{% endif %}

	<section class="pb-7 pt-4 bg-info">
		<div class="container">
			{% set annonces = request_data('Annonce', 'findCurrentAnnonces', [site_context.contextdate, 0, 4]) %}
			{% if annonces|length %}
			{{ blocks.fichesAnnonces(annonces, true, false) }}
			{% else %}
			<div class="row">
				<div class="col-lg-12 pt-10 pb-10">
					<div class="alert alert-info text-center">
						<h3>{{ "Aucune annonce n'est disponible pour l'instant."|trans }}</h3>
					</div>
				</div>
			</div>
			{% endif %}
		</div>
	</section>

	{% set images = Pageweb.getOwnerDirectoryChilds('system/Diaporamas', 'Image') %}
	{% if images|length %}
	<section class="py-4 py-md-6 bg-info">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">
					{{ blocks.slider_carousel(images, {type: 'panoramic', size:800, suffle: false}) }}
				</div>
			</div>
		</div>
	</section>
	{% endif %}

{% endblock %}

{% block section %}
	{% for section in Pageweb.getTpls('section') %}
		{{ include(section.bundlepathname, {'Pageweb': Pageweb, 'Section': section}) }}
	{% endfor %}
{% endblock section %}

{% block footer %}
	{% set footer = Pageweb.getTpl('footer') %}
	{% if footer is not null %}{{ include(footer.bundlepathname, {'Pageweb': Pageweb, 'Footer': footer}) }}{% endif %}
{% endblock footer %}

{% block modale %}
	{% for modale in Pageweb.getTpls('modale') %}
		{{ include(modale.bundlepathname, {'Pageweb': Pageweb, 'Modale': modale}) }}
	{% endfor %}
{% endblock modale %}