.advcropper-block {
	width: 120px;
	height: 120px;
}
.advcropper-block img {
	/*display: inline-block;*/
}
.advcropper-block button.img-options {
	display: inline-block;
	float: right;
	margin: 4px 4px 0px 0px;
}

