<!-- ====================================
———	COUNTER SECTION
===================================== -->
<section class="counter-up dzsparallaxer auto-init use-loading counterup-paralax">
	<div class="divimage dzsparallaxer--target" style="height: 700px;" data-src="{{ asset(fileurl(images[9],'optimized',1000)) }}">
	</div>
	
	<div class="container paralax-container">
		<div class="row align-items-center text-center" id="counter">
			<div class="col-6 col-md-3 mb-5 mb-md-0">
				<div class="icon icon-lg rounded-circle mx-auto bg-primary mb-3">
					<i class="fa fa-user text-white" aria-hidden="true"></i>
				</div>
				<h1 class="counter-value mb-2" data-count="6548">0</h1>
				<h6 class="">Visiteurs</h6>
			</div>

			<div class="col-6 col-md-3 mb-5 mb-md-0">
				<div class="icon icon-lg rounded-circle mx-auto bg-primary mb-3">
					<i class="fa fa-question text-white" aria-hidden="true"></i>
				</div>
				<h1 class="counter-value mb-2" data-count="48">0</h1>
				<h6 class="">Perdus dans la grotte</h6>
			</div>

			<div class="col-6 col-md-3">
				<div class="icon icon-lg rounded-circle mx-auto bg-primary mb-3">
					<i class="fa fa-fire text-white" aria-hidden="true"></i>
				</div>
				<h1 class="counter-value mb-2" data-count="4562">0</h1>
				<h6 class="">Feux allumés</h6>
			</div>

			<div class="col-6 col-md-3">
				<div class="icon icon-lg rounded-circle mx-auto bg-primary mb-3">
					<i class="fa fa-sun-o text-white" aria-hidden="true"></i>
				</div>
				<h1 class="counter-value mb-2" data-count="233">0</h1>
				<h6 class="">Jours de soleil</h6>
			</div>
		</div>
	</div>
</section>
