<!-- Header dashboard -->
<section class="section-top">
	<nav class="navbar navbar-expand-md navbar-light navbar-dark-light">
		<div class="container">
			<button class="navbar-toggler mr-0 ml-3" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
				aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="navbar-nav-right d-md-none mr-6 pr-1">
				<ul class="list-unstyled d-flex align-items-center mb-0">
			
					<li class="nav-item dropdown nav-item-left mr-0">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">
							<img src="{{ asset(fileurl(app.user.avatar,'thumbnails',33)) }}" alt="{{ app.user.username }}" class="w-100 rounded-circle mr-1">
						</a>
			
						<div class="dropdown-menu dropdown-menu-right dropdown-left">
							<ul class="list-unstyled list-group list-group-flush">
								<li class="">
									<a href="{{ path('website_site_profile') }}" class="list-group-item rounded-0 border-bottom first-child">
										<h5 class="fon-size-15 text-dark">Profile</h5>
									</a>
								</li>
			
								<li>
									<a href="{{ path('website_site_setting') }}" class="list-group-item border-bottom border-off-white rounded-0">
										<h5 class="fon-size-15 text-dark text-capitalize">Account setting</h5>
									</a>
								</li>
			
								<li class="">
									<a href="{{ path('fos_user_security_logout') }}" class="list-group-item border-off-white border-bottom-0 rounded-0 last-child">
										<h5 class="fon-size-15 text-dark">Log out</h5>
									</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>

			<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
				<ul class="navbar-nav mr-auto">
{# 					<li class="nav-item dropdown">
						<a class="nav-link " href="dashboard.html">
							<i class="fa fa-tachometer" aria-hidden="true"></i>
							<span>Dashboard</span>
						</a>
					</li> #}

					<li class="nav-item dropdown">
						<a class="nav-link  active " href="{{ path('website_site_profile') }}">
							<i class="fa fa-user" aria-hidden="true"></i>
							<span>Profile</span>
						</a>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link " href="{{ path('website_site_setting') }}">
							<i class="fa fa-cogs" aria-hidden="true"></i>
							<span>Settings</span>
						</a>
					</li>
				</ul>

				<div class="navbar-nav-right d-none d-md-block">
					<ul class="list-unstyled d-flex align-items-center mb-0">
						<li class="nav-item dropdown nav-item-left">
							<a href="#" class="nav-link" id="navbarDropdown" data-toggle="dropdown" role="button" aria-haspopup="true"
								aria-expanded="false">
								<i class="fa fa-bell" aria-hidden="true"></i> <span class="badge-pill badge-primary">2</span>
							</a>

							<div class="dropdown-menu dropdown-menu-right dropdown-left">
								<ul class="list-unstyled list-group list-group-flush">
									<li class="">
										<a href="javascript:void(0)" class="list-group-item rounded-0 border-bottom first-child">
											<h3 class="text-dark mb-0">Information</h3>
										</a>
									</li>
								</ul>
							</div>
						</li>

						<li class="nav-item dropdown nav-item-left mr-0">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<img src="{{ asset(fileurl(app.user.avatar,'thumbnails',33)) }}" alt="{{ app.user.username }}" class="w-100 rounded-circle mr-1">
							</a>

							<div class="dropdown-menu dropdown-menu-right dropdown-left">
								<ul class="list-unstyled list-group list-group-flush">
									<li class="">
										<a href="{{ path('website_site_profile') }}" class="list-group-item rounded-0 border-bottom first-child">
										<h5 class="fon-size-15 text-dark">Profile</h5>
										</a>
									</li>
							
									<li>
										<a href="{{ path('website_site_setting') }}" class="list-group-item border-bottom border-off-white rounded-0">
											<h5 class="fon-size-15 text-dark text-capitalize">Account setting</h5>
										</a>
									</li>
							
									<li class="">
										<a href="{{ path('fos_user_security_logout') }}" class="list-group-item border-off-white border-bottom-0 rounded-0 last-child">
											<h5 class="fon-size-15 text-dark">Log out</h5>
										</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
</section>
