<!-- ====================================
———	TOP DEALS SECTION
===================================== -->
<section class="bg-smoke py-8 py-lg-9">
	<div class="container">
		<div class="text-center section-title">
			<h2 class="text-uppercase font-weight-bold position-relative">
				<span class="bg-smoke">{{ "Vivez plus qu'une aventure souterraine !"|trans|raw }}</span>
			</h2>
			{# <p class="text-capitalize text-center">Quisque lacus augue, blandit non est a, dictum malesuada odio.</p> #}
		</div>

		<div class="row justify-content-center">

			<div class="col-md-6 col-lg-4 mt-4">
				<div class="card card-hover">
					<a href="#" class="position-relative">
						<img class="card-img-top" src="{{ asset(fileurl(images[9],'thumbnail',256)) }}" alt="Card image cap">
						{# <div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column">
							<div class="badge badge-primary badge-rounded-circle">  
								<span class="d-block">
									WEEK<br>END
								</span>
							</div>
						</div> #}
					</a>
					<div class="card-body">
						<h5>
							<a href="#" class="card-title text-uppercase">Visite des Grottes</a>
						</h5>
						<p class="mb-5">Vivamus eu mattis nibh. Quisque eget ipsum at odio fringilla consequat vel id erat. Suspendisse non feugiat mi.</p>
						<div class="d-flex justify-content-between align-items-center">
							{# <div>
								<p class="mb-0 text-capitalize">À partir de</p>
								<h3 class="text-primary">15,50€</h3>
							</div> #}

							<div>
								<a href="booking-step-1.html" class="btn btn-sm btn-outline-secondary text-uppercase">Réservez</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-4 mt-4">
				<div class="card card-hover">
					<a href="#" class="position-relative">
						<img class="card-img-top" src="{{ asset(fileurl(images[13],'thumbnail',256)) }}" alt="Card image cap">
						{# <div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column"></div> #}
					</a>
					<div class="card-body">
						<h5 class="">
							<a href="#" class="card-title text-uppercase">Ateliers du Parc</a>
						</h5>
						<p class="mb-5">Proin convallis magna vel libero accumsan sollicitudin. Quisque dapibus vitae turpis eu magna sagittis.</p>
						<div class="d-flex justify-content-between align-items-center">
							{# <div>
								<p class="mb-0 text-capitalize">Tarif enfants</p>
								<h3 class="text-primary">5,50€</h3>
							</div> #}
							<div>
								<a href="#"  data-toggle="modal" data-target="#inquiry" class="btn btn-sm btn-outline-secondary text-uppercase">Tarifs</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-4 mt-4">
				<div class="card card-hover">
					<a href="#" class="position-relative">
						<img class="card-img-top" src="{{ asset(fileurl(images[2],'thumbnail',256)) }}" alt="Card image cap">
						{# <div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column"></div> #}
					</a>
					<div class="card-body">
						<h5>
							<a href="#" class="card-title text-uppercase">Fear The Cave</a>
						</h5>
						<p class="mb-5">Vivamus eu mattis nibh. Quisque eget ipsum at odio fringilla consequat vel id erat. Suspendisse non feugiat mi.</p>
						<div class="d-flex justify-content-between align-items-center">
							{# <div>
								<p class="mb-0 text-capitalize">À partir de</p>
								<h3 class="text-primary">10€</h3>
							</div> #}
							<div>
								<a href="#" class="btn btn-sm btn-outline-secondary text-uppercase">Réservez</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-4 mt-4">
				<div class="card card-hover">
					<a href="#" class="position-relative">
						<img class="card-img-top" src="{{ asset(fileurl(images[3],'thumbnail',256)) }}" alt="Card image cap">
						{# <div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column"></div> #}
					</a>
					<div class="card-body">
						<h5>
							<a href="#" class="card-title text-uppercase">Offres de groupes</a>
						</h5>
						<p class="mb-5">Vivamus eu mattis nibh. Quisque eget ipsum at odio fringilla consequat vel id erat. Suspendisse non feugiat mi.</p>
						<div class="d-flex justify-content-between align-items-center">
							{# <div>
								<p class="mb-0 text-capitalize">À partir de</p>
								<h3 class="text-primary">10€</h3>
							</div> #}
							<div>
								<a href="#" class="btn btn-sm btn-outline-secondary text-uppercase">Groupes</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-4 mt-4">
				<div class="card card-hover">
					<a href="#" class="position-relative">
						<img class="card-img-top" src="{{ asset(fileurl(images[11],'thumbnail',256)) }}" alt="Card image cap">
						{# <div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column"></div> #}
					</a>
					<div class="card-body">
						<h5>
							<a href="#" class="card-title text-uppercase">Restauration</a>
						</h5>
						<p class="mb-5">Vivamus eu mattis nibh. Quisque eget ipsum at odio fringilla consequat vel id erat. Suspendisse non feugiat mi.</p>
						<div class="d-flex justify-content-between align-items-center">
							{# <div>
								<p class="mb-0 text-capitalize">À partir de</p>
								<h3 class="text-primary">10€</h3>
							</div> #}
							<div>
								<a href="#" class="btn btn-sm btn-outline-secondary text-uppercase">La carte</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-4 mt-4">
				<div class="card card-hover">
					<a href="#" class="position-relative">
						<img class="card-img-top" src="{{ asset(fileurl(images[12],'thumbnail',256)) }}" alt="Card image cap">
						{# <div class="card-img-overlay card-hover-overlay rounded-top d-flex flex-column"></div> #}
					</a>
					<div class="card-body">
						<h5>
							<a href="#" class="card-title text-uppercase">La boutique</a>
						</h5>
						<p class="mb-5">Vivamus eu mattis nibh. Quisque eget ipsum at odio fringilla consequat vel id erat. Suspendisse non feugiat mi.</p>
						<div class="d-flex justify-content-between align-items-center">
							{# <div>
								<p class="mb-0 text-capitalize">À partir de</p>
								<h3 class="text-primary">10€</h3>
							</div> #}
							<div>
								<a href="#" class="btn btn-sm btn-outline-secondary text-uppercase">Visitez</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		{# <div class="text-center mt-7">
			<a href="packages-grid.html" class="btn btn-sm btn-outline-secondary text-uppercase">View all</a>
		</div> #}
	</div>
</section>
