<!-- ====================================
———	DESTINATIONS SECTION
===================================== -->
<section class="py-8 py-lg-10">
	<div class="container">
		<div class="text-center section-title">
			<h2 class="text-uppercase font-weight-bold position-relative">
				<span class="bg-white">
					Our Destinations
				</span>
			</h2>
			<p class="text-capitalize text-center">Nullam vitae risus commodo arcu tincidunt ultricies</p>
		</div>

		<div class="bg-dark-light media media-large">
			<div class="row no-gutters align-items-center">
				<div class="col-md-6 overflow-hidden">
					<a href="destination-cities.html">
						<img src="{{ asset(fileurl(images[119],'optimized',1000)) }}" alt="image">
					</a>
				</div>
			
				<div class="col-md-6">
					<div class="media-body">
						<h3 class="text-uppercase text-white font-weight-bold mb-xl-5">Choose <br>Your Destination</h3>
						<p class="mb-xl-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
							dolore magna aliqua.</p>
						
						<div class="row">
							<div class="col-md-6 col-lg-4">
								<ul class="list-unstyled mb-xl-5">
									<li class="media align-items-center mb-xl-2">
										<div class="mr-2">
											<i class="fa fa-minus"></i>
										</div>
										<div class="media-body">
											Asia
										</div>
									</li>

									<li class="">
										<a href="destination-single-city.html" class="media d-inline-flex align-items-center">
											<i class="fa fa-square mr-2"></i>
											<div class="media-body">
												Aenean
											</div>
										</a>
									</li>

									<li class="">
										<a href="destination-single-city.html" class="media d-inline-flex align-items-center">
											<i class="fa fa-square mr-2"></i>
											<div class="media-body">
												Etiam
											</div>
										</a>
									</li>

									<li class="">
										<a href="destination-single-city.html" class="media d-inline-flex align-items-center">
											<i class="fa fa-square mr-2"></i>
											<div class="media-body">
												Donec
											</div>
										</a>
									</li>
								</ul>
							</div>
						
							<div class="col-md-6 col-lg-4">
								<ul class="list-unstyled mb-xl-5">
									<li class="media align-items-center mb-xl-2">
										<div class="mr-2">
											<i class="fa fa-minus"></i>
										</div>
										<div class="media-body">
											Europe
										</div>
									</li>
								
									<li class="">
										<a href="destination-single-city.html" class="media d-inline-flex align-items-center">
											<i class="fa fa-square mr-2"></i>
											<div class="media-body">
												Maecenas
											</div>
										</a>
									</li>
								
									<li class="">
										<a href="destination-single-city.html" class="media d-inline-flex align-items-center">
											<i class="fa fa-square mr-2"></i>
											<div class="media-body">
												Cras Sagittis
											</div>
										</a>
									</li>
								
									<li class="">
										<a href="destination-single-city.html" class="media d-inline-flex align-items-center">
											<i class="fa fa-square mr-2"></i>
											<div class="media-body">
												Vestibulum
											</div>
										</a>
									</li>
								</ul>
							</div>
						
							<div class="col-md-6 col-lg-4">
								<ul class="list-unstyled mb-xl-5">
									<li class="media align-items-center mb-xl-2">
										<div class="mr-2">
											<i class="fa fa-minus"></i>
										</div>
										<div class="media-body">
											America
										</div>
									</li>
								
									<li class="">
										<a href="destination-single-city.html" class="media d-inline-flex align-items-center">
											<i class="fa fa-square mr-2"></i>
											<div class="media-body">
												Morbi Sed
											</div>
										</a>
									</li>
								
									<li class="">
										<a href="destination-single-city.html" class="media d-inline-flex align-items-center">
											<i class="fa fa-square mr-2"></i>
											<div class="media-body">
												Pellentesque
											</div>
										</a>
									</li>
								
									<li class="">
										<a href="destination-single-city.html" class="media d-inline-flex align-items-center">
											<i class="fa fa-square mr-2"></i>
											<div class="media-body">
												Proin
											</div>
										</a>
									</li>
								</ul>
							</div>
						
							<div class="col-md-4">
								<ul class="list-unstyled mb-xl-5">
									<li class="media align-items-center mb-xl-2">
										<div class="mr-2">
											<i class="fa fa-minus"></i>
										</div>
										<div class="media-body">
											Africa
										</div>
									</li>
								
									<li class="">
										<a href="destination-single-city.html" class="media d-inline-flex align-items-center">
											<i class="fa fa-square mr-2"></i>
											<div class="media-body">
												Duis Eu
											</div>
										</a>
									</li>
								
									<li class="">
										<a href="destination-single-city.html" class="media d-inline-flex align-items-center">
											<i class="fa fa-square mr-2"></i>
											<div class="media-body">
												Morbi Nisl
											</div>
										</a>
									</li>
								
									<li class="">
										<a href="destination-single-city.html" class="media d-inline-flex align-items-center">
											<i class="fa fa-square mr-2"></i>
											<div class="media-body">
												Curabitur
											</div>
										</a>
									</li>
								</ul>
							</div>
						
							<div class="col-md-6 col-lg-4">
								<ul class="list-unstyled mb-xl-5">
									<li class="media align-items-center mb-xl-2">
										<div class="mr-2">
											<i class="fa fa-minus"></i>
										</div>
										<div class="media-body">
											Australia
										</div>
									</li>
								
									<li class="">
										<a href="destination-single-city.html" class="media d-inline-flex align-items-center">
											<i class="fa fa-square mr-2"></i>
											<div class="media-body">
												Vivamus
											</div>
										</a>
									</li>
								
									<li class="">
										<a href="destination-single-city.html" class="media d-inline-flex align-items-center">
											<i class="fa fa-square mr-2"></i>
											<div class="media-body">
												Nibh Odio
											</div>
										</a>
									</li>
								
									<li class="">
										<a href="destination-single-city.html" class="media d-inline-flex align-items-center">
											<i class="fa fa-square mr-2"></i>
											<div class="media-body">
												Dictum
											</div>
										</a>
									</li>
								</ul>
							</div>
						</div>
						
						<div class="text-uppercase">
							<a href="destination-cities.html" class="btn btn-sm btn-outline-white">View all</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
