<!-- ====================================
——— TOP DESTINATION SECTION
===================================== -->
<section class="py-9 py-md-10">
	<div class="container">
		<div class="text-center section-title2">
			<h2 class="text-uppercase font-weight-bold position-relative">
				<span class="bg-white">Vous venez en groupe ?</span>
			</h2>
			<p class="text-center">Vous venez en nombre aux Grottes du Cerdon ?<br><strong>Découvrez toutes nos offres pour les groupes !<br>Vous êtes...</strong></p>
		</div>
		
		<div class="row">

			<div class="col-6 col-md-4 col-lg-2">
				<div class="card card-opacity mb-6 mb-lg-0">
					<a href="#" class="position-relative">
						<img class="card-img-top rounded" src="{{ asset(fileurl(images[11],'thumbnail',128)) }}" alt="Card image cap">
						<div class="card-img-overlay card-hover-overlay d-flex flex-column"></div>
					</a>
					<div class="card-body px-0 pb-0">
						<h5 class="mb-0">
							<a href="#" class="font-weight-semibold text-dark text-uppercase">Centres de loisires</a>
						</h5>
					</div>
				</div>
			</div>

			<div class="col-6 col-md-4 col-lg-2">
				<div class="card card-opacity mb-6 mb-lg-0">
					<a href="#" class="position-relative">
						<img class="card-img-top rounded" src="{{ asset(fileurl(images[11],'thumbnail',128)) }}"
							alt="Card image cap">
						<div class="card-img-overlay card-hover-overlay d-flex flex-column"></div>
					</a>
					<div class="card-body px-0 pb-0">
						<h5 class="mb-0">
							<a href="#" class="font-weight-semibold text-dark text-uppercase">Groupes scolaires</a>
						</h5>
					</div>
				</div>
			</div>

			<div class="col-6 col-md-4 col-lg-2">
				<div class="card card-opacity mb-6 mb-lg-0">
					<a href="#" class="position-relative">
						<img class="card-img-top rounded" src="{{ asset(fileurl(images[11],'thumbnail',128)) }}"
							alt="Card image cap">
						<div class="card-img-overlay card-hover-overlay d-flex flex-column"></div>
					</a>
					<div class="card-body px-0 pb-0">
						<h5 class="mb-0">
							<a href="#" class="font-weight-semibold text-dark text-uppercase">Groupes et familles</a>
						</h5>
					</div>
				</div>
			</div>

			<div class="col-6 col-md-4 col-lg-2">
				<div class="card card-opacity mb-6 mb-md-0">
					<a href="#" class="position-relative">
						<img class="card-img-top rounded" src="{{ asset(fileurl(images[11],'thumbnail',128)) }}"
							alt="Card image cap">
						<div class="card-img-overlay card-hover-overlay d-flex flex-column"></div>
					</a>
					<div class="card-body px-0 pb-0">
						<h5 class="mb-0">
							<a href="#" class="font-weight-semibold text-dark text-uppercase">Incentive entreprises</a>
						</h5>
					</div>
				</div>
			</div>

			<div class="col-6 col-md-4 col-lg-2">
				<div class="card card-opacity">
					<a href="#" class="position-relative">
						<img class="card-img-top rounded" src="{{ asset(fileurl(images[11],'thumbnail',128)) }}"
							alt="Card image cap">
						<div class="card-img-overlay card-hover-overlay d-flex flex-column"></div>
					</a>
					<div class="card-body px-0 pb-0">
						<h5 class="mb-0">
							<a href="#" class="font-weight-semibold text-dark text-uppercase">Anniversaire</a>
						</h5>
					</div>
				</div>
			</div>

			<div class="col-6 col-md-4 col-lg-2">
				<div class="card card-opacity mb-6 mb-lg-0">
					<a href="#" class="position-relative">
						<img class="card-img-top rounded" src="{{ asset(fileurl(images[11],'thumbnail',128)) }}" alt="Card image cap">
						<div class="card-img-overlay card-hover-overlay d-flex flex-column"></div>
					</a>
					<div class="card-body px-0 pb-0">
						<h5 class="mb-0">
							<a href="#" class="font-weight-semibold text-dark text-uppercase">Toutes les offres</a>
						</h5>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
