<!-- ====================================
———	SEARCH SECTION
===================================== -->
<section class="bg-dark-light py-7">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-xl-4">
				<div class="section-title-bg mb-1 mb-lg-3 mb-xl-0">
					<h1 class="text-white text-uppercase mb-0">{{ 'Horaires'|trans }}</h1>
					<h2 class="text-white text-uppercase font-weight-bold mb-0">{{ 'par journées'|trans|raw }}</h2>
				</div>
			</div>
		
			<div class="col-xl-8">
				<form class="" action="#" method="GET">
					<div class="row">
						<div class="col-lg-8">
							<div class="row">
{# 								<div class="col-md-6 col-lg-3">
									<div class="select-dropdown">
										<div class="form-group mb-lg-0">
											<div class="select-default select-search-box">
												<select class="select-option">
													<option>Destinations</option>
													<option>USA</option>
													<option>UK</option>
													<option>Canada</option>
												</select>
											</div>
										</div>
									</div>
								</div> #}

								<div class="col-md-12 col-lg-12">
									<div class="form-group form-group-icon mb-lg-0">
										<i class="fa fa-calendar" aria-hidden="true"></i>
										<input type="text" class="form-control daterange-picker" name="dateRange" value=""
											placeholder="MM/DD/YYYY" />
									</div>
								</div>

{# 								<div class="col-md-6 col-lg-3">
									<div class="form-group form-group-icon mb-lg-0">
										<i class="fa fa-calendar" aria-hidden="true"></i>
										<input type="text" class="form-control daterange-picker" name="dateRange" value=""
											placeholder="MM/DD/YYYY" />
									</div>
								</div> #}

{# 								<div class="col-md-6 col-lg-3">
									<div class="select-dropdown">
										<div class="form-group mb-lg-0">
											<div class="select-default select-search-box">
												<select class="select-option">
													<option>$1000 - $1200</option>
													<option>$1200 - $1400</option>
													<option>$1400 - $1600</option>
													<option>$1600 - $1800</option>
												</select>
											</div>
										</div>
									</div>
								</div> #}
							</div>
						</div>
		
						<div class="col-lg-4">
							<button class="btn btn-primary text-uppercase" type="button">
								{{ 'Search'|trans }}
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
