{% set partenaires = request_data('Partenaire', 'findAll', []) %}

<!-- ====================================
———	STAR CITY SECTION
===================================== -->
<section class="py-10">
	<div class="container">
		<div class="text-center section-title2">
			<h2 class="text-uppercase font-weight-bold position-relative">
				<span class="bg-white">Nos partenaires</span>
			</h2>
			{# <p class="text-capitalize text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> #}
		</div>

		<div class="row">

			{% for partenaire in partenaires if partenaire.avatar is not null %}
			<div class="col-md-6 col-lg-4">
				<div class="media media-sm align-items-center border-bottom">
					<a href="{{ partenaire.url|default('#') }}" target="_blank">
						<img class="" src="{{ asset(fileurl(partenaire.avatar,'formated',64, true)) }}" alt="{{ partenaire.slug }}">
					</a>

					<div class="media-body">
						<h6><a href="{{ partenaire.url|default('#') }}" target="_blank">{{ partenaire.title }}</a></h6>
						{# <a href="destination-single-city.html" class="text-uppercase">
							<i class="fa fa-map-marker" aria-hidden="true"></i> View in map
						</a> #}
					</div>
				</div>
			</div>
			{% endfor %}

		</div>

		{# <div class="text-center mt-1">
			<a href="destination-cities.html" class="btn btn-hover btn-outline-secondary text-uppercase">See All Sights</a>
		</div> #}
	</div>
</section>
