<!-- ====================================
———	PACKAGES SECTION
===================================== -->
<section class="py-10">
	<div class="container">
		<div class="text-center section-title">
			<h2 class="text-uppercase font-weight-bold position-relative">
				<span class="bg-white">
					{{ 'Tarifs'|trans }} {{ product_item|default('Grottes et Parc') }}
				</span>
			</h2>
			<p class="text-center">{{ 'online_or_office'|trans }}</p>
		</div>

		<div id="filters" class="button-group">
			<button class="button{{ product_item|default(null) is null ? ' is-checked' }}" data-filter="*">{{ 'Tous les tarifs'|trans }}</button>
			{% for item in product_items %}
			<button class="button{{ product_item|default(null) == item ? ' is-checked' }}" data-filter=".{{ item }}">{{ ('tmp.' ~ item)|trans }}</button>
			{% endfor %}
		</div>

		<div class="row grid">
			{% for slug,product in products %}
			<div class="col-md-6 col-lg-4 element-item {{ product.tags|join(' ') }}">
				<div class="media media-hoverable justify-content-center mb-2 mb-md-4 mb-lg-6">
					<a href="single-package-fullwidth.html" class="media-content">
						<img class="media-img" src="{{ asset(fileurl(images[13],'optimized',1000)) }}" alt="{{ slug }}">
						<div class="media-object">
							<h3 class="text-uppercase mb-0">{{ product['title@translate'][app.request.locale]|raw }}</h3>
						</div>
						<div class="media-img-overlay">
							<div class="overlay-content">
								<h3 class="">{{ 'apartirde'|trans({price: product.prixttc|number_format(2) })|raw }}</h3>
								<p class="text-white mb-0">{{ product.accroche|raw }}</p>
							</div>
						</div>
					</a>
				</div>
			</div>
			{% endfor %}
		</div>

	</div>
</section>