		<!-- ====================================
		———	VACETION SECTION
		===================================== -->
		<section class="dzsparallaxer auto-init use-loading promotion-paralax">
			<div class="divimage dzsparallaxer--target" style="height: 700px;" data-src="assets/img/home/promotion/promotion-1.jpg">
			</div>

			<div class="container paralax-container">
				<div class="row align-items-center justify-content-center text-center">
					<div class="col-12">
						<div class="content mb-7">
							<h4 class="text-uppercase text-white mb-2">Winter Promotion</h4>
							<h2 class="text-uppercase text-white font-weight-bold">Greek Island Vacation Tour</h2>
						</div>
						<ul class="list-unstyled icon-rating d-flex justify-content-center text-warning mb-1">
							<li class="mr-1">
								<i class="fa fa-star" aria-hidden="true"></i>
							</li>
							<li class="mr-1">
								<i class="fa fa-star" aria-hidden="true"></i>
							</li>
							<li class="mr-1">
								<i class="fa fa-star" aria-hidden="true"></i>
							</li>
							<li class="mr-1">
								<i class="fa fa-star" aria-hidden="true"></i>
							</li>
							<li>
								<i class="fa fa-star" aria-hidden="true"></i>
							</li>
						</ul>		
						<h4 class="text-white mb-4">$599 per person - 5 nights</h4>
						<a href="single-package-right-sidebar.html" class="btn btn-primary text-uppercase">View Details</a>
					</div>
				</div>			
			</div>
		</section>
