{% extends 'ModelApiFileBundle:Default:base.html.twig' %}

{% block body %}
	<div id="wrapper">
		<div id="container">
			<div id="welcome">
				<h1><span>File API for</span> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
				{% if message|default(null) is not null %}
				<h3 style="color: blue;">Message: {{ message|raw }}</h3>
				{% endif %}
			</div>

			<div id="status">
				<p>
					<svg id="icon-status" width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="green"/></svg>

					Your application is now ready. You can start working on it at:
					<code>{{ base_dir }}</code>
					{# <code><i>{{ rel_dir }}</i></code> #}
					<a href="{{ path('homepage') }}">HOME APP</a>
					<a href="{{ path('website_admin_homepage') }}">See ADMIN</a>
				</p>
			</div>

			<div id="next">
				<h2>Tree</h2>
				<div id="jstree"></div>
			</div>

			<div id="next">
				<h2>List of Items</h2>
				<ul>
					{% for file in files %}
					<li><small>{{ file.shortname }}</small> {{ file.id }} <strong>{{ file.name }}</strong> <a href="{{ path('modelapifile-remove-file', {slug: file.slug}) }}" style="color:darkred; display: inline;"><small>supprimer</small></a>
						<form action="{{ path('modelapifile-directory-add-file', {slug: file.slug}) }}" method="POST">
							<select name="directory">
								{% for directory in directorys %}
								<option value="{{ directory.id }}">{{ directory.name }}</option>
								{% endfor %}
							</select>
							<button>Confirm</button>
						</form>
					</li>
					{% endfor %}
				</ul>
			</div>

			<div id="next">
				<h2>List of Directories</h2>
				<ul>
					{% for directory in directorys %}
					<li><small>{{ directory.shortname }}</small> {{ directory.id }} <strong>{{ directory.name }}</strong> <a href="{{ path('modelapifile-remove-directory', {slug: directory.slug}) }}" style="color:darkred; display: inline;"><small>supprimer</small></a>
						<form action="{{ path('modelapifile-directory-add-file', {slug: directory.slug}) }}" method="POST">
							<select name="directory">
								{% for directory2 in directorys if directory2 is not same as(directory) %}
								<option value="{{ directory2.id }}">{{ directory2.name }}</option>
								{% endfor %}
							</select>
							<button>Confirm</button>
						</form>
						{% if directory.childs|length %}
						<ul>
							{% for file in directory.childs %}
							{% if file.isSymbolic %}
							<li><i><small>{{ file.shortname }}</small> {{ file.id }} <strong>{{ file.name }}</strong> <a href="{{ path('modelapifile-directory-remove-file', {id: directory.id, slug: file.slug}) }}" style="color:darkred; display: inline;"><small>retirer</small></a></i></li>
							{% else %}
							<li><small>{{ file.shortname }}</small> {{ file.id }} <strong>{{ file.name }}</strong> <a href="{{ path('modelapifile-directory-remove-file', {id: directory.id, slug: file.slug}) }}" style="color:darkred; display: inline;"><small>retirer</small></a></li>
							{% endif %}
							{% endfor %}
						</ul>
						{% endif %}
					</li>
					{% endfor %}
				</ul>
				{# <h2>Test addChild : <span style="color: {{ test == 0 ? 'green' : 'red' }};">{{ test|json_encode }}</span></h2> #}
			</div>

			<div id="next">
				<h2>List of links</h2>
				<ul>
					{% for link in links -%}
					<li><small>Link {{ link.id }} => Directory: {{ link.directory.name|default('-') }} / Child: {{ link.child.name|default('-') }}</small></li>
					{%- endfor %}
				</ul>
			</div>

			{# {% if dumpdata|default(null) is not null %} #}
			{# {{ dump(dumpdata) }} #}
			{# {% endif %} #}

		</div>
	</div>
{% endblock %}

{% block stylesheets %}
<style>
	body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
	h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
	h1 { font-size: 36px; }
	h2 { font-size: 21px; margin-bottom: 1em; }
	p { margin: 0 0 1em 0; }
	a { color: #0000F0; }
	a:hover { text-decoration: none; }
	code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
	#wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
	#container { padding: 2em; }
	#welcome, #status { margin-bottom: 2em; }
	#welcome h1 span { display: block; font-size: 75%; }
	#icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
	#icon-book { display: none; }

	@media (min-width: 768px) {
		#wrapper { width: 80%; margin: 2em auto; }
		#icon-book { display: inline-block; }
		#status a, #next a { display: block; }

		@-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
		@keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
		.sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
	}
</style>
{% endblock %}
