<!-- Login Modal -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-label="loginModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header rounded">
				<h3 class="modal-title text-uppercase font-weight-bold">{{ 'user.login.title'|trans }}</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				{# {{ include('@FOSUser/Security/login_modale_content.html.twig') }} #}
				{% set login_data = login_data() %}

				{% if login_data.error %}
					<div>{{ login_data.error.messageKey|trans(login_data.error.messageData, 'security') }}</div>
				{% endif %}

				<form class="" action="{{ path("fos_user_security_check") }}" method="post">
					{% if login_data.csrf_token %}
					<input type="hidden" name="_csrf_token" value="{{ login_data.csrf_token }}" />
					{% endif %}

					<div class="form-group">
						<input type="text" id="username" name="_username" value="{{ login_data.last_username }}" required="required" autocomplete="username" class="form-control bg-smoke" required="" placeholder="{{ 'security.login.username'|trans }}">
					</div>

					<div class="form-group">
						<input type="password" id="password" name="_password" required="required" autocomplete="current-password" class="form-control bg-smoke" required="" placeholder="{{ 'security.login.password'|trans }}">
					</div>

					<div class="form-group form-check mb-0">
						<input type="checkbox" id="remember_me" name="_remember_me" value="on" class="form-check-input">
						<label class="form-check-label text-gray-color mb-3" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
						<a class="pull-right" href="#">{{ 'forgotten.password'|trans }}</a>
					</div>
					<button type="submit" id="_submit" name="_submit" class="btn btn-primary btn-block text-uppercase">{{ 'security.login.submit'|trans }}</button>
					{# <div class="text-uppercase text-center py-3">Or</div> #}
					{# <button type="submit" class="btn btn-facebook btn-block text-uppercase">Login with facebook</button> #}
				</form>

			</div>

			<div class="modal-footer justify-content-center">
				{# <p class="mb-1">Vous n'avez pas de compte : <a href="#">Enregistrement</a></p> #}
			</div>
		</div>
	</div>
</div>
