<!-- INQUIRY IN MODAL -->
<div class="modal fade" id="inquiry" tabindex="-1" role="dialog" aria-label="inquiryModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header rounded">
				<h3 class="modal-title text-uppercase font-weight-bold">Billet</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body pb-3">
				<form class="" action="index.html" method="post">
					<div class="form-group">
						<input type="text" class="form-control bg-smoke" required="" placeholder="Your Name">
					</div>

					<div class="form-group">
						<input type="email" class="form-control bg-smoke" required="" placeholder="Your Email">
					</div>

					<div class="form-group">
						<input type="number" class="form-control bg-smoke" required="" placeholder="Phone Number">
					</div>

					<div class="form-group">
						<textarea class="form-control bg-smoke" rows="6" placeholder="Message"></textarea>
					</div>

					<button type="submit" class="btn btn-primary text-uppercase">Fermer</button>
				</form>
			</div>
		</div>
	</div>
</div>
