{# FIXT@fixt_reference = 'modale_login_01.html.twig' #}
{# FIXT@name = "Modale login" #}
{# FIXT@owner = "@FIXT_REF=Entreprise@GROTTES_DU_CERDON" #}
{# FIXT@groups = ["@FIXT_REF=Group@GROTTES_PUBLIC"] #}
{# FIXT@bundle = 'WebsiteSiteBundle' #}
{# FIXT@templatename = 'star2' #}
{# FIXT@typepage = 'modale' #}
<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-label="signupModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header rounded">
				<h3 class="modal-title text-uppercase font-weight-bold">{{ 'Create your account'|trans }}</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form class="" action="index.html" method="post">
					<div class="form-group">
						<input type="text" class="form-control bg-smoke" required="" placeholder="Full Name">
					</div>

					<div class="form-group">
						<input type="email" class="form-control bg-smoke" required="" placeholder="Email">
					</div>

					<div class="form-group">
						<input type="password" class="form-control bg-smoke" required="" placeholder="Password">
					</div>

					<div class="form-group form-check mb-0">
						<input type="checkbox" class="form-check-input" id="exampleCheck4">
						<label class="form-check-label text-gray-color mb-3" for="exampleCheck4">
							{{ 'I agree to the terms of use and privacy.'|trans }}
						</label>
					</div>

					<button type="submit" class="btn btn-primary btn-block text-uppercase">{{ 'Register'|trans }}</button>
				</form>
			</div>
		</div>
	</div>
</div>
