{% autoescape false %}
{{ site_context.Entreprise.name|striptags }}
{% if site_context.Entreprise.description|hasText %}
=========================================================================
{{ site_context.Entreprise.description|striptags }}
{% endif %}
=========================================================================

Bonjour {{ user.getFullnameOrUsername('long')|raw }},

{{ text|striptags }}

=========================================================================
Site web : {{ url('website_site_homepage') }}
Pour vous connecter à votre compte : {{ url('website_admin_homepage') }}
{% endautoescape %}
