{% extends 'WebsiteSiteBundle:Email:basic.html.twig' %}

{% block title %}{{ title|raw }},{% endblock %}
{% block html_content %}
	{% if text|default(null)|hasText %}
	<div>{{ text|raw }}</div>
	{% endif %}
	<div>Nom utilisateur : {{ user.username }}</div>
	<div>Email : {{ user.email }}</div>
	{% if user.temppassword is not null %}
	<div>Password : {{ user.temppassword }}</div>
	{% endif %}
{% endblock %}
