<!DOCTYPE html> <!-- HTML 5 -->
<html lang="{{ app.request.locale|default(app.request.defaultLocale) }}">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ translation_mode() ? 'DEV LIVE TRANSLATION' : 'DEV ADMIN' }}</title>
	{% block stylesheets %}
	{% stylesheets filter='cssrewrite, lessphp'
	'@WebsiteAdminBundle_inspinia_css_common'
	output="css/WebsiteAdminBundle/inspinia_dev_01.css" %}
	<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	{% endstylesheets %}
	{% endblock stylesheets %}
	{# <link rel="stylesheet" type="text/css" href="{{ asset('bundles/websitesite/star-2-0-extension/agenda_table.css') }}"> #}
	{# <link rel="stylesheet" href="{{ asset('bundles/websiteadmin/switchery-master/dist/switchery.min.css') }}" type="text/css" /> #}
</head>

<!-- ControllerAs syntax -->
<!-- Main controller with serveral data used in Inspinia theme on diferent view -->
<body class="dark-bg{{ site_context.Environment.shortname == 'Entreprise' ? '' : ' skin-3' }}">

	<div id="body" data-ng-app="labo" data-ng-controller="laboCtrl">
		{% block outer_body %}
		<div id="wrapper">
			{% block outer_wrapper %}
				{# PAGEWEB CONTENT HERE #}
			{% endblock outer_wrapper %}
		</div>
		{% endblock outer_body %}

		{% block modals %}
		<div id="modals"></div>
		{% endblock modals %}
	</div>

{# 	{% block sitedata %}
	{{ include('WebsiteAdminBundle:System:html-site-data.html.twig') }}
	{% endblock sitedata %} #}

	{% block flashbags %}
		{% if app.request.hasPreviousSession %}
			<span id="flashbag_messages" style="display:none;">
			{% for label, messages in app.flashes %}
				{% for message in messages if message is iterable %}
					<div data-flash-message data-type="{{ label }}" data-support="{{ message.support }}">{{ message.message|trans|raw }}</div>
				{% endfor %}
			{% endfor %}
			</span>
		{% endif %}
	{% endblock flashbags %}

	{% block javascripts %}
	{% javascripts
	'@WebsiteAdminBundle_inspinia_js_common'
	output="js/WebsiteAdminBundle/inspinia_dev_01.js" %}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<script type="text/javascript" src="{{ asset('bundles/websiteadmin/angular/utils.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/websiteadmin/angular/config.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/websiteadmin/angular/controller/labo.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/websiteadmin/angular/provider/sitedata.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/websiteadmin/angular/provider/localization.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/websiteadmin/angular/provider/entities.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/websiteadmin/angular/provider/atoastr.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/websiteadmin/angular/filter/filters.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/websiteadmin/angular/filter/common-filters.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/websiteadmin/angular/directive/ready.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/websiteadmin/angular/directive/common.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/websiteadmin/angular/directive/entities.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/websiteadmin/angular/directive/forms.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/websiteadmin/angular/directive/jstreeDirectory.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/websiteadmin/angular/directive/plugins.js') }}"></script>
	{# <script type="text/javascript" src="{{ asset('bundles/websitesite/star-2-0-extension/star2_extensions.js') }}"></script> #}

	<script type="text/javascript">
	jQuery(document).ready(function($) {
		// Tinycon.setBubble("X");
		// Tinycon.setOptions({ background: 'red' });
		// $('.footable').footable();
	});
	</script>
	{% endblock javascripts %}

	{% import 'WebsiteAdminBundle:Macro:environment.html.twig' as environment %}
	{{ environment.sitedata() }}

</body>
</html>
