<!DOCTYPE html> <!-- HTML 5 -->
<html lang="{{ app.request.locale|default(app.request.defaultLocale) }}">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ translation_mode() ? 'LIVE TRANSLATION' : 'ADMIN' }}</title>
	{% block stylesheets %}
	{% stylesheets filter='cssrewrite, lessphp'
	'@WebsiteAdminBundle_inspinia_css_prod'
	output="css/WebsiteAdminBundle/inspinia_prod_01.css" %}
	<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	{% endstylesheets %}
	{% endblock stylesheets %}
	{# <link rel="stylesheet" href="{{ asset('bundles/websiteadmin/switchery-master/dist/switchery.min.css') }}" type="text/css" /> #}
</head>

<!-- ControllerAs syntax -->
<!-- Main controller with serveral data used in Inspinia theme on diferent view -->
<body class="dark-bg{{ site_context.Environment.shortname == 'Entreprise' ? '' : ' skin-3' }}">

	<div id="body" data-ng-app="labo" data-ng-controller="laboCtrl">
		{% block outer_body %}
		<div id="wrapper">
			{% block outer_wrapper %}
				{# PAGEWEB CONTENT HERE #}
			{% endblock outer_wrapper %}
		</div>
		{% endblock outer_body %}

		{% block modals %}
		<div id="modals"></div>
		{% endblock modals %}
	</div>

	{% block sitedata %}
	{{ include(['WebsiteSiteBundle:Admin:System/html-site-data.html.twig','WebsiteAdminBundle:System:html-site-data.html.twig']) }}
	{% endblock sitedata %}

	{% block flashbags %}
		<span id="flashbag_messages" style="display:none;">
		{% for label, messages in app.flashes %}
			{% for message in messages if message is iterable %}
				<div data-flash-message data-type="{{ label }}" data-support="{{ message.support }}">{{ message.message|trans|raw }}</div>
			{% endfor %}
		{% endfor %}
		</span>
	{% endblock flashbags %}

	{% block javascripts %}
	{% javascripts
	'@WebsiteAdminBundle_inspinia_js_prod'
	output="js/WebsiteAdminBundle/inspinia_prod_01.js" %}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<script type="text/javascript">
	jQuery(document).ready(function($) {
		// Tinycon.setBubble("X");
		// Tinycon.setOptions({ background: 'red' });
	});
	</script>
	{% endblock javascripts %}

	{% import ['WebsiteSiteBundle:Admin:Macro/environment.html.twig','WebsiteAdminBundle:Macro:environment.html.twig'] as environment %}
	{{ environment.sitedata() }}

</body>
</html>
