{% extends 'WebsiteAdminBundle:Bases:base_admin_01_' ~ app.environment ~ '.html.twig' %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block outer_wrapper %}

	{# SIDEBAR #}
	{% block sidebar %}
	{{ include(['WebsiteSiteBundle:Admin:Default/default_sidebar.html.twig','WebsiteAdminBundle:Default:default_sidebar.html.twig']) }}
	{% endblock sidebar %}

	<div id="page-wrapper" class="gray-bg {{ app.user.preference('adminSkinConfig.dashbard').value|default('dashbard-1') }}">
	{% block pagewrapper %}

		{# HEADERS #}
		{% block topnavbar %}
		{{ include(['WebsiteSiteBundle:Admin:Default/default_topnavbar.html.twig','WebsiteAdminBundle:Default:default_topnavbar.html.twig']) }}
		{{ include(['WebsiteSiteBundle:Admin:Default/default_page_heading.html.twig','WebsiteAdminBundle:Default:default_page_heading.html.twig']) }}
		{% endblock topnavbar %}

		{% block wrapcontent %}
		<div class="wrapper wrapper-content">

			{# {% block dev_content %}
				{% if site_context.isDevOrSadmin() %}
				{% import ['WebsiteSiteBundle:Admin:Macro/admin_views.html.twig','WebsiteAdminBundle:Macro:admin_views.html.twig'] as admin_views %}
				{% set params = {entity: (entity is defined ? entity : null), form: form is defined ? form : null, entities: entities|default(null)} %}
				{{ admin_view|default(true) ? admin_views.devInformations(params) }}
				{% endif %}
			{% endblock dev_content %} #}

			{% block content %}
				{# CONTENT HERE #}
			{% endblock content %}

		</div>
		{% endblock wrapcontent %}

		{% block footer %}
		{{ include(['WebsiteSiteBundle:Admin:Default/default_footer.html.twig','WebsiteAdminBundle:Default:default_footer.html.twig']) }}
		{% endblock footer %}

	{% endblock pagewrapper %}
	</div>

	{% block flash_messages %}
		{# {{ actions.flashMessages() }} #}
	{% endblock flash_messages %}

{% endblock outer_wrapper %}
