table.table-agenda {
	width: 100%;
	table-layout: fixed;
}
table.table-agenda thead tr {
	background-color: #F0C47C;
}
.table thead th, .table-agenda thead th {
	vertical-align: middle;
	/*border-bottom: 2px solid #dee2e6;*/
	border-bottom: 1px solid #AAAAAA;
}
table.table-agenda thead th, table.table-agenda tbody td {
	padding: 10px 0px;
	border: 1px solid #AAAAAA;
	text-align: center;
	vertical-align: middle;
	/*cursor: default;*/
}
table.table-agenda tbody td.agenda-event {
	border: 2px solid red;
}
table.table-agenda tbody td.today {
	font-weight: 700 !important;
	color: #b92424;
	font-size: 1.5em;
	padding: 0px;
}
.cursor-pointer {
	cursor: pointer;
}
.opacity-5 {
  opacity: .5;
}


.rounded-top-lg {
  border-top-left-radius: 0.35rem !important;
  border-top-right-radius: 0.35rem !important;
}

.rounded-right-lg {
  border-top-right-radius: 0.35rem !important;
  border-bottom-right-radius: 0.35rem !important;
}

.rounded-bottom-lg {
  border-bottom-right-radius: 0.35rem !important;
  border-bottom-left-radius: 0.35rem !important;
}

.rounded-left-lg {
  border-top-left-radius: 0.35rem !important;
  border-bottom-left-radius: 0.35rem !important;
}

.rounded-top-0 {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.rounded-right-0 {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.rounded-bottom-0 {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.rounded-left-0 {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
