<div class="modal inmodal fade" id="modal-tag-update" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title text-center">
					<span data-ng-if="!loading" data-translate="{[{ 'entities.'+form.shortname.toLowerCase()+'.actions.update' }]}" data-translate-values="{name: (form.formdata.vars.value.name)}"></span>
					<small data-ng-if="loading"><i class="fa fa-circle-o-notch fa-spin"></i> <span data-translate="Loading"></span></small>
				</h2>
			</div>
			<div class="modal-body" style="background-color: #f3d9d5;">
				<!-- content -->
				<div class="full-height full-width text-center" data-ng-if="loading && !errorload">
					<i class="fa fa-circle-o-notch fa-4x fa-spin m-b-lg m-t-lg"></i>
				</div>
				<div class="full-height full-width text-center" data-ng-if="!loading && errorload">
					<i class="fa fa-exclamation-triangle fa-4x m-b-lg m-t-lg text-danger"></i>
				</div>
				<div data-ng-if="!loading && !errorload">
					<div class="panel panel-danger" data-ng-if="!form.formdata.vars.valid">
						<div class="panel-heading"><i class="fa fa-exclamation-triangle"></i> <span data-translate="form.errors.invalid"></span></div>
						<div class="panel-body" data-ng-if="form.formdata.vars.errors.errors.length"><ul><li data-ng-repeat="error in form.formdata.vars.errors.errors" data-translate="{[{ 'form.errors.'+error  }]}"></li></ul></div>
					</div>
					<!-- form : begin -->
					<form data-ng-class="form.formdata.vars.attr.class" data-ng-attr-method="{[{ form.formdata.vars.method }]}" data-ng-attr-action="{[{ form.formdata.vars.action }]}" data-ng-attr-enctype="{[{ form.formdata.vars.enctype }]}" data-ng-attr-id="{[{ form.formdata.vars.id }]}" data-ng-attr-name="{[{ form.formdata.vars.full_name }]}">
						<div data-ng-init="form_child = form.formdata" data-ng-include="form.formdata.template"></div>
					</form>
					<!-- form : end -->
					<hr>
					<p class="pull-left"><span class="text-muted" data-translate="Création"></span> <span data-ng-bind-html="form.formdata.vars.value.created | dateformat : 'llll'"></span></p>
					<p class="pull-right"><span class="text-muted" data-translate="Modification"></span> <span data-ng-bind-html="form.formdata.vars.value.updated | dateformat : 'llll'"></span></p>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-white" data-dismiss="modal" data-ng-if="!form.formdata.vars.touched" data-ng-click="dtAction('show', row)"><span data-translate="Voir"></span></button>
				<button type="button" class="btn btn-white" data-dismiss="modal"><span data-ng-if="!form.formdata.vars.touched" data-translate="{[{ 'Fermer' }]}"></span><span data-ng-if="form.formdata.vars.touched" data-translate="{[{ 'Cancel' }]}"></span></button>
				<!-- submit -->
				<button type="button" class="btn" data-ng-class="{'btn-success': !errorload, 'btn-error': errorload, 'disabled': loading}" data-ng-click="save()"><span data-translate="{[{ 'Save' }]}"></span><i class="fa fa-circle-o-notch fa-spin m-l-sm" data-ng-if="loading"></i></button>
			</div>
		</div>
	</div>
</div>
