<div class="modal inmodal fade" id="modal-labolog-show" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title text-center"><span data-translate="{[{ 'entities.'+entity.shortname.toLowerCase()+'.actions.show'  }]}" data-translate-values="{name: (entity.fullname)}"></span></h2>
			</div>
			<div class="modal-body" style="background-color: #CBDBF0;">
				<!-- content -->
				<div class="full-height full-width text-center" data-ng-if="loading && !errorload">
					<i class="fa fa-circle-o-notch fa-4x fa-spin m-b-lg m-t-lg"></i>
				</div>
				<div class="full-height full-width text-center" data-ng-if="!loading && errorload">
					<i class="fa fa-exclamation-triangle fa-4x m-b-lg m-t-lg text-danger"></i>
				</div>
				<div data-ng-if="!loading && !errorload">
					<div class="row">
						<div class="col-xs-9 col-sm-12">
							<ul class="list-group">
								<li class="list-group-item">
									<div class="row">
										<div class="col-sm-3 font-bold text-right hidden-xs">Utilisateur</div>
										<div class="col-sm-3 font-bold text-left visible-xs">Utilisateur</div>
										<div class="col-sm-9" data-ng-bind-html="entity.username|defaultfield"></div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row">
										<div class="col-sm-3 font-bold text-right hidden-xs">ClientIp</div>
										<div class="col-sm-3 font-bold text-left visible-xs">ClientIp</div>
										<div class="col-sm-9" data-ng-bind-html="entity.requestInfo.ClientIp|defaultfield"></div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row">
										<div class="col-sm-3 font-bold text-right hidden-xs">PathInfo</div>
										<div class="col-sm-3 font-bold text-left visible-xs">PathInfo</div>
										<div class="col-sm-9" data-ng-bind-html="entity.requestInfo.PathInfo|defaultfield"></div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row">
										<div class="col-sm-3 font-bold text-right hidden-xs">BasePath</div>
										<div class="col-sm-3 font-bold text-left visible-xs">BasePath</div>
										<div class="col-sm-9" data-ng-bind-html="entity.requestInfo.BasePath|defaultfield"></div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row">
										<div class="col-sm-3 font-bold text-right hidden-xs">BaseUrl</div>
										<div class="col-sm-3 font-bold text-left visible-xs">BaseUrl</div>
										<div class="col-sm-9" data-ng-bind-html="entity.requestInfo.BaseUrl|defaultfield"></div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row">
										<div class="col-sm-3 font-bold text-right hidden-xs">Scheme</div>
										<div class="col-sm-3 font-bold text-left visible-xs">Scheme</div>
										<div class="col-sm-9" data-ng-bind-html="entity.requestInfo.Scheme|defaultfield"></div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row">
										<div class="col-sm-3 font-bold text-right hidden-xs">Port</div>
										<div class="col-sm-3 font-bold text-left visible-xs">Port</div>
										<div class="col-sm-9" data-ng-bind-html="entity.requestInfo.Port|defaultfield"></div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row">
										<div class="col-sm-3 font-bold text-right hidden-xs">User</div>
										<div class="col-sm-3 font-bold text-left visible-xs">User</div>
										<div class="col-sm-9" data-ng-bind-html="entity.requestInfo.User|defaultfield"></div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row">
										<div class="col-sm-3 font-bold text-right hidden-xs">Password</div>
										<div class="col-sm-3 font-bold text-left visible-xs">Password</div>
										<div class="col-sm-9" data-ng-bind-html="entity.requestInfo.Password|defaultfield"></div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row">
										<div class="col-sm-3 font-bold text-right hidden-xs">UserInfo</div>
										<div class="col-sm-3 font-bold text-left visible-xs">UserInfo</div>
										<div class="col-sm-9" data-ng-bind-html="entity.requestInfo.UserInfo|defaultfield"></div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row">
										<div class="col-sm-3 font-bold text-right hidden-xs">HttpHost</div>
										<div class="col-sm-3 font-bold text-left visible-xs">HttpHost</div>
										<div class="col-sm-9" data-ng-bind-html="entity.requestInfo.HttpHost|defaultfield"></div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row">
										<div class="col-sm-3 font-bold text-right hidden-xs">RequestUri</div>
										<div class="col-sm-3 font-bold text-left visible-xs">RequestUri</div>
										<div class="col-sm-9" data-ng-bind-html="entity.requestInfo.RequestUri|defaultfield"></div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row">
										<div class="col-sm-3 font-bold text-right hidden-xs">SchemeAndHttpHost</div>
										<div class="col-sm-3 font-bold text-left visible-xs">SchemeAndHttpHost</div>
										<div class="col-sm-9" data-ng-bind-html="entity.requestInfo.SchemeAndHttpHost|defaultfield"></div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row">
										<div class="col-sm-3 font-bold text-right hidden-xs">Uri</div>
										<div class="col-sm-3 font-bold text-left visible-xs">Uri</div>
										<div class="col-sm-9" data-ng-bind-html="entity.requestInfo.Uri|defaultfield"></div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row">
										<div class="col-sm-3 font-bold text-right hidden-xs">QueryString</div>
										<div class="col-sm-3 font-bold text-left visible-xs">QueryString</div>
										<div class="col-sm-9" data-ng-bind-html="entity.requestInfo.QueryString|defaultfield"></div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row">
										<div class="col-sm-3 font-bold text-right hidden-xs">Secure</div>
										<div class="col-sm-3 font-bold text-left visible-xs">Secure</div>
										<div class="col-sm-9" data-ng-bind-html="entity.requestInfo.Secure|defaultfield"></div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row">
										<div class="col-sm-3 font-bold text-right hidden-xs">Host</div>
										<div class="col-sm-3 font-bold text-left visible-xs">Host</div>
										<div class="col-sm-9" data-ng-bind-html="entity.requestInfo.Host|defaultfield"></div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row">
										<div class="col-sm-3 font-bold text-right hidden-xs">Method</div>
										<div class="col-sm-3 font-bold text-left visible-xs">Method</div>
										<div class="col-sm-9" data-ng-bind-html="entity.requestInfo.Method|defaultfield"></div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row">
										<div class="col-sm-3 font-bold text-right hidden-xs">RealMethod</div>
										<div class="col-sm-3 font-bold text-left visible-xs">RealMethod</div>
										<div class="col-sm-9" data-ng-bind-html="entity.requestInfo.RealMethod|defaultfield"></div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row">
										<div class="col-sm-3 font-bold text-right hidden-xs">ContentType</div>
										<div class="col-sm-3 font-bold text-left visible-xs">ContentType</div>
										<div class="col-sm-9" data-ng-bind-html="entity.requestInfo.ContentType|defaultfield"></div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row">
										<div class="col-sm-3 font-bold text-right hidden-xs">DefaultLocale</div>
										<div class="col-sm-3 font-bold text-left visible-xs">DefaultLocale</div>
										<div class="col-sm-9" data-ng-bind-html="entity.requestInfo.DefaultLocale|defaultfield"></div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row">
										<div class="col-sm-3 font-bold text-right hidden-xs">Locale</div>
										<div class="col-sm-3 font-bold text-left visible-xs">Locale</div>
										<div class="col-sm-9" data-ng-bind-html="entity.requestInfo.Locale|defaultfield"></div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row">
										<div class="col-sm-3 font-bold text-right hidden-xs">MethodSafe</div>
										<div class="col-sm-3 font-bold text-left visible-xs">MethodSafe</div>
										<div class="col-sm-9" data-ng-bind-html="entity.requestInfo.MethodSafe|defaultfield"></div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row">
										<div class="col-sm-3 font-bold text-right hidden-xs">ProtocolVersion</div>
										<div class="col-sm-3 font-bold text-left visible-xs">ProtocolVersion</div>
										<div class="col-sm-9" data-ng-bind-html="entity.requestInfo.ProtocolVersion|defaultfield"></div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row">
										<div class="col-sm-3 font-bold text-right hidden-xs">XmlHttpRequest</div>
										<div class="col-sm-3 font-bold text-left visible-xs">XmlHttpRequest</div>
										<div class="col-sm-9" data-ng-bind-html="entity.requestInfo.XmlHttpRequest|defaultfield"></div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row">
										<div class="col-sm-3 font-bold text-right hidden-xs">FromTrustedProxy</div>
										<div class="col-sm-3 font-bold text-left visible-xs">FromTrustedProxy</div>
										<div class="col-sm-9" data-ng-bind-html="entity.requestInfo.FromTrustedProxy|defaultfield"></div>
									</div>
								</li>
								<li class="list-group-item list-group-item-info" data-ng-if="!!entity.responseInfo" data-ng-class="{'list-group-item-danger': entity.responseInfo.type == 'exception'}">
									<div class="row">
										<div class="col-sm-12 font-bold text-left"><strong>RESPONSE</strong></div>
									</div>
								</li>
								<li class="list-group-item" data-ng-class="{'list-group-item-danger': entity.responseInfo.type == 'exception'}">
									<div class="row">
										<div class="col-sm-3 font-bold text-right hidden-xs">Response type</div>
										<div class="col-sm-3 font-bold text-left visible-xs">Response type</div>
										<div class="col-sm-9" data-ng-bind-html="entity.responseInfo.type|defaultfield"></div>
									</div>
								</li>
								<li class="list-group-item" data-ng-class="{'list-group-item-danger': entity.responseInfo.type == 'exception'}">
									<div class="row">
										<div class="col-sm-3 font-bold text-right hidden-xs">Response class</div>
										<div class="col-sm-3 font-bold text-left visible-xs">Response class</div>
										<div class="col-sm-9" data-ng-bind-html="entity.responseInfo.event_name|defaultfield"></div>
									</div>
								</li>
								<li class="list-group-item" data-ng-class="{'list-group-item-danger': entity.responseInfo.type == 'exception'}" data-ng-if="entity.responseInfo.type == 'exception'">
									<div class="row">
										<div class="col-sm-3 font-bold text-right hidden-xs">Response code</div>
										<div class="col-sm-3 font-bold text-left visible-xs">Response code</div>
										<div class="col-sm-9" data-ng-bind-html="entity.responseInfo.code|defaultfield"></div>
									</div>
								</li>
								<li class="list-group-item" data-ng-class="{'list-group-item-danger': entity.responseInfo.type == 'exception'}" data-ng-if="entity.responseInfo.type == 'exception'">
									<div class="row">
										<div class="col-sm-3 font-bold text-right hidden-xs">Response message</div>
										<div class="col-sm-3 font-bold text-left visible-xs">Response message</div>
										<div class="col-sm-9" data-ng-bind-html="entity.responseInfo.message|defaultfield"></div>
									</div>
								</li>
								<li class="list-group-item list-group-item-info" data-ng-if="entity.loginInfo.length">
									<div class="row">
										<div class="col-sm-12 font-bold text-left"><strong>LOGIN INFO</strong></div>
									</div>
								</li>
								<li class="list-group-item" data-ng-repeat="(key,LIinfo) in entity.loginInfo">
									<div class="row">
										<div class="col-sm-3 font-bold text-right hidden-xs" data-ng-bind="key+'::'+LIinfo.type"></div>
										<div class="col-sm-3 font-bold text-left visible-xs" data-ng-bind="key+'::'+LIinfo.type"></div>
										<div class="col-sm-9" data-ng-bind-html="LIinfo.event_name|defaultfield"></div>
									</div>
								</li>
								<li class="list-group-item list-group-item-info" data-ng-if="entity.historics.length">
									<div class="row">
										<div class="col-sm-12 font-bold text-left"><strong>ENTITIES</strong></div>
									</div>
								</li>
								<li class="list-group-item" data-ng-repeat="(key,histo) in entity.historics">
									<div class="row">
										<div class="col-sm-3 font-bold text-right hidden-xs" data-ng-bind="key+'::entity'"></div>
										<div class="col-sm-3 font-bold text-left visible-xs" data-ng-bind="key+'::entity'"></div>
										<div class="col-sm-9" data-ng-bind-html="histo|json"></div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<hr>
					<p class="pull-left"><span class="text-muted" data-translate="Start log"></span> <span data-ng-bind-html="entity.created | dateformat : 'llll'"></span></p>
					<p class="pull-right"><span class="text-muted" data-translate="End log"></span> <span data-ng-bind-html="entity.ended | dateformat : 'llll'"></span></p>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal"><span data-translate="Fermer"></span></button>
			</div>
		</div>
	</div>
</div>
