<div class="modal inmodal fade" id="modal-localtext-show" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title text-center">
					<span data-ng-if="!loading" data-translate="{[{ 'entities.'+entity.shortname.toLowerCase()+'.actions.show'  }]}" data-translate-values="{name: entity.id}"></span>
					<small data-ng-if="loading"><i class="fa fa-circle-o-notch fa-spin"></i> <span data-translate="Loading"></span></small>
				</h2>
			</div>
			<div class="modal-body" style="background-color: #CBDBF0;">
				<!-- content -->
				<div class="full-height full-width text-center" data-ng-if="loading && !errorload">
					<i class="fa fa-circle-o-notch fa-4x fa-spin m-b-lg m-t-lg"></i>
				</div>
				<div class="full-height full-width text-center" data-ng-if="!loading && errorload">
					<i class="fa fa-exclamation-triangle fa-4x m-b-lg m-t-lg text-danger"></i>
				</div>
				<div data-ng-if="!loading && !errorload">
					<div data-tabs-localtext="entity"></div>
					<hr>
					<p class="pull-left"><span class="text-muted" data-translate="Création"></span> <span data-ng-bind-html="entity.created | dateformat : 'llll'"></span></p>
					<p class="pull-right"><span class="text-muted" data-translate="Modification"></span> <span data-ng-bind-html="entity.updated | dateformat : 'llll'"></span></p>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="dtAction('update', row)"><span data-translate="Modifier"></span></button>
				<button type="button" class="btn btn-default" data-dismiss="modal"><span data-translate="Fermer"></span></button>
			</div>
		</div>
	</div>
</div>
