<div class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" data-ng-class="modalSize" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h3 class="modal-title text-center" id="myModalLabel_id_{[{ viewMedia.id }]}">
					<strong data-ng-bind="viewName"></strong> <div data-ng-if="playable" class="btn btn-sx btn-white" style="cursor:pointer;" data-ng-click="toggleplay()"> <i class="fa fa-play fa-fw" data-ng-class="[{'fa-pause': playing}]"></i></div>
				</h3>
			</div>
			<div class="modal-body" style="padding: 6px;">
				<div data-ng-if="!loading && error" class="text-center" style="margin: 40px auto 70px; width: 100%;"><i class="fa fa-ban fa-fw fa-5x text-danger"></i></div>
				<div data-ng-if="loading && !error" class="text-center" style="margin: 40px auto 70px; width: 100%;"><i class="fa fa-refresh fa-spin fa-fw fa-5x text-muted"></i></div>
				<div data-ng-if="!loading && !error">
					<div data-print-media="viewMedia" data-print-shortname="viewMedia.shortname" data-print-width="viewWidth" data-print-type="viewType" data-print-play="true"></div>
					<div data-ng-if="viewDetails">
						<hr>
						<ul class="list-unstyled">
							<li><strong>File URL</strong> <span data-ng-bind="imageUrl"></span></li>
							<li data-ng-repeat="(field,data) in viewMedia"><strong data-ng-bind="field" class="text-info"></strong> <span data-ng-bind="data|json"></span></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- <div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
			</div> -->
		</div>
	</div>
</div>