<div class="modal inmodal fade" id="modal-language-show" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title text-center"><span data-translate="{[{ 'entities.'+entity.shortname.toLowerCase()+'.actions.show'  }]}" data-translate-values="{name: (entity.fullname)}"></span></h2>
			</div>
			<div class="modal-body" style="background-color: #CBDBF0;">
				<!-- content -->
				<div class="full-height full-width text-center" data-ng-if="loading && !errorload">
					<i class="fa fa-circle-o-notch fa-4x fa-spin m-b-lg m-t-lg"></i>
				</div>
				<div class="full-height full-width text-center" data-ng-if="!loading && errorload">
					<i class="fa fa-exclamation-triangle fa-4x m-b-lg m-t-lg text-danger"></i>
				</div>
				<div data-ng-if="!loading && !errorload">
					<div class="row">
						<div class="col-xs-3 col-sm-2">
							<img data-ng-if="!!entity.thumbnail.fileUrl" data-file-url="{[{ entity.thumbnail.fileUrl }]}" class="img img-responsive" alt="{[{ entity.slug }]}"></img>
							<i data-ng-if="!entity.thumbnail.fileUrl" class="fa {[{ entity.icon  }]} fa-fw fa-5x" data-ng-style="{color: entity.color}" alt="{[{ entity.slug }]}"></i>
						</div>
						<div class="col-xs-9 col-sm-10">
							<ul class="list-group">
								<li class="list-group-item" data-ng-repeat="(field,parameters) in columns">
									<div class="row">
										<div class="col-sm-3 font-bold text-right hidden-xs" data-translate="{[{ 'entities.'+entity.shortname.toLowerCase()+'.fields.'+field  }]}"></div>
										<div class="col-sm-3 font-bold text-left visible-xs" data-translate="{[{ 'entities.'+entity.shortname.toLowerCase()+'.fields.'+field  }]}"></div>
										<div class="col-sm-9" data-ng-if="(parameters.type|default:'text') == 'text'" data-ng-class='parameters.class' data-ng-bind-html="entity[field]|defaultfield"></div>
										<div class="col-sm-9" data-ng-if="parameters.type == 'color'" data-ng-class='parameters.class'>
											<span data-color-icon="entity[field]"></span>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<hr>
					<p class="pull-left"><span class="text-muted" data-translate="Création"></span> <span data-ng-bind-html="entity.created | dateformat : 'llll'"></span></p>
					<p class="pull-right"><span class="text-muted" data-translate="Modification"></span> <span data-ng-bind-html="entity.updated | dateformat : 'llll'"></span></p>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="dtAction('update', row)"><span data-translate="Modifier"></span></button>
				<button type="button" class="btn btn-default" data-dismiss="modal"><span data-translate="Fermer"></span></button>
			</div>
		</div>
	</div>
</div>
