<div class="modal inmodal fade" id="modal-user-show" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title text-center">
					<span data-ng-if="!loading"><span data-ng-bind-html="entity.icon"></span> <span data-translate="{[{ 'entities.'+entity.shortname.toLowerCase()+'.actions.show'  }]}" data-translate-values="{name: entity.username}"></span></span>
					<small data-ng-if="loading"><i class="fa fa-circle-o-notch fa-spin"></i> <span data-translate="Loading"></span></small>
				</h2>
			</div>
			<div class="modal-body" style="background-color: #CBDBF0;">
				<!-- content -->
				<div class="full-height full-width text-center" data-ng-if="loading && !errorload">
					<i class="fa fa-circle-o-notch fa-4x fa-spin m-b-lg m-t-lg"></i>
				</div>
				<div class="full-height full-width text-center" data-ng-if="!loading && errorload">
					<i class="fa fa-exclamation-triangle fa-4x m-b-lg m-t-lg text-danger"></i>
				</div>
				<div data-ng-if="!loading && !errorload">
					<div class="col-xs-4 col-sm-3 text-center">
						<img data-ng-if="!!entity.thumbnail.fileUrl" data-file-url="{[{ entity.thumbnail.fileUrl }]}" class="img img-responsive" alt="{[{ entity.slug }]}">
						<i data-ng-if="!entity.thumbnail.fileUrl" class="fa {[{ entity.icon  }]} fa-fw fa-5x" data-ng-style="{color: entity.color}" alt="{[{ entity.slug }]}"></i>
					</div>
					<div class="col-xs-8 col-sm-9">
						<ul class="list-group">
							<li class="list-group-item" data-ng-repeat="(field,parameters) in columns">
								<div data-field-show data-value="entity[field]" data-label="'entities.'+entity.shortname.toLowerCase()+'.fields.'+field" data-parameters="parameters"></div>
							</li>
						</ul>
					</div>
					<!-- <div class="ibox">
						<div class="ibox-title">
							<h5>Entity full data</h5>
							<div data-ibox-tools></div>
						</div>
						<div class="ibox-content">
							<div class="scroll_content" data-scroll-content>
								<pre data-ng-bind="entity|json"></pre>
							</div>
						</div>
					</div> -->

					<hr>
					<p class="pull-left"><span class="text-muted" data-translate="Création"></span> <span data-ng-bind-html="entity.created | dateformat : 'llll'"></span></p>
					<p class="pull-right"><span class="text-muted" data-translate="entities.user.fields.lastLogin"></span> <span data-ng-bind-html="entity.lastLogin | dateformat : 'llll'"></span></p>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="edit(entity.shortname, entity.id)"><span data-translate="Modifier"></span></button>
				<button type="button" class="btn btn-default" data-dismiss="modal"><span data-translate="Fermer"></span></button>
			</div>
		</div>
	</div>
</div>
