<div>
	<hr class="my-1 py-1">
	<!-- <p>Horaires : de '+moment($scope.agendaDay.start).format('h:mm')+' à '+moment($scope.agendaDay.end).format('h:mm')+'</p> -->
	<h2 data-ng-bind-html="agendaDay.parc.menutitle" class="font-weight-bolder"></h2>
	<!-- <a href="#" target="_blank" role="button" class="btn btn-sm btn-info"><i class="fa fa-file-pdf-o fa-fw"></i> PDF</a> -->
	<div data-ng-bind-html="agendaDay.parc.resume" class="text-left"></div>
	<div data-ng-repeat="(key, event) in agendaDay.eventdates.Animation">
		<hr class="my-1 py-1">
		<h2 data-ng-bind-html="event.event.menutitle" class="text-center font-weight-bold"></h2>
		<div data-ng-bind-html="event.event.resume" class="text-left"></div>
	</div>
</div>
