<div>
	<div data-ng-if="!!loading">
		<h3 class="text-center my-12"><i class="fa fa-refresh fa-spin fa-fw fa-3x"></i></h3>
	</div>
	<div data-ng-if="!loading">
		<h2 class="text-center font-weight-bold" data-ng-bind-html="entity.name"></h2>
		<hr class="my-1 py-1">
		<div data-ng-if="entity.fulltext.length" data-ng-bind-html="entity.fulltext"></div>
		<div data-ng-if="!entity.fulltext.length" data-ng-bind-html="entity.resume"></div>
		<div data-ng-if="environment === 'dev'" class="border my-8" data-ng-bind="entity|json"></div>
	</div>
</div>