<div>
	<div data-ng-if="!!loading">
		<h3 class="text-center my-12"><i class="fa fa-refresh fa-spin fa-fw fa-3x"></i></h3>
	</div>
	<div data-ng-if="!loading">
		<h2 class="text-center font-weight-bold" data-ng-if="entity.longname.length" data-ng-bind-html="entity.longname"></h2>
		<h2 class="text-center font-weight-bold" data-ng-if="!entity.longname.length" data-ng-bind-html="entity.name"></h2>
		<hr class="my-1 py-1">
		<div class="row">
			<div class="p-2 px-4 col-lg-12 text-left">
				<div data-ng-if="entity.fulltext.length" data-ng-bind-html="entity.fulltext"></div>
				<div data-ng-if="!entity.fulltext.length" data-ng-bind-html="entity.resume"></div>				
			</div>
		</div>
		<div data-ng-if="entity.active === true && operator.includes('openbillet')">
			<hr class="my-3 py-3">
			<div id="widget-produit-{[{ entity.opcode }]}"></div>
		</div>
		<div class="mt-4 p-4 bg-danger rounded" data-ng-if="sitedata.isDev()">
			<h3 class="text-center font-weight-bold text-white">DEV INFORMATIONS</h3>
			<div class="my-2 p-4 bg-light rounded text-left">
				<div data-ng-repeat="(key,data) in entity">
					<span class="font-weight-bold" data-ng-bind="key"></span> : <span data-ng-bind="data|json"></span>
				</div>
			</div>
			<div class="my-2 p-4 bg-light rounded">Operateurs : <span data-ng-bind="operator|json"></span></div>
		</div>
	</div>
</div>