{# FIXT@fixt_reference = 'banner_video.html.twig' #}
{# FIXT@__test_enabled = true #}
{# FIXT@name = "Diaporama video" #}
{# FIXT@owner = "@FIXT_REF=Entreprise@VETO_ALLIANCE" #}
{# FIXT@groups = ["@FIXT_REF=Group@VETO_ALLIANCE_PUBLIC"] #}
{# FIXT@bundle = 'WebsiteSiteBundle' #}
{# FIXT@templatename = 'star2' #}
{# FIXT@typepage = 'banner' #}
{% set slider_id = 'slider_01' %}
<style>.tp-caption.Hero-Button,.Hero-Button{color:rgba(255,255,255,1.00);font-size:14px;line-height:14px;font-weight:500;font-style:normal;font-family:Raleway;text-decoration:none;background-color:rgba(0,0,0,0);border-color:rgba(255,255,255,0.50);border-style:solid;border-width:1px;border-radius:0px 0px 0px 0px;letter-spacing:3px}.tp-caption.Hero-Button:hover,.Hero-Button:hover{color:rgba(0,0,0,1.00);text-decoration:none;background-color:rgba(255,255,255,1.00);border-color:rgba(255,255,255,1.00);border-style:solid;border-width:1px;border-radius:0px 0px 0px 0px;cursor:pointer}</style>
{% set youtb_id = 'nVd1au4qM80' %}
<div id="{{ slider_id }}_wrapper" class="rev_slider_auto rev_slider_wrapper fullwidthbanner-container" data-alias="grottes-du-cerdon-01" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.4.8.1 auto mode -->
	<div id="{{ slider_id }}" class="rev_slider fullwidthabanner tp-overflow-hidden" style="display:none;" data-version="5.4.8.1">
<ul>	<!-- SLIDE  -->
	<li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="2230"  data-thumb="http://img.youtube.com/vi/{{ youtb_id }}/maxresdefault.jpg"  data-delay="36000"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="{{ asset('bundles/websitesite/Generated_sliders/' ~ slider_id ~ '/assets/dummy.png') }}"  alt=""  data-lazyload="https://img.youtube.com/vi/{{ youtb_id }}/maxresdefault.jpg" data-bgposition="center center" data-bgfit="cover" data-bgparallax="off" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- BACKGROUND VIDEO LAYER -->
		<div class="rs-background-video-layer" 
			data-forcerewind="on" 
			data-volume="mute" 
			data-ytid="{{ youtb_id }}" 
			data-videoattributes="version=3&amp;enablejsapi=1&amp;html5=1&amp;hd=1&amp;wmode=opaque&amp;showinfo=0&amp;rel=0;;origin=http://localhost;" 
			data-videorate="1" 
			data-videowidth="100%" 
			data-videoheight="100%" 
			data-videocontrols="none" 
			data-videoloop="loop" 
			data-forceCover="1" 
			data-aspectratio="4:3" 
			data-autoplay="true" 
			data-autoplayonlyfirsttime="false" 
></div>
		<!-- LAYER NR. 1 -->
		<div class="tp-caption Hero-Button rev-btn " 
			 id="slide-1-layer-1" 
			 data-x="center" data-hoffset="" 
			 data-y="15" 
						data-width="['216']"
			data-height="['42']"
 
			data-type="button" 
			data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"cat\/tarifs-et-horaires\/horaires-et-agenda-complet","delay":""}]'
			data-responsive_offset="on" 
			data-responsive="off"
			data-frames='[{"delay":1400,"speed":1000,"frame":"0","from":"x:left;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"rZ:0deg;sX:0.7;sY:0.7;opacity:0;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Back.easeIn"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(69,122,42);bc:rgb(255,255,255);bw:1 1 1 1;"}]'
			data-textAlign="['center','center','center','center']"
			data-paddingtop="[10,10,10,10]"
			data-paddingright="[30,30,30,30]"
			data-paddingbottom="[10,10,10,10]"
			data-paddingleft="[30,30,30,30]"

			style="z-index: 5; min-width: 216px; max-width: 216px; max-width: 42px; max-width: 42px; white-space: nowrap; font-weight: 700; color: #ffffff; letter-spacing: ;font-family:Ubuntu;text-transform:uppercase;border-color:rgba(255,255,255,0.50);border-width:1px 1px 1px 1px;border-radius:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
<div class="rs-looped rs-pulse"  data-easing="easeInOutBounce" data-speed="0.4" data-zoomstart="1" data-zoomend="0.9">Horaires</div></div>
	</li>
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
</div><!-- END REVOLUTION SLIDER -->
