{# FIXT@fixt_reference = 'banner_02.html.twig' #}
{# FIXT@__test_enabled = true #}
{# FIXT@name = "Diaporama accueil v2" #}
{# FIXT@owner = "@FIXT_REF=Entreprise@VETO_ALLIANCE" #}
{# FIXT@groups = ["@FIXT_REF=Group@VETO_ALLIANCE_PUBLIC"] #}
{# FIXT@bundle = 'WebsiteSiteBundle' #}
{# FIXT@templatename = 'star2' #}
{# FIXT@typepage = 'banner' #}
{# FIXT@defaultjoin = false #}
{% set slider_id = 'slider_02' %}
{% set rev_slider_auto = 'rev_slider_auto' %}

<div id="{{ slider_id }}_wrapper" class="{{ rev_slider_auto }} rev_slider_wrapper fullwidthbanner-container" data-alias="grottes-cerdon-02" data-source="gallery" style="margin:0px auto;background:#aaa838;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.4.8.1 fullwidth mode -->
	<div id="{{ slider_id }}" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.8.1">
<ul>	<!-- SLIDE  -->
	<li data-index="rs-2" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="-190"  data-delay="5900"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="{{ asset('bundles/websitesite/Generated_sliders/' ~ slider_id ~ '/assets/a9883-porche.jpg') }}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-2-layer-3" 
			 data-x="center" data-hoffset="" 
			 data-y="100" 
						data-width="['550']"
			data-height="['auto']"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":840,"speed":1200,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"+3280","speed":540,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 5; min-width: 550px; max-width: 550px; white-space: normal; font-size: 40px; line-height: 45px; font-weight: 500; color: #ffffff; letter-spacing: 0px;font-family:Ubuntu;">VISITE DES GROTTES ET&nbsp;PARC DE&nbsp;LOISIRS PRÉHISTORIQUES </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-2-layer-5" 
			 data-x="-80" 
			 data-y="" 
						data-width="['none','none','none','none']"
			data-height="['none','none','none','none']"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":10,"speed":300,"frame":"0","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 6;"><img src="{{ asset('bundles/websitesite/Generated_sliders/' ~ slider_id ~ '/assets/d6f48-b12a0-homme2.png') }}" alt="" data-ww="447px" data-hh="500px" data-no-retina> </div>
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-4" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="-190"  data-delay="5010"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="{{ asset('bundles/websitesite/Generated_sliders/' ~ slider_id ~ '/assets/bb734-bandeau_coupe.jpg') }}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 3 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-4-layer-3" 
			 data-x="center" data-hoffset="" 
			 data-y="90" 
						data-width="['613']"
			data-height="['300']"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":840,"speed":2000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 5; min-width: 613px; max-width: 613px; max-width: 300px; max-width: 300px; white-space: normal; font-size: 50px; line-height: 55px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:Ubuntu;font-style:italic;">Entrez dans l'aventure&nbsp;! </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-4-layer-5" 
			 data-x="-80" 
			 data-y="" 
						data-width="['none','none','none','none']"
			data-height="['none','none','none','none']"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 6;"><img src="{{ asset('bundles/websitesite/Generated_sliders/' ~ slider_id ~ '/assets/d6f48-b12a0-homme2.png') }}" alt="" data-ww="447px" data-hh="500px" data-no-retina> </div>
	</li>
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
</div><!-- END REVOLUTION SLIDER -->