{# FIXT@fixt_reference = 'banner_03.html.twig' #}
{# FIXT@__test_enabled = true #}
{# FIXT@name = "Diaporama accueil v3" #}
{# FIXT@owner = "@FIXT_REF=Entreprise@VETO_ALLIANCE" #}
{# FIXT@groups = ["@FIXT_REF=Group@VETO_ALLIANCE_PUBLIC"] #}
{# FIXT@bundle = 'WebsiteSiteBundle' #}
{# FIXT@templatename = 'star2' #}
{# FIXT@typepage = 'banner' #}
{# FIXT@defaultjoin = false #}



{# {% set slides = {
	'slide1': {img: '/assets/Bandeau_accueil_3402x1134px_01.png', hommep: '/assets/HommeP_447x500px_2.png'},
	'slide2': {img: '/assets/Bandeau_accueil_3402x1134px_05.png', hommep: null},
	'slide3': {img: '/assets/Bandeau_accueil_1200x352px_04.png', hommep: null},
	'slide4': {img: '/assets/Bandeau_accueil_3402x1134px_02.png', hommep: '/assets/HommeP_447x500px.png'},
	'slide5': {img: '/assets/Bandeau_accueil_3402x1134px_03.png', hommep: null},
	'slide6': {img: '/assets/Bandeau_accueil_3402x1134px_03b.png', hommep: null},
} %} #}
{% set slides = {
	'slide3': {img: '/assets/bandeau3.jpg', hommep: null},
	'slide1': {img: '/assets/bandeau1.jpg', hommep: null},
	'slide6': {img: '/assets/bandeau2.jpg', hommep: null},
} %}
{% set slider_id = 'slider_03' %}
{% set rev_slider_auto = 'rev_slider_auto' %}

<div id="{{ slider_id }}_wrapper" class="{{ rev_slider_auto }} rev_slider_wrapper fullwidthbanner-container" data-alias="grottes-du-cerdon-03" data-source="gallery" style="margin:0px auto;background:#dee2e6;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.4.8.1 fullwidth mode -->
	<div id="{{ slider_id }}" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.8.1">
		<ul>
			{% for slideId,Aslide in slides %}

			{% if slideId == 'slide1' %}
			<!-- SLIDE {{ slideId }}  -->
			<li data-index="rs-{{ slideId }}" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="-190"  data-delay="5900"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
				<!-- MAIN IMAGE -->
				<img src="{{ asset('bundles/websitesite/Generated_sliders/' ~ slider_id ~ Aslide.img) }}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
				<!-- LAYERS -->
				<!-- LAYER NR. 1 -->
				<div class="tp-caption tp-resizeme" 
					id="slide-{{ slideId }}-layer-1" 
					data-x="center"
					data-hoffset="" 
					data-y="320" 
					data-width="['900']"
					data-height="['auto']"
					data-type="text" 
					data-responsive_offset="on" 
					data-frames='[{"delay":840,"speed":1200,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"+3280","speed":540,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
					data-textAlign="['right','right','right','right']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"
					style="z-index: 1; min-width: 550px; max-width: 550px; white-space: normal; font-size: 50px; line-height: 55px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:Ubuntu; font-style:italic;"
				>
					se rassembler pour mieux affronter les défis de l'avenir
					{# VISITE DES GROTTES &amp;&nbsp;PARC DE&nbsp;LOISIRS PRÉHISTORIQUES #}
				</div>
				<!-- LAYER NR. 2 -->
				{% if Aslide.hommep is not null %}
				<div class="tp-caption tp-resizeme" 
					id="slide-{{ slideId }}-layer-2" 
					data-x="-100" 
					data-y="" 
					data-width="['none','none','none','none']"
					data-height="['none','none','none','none']"
					data-type="image" 
					data-responsive_offset="on" 
					{# data-frames='[{"delay":1000,"speed":1000,"frame":"0","to":"o:1;","ease":"Power3.fadeInOut"},{"delay":"1000","speed":1000,"frame":"999","ease":"Power3.fadeInOut"}]' #}
					data-frames='[{"delay":140,"speed":1200,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"+3800","speed":540,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
					data-textAlign="['inherit','inherit','inherit','inherit']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"
					style="z-index: 2;"
				>
					<img src="{{ asset('bundles/websitesite/Generated_sliders/' ~ slider_id ~ Aslide.hommep) }}" alt="" data-ww="447px" data-hh="500px" data-no-retina>
				</div>
				{% endif %}
			</li>
			{% endif %}

			{% if slideId == 'slide2' %}
			<!-- SLIDE {{ slideId }}  -->
			<li data-index="rs-{{ slideId }}" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="-190"  data-delay="5010"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
				<!-- MAIN IMAGE -->
				<img src="{{ asset('bundles/websitesite/Generated_sliders/' ~ slider_id ~ Aslide.img) }}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
				<!-- LAYERS -->
				<!-- LAYER NR. 1 -->
				<div class="tp-caption tp-resizeme" 
					id="slide-{{ slideId }}-layer-1" 
					data-x="center"
					data-hoffset="" 
					data-y="center" 
					data-width="['900']"
					data-height="['auto']"
					data-type="text" 
					data-responsive_offset="on" 
					data-frames='[{"delay":840,"speed":2000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
					data-textAlign="['inherit','inherit','inherit','inherit']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"
					style="z-index: 1; min-width: 613px; max-width: 613px; max-width: 300px; max-width: 300px; white-space: normal; font-size: 50px; line-height: 55px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:Ubuntu;font-style:italic;"
				>
					se rassembler pour mieux affronter les défis de l'avenir
				</div>
			</li>
			{% endif %}

			{% if slideId == 'slide3' %}
			<!-- SLIDE {{ slideId }}  -->
			<li data-index="rs-{{ slideId }}" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="-190"  data-delay="5010"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
				<!-- MAIN IMAGE -->
				<img src="{{ asset('bundles/websitesite/Generated_sliders/' ~ slider_id ~ Aslide.img) }}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
				<!-- LAYERS -->
				<!-- LAYER NR. 1 -->
				<div class="tp-caption tp-resizeme" 
					id="slide-{{ slideId }}-layer-1" 
					data-x="center"
					data-hoffset="" 
					data-y="280" 
					data-width="['900']"
					data-height="['320']"
					data-type="text" 
					data-responsive_offset="on" 
					data-frames='[{"delay":840,"speed":2000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
					data-textAlign="['center','center','center','center']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"
					style="z-index: 1; min-width: 613px; max-width: 613px; max-width: 300px; max-width: 300px; white-space: normal; font-size: 50px; line-height: 55px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:Ubuntu;font-style:italic;"
				>
					un groupement d'intérêt économique de vétérinaires des régions Normandie et Picardie
				</div>
			</li>
			{% endif %}

			{% if slideId == 'slide4' %}
			<!-- SLIDE {{ slideId }}  -->
			<li data-index="rs-{{ slideId }}" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="-190"  data-delay="5900"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
				<!-- MAIN IMAGE -->
				<img src="{{ asset('bundles/websitesite/Generated_sliders/' ~ slider_id ~ Aslide.img) }}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
				<!-- LAYERS -->
				<!-- LAYER NR. 1 -->
				<div class="tp-caption tp-resizeme" 
					id="slide-{{ slideId }}-layer-1" 
					data-x="center"
					data-hoffset="" 
					data-y="120" 
					data-width="['550']"
					data-height="['auto']"
					data-type="text" 
					data-responsive_offset="on" 
					data-frames='[{"delay":840,"speed":1200,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"+3280","speed":540,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
					data-textAlign="['inherit','inherit','inherit','inherit']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"
					style="z-index: 1; min-width: 550px; max-width: 550px; white-space: normal; font-size: 40px; line-height: 45px; font-weight: 500; color: #ffffff; letter-spacing: 0px;font-family:Ubuntu;"
				>
					se rassembler pour mieux affronter les défis de l'avenir
				</div>
				<!-- LAYER NR. 2 -->
				{% if Aslide.hommep is not null %}
				<div class="tp-caption tp-resizeme" 
					id="slide-{{ slideId }}-layer-2" 
					data-x="-100" 
					data-y="" 
					data-width="['none','none','none','none']"
					data-height="['none','none','none','none']"
					data-type="image" 
					data-responsive_offset="on" 
					data-frames='[{"delay":10,"speed":300,"frame":"0","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","ease":"Power3.easeInOut"}]'
					data-textAlign="['inherit','inherit','inherit','inherit']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"
					style="z-index: 2;"
				>
					<img src="{{ asset('bundles/websitesite/Generated_sliders/' ~ slider_id ~ Aslide.hommep) }}" alt="" data-ww="447px" data-hh="500px" data-no-retina>
				</div>
				{% endif %}
			</li>
			{% endif %}

			{% if slideId == 'slide5' %}
			<!-- SLIDE {{ slideId }}  -->
			<li data-index="rs-{{ slideId }}" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="-190"  data-delay="5010"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
				<!-- MAIN IMAGE -->
				<img src="{{ asset('bundles/websitesite/Generated_sliders/' ~ slider_id ~ Aslide.img) }}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
				<!-- LAYERS -->
				<!-- LAYER NR. 1 -->
				<div class="tp-caption tp-resizeme" 
					id="slide-{{ slideId }}-layer-1" 
					data-x="center"
					data-hoffset="" 
					data-y="90" 
					data-width="['613']"
					data-height="['300']"
					data-type="text" 
					data-responsive_offset="on" 
					data-frames='[{"delay":840,"speed":2000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
					data-textAlign="['inherit','inherit','inherit','inherit']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"
					style="z-index: 1; min-width: 613px; max-width: 613px; max-width: 300px; max-width: 300px; white-space: normal; font-size: 50px; line-height: 55px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:Ubuntu;font-style:italic;"
				>
					un groupement d'intérêt économique de vétérinaires des régions Normandie et Picardie
				</div>
			</li>
			{% endif %}

			{% if slideId == 'slide6' %}
			<!-- SLIDE {{ slideId }}  -->
			<li data-index="rs-{{ slideId }}" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="-190"  data-delay="5010"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
				<!-- MAIN IMAGE -->
				<img src="{{ asset('bundles/websitesite/Generated_sliders/' ~ slider_id ~ Aslide.img) }}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
				<!-- LAYERS -->
				<!-- LAYER NR. 1 -->
				<div class="tp-caption tp-resizeme" 
					id="slide-{{ slideId }}-layer-1" 
					data-x="10"
					data-hoffset="" 
					data-y="90" 
					data-width="['613']"
					data-height="['auto']"
					data-type="text" 
					data-responsive_offset="on" 
					data-frames='[{"delay":840,"speed":2000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
					data-textAlign="['inherit','inherit','inherit','inherit']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"
					style="z-index: 1; min-width: 613px; max-width: 613px; max-width: 300px; max-width: 300px; white-space: normal; font-size: 50px; line-height: 55px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:Ubuntu;font-style:italic;"
				>
					Les cliniques et cabinets du groupement VetoAlliance offre un espace agréable riche en services à tous ses adhérents
				</div>
			</li>
			{% endif %}

			{% endfor %}
		</ul>
		<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
	</div>
</div>
<!-- END REVOLUTION SLIDER -->