{# FIXT@fixt_reference = 'banner_01.html.twig' #}
{# FIXT@__test_enabled = true #}
{# FIXT@name = "Diaporama accueil" #}
{# FIXT@owner = "@FIXT_REF=Entreprise@VETO_ALLIANCE" #}
{# FIXT@groups = ["@FIXT_REF=Group@VETO_ALLIANCE_PUBLIC"] #}
{# FIXT@bundle = 'WebsiteSiteBundle' #}
{# FIXT@templatename = 'star2' #}
{# FIXT@typepage = 'banner' #}
{# FIXT@defaultjoin = false #}
{# {% set images = ['bundles/websitesite/images/diapo_intro/ivan_1.jpg','bundles/websitesite/images/diapo_intro/ivan_2.jpg'] %} #}
{% set images = ['bundles/websitesite/Diapos/1280x480-v3.jpg'] %}
{# {% set img = request_data('Image', 'findOneBySlug', 'nocturnes-aux-grottes-4') %} #}
{# {% if img|isObject %}{% set images = images|merge([img]) %}{% endif %} #}
{% if images|length %}
<div id="rev_slider_12_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="star-test"
	data-source="gallery"
	style="margin:0px auto;background:rgba(0,0,0,0.15);padding:0px;margin-top:0px;margin-bottom:0px;background-repeat:no-repeat;background-size:cover;background-position:center center;">
	<!-- START REVOLUTION SLIDER 5.4.8.1 fullwidth mode -->
	<div id="rev_slider_12_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.8.1">
		<ul>
			{% for image in images %}
			<!-- SLIDE {{ loop.index }}  -->
			<li data-index="rs-{{ loop.index0 + 33 }}" data-transition="slideoverdown" data-slotamount="default" data-hideafterloop="0"
				data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default"
				data-thumb="{{ asset( image|isString ? image : fileurl(image,'optimized',1440) ) }}" data-delay="6000" data-rotate="0" data-saveperformance="off"
				data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
				data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
				<!-- MAIN IMAGE -->
				<img src="{{ asset( image|isString ? image : fileurl(image,'optimized',1440) ) }}" alt="" data-bgposition="center center" data-bgfit="cover"
					data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina style="width: 100% !important">
				<!-- LAYERS -->

				<!-- LAYER NR. {{ loop.index }}-1 -->
				<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-{{ loop.index0 + 33 }}-layer-22"
					data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
					data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="wrap"
					data-type="shape" data-basealign="slide" data-responsive_offset="on"
					data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"}]'
					data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
					style="z-index: 5;background-color:rgba(0,0,0,0.15);"> </div>

				<!-- LAYER NR. {{ loop.index }}-2 -->
				<div class="tp-caption   tp-resizeme" id="slide-{{ loop.index0 + 33 }}-layer-6" data-x="['left','left','left','left']"
					data-hoffset="['0','100','50','70']" data-y="['middle','middle','middle','middle']"
					data-voffset="['-100','-100','-100','-100']" data-fontsize="['30','30','22','20']" data-width="none"
					data-height="none" data-whitespace="wrap" data-type="text" data-responsive_offset="on"
					data-frames='[{"delay":650,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"}]'
					data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
					style="z-index: 6; white-space: wrap; font-size: 30px; line-height: 35px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Ubuntu;text-transform:uppercase;">
					{{ site_context.Entreprise.subtitle|default('')|raw }} </div>

				<!-- LAYER NR. {{ loop.index }}-3 -->
				<div class="tp-caption   tp-resizeme" id="slide-{{ loop.index0 + 33 }}-layer-7" data-x="['left','left','left','left']"
					data-hoffset="['0','100','50','70']" data-y="['middle','middle','middle','middle']"
					data-voffset="['-40','-40','-55','-50']" data-fontsize="['65','65','40','30']" data-width="none"
					data-height="none" data-whitespace="wrap" data-type="text" data-responsive_offset="on"
					data-frames='[{"delay":650,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"}]'
					data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
					style="z-index: 7; white-space: wrap; font-size: 65px; line-height: 70px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:ubuntu;text-transform:uppercase;">
					{{ site_context.Entreprise.accroche|default('')|raw }} </div>

				<!-- LAYER NR. {{ loop.index }}-4 -->
				<div class="tp-caption   tp-resizeme" id="slide-{{ loop.index0 + 33 }}-layer-10" data-x="['left','left','left','center']"
					data-hoffset="['0','100','50','0']" data-y="['middle','middle','middle','middle']"
					data-voffset="['35','30','10','29']" data-fontsize="['14','14','13','14']" data-width="none"
					data-height="none" data-whitespace="wrap" data-visibility="['on','on','on','off']" data-type="text"
					data-responsive_offset="on"
					data-frames='[{"delay":1050,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"}]'
					data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
					style="z-index: 8; white-space: wrap; font-size: 14px; line-height: 21px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:ubuntu;">
					{{ 'AccrocheDiapo'|trans()|raw }} </div>

				<!-- LAYER NR. {{ loop.index }}-5 -->
				<a href="cat/tarifs-et-horaires/billetterie-des-grottes" class="tp-caption rev-btn" id="slide-{{ loop.index0 + 33 }}-layer-11" data-x="['left','left','left','left']"
					data-hoffset="['0','100','50','70']" data-y="['middle','middle','middle','middle']"
					data-voffset="['120','120','100','30']" data-width="132" data-height="none" data-whitespace="wrap"
					data-type="button" data-responsive_offset="on" data-responsive="on"
					data-frames='[{"delay":1450,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"}]'
					data-textAlign="['center','center','center','center']" data-paddingtop="[14,14,14,14]"
					data-paddingright="[0,0,0,0]" data-paddingbottom="[14,14,14,14]" data-paddingleft="[0,0,0,0]"
					style="z-index: 9; min-width: 132px; max-width: 132px; white-space: nowrap; font-size: 14px; line-height: 17px; font-weight: 500; color: #ffffff; letter-spacing: 0;font-family:Ubuntu;text-transform:uppercase;background-color:#5db003;border-radius:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
					Tarifs </a>
				<!-- LAYER NR. {{ loop.index }}-5 -->
				<a href="cat/tarifs-et-horaires/horaires-et-agenda-complet" class="tp-caption rev-btn btn-warning" id="slide-{{ loop.index0 + 33 }}-layer-12" data-x="['left','left','left','left']"
					data-hoffset="['160','100','50','70']" data-y="['middle','middle','middle','middle']"
					data-voffset="['120','120','100','30']" data-width="132" data-height="none" data-whitespace="wrap"
					data-type="button" data-responsive_offset="on" data-responsive="on"
					data-frames='[{"delay":1450,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"}]'
					data-textAlign="['center','center','center','center']" data-paddingtop="[14,14,14,14]"
					data-paddingright="[0,0,0,0]" data-paddingbottom="[14,14,14,14]" data-paddingleft="[0,0,0,0]"
					style="z-index: 9; min-width: 132px; max-width: 132px; white-space: nowrap; font-size: 14px; line-height: 17px; font-weight: 500; color: #ffffff; letter-spacing: 0;font-family:Ubuntu;text-transform:uppercase;background-color:#5db003;border-radius:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
					Horaires </a>
			</li>
			{% endfor %}
		</ul>
		<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
	</div>
</div>
{% endif %}