{# FIXT@fixt_reference = 'footer_01.html.twig' #}
{# FIXT@__test_enabled = true #}
{# FIXT@name = "Pied de page bleu" #}
{# FIXT@owner = "@FIXT_REF=Entreprise@VETO_ALLIANCE" #}
{# FIXT@groups = ["@FIXT_REF=Group@VETO_ALLIANCE_PUBLIC"] #}
{# FIXT@bundle = 'WebsiteSiteBundle' #}
{# FIXT@templatename = 'star2' #}
{# FIXT@typepage = 'footer' #}
<footer class="footer">
	<div class="bg-success py-4">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-4 mb-7 mb-lg-0">
					<a class="d-inline-block" href="{{ path('website_site_homepage') }}" title="{{ site_context.Entreprise.name|default('') }}">
						{% if site_context.Entreprise.avatar|default(null) is not null %}
						<img class="w-100 mb-6" src="{{ asset(fileurl(site_context.Entreprise.avatar, 'original')) }}" alt="{{ site_context.Entreprise.slug|default('') }}">
						{% endif %}
					</a>
					<p class="mb-0 text-white">{{ site_context.Entreprise.description|default('')|raw }}</p>
				</div>
				<div class="col-md-6 col-lg-4 mt-md-4 mb-7 mb-lg-0">
					<div class="title-tag text-white">
						<h6>{{ 'Informations'|trans }}</h6>
					</div>
					<ul class="list-unstyled mb-0">
						<li class="media mb-2">
							<div class="mr-3"><i class="fa fa-home text-white" aria-hidden="true"></i></div>
							<div class="media-body text-white"><a class="text-white" href="{{ site_context.Entreprise.elocation|default('')|googlemappize }}" target="_blank">{{ site_context.Entreprise.elocation|default('') }}</a></div>
						</li>
						<li class="media mb-2">
							<div class="mr-3"><i class="fa fa-phone text-white" aria-hidden="true"></i></div>
							<div class="media-body text-white"><a class="text-white" href="tel:{{ site_context.Entreprise.telephon|default('') }}">{{ site_context.Entreprise.telephon|default('') }}</a></div>
						</li>
						<li class="media">
							<div class="mr-3"><i class="fa fa-envelope-o text-white" aria-hidden="true"></i></div>
							<div class="media-body text-white"><a class="text-white" href="mailto:{{ site_context.Entreprise.email|default('') }}">{{ site_context.Entreprise.email|default('') }}</a></div>
						</li>
					</ul>
				</div>
				<div class="col-md-6 col-lg-4 mt-lg-4">
					<div class="title-tag text-white">
						<h6>{{ 'Newsletter'|trans }}</h6>
					</div>
					<p class="text-white">{{ 'Abonnez-vous à la newsletter'|trans }} {{ site_context.Entreprise.title|default('') }}</p>
					<form class="mb-6" action="{{ path('website_site_subscribe_newsletter') }}" method="post">
						<div class="input-group input-group-sm">
							<input name="email" type="email" class="form-control form-control-sm form-transparent text-white" required="" placeholder="{{ 'Votre adresse Email'|trans }}">
							<div class="input-group-append">
								<button class="input-group-text border-0 btn btn-append hover-bg-primary" type="submit"><i class="fa fa-long-arrow-right text-white woc" aria-hidden="true"></i></button>
							</div>
						</div>
					</form>
					<ul class="list-inline d-flex mb-0">
						{% for reseau in site_context.Entreprise.reseausocials|default([]) if reseau.active %}
						<li class="mr-3 mr-lg-2 mr-xl-3 text-white"><a class="icon-default icon-border rounded-circle hover-bg-primary text-white" href="{{ reseau.url }}" target="_blank">{{ reseau.iconHtml(false, 'text-white')|raw }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright py-6" style="background-color: #3f7900 !important;">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6 order-1 order-md-0">
					<p class="mb-0 mb-md-0 text-md-left text-white">
						<span data-angular-ready>
							<i class="fa fa-circle fa-fw text-danger"></i>
						</span> Copyright © {{ currentYear() }} {{ 'Tous droits réservés pour'|trans }} <a href="{{ url('website_site_homepage') }}" target="_blank">{{ site_context.Entreprise.title|default('') }}</a>
					</p>
				</div>
				<div class="col-md-6">
					<ul class="list-inline text-capitalize d-flex align-items-center justify-content-md-end justify-content-center mb-md-0">
						<li class="mr-3 text-white"><a class="text-white" href="{{ url('website_pageweb_by_cat', {cat1: 'informations-juridiques'}) }}">{{ 'CGU site web'|trans }}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>