<header class="header" id="pageTop">
	<!-- Menu Zord -->
	<nav class="nav-menuzord navbar-sticky">
		<div class="container clearfix">
			<div id="menuzord" class="menuzord">
				{# <a href="{{ is_granted('ROLE_TRANSLATOR') ? path('website_admin_homepage') : path('website_site_homepage') }}" class="menuzord-brand"> #}
				<a href="{{ path('website_site_homepage') }}" class="menuzord-brand">
					{% if site_context.Entreprise.avatar|default(null) is not null %}
					<img src="{{ asset(fileurl(site_context.Entreprise.avatar, 'original')) }}" alt="{{ site_context.Entreprise.slug|default('') }}" style="width: 203px;">
					{% endif %}
				</a>
				
				<ul class="menuzord-menu menuzord-right">

					<li class="active">
						<a class="" href="#">Grottes &amp; Parc</a>
						<div class="megamenu drop-up">
							<div class="megamenu-row">
								<div class="col3">
									<ul class="list-unstyled">
										<li>Les Grottes</li>
										<li class=""><a href="{{ path('website_pageweb_by_cat', {cat1: 'grottes-et-parc', cat2: 'les-grottes', cat3: 'visite-des-grottes'}) }}">La visite guidée</a></li>
										<li class=""><a href="#">La visite en autonomie</a></li>
										<li class=""><a href="#">Télécharger l'application mobile</a></li>
										<li class=""><a href="#">Histoire des Grottes</a></li>
										<li class=""><a href="#">Questions</a></li>
										<li class=""><a href="#">Tarifs</a></li>
										<li class=""><a href="#">Horaires</a></li>
									</ul>
								</div>
								<div class="col3">
									<ul class="list-unstyled">
										<li>Animations</li>
										<li class=""><a href="#">Toutes les animations</a></li>
										<li class=""><a href="#">Questions</a></li>
										<li class=""><a href="#">Tarifs</a></li>
										<li class=""><a href="#">Horaires</a></li>
									</ul>
								</div>
								<div class="col3">
									<ul class="list-unstyled">
										<li>Secret du monolithe</li>
										<li class=""><a href="#">Le jeu</a></li>
										<li class=""><a href="#">Questions</a></li>
										<li class=""><a href="#">Tarifs</a></li>
										<li class=""><a href="#">Horaires</a></li>
									</ul>
								</div>
								<div class="col3">
									<ul class="list-unstyled">
										<li>Ark'Aïk Battle</li>
										<li class=""><a href="#">Le jeu</a></li>
										<li class=""><a href="#">Questions</a></li>
										<li class=""><a href="#">Tarifs</a></li>
										<li class=""><a href="#">Horaires</a></li>
									</ul>
								</div>
							</div>
						</div>
					</li>

					<li class="">
						<a href="#">Événements</a>
						<div class="megamenu drop-up">
							<div class="megamenu-row">
								<div class="col4">
									<ul class="list-unstyled">
										<li>Prochains événements</li>
										<li class=""><a href="#">Fear the Cave</a></li>
										<li class=""><a href="#">Événement 1</a></li>
										<li class=""><a href="#">Événement 2</a></li>
										<li class=""><a href="#">Événement 3</a></li>
										<li class=""><a href="#">Voir tous les événements...</a></li>
									</ul>
								</div>
								<div class="col4">
									<ul class="list-unstyled">
										<li>Événements 2019</li>
										<li class=""><a href="#">Événement 1</a></li>
										<li class=""><a href="#">Événement 2</a></li>
										<li class=""><a href="#">Événement 3</a></li>
										<li class=""><a href="#">Voir tous les événements...</a></li>
									</ul>
								</div>
								<div class="col4">
									<ul class="list-unstyled">
										<li>Événements antérieurs</li>
										<li class=""><a href="#">Événement 1</a></li>
										<li class=""><a href="#">Événement 2</a></li>
										<li class=""><a href="#">Événement 3</a></li>
										<li class=""><a href="#">Voir tous les événements...</a></li>
									</ul>
								</div>
							</div>
						</div>
					</li>

					<li class="">
						<a href="#">Tarifs &amp; horaires</a>
						<div class="megamenu drop-up">
							<div class="megamenu-row">
								<div class="col4">
									<ul class="list-unstyled">
										<li>Tarifs</li>
										{# <li>Visites Guidées</li> #}
										<li class=""><a href="{{ path('website_pageweb_by_cat', {cat1: 'tarifs-et-horaires', cat2: 'tarifs', cat3: 'tarifs', option: 'visite'}) }}">Visite des Grottes (Guidée ou en autonomie)</a></li>
										<li class=""><a href="{{ path('website_pageweb_by_cat', {cat1: 'tarifs-et-horaires', cat2: 'tarifs', cat3: 'tarifs', option: 'parc'}) }}">Visite des Grottes &amp; Parc de Loisirs Préhistoriques</a></li>
										<li class=""><a href="{{ path('website_pageweb_by_cat', {cat1: 'tarifs-et-horaires', cat2: 'tarifs', cat3: 'tarifs', option: 'monolithe'}) }}">Le Secret du Monolithe</a></li>
										<li class=""><a href="{{ path('website_pageweb_by_cat', {cat1: 'tarifs-et-horaires', cat2: 'tarifs', cat3: 'tarifs', option: 'arkaikbattle'}) }}">Arc'Aïk Battle</a></li>
										<li class=""><a href="{{ path('website_pageweb_by_cat', {cat1: 'tarifs-et-horaires', cat2: 'tarifs', cat3: 'tarifs', option: 'cadeaux'}) }}">Bon cadeau</a></li>
										{# <li>Offrez les Grottes en cadeau</li> #}
									</ul>
								</div>
								<div class="col4">
									<ul class="list-unstyled">
										<li>Horaires</li>
										{# <li>Visites Guidées</li> #}
										<li class=""><a href="#">Agenda complet</a></li>
										<li class=""><a href="#">Agenda du Parc</a></li>
										<li class=""><a href="#">Agenda des jeux</a></li>
										<li class=""><a href="#">Agenda du jeu Ark'Aïk Battle</a></li>
									</ul>
								</div>
								<div class="col4">
									<ul class="list-unstyled">
										<li>Et aussi...</li>
										<li class=""><a href="#">Demain aux Grottes</a></li>
										<li class=""><a href="#">Ce week-end aux Grottes</a></li>
										<li class=""><a href="#">Basse saison</a></li>
										<li class=""><a href="#">Moyenne saison</a></li>
										<li class=""><a href="#">Haute saison</a></li>
									</ul>
								</div>
							</div>
						</div>
					</li>

					{# <li class=""><a href="components.html">Horaires</a></li> #}

					<li class="">
						<a href="#">Groupes</a>
						<ul class="dropdown drop-up">
							<li class=""><a href="#">Familles et groupes</a></li>
							<li class=""><a href="#">Groupes scolaires</a></li>
							<li class=""><a href="#">Centres de loisirs</a></li>
							<li class=""><a href="#">Incentive Entreprises</a></li>
							<li class=""><a href="#">Anniversaires</a></li>
						</ul>
					</li>

					<li class="">
						<a href="#">Infos</a>
						<div class="megamenu drop-up">
							<div class="megamenu-row">
								<div class="col4">
									<ul class="list-unstyled">
										<li>Services</li>
										<li class=""><a href="#">La boutique des Grottes</a></li>
										<li class=""><a href="#">Le snack</a></li>
										<li class=""><a href="#">Espace pique-nique</a></li>
										<li class=""><a href="#">Offres pour les groupes</a></li>
									</ul>
								</div>
								<div class="col4">
									<ul class="list-unstyled">
										<li>Pratiques</li>
										<li class=""><a href="#">Accès aux Grottes</a></li>
										<li class=""><a href="#">Informations pratiques</a></li>
										<li class=""><a href="#">Prolongez votre séjour</a></li>
									</ul>
								</div>
								<div class="col4">
									<ul class="list-unstyled">
										<li>Réseaux sociaux</li>
										{% for reseau in site_context.Entreprise.reseausocials|default([]) %}
										<li class=""><a href="{{ reseau.url }}" target="_blank">{{ reseau.iconHtml(false, 'fa-fw')|raw }} {{ reseau.typeReseau }}</a></li>
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>
					</li>

					<li class="">
						{# <a href="#">&nbsp;<i class="fa fa-flag fa-fw"></i></a> #}
						<a href="#"><img src="{{ asset(fileurl(currentLanguage.thumbnail,'thumbnails',18)) }}" style="width: 18px;"></a>
						<ul class="dropdown drop-up">
							{% for language in Languages %}
							{% if language.active %}
							<li class="">
								<a href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({locale: language.fullname})) }}">
									{# <i class="fa fa-flag fa-fw" style="color:{{ language.color|default('#AAAAAA') }};"></i>&nbsp; #}
									{% if language.fullname == app.request.locale %}
									<img src="{{ asset(fileurl(language.thumbnail,'thumbnails',24)) }}" style="width: 24px;" class="mr-2"><strong><u>{{ language.description|default(language.fullname) }}</u></strong>
									{% else %}
									<img src="{{ asset(fileurl(language.thumbnail,'thumbnails',18)) }}" style="width: 18px;" class="mr-2">{{ language.description|default(language.fullname) }}
									{% endif %}
									{# <span class="pull-right text-muted small">{{ language.countryName }}</span> #}
								</a>
							</li>
							{% endif %}
							{% endfor %}
							{% if is_granted('ROLE_TRANSLATOR') %}
							<li>
								<a href="{{ path('public_language_switchmode') }}"><span>{{ 'translation.switch'|trans({}, domain_admin)|raw }}</span><span class="pull-right">{{ translation_mode(true)|raw }}</span></a>
							</li>
							{% endif %}
						</ul>
					</li>

					<li class="{{ app.user ? 'active' }}">
						{% if app.user.avatar|default(false) %}
						<a href="#"><img src="{{ asset(fileurl(app.user.avatar,'thumbnails',18)) }}" class="rounded-circle" style="width: 18px;"></a>
						{% else  %}
						<a href="#"><i class="fa fa-user fa-1x"{{ app.user.color|default(false) ? (' style="color:' ~ app.user.color ~ ';"')|raw }}>&nbsp;</i></a>
						{% endif %}
						<ul class="dropdown drop-up">
							{% if app.user %}
							<li class=""><a href="{{ path('website_site_profile') }}">{{ 'user.account.profile'|trans }}</a></li>
							{# <li class=""><a href="#">Mes achats</a></li> #}
							{% else  %}
							<li class=""><a href="#" data-toggle="modal" data-target="#login">{{ 'user.account.login'|trans }}</a></li>
							<li class=""><a href="#" data-toggle="modal" data-target="#signup">{{ 'user.account.create'|trans }}</a></li>
							{% endif %}
							{% if is_granted('ROLE_EDITOR') %}
							<li class=""><a href="{{ path('website_admin_homepage') }}"><i class="fa fa-lock fa-fw"></i> {{ 'go.admin'|trans({}, 'admin') }}</a></li>
							<li class=""><a href="{{ path('nelmio_api_doc_index') }}"><i class="fa fa-info-circle fa-fw"></i> {{ 'api-doc'|trans({}, 'admin') }}</a></li>
							<li class=""><a href="{{ asset('/bundles/websitesite/star-2-0/Gulp/build/development/index.html') }}" target="_blank"><i class="fa fa-star fa-fw"></i> Template Star 2</a></li>
							{% endif %}
							{% if is_granted('ROLE_TRANSLATOR') and site_context.isTranslatorAndShow() %}
							<li class=""><a href="{{ path('wsa_twgtranslation_list') }}">{{ icon('TwgTranslation', true, true, ['fa-fw'])|raw }} {{ 'names'|trans({}, 'TwgTranslation') }}</a></li>
							{% endif %}
							{% if app.user %}
							<li class=""><a href="{{ path('fos_user_security_logout') }}">{{ 'user.account.logout'|trans }}</a></li>
							{% endif  %}
						</ul>
					</li>

				</ul>
			</div>
		</div>
	</nav>
</header>