{# FIXT@fixt_reference = 'modale_inquiry_01.html.twig' #}
{# FIXT@__test_enabled = true #}
{# FIXT@name = "Modale message" #}
{# FIXT@owner = "@FIXT_REF=Entreprise@VETO_ALLIANCE" #}
{# FIXT@groups = ["@FIXT_REF=Group@VETO_ALLIANCE_PUBLIC"] #}
{# FIXT@bundle = 'WebsiteSiteBundle' #}
{# FIXT@templatename = 'star2' #}
{# FIXT@typepage = 'modale' #}
{# FIXT@defaultjoin = true #}
<div class="modal fade" id="inquiry" tabindex="-1" role="dialog" aria-label="inquiryModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header rounded">
				<h3 class="modal-title text-uppercase font-weight-bold">Inquiry about tour</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body pb-3">
				<form class="" action="index.html" method="post">
					<div class="form-group">
						<input type="text" class="form-control bg-smoke" required="" placeholder="Your Name">
					</div>

					<div class="form-group">
						<input type="email" class="form-control bg-smoke" required="" placeholder="Your Email">
					</div>

					<div class="form-group">
						<input type="number" class="form-control bg-smoke" required="" placeholder="Phone Number">
					</div>

					<div class="form-group">
						<textarea class="form-control bg-smoke" rows="6" placeholder="Message"></textarea>
					</div>

					<button type="submit" class="btn btn-primary text-uppercase">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>
