{# FIXT@fixt_reference = 'modale_signup_01.html.twig' #}
{# FIXT@__test_enabled = true #}
{# FIXT@name = "Modale signup" #}
{# FIXT@owner = "@FIXT_REF=Entreprise@VETO_ALLIANCE" #}
{# FIXT@groups = ["@FIXT_REF=Group@VETO_ALLIANCE_PUBLIC"] #}
{# FIXT@bundle = 'WebsiteSiteBundle' #}
{# FIXT@templatename = 'star2' #}
{# FIXT@typepage = 'modale' #}
{# FIXT@defaultjoin = true #}
{% if not Modale.selfcontent|default(false) %}
<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-label="signupModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header rounded">
				<h3 class="modal-title text-uppercase font-weight-bold">{{ icon('User')|raw }} {{ 'Créer un compte'|trans }}</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" data-self-content="'{{ Modale.bddid }}'" data-self-content-anchor="'#form-register'" data-self-content-waitstate="'#signup'" data-self-content-url="'{{ url('apifile-twig-getcontent', {bddid: Modale.bddid}) }}'"></div>
		</div>
	</div>
</div>
{% else %}
<div id="form-register">
	{% set register_data = register_data() %}
	{{ form(register_data.form) }}
</div>
{% endif %}