{# FIXT@fixt_reference = 'modale_signup_01.html.twig' #}
{# FIXT@__test_enabled = true #}
{# FIXT@name = "Modale signup" #}
{# FIXT@owner = "@FIXT_REF=Entreprise@VETO_ALLIANCE" #}
{# FIXT@groups = ["@FIXT_REF=Group@VETO_ALLIANCE_PUBLIC"] #}
{# FIXT@bundle = 'WebsiteSiteBundle' #}
{# FIXT@templatename = 'star2' #}
{# FIXT@typepage = 'modale' #}
{# FIXT@defaultjoin = true #}
<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-label="signupModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header rounded">
				<h3 class="modal-title text-uppercase font-weight-bold">{{ Section.titleh1|default(Section.title)|raw }}</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				{% set longtext = Section.fulltext|default(Section.resume) %}
				{% if longtext is not null %}
				<section class="pb-4"><div class="container"><div class="row"><div class="col-lg-12"><p class="mb-6">{{ include(template_from_string(longtext, Section.name)) }}</p></div></div></div></section>
				{% else %}
				<section class="pb-4"><div class="container"><div class="row"><div class="col-lg-12"><p class="mb-6">Message... ICI.</p></div></div></div></section>
				{% endif %}
			</div>
		</div>
	</div>
</div>