{# FIXT@fixt_reference = 'section_annonces_list.html.twig' #}
{# FIXT@defaultpagename = 'section_annonces_list' #}
{# FIXT@name = "section_annonces_list" #}
{# FIXT@owner = "@FIXT_REF=Entreprise@VETO_ALLIANCE" #}
{# FIXT@groups = ["@FIXT_REF=Group@VETO_ALLIANCE_PUBLIC"] #}
{# FIXT@bundle = 'WebsiteSiteBundle' #}
{# FIXT@templatename = 'star2' #}
{# !!!FIXT@urlAsPhoto = '@FILE_URL=media/images/panoramiques/fond01.jpg' #}
{# FIXT@typepage = 'section' #}
{% import 'WebsiteSiteBundle:Macro:blocks.html.twig' as blocks %}

<section class="pb-7 pt-4 bg-info">
	<div class="container">
		{{ blocks.annonces_recent(null, 24) }}
	</div>
</section>