{# FIXT@fixt_reference = 'section_blog_courant.html.twig' #}
{# FIXT@defaultpagename = 'blog_courant.html' #}
{# FIXT@name = "Blog courant" #}
{# FIXT@owner = "@FIXT_REF=Entreprise@VETO_ALLIANCE" #}
{# FIXT@groups = ["@FIXT_REF=Group@VETO_ALLIANCE_PUBLIC"] #}
{# FIXT@bundle = 'WebsiteSiteBundle' #}
{# FIXT@templatename = 'star2' #}
{# FIXT@typepage = 'section' #}
{% set blogs = [request_data('Blog', 'findCurrentBlog')] %}
{% if blogs|length %}
<section class="bg-smoke py-4">
	<div class="container">
		{% for blog in blogs %}
		<div class="media media-list-view media-list-fullwidth flex-column flex-md-row mb-5">
			<div class="media-img position-relative">
				<img class="img-fluid position-relative" src="{{ asset(fileurl(blog.photo,'thumbnails',512)) }}" alt="{{ blog.slug }}">
				<a class="media-img-overlay" href="{{ path('website_pageweb_by_blog', {blog: blog.slug}) }}"></a>
			</div>

			<div class="media-body">
				<div class="row align-items-md-center align-items-lg-stretch">
					{# <div class="col-lg-12"> #}
					<div class="col-md-7 col-lg-8">
						<h4>
							<a class="media-title" href="{{ path('website_pageweb_by_blog', {blog: blog.slug}) }}">{{ blog.menutitle|raw }}</a>
						</h4>
						{# <div class="rating-view">
							<span class="content-view text-uppercase">{{ blog.accroche|raw }}</span>
							<span class="star add-rating-default"></span>
						</div> #}

						<p class="mb-lg-0">{{ include(template_from_string(blog.resume|default(''), blog.name)) }}</p>

						<div class="date-view mb-5 mb-md-0 clearfix">
							<span><i class="fa fa-calendar" aria-hidden="true"></i> {{ blog.publication|localizeddate('medium', 'short', app.request.locale) }}</span>
							{# <span><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days</span> #}
						</div>
					</div>

					<div class="col-md-5 col-lg-4">
						<div class="bg-primary text-center p-5 view-details">
							<h2 class="text-white font-weight-bold h1">{{ 'BLOG'|trans }}</h2>
							{# <p class="text-white text-capitalize">Per person</p> #}
							<div>
								<a href="{{ path('website_blogs') }}" class="btn btn-xs btn-outline-white btn-booking text-uppercase mb-2">{{ 'Blog'|trans }}</a>
							</div>
							{# <div>
								<a href="javascript:void(0)" data-toggle="modal" data-target="#inquiry" class="btn btn-xs btn-outline-white btn-booking text-uppercase mb-2">Inquiry</a>
							</div> #}
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
{% endif %}
