{# FIXT@fixt_reference = 'section_dernieres_annonces.html.twig' #}
{# FIXT@defaultpagename = 'section_dernieres_annonces' #}
{# FIXT@name = "section_dernieres_annonces" #}
{# FIXT@owner = "@FIXT_REF=Entreprise@VETO_ALLIANCE" #}
{# FIXT@groups = ["@FIXT_REF=Group@VETO_ALLIANCE_PUBLIC"] #}
{# FIXT@bundle = 'WebsiteSiteBundle' #}
{# FIXT@templatename = 'star2' #}
{# FIXT@urlAsPhoto = '@FILE_URL=media/images/panoramiques/fond01.jpg' #}
{# FIXT@typepage = 'section' #}
{% import 'WebsiteSiteBundle:Macro:blocks.html.twig' as blocks %}

{% if not Section.selfcontent|default(false) %}
<section class="bg-info py-8" id="dernieres-annonces">
	<div class="container">
		<div class="text-center section-title2">
			<h2 class="text-uppercase font-weight-bold position-relative">
				<span class="text-white">{{ include(template_from_string(Section.title, Section.name)) }}</span>
			</h2>
			<p class="text-capitalize text-center text-white">{{ include(template_from_string(Section.subtitle, Section.name)) }}</p>
		</div>
		<div data-self-content="'{{ Section.bddid }}'" data-self-content-anchor="'#annonces-list'" data-self-content-timeout="1000" data-self-content-interval="{{ [60000,0,true]|json_encode }}" data-self-content-url="'{{ url('apifile-twig-getcontent', {bddid: Section.bddid}) }}'"></div>
		{# <div class="text-center mt-5 mt-lg-7">
			<a href="{{ url('website_annonces') }}" class="btn btn-hover btn-outline-secondary text-uppercase text-white">{{ 'Voir toutes les annonces'|trans }}</a>
		</div> #}
	</div>
</section>

{% else %}
<div id="annonces-list">
	{# {{ blocks.fichesAnnonces(request_data('Annonce', 'findCurrentAnnonces', {nb: 6}), true, true) }} #}
	{{ blocks.annonces_recent(null, 24) }}
	<div class="text-center mt-5 mt-lg-7">
		<a href="{{ url('website_annonces') }}" class="btn btn-hover btn-outline-secondary text-uppercase text-white">{{ 'Voir toutes les annonces'|trans }}</a>
		<button class="btn btn-hover btn-outline-secondary text-white" data-ng-click="refresh();"><i class="fa fa-refresh fa-fw"></i></a>
	</div>
</div>
{% endif %}