{# FIXT@fixt_reference = 'section_text_content.html.twig' #}
{# FIXT@defaultpagename = 'about-us.html' #}
{# FIXT@name = "Contenu texte" #}
{# FIXT@owner = "@FIXT_REF=Entreprise@VETO_ALLIANCE" #}
{# FIXT@groups = ["@FIXT_REF=Group@VETO_ALLIANCE_PUBLIC"] #}
{# FIXT@bundle = 'WebsiteSiteBundle' #}
{# FIXT@templatename = 'star2' #}
{# FIXT@typepage = 'section' #}
<section class="py-8 py-md-10">
	<div class="container">
		<div class="text-center border-bottom pb-6 mb-7">
			{% set longtext = Section.fulltext|default(Section.resume) %}
			{% if longtext is not null %}
			<section class="pb-4"><div class="container"><div class="row"><div class="col-lg-12"><p class="mb-6">{{ include(template_from_string(longtext, Section.name)) }}</p></div></div></div></section>
			{% endif %}
		</div>
	</div>
</section>