{# FIXT@fixt_reference = 'section_partenaires.html.twig' #}
{# FIXT@defaultpagename = 'section_partenaires' #}
{# FIXT@name = "section_partenaires" #}
{# FIXT@owner = "@FIXT_REF=Entreprise@VETO_ALLIANCE" #}
{# FIXT@groups = ["@FIXT_REF=Group@VETO_ALLIANCE_PUBLIC"] #}
{# FIXT@bundle = 'WebsiteSiteBundle' #}
{# FIXT@templatename = 'star2' #}
{# FIXT@typepage = 'section' #}
{% if site_context.Entreprise.associatePartenaires|length %}
<section class="py-8 bg-smoke">
	<div class="container">
		<div class="brand-slider">
			{% for partenaire in site_context.Entreprise.associatePartenaires %}
			<div class="item">
				<img class="img" src="{{ asset(fileurl(partenaire.avatar,'optimized',128)) }}" alt="{{ partenaire.slug }}">
			</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endif %}
