{# FIXT@fixt_reference = 'section_page_title.html.twig' #}
{# FIXT@name = "Titre de page" #}
{# FIXT@owner = "@FIXT_REF=Entreprise@VETO_ALLIANCE" #}
{# FIXT@groups = ["@FIXT_REF=Group@VETO_ALLIANCE_PUBLIC"] #}
{# FIXT@bundle = 'WebsiteSiteBundle' #}
{# FIXT@templatename = 'star2' #}
{# FIXT@typepage = 'section' #}
<section class="page-title">
    <div class="bg-img bg-overlay-darken" style="background-image: url(assets/img/pages/page-title-bg.jpg);">
        <div class="container">
            <div class="row align-items-center justify-content-center" style="height: 200px;">
                <div class="col-lg-6">
                    <div class="page-title-content">
                        <div class="title-border">
                            <h2 class="text-uppercase text-white font-weight-bold">{{ Pageweb.titleh1|br_striptags|raw }}</h2>
                        </div>
                        {# <p class="text-white mb-0"></p> #}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>