{# FIXT@fixt_reference = 'title_search.html.twig' #}
{# FIXT@defaultpagename = 'title_search.html' #}
{# FIXT@name = "Title et raccourcis" #}
{# FIXT@owner = "@FIXT_REF=Entreprise@VETO_ALLIANCE" #}
{# FIXT@groups = ["@FIXT_REF=Group@VETO_ALLIANCE_PUBLIC"] #}
{# FIXT@bundle = 'WebsiteSiteBundle' #}
{# FIXT@templatename = 'star2' #}
{# FIXT@typepage = 'title' #}
{# <section class="bg-success py-1 pt-2">
	<div class="container">
		<div class="row align-items-center">
			{% set searchs = {
				'billetterie-des-grottes': {icon: 'ticket', text: 'Réservez'},
				'a-partir-de-8-personnes': {icon: 'users', text: 'Offres groupes'},
				'horaires-et-agenda-complet': {icon: 'calendar', text: 'Horaires'},
				'pratique-acces-grottes': {icon: 'map-marker', text: 'Venir aux Grottes'}
			} %}
			{% set pws = request_data('Item', 'findBySlug', searchs|keys) %}
			{% for pw in pws %}
			<div class="col-md-3 col-sm-6">
				<a href="{{ cat_url(pw.shortname == "Pageweb" ? pw : pw.pageweb) }}" style="display: block;">
					<div class="mb-0 mb-sm-1 text-sm-left text-lg-center">
						<h5 class="text-white text-uppercase mb-2 mb-md-0 mb-lg-0"><i class="fa fa-{{ searchs[pw.slug].icon }} fa-fw fa-1x"></i> {{ searchs[pw.slug].text|trans }}</h5>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</section> #}