{# FIXT@fixt_reference = 'title_one_item.html.twig' #}
{# FIXT@__test_enabled = true #}
{# FIXT@name = "Title de item" #}
{# FIXT@owner = "@FIXT_REF=Entreprise@VETO_ALLIANCE" #}
{# FIXT@groups = ["@FIXT_REF=Group@VETO_ALLIANCE_PUBLIC"] #}
{# FIXT@bundle = 'WebsiteSiteBundle' #}
{# FIXT@templatename = 'star2' #}
{# FIXT@urlAsPhoto = '@FILE_URL=media/images/photos/test.jpg' #}
{# FIXT@typepage = 'title' #}
<section class="page-title">
	{% set elements = pagewebDefaultsValues([Pageweb, Title], {
		title: ['titleh1','title'],
		subtitle: ['subtitle','accroche','menutitle'],
		image: ['entete','photo'],
	}) %}

	{% if elements.image is not null %}
	<div class="bg-img bg-overlay-darken" style="background-image: url({{ asset(fileurl(elements.image,'optimized',1440)) }});">
	{% else %}
	<div class="bg-img bg-overlay-darken">
	{% endif %}
		<div class="container">
			<div class="row align-items-center justify-content-center" style="height: {{ title_height|default(200) }}px;">
				<div class="col-lg-6">
					<div class="page-title-content">
						<div class="title-border">
							<h1 class="text-white font-weight-bold">{{ elements.title|striptags }}</h1>
						</div>
						{% if elements.subtitle|hasText %}
						<p class="text-white mt-4 mb-0">{{ elements.subtitle|striptags }}</p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>