{# Widgets #}

{%- block form_widget -%}
	{% if compound %}
		{{- block('form_widget_compound') -}}
	{% else %}
		{{- block('form_widget_simple') -}}
	{% endif %}
{%- endblock form_widget -%}

{%- block form_widget_simple -%}
	{%- set type = type|default('text') -%}
	<input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value|raw }}" {% endif %}/>
{%- endblock form_widget_simple -%}

{%- block form_widget_compound -%}
	<div {{ block('widget_container_attributes') }}>
		{%- if form.parent is empty -%}
			{{ form_errors(form) }}
		{%- endif -%}
		{{- block('form_rows') -}}
		{{- form_rest(form) -}}
	</div>
{%- endblock form_widget_compound -%}

{%- block collection_widget -%}
	{% if prototype is defined %}
		{%- set attr = attr|merge({'data-prototype': form_row(prototype) }) -%}
	{% endif %}
	{{- block('form_widget') -}}
{%- endblock collection_widget -%}

{%- block textarea_widget -%}
	<textarea {{ block('widget_attributes') }}>{{ value|raw }}</textarea>
{%- endblock textarea_widget -%}

{%- block choice_widget -%}
	{% if expanded %}
		{{- block('choice_widget_expanded') -}}
	{% else %}
		{{- block('choice_widget_collapsed') -}}
	{% endif %}
{%- endblock choice_widget -%}

{%- block choice_widget_expanded -%}
	<div {{ block('widget_container_attributes') }}>
	{%- for child in form %}
		{{- form_widget(child) -}}
		{{- form_label(child) -}}
	{% endfor -%}
	</div>
{%- endblock choice_widget_expanded -%}

{%- block choice_widget_collapsed -%}
	{%- if required and placeholder is none and not placeholder_in_choices and not multiple -%}
		{% set required = false %}
	{%- endif -%}
	<select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %} data-allowClear={{ (not required|default(false))|json_encode }}>
		{%- if placeholder is not none -%}
			<option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder|trans({}, translation_domain)|striptags }}</option>
		{%- endif -%}
		{%- if preferred_choices|length > 0 -%}
			{% set options = preferred_choices %}
			{{- block('choice_widget_options') -}}
			{%- if choices|length > 0 and separator is not none -%}
				<option disabled="disabled">{{ separator }}</option>
			{%- endif -%}
		{%- endif -%}
		{%- set options = choices -%}
		{{- block('choice_widget_options') -}}
	</select>
{%- endblock choice_widget_collapsed -%}

{%- block choice_widget_options -%}
	{% for group_label, choice in options %}
		{%- if choice is iterable -%}
			<optgroup label="{{ group_label|trans({}, translation_domain)|striptags }}">
				{% set options = choice %}
				{{- block('choice_widget_options') -}}
			</optgroup>
		{%- else -%}
			<option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans({}, translation_domain)|striptags }}</option>
		{%- endif -%}
	{% endfor %}
{%- endblock choice_widget_options -%}

{%- block checkbox_widget -%}
	<input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value|raw }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock checkbox_widget -%}

{%- block radio_widget -%}
	<input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value|raw }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock radio_widget -%}

{%- block datetime_widget -%}
	{% if widget == 'single_text' %}
		{{- block('form_widget_simple') -}}
	{%- else -%}
		<div {{ block('widget_container_attributes') }}>
			{{- form_errors(form.date) -}}
			{{- form_errors(form.time) -}}
			{{- form_widget(form.date) -}}
			{{- form_widget(form.time) -}}
		</div>
	{%- endif -%}
{%- endblock datetime_widget -%}

{%- block date_widget -%}
	{%- if widget == 'single_text' -%}
		{{ block('form_widget_simple') }}
	{%- else -%}
		<div {{ block('widget_container_attributes') }}>
			{{- date_pattern|replace({
				'{{ year }}':  form_widget(form.year),
				'{{ month }}': form_widget(form.month),
				'{{ day }}':   form_widget(form.day),
			})|raw -}}
		</div>
	{%- endif -%}
{%- endblock date_widget -%}

{%- block time_widget -%}
	{%- if widget == 'single_text' -%}
		{{ block('form_widget_simple') }}
	{%- else -%}
		{%- set vars = widget == 'text' ? { 'attr': { 'size': 1 }} : {} -%}
		<div {{ block('widget_container_attributes') }}>
			{{ form_widget(form.hour, vars) }}{% if with_minutes %}:{{ form_widget(form.minute, vars) }}{% endif %}{% if with_seconds %}:{{ form_widget(form.second, vars) }}{% endif %}
		</div>
	{%- endif -%}
{%- endblock time_widget -%}

{%- block number_widget -%}
	{# type="number" doesn't work with floats #}
	{%- set type = type|default('text') -%}
	{{ block('form_widget_simple') }}
{%- endblock number_widget -%}

{%- block integer_widget -%}
	{%- set type = type|default('number') -%}
	{{ block('form_widget_simple') }}
{%- endblock integer_widget -%}

{%- block money_widget -%}
	{{ money_pattern|replace({ '{{ widget }}': block('form_widget_simple') })|raw }}
{%- endblock money_widget -%}

{%- block url_widget -%}
	{%- set type = type|default('url') -%}
	{{ block('form_widget_simple') }}
{%- endblock url_widget -%}

{%- block search_widget -%}
	{%- set type = type|default('search') -%}
	{{ block('form_widget_simple') }}
{%- endblock search_widget -%}

{%- block percent_widget -%}
	{%- set type = type|default('text') -%}
	{{ block('form_widget_simple') }} %
{%- endblock percent_widget -%}

{%- block password_widget -%}
	{%- set type = type|default('password') -%}
	{{ block('form_widget_simple') }}
{%- endblock password_widget -%}

{%- block hidden_widget -%}
	{%- set type = type|default('hidden') -%}
	{{ block('form_widget_simple') }}
{%- endblock hidden_widget -%}

{%- block email_widget -%}
	{%- set type = type|default('email') -%}
	{{ block('form_widget_simple') }}
{%- endblock email_widget -%}

{%- block button_widget -%}
	{%- if label is empty -%}
		{%- if label_format is not empty -%}
			{% set label = label_format|replace({
				'%name%': name,
				'%id%': id,
			}) %}
		{%- else -%}
			{% set label = name|humanize %}
		{%- endif -%}
	{%- endif -%}
	{% if type == 'submit' %}
		{%- set attr = attr|merge({class: attr.class|default('') ~ ' woc'}) -%}
	{% endif %}
	<button type="{{ type|default('button') }}{{ block('description_popover_widget') }}" {{ block('button_attributes') }}>{{ type == 'submit' ? '<i class="fa fa-check fa-fw"></i> '|raw }}{{ label|trans({}, translation_domain)|striptags }}</button>
{%- endblock button_widget -%}

{%- block submit_widget -%}
	{%- set type = type|default('submit') -%}
	{{ block('button_widget') }}
{%- endblock submit_widget -%}

{%- block submitibox_widget -%}
	{%- set type = type|default('submit') -%}
	<div class="ibox-content">
	{{ block('button_widget') }}
	</div>
{%- endblock submitibox_widget -%}

{%- block reset_widget -%}
	{%- set type = type|default('reset') -%}
	{{ block('button_widget') }}
{%- endblock reset_widget -%}

{%- block description_popover_widget -%}
	{% if description_alt|default(null) is empty %}{% set description_alt = description|default(null) %}{% endif %}
	{% if description_alt|hasText %} data-popover data-content="<div>{{ description_alt|nl2br }}</div>"{% endif %}
{%- endblock description_popover_widget -%}

{# Labels #}

{%- block form_label -%}
	{%- if label is not same as(false) -%}
		{%- if not compound -%}
			{%- set label_attr = label_attr|merge({'for': id}) -%}
		{%- endif -%}
		{%- if required -%}
			{%- set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required bold')|trim}) -%}
			{# {%- set asterisque = '*' -%} #}
		{%- endif -%}
		{%- if attr['data-translatator']|default(false) and site_context.isTranslatorAndShow() -%}
			{% set code = form.parent.vars.data._tm.code(name)|default(null) and form.parent.vars.data._tm.value(name)|hasText %}
			{% if null != code %}
				{% set description_alt = "<div><i class='fa fa-flag fa-fw'></i> Cliquez pour éditer directement ce texte en mode traduction. Ouvre un nouvel onglet.</div>" %}
				{%- set trans_icon = '&nbsp;<a href="' ~ path('wsa_twgtranslation_list', {keytext: code}) ~ '" target="_blank"' ~ block('description_popover_widget') ~ '><i class="fa fa-flag fa-fw"></i></a>' -%}
				{% set description_alt = null %}
			{% else %}
				{% set trans_icon = '&nbsp;<i class="fa fa-flag-o fa-fw"></i>' %}
			{% endif %}
			{# {% set description = null != code ? "Cliquez pour éditer directement ce texte en mode traduction. Ouvre un nouvel onglet." : description %} #}
		{%- endif -%}
		{%- if label is empty -%}
			{%- if label_format is not empty -%}
				{%- set label = label_format|replace({'%name%': name, '%id%': id}) -%}
			{%- else -%}
				{%- set label = name|humanize -%}
			{%- endif -%}
		{%- endif -%}
		<label{%- for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{%- endfor -%}>
			<span{{ block('description_popover_widget') }}>
				{{- required ? '<u>'|raw -}}{{- (label|trans({}, translation_domain))|striptags|ucfirst -}}{{- required ? '</u>'|raw -}}
			</span>
			{# {{- (asterisque|default(''))|raw -}} #}
			{{- (trans_icon|default(''))|raw -}}
		</label>
		{# {{ dump() }} #}
	{%- endif -%}
{%- endblock form_label -%}

{%- block button_label -%}{%- endblock -%}

{# Rows #}

{%- block repeated_row -%}
	{#
	No need to render the errors here, as all errors are mapped
	to the first child (see RepeatedTypeValidatorExtension).
	#}
	{{- block('form_rows') -}}
{%- endblock repeated_row -%}

{%- block form_row -%}
	<div>
		{{- form_label(form) -}}
		{{- form_errors(form) -}}
		{{- form_widget(form) -}}
	</div>
{%- endblock form_row -%}

{%- block button_row -%}
	<div>
		{{- form_widget(form) -}}
	</div>
{%- endblock button_row -%}

{%- block hidden_row -%}
	{{ form_widget(form) }}
{%- endblock hidden_row -%}

{# Misc #}

{%- block form -%}
	{{ form_start(form) }}
		{{- form_widget(form) -}}
	{{ form_end(form) }}
{%- endblock form -%}

{%- block form_start -%}
	{% set method = method|upper %}
	{% set form_method = "POST" %}
	{%- if method in ["GET", "POST"] -%}
		{% set form_method = method %}
	{%- endif -%}
	<form name="{{ name }}" method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
	{%- if form_method != method -%}
		<input type="hidden" name="_method" value="{{ method }}" />
	{%- endif -%}
{%- endblock form_start -%}

{%- block form_end -%}
	{%- if not render_rest is defined or render_rest -%}
		{{ form_rest(form) }}
	{%- endif -%}
	</form>
{%- endblock form_end -%}

{%- block form_enctype -%}
	{% if multipart %}enctype="multipart/form-data"{% endif %}
{%- endblock form_enctype -%}

{%- block form_errors -%}
	{%- if errors|length > 0 -%}
	<ul>
		{%- for error in errors -%}
			<li>{{ error.message }}</li>
		{%- endfor -%}
	</ul>
	{%- endif -%}
{%- endblock form_errors -%}

{%- block form_rest -%}
	{% for child in form -%}
		{% if not child.rendered %}
			{{- form_row(child) -}}
		{% endif %}
	{%- endfor %}
{% endblock form_rest %}

{# Support #}

{%- block form_rows -%}
	{% for child in form %}
		{{- form_row(child) -}}
	{% endfor %}
{%- endblock form_rows -%}

{%- block widget_attributes -%}
	id="{{ id }}" name="{{ full_name }}"
	{%- if read_only|default(false) %} readonly="readonly"{% endif -%}
	{%- if disabled|default(false) %} disabled="disabled"{% endif -%}
	{%- if required|default(false) %} required="required"{% endif -%}
	{%- for attrname, attrvalue in attr -%}
		{{- " " -}}
		{%- if attrname in ['placeholder', 'title'] -%}
			{{- attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
		{%- elseif attrvalue is same as(true) -%}
			{{- attrname }}="{{ attrname }}"
		{%- elseif attrvalue is not same as(false) -%}
			{{- attrname }}="{{ attrvalue }}"
		{%- endif -%}
	{%- endfor -%}
{%- endblock widget_attributes -%}

{%- block widget_container_attributes -%}
	{%- if id is not empty %}id="{{ id }}"{% endif -%}
	{%- for attrname, attrvalue in attr -%}
		{{- " " -}}
		{%- if attrname in ['placeholder', 'title'] -%}
			{{- attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
		{%- elseif attrvalue is same as(true) -%}
			{{- attrname }}="{{ attrname }}"
		{%- elseif attrvalue is not same as(false) -%}
			{{- attrname }}="{{ attrvalue }}"
		{%- endif -%}
	{%- endfor -%}
{%- endblock widget_container_attributes -%}

{%- block button_attributes -%}
	id="{{ id }}" name="{{ full_name }}"{% if disabled %} disabled="disabled"{% endif -%}
	{%- for attrname, attrvalue in attr -%}
		{{- " " -}}
		{%- if attrname in ['placeholder', 'title'] -%}
			{{- attrname }}="{{ attrvalue|trans({}, translation_domain)|striptags }}"
		{%- elseif attrvalue is same as(true) -%}
			{{- attrname }}="{{ attrname|raw }}"
		{%- elseif attrvalue is not same as(false) -%}
			{{- attrname }}="{{ attrvalue|raw }}"
		{%- endif -%}
	{%- endfor -%}
{%- endblock button_attributes -%}
