{% use "WebsiteAdminBundle:Form:form_div_layout.html.twig" %}

{# Widgets #}

{% block form_widget_simple -%}
	{% if type is not defined or 'file' != type %}
		{%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control input-sm')|trim}) -%}
	{% endif %}
	{% if 'file' == type|default('text') %}
		{{ block(file_widget) }}
	{% else %}
		{{- parent() -}}
	{% endif %}
{%- endblock form_widget_simple %}

{% block file_widget %}
	{% set is_single_binary = form.parent.vars.data == null %}

	{% set file_obj = form.parent.parent is null and form.parent.vars.data|isInstance(['Image','Pdf']) ? form.parent.vars.data.currentVersion : attr(form.parent.vars.data, name) %}
	{% set field_data = {name: name, bddid: file_obj.bddid|default(null), parent_bddid: is_single_binary ? null : form.parent.vars.data.bddid, parent_classname: is_single_binary ? null : form.parent.vars.data.classname, parent_shortname: is_single_binary ? null : form.parent.vars.data.shortname} %}
	<div data-form-binary="{{ field_data|json_encode }}" data-post-url="{{ url('upload_binary') }}">
		{% if form.parent.vars.data|isInstance('Fileversion') and form.parent.vars.data.isScreenableAsImage()|default(false) %}
			{% set file_obj = form.parent.vars.data %}
			<img src="{{ asset(fileurl(file_obj, 'thumbnails', 128)) }}" class="img-responsive img-thumbnail img-lg" title="{{ file_obj.originalFileName }}" data-view-media="'{{ file_obj.bddIdentifyer }}'" data-view-width="800" data-view-type="'thumbnail'" data-view-name="'{{ file_obj.originalFileName }}'">
		{% elseif file_obj|isInstance('Binary') and file_obj.isScreenableAsImage()|default(false) %}
			<img src="{{ asset(fileurl(file_obj, 'thumbnails', 128)) }}" class="img-responsive img-thumbnail img-lg" title="{{ file_obj.originalFileName }}" data-view-media="'{{ file_obj.bddIdentifyer }}'" data-view-width="800" data-view-type="'thumbnail'" data-view-name="'{{ file_obj.originalFileName }}'">
		{% elseif file_obj|isObject %}
			<i>{{ file_obj.getClientOriginalName() }}{{ value|default(null) is null ? ' - choisissez à nouveau ce fichier, svp.' : '' }}</i>
		{% else %}
			<i class="fa fa-times fa-2x fa-fw text-warning"></i>
		{% endif %}
		<input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value|raw }}" {% endif %}/>
		{# <div><strong class="text-info">{{ name }}</strong></div> #}
	</div>
	{# {% if is_granted('ROLE_SUPER_ADMIN') %}<div class="well">{{ dump(field_data) }}</div><div class="well">{{ dump() }}</div>{% endif %} #}
{% endblock %}

{# {% block file_widget_memo %}
	{% set file_obj = form.parent.parent is null and form.parent.vars.data|isInstance(['Image','Pdf']) ? form.parent.vars.data.currentVersion : attr(form.parent.vars.data, name) %}
	<div data-form-binary="{{ file_obj.id|default(null) }}">
		{% if form.parent.vars.data|isInstance('Fileversion') and form.parent.vars.data.isScreenableAsImage()|default(false) %}
			{% set file_obj = form.parent.vars.data %}
			<img src="{{ asset(fileurl(file_obj, 'thumbnails', 128)) }}" class="img-responsive img-thumbnail img-lg" title="{{ file_obj.originalFileName }}" data-view-media="'{{ file_obj.bddIdentifyer }}'" data-view-width="800" data-view-type="'thumbnail'" data-view-name="'{{ file_obj.originalFileName }}'">
		{% elseif file_obj|isInstance('Binary') and file_obj.isScreenableAsImage()|default(false) %}
			<img src="{{ asset(fileurl(file_obj, 'thumbnails', 128)) }}" class="img-responsive img-thumbnail img-lg" title="{{ file_obj.originalFileName }}" data-view-media="'{{ file_obj.bddIdentifyer }}'" data-view-width="800" data-view-type="'thumbnail'" data-view-name="'{{ file_obj.originalFileName }}'">
		{% elseif file_obj|isObject %}
			<i>{{ file_obj.getClientOriginalName() }}{{ value|default(null) is null ? ' - choisissez à nouveau ce fichier, svp.' : '' }}</i>
		{% else %}
			<i class="fa fa-times fa-2x fa-fw text-warning"></i>
		{% endif %}
		<input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value|raw }}" {% endif %}/>
	</div>
	{% if is_granted('ROLE_SUPER_ADMIN') %}<div class="well">{{ dump() }}</div>{% endif %}
{% endblock %} #}

{% block textarea_widget -%}
	{% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control input-sm')|trim}) %}
	{{- parent() -}}
{%- endblock textarea_widget %}

{% block button_widget -%}
	{% set attr = attr|merge({class: (attr.class|default('btn-default') ~ ' btn')|trim}) %}
	{{- parent() -}}
{%- endblock %}

{% block money_widget -%}
	<div class="input-group mask">
		{% set prepend = '{{' == money_pattern[0:2] %}
		{% set attr = attr|merge({'class': "mask-money"}) %}
		{% if not prepend %}
			<span class="input-group-addon">{{ money_pattern|replace({ '{{ widget }}':''}) }}</span>
		{% endif %}
		{{- block('form_widget_simple') -}}
		{% if prepend %}
			<span class="input-group-addon">{{ money_pattern|replace({ '{{ widget }}':''}) }}</span>
		{% endif %}
	</div>
{%- endblock money_widget %}

{% block percent_widget -%}
	<div class="input-group">
		{{- block('form_widget_simple') -}}
		<span class="input-group-addon">%</span>
	</div>
{%- endblock percent_widget %}

{% block datetime_widget -%}
	{% if widget == 'single_text' %}
		{{- block('form_widget_simple') -}}
	{% else -%}
		{% set attr = attr|merge({class: (attr.class|default('') ~ ' form-inline')|trim}) -%}
		<div {{ block('widget_container_attributes') }}>
			{{- form_errors(form.date) -}}
			{{- form_errors(form.time) -}}
			{{- form_widget(form.date, { datetime: true } ) -}}
			{{- form_widget(form.time, { datetime: true } ) -}}
		</div>
	{%- endif %}
{%- endblock datetime_widget %}

{% block date_widget -%}
	{% if widget == 'single_text' %}
		{{- block('form_widget_simple') -}}
	{% else -%}
		{% set attr = attr|merge({class: (attr.class|default('') ~ ' form-inline')|trim}) -%}
		{% if datetime is not defined or not datetime -%}
			<div {{ block('widget_container_attributes') -}}>
		{%- endif %}
			{{- date_pattern|replace({
				'{{ year }}': form_widget(form.year),
				'{{ month }}': form_widget(form.month),
				'{{ day }}': form_widget(form.day),
			})|raw -}}
		{% if datetime is not defined or not datetime -%}
			</div>
		{%- endif -%}
	{% endif %}
{%- endblock date_widget %}

{% block time_widget -%}
	{% if widget == 'single_text' %}
		{{- block('form_widget_simple') -}}
	{% else -%}
		{% set attr = attr|merge({class: (attr.class|default('') ~ ' form-inline')|trim}) -%}
		{% if datetime is not defined or false == datetime -%}
			<div {{ block('widget_container_attributes') -}}>
		{%- endif -%}
		{{- form_widget(form.hour) }}:{{ form_widget(form.minute) }}{% if with_seconds %}:{{ form_widget(form.second) }}{% endif %}
		{% if datetime is not defined or false == datetime -%}
			</div>
		{%- endif -%}
	{% endif %}
{%- endblock time_widget %}

{% block choice_widget_collapsed -%}
	{% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control input-sm')|trim}) %}
	{{- parent() -}}
{%- endblock %}

{% block choice_widget_expanded -%}
	{% if '-inline' in label_attr.class|default('') -%}
		<div class="control-group">
			{%- for child in form %}
				{{- form_widget(child, {
					parent_label_class: label_attr.class|default(''),
				}) -}}
			{% endfor -%}
		</div>
	{%- else -%}
		<div {{ block('widget_container_attributes') }}>
			{%- for child in form %}
				{{- form_widget(child, {
					parent_label_class: label_attr.class|default(''),
				}) -}}
			{% endfor -%}
		</div>
	{%- endif %}
{%- endblock choice_widget_expanded %}

{% block checkbox_widget -%}
	{% set parent_label_class = parent_label_class|default('') -%}
	{% set attr = attr|merge({class: 'js-switch'}) %}
	{% if 'checkbox-inline' in parent_label_class %}
		{{- form_label(form, null, { widget: parent() }) -}}
	{% else -%}
		<div>
			{{- form_label(form, null, { widget: parent() }) -}}
		</div>
	{%- endif %}
{%- endblock checkbox_widget %}

{% block radio_widget -%}
	{%- set parent_label_class = parent_label_class|default('') -%}
	{% if 'radio-inline' in parent_label_class %}
		{{- form_label(form, null, { widget: parent() }) -}}
	{% else -%}
		<div class="radio">
			{{- form_label(form, null, { widget: parent() }) -}}
		</div>
	{%- endif %}
{%- endblock radio_widget %}

{# Labels #}

{% block form_label -%}
	{%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' control-label')|trim}) -%}
	{{- parent() -}}
{%- endblock form_label %}

{% block choice_label -%}
	{# remove the checkbox-inline and radio-inline class, it's only useful for embed labels #}
	{%- set label_attr = label_attr|merge({class: label_attr.class|default('')|replace({'checkbox-inline': '', 'radio-inline': ''})|trim}) -%}
	{{- block('form_label') -}}
{% endblock %}

{% block checkbox_label -%}
	{{- block('checkbox_radio_label') -}}
{%- endblock checkbox_label %}

{% block radio_label -%}
	{{- block('checkbox_radio_label') -}}
{%- endblock radio_label %}

{% block checkbox_radio_label %}
	{# Do no display the label if widget is not defined in order to prevent double label rendering #}
	{% if widget is defined %}
		{% if required %}
			{% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
		{% endif %}
		{% if parent_label_class is defined %}
			{% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) %}
		{% endif %}
		{% if label is not same as(false) and label is empty %}
			{% set label = name|humanize %}
		{% endif %}
		<label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{{ block('description_popover_widget') }}>
			{{- widget|raw -}}
			{{- label is not same as(false) ? ' ' ~ label|striptags|trans({}, translation_domain)|raw -}}
		</label>
	{% endif %}
{% endblock checkbox_radio_label %}

{# Rows #}

{% block form_row -%}
	<div class="form-group m-b-xs{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
		{{- form_label(form) -}}
		{{- form_widget(form) -}}
		{{- form_errors(form) -}}
	</div>
{%- endblock form_row %}

{% block button_row -%}
	<div class="form-group m-b-xs">
		{{- form_widget(form) -}}
	</div>
{%- endblock button_row %}

{% block choice_row -%}
	{% set force_error = true %}
	{{- block('form_row') }}
{%- endblock choice_row %}

{% block date_row -%}
	{% set force_error = true %}
	{{- block('form_row') }}
{%- endblock date_row %}

{% block time_row -%}
	{% set force_error = true %}
	{{- block('form_row') }}
{%- endblock time_row %}

{% block datetime_row -%}
	{% set force_error = true %}
	{{- block('form_row') }}
{%- endblock datetime_row %}

{% block checkbox_row -%}
	<div class="form-group m-b-xs{% if not valid %} has-error{% endif %}">
		{{- form_widget(form) -}}
		{{- form_errors(form) -}}
	</div>
{%- endblock checkbox_row %}

{% block radio_row -%}
	<div class="form-group m-b-xs{% if not valid %} has-error{% endif %}">
		{{- form_widget(form) -}}
		{{- form_errors(form) -}}
	</div>
{%- endblock radio_row %}

{# Errors #}

{% block form_errors -%}
	{% if errors|length > 0 -%}
	{% if form.parent %}<span class="help-block">{% else %}<div class="alert alert-danger" role="alert">{% endif %}
	{%- for error in errors -%}
		<p class="text-danger"><i class="fa fa-exclamation-triangle m-r-xs"></i> <strong>{{ error.message }}</strong></p>
	{%- endfor -%}
	{% if form.parent %}</span>{% else %}</div>{% endif %}
	{%- endif %}
{%- endblock form_errors %}

{# customs AEW #}

{% block insDatepicker_widget %}
	<div class="input-group date">
		<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		{{- block('form_widget_simple') -}}
	</div>
{% endblock %}

{% block insColorpicker_widget %}
	<div class="input-group colorpickers" {{ block('widget_container_attributes') }}>
		<div class="input-group-addon"><i></i></div>
		<input type="text" value="{{ value|raw }}" {{ block('widget_attributes') }} class="form-control" />
	</div>
{% endblock insColorpicker_widget %}

{% block insKnob_widget %}
	<div class="input-group" {{ block('widget_container_attributes') }}>
		{# <div class="input-group-addon"><i></i></div> #}
		<input type="text" value="{{ value|raw }}" {{ block('widget_attributes') }} class="form-control" />
	</div>
{% endblock insKnob_widget %}

{% block insRangeSlider_widget %}
	{# <div class="input-group" {{ block('widget_container_attributes') }}> #}
		{# <div class="input-group-addon"><i></i></div> #}
		{# <input type="text" value="{{ value|json_encode }}" {{ block('widget_attributes') }} class="form-control" /> #}
		<div class="range-slider">
			<input type="text" value="{{ value|isString ? value : value|json_encode }}" {{ block('widget_attributes') }} class="form-control" />
		</div>
	{# </div> #}
{% endblock insRangeSlider_widget %}






{%- block insDualListbox_widget -%}
    {% if expanded %}
        {{- block('insDualListbox_widget_expanded') -}}
    {% else %}
        {{- block('insDualListbox_widget_collapsed') -}}
    {% endif %}
{%- endblock insDualListbox_widget -%}

{%- block insDualListbox_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
    {%- for child in form %}
        {{- form_widget(child) -}}
        {{- form_label(child) -}}
    {% endfor -%}
    </div>
{%- endblock insDualListbox_widget_expanded -%}

{%- block insDualListbox_widget_collapsed -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple -%}
        {% set required = false %}
    {%- endif -%}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %} data-allowClear={{ (not required|default(false))|json_encode }}>
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder|trans({}, translation_domain)|striptags }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('insDualListbox_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('insDualListbox_widget_options') -}}
    </select>
{%- endblock insDualListbox_widget_collapsed -%}

{%- block insDualListbox_widget_options -%}
    {% for group_label, choice in options %}
        {%- if choice is iterable -%}
            <optgroup label="{{ group_label|trans({}, translation_domain)|striptags }}">
                {% set options = choice %}
                {{- block('insDualListbox_widget_options') -}}
            </optgroup>
        {%- else -%}
            <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans({}, translation_domain)|striptags }}</option>
        {%- endif -%}
    {% endfor %}
{%- endblock insDualListbox_widget_options -%}




{% block insRichtext_widget %}
	{% set attr = attr|merge({class: (attr.class|default('') ~ ' richtexts')|trim}) -%}
	{{- block('textarea_widget') -}}
{% endblock insRichtext_widget %}

{% block insTelephone_widget %}
	<div class="input-group mask">
		<span class="input-group-addon"><i class="fa fa-phone"></i></span>
		{% set attr = attr|merge({'class': "mask-tel"}) %}
		{{- block('form_widget_simple') -}}
	</div>
{% endblock insTelephone_widget %}

{% block email_widget %}
	<div class="input-group">
		<span class="input-group-addon"><i class="fa fa-at"></i></span>
		{{- parent() -}}
	</div>
{% endblock email_widget %}

{% block url_widget %}
	<div class="input-group">
		<span class="input-group-addon"><i class="fa fa-globe"></i></span>
		{{- parent() -}}
	</div>
{% endblock url_widget %}

{% block insCpostal_widget %}
	<div class="input-group mask">
		<span class="input-group-addon"><i class="fa fa-th"></i></span>
		{% set attr = attr|merge({'class': "mask-cp"}) %}
		{{- block('form_widget_simple') -}}
	</div>
{% endblock insCpostal_widget %}

{% block insDept_widget %}
	<div class="input-group mask">
		<span class="input-group-addon"><i class="fa fa-th"></i></span>
		{% set attr = attr|merge({'class': "mask-dept"}) %}
		{{- block('form_widget_simple') -}}
	</div>
{% endblock insDept_widget %}

{% block insSiret_widget %}
	<div class="input-group mask">
		<span class="input-group-addon"><i class="fa fa-slack"></i></span>
		{% set attr = attr|merge({'class': "mask-siret"}) %}
		{{- block('form_widget_simple') -}}
	</div>
{% endblock insSiret_widget %}

{% block insSiren_widget %}
	<div class="input-group mask">
		<span class="input-group-addon"><i class="fa fa-slack"></i></span>
		{% set attr = attr|merge({'class': "mask-siren"}) %}
		{{- block('form_widget_simple') -}}
	</div>
{% endblock insSiren_widget %}

{% block insRadio_widget %}
	{% set label_attr = label_attr|merge({'class': "radio-inline iradio"}) %}
	{{- block('choice_widget') -}}
{% endblock insRadio_widget %}

{% block insCheck_widget %}
	{% set label_attr = label_attr|merge({'class': "checkbox-circle"}) %}
	{{- block('checkbox_widget') -}}
{% endblock insCheck_widget %}

{# {% block xxxxx %}
	<div class="advcropper-widget advcropper-block" id="{{ id }}_advcropper" data-id="{{ id }}" data-form-name="{{ name }}">
		<!-- cropper info -->
		<span class='cropper-info' data-cropper="{{ cropper|json_encode(true) }}"></span>
		<span class='cropper-send-rawfile' data-send="{{ path('siteMedia_saveRawFile', {entityShortName: 'image'}) }}"></span>
		<!-- Visuels -->
		<img id="{{ id }}_image" class='img-responsive img-thumbnail' src="{{ plain_image|default('#') }}" alt="Image">
		<button type="button" class="btn btn-xs btn-primary img-options" style="position: relative; right: 4px; top:4px;"><i class="fa fa-plus fa-fw"></i></button>
	</div>
	{% set attr = attr|merge({'class': "hidden"}) %}
	<textarea {{ block('widget_attributes') }}>{% if form.parent.parent == null %}{{ value|raw }}{% endif %}</textarea>
{% endblock xxxxx %} #}

{# {% block multiCollection_widget %}
	<span id="multi-form_{{ name }}" class="multi-form" data-table-prototype="{{ '<table class=\'table table-hover table-bordered table-condensed table-responsive xsmall m-b-xs\' style=\'background-color:#ffffff;\'><thead><tr></tr></thead><tbody></tbody></table>'|e }}">
		<button class="btn btn-primary btn-outline btn-sm btn-block add_multiform_link" data-target="#multi-form_{{ name }}"><i class="fa fa-plus m-r-xs"></i>Ajouter</button>
		{{- block('form_widget_list') -}}
	</span>
{% endblock multiCollection_widget %} #}

{# {%- block form_widget_list -%}
	{%- set attr = attr|merge({'class': "multi-form-ul list-unstyled" }) -%}
	{%- set attr = attr|merge({'style': "margin-top: 6px;" }) -%}
	{% if prototype is defined %}
		{%- set attr = attr|merge({'data-prototype': form_widget(prototype) }) -%}
	{% endif %}
	{%- if form.parent is empty -%}
		{{ form_errors(form) }}
	{%- endif -%}
	<ul {{ block('widget_container_attributes') }}>
	{% for key,child in form %}
		<li>
		{{- form_widget(child) -}}
		{{- form_errors(child) -}}
		</li>
	{% endfor %}
	</ul>
	{{- form_rest(form) -}}
{%- endblock form_widget_list -%} #}

{# {%- block bs_button_widget -%}
	<button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|striptags|trans({}, translation_domain)|raw }}</button>
{%- endblock bs_button_widget -%} #}
