{% extends "WebsiteAdminBundle:Form:performed_bootstrap_3_layout.html.twig" %}

{% block form_start -%}
	{# {% if is_granted('ROLE_SUPER_ADMIN') %}<div class="well">{{ dump(laboFormData(form, true)) }}</div>{% endif %} #}
	{% set attr = attr|merge({"class": (attr.class|default('') ~ ' form-horizontal')|trim, "data-labo-form": laboFormData(form)}) %}
	{{- parent() -}}
{%- endblock form_start %}

{%- block form_end -%}
	{%- if not render_rest is defined or render_rest -%}
		{{ form_rest(form) }}
	{%- endif -%}
	{%- if form.vars.form_options.hidden_data is defined -%}
	<input type="hidden" name="hidden_data" value="{{ form.vars.form_options.hidden_data|isString ? form.vars.form_options.hidden_data : form.vars.form_options.hidden_data|serialize }}">
	{%- endif -%}
	</form>
	{%- if form.vars.form_options.large_footer is defined and form.vars.form_options.large_footer -%}
	<div style='height:100px;display:block;width:100%;background-color:transparent;'></div>
	{%- endif -%}
	{# {% if is_granted('ROLE_SUPER_ADMIN') %}<div class="well">{{ dump() }}</div>{% endif %} #}
{%- endblock form_end -%}

{# widgets #}

{# {%- block codemirror_widget -%}
    <textarea {{ block('widget_attributes') }}>{{ value|raw }}</textarea>
{%- endblock codemirror_widget -%}
 #}
{# {%- block summernote_widget -%}
    <textarea {{ block('widget_attributes') }}>{{ value|raw }}</textarea>
{%- endblock summernote_widget -%}
 #}
{# Labels #}

{% block form_label -%}
{% spaceless %}
	{% if label is same as(false) %}
		<div class="{{ block('form_label_class') }}"></div>
	{% else %}
		{% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ block('form_label_class'))|trim}) %}
		{{- parent() -}}
	{% endif %}
{% endspaceless %}
{%- endblock form_label %}

{% block form_label_class -%}
col-sm-2
{%- endblock form_label_class %}

{# Rows #}

{% block form_row -%}
{% spaceless %}
	{% if form.vars.cache_key matches('/(_(adv)?cropper_image)$/') or (form.children|length > 0 and form.vars.cache_key matches('/(_images_collection)$/')) %}
		{{ form_widget(form) }}
		{{ form_errors(form) }}
	{% else %}
	<div class="form-group m-b-xs{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
		{{ form_label(form) }}
		<div class="{{ block('form_group_class') }}">
			{{ form_widget(form) }}
			{{ form_errors(form) }}
		</div>
	</div>
	{% endif %}
{% endspaceless %}
{%- endblock form_row %}


{% block checkbox_row -%}
	{{- block('checkbox_radio_row') -}}
{%- endblock checkbox_row %}

{% block radio_row -%}
	{{- block('checkbox_radio_row') -}}
{%- endblock radio_row %}

{% block checkbox_radio_row -%}
{% spaceless %}
	<div class="form-group m-b-xs{% if not valid %} has-error{% endif %}">
		<div class="{{ block('form_label_class') }}"></div>
		<div class="{{ block('form_group_class') }}">
			{{ form_widget(form) }}
			{{ form_errors(form) }}
		</div>
	</div>
{% endspaceless %}
{%- endblock checkbox_radio_row %}

{% block submit_row -%}
{% spaceless %}
	<div class="form-group m-t-lg">
		<div class="{{ block('form_label_class') }}"></div>
		<div class="{{ block('form_group_class') }}">
			{{ form_widget(form) }}
		</div>
	</div>
{% endspaceless %}
{% endblock submit_row %}

{% block form_group_class -%}
col-sm-10
{%- endblock form_group_class %}

{% block form_group_class_full_length -%}
col-sm-12
{%- endblock form_group_class_full_length %}
