{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}

	<div class="row">
		<div class="col-lg-6">
			<div class="mb-4">
				<h3 class="text-uppercase mb-3">{{ 'user.login.title'|trans }}</h3>
				{% if login_data.error %}
				<div>
					<p class="text-danger mb-0">{{ login_data.error.messageKey|trans(login_data.error.messageData, 'security') }}</p>
				</div>
				{% endif %}
			</div>

			<form class="" action="{{ path("fos_user_security_check") }}" method="post">
				{% if login_data.csrf_token %}
				<input type="hidden" name="_csrf_token" value="{{ login_data.csrf_token }}" />
				{% endif %}

				<div class="form-group mb-4">
					<input type="text" id="username" name="_username" value="{{ login_data.last_username }}" required="required" autocomplete="username" class="form-control form-control-lg rounded border-0" required="" placeholder="{{ 'security.login.username'|trans }}">
				</div>

				<div class="form-group mb-4">
					<input type="password" id="password" name="_password" required="required" current-password autocomplete="current-password" class="form-control form-control-lg rounded border-0" required="" placeholder="{{ 'security.login.password'|trans }}">
				</div>

				<div class="form-group form-check mb-1">
					<input type="checkbox" id="remember_me" name="_remember_me" value="on" class="form-check-input">
					<label class="form-check-label text-gray-color mb-3" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
					<a class="pull-right" href="{{ url('fos_user_resetting_request') }}">{{ 'forgotten.password'|trans }}</a>
				</div>
				<div class="pt-2">
					<button type="submit" id="_submit" name="_submit" class="btn btn-primary text-uppercase font-size-15 px-6 px-md-7">{{ 'security.login.submit'|trans }}</button>
				</div>
				{# <div class="text-uppercase text-center py-3">Or</div> #}
				{# <button type="submit" class="btn btn-facebook btn-block text-uppercase">Login with facebook</button> #}
			</form>

		</div>
	</div>

{% endblock fos_user_content %}

{% block fos_user_login_logout %}
	{# no login #}
{% endblock fos_user_login_logout %}
