<script type="text/javascript">

	jQuery(document).ready(function($) {
		// Tinycon.setBubble("X");
		// Tinycon.setOptions({ background: 'red' });
		// swal({text:'Bonjour !', icon: 'success'});
		var revapi1, tpj;
		if (tpj===undefined) { tpj = jQuery; if("off" == "on") tpj.noConflict();}
		var $rev_slider = tpj('.rev_slider_auto');
		if($rev_slider.length) {
			
			var $slider = $rev_slider.first().find('.rev_slider').first();
			if($slider.length) {

				$slider = $slider.first();

				function setREVStartSize(e){
					try{ e.c=jQuery(e.c);var i=jQuery(window).width(),t=9999,r=0,n=0,l=0,f=0,s=0,h=0;
						if(e.responsiveLevels&&(jQuery.each(e.responsiveLevels,function(e,f){f>i&&(t=r=f,l=e),i>f&&f>r&&(r=f,n=e)}),t>r&&(l=n)),f=e.gridheight[l]||e.gridheight[0]||e.gridheight,s=e.gridwidth[l]||e.gridwidth[0]||e.gridwidth,h=i/s,h=h>1?1:h,f=Math.round(h*f),"fullscreen"==e.sliderLayout){var u=(e.c.width(),jQuery(window).height());if(void 0!=e.fullScreenOffsetContainer){var c=e.fullScreenOffsetContainer.split(",");if (c) jQuery.each(c,function(e,i){u=jQuery(i).length>0?u-jQuery(i).outerHeight(!0):u}),e.fullScreenOffset.split("%").length>1&&void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0?u-=jQuery(window).height()*parseInt(e.fullScreenOffset,0)/100:void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0&&(u-=parseInt(e.fullScreenOffset,0))}f=u}else void 0!=e.minHeight&&f<e.minHeight&&(f=e.minHeight);
						$rev_slider.css({height:f});
						// if(e.responsiveLevels&&(jQuery.each(e.responsiveLevels,function(e,f){f>i&&(t=r=f,l=e),i>f&&f>r&&(r=f,n=e)}),t>r&&(l=n)),f=e.gridheight[l]||e.gridheight[0]||e.gridheight,s=e.gridwidth[l]||e.gridwidth[0]||e.gridwidth,h=i/s,h=h>1?1:h,f=Math.round(h*f),"fullscreen"==e.sliderLayout){var u=(e.c.width(),jQuery(window).height());if(void 0!=e.fullScreenOffsetContainer){var c=e.fullScreenOffsetContainer.split(",");if (c) jQuery.each(c,function(e,i){u=jQuery(i).length>0?u-jQuery(i).outerHeight(!0):u}),e.fullScreenOffset.split("%").length>1&&void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0?u-=jQuery(window).height()*parseInt(e.fullScreenOffset,0)/100:void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0&&(u-=parseInt(e.fullScreenOffset,0))}f=u}else void 0!=e.minHeight&&f<e.minHeight&&(f=e.minHeight);e.c.closest(".rev_slider_wrapper").css({height:f})
					}catch(d){console.log("Failure at Presize of Slider:"+d)}
				};

				// var debugMode = {{ app.environment == "dev" ? 'true' : 'false' }};

				if (!/loaded|interactive|complete/.test(document.readyState)) document.addEventListener("DOMContentLoaded",onLoad); else onLoad();
				function onLoad() {
					
					if($slider.revolution == undefined){
						// revslider_showDoubleJqueryError("#grottes01");
					} else {

						var slider_id = $slider.attr('id');
						switch(slider_id) {
							case 'slider_01':
								revapi1 = $slider.show().revolution({
									sliderType:"hero",
									// jsFileLocation:"{{ asset('bundles/websitesite/codecanyon-Dy1zhYaZ-slider-revolution-responsive-jquery-plugin/revolution/js/') }}",
									jsFileLocation:"{{ asset('bundles/websitesite/Generated_sliders/') }}" + slider_id + "/js/",
									sliderLayout:"auto",
									dottedOverlay:"none",
									delay:9000,
									navigation: {
									},
									visibilityLevels:[1240,1024,778,480],
									gridwidth:1400,
									gridheight:868,
									lazyType:"smart",
									parallax: {
										type:"mouse",
										origo:"slidercenter",
										speed:2000,
									  speedbg:0,
									  speedls:0,
										levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
									},
									shadow:0,
									spinner:"off",
									autoHeight:"off",
									disableProgressBar:"on",
									hideThumbsOnMobile:"on",
									hideSliderAtLimit:0,
									hideCaptionAtLimit:0,
									hideAllCaptionAtLilmit:0,
									debugMode:false,
									fallbacks: {
										simplifyAll:"off",
										disableFocusListener:false,
									}
								});
								break;
							case 'slider_02':
								revapi2 = $slider.show().revolution({
									sliderType:"standard",
									jsFileLocation:"{{ asset('bundles/websitesite/Generated_sliders/') }}" + slider_id + "/js/",
									sliderLayout:"fullwidth",
									dottedOverlay:"none",
									delay:9000,
									navigation: {
										keyboardNavigation:"off",
										keyboard_direction: "horizontal",
										mouseScrollNavigation:"off",
										 mouseScrollReverse:"default",
										onHoverStop:"off",
										touch:{
											touchenabled:"on",
											touchOnDesktop:"off",
											swipe_threshold: 75,
											swipe_min_touches: 1,
											swipe_direction: "horizontal",
											drag_block_vertical: false
										}
									},
									visibilityLevels:[1240,1024,778,480],
									gridwidth:1240,
									gridheight:500,
									lazyType:"none",
									scrolleffect: {
										fade:"on",
									},
									parallax: {
										type:"mouse",
										origo:"enterpoint",
										speed:400,
										speedbg:0,
										speedls:0,
										levels:[5,10,15,20,25,30,35,40,45,46,47,48,49,50,51,55],
										disable_onmobile:"on"
									},
									shadow:0,
									spinner:"spinner0",
									stopLoop:"off",
									stopAfterLoops:-1,
									stopAtSlide:-1,
									shuffle:"off",
									autoHeight:"off",
									disableProgressBar:"on",
									hideThumbsOnMobile:"off",
									hideSliderAtLimit:0,
									hideCaptionAtLimit:0,
									hideAllCaptionAtLilmit:0,
									debugMode:false,
									fallbacks: {
										simplifyAll:"off",
										nextSlideOnWindowFocus:"off",
										disableFocusListener:false,
									}
								});
								break;
							default: // slider_03
								revapi2 = $slider.show().revolution({
									sliderType:"standard",
									jsFileLocation:"{{ asset('bundles/websitesite/Generated_sliders/') }}" + slider_id + "/js/",
									sliderLayout:"fullwidth",
									dottedOverlay:"none",
									delay:9000,
									navigation: {
										keyboardNavigation:"off",
										keyboard_direction: "horizontal",
										mouseScrollNavigation:"off",
										 mouseScrollReverse:"default",
										onHoverStop:"off",
										touch:{
											touchenabled:"on",
											touchOnDesktop:"off",
											swipe_threshold: 75,
											swipe_min_touches: 1,
											swipe_direction: "horizontal",
											drag_block_vertical: false
										}
									},
									visibilityLevels:[1240,1024,778,480],
									gridwidth:1240,
									gridheight:500,
									lazyType:"none",
									scrolleffect: {
										fade:"on",
									},
									parallax: {
										type:"mouse",
										origo:"enterpoint",
										speed:400,
										speedbg:0,
										speedls:0,
										levels:[5,10,15,20,25,30,35,40,45,46,47,48,49,50,51,55],
										disable_onmobile:"on"
									},
									shadow:0,
									spinner:"spinner0",
									stopLoop:"off",
									stopAfterLoops:-1,
									stopAtSlide:-1,
									shuffle:"off",
									autoHeight:"off",
									disableProgressBar:"on",
									hideThumbsOnMobile:"off",
									hideSliderAtLimit:0,
									hideCaptionAtLimit:0,
									hideAllCaptionAtLilmit:0,
									debugMode:false,
									fallbacks: {
										simplifyAll:"off",
										nextSlideOnWindowFocus:"off",
										disableFocusListener:false,
									}
								});
								break;
						};
					}; /* END OF revapi call */
				}; /* END OF ON LOAD FUNCTION */
			};
		};

	});

</script>
