{% extends 'WebsiteSiteBundle:Root:root_error_01_' ~ app.environment ~ '.html.twig' %}

{% block all_wrapper %}

	<div class="main-wrapper {{ pageweb.classes.main_wrapper|default('home-main') }} {{ pageweb.classes.background|default('bg-white') }}">

		{% block extra_content %}
		{% endblock extra_content %}

		{% block section %}
		{% endblock section %}

	</div>

{% endblock all_wrapper %}

{% block flashbags %}
	{{ blocks.flashMessages() }}
{% endblock flashbags %}
