<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		{% block head_content %}
		<!-- SITE TITTLE -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>{{ translation_mode() ? 'DEV LIVE TRANSLATION' : 'DEV ' ~ site_context.Entreprise.title|default(null) is not null ? (site_context.Entreprise.title ~ ' - ') ~ Pageweb.title|default('defaultTitle'|trans)|striptags }}{{ Pageweb.tempitem.title|default(null) is not null ? ' - ' ~ Pageweb.tempitem.title|striptags }}</title>

		{% if not is_granted('ROLE_TRANSLATOR') %}
		{% if Pageweb|default(null) is not null and Pageweb.seo|default(false) %}
		<meta name="keywords" content="{{ (Pageweb.tags|default([]))|join(',') }}">
		<meta name="description" content="{{ (Pageweb.description|default(Pageweb.title))|striptagstoreadable }}">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% else %}
		<meta name="keywords" content="{{ 'defaultKeywords'|trans }}">
		<meta name="description" content="{{ 'defaultDescription'|trans }}">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% endif %}
		{% endif %}
		{% endblock head_content %}

		{% block stylesheets %}
		{% stylesheets filter='cssrewrite, yui_css'
		'@WebsiteSiteBundle_star2_css_common'
		'@WebsiteSiteBundle_revolutionslider_css_common'
		output="js/WebsiteSiteBundle/star2_dev_01.css" %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen">
		{% endstylesheets %}
		{% endblock stylesheets %}
		{# <link rel="stylesheet" type="text/css" href="{{ asset('bundles/websitesite/Generated_sliders/slider_01/css/settings.css') }}"> #}
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/websitesite/star-2-0-extension/agenda_table.css') }}">

		<!-- FAVICON -->
		{% if site_context.Entreprise.favicon|default(null) is not null %}
		<link rel="shortcut icon" type="image/{{ site_context.Entreprise.favicon.fileExtension }}" href="{{ asset(fileurl(site_context.Entreprise.favicon, 'favicons', 16)) }}"/>
		{% else %}
		<link rel="shortcut icon" type="image/png" href="favicon.ico"/>
		{% endif %}

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		{# {% if 'openbillet' in site_context.Entreprise.preference('MarketplaceBundle/operator', [], false, true) -%}
		<script type="text/javascript" src="//gadget.open-system.fr/widgets-libs/rel/noyau-1.0.min.js"></script>
		{%- endif %} #}
	</head>     

	<body>
		<div id="body" data-ng-app="star2" data-ng-controller="labositeCtrl" magnify-text>

			{% block preloader -%}
			{%- if Pageweb.preloader|default(false) -%}
			<!-- Preloader -->
			<div id="preloader" class="smooth-loader-wrapper">
				<div class="smooth-loader">
						<div class="sk-circle">
						<div class="sk-circle1 sk-child"></div>
						<div class="sk-circle2 sk-child"></div>
						<div class="sk-circle3 sk-child"></div>
						<div class="sk-circle4 sk-child"></div>
						<div class="sk-circle5 sk-child"></div>
						<div class="sk-circle6 sk-child"></div>
						<div class="sk-circle7 sk-child"></div>
						<div class="sk-circle8 sk-child"></div>
						<div class="sk-circle9 sk-child"></div>
						<div class="sk-circle10 sk-child"></div>
						<div class="sk-circle11 sk-child"></div>
						<div class="sk-circle12 sk-child"></div>
					</div>
				</div>
			</div>
			{%- endif -%}
			{%- endblock preloader -%}

			{% block all_wrapper %}
			{% endblock all_wrapper %}

			{% block flashbags %}
			{% endblock flashbags %}

			{% block popup %}
			{% endblock popup %}

			{% block modale %}
			{% endblock modale %}

		</div>

		{% block javascripts %}
		{% javascripts
		'@WebsiteSiteBundle_star2_js_common'
		output="js/WebsiteSiteBundle/star2_dev_01.js" %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}

		<script type="text/javascript" src="{{ asset('bundles/websitesite/angular/utils.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/websitesite/angular/config.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/websitesite/angular/controller/labo_site.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/websiteadmin/angular/provider/sitedata.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/websiteadmin/angular/provider/localization.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/websiteadmin/angular/provider/entities.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/websiteadmin/angular/provider/atoastr.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/websiteadmin/angular/filter/common-filters.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/websitesite/angular/directive/ready.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/websiteadmin/angular/directive/common.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/websitesite/star-2-0-extension/star2_extensions.js') }}"></script>

		<script type="text/javascript" src="{{ asset('bundles/websitesite/Generated_sliders/slider_03/js/jquery.themepunch.tools.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/websitesite/Generated_sliders/slider_03/js/jquery.themepunch.revolution.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/websitesite/Generated_sliders/slider_03/js/extensions/revolution.extension.actions.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/websitesite/Generated_sliders/slider_03/js/extensions/revolution.extension.carousel.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/websitesite/Generated_sliders/slider_03/js/extensions/revolution.extension.kenburn.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/websitesite/Generated_sliders/slider_03/js/extensions/revolution.extension.layeranimation.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/websitesite/Generated_sliders/slider_03/js/extensions/revolution.extension.migration.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/websitesite/Generated_sliders/slider_03/js/extensions/revolution.extension.navigation.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/websitesite/Generated_sliders/slider_03/js/extensions/revolution.extension.parallax.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/websitesite/Generated_sliders/slider_03/js/extensions/revolution.extension.slideanims.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/websitesite/Generated_sliders/slider_03/js/extensions/revolution.extension.video.min.js') }}"></script>

		{{ include('WebsiteSiteBundle:Root:root_01_common_js.html.twig') }}

		<script type="text/javascript">

			jQuery(document).ready(function($) {
				// alert('lauched!!!');
			});

		</script>

		{% endblock javascripts %}

		{% import 'WebsiteSiteBundle:Macro:environment.html.twig' as environment %}
		{{ environment.sitedata() }}

	</body>
</html>
