{% extends 'WebsiteSiteBundle:Root:root_01_' ~ app.environment ~ '.html.twig' %}
{% import 'WebsiteSiteBundle:Macro:blocks.html.twig' as blocks %}

{% block all_wrapper %}

	{% block header %}
		{{ include('WebsiteSiteBundle:Header:header_01.html.twig', {'Pageweb': Pageweb|default(null), 'Header': header|default(null)}) }}
	{% endblock header %}

	<div class="main-wrapper {{ pageweb.classes.main_wrapper|default('home-main') }} {{ pageweb.classes.background|default('bg-white') }}">

		{% block banner %}
			{% set banner = Pageweb.getTpl('banner') %}
			{% if banner is not null %}{{ include(banner.bundlepathname, {'Pageweb': Pageweb, 'Banner': banner}) }}{% endif %}
		{% endblock banner %}

		{% block title %}
		{% endblock title %}

		{% block breadcrumb %}{{ breadcrumb|default(false) ? blocks.breadcrumb(breadcrumb) }}{% endblock breadcrumb %}

		{% block extra_content %}
		{% endblock extra_content %}

		{% block section %}
		{% endblock section %}

	</div><!-- element wrapper ends -->

	{% block footer %}
		{{ include('WebsiteSiteBundle:Footer:footer_01.html.twig') }}
	{% endblock footer %}

{% endblock all_wrapper %}

{% block flashbags %}
	{{ blocks.flashMessages() }}
{% endblock flashbags %}

{% block popup %}
	{# BOOSTRAP MODALE #}
	{# {% set popups = clearInSession() %} #}
	{# {{ dump(popups) }} #}
	{% set popups = request_data('Popup', 'getDateds', site_context.date) %}
	{# {% for popup in popups %}{% set r = removeFromSession(popup) %}{% endfor %} #}
	{# {{ dump(app.session) }} #}
	{# {{ dump() }} #}
	{% set popup_done = false %}
	{% for popup in popups if not hasInSession(popup) %}
	{% if popup.pagewebs.contains(Pageweb|default(null)) and (is_granted(popup.role) or popup.role is null) and not popup_done and popup.getMasterTypepopup()|lower == 'bootstrap' %}
	<div id="popup_block" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog {{ popup.getOptionTypepopup() }}" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title"><strong>{{ popup.title|raw }}</strong></h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<p>{{ popup.resume|raw }}</p>
				</div>
			</div>
		</div>
	</div>
	{% set r = setInSession(popup) %}
	{% set popup_done = true %}
	{% endif %}
	{% endfor %}
	{# TOASTR #}
	{% for popup in popups if not hasInSession(popup) %}
	{% if popup.pagewebs.contains(Pageweb|default(null)) and (is_granted(popup.role) or popup.role is null) %}
	{% if popup.getMasterTypepopup()|lower == 'toastr' %}
	{% set timer = 3000 + (popup.resume|wordscount * 250) %}
	{% set options = popup.options|default({"closeButton": false,"debug": false,"newestOnTop": false,"progressBar": false,"positionClass": "toast-top-right","preventDuplicates": true,"onclick": null,"showDuration": "300","hideDuration": "1000","timeOut": "{{ timer }}","extendedTimeOut": "1000","showEasing": "swing","hideEasing": "linear","showMethod": "fadeIn","hideMethod": "fadeOut"}) %}
	<div style="display: none;" data-flash-message data-type="{{ popup.getOptionTypepopup() }}" data-options="{{ options|json_encode() }}" data-support="{{ popup.getMasterTypepopup() }}">{{ popup.resume|raw }}</div>
	{% set r = setInSession(popup) %}
	{% endif %}
	{% endif %}
	{% endfor %}
	{# SWEET #}
	{% for popup in popups if not hasInSession(popup) %}
	{% if popup.pagewebs.contains(Pageweb|default(null)) and (is_granted(popup.role) or popup.role is null) %}
	{% if popup.getMasterTypepopup()|lower == 'sweet' %}
	{% set timer = 3000 + (popup.resume|wordscount * 250) %}
	{% set options = {"timer": timer, "timerProgressBar": true}|merge(popup.options|default({})) %}
	<div style="display: none;" data-flash-message data-type="{{ popup.getOptionTypepopup() }}" data-options="{{ options|json_encode() }}" data-support="{{ popup.getMasterTypepopup() }}">{{ popup.resume|raw }}</div>
	{% set r = setInSession(popup) %}
	{% endif %}
	{% endif %}
	{% endfor %}
{% endblock popup %}


