<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		{% block head_content %}
		<!-- SITE TITTLE -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>{{ translation_mode() ? 'LIVE TRANSLATION' : site_context.Entreprise.title|default(null) is not null ? (site_context.Entreprise.title ~ ' - ') ~ Pageweb.title|default('defaultTitle'|trans)|striptags }}{{ Pageweb.tempitem.title|default(null) is not null ? ' - ' ~ Pageweb.tempitem.title|striptags }}</title>

		{% if not is_granted('ROLE_TRANSLATOR') %}
		{% if Pageweb|default(null) is not null and Pageweb.seo|default(false) %}
		<meta name="keywords" content="{{ (Pageweb.tags|default([]))|join(',') }}">
		<meta name="description" content="{{ (Pageweb.description|default(Pageweb.title))|striptagstoreadable }}">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% if referencementActive('fbcode', Pageweb|default(null)) %}
		<meta property="og:title" content="{{ (Pageweb.description|default(Pageweb.title))|striptagstoreadable }}" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="{{ app.request.uri }}" />
		<meta property="og:image" content="{{ absolute_url(asset(site_context.Entreprise.plangrotte.fileUrl)) }}" />
		{% endif %}
		{% else %}
		<meta name="keywords" content="{{ 'defaultKeywords'|trans }}">
		<meta name="description" content="{{ 'defaultDescription'|trans }}">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% endif %}

		{% if referencementActive('googlecode', Pageweb|default(null)) %}
		<!-- Google Code -->
		<script>
			!function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
			(A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
			r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
			}(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', '{{ site_context.Entreprise.ceocodes.googlecode }}');
			ga('send', 'pageview');
		</script>
		<!-- End Google Code -->
		{% endif %}

		{% if referencementActive('fbcode', Pageweb|default(null)) %}
		<!-- Facebook Pixel Code -->
		<script>
			!function(f,b,e,v,n,t,s)
			{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
			n.callMethod.apply(n,arguments):n.queue.push(arguments)};
			if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
			n.queue=[];t=b.createElement(e);t.async=!0;
			t.src=v;s=b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t,s)}(window, document,'script',
			'https://connect.facebook.net/en_US/fbevents.js');
			fbq('init', '{{ site_context.Entreprise.ceocodes.fbcode }}');
			fbq('track', 'PageView');
		</script>
		<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id={{ site_context.Entreprise.ceocodes.fbcode }}&ev=PageView&noscript=1" /></noscript>
		<!-- End Facebook Pixel Code -->
		{% endif %}
		{% endif %}
		{% endblock head_content %}

		{% block stylesheets %}
		{% stylesheets filter='cssrewrite, yui_css'
		'@WebsiteSiteBundle_star2_css_prod'
		output="js/WebsiteSiteBundle/star2_prod_01.css" %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen">
		{% endstylesheets %}
		{% endblock stylesheets %}

		<!-- FAVICON -->
		{% if site_context.Entreprise.favicon|default(null) is not null %}
		<link rel="shortcut icon" type="image/{{ site_context.Entreprise.favicon.fileExtension }}" href="{{ asset(fileurl(site_context.Entreprise.favicon, 'favicons', 16)) }}"/>
		{% else %}
		<link rel="shortcut icon" type="image/png" href="favicon.ico"/>
		{% endif %}

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		{# {% if 'openbillet' in site_context.Entreprise.preference('MarketplaceBundle/operator', [], false, true) -%}
		<script type="text/javascript" src="//gadget.open-system.fr/widgets-libs/rel/noyau-1.0.min.js"></script>
		{%- endif %} #}
	</head>     

	<body>
		<div id="body" data-ng-app="star2" data-ng-controller="labositeCtrl" magnify-text>

			{% block preloader -%}
			{%- if Pageweb.preloader|default(false) -%}
			<!-- Preloader -->
			<div id="preloader" class="smooth-loader-wrapper">
				<div class="smooth-loader">
						<div class="sk-circle">
						<div class="sk-circle1 sk-child"></div>
						<div class="sk-circle2 sk-child"></div>
						<div class="sk-circle3 sk-child"></div>
						<div class="sk-circle4 sk-child"></div>
						<div class="sk-circle5 sk-child"></div>
						<div class="sk-circle6 sk-child"></div>
						<div class="sk-circle7 sk-child"></div>
						<div class="sk-circle8 sk-child"></div>
						<div class="sk-circle9 sk-child"></div>
						<div class="sk-circle10 sk-child"></div>
						<div class="sk-circle11 sk-child"></div>
						<div class="sk-circle12 sk-child"></div>
					</div>
				</div>
			</div>
			{%- endif -%}
			{%- endblock preloader -%}

			{% block all_wrapper %}
			{% endblock all_wrapper %}

			{% block flashbags %}
			{% endblock flashbags %}

			{% block popup %}
			{% endblock popup %}

			{% block modale %}
			{% endblock modale %}

		</div>

		{% block javascripts %}
		{% javascripts
		'@WebsiteSiteBundle_star2_js_prod'
		output="js/WebsiteSiteBundle/star2_prod_01.js" %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}

		{{ include('WebsiteSiteBundle:Root:root_01_common_js.html.twig') }}

		<script type="text/javascript">

			// jQuery(document).ready(function($) {
				//
			// });

		</script>

		{% endblock javascripts %}

		{% import 'WebsiteSiteBundle:Macro:environment.html.twig' as environment %}
		{{ environment.sitedata() }}

	</body>
</html>
