/*General*/
.tho-option {
	direction: ltr;
}

.tho-option-switcher-btn {
  top: 101px;
	position: fixed;
	background: #363636;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	margin-left: -60px;
	min-width: 60px;
}

.tho-icon-option i {
	display: inline-block;
  cursor: pointer;
	padding: 25px 30px;
	position: relative;
	transform: translateX(0px) scale(1);
	transition: transform 0.3s ease 0s, opacity 0.15s ease 0s;
	margin-top: 5px;
}

.tho-setting-icon {
  position: relative;
  background-image: url('taf-settings.svg');
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: center center;
}

.tho-icon-option.tho-cross .tho-setting-icon  {
  background-image: url('taf-tiems.svg');
}

.tho-option-switcher {
	right: 0;
	top: 0px;
	color: #fff;
	width: 315px;
	display: block;
	z-index: 555555;
	position: fixed;
	background: #202020;
	border-radius: 0;
	height: 100%;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.tho-option-visible {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

/*Others*/
.tho-option-switcher .tho-option-switcher-heading {
	color: #fff;
	font-size: 18px;
	font-weight: 200;
}

.tho-subtitle {
	color: #fff;
	font-size: 16px;
	opacity: 0.3;
	display: block;
	margin-bottom: 15px;
	margin-top: 10px;
}

.tho-option-switcher .tho-btn {
	color: #ececec;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 200;
	border: solid 1px #ececec;
	border-radius: 2px !important;
	padding: 4px 10px;
	width: 48%;
	text-align: center;
  margin-right: 10px;
  text-decoration: none;
  line-height: 21px;
}

.tho-option-switcher .tho-btn.tho-active-switcher-btn,
.tho-option-switcher .tho-btn.tho-active-switcher-btn {
	background-color: #ececec;
	color: #000000;
	text-decoration: none;
}

/*Style Swticher Header*/
.tho-option-swticher-header {
	padding: 10px 15px;
	border-radius: 4px 4px 0 0 !important;
	background-color: #363636;
	width: 260px;
	display: block;
	margin: 20px auto;
}

.tho-option-swticher-header .option-switcher-heading {
	margin: 0;
	font-size: 16px;
}

/*Style Swticher Body*/
.tho-option-swticher-body .no-col-space {
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.tho-option-swticher-body hr {
	margin: 11px 0;
	border-color: #454545;
}

.tho-option-swticher-body {
	padding: 15px 15px;
	margin: 0 auto;
	width: 260px;
	background: #454545;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

/*Theme Colors*/
.tho-option-switcher .tho-list-unstyled {
	padding-bottom: 10px;
  padding-left: 0;
  list-style: none;
}

.tho-option-switcher li {
	width: 36px;
	height: 36px;
	cursor: pointer;
	background: #c00;
	display: inline-block;
	border-radius: 10% !important;
	border: solid 2px #909090;
	margin-right: 6px;
}
.tho-option-switcher li:last-child {
	margin-right: 0;
}

.tho-option-switcher li:hover,
.tho-option-switcher li.theme-active,
.tho-option-switcher li.pattern-active {
	border: solid 2px #fff;
}

.tho-option-switcher li.theme-default {
	background: #ff891e;
}

.tho-option-switcher li.theme-color1 {
	background: #00cd96;
}

.tho-option-switcher li.theme-color2 {
	background: #01ace4;
}

.tho-option-switcher li.theme-color3 {
	background: #ee4735;
}

.tho-option-switcher li.theme-color4 {
	background: #8b62ff;
}

.tho-option-switcher h3{
	font-size: 14px;
	color: #ffffff;
	margin-bottom: 15px;
	font-weight: 600;
}

.tho-option-switcher .body-background{
	margin-top: 25px;
}

.tho-option-switcher li.pattern-default {
	background: url("pattern1.png") center repeat;
}

.tho-option-switcher li.pattern1 {
	background: url("pattern2.png") center repeat;
}

.tho-option-switcher li.pattern2 {
	background: url("pattern3.png") center repeat;
}

.tho-option-switcher li.pattern3 {
	background: url("pattern4.png") center repeat;
}

.tho-option-switcher li.pattern4 {
	background: url("pattern5.png") center repeat;
}

.tho-option-switcher li.pattern5 {
	background: url("pattern5.png") center repeat;
}