{# FIXT@fixt_reference = 'admin_topnavbar.html.twig' #}
{# FIXT@_order = 1 #}
{# FIXT@name = 'top navbar admin' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'admin_topnavbar' #}
{# FIXT@prefered = true #}
{# FIXT@subtype = 'L1' #}
<div class="row border-bottom">
	<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
		<div class="navbar-header">
			<a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#"><i class="fa fa-bars"></i> </a>
			<form role="search" class="navbar-form-custom" action="search_results.html">
				<div class="form-group">
					<input type="text" placeholder="{{ 'Search'|trans }}" class="form-control" name="top-search" id="top-search">
				</div>
			</form>
		</div>
		<ul class="nav navbar-top-links navbar-right">
			<li>
				<strong>{{ Entreprise.title|default('') }}</strong>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
					<i class="fa fa-flag"></i> {{ currentLanguage.description|default(currentLanguage.fullname) }}
				</a>
				<ul class="dropdown-menu dropdown-alerts">
					{% for language in Languages %}
					{% if language.active %}
					<li>
						<a href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({locale: language.fullname})) }}" title="{{ language.fullname }}">
							<div>
								<i class="fa fa-flag fa-fw" style="color:{{ language.color|default('#AAAAAA') }};"></i>&nbsp;
								{% if language.fullname == app.request.locale %}
								<strong><u>{{ language.description|default(language.fullname) }}</u></strong>
								{% else %}
								{{ language.description|default(language.fullname) }}
								{% endif %}
								<span class="pull-right text-muted small">{{ language.countryName }}</span>
							</div>
						</a>
					</li>
					{% else %}
					<li class="text-muted">
						<a href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({locale: language.fullname})) }}" title="{{ language.fullname }}">
							<div>
								<i class="fa fa-flag fa-fw" style="color:{{ language.color|default('#AAAAAA') }};"></i>&nbsp;
								{% if language.fullname == app.request.locale %}
								<strong><u><i>{{ language.description|default(language.fullname) }}</i></u></strong>
								{% else %}
								<i>{{ language.description|default(language.fullname) }}</i>
								{% endif %}
								<span class="pull-right text-muted small"><i>{{ language.countryName }}</i></span>
							</div>
						</a>
					</li>
					{% endif %}
					{% if not loop.last %}<li class="divider"></li>{% endif %}
					{% endfor %}
				</ul>
			</li>
			<li>
				<div class="label label-warning hidden-no-dev">DEV</div>
			</li>
			<li>
				<div class="label label-danger superadmin">Super Admin</div>
			</li>
			<li>
				<span class="m-r-sm text-muted welcome-message">Angular <span data-angular-ready><i class="fa fa-circle fa-fw text-danger"></i></span></span>
			</li>
			<li>
				{% if app.user %}
				<a href="{{ path('fos_user_security_logout') }}">
					<i class="fa fa-sign-out"></i> <span>{{ 'user.account.logout'|trans }}</span>
				</a>
				{% else %}
				<a href="{{ path('fos_user_security_login') }}">
					<i class="fa fa-sign-in"></i> <span>{{ 'user.account.login'|trans }}</span>
				</a>
				{% endif %}
			</li>
		</ul>
	</nav>
</div>

