{# FIXT@fixt_reference = 'admin_page_heading.html.twig' #}
{# FIXT@_order = 2 #}
{# FIXT@name = 'page heading admin' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'admin_page_heading' #}
{# FIXT@prefered = true #}
{# FIXT@subtype = 'L2' #}
<div class="row border-bottom white-bg dashboard-header">
	<div class="col-lg-12">
		<h2>{{ Pageweb.titleh1|default('Administration')|raw }} <small><a href="{{ path('homepage') }}" target="_blank" class="btn bnt-xs btn-white woc"><i class="fa fa-globe fa-fw"></i> Langing page</a></small></h2>
	</div>
</div>