{# FIXT@fixt_reference = 'admin_entity_show_heading.html.twig' #}
{# FIXT@_order = 2 #}
{# FIXT@name = 'page heading for entity show' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'admin_entity_show_heading' #}
{# FIXT@subtype = 'L2' #}
<div class="row border-bottom white-bg dashboard-header">
	<div class="col-lg-12">
		<h2><i class="fa {{ entity.icon|default('fa-circle') }} fa-fw"></i> <span>{{ entity.shortname }}</span> <small>{{ entity.title }}</small>
			{% if hasRoute('wsa_' ~ entity.shortname|lower ~ '_list') -%}
			<a href="{{ url('wsa_' ~ entity.shortname|lower ~ '_list') }}"{#  data-create-entity="{{ entity.shortname }}" #} class="btn btn-sm btn-white pull-right woc"><i class="fa fa-bars fa-fw"></i> <span>{{ entity.shortname }}</span></a>
			{%- endif %}
			{% if hasRoute('wsa_' ~ entity.shortname|lower ~ '_create') -%}
			<a href="{{ url('wsa_' ~ entity.shortname|lower ~ '_create') }}"{#  data-create-entity="{{ entity.shortname }}" #} class="btn btn-sm btn-white pull-right woc m-r-xs"><i class="fa fa-plus fa-fw"></i> <span>{{ entity.shortname }}</span></a>
			{%- endif %}
		</h2>
	</div>
</div>