{# FIXT@fixt_reference = 'admin_entity_list_heading.html.twig' #}
{# FIXT@_order = 2 #}
{# FIXT@name = 'page heading for entity list' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'admin_entity_list_heading' #}
{# FIXT@subtype = 'L2' #}
{# <div class="row border-bottom white-bg dashboard-header">
	<div class="col-lg-12">
		<h2><i class="fa {{ entity.icon|default('fa-circle') }} fa-fw"></i> <span>{{ (_root.titleh1|default(entity.shortname))|ucfirst }}</span>
			{% if hasRoute('wsa_' ~ entity.shortname|lower ~ '_create') and entityActionGranted('create', entity) -%}
			<a href="{{ url('wsa_' ~ entity.shortname|lower ~ '_create') }}" class="btn btn-sm btn-white pull-right woc"><i class="fa fa-plus fa-fw"></i> <span data-translate>{{ entity.shortname }}</span></a>
			{%- endif %}
		</h2>
	</div>
</div> #}