{# FIXT@fixt_reference = 'admin_translation_list_heading.html.twig' #}
{# FIXT@_order = 2 #}
{# FIXT@name = 'page heading for Translation list' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'admin_translation_list_heading' #}
{# FIXT@subtype = 'L2' #}
<div class="row border-bottom white-bg dashboard-header">
	<div class="col-lg-12">
		<h2><i class="fa fa-flag fa-fw"></i> <span>{{ entity|shortname }}</span>
			{% if hasRoute('wsa_' ~ entity|shortname(true) ~ '_create') -%}
			<a href="{{ url('wsa_' ~ entity|shortname(true) ~ '_create') }}"{#  data-create-entity="{{ entity|shortname }}" #} class="btn btn-sm btn-white pull-right woc"><i class="fa fa-plus fa-fw"></i> <span data-translate>{{ entity|shortname }}</span></a>
			{%- endif %}
		</h2>
	</div>
</div>