{# FIXT@fixt_reference = 'admin_entity_create_heading.html.twig' #}
{# FIXT@_order = 2 #}
{# FIXT@name = 'page heading for entity create' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'admin_entity_create_heading' #}
{# FIXT@subtype = 'L2' #}
<div class="row border-bottom white-bg dashboard-header">
	<div class="col-lg-12">
		<h2><i class="fa {{ entity.icon|default('fa-circle') }} fa-fw"></i> <span>New {{ entity.shortname }}</span>
			{% if hasRoute('wsa_' ~ entity.shortname|lower ~ '_list') -%}
			<a href="{{ url('wsa_' ~ entity.shortname|lower ~ '_list') }}"{#  data-create-entity="{{ entity.shortname }}" #} class="btn btn-sm btn-warning pull-right woc"><i class="fa fa-ban fa-fw"></i> <span data-translate>Annuler</span></a>
			{%- endif %}
		</h2>
	</div>
</div>