{% set site_url = "https://www.{{ site_context.Entreprise.title|default('inconnu')|striptags }}.com" %}
<h2>Conditions Générales d’Utilisation du site Internet {{ site_url }} <br><small>En vigueur au 01/01/2021</small></h2>

<p>Les présentes conditions générales d'utilisation (dites « CGU ») ont pour objet l'encadrement juridique des modalités de mise à disposition du site et des services par {{ site_context.Entreprise.title|default('inconnu')|striptags }} et de définir les conditions d’accès et d’utilisation des services par « l’Utilisateur ».</p>
<p>Les présentes CGU sont accessibles sur le site à la rubrique « Informations Juridiques ».</p>

<h3><strong>ARTICLE 1 - Les mentions légales</strong></h3>

<p>L’édition du site {{ site_url }} est assurée par la Société {{ site_context.Entreprise.title|default('inconnu')|striptags }} dont le siège social est situé à {{ site_context.Entreprise.elocation|default('inconnu') }}.</p>
<p>Numéro de téléphone : {{ site_context.Entreprise.tel|default('inconnu') }}</p>
<p>Adresse e-mail : {{ site_context.Entreprise.email|default('inconnu') }}</p>
<p>Le Directeur de la Publication est : XXXXXXXXXXXXX</p>
<p>L’hébergeur du site est OVH France https://www.ovh.com/fr/</p>

<h3><strong>ARTICLE 2 - Informatique et liberté</strong></h3>

<h4><strong>ARTICLE 2.1 - Traitement des données</strong></h4>
<p>Pour les Données Personnelles collectées dans le cadre de la création du compte personnel de l’Utilisateur et de sa navigation sur le Site, le responsable du traitement des Données Personnelles est :</p>
<p>
	<i><strong>{{ site_context.Entreprise.title|default('inconnu')|striptags }} – {{ site_context.Entreprise.functionality|default('inconnu')|striptags }}</strong></i><br>
	<i>{{ site_context.Entreprise.elocation|default('inconnu') }}</i><br>
	<i>Tél. : {{ site_context.Entreprise.tel|default('inconnu') }}</i>
</p>
<p></p>
<p>En tant que responsable du traitement des données qu’il collecte, {{ site_context.Entreprise.title|default('inconnu')|striptags }} s’engage à respecter le cadre des dispositions légales en vigueur. Il appartient notamment au Client d’établir les finalités de ses traitements de données, de fournir à ses prospects et clients, à partir de la collecte de leurs consentements, une information complète sur le traitement de leurs données personnelles et de maintenir un registre des traitements conforme à la réalité. Chaque fois que {{ site_context.Entreprise.title|default('inconnu')|striptags }} traitent des Données Personnelles, {{ site_context.Entreprise.title|default('inconnu')|striptags }} prend toutes les mesures raisonnables pour s’assurer de l’exactitude et de la pertinence des Données Personnelles au regard des finalités pour lesquelles {{ site_context.Entreprise.title|default('inconnu')|striptags }} les traite.</p>

<h4><strong>ARTICLE 2.2 - Données récoltées</strong></h4>
<p>Il s'agit des informations que vous nous fournissez via des champs de texte : votre nom, votre adresse mail, votre numéro de téléphone, votre adresse de livraison ou votre adresse de facturation.</p>

<h4><strong>ARTICLE 2.3 - Finalité des données collectées</strong></h4>
<p>{{ site_context.Entreprise.title|default('inconnu')|striptags }} sont susceptibles de traiter tout ou partie des données :</p>
<p>
	<ul>
		<li>pour permettre la navigation sur le Site et la gestion et la traçabilité des prestations et services commandés par l’utilisateur : données de connexion et d’utilisation du Site, facturation, historique des commandes, etc.,</li>
		<li>pour prévenir et lutter contre la fraude informatique (spamming, hacking…) : matériel informatique utilisé pour la navigation, l’adresse IP, le mot de passe (hashé),</li>
		<li>pour améliorer la navigation sur le Site : données de connexion et d’utilisation,</li>
		<li>pour mener des enquêtes de satisfaction facultatives,</li>
		<li>pour mener des campagnes de communication (sms, mail) : numéro de téléphone, adresse email.</li>
	</ul>
</p>
<p>Ces données sont conservées sans limite de durée, jusqu'à notification contraire de votre part, ou dès qu'il est porté à notre connaissance que ces données ne sont plus valables.</p>
<p>{{ site_context.Entreprise.title|default('inconnu')|striptags }} ne commercialise pas vos données personnelles qui sont donc uniquement utilisées par nécessité ou à des fins statistiques et d’analyses.</p>

<h4><strong>ARTICLE 2.4 - Droit d’accès, de rectification et d’opposition</strong></h4>
<p>Conformément à la réglementation européenne en vigueur, les Utilisateurs de {{ site_url }} disposent des droits suivants :</p>
<p>
	<ul>
		<li>droit d'accès (article 15 RGPD) et de rectification (article 16 RGPD), de mise à jour, de complétude des données des Utilisateurs droit de verrouillage ou d’effacement des données des Utilisateurs à caractère personnel (article 17 du RGPD), lorsqu’elles sont inexactes, incomplètes, équivoques, périmées, ou dont la collecte, l'utilisation, la communication ou la conservation est interdite,</li>
		<li>droit de retirer à tout moment un consentement (article 13-2c RGPD),</li>
		<li>droit à la limitation du traitement des données des Utilisateurs (article 18 RGPD),</li>
		<li>droit d’opposition au traitement des données des Utilisateurs (article 21 RGPD),</li>
		<li>droit à la portabilité des données que les Utilisateurs auront fournies, lorsque ces données font l’objet de traitements automatisés fondés sur leur consentement ou sur un contrat (article 20 RGPD),</li>
		<li>droit de définir le sort des données des Utilisateurs après leur mort et de choisir à qui {{ site_context.Entreprise.title|default('inconnu')|striptags }} devra communiquer (ou non) ses données à un tiers qu’il aura préalablement désigné,</li>
		<li>dès que {{ site_context.Entreprise.title|default('inconnu')|striptags }} a connaissance du décès d’un Utilisateur et à défaut d’instructions de sa part, {{ site_context.Entreprise.title|default('inconnu')|striptags }} s’engage à détruire ses données, sauf si leur conservation s’avère nécessaire à des fins probatoires ou pour répondre à une obligation légale,</li>
		<li>Si l’Utilisateur souhaite savoir comment {{ site_context.Entreprise.title|default('inconnu')|striptags }} utilise ses Données Personnelles, demande à les rectifier ou s’oppose à leur traitement, l’Utilisateur peut contacter {{ site_context.Entreprise.title|default('inconnu')|striptags }} par écrit à l’adresse suivante :
			<p>
				<i><strong>{{ site_context.Entreprise.title|default('inconnu')|striptags }} – {{ site_context.Entreprise.functionality|default('inconnu')|striptags }}</strong></i><br>
				<i>{{ site_context.Entreprise.elocation|default('inconnu') }}</i><br>
				<i>Tél. : {{ site_context.Entreprise.tel|default('inconnu') }}</i>
			</p>
		</li>
	</ul>
</p>
<p>Dans ce cas, l’Utilisateur doit indiquer les Données Personnelles qu’il souhaiterait que {{ site_context.Entreprise.title|default('inconnu')|striptags }} corrige, mette à jour ou supprime, en s’identifiant précisément avec une copie d’une pièce d’identité (carte d’identité ou passeport).</p>
<p>Les demandes de suppression de Données Personnelles seront soumises aux obligations qui sont imposées à {{ site_context.Entreprise.title|default('inconnu')|striptags }} par la loi, notamment en matière de conservation ou d’archivage des documents. Enfin, les Utilisateurs de {{ site_url }} peuvent déposer une réclamation auprès des autorités de contrôle, et notamment de la CNIL (<a href="https://www.cnil.fr/fr/plaintes" target="_blank">https://www.cnil.fr/fr/plaintes</a>).</p>

<h4><strong>ARTICLE 2.5 - Non-communication des données personnelles</strong></h4>
<p>Vos données personnelles ne seront jamais vendues ou cédées à une autre société dans un but commercial ou de communication.</p>
<p>{{ site_context.Entreprise.title|default('inconnu')|striptags }} s’interdit de traiter, héberger ou transférer les Informations collectées sur ses Clients vers un pays situé en dehors de l’Union européenne ou reconnu comme « non adéquat » par la Commission européenne sans en informer préalablement le client. Pour autant, {{ site_context.Entreprise.title|default('inconnu')|striptags }} reste libre du choix de ses sous-traitants techniques et commerciaux à la condition qu’il présente les garanties suffisantes au regard des exigences du Règlement Général sur la Protection des Données (RGPD : n° 2016-679).</p>
<p>{{ site_context.Entreprise.title|default('inconnu')|striptags }} s’engage à prendre toutes les précautions nécessaires afin de préserver la sécurité des Informations et notamment qu’elles ne soient pas communiquées à des personnes non autorisées. Cependant, si un incident impactant l’intégrité ou la confidentialité des Informations du Client est portée à la connaissance de {{ site_context.Entreprise.title|default('inconnu')|striptags }}, celle-ci devra dans les meilleurs délais informer le Client et lui communiquer les mesures de corrections prises. Par ailleurs {{ site_context.Entreprise.title|default('inconnu')|striptags }} ne collecte aucune « données sensibles ».</p>
<p>Les Données Personnelles de l’Utilisateur peuvent être traitées par des filiales de {{ site_context.Entreprise.title|default('inconnu')|striptags }} et des sous-traitants (prestataires de services), exclusivement afin de réaliser les finalités de la présente politique.</p>
<p>Dans la limite de leurs attributions respectives et pour les finalités rappelées ci-dessus, les principales personnes susceptibles d’avoir accès aux données des Utilisateurs de {{ site_context.Entreprise.title|default('inconnu')|striptags }} sont principalement les agents de notre service client.</p>

<h3><strong>ARTICLE 3 - Accès au site</strong></h3>

<p>Le site {{ site_url }} permet à l’Utilisateur un accès gratuit aux services proposés : informations relatives au {{ site_context.Entreprise.functionality|default('inconnu')|striptags }} de {{ site_context.Entreprise.title|default('inconnu')|striptags }} et ses partenaires.</p>
<p>Le site est accessible gratuitement en tout lieu à tout Utilisateur ayant un accès internet. Tous les frais supportés par l’Utilisateur pour accéder au service (matériel informatique, logiciels, connexion Internet, etc.) sont à sa charge.</p>

<h3><strong>ARTICLE 4 - Collecte des données</strong></h3>

<p>Le site est exempté de déclaration à la Commission Nationale Informatique et Libertés (CNIL) dans la mesure où il ne collecte aucune donnée concernant les utilisateurs.</p>

<h3><strong>ARTICLE 5 - Droits d'auteur et/ou Droit sur les dessins, photos et textes</strong></h3>

<p>Le présent site constitue une œuvre dont {{ site_context.Entreprise.title|default('inconnu')|striptags }} est l'auteur au sens des articles L. 111.1 et suivants du Code de la propriété intellectuelle.</p>
<p>Tous les textes, images, graphiques, sons, vidéo et animations ainsi que leur arrangement ou disposition sont protégés au titre du droit d´auteur et aux autres lois relatives à la protection de la propriété intellectuelle. Ils ne peuvent être ni modifiés, ni copiés à des fins commerciales ou à des fins de reproduction, ni utilisés sur d´autres sites web.</p>
<p>Les logos, icônes et puces graphiques représentés sur le site sont protégés au titre des droits d'auteur et des articles L.511.1 et suivants du Code de la propriété intellectuelle relatifs à la protection des modèles déposés.</p>
<p>La visite de ce site ne peut faire naître aucun droit de licence à votre profit.</p>
<!-- <p>Il est rappelé conformément à l’article L 122-5 du Code de la Propriété Intellectuelle que l’Utilisateur qui reproduit, copie ou publie le contenu protégé doit citer l’auteur et sa source.</p> -->

<h3><strong>ARTICLE 6 - Responsabilité</strong></h3>

<p>Les informations figurant dans ces pages ne sont assorties d´aucune garantie, expresse ou implicite, autre que celles résultant de dispositions légales. Les pages internet du site comprennent également des liens vers d´autres sites internet sur lesquels {{ site_context.Entreprise.title|default('inconnu')|striptags }} n'a aucun contrôle.</p>
<p>Dans ces circonstances, nous ne garantissons pas l´exactitude, l´exhaustivité ou la qualité des informations qui y sont présentées. En conséquence, nous déclinons toute responsabilité quant au contenu de ces pages.</p>
<!-- <p>Les sources des informations diffusées sur le site {{ site_url }} sont réputées fiables mais le site ne garantit pas qu’il soit exempt de défauts, d’erreurs ou d’omissions.</p> -->
<!-- <p>Les informations communiquées sont présentées à titre indicatif et général sans valeur contractuelle. Malgré des mises à jour régulières, le site {{ site_url }} ne peut être tenu pour responsable de la modification des dispositions administratives et juridiques survenant après la publication. De même, le site ne peut être tenu pour responsable de l’utilisation et de l’interprétation de l’information contenue sur celui-ci.</p> -->
<!-- <p>Le site {{ site_url }} ne peut être tenu pour responsable d’éventuels virus qui pourraient infecter l’ordinateur ou tout matériel informatique de l’Internaute, suite à une utilisation, à l’accès ou au téléchargement provenant de ce site.</p> -->
<!-- <p>La responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d’un tiers.</p> -->

<!-- <h3><strong>ARTICLE 7 - Liens hypertextes</strong></h3> -->

<!-- <p>Des liens hypertextes peuvent être présents sur le site. L’Utilisateur est informé qu’en cliquant sur ces liens, il sortira du site {{ site_url }}. Ce dernier n’a pas de contrôle sur les pages web sur lesquelles aboutissent ces liens, et ne saurait, en aucun cas, être responsable de leur contenu.</p> -->

<h3><strong>ARTICLE 7 - Cookies</strong></h3>

<p>L’utilisateur est informé que lors de ses visites sur le site, un cookie peut s’installer automatiquement sur son logiciel de navigation.</p>
<p>Les cookies sont de petits fichiers stockés temporairement sur le disque dur de l’ordinateur de l’Utilisateur par votre navigateur et qui sont nécessaires à l’utilisation du site {{ site_url }}. Les cookies ne contiennent pas d’informations personnelles et ne peuvent pas être utilisés pour identifier quelqu’un. Un cookie contient un identifiant unique généré aléatoirement et donc anonyme. Certains cookies expirent à la fin de la visite de l’Utilisateur, d’autres restent.</p>
<p>L’information contenue dans les cookies est utilisée pour améliorer le site {{ site_url }}.</p>
<p>En navigant sur le site, l’Utilisateur les accepte.</p>
<p>l’Utilisateur pourra désactiver ces cookies par l’intermédiaire des paramètres figurant au sein de son logiciel de navigation.</p>

<h3><strong>ARTICLE 8 - Droit applicable et juridiction compétente</strong></h3>

<p>La législation française s’applique au présent contrat. En cas d’absence de résolution amiable d’un litige né entre les parties, les tribunaux français seront seuls compétents pour statuer sur ce litige.</p>
<p>Pour toute question relative à l’application des présentes CGU, vous pouvez joindre l’éditeur aux coordonnées inscrites à l’ARTICLE 1.</p>
