{% set qrcode = site_context.Entreprise.planparc %}
<div class="row">
	<div class="col-lg-12">
		<h3>Contact</h3>
	</div>
	<div class="col-sm-{{ qrcode is not null ? 6 : 12 }}">
		{% if site_context.Entreprise.mainTelephon is not null %}
		<div>{{ icon(site_context.Entreprise.mainTelephon, true, false, 'fa-1x')|raw }}</div>
		<h2>
			<a href="tel:{{ site_context.Entreprise.mainTelephon.phonenumber|default('') }}">{{ site_context.Entreprise.mainTelephon.phonenumber|default('') }}</a>
		</h2>
		{% endif %}
		{% if site_context.Entreprise.email is not null %}
		<div><i class="fa fa-envelope fa-fw fa-1x"></i></div>
		<h2>
			<a href="mailto:{{ site_context.Entreprise.email|default('') }}">{{ site_context.Entreprise.email|default('') }}</a>
		</h2>
		{% endif %}
		{% if site_context.Entreprise.mainAdresse is not null %}
		<div>{{ icon(site_context.Entreprise.mainAdresse, true, false, 'fa-1x')|raw }}</div>
		<h2>
			<a href="{{ site_context.Entreprise.mainAdresse.address|default('')|striptags|googlemappize }}" target="_blank">{{ site_context.Entreprise.mainAdresse.address|default('')|br_striptags|raw }}</a>
		</h2>
		{% endif %}
	</div>
	{% if qrcode is not null %}
	<div class="col-sm-6 text-right">
		<img class="img-lg img-thumbnail img-responsive" src="{{ asset(fileurl(qrcode, 'formated', 200)) }}" ,="" style="width: 300px;" alt="QR-Code {{ site_context.Entreprise.slug }}">
	</div>
	{% endif %}
</div>