  <!-- ====================================
  ———	BREADCRUMB
  ===================================== -->
<section class="page-title">
  <div class="page-title-img bg-img bg-overlay-darken" style="background-image: url(@@bg-image);">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-9 col-xl-8">
          <div class="page-title-content py-7 py-md-8">
            <div class="@@title-border">
              <h2 class="text-uppercase text-white font-weight-bold">@@title</h2>
            </div>
            <p class="text-white mb-0">@@text <a class="hover-text-primary" href=" @@link" target="_blank">click here.</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>