    </div><!-- element wrapper ends -->

    <!-- ====================================
        ——— FOOTER SECTION
        ===================================== -->
    <footer class="footer-2">
      <div class="footer-bg-color bg-white py-9">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-3 mb-7 mb-lg-0">
              <a class="d-inline-block" href="index.html">
                <img class="w-100 mb-6" src="assets/img/logo-color-big.png" alt="img">
              </a>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute</p>

                <ul class="list-inline d-flex mb-0">
                  <li class="mr-3 mr-lg-2 mr-xl-3">
                    <a class="icon-default icon-border-secondary icon-gray rounded-circle hover-bg-primary" href="javascript:void(0)">
                      <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                  </li>
                
                  <li class="mr-3 mr-lg-2 mr-xl-3">
                    <a class="icon-default icon-border-secondary icon-gray rounded-circle hover-bg-primary" href="javascript:void(0)">
                      <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                  </li>
                
                  <li class="mr-3 mr-lg-2 mr-xl-3">
                    <a class="icon-default icon-border-secondary icon-gray rounded-circle hover-bg-primary" href="javascript:void(0)">
                      <i class="fa fa-google-plus" aria-hidden="true"></i>
                    </a>
                  </li>
                
                  <li class="mr-3 mr-lg-2 mr-xl-3">
                    <a class="icon-default icon-border-secondary icon-gray rounded-circle hover-bg-primary" href="javascript:void(0)">
                      <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                    </a>
                  </li>
                
                  <li class="">
                    <a class="icon-default icon-border-secondary icon-gray rounded-circle hover-bg-primary" href="javascript:void(0)">
                      <i class="fa fa-vimeo" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
            </div>

            <div class="col-md-6 col-lg-3 mt-md-4 mb-7 mb-lg-0">
              <div class="title-tag">
                <h6 class="text-dark">Contact us</h6>
              </div>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod.</p>
              <ul class="list-unstyled mb-0">
                <li class="media mb-2">
                  <div class="mr-3">
                    <i class="fa fa-home" aria-hidden="true"></i>
                  </div>
                  <div class="media-body">
                    <a href="contact.html">61 Park Street, Fifth Avenue, NY</a>
                  </div>
                </li>

                <li class="media mb-2">
                  <div class="mr-3">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                  </div>
                  <div class="media-body">
                    <a href="tel:88657524332">[88] 657 524 332</a>
                  </div>
                </li>

                <li class="media">
                  <div class="mr-3">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                  </div>
                  <div class="media-body">
                    <a href="mailTo:info@star-travel.com">info@star-travel.com</a>
                  </div>
                </li>
              </ul>
            </div>

            <div class="col-md-6 col-lg-3 mt-lg-4 mb-7 mb-md-0">
              <div class="title-tag">
                <h6 class="text-dark">Discover</h6>
              </div>

              <ul class="list-unstyled mb-0">
                <li class="media mb-3">
                  <div class="media-body">
                    <a href="">Tour Guide</a>
                  </div>
                </li>

                <li class="media mb-3">
                  <div class="media-body">
                    <a href="">Community Blog</a>
                  </div>
                </li>

                <li class="media mb-3">
                  <div class="media-body">
                    <a href="">Flight</a>
                  </div>
                </li>

                <li class="media mb-3">
                  <div class="media-body">
                    <a href="">Special Offer</a>
                  </div>
                </li>

                <li class="media">
                  <div class="media-body">
                    <a href="">Terms & Condition</a>
                  </div>
                </li>
              </ul>
            </div>

            <div class="col-md-6 col-lg-3 mt-lg-4">
              <div class="title-tag">
                <h6 class="text-dark">Destination</h6>
              </div>

              <ul class="list-unstyled mb-0">
                <li class="media mb-3">
                  <div class="media-body">
                    <a href="">Art Gallery</a>
                  </div>
                </li>
              
                <li class="media mb-3">
                  <div class="media-body">
                    <a href="">Museums</a>
                  </div>
                </li>
              
                <li class="media mb-3">
                  <div class="media-body">
                    <a href="">Food Corner</a>
                  </div>
                </li>
              
                <li class="media mb-3">
                  <div class="media-body">
                    <a href="">Opera House</a>
                  </div>
                </li>
              
                <li class="media">
                  <div class="media-body">
                    <a href="">Hotel</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="copyright py-6">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 order-1 order-md-0">
              <p class="mb-0 mb-md-0 text-md-left">Copyright &copy; 2019 All Rights Reserved by
                <a href="http://www.iamabdus.com/" target="_blank">Abdus.</a>
              </p>
            </div>

            <div class="col-md-6">
              <ul
                class="list-inline text-capitalize d-flex align-items-center justify-content-md-end justify-content-center mb-md-0">
                <li class="mr-3">
                  <a href="setting.html">Privacy policy</a>
                </li>

                <li class="mr-3">
                  <a href="about-us.html">About us</a>
                </li>

                <li class="mr-3">
                  <a href="contact.html">Support</a>
                </li>

                <li class="">
                  <a href="blog-single-right-sidebar.html">Blog</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>


    <!-- ====================================
    ——— MODAL SECTION
    ===================================== -->
    <!-- Signup Modal -->
    <div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-label="signupModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header rounded">
            <h3 class="modal-title text-uppercase font-weight-bold">Create your account</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="" action="index.html" method="post">
              <div class="form-group">
                <input type="text" class="form-control bg-smoke" required="" placeholder="Full Name">
              </div>
    
              <div class="form-group">
                <input type="email" class="form-control bg-smoke" required="" placeholder="Email">
              </div>
    
              <div class="form-group">
                <input type="password" class="form-control bg-smoke" required="" placeholder="Password">
              </div>
    
              <div class="form-group form-check mb-0">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label text-gray-color mb-3" for="exampleCheck1">
                  I agree to the terms of use and privacy.
                </label>
              </div>
    
              <button type="submit" class="btn btn-primary btn-block text-uppercase">Login</button>
    
              <div class="text-uppercase text-center py-3">Or</div>
    
              <button type="submit" class="btn btn-facebook btn-block text-uppercase">Login with facebook</button>
            </form>
          </div>
    
          <div class="modal-footer justify-content-center">
            <p class="mb-1">Don’t have an Account? <a href="javascript:void(0)">Sign up</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Login Modal -->
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-label="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header rounded">
            <h3 class="modal-title text-uppercase font-weight-bold">Log in to your account</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="" action="index.html" method="post">
              <div class="form-group">
                <input type="email" class="form-control bg-smoke" required="" placeholder="Email">
              </div>

              <div class="form-group">
                <input type="password" class="form-control bg-smoke" required="" placeholder="Password">
              </div>

              <div class="form-group form-check mb-0">
                <input type="checkbox" class="form-check-input" id="exampleCheck2">
                <label class="form-check-label text-gray-color mb-3" for="exampleCheck2">
                  Remember me
                </label>
                <a class="pull-right" href="javascript:void(0)">Fogot Password?</a>
              </div>
              <button type="submit" class="btn btn-primary btn-block text-uppercase">Login</button>
              <div class="text-uppercase text-center py-3">Or</div>
              <button type="submit" class="btn btn-facebook btn-block text-uppercase">Login with facebook</button>
            </form>
          </div>

          <div class="modal-footer justify-content-center">
            <p class="mb-1">Don’t have an Account? <a href="javascript:void(0)">Sign up</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- LOG IN MODAL -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-label="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-uppercase">Log in to your account</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <input type="text" class="form-control" id="recipient-name1" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="recipient-name2" placeholder="Password">
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck3">
                <label class="form-check-label d-flex align-items-center justify-content-between"
                  for="exampleCheck3"><span>Remember Me </span><a class="" href="#">Fogot Password?</a>
                </label>
              </div>
              <button type="submit" class="btn btn-primary text-uppercase">Login</button>
              <div class="text-uppercase text-center">
                Or
              </div>
              <button type="submit" class="btn btn-primary text-uppercase">Login with facebook</button>
            </form>
          </div>
          <div class="modal-footer justify-content-center">
            <p class="">Don’t have an Account?<a href="#"> Sign up</a></p>
          </div>
        </div>
      </div>
    </div>


    <!-- Javascript -->
    <script src="assets/plugins/jquery/jquery-3.4.1.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="assets/plugins/fancybox/jquery.fancybox.min.js"></script>
    <script src="assets/plugins/isotope/isotope.min.js"></script>
    <script src="assets/plugins/syotimer/jquery.syotimer.min.js"></script>
    <script src="assets/plugins/select2/js/select2.min.js"></script>
    <script src="assets/plugins/daterangepicker/js/moment.min.js"></script>
    <script src="assets/plugins/daterangepicker/js/daterangepicker.min.js"></script>
    <script src="assets/plugins/velocity/velocity.min.js"></script>
    <script src="assets/plugins/images-loaded/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="assets/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="assets/plugins/menuzord/js/menuzord.js"></script>
    <script src="assets/plugins/dzsparallaxer/dzsparallaxer.js"></script>
    <script src="assets/plugins/slick/slick.min.js"></script>
    <script src="assets/plugins/selectric/jquery.selectric.min.js"></script>
    <script src="assets/plugins/no-ui-slider/nouislider.min.js"></script>
    <script src="assets/plugins/rateyo/jquery.rateyo.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDU79W1lu5f6PIiuMqNfT1C6M0e_lq1ECY"></script>
    <script src="assets/js/star.js"></script>
  </body>
</html>