    </div>
    <!-- ====================================
    ——— FOOTER SECTION
    ===================================== -->
    <footer class="bg-secondary">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <a href="#">
              <img class="" src="assets/img/logo-color-big.png" alt="img">
            </a>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
              et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat. Duis aute</p>
            <ul class="list-unstyled d-flex">
              <li>
                <a class="d-inline-block" href="#">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a class="d-inline-block" href="#">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a class="d-inline-block" href="#">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a class="d-inline-block" href="#">
                  <i class="fa fa-skype" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a class="d-inline-block" href="#">
                  <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-3">
            <h6 class="text-uppercase">Contact us</h6>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod.</p>
            <ul class="list-unstyled">
              <li class="media">
                <div class="">
                  <i class="fa fa-home" aria-hidden="true"></i>
                </div>
                <div class="media-body">
                  <p>61 Park Street, Fifth Avenue, NY</p>
                </div>
              </li>
              <li class="media">
                <div class="">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <div class="media-body">
                  <p>[88] 657 524 332</p>
                </div>
              </li>
              <li class="media">
                <div class="">
                  <i class="fa fa-envelope-o" aria-hidden="true"></i>
                </div>
                <div class="media-body">
                  <a href="mailTo:info@star-travel.com" class="text-muted">info@star-travel.com</a>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-3">
            <h6 class="text-uppercase">Discover</h6>
            <ul class="list-unstyled">
              <li class="">
                <a class="" href="#">Tour Guide</a>
              </li>
              <li class="">
                <a class="" href="#">Community Blog</a>
              </li>
              <li class="">
                <a class="" href="#">Flight</a>
              </li>
              <li class="">
                <a class="" href="#">Special Offer</a>
              </li>
              <li>
                <a class="" href="#">Terms &amp; Condition</a>
              </li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-3">
            <h6 class="text-uppercase">Destination</h6>
            <ul class="list-unstyled">
              <li class="">
                <a class="" href="#">Art Gallery</a>
              </li>
              <li class="">
                <a class="" href="#">Museums</a>
              </li>
              <li class="">
                <a class="" href="#">Food Corner</a>
              </li>
              <li class="">
                <a class="" href="#">Opera House</a>
              </li>
              <li>
                <a class="" href="#">Hotel</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="">
        <div class="container">
          <div class="row">
            <div class="col-md-7 order-1 order-md-0">
              <p class="text-center text-md-left">Copyright &copy;2016 All Rights Reserved by <a
                  href="http://www.iamabdus.com/">Abdus</a>
              </p>
            </div>
            <div class="col-md-5">
              <ul class="list-unstyled d-flex justify-content-center justify-content-md-end">
                <li>
                  <a class="" href="#">Privacy policy</a>
                </li>
                <li>
                  <a class="" href="#">About us</a>
                </li>
                <li>
                  <a class="" href="#">Support</a>
                </li>
                <li>
                  <a class="" href="#">Blog</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>

    
    <!-- Javascript -->
    <script src="assets/plugins/jquery/jquery-3.4.1.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="assets/plugins/fancybox/jquery.fancybox.min.js"></script>
    <script src="assets/plugins/isotope/isotope.min.js"></script>
    <script src="assets/plugins/syotimer/jquery.syotimer.min.js"></script>
    <script src="assets/plugins/select2/js/select2.min.js"></script>
    <script src="assets/plugins/daterangepicker/js/moment.min.js"></script>
    <script src="assets/plugins/daterangepicker/js/daterangepicker.min.js"></script>
    <script src="assets/plugins/velocity/velocity.min.js"></script>
    <script src="assets/plugins/images-loaded/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="assets/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="assets/plugins/menuzord/js/menuzord.js"></script>
    <script src="assets/plugins/dzsparallaxer/dzsparallaxer.js"></script>
    <script src="assets/plugins/slick/slick.min.js"></script>
    <script src="assets/plugins/selectric/jquery.selectric.min.js"></script>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDU79W1lu5f6PIiuMqNfT1C6M0e_lq1ECY"></script>
    
    <script src="assets/js/star.js"></script>

  </body>
</html>