<!-- ====================================
———	PAGE TITLE
===================================== -->
<section class="page-title">
  <div class="page-title-img bg-img bg-overlay-darken" style="background-image: url(@@bg-image);">
    <div class="container">
      <div class="row align-items-center justify-content-center" style="height: 200px;">
        <div class="col-lg-6">
          <div class="page-title-content">
            <div class="@@title-border">
              <h2 class="text-uppercase text-white font-weight-bold">@@title</h2>
            </div>
            <p class="text-white mb-0">@@text</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>