<div class="row">
	<div class="col-sm-3 font-bold text-right hidden-xs" data-translate="{[{ label }]}"></div>
	<div class="col-sm-3 font-bold text-left visible-xs" data-translate="{[{ label }]}"></div>
	<div class="col-sm-9" data-ng-class='parameters.class'>
		<span data-ng-bind-html="value|defaultfield"></span>
	</div>
</div>
