<div class="ibox">
	<div class="ibox-title">
		<h5 data-translate="{[{ label }]}"></h5>
		<div class="ibox-tools">
			<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
			<a class="fullscreen-link"><i class="fa fa-expand"></i></a>
		</div>
	</div>
	<div class="ibox-content"><div class="scroll_content" data-ng-bind-html="value|defaultfield"></div></div>
</div>
