<div class="row">
	<div class="col-sm-3 font-bold text-right hidden-xs" data-translate="{[{ label }]}"></div>
	<div class="col-sm-3 font-bold text-left visible-xs" data-translate="{[{ label }]}"></div>
	<div class="col-sm-9" data-ng-class='parameters.class'>
		<span data-ng-if="!!value">
			<i class="fa fa-check fa-fw text-success"></i> <span data-translate="{[{ 'Oui' }]}"></span>
		</span>
		<span data-ng-if="!value">
			<i class="fa fa-ban fa-fw text-danger"></i> <span data-translate="{[{ 'Non' }]}"></span>
		</span>
	</div>
</div>
