<div class="row">
	<div class="col-sm-3 font-bold text-right hidden-xs" data-translate="{[{ label }]}"></div>
	<div class="col-sm-3 font-bold text-left visible-xs" data-translate="{[{ label }]}"></div>
	<div class="col-sm-9" data-ng-class='parameters.class'>
		<!-- <i class="fa fa-folder fa-fw" data-ng-style="{'color': value.color}"></i> <span data-ng-bind="value.name|defaultfield"></span> -->
		<!-- <hr> -->
		<div data-jstree-directory="value"></div>
	</div>
</div>
