<header class="header{{ Pageweb.getTpl('banner')|default(null) is not null ? ' pb-9 pb-lg-0' }}" id="pageTop">
{% import 'WebsiteSiteBundle:Macro:menuzord.html.twig' as menuzord %}

	{% if not is_granted('ROLE_TRANSLATOR') %}
	{% if not (app.user.preferences.cookies|default(false) or app.session.get('accepted_cookies')|default(false)) %}
	<!-- Top Bar -->
	<div class="top-bar d-md-block">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-12">
					<ul class="list-inline d-flex mb-0">
						<li><div class="media-body" data-cookie-advert="'{{ url('user_accept_cookies', {id: app.user.id|default(0)}) }}'">{{ 'cookies_advert'|trans|raw }}</div></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	{% elseif is_granted('ROLE_SUPER_ADMIN') or not site_context.isNormalContext() %}
	<!-- Top Bar -->
	<div class="top-bar d-md-block bg-danger text-white">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-12">
					<ul class="list-inline d-flex mb-0">
						<li><div class="media-body text-white"><strong>{{ 'Informations ADMIN'|trans }}</strong> <i class="fa fa-arrow-right fa-fw"></i> </div></li>
						<li><div class="media-body text-white">Langue <strong>{{ currentLanguage.description|default(currentLanguage.fullname) }}</strong> <i class="fa fa-square fa-fw"></i> </div></li>
						<li><div class="media-body text-white" title="{{ site_context.getContextDate()|localizeddate('none', 'none', app.request.locale, null, "cccc d MMMM Y HH:mm") }}">Date <strong>{{ site_context.date_as_string|trans([], domain_admin) }}</strong> <i class="fa fa-square fa-fw"></i> </div></li>
						<li><div class="media-body text-white">Contexte <strong>{{ site_context.Entreprise.name|default('<i class="fa fa-times fa-fw"></i>')|raw }}</strong></div></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	{% endif %}

	{{ menuzord.make_menu(Header.dirmenus|default([]), Pageweb|default(null)) }}

</header>