{# FIXT@fixt_reference = 'entity_update.html.twig' #}
{# FIXT@name = 'Entity update' #}
{# FIXT@titleh1 = 'Modification élément' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_update' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_update_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<h2 class="text-center m-t-none p-b-sm p-sm border-bottom"><small class="text-muted">{{ 'name'|trans({}, entity|shortname)|striptags }}</small> {{ icon(form.vars.data)|raw }} <strong>{{ 'Creation...'|trans|striptags }}</strong>{% if site_context.isTranslatorAndShow() and entity._tm|default(null) is not null %} {% set language = getLanguage(entity._tm.currentLocale) %}<img src="{{ asset(fileurl(language.thumbnail,'thumbnails',32)) }}" style="width: 32px;">{% endif %} <span class="label label-primary m-sm">{{ app.user.preference('forms.contexts').value|default('?')|join(' ') }}</span></h2>
		{# {{ dump(form.vars.data) }} #}

		{{ actions.alertStatus(form.vars.data) }}
		{{ actions.showOnwers(form.vars.data) }}

		{{ form_start(form) }}
			{{ form_errors(form) }}
			<div class="panel panel-primary" style="background-color: #dddddd;">
				<div class="panel-heading">Textes</div>
				<ul class="list-group">
					<li class="list-group-item">{% if form.inputname is defined %}{{ form_row(form.inputname) }}{% endif %}</li>
					<li class="list-group-item">{% if form.accroche is defined %}{{ form_row(form.accroche) }}{% endif %}</li>
					<li class="list-group-item">{% if form.resume is defined %}{{ form_row(form.resume) }}{% endif %}</li>
					<li class="list-group-item">{% if form.fulltext is defined %}{{ form_row(form.fulltext) }}{% endif %}</li>
				</ul>
			</div>
			<div class="panel panel-primary" style="background-color: #dddddd;">
				<div class="panel-heading">Informations diverses</div>
				<ul class="list-group">
					<li class="list-group-item">{% if form.accesshandicap is defined %}{{ form_row(form.accesshandicap) }}{% endif %}</li>
					<li class="list-group-item">{% if form.activitygroups is defined %}{{ form_row(form.activitygroups) }}{% endif %}</li>
				</ul>
			</div>
			<div class="panel panel-primary" style="background-color: #dddddd;">
				<div class="panel-heading">Tarifs</div>
				<ul class="list-group">
					<li class="list-group-item">{% if form.prixttc is defined %}{{ form_row(form.prixttc) }}{% endif %}</li>
					<li class="list-group-item">{% if form.pricecompute is defined %}{{ form_row(form.pricecompute) }}{% endif %}</li>
				</ul>
			</div>
			<div class="panel panel-primary" style="background-color: #dddddd;">
				<div class="panel-heading">Images</div>
				<ul class="list-group">
					<li class="list-group-item">{% if form.thumbnail is defined %}{{ form_row(form.thumbnail) }}{% endif %}</li>
					<li class="list-group-item">{% if form.photo is defined %}{{ form_row(form.photo) }}{% endif %}</li>
				</ul>
			</div>
			<div class="panel panel-primary" style="background-color: #dddddd;">
				<div class="panel-heading">Autres paramètres</div>
				<div class="panel-body">
					<div class="container">
						<div class="row">
							{% if form.timebefore is defined %}
							<div class="col-md-6 col-lg-4">
								<div class="panel panel-success" style="background-color: transparent;">
									<div class="panel-heading">{{ form.timebefore.vars.label|trans({}, form.timebefore.vars.translation_domain) }}</div>
									<div class="panel-body">
										<div class="text-center">{{ form_widget(form.timebefore) }}</div>
										<div class="text-center">{{ form_errors(form.timebefore) }}</div>
									</div>
								</div>
							</div>
							{% endif %}
							{% if form.timeduring is defined %}
							<div class="col-md-6 col-lg-4">
								<div class="panel panel-success" style="background-color: transparent;">
									<div class="panel-heading">{{ form.timeduring.vars.label|trans({}, form.timeduring.vars.translation_domain) }}</div>
									<div class="panel-body">
										<div class="text-center">{{ form_widget(form.timeduring) }}</div>
										<div class="text-center">{{ form_errors(form.timeduring) }}</div>
									</div>
								</div>
							</div>
							{% endif %}
							{% if form.timeafter is defined %}
							<div class="col-md-6 col-lg-4">
								<div class="panel panel-success" style="background-color: transparent;">
									<div class="panel-heading">{{ form.timeafter.vars.label|trans({}, form.timeafter.vars.translation_domain) }}</div>
									<div class="panel-body">
										<div class="text-center">{{ form_widget(form.timeafter) }}</div>
										<div class="text-center">{{ form_errors(form.timeafter) }}</div>
									</div>
								</div>
							</div>
							{% endif %}
							{% if form.difficulty is defined %}
							<div class="col-md-6 col-lg-4">
								<div class="panel panel-success" style="background-color: transparent;">
									<div class="panel-heading">{{ form.difficulty.vars.label|trans({}, form.difficulty.vars.translation_domain) }}</div>
									<div class="panel-body">
										<div class="text-center">{{ form_widget(form.difficulty) }}</div>
										<div class="text-center">{{ form_errors(form.difficulty) }}</div>
									</div>
								</div>
							</div>
							{% endif %}
							{% if form.rangeactors is defined %}
							<div class="col-md-12 col-lg-8">
								<div class="panel panel-success" style="background-color: transparent;">
									<div class="panel-heading">{{ form.rangeactors.vars.label|trans({}, form.rangeactors.vars.translation_domain) }}</div>
									<div class="panel-body">
										<div class="text-center">{{ form_widget(form.rangeactors) }}</div>
										<div class="text-center">{{ form_errors(form.rangeactors) }}</div>
									</div>
								</div>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			{# <div class="panel panel-primary"> #}
				{# <div class="panel-heading">Enregistrer</div> #}
				{# <div class="panel-body"> #}
					<hr>
					{% if form.submit is defined %}{{ form_row(form.submit) }}{% endif %}
					{% if form.submit_show is defined %}{{ form_row(form.submit_show) }}{% endif %}
					{% if form.submit_new is defined %}{{ form_row(form.submit_new) }}{% endif %}
				{# </div> #}
			{# </div> #}
			{# <div class="panel panel-primary" style="background-color: #dddddd;">
				<div class="panel-heading">Autres...</div>
				<div class="panel-body">
					{{ form_rest(form) }}
				</div>
			</div> #}

			{# <button type="submit" class="btn btn-primary">Créer</button> #}
		{{ form_end(form) }}

	</div>
</div>
{% endblock content %}
