{# FIXT@fixt_reference = 'entity_show.html.twig' #}
{# FIXT@name = 'Entity show' #}
{# FIXT@titleh1 = 'Entité' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_show' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends 'WebsiteAdminBundle:Bases:base_wrap_01.html.twig' %}
{% import 'WebsiteAdminBundle:Macro:entities_actions.html.twig' as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">

		{% if entity|default(null) is not null %}

		<div class="row">
			<div class="col-lg-12">
				<h2 class="text-center m-t-none p-b-sm p-sm border-bottom"><small class="text-muted">{{ 'name'|trans({}, entity.shortname)|striptags }}</small> <strong>{{ entity.name|default(entity.id) }}</strong> <span class="label label-primary m-sm">{{ app.user.preference('forms.contexts').value|default('?')|join(' ') }}</span></h2>
				{# {% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %} #}
				{# <h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ entity.contextdate|localizeddate('full', 'full', currentLanguage.fullname) }}</h4> #}
				{# {% endif %} #}
				{{ actions.alertStatus(entity) }}
				{{ actions.showOnwers(entity) }}
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">

				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>{{ 'Informations'|trans }}</h5>
					</div>
					<div class="ibox-content">
						<p>{{ 'Nom' }} : <strong>{{ entity.name }}</strong></p>
						<p>{{ 'Prix/pers.' }} : {{ entity.prixttc|number_format(2,',','') }}€</p>
						<p>{{ 'Durée' }} : {{ entity.timeduring }} min.</p>
						<p>{{ 'Temps avant' }} : {{ entity.timebefore }} min.</p>
						<p>{{ 'Temps après' }} : {{ entity.timeafter }} min.</p>
						<p>{{ 'Difficulté' }} : {{ entity.difficulty }}</p>
						<p>{{ 'Nombre de personnes' }} : {{ entity.rangeactorsText }}</p>
						<p>{{ 'Accès handicapés' }} : {{ actions.booleanIcon(entity.accesshandicap, 'fa-wheelchair text-info') }}</p>
						<p>{{ 'Groupes' }} : {{ actions.entity_labels(entity.activitygroupsNames()) }}</p>
					</div>
				</div>

				{{ actions.imagesThumbs(entity, 'lg') }}

			</div>

			<div class="col-md-6">

				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>{{ 'Accroche'|trans }}</h5>
					</div>
					<div class="ibox-content">
						{{ entity.accroche|raw }}
					</div>
				</div>

				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>{{ 'Résumé'|trans }}</h5>
					</div>
					<div class="ibox-content">
						{{ entity.resume|raw }}
					</div>
				</div>

				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>{{ 'Texte complet'|trans }}</h5>
					</div>
					<div class="ibox-content">
						{{ entity.fulltext|raw }}
					</div>
				</div>

				{# {{ actions.iboxControl(entity, 'full', 'short') }} #}
				{# {{ actions.iboxDirs(entity, true) }} #}
			</div>
		</div>

		{% else %}
		{{ actions.notfound(model) }}
		{% endif %}

	</div>
</div>
{% endblock content %}
