{# FIXT@fixt_reference = 'admin_index.html.twig' #}
{# FIXT@name = 'tableau de bord admin superadmin' #}
{# FIXT@titleh1 = 'Tableau de bord administration superadmin' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'admin_index' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_page_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{# FIXT@prefered = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}

{% block content %}

	{% if is_granted('ROLE_SUPER_ADMIN') %}
	<div class="row">
		<div class="col-lg-12">

			<div class="row">

				{% if imageForm|default(null) is not null %}
				<div class="col-lg-6">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>Creation Image</h5>
						</div>
						<div class="ibox-content">
							{{ form(imageForm) }}
							{% if app.user.superadmin and imageForm.vars.data.currentVersion is not null %}
							{% set file = imageForm.vars.data %}
							{% set version = file.currentVersion %}
							{% set fields = {name: "originalFileName", fileSize: "fileSize", fileExtension: "fileExtension", stream_type_while_upload: "stream_type_while_upload", mediatype: "mediatype", subtype: "subtype"} %}
							<hr>
							<table class="table table-hover">
								<thead>
									<tr>
										<th>Field</th>
										<th><i class="fa {{ file.icon }} fa-fw"></i> File {{ file.shortname }}</th>
										<th>{{ version.shortname }}</th>
									</tr>
								</thead>
								<tbody>
									{% for ffield,vfield in fields %}
									<tr>
										<td>{{ file|field(ffield) ? ffield : vfield }}</td>
										<td title="{{ ffield }}">{{ (file|field(ffield))|default('---') }}</td>
										<td title="{{ vfield }}">{{ (version|field(vfield))|default('---') }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
							<hr>
							{# {{ dump(imageForm.vars.data.currentVersion.uploadFile) }} #}
							{% endif %}
						</div>
					</div>
				</div>
				{% endif %}

				{% if pdfForm|default(null) is not null %}
				<div class="col-lg-6">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>Creation Pdf</h5>
						</div>
						<div class="ibox-content">
							{{ form(pdfForm) }}
						</div>
					</div>
				</div>
				{% endif %}

				{% if videoForm|default(null) is not null %}
				<div class="col-lg-6">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>Creation Video</h5>
						</div>
						<div class="ibox-content">
							{{ form(videoForm) }}
						</div>
					</div>
				</div>
				{% endif %}

				{% if directoryForm|default(null) is not null %}
				<div class="col-lg-6">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>Creation Directory</h5>
						</div>
						<div class="ibox-content">
							{{ form(directoryForm) }}
						</div>
					</div>
				</div>
				{% endif %}

			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6">
			<div class="row">

				{% if items|default([])|length %}
				<div class="col-lg-12">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>List of Items {{ items|length }}</h5>
						</div>
						<div class="ibox-content">
							<ul>
								{% for item in items if not item.isDirInterface %}
								<li><small>{{ item.shortname }}</small> <strong title="{{ item.lvl }} - {{ item.pathname }}">{{ item.name }}</strong> <small class="text-success">{{ item.owner.username|default(null) }} </small>{% if item.root %}ROOT {% endif %}{% if item.orphan %}<small class="text-warning">Orphelin</small> {% else %}<small class="text-info">{{ item.parentLinks|length }} parent{{ item.parentLinks|length > 1 ? 's' }} <a href="{{ path('websiteadmin-nested-remove-directorys', {id: item.id}) }}" title="Retirer de tous les directorys"><i class="fa fa-times fa-fw"></i></a></small> {% endif %}<a href="{{ path('websiteadmin-remove-item', {id: item.id}) }}" style="color: darkred; display: inline;" title="Supprimer {{ item.name }}"><small>supprimer</small></a>
									{% if directorys|length %}
									<form action="{{ path('websiteadmin-directory-add-nested', {id: item.id}) }}" method="POST">
										<input type="hidden" name="classname" value="{{ item.classname }}">
										<button name="hard">Hard</button>&nbsp;
										<button name="symb">Symb</button>&nbsp;set in&nbsp;
										<select name="directory">
											{% for directory in directorys %}
											<option value="{{ directory.id }}">{{ directory.name }}</option>
											{% endfor %}
										</select>
									</form>
									{% endif %}
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				{% endif %}

				{% if directorys|default([])|length %}
				<div class="col-lg-12">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>List of Directories {{ directorys|length }}</h5>
						</div>
						<div class="ibox-content">
							<ul>
								{% for directory in directorys %}
								<li><small>{{ directory.shortname }} {{ directory.created|date("h:i:s") }}</small> <strong title="{{ directory.lvl }} - {{ directory.pathname }}">{{ directory.name }}</strong> <small class="text-success">{{ directory.owner.username|default(null) }} </small>{% if directory.root %}<small class="text-warning">ROOT</small>{% endif %}{% if directory.orphan %} <small class="text-warning">Orphelin</small> {% else %}<small class="text-info">{{ directory.parentLinks|length }} parent{{ directory.parentLinks|length > 1 ? 's' }} <a href="{{ path('websiteadmin-nested-remove-directorys', {id: directory.id}) }}" title="Retirer de tous les directorys"><i class="fa fa-times fa-fw"></i></a></small> {% endif %}<a href="{{ path('websiteadmin-remove-directory', {slug: directory.slug}) }}" style="color:darkred; display: inline;" title="Supprimer {{ directory.name }}"><small>supprimer</small></a>
									{% if directorys|length > 1 %}
									<form action="{{ path('websiteadmin-directory-add-nested', {id: directory.id}) }}" method="POST">
										<input type="hidden" name="classname" value="{{ directory.classname }}">
										<button>Set</button>&nbsp;
										<select name="directory">
											{% for directory2 in directorys if directory2 is not same as(directory) %}
											<option value="{{ directory2.id }}">{{ directory2.name }}</option>
											{% endfor %}
										</select>
									</form>
									{% endif %}
									{% if directory.childLinksNotNew|length %}
									<ul>
										{% for link in directory.childLinksNotNew %}
										{% set item = link.child %}
										<li>
											{{ item.symbolic ? '<i>' }}
											<small><i>{{ item.position }}</i> {{ item.shortname }}</small>
											&nbsp;<strong title="{{ item.lvl }} - {{ item.pathname }}">{{ item.name }}</strong>
											<small>
												{% if not loop.first %}
												<a href="{{ path('websiteadmin-link-movetotop', {id: link}) }}" class="btn btn-xs btn-white"><i class="fa fa-fast-backward fa-fw"></i></a>
												<a href="{{ path('websiteadmin-link-moveup', {id: link}) }}" class="btn btn-xs btn-white"><i class="fa fa-backward fa-fw"></i></a>
												{% endif %}
												{% if not loop.last %}
												<a href="{{ path('websiteadmin-link-movedown', {id: link}) }}" class="btn btn-xs btn-white"><i class="fa fa-forward fa-fw"></i></a>
												<a href="{{ path('websiteadmin-link-movetobottom', {id: link}) }}" class="btn btn-xs btn-white"><i class="fa fa-fast-forward fa-fw"></i></a>
												{% endif %}
												<a href="{{ path('websiteadmin-directory-remove-nested', {id: link}) }}" class="btn btn-xs btn-white"><i class="fa fa-times fa-fw"></i></a>
											</small>
											{{ item.symbolic ? '</i>' }}
										</li>
										{% endfor %}
									</ul>
									{% endif %}
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				{% endif %}

				{% if links|default([])|length %}
				<div class="col-lg-12">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>List of Links {{ links|length }}</h5>
						</div>
						<div class="ibox-content">
							<ul>
								{% for link in links -%}
								<li>Link {{ link.symbolic ? '<i>' : '<strong>' }}<small>{{ link.typeLink }} => Dir:</small> {{ link.directory.name|default('-') }} / <small>Child:</small> {{ link.child.name|default('-') }}{{ link.symbolic ? '</i>' : '</strong>' }} / Pos. : {{ link.position }}</li>
								{%- endfor %}
							</ul>
						</div>
					</div>
				</div>
				{% endif %}

				<div class="col-lg-12">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>{{ 'api-doc'|trans }}</h5>
						</div>
						<div class="ibox-content">
							<div>
								<p><a href="{{ path('nelmio_api_doc_index') }}" target="_blank">{{ 'api-doc-view'|trans }}</a></p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="col-lg-6">

			<div class="row">
				<div class="col-lg-12">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>List of orphan Items</h5>
							<div class="ibox-tools">
								<a class="collapse-link">
									<i class="fa fa-chevron-up"></i>
								</a>
								<a title="Refresh folders">
									<i class="fa fa-refresh" data-jstree-refresh="#jstree-files"></i>
								</a>
							</div>
						</div>
						<div class="ibox-content">
							<div id="jstree-files" data-jstree-files></div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>{{ 'names'|trans({}, 'Directory') }}</h5>
							<div class="ibox-tools">
								<a class="collapse-link">
									<i class="fa fa-chevron-up"></i>
								</a>
								<a title="Refresh folders">
									<i class="fa fa-refresh" data-jstree-refresh="#jstree-files-directory"></i>
								</a>
							</div>
						</div>
						<div class="ibox-content" style="overflow: auto; padding: 4px;">
							<div id="jstree-files-directory" data-jstree-path-files="'files'"></div>
						</div>
					</div>
				</div>
			</div>

			{% if app.user %}
			<div class="row">
				<div class="col-lg-12">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>Drive for {{ app.user.name }} > <u>{{ app.user.driveDir.name }}</u></h5>
							<div class="ibox-tools">
								<a class="collapse-link">
									<i class="fa fa-chevron-up"></i>
								</a>
								<a title="Refresh folders">
									<i class="fa fa-refresh" data-jstree-refresh="#jstree-{{ app.user.driveDir.id }}"></i>
								</a>
							</div>
						</div>
						<div class="ibox-content" style="overflow: auto; padding: 4px;">
							<div id="jstree-{{ app.user.driveDir.id }}" data-jstree-directory="{{ app.user.driveDir.id }}"></div>
							{# {{ dump(app.user.driveDir) }} #}
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>System for {{ app.user.name }} > <u>{{ app.user.systemDir.name }}</u></h5>
							<div class="ibox-tools">
								<a class="collapse-link">
									<i class="fa fa-chevron-up"></i>
								</a>
								<a title="Refresh folders">
									<i class="fa fa-refresh" data-jstree-refresh="#jstree-{{ app.user.systemDir.id }}"></i>
								</a>
							</div>
						</div>
						<div class="ibox-content" style="overflow: auto; padding: 4px;">
							<div id="jstree-{{ app.user.systemDir.id }}" data-jstree-directory="{{ app.user.systemDir.id }}"></div>
							{# {{ dump(app.user.systemDir) }} #}
						</div>
					</div>
				</div>
			</div>
			{% endif %}

			{% if userdir|default([])|length %}
			{% for dir in userdir %}
			<div class="row">
				<div class="col-lg-12">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5><u>{{ dir.name }}</u> for {{ dir.owner.name }} / <small><i>{{ dir.pathname }}</i></small></h5>
							<div class="ibox-tools">
								<a class="collapse-link">
									<i class="fa fa-chevron-up"></i>
								</a>
								<a title="Refresh folders">
									<i class="fa fa-refresh" data-jstree-refresh="#jstree-{{ dir.id }}"></i>
								</a>
							</div>
						</div>
						<div class="ibox-content" style="overflow: auto; padding: 4px;">
							<div id="jstree-{{ dir.id }}" data-jstree-directory="{{ dir.id }}"></div>
							{# {{ dump(dir) }} #}
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
			{% else %}
			<div class="row">
				<div class="col-lg-12">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>No user dir found</h5>
							<div class="ibox-tools">
								<a class="collapse-link">
									<i class="fa fa-chevron-up"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endif %}

{# 			<div class="row">
				{% for directory in directorys if directory.root %}
				<div class="col-lg-12">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>Tree for {{ directory.name }}</h5>
							<div class="ibox-tools">
								<a class="collapse-link">
									<i class="fa fa-chevron-up"></i>
								</a>
								<a title="Refresh folders">
									<i class="fa fa-refresh" data-jstree-refresh="#jstree-{{ directory.id }}"></i>
								</a>
							</div>
						</div>
						<div class="ibox-content">
							<div id="jstree-{{ directory.id }}" data-jstree-directory="{{ directory.id }}"></div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div> #}

		</div>

	</div>
	{% endif %}

{% endblock content %}
