{# FIXT@fixt_reference = 'admin_contexts_list.html.twig' #}
{# FIXT@name = 'Liste des contextes disponibles par User' #}
{# FIXT@titleh1 = 'Liste des contextes disponibles par User' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'admin_contexts_list' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_page_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{# FIXT@prefered = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}

{% block content %}

	<div class="row">
		<div class="col-lg-12">

			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Contextes pour {{ user.username }}</h5>
				</div>
				<div class="ibox-content">
					<div class="row">
						<div class="col-md-6">
							<h3>Environnement Personnel</h3>
							<div class="list-group">
								{% for new_user in context_choices.users %}
								<a class="list-group-item{{ site_context.isCurrentEnvironment(new_user) ? ' active' }}" href="{{ path('wsa_contexts_list') ~ '?' ~ site_context.CONTEXT_ENVIRONMENT_TOKEN_NAME ~ '=' ~ new_user.bddid|url_encode }}"><i class="fa {{ new_user.icon }} fa-fw m-r-sx"></i>{{ new_user.name }}</a>
								{% endfor %}
							</div>
						</div>
						<div class="col-md-6">
							<h3>Environnement Entreprise</h3>
							<div class="list-group">
								{% for new_environment in context_choices.entreprises %}
								<a class="list-group-item{{ site_context.isCurrentEnvironment(new_environment) ? ' active' }}" href="{{ path('wsa_contexts_list') ~ '?' ~ site_context.CONTEXT_ENVIRONMENT_TOKEN_NAME ~ '=' ~ new_environment.bddid|url_encode }}"><i class="fa {{ new_environment.icon }} fa-fw m-r-sx"></i>{{ new_environment.name }}</a>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
			{# <p>{{ app.request.uri }}</p> #}
			{# {{ dump(context_choices) }} #}
		</div>
	</div>

{% endblock content %}
