{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block dev_content %}
{% endblock dev_content %}

{% block content %}

	{% if is_granted('ROLE_SUPER_ADMIN') %}
	<div class="row">
		<div class="col-sm-4 col-md-3 col-lg-2">
			{% for class,ent in entities %}
			{# {% set name = ent|ucfirst %} #}
			{% set name = 'name'|trans([], ent) %}
			{% set name = name == 'name' ? ent|ucfirst : name %}
			<a class="btn btn-{{ (entity is defined) and (entity|shortname|default(null) == ent) ? 'success' : 'default' }} btn-block" href="{{ path('wsa_info_entity', {entity: ent|lower}) }}" role="button" title="{{ ent|ucfirst }}">{{ icon(ent, true, true, ['fa-fw','pull-left','m-r-xs'], true)|raw }}{{ name|striptags }}</a>
			{% endfor %}
		</div>
		{% if entity.shortname|default(null) in entities %}
		<div class="col-sm-8 col-md-9 col-lg-10">
			<div class="well well-sm">
				<h3><i class="fa {{ entity.defaultIcon }} fa-fw m-r-xs"></i>{{ entity.shortname }}{{ entity._tm|default(null) is not null ? ('<span class="pull-right text-info" title="' ~ 'Élément avec traductions'|trans ~ '"> ' ~ icon('Language', true, true, ['fa-fw','m-r-xs']) ~ '</span>')|raw }}</h3>
				<hr>
				<h3>{{ icon('Basedirectory', 'fa-fw', true, true)|raw }} {{ entity.shortname }} owned directorys</h3>
				<div class="row">
					<div class="col-lg-12">
						{# {{ dump(schema_own_directorys) }} #}
						{% if schema_own_directorys|length %}
						<ul>
							{% for path,items in schema_own_directorys %}
							<li>
								<strong>{{ path }}</strong>
								<ul>
									{% for name,item in items %}
									<li>{{ name }} <i class="text-muted">(Type:  {{ item.typedir|default('---') }} / Static: {{ actions.booleanIcon(item.dirstatic) }})</i></li>
									{% endfor %}
								</ul>
							</li>
							{% endfor %}
						</ul>
						{% else %}
						<p><i class="text-muted">Cette entité ne contient pas de système de dossiers.</i></p>
						{% endif %}
					</div>
				</div>
				<hr>
				<h3>{{ entity.shortname }} class parents</h3>
				<div class="row">
					{% for name in ['Instances', 'TraitNames', 'Interfaces'] %}
					<div class="col-lg-4">
						<h4>{{ name|ucfirst }}</h4>
						<ul>
							{% for it in entity|field(name) %}
							<li>{{ it }}</li>
							{% endfor %}
						</ul>
					</div>
					{% endfor %}
				</div>
				<hr>
				<div class="row">
					<div class="col-lg-4">
						<h3>{{ entity.shortname }} class annotations</h3>
						<ul>
							{% for name,annotation in entity.getAnnotations([], 'class')['class'] %}
							<li>{{ name }}</li>
							{% endfor %}
						</ul>
					</div>
					<div class="col-lg-4">
						<h3>{{ entity.shortname }} properties annotations</h3>
						<ul>
							{% for name,annotations in entity.getAnnotations([], 'properties')['properties'] %}
							<li><strong>{{ name }}</strong>
								<ul class="list-unstyled">
									{% for name2,annotation in annotations %}
									<li>{{ name2 }}</li>
									{% endfor %}
								</ul>
							</li>
							{% endfor %}
						</ul>
					</div>
					<div class="col-lg-4">
						<h3>{{ entity.shortname }} methods annotations</h3>
						<ul>
							{% for name,annotations in entity.getAnnotations([], 'methods')['methods'] %}
							<li><strong>{{ name }}()</strong>
								<ul class="list-unstyled">
									{% for name2,annotation in annotations %}
									<li>{{ name2 }}</li>
									{% endfor %}
								</ul>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		{% elseif entity is defined %}
		<div class="col-sm-8 col-md-9 col-lg-10">
			<div class="well well-sm">
				Aucune information trouvée pour cette entité {{ entity.shortname|default(null) }}<br>
				Possiblement, un <strong>modèle</strong> n'a pu être instancié seul à cause de dépendances.
			</div>
			{% if entity|isInstance('ClassMetadata') %}
			<div class="well well-sm">
				<h3>Informations ClassMetadata</h3>
				{# {{ dump(entity) }} #}
				<h4>Fields {{ entity.name }}</h4>
				<div class="row">
					<div class="col-md-4 text-right"><u>Field</u></div>
					<div class="col-md-8 text-left"><u>Type</u></div>
				</div>
				{% for field,data in entity.fieldMappings %}
				<div class="row">
					<div class="col-md-4 text-right"><strong>{{ data.fieldName }}</strong></div>
					<div class="col-md-8 text-left"><i>{{ data.type }}</i></div>
				</div>
				{% endfor %}
			</div>
			{% endif %}
		</div>
		{% endif %}
{# 		<div class="col-sm-8 col-md-9 col-lg-10">
			<div class="well well-sm">
				{{ dump(logg) }}
			</div>
		</div>
 #}	</div>
	{% else %}
	<div class="row">
		<div class="col-lg-12">
			<div class="alert alert-danger">Cette page n'est pas accessible pour vous !</div>
		</div>
	</div>
	{% endif %}

{% endblock content %}
