{% extends 'WebsiteAdminBundle:Bases:base_wrap_01.html.twig' %}

{% block content %}

	{% if is_granted('ROLE_SUPER_ADMIN') %}
	<div class="row">
		<div class="col-sm-4 col-md-3 col-lg-2">
			{% for classname,info in entities %}
			<button class="btn btn-default btn-block" title="{{ classname }}">{{ icon(classname, true, true, ['fa-fw','pull-left','m-r-xs'], true)|raw }}{{ info.shortname }}</button>
			{% endfor %}
		</div>
		<div class="col-sm-8 col-md-9 col-lg-10">
			<div class="well well-sm">
				{% for classname,info in entities %}
				<p><strong>{{ info.shortname }}</strong>: {{ info.entities|length }} done!</p>
				{% endfor %}
			</div>
		</div>
	</div>
	{% else %}
	<div class="row">
		<div class="col-lg-12">
			<div class="alert alert-danger">Cette page n'est pas accessible pour vous !</div>
		</div>
	</div>
	{% endif %}

{% endblock content %}
