{# FIXT@fixt_reference = 'entity_list.html.twig' #}
{# FIXT@name = 'Entity list' #}
{# FIXT@titleh1 = 'Entités' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_list' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<h2 class="text-center m-t-none p-b-sm p-sm border-bottom">{{ icon(model, true, true, ['fa-fw'])|raw }} {{ 'names'|trans({}, model|shortname)|striptags }}</h2>
		{# {% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
		<h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ site_context.date|localizeddate('full', 'full', currentLanguage.fullname) }}</h4>
		{% endif %} #}
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">

			{% if entities|length %}
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th style="width:38px;" class="text-center">{{ icon(model, true, true, ['fa-fw'])|raw }}</th>
							{# <th style="width:1%;" class="text-center">Id</th> #}
							<th class="text-left">{{ 'Actions'|trans }}</th>
							<th class="text-left">{{ 'nom'|trans }}</th>
							<th class="text-left">{{ 'adresse'|trans }}</th>
							<th class="text-left">{{ 'categorys'|trans }}</th>
							<th class="text-center">{{ 'Créateur'|trans }}</th>
							{% if is_granted('ROLE_SUPER_ADMIN') %}
							<th class="text-left">{{ 'pathname'|trans }}</th>
							{% endif %}
						</tr>
					</thead>
					<tbody>
						{% for one in entities %}
						<tr class="{{ tableClass(one) }}"{% if one.description is defined %} data-popover data-content="{{ one.description|empty('<p>Description manquante<br>Ajouter cette information dans le champ \"description\" de cet élément</p>')|nl2br }}"{% endif %}>
							<td class="text-center">
								<i class="fa {{ one.icon }} fa-2x fa-fw" style="color:{{ one.color|default('#AAAAAA') }};"></i>
							</td>
							{# <td class="text-center">{{ one.id }}</td> #}
							<td class="text-left">
								{{ actions.buttons_groups(one) }}
							</td>
							<td class="text-left">
								{{ one.name }}
							</td>
							<td class="text-left" data-popover data-content="{{ one.fulltext|empty('<p>Aucune adresse !</p>') }}">
								{{ one.fulltext|striptags|truncate(80, true) }}
							</td>
							<td class="text-left">
								{{ actions.entity_labels(one.categorys, [], true, true) }}
							</td>
							<td class="text-center">
								{{ actions.entity_label(one.owner, one.owner == site_context.environment ? 'primary' : null) }}
							</td>
							{% if is_granted('ROLE_SUPER_ADMIN') %}
							<td class="text-left">
								{{ one.pathname }}
								<br>
								<i class="text-muted">{{ one.pathslug }}</i>
							</td>
							{% endif %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
			{{ actions.notfoundlist(model) }}
			{% endif %}

		</div>
	</div>
</div>
{% endblock content %}
