{# FIXT@fixt_reference = 'animation_show.html.twig' #}
{# FIXT@name = 'Animation show' #}
{# FIXT@titleh1 = 'Animation' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_show' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">

			{% if entity|default(null) is not null %}

			<div class="row">
				<div class="col-lg-12">
					<h2 class="text-center m-t-none p-b-sm p-sm border-bottom"><small class="text-muted">{{ 'name'|trans({}, entity.shortname)|striptags }}</small> <strong>{{ entity.name }}</strong> <span class="label label-primary m-sm">{{ app.user.preference('forms.contexts').value|default('?')|join(' ') }}</span></h2>
					{% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
					<h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ entity.contextdate|localizeddate('full', 'full', currentLanguage.fullname) }}</h4>
					{% endif %}
					{{ actions.alertStatus(entity) }}
					{{ actions.showOnwers(entity) }}
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">

					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>{{ 'Informations'|trans }}</h5>
						</div>
						<div class="ibox-content">
							<p>{{ 'field.name'|trans({}, entity.shortname) }} : <strong>{{ entity.__toString }}</strong></p>
							<p>{{ 'field.owner'|trans({}, entity.shortname) }} : <strong>{{ entity.owner.__toString|default('unknown'|trans) }}</strong></p>
							<p>{{ 'field.title'|trans({}, entity.shortname) }} : <strong>{{ entity.title|default('unknown'|trans)|raw }}</strong></p>
							<p>{{ 'field.menutitle'|trans({}, entity.shortname) }} : <strong>{{ entity.menutitle|default('unknown'|trans)|raw }}</strong></p>
							<p>{{ 'field.description'|trans({}, entity.shortname) }} : <strong>{{ entity.description|default('unknown'|trans)|raw }}</strong></p>
							<p>{{ 'field.deprecated'|trans({}, entity.shortname) }} : <strong>{{ (entity.isDeprecated(site_context.date) ? '<i class="fa fa-times fa-fw text-danger"></i> ' ~ 'oui'|trans : '<i class="fa fa-check fa-fw text-info"></i> ' ~ 'non'|trans)|raw }}</strong></p>
							<p>{{ 'field.visibleagenda'|trans({}, entity.shortname) }} : <strong>{{ (entity.visibleagenda ? '<i class="fa fa-check fa-fw text-info"></i> ' ~ 'oui'|trans : '<i class="fa fa-times fa-fw text-danger"></i> ' ~ 'non'|trans)|raw }}</strong></p>
							{% if entity.fileUrls|default([])|length %}
							<hr><p>{{ 'field.fileUrls'|trans({}, entity.shortname) }} : <ul class="list-unstyled"><li>{{ entity.fileUrls|join('</li><li>')|raw }}</li></ul></p>
							{% endif %}
							{% if entity.allPathnames|default([])|length %}
							<hr><p>{{ 'field.allPathnames'|trans({}, entity.shortname) }} : <ul class="list-unstyled"><li>{{ entity.allPathnames|join('</li><li>')|raw }}</li></ul></p>
							{% endif %}
							<hr>
							<h3>Page web</h3>
							<p>{{ 'field.pageweb'|trans({}, entity.shortname) }} : {{ actions.entity_label(entity.pageweb, null, true, true) }}</p>
							<h3>Billets</h3>
							<p>{{ 'field.products'|trans({}, entity.shortname) }} : {{ actions.entity_labels(entity.products, null, true, true) }}</p>
							<p>{{ 'field.addedAutoProducts'|trans({}, entity.shortname) }} : {{ actions.entity_labels(entity.addedAutoProducts, null, true, true) }}</p>
							<p>{{ 'field.allProducts'|trans({}, entity.shortname) }} : {{ actions.entity_labels(entity.allProducts, null, true, true) }}</p>
						</div>
					</div>

					{{ actions.imagesThumbs(entity, 'lg') }}

					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>{{ 'Diaporama'|trans }}</h5>
						</div>
						<div class="ibox-content">
							{{ actions.slider_carousel(entity.getOwnerDirectoryChilds('system/Diaporamas'), {type: 'thumbnail', addDiaposBddid: entity.bddid}) }}
						</div>
					</div>

				</div>

				<div class="col-md-6">
					{{ actions.iboxEventdates(entity, is_granted('ROLE_COLLAB'), true) }}

					{% if entity.nbVersions|default(0) > 0 %}
						{{ actions.iboxVersions(entity) }}
					{% endif %}

					{{ actions.iboxDirs(entity, true) }}
				</div>
			</div>

			{% else %}
			{{ actions.notfound(model) }}
			{% endif %}

		</div>
	</div>
</div>
{% endblock content %}
