{# FIXT@fixt_reference = 'entity_list.html.twig' #}
{# FIXT@name = 'Entity list' #}
{# FIXT@titleh1 = 'Entités' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_list' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<h2 class="text-center m-t-none p-b-sm p-sm border-bottom">{{ icon(model, true, true, ['fa-fw'])|raw }} {{ 'names'|trans({}, model|shortname)|striptags }}</h2>
		{# {% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
		<h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ site_context.date|localizeddate('full', 'full', currentLanguage.fullname) }}</h4>
		{% endif %} #}
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">

			{% if entities|length %}
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th style="width:38px;" class="text-center">{{ icon(model, true, true, ['fa-fw'])|raw }}</th>
							<th style="width:1%;" class="text-center">Id</th>
							<th class="text-left">{{ 'Actions'|trans }}</th>
							<th class="text-left">{{ 'nom'|trans }}</th>
							{# <th class="text-left">{{ 'Pageweb'|trans }}</th> #}
							<th class="text-left">{{ 'Affichage'|trans }}</th>
							<th class="text-left">{{ 'Categories'|trans }}</th>
							{# <th class="text-left">{{ 'Annonceur'|trans }}</th> #}
							<th class="text-left">{{ 'Diffuseurs'|trans }}</th>
							<th class="text-center">{{ 'Publication / Péremption'|trans }}</th>
							<th class="text-center">{{ 'publié'|trans }}</th>
						</tr>
					</thead>
					<tbody>
						{% for one in entities %}
						<tr class="{{ tableClass(one) }}"{% if one.description is defined %} data-popover data-content="{{ one.description|empty('<p>Description manquante<br>Ajouter cette information dans le champ \"description\" de cet élément</p>')|nl2br }}"{% endif %}>
							<td class="text-center">
								<blocitem data-item="{{ one|serialized }}" data-media="{{ one.photo|default(one.entete|default(one.picone))|serialized }}" data-size="64" data-statusbar="false"></blocitem>
							</td>
							<td class="text-center">{{ one.id }}</td>
							<td class="text-left">{{ actions.buttons_groups(one) }}</td>
							<td class="text-left"><u><strong>{{ one.name }}</strong></u><br><i class="text-muted">{{ one.slug }}</i></td>
							{# <td class="text-left">{{ actions.entity_label(one.pageweb, null, true, true) }}</td> #}
							{# <td class="text-left">{{ actions.entity_label(one.affichage) }}</td> #}
							<td class="text-left">{{ actions.entity_labels(one.diffuseurs) }}</td>
							<td class="text-left">{{ actions.entity_labels(one.categorys) }}</td>
							<td class="text-left">
								<div>{{ actions.entity_label(one.owner, site_context.User == one.owner ? 'primary' : 'default') }}</div>
								<div>{{ actions.entity_label(one.ownerdir(true)) }}</div>
							</td>
							<td class="text-center">
								{# {{ one.contextdate|localizeddate('none', 'none', app.request.locale, null, "dd-MM-Y HH:mm") }} #}
								{# <br> #}
								<span>{{ one.publication|localizeddate('short', 'short', app.request.locale) }}</span>&nbsp;<i class="fa fa-arrow-right fa-fw text-muted"></i>&nbsp;<strong><i class="{{ one.progressColor('text-') }}">{{ one.peremption|localizeddate('short', 'short', app.request.locale) }}</i></strong>
								<div class="progress progress-small" style="background-color: #DDDDDD;" title="{{ one.progressRatio(100, 2) }}%">
									<div style="width: {{ one.progressRatio(100) }}%;" class="progress-bar progress-bar-{{ one.progressColor }}"></div>
								</div>
							</td>
							<td class="text-center">{{ actions.booleanIcon(one.published, null, null, 2) }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
			{{ actions.notfoundlist(model) }}
			{% endif %}

		</div>
	</div>
</div>
{% endblock content %}
