{# FIXT@fixt_reference = 'entity_show.html.twig' #}
{# FIXT@name = 'Entity show' #}
{# FIXT@titleh1 = 'Entité' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_show' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">

			{% if entity|default(null) is not null %}

			<div class="row">
				<div class="col-lg-12">
					<h2 class="text-center m-t-none p-b-sm p-sm border-bottom"><small class="text-muted">{{ 'name'|trans({}, entity.shortname)|striptags }}</small> <strong>{{ entity.name|default(entity.id) }}</strong> <span class="label label-primary m-sm">{{ app.user.preference('forms.contexts').value|default('?')|join(' ') }}</span></h2>
					{% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
					<h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ entity.contextdate|localizeddate('full', 'full', currentLanguage.fullname) }}</h4>
					{% endif %}
					{{ actions.alertStatus(entity) }}
					{{ actions.showOnwers(entity) }}
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="row">

						<div class="col-lg-12">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5>{{ 'Informations'|trans }}</h5>
									<div class="ibox-tools">
										<a class="collapse-link">
											<i class="fa fa-chevron-up fa-fw"></i>
										</a>
									</div>
								</div>
								<div class="ibox-content">
									{% if entity.pageweb is not null %}<div><a href="{{ path('website_pageweb_by_cat', {cat1: entity.slug}) }}" class="btn btn-sm btn-info" target="_blank"{{ entity.isSoftdeleted() ? ' class="action-confirm" title="ATTENTION : cet élément est supprimé et ne sera pas visible sur le site."' }}>Voir sur le site</a></div>{% endif %}
									<div class="border-top-bottom border-left-right p-xs m-b-sm">
										<div><strong>Timing</strong></div>
										<span>{{ entity.publication|localizeddate('short', 'short', app.request.locale) }}</span>&nbsp;<i class="fa fa-arrow-right fa-fw text-muted"></i>&nbsp;<strong><i class="{{ entity.progressColor('text-') }}">{{ entity.peremption|localizeddate('short', 'short', app.request.locale) }}</i></strong>
										<div class="progress progress-small" style="background-color: #DDDDDD;" title="{{ entity.progressRatio(100, 2) }}%">
											<div style="width: {{ entity.progressRatio(100) }}%;" class="progress-bar progress-bar-{{ entity.progressColor }}"></div>
										</div>
									</div>
									<div class="border-top-bottom border-left-right p-xs m-b-sm">
										<div><strong>Diffuseurs</strong></div>
										{% if app.user.getPreferenceValue('help')|default(false) -%}<p><small>Modificateurs de l'annonce</small></p>{% endif %}
										<div>{{ actions.entity_labels(entity.getDiffuseurs('Entreprise')) }}</div>
									</div>
									<div class="border-top-bottom border-left-right p-xs m-b-sm">
										<div><strong>Propriétaires</strong></div>
										<div>{{ actions.entity_labels(entity.getAllOwnerdirs()) }}</div>
									</div>
									<div class="border-top-bottom border-left-right p-xs m-b-sm">
										<div><strong>Tous associés</strong></div>
										{% if app.user.getPreferenceValue('help')|default(false) -%}<p><small>Administrateurs de l'annonce</small></p>{% endif %}
										<div>{{ actions.entity_labels(entity.getAllOwnerdirs(true)) }}</div>
									</div>
									<div class="border-top-bottom border-left-right p-xs m-b-sm">
										<div><strong>Dossiers parents (parent direct)</strong></div>
										{% if app.user.getPreferenceValue('help')|default(false) -%}<p><small>Dossier et chemin principal de l'annonce</small></p>{% endif %}
										<div>{{ actions.directory_labels(entity.parent) }}</div>
									</div>
									<div class="border-top-bottom border-left-right p-xs m-b-sm">
										<div><strong>Page web pour affichage</strong></div>
										<div>{{ actions.entity_label(entity.pageweb, null, true, true) }}</div>
									</div>
								</div>
							</div>
						</div>

						{% if is_granted('ROLE_SUPER_ADMIN') %}
						<div class="col-lg-12">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5>{{ 'Informations SUPER ADMIN'|trans }}</h5>
								</div>
								<div class="ibox-content">
									{{- actions.admin_print(entity, metadata_singles(entity)|keys) -}}
									{% if entity.fileUrls|default([])|length %}
									<hr>
									<div><strong>{{ 'field.fileUrls'|trans({}, entity.shortname) }}</strong> : <ul class="list-unstyled"><li>{{ entity.fileUrls|join('</li><li>')|raw }}</li></ul></div>
									{% endif %}
									{% if entity.pathnames|default([])|length %}
									<hr>
									<div><strong>{{ 'field.pathnames'|trans({}, entity.shortname) }}</strong> : <ul class="list-unstyled"><li>{{ entity.pathnames(true, true)|join('</li><li>')|raw }}</li></ul></div>
									{% endif %}
									{% if entity.pathslugs|default([])|length %}
									<hr>
									<div><strong>{{ 'field.pathslugs'|trans({}, entity.shortname) }}</strong> : <ul class="list-unstyled"><li>{{ entity.pathslugs(true, true)|join('</li><li>')|raw }}</li></ul></div>
									{% endif %}
								</div>
							</div>
						</div>
						{% endif %}

					</div>
				</div>

				<div class="col-md-6">

					<div class="row">
						{% if getBinarys(entity, 'image')|length %}
						<div class="col-lg-12">
							{{ actions.imagesThumbs(entity, 'lg') }}
						</div>
						{% endif %}

						<div class="col-lg-12">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5>{{ 'Textes'|trans }}</h5>
									<div class="ibox-tools">
										<a class="collapse-link">
											<i class="fa fa-chevron-up fa-fw"></i>
										</a>
									</div>
								</div>
								<div class="ibox-content">
									<h3>Texte résumé</h3>
									{% if app.user.getPreferenceValue('help')|default(false) -%}<p><small>Ce texte résumé est utilisé pour les liens hors de la page de l'annonce</small></p>{% endif %}
									<div class="border-top-bottom border-left-right p-xs m-b-sm">
										{{ entity.resume|raw }}
									</div>
									<h3>Texte long</h3>
									{% if app.user.getPreferenceValue('help')|default(false) -%}<p><small>Ce texte est utilisé dans la page de l'annonce</small></p>{% endif %}
									<div class="border-top-bottom border-left-right p-xs m-b-sm">
										{{ entity.fulltext|raw }}
									</div>
								</div>
							</div>
						</div>

						{% if entity.hasDirs()|default(false) %}
						<div class="col-lg-12">
							{{ actions.iboxDirs(entity, true) }}
						</div>
						{% endif %}

					</div>

				</div>

			</div>

			{% else %}
			{{ actions.notfound(model) }}
			{% endif %}

		</div>
	</div>
</div>
{% endblock content %}
