{# FIXT@fixt_reference = 'entity_show.html.twig' #}
{# FIXT@name = 'Entity show' #}
{# FIXT@titleh1 = 'Entité' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_show' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">

			{% if entity|default(null) is not null %}

			<div class="row">
				<div class="col-lg-12">
					<h2 class="text-center m-t-none p-b-sm p-sm border-bottom"><small class="text-muted">{{ 'name'|trans({}, entity.shortname)|striptags }}</small> <strong>{{ entity.name }}</strong> <span class="label label-primary m-sm">{{ app.user.preference('forms.contexts').value|default('?')|join(' ') }}</span></h2>
					{% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
					<h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ entity.contextdate|localizeddate('full', 'full', currentLanguage.fullname) }}</h4>
					{% endif %}
					{{ actions.alertStatus(entity) }}
					{{ actions.showOnwers(entity) }}
				</div>
			</div>

			<div class="row">

				<div class="col-sm-3">
					<div class="row">

						<div class="col-lg-12">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5>{{ 'Icone'|trans }}</h5>
								</div>
								<div class="ibox-content">
									<img class="img img-responsive" src="{{ asset(fileurl(entity.thumbnail,'original')) }}">
								</div>
							</div>
						</div>

						<div class="col-lg-12">
							{{ actions.imagesThumbs(entity, 'lg') }}
						</div>

						<div class="col-lg-12">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5>{{ 'Diaporama'|trans }}</h5>
								</div>
								<div class="ibox-content">
									{{ actions.slider_carousel(entity.getOwnerDirectoryChilds('system/Diaporamas'), {type: 'thumbnail', addDiaposBddid: entity.bddid}) }}
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="col-sm-9">
					<div class="row">

						<div class="col-lg-12">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5>{{ 'Informations'|trans }}</h5>
								</div>
								<div class="ibox-content">
									<p>{{ 'field.name'|trans({}, entity.shortname) }} : <strong>{{ entity.__toString }}</strong></p>
									<p>{{ 'field.owner'|trans({}, entity.shortname) }} : <strong>{{ entity.owner.__toString|default('unknown'|trans) }}</strong></p>
									<p>{{ 'field.age'|trans({}, entity.shortname) }} : <strong>{{ entity.age }}</strong></p>
									<p>{{ 'field.during'|trans({}, entity.shortname) }} : <strong>{{ entity.during }}</strong></p>
									<p>{{ 'field.weather'|trans({}, entity.shortname) }} : <strong>{{ entity.weather }}</strong></p>
									<hr>
									<p>{{ 'field.title'|trans({}, entity.shortname) }} : <br><strong>{{ entity.title|raw }}</strong></p>
									<p>{{ 'field.menutitle'|trans({}, entity.shortname) }} : <br><strong>{{ entity.menutitle|raw }}</strong></p>
									<p>{{ 'field.accroche'|trans({}, entity.shortname) }} : <br><strong>{{ entity.accroche|raw }}</strong></p>
									<p>{{ 'field.description'|trans({}, entity.shortname) }} : <br><strong>{{ entity.description|raw }}</strong></p>
									<p>{{ 'field.alertmsg'|trans({}, entity.shortname) }} : <br><strong>{{ entity.alertmsg|raw }}</strong></p>
									<hr>
									<h3>Billets</h3>
									<p>{{ 'field.products'|trans({}, entity.shortname) }} : {{ actions.entity_labels(entity.products, null, true, true) }}</p>
									<p>{{ 'field.addedAutoProducts'|trans({}, entity.shortname) }} : {{ actions.entity_labels(entity.addedAutoProducts, null, true, true) }}</p>
									<p>{{ 'field.allProducts'|trans({}, entity.shortname) }} : {{ actions.entity_labels(entity.allProducts, null, true, true) }}</p>

									{% if entity.allPathnames|default([])|length %}
									<hr>
									<p>{{ 'field.allPathnames'|trans({}, entity.shortname) }} : 
										<ul>
											<li>{{ entity.allPathnames|join('</li><li>')|raw }}</li>
										</ul>
									</p>
									{% endif %}
								</div>
							</div>
						</div>

					</div>
				</div>

				{% if entity.hasDirs()|default(false) %}
				<div class="col-sm-6">
					{{ actions.iboxDirs(entity, true) }}
				</div>
				{% endif %}

			</div>

			{% else %}
			{{ actions.notfound(model) }}
			{% endif %}

		</div>
	</div>
</div>
{% endblock content %}
