{# FIXT@fixt_reference = 'directory_list.html.twig' #}
{# FIXT@name = 'directory list' #}
{# FIXT@titleh1 = 'Dossiers' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'directory_list' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_page_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{# FIXT@prefered = true #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block dev_content %}
{% endblock dev_content %}

{% block content %}

	<div class="row">
		<div class="col-lg-12">
		{{ actions.flashMessages() }}
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12"><h3>{{ entities|length }} directorys found <a href="{{ path('wsa_basedirectory_transit') }}">List</a></h3></div>
	</div>

	<div class="row">

		{% if entity is not null %}
		<div class="col-sm-6">
			<div class="row">
		{% endif %}

		{% for directory in entities %}
		<div class="{{ entity is not null ? 'col-sm-12 col-lg-6' : 'col-sm-6 col-lg-3' }}">
			<a class="btn btn-{{ entity is not null and entity.id == directory.id ? 'primary' : 'default' }} btn-block m-b-xs" href="{{ path('wsa_basedirectory_transit', {id: directory.id}) }}" role="button" title="{{ directory.name }}"><i>{{ directory.id }}</i> <strong>{{ directory.name|truncate(25) }}</strong></a>
		</div>
		{% endfor %}

		{# <div class="col-lg-12">
			<hr>
			{{ dump(entities) }}
		</div> #}

		{% if entity is not null %}
			</div>
		</div>
		{% endif %}

		{% if entity is not null %}
		<div class="col-sm-6">
			{{ entity.init_old_nestlink(true) }}
		</div>
		{% endif %}

	</div>

{% endblock content %}

