{# FIXT@fixt_reference = 'directory_list.html.twig' #}
{# FIXT@name = 'directory list' #}
{# FIXT@titleh1 = 'Dossiers' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'directory_list' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_page_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{# FIXT@prefered = true #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block dev_content %}
{% endblock dev_content %}

{% block content %}

	{% set action_title = {
		'resolve-doublons': 'Réparation des doublons',
		'resolve-paths': 'Réparations paths',
		'show-doublons': 'Doublons',
		'show-invalids': 'Invalides',
		'show-lostchilds': 'Lost childs',
		'show-all': 'Tous'
	} %}

	<div class="row">
		<div class="col-lg-12">
			<h2 class="text-center m-t-none p-b-sm p-sm border-bottom">{{ icon(model, true, true, ['fa-fw'])|raw }} {{ 'names'|trans({}, 'Directory')|striptags }} <i class="fa fa-arrow-right fa-fw text-muted"></i> {{ action_title[action]|default('') }} <div class="label label-primary">{{ action == 'show-doublons' ? doublons|default([])|length : entities|length }}</div></h2>
			<a href="{{ path('wsa_info_directorys', {action: 'show-all'}) }}" class="woc btn btn-default btn-sm"><i class="fa fa-{{ action != 'show-all' ? 'eye' : 'refresh' }} fa-fw"></i> {{ action_title['show-all'] }}</a>
			<a href="{{ path('wsa_info_directorys', {action: 'show-doublons'}) }}" class="woc btn btn-default btn-sm{{ action != 'show-doublons' and doublons_count > 0 ? '' : ' disabled' }}"><i class="fa fa-eye fa-fw"></i> {{ doublons_count > 0 ? doublons_count ~ ' ' }}{{ action_title['show-doublons'] }}</a>
			<a href="{{ path('wsa_info_directorys', {action: 'show-lostchilds'}) }}" class="woc btn btn-default btn-sm{{ action != 'show-lostchilds' and lostchilds_count > 0 ? '' : ' disabled' }}"><i class="fa fa-eye fa-fw"></i> {{ lostchilds_count > 0 ? lostchilds_count ~ ' ' }}{{ action_title['show-lostchilds'] }}</a>
			<a href="{{ path('wsa_info_directorys', {action: 'show-invalids'}) }}" class="woc btn btn-default btn-sm{{ action != 'show-invalids' ? '' : ' disabled' }}"><i class="fa fa-eye fa-fw"></i> {{ action_title['show-invalids'] }}</a>

			<a href="{{ path('wsa_info_directorys', {action: 'resolve-doublons'}) }}" class="woc action-confirm action-confirm-wait pull-right m-r-xs btn btn-{{ doublons|default([])|length ? 'danger' : 'default' }} btn-sm{{ doublons|default([])|length ? '' : ' disabled' }}" title="Cette action peut utiliser beaucoup de ressources et prendre un certain temps... voire planter."><i class="fa fa-cog fa-fw"></i> Réparer {{ doublons|default([])|length }} doublons</a>
			<a href="{{ path('wsa_info_directorys', {action: 'resolve-joinedowndirectory'}) }}" class="woc action-confirm action-confirm-wait pull-right m-r-xs btn btn-warning btn-sm" title="Réparer tous les liens JoinedOwnDirectory()."><i class="fa fa-cog fa-fw"></i> Réparer OwnDirs</a>
			<a href="{{ path('wsa_info_directorys', {action: 'resolve-paths'}) }}" class="woc action-confirm action-confirm-wait pull-right m-r-xs btn btn-warning btn-sm" title="Cette action peut utiliser beaucoup de ressources et prendre un certain temps."><i class="fa fa-terminal fa-fw"></i> Réparer paths</a>
			<a href="{{ path('wsa_info_directorys', {action: 'resolve-lostchilds'}) }}" class="woc action-confirm action-confirm-wait pull-right m-r-xs btn btn-warning btn-sm" title="Cette action peut utiliser beaucoup de ressources et prendre un certain temps."><i class="fa fa-chain-broken fa-fw"></i> Réparer childs</a>
		</div>
	</div>

	<div class="row">

		<div class="col-lg-12">
			<hr class="hr-line-solid">
			{{ actions.flashMessages() }}

			{% if action == 'show-doublons' %}
				{% set itemslist = doublons %}
			{% elseif action == 'show-lostchilds' %}
				{% set itemslist = lostchilds %}
			{% else %}
				{% set itemslist = entities %}
			{% endif %}

			{% if itemslist|length %}
			{% set is_object_data = itemslist|first|isObject %}
			{# {% if is_object_data %}{{ dump(itemslist|slice(0,10)) }}{{ dump(doublons|slice(0,10)) }}{% endif %} #}
			<div class="wrapper wrapper-content">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th style="width:38px;" class="text-center">{{ icon(model, true, true, ['fa-fw'])|raw }}</th>
								<th style="width:1%;" class="text-center">Id</th>
								{% if is_granted('ROLE_SUPER_ADMIN')and is_object_data %}<th style="width:1%;" class="text-center">Valid</th>{% endif %}
								{% if is_object_data %}
								<th class="text-left">{{ 'Actions'|trans }}</th>
								{% endif %}
								<th class="text-left">{{ 'Nom'|trans }}</th>
								{# {% if is_object_data %} #}
								<th class="text-left">{{ 'Owner'|trans }}<br><i>{{ 'Owner dir'|trans }}</i></th>
								{# {% endif %} #}
								<th class="text-left">{{ 'Pathname<br><i>Pathslug</i>'|raw }}</th>
								{% if is_object_data %}
								<th class="text-left">{{ 'Parent'|trans }}</th>
								{% endif %}
								{% if is_object_data %}
								<th class="text-left">{{ 'Contenu'|trans }}</th>
								{% endif %}
								<th class="text-left">{{ 'Root'|trans }}</th>
								<th class="text-left">{{ 'Level'|trans }}</th>
							</tr>
						</thead>
						<tbody>
							{% for one in itemslist %}
							{# {% if loop.first and one.isFacticee() %}{% set one = one.getRealEntity() %}{% endif %} #}
							<tr class="{{ tableClass(one) }}">
								<td class="text-center">
									<i class="fa {{ one.icon }} fa-2x fa-fw" style="color:{{ one.color|default('#AAAAAA') }};"></i>
								</td>
								<td class="text-center">{{ one.id }}</td>
								{% if is_granted('ROLE_SUPER_ADMIN') and is_object_data %}<td class="text-center">{{ one.isFacticee() ? '<i class="fa fa-minus fa-fw text-muted"></i>'|raw : actions.booleanIcon(one.valid) }}</td>{% endif %}
								{% if is_object_data %}
								<td class="text-left">
									{{ actions.buttons_groups(one) }}
								</td>
								{% endif %}
								<td class="text-left" title="{{ one.bddid }}">
									<div><u><strong>{{ one.name }}</strong></u></div>
									<div><i class="text-muted">{{ one.shortname }} / {{ one.slug }}</i></div>
								</td>
								{# {% if is_object_data %} #}
								<td class="text-left">
									<div title="owner">{{ actions.entity_label(one.owner, 'primary') }}</div>
									<div title="ownerdir">{{ actions.entity_label(one.ownerdir) }}</div>
								</td>
								{# {% endif %} #}
								<td class="text-left">
									<div>{{ one.pathname(true) }}</div>
									<div><i class="text-muted">{{ one.pathslug(true) }}</i></div>
								</td>
								{% if is_object_data %}
								<td class="text-left">
									{{ actions.entity_label(one.parent) }}
								</td>
								{% endif %}
								{% if is_object_data %}
								<td class="text-left">
									{{ actions.entity_labels(one.childs, {'primary': one.solidchilds}) }}
									{{ actions.entity_labels(one.lostchilds, 'danger') }}
								</td>
								{% endif %}
								<td class="text-center">
									{{ actions.booleanIcon(one.root) }}
								</td>
								<td class="text-center">
									{{ one.lvl }}
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			{% else %}
			<div class="col-lg-12">
				<div class="wrapper wrapper-content animated fadeInRight">
					{{ actions.notfoundlist(model) }}
				</div>
			</div>
			{% endif %}

		</div>
	</div>

{% endblock content %}
	