{# FIXT@fixt_reference = 'entity_list.html.twig' #}
{# FIXT@name = 'Entity list' #}
{# FIXT@titleh1 = 'Entités' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_list' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">

			{% if entities|length %}
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th style="width:38px;" class="text-center">{{ icon(model, true, true, ['fa-fw'])|raw }}</th>
							<th style="width:1%;" class="text-center">Id</th>
							<th class="text-left">{{ 'Actions'|trans }}</th>
							<th class="text-left">{{ 'nom'|trans }}</th>
							{% if model.groups is defined %}
							<th class="text-left">{{ 'groupes'|trans }}</th>
							{% endif %}
						</tr>
					</thead>
					<tbody>
						{% for one in entities %}
						<tr class="{{ tableClass(one) }}"{% if one.description is defined %} data-popover data-content="{{ one.description|empty('<p>Description manquante<br>Ajouter cette information dans le champ \"description\" de cet élément</p>')|nl2br }}"{% endif %}>
							<td class="text-center">
								{% set file_url = one.avatar is defined ? fileurl(one.avatar,'thumbnails',128) : null %}
								{% set file_url = one.thumbnail is defined ? fileurl(one.thumbnail,'thumbnails',128) : null %}
								{% if file_url is not null and one.avatar is defined %}
								<img src="{{ asset(file_url) }}" class="img-sm" alt="{{ one.avatar.mediatype }} {{ one.slug|default(one.name) }}" data-view-media="'{{ one.avatar.bddIdentifyer }}'" data-view-width="400" data-view-type="'thumbnail'" data-view-name="'{{ one.__toString }}'">
								{% elseif file_url is not null and one.thumbnail is defined %}
								<img src="{{ asset(file_url) }}" class="img-sm" alt="{{ one.thumbnail.mediatype }} {{ one.slug|default(one.name) }}" data-view-media="'{{ one.thumbnail.bddIdentifyer }}'" data-view-width="400" data-view-type="'thumbnail'" data-view-name="'{{ one.__toString }}'">
								{% else %}
								<i class="fa {{ one.icon }} fa-2x fa-fw" style="color:{{ one.color|default('#AAAAAA') }};"></i>
								{% endif %}
							</td>
							<td class="text-center">{{ one.id }}</td>
							<td class="text-left">
								{{ actions.buttons_groups(one) }}
							</td>
							<td class="text-left">
								<u><strong>{{ one.__toString }}</strong></u><br>
							</td>
							{% if model.groups is defined %}
							<td class="text-left">
								{{ actions.entity_labels(one.groups) }}
							</td>
							{% endif %}
						</tr>
						{% endfor %}
					</tbody>
				</table>

				{# {{ actions.table_entities(model, 'footable', {data: entities, classes: null, actions: 'first', fields: [], orderby: {id: 'ASC'}, length: null, contexts: ['list']}) }} #}
			</div>
			{% else %}
			{{ actions.notfoundlist(model) }}
			{% endif %}

		</div>
	</div>
</div>
{% endblock content %}
