{# FIXT@fixt_reference = 'entity_list.html.twig' #}
{# FIXT@name = 'Entity list' #}
{# FIXT@titleh1 = 'Entités' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_list' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<h2 class="text-center m-t-none p-b-sm p-sm border-bottom">{{ icon(model, true, true, ['fa-fw'])|raw }} {{ 'names'|trans({}, model|shortname)|striptags }}</h2>
		{# {% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
		<h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ site_context.date|localizeddate('full', 'full', currentLanguage.fullname) }}</h4>
		{% endif %} #}
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">

			{% if entities|length %}
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th style="width:38px;" class="text-center">{{ icon(model, true, true, ['fa-fw'])|raw }}</th>
							{# <th style="width:1%;" class="text-center">Id</th> #}
							<th class="text-left">{{ 'Actions'|trans }}</th>
							<th class="text-left">{{ 'nom'|trans }}</th>
							<th class="text-left">{{ 'Pageweb'|trans }}</th>
							<th class="text-left">{{ 'Categories'|trans }}</th>
							{# <th class="text-center">{{ 'Créateur'|trans }}</th> #}
							<th class="text-left">{{ 'Diffuseurs'|trans }}</th>
							<th class="text-center">{{ 'Publication'|trans }}</th>
							<th class="text-center">{{ 'publié'|trans }}</th>
{# 							{% set fields = metadata_singles(model) %}
							{% for field,data in fields if data.cruds.show|default(true) -%}
								{% set value = attr(model, field) %}
								<th title="Type: {{ data.type }}">{{ ('field.' ~  field)|trans({}, model|shortname)|ucfirst }}</th>
							{%- endfor %} #}
							{% if model.groups is defined %}
							<th class="text-left">{{ 'groupes'|trans }}</th>
							{% endif %}
{# 							{% if site_context.isDevOrSadmin() %}
							<th class="text-center" style="width:24px;">{{ 'Ctrl'|trans }}</th>
							{%- endif %}
 #}						</tr>
					</thead>
					<tbody>
						{% for one in entities %}
						<tr class="{{ tableClass(one) }}"{% if one.description is defined %} data-popover data-content="{{ one.description|empty('<p>Description manquante<br>Ajouter cette information dans le champ \"description\" de cet élément</p>')|nl2br }}"{% endif %}>
							<td class="text-center">
								{% set file_url = one.picone|default(null) is not null ? fileurl(one.picone,'thumbnails',128) : null %}
								{% set file_url = one.entete|default(null) is not null ? fileurl(one.entete,'thumbnails',128) : null %}
								{% set file_url = one.photo|default(null) is not null ? fileurl(one.photo,'thumbnails',128) : null %}
								{% if file_url is not null %}
									{% if one.photo|default(null) is not null %}
									<img src="{{ asset(file_url) }}" class="img-sm" alt="{{ one.photo.mediatype }} {{ one.slug|default(one.name) }}" data-view-media="'{{ one.photo.bddIdentifyer }}'" data-view-width="800" data-view-type="'thumbnail'" data-view-name="'{{ one.__toString }}'">
									{% elseif one.entete|default(null) is not null %}
									<img src="{{ asset(file_url) }}" class="img-sm" alt="{{ one.entete.mediatype }} {{ one.slug|default(one.name) }}" data-view-media="'{{ one.entete.bddIdentifyer }}'" data-view-width="800" data-view-type="'thumbnail'" data-view-name="'{{ one.__toString }}'">
									{% elseif one.picone|default(null) is not null %}
									<img src="{{ asset(file_url) }}" class="img-sm" alt="{{ one.picone.mediatype }} {{ one.slug|default(one.name) }}" data-view-media="'{{ one.picone.bddIdentifyer }}'" data-view-width="800" data-view-type="'thumbnail'" data-view-name="'{{ one.__toString }}'">
									{% endif %}
								{% else %}
								<i class="fa {{ one.icon }} fa-2x fa-fw" style="color:{{ one.color|default('#AAAAAA') }};"></i>
								{% endif %}
							</td>
							{# <td class="text-center">{{ one.id }}</td> #}
							<td class="text-left">{{ actions.buttons_groups(one) }}</td>
							<td class="text-left"><u><strong>{{ one.name }}</strong></u><br></td>
							<td class="text-left">{{ actions.entity_label(one.pageweb, null, true, true) }}</td>
							<td class="text-left">{{ actions.entity_labels(one.categorys) }}</td>
							{# <td class="text-center">{{ actions.entity_label(one.owner, one.owner == site_context.environment ? 'primary' : null) }}</td> #}
							<td class="text-left">{{ actions.entity_labels(one.diffuseurs) }}</td>
							<td class="text-center">
								{# {{ one.contextdate|localizeddate('none', 'none', app.request.locale, null, "dd-MM-Y HH:mm") }} #}
								{# <br> #}
								{{ one.publication|localizeddate('medium', 'medium', app.request.locale) }}</td>
							</td>
							<td class="text-center">{{ actions.booleanIcon(one.published) }}</td>
							{% if model.groups is defined %}
							<td class="text-left">{{ actions.entity_labels(one.groups) }}</td>
							{% endif %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
			{{ actions.notfoundlist(model) }}
			{% endif %}

		</div>
	</div>
</div>
{% endblock content %}
