{# FIXT@fixt_reference = 'entity_list.html.twig' #}
{# FIXT@name = 'Entity list' #}
{# FIXT@titleh1 = 'Entités' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_list' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}
{% import 'WebsiteAdminBundle:Macro:agenda.html.twig' as agenda %}
{# {% set calendars = parcsCalendars(site_context.getContextYear(), null, true, false) %} #}
{% set calendars_array = parcsCalendars(site_context.getContextYear(), null, false, false, true) %}

{% block content %}
{% for year,data1 in calendars_array.data %}
<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content animated fadeInRight">

			<h2 class="text-center m-t-none p-b-sm p-sm border-bottom">Saison {{ year }} : {{ data1.first.start|localizeddate('long', 'none', currentLanguage.fullname) }} <i class="fa fa-arrow-right fa-fw text-muted"></i> {{ data1.last.end|localizeddate('long', 'none', currentLanguage.fullname) }} <a role="button" class="btn btn-sm btn-white" href="{{ path('wsa_calendar_updateallcachedchilds') }}" title="{{ 'Mettre à jour le cache des agendas'|transno }}"><i class="fa fa-refresh fa-fw woc"></i></a></h2>
			{% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
			<h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ site_context.date|localizeddate('full', 'full', currentLanguage.fullname) }}</h4>
			{% endif %}
			<hr>
			<div class="row align-items-end">
				{% for month,data2 in data1.dates %}
				<div class="col-lg-4 col-md-6 col-xs-12">
					<div class="ibox-content">
						{{ agenda.agenda_month(calendars_array.getCompiled(month, year)) }}
					</div>
				</div>
				{% endfor %}
			</div>

		</div>
	</div>
</div>
{% endfor %}

{# {% for year,data1 in calendars.data %}
<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content animated fadeInRight">

			<h2 class="text-center">Saison {{ year }} : {{ data1.first.start|localizeddate('long', 'none', currentLanguage.fullname) }} <i class="fa fa-arrow-right fa-fw text-muted"></i> {{ data1.last.end|localizeddate('long', 'none', currentLanguage.fullname) }}</h2>
			<hr>
			<div class="row align-items-end">
				{% for month,data2 in data1.dates %}
				<div class="col-lg-4 col-md-6 col-xs-12">
					<div class="ibox-content">
						{{ agenda.agenda_month(calendars.getCompiled(month, year)) }}
					</div>
				</div>
				{% endfor %}
			</div>

		</div>
	</div>
</div>
{% endfor %}
 #}



{# <div class="row">
	{% for year,data1 in calendars_array.data %}
	<div class="col-lg-6">
		<div class="wrapper wrapper-content animated fadeInRight">

			<h2 class="text-center">Saison {{ year }} : {{ data1.first.start|localizeddate('long', 'none', currentLanguage.fullname) }} <i class="fa fa-arrow-right fa-fw text-muted"></i> {{ data1.last.end|localizeddate('long', 'none', currentLanguage.fullname) }}</h2>
			<hr>
					<div class="ibox-content">
						{{ dump(data1|first) }}
					</div>

		</div>
	</div>
{% endfor %}

{% for year,data1 in calendars.data %}
	<div class="col-lg-6">
		<div class="wrapper wrapper-content animated fadeInRight">

			<h2 class="text-center">Saison {{ year }} : {{ data1.first.start|localizeddate('long', 'none', currentLanguage.fullname) }} <i class="fa fa-arrow-right fa-fw text-muted"></i> {{ data1.last.end|localizeddate('long', 'none', currentLanguage.fullname) }}</h2>
			<hr>
					<div class="ibox-content">
						{{ dump(data1|first) }}
					</div>

		</div>
	</div>
{% endfor %}
</div>
 #}


{% endblock content %}
