{# FIXT@fixt_reference = 'directory_owner_list.html.twig' #}
{# FIXT@name = 'directory owner' #}
{# FIXT@titleh1 = 'Dossiers personnels' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'directory_owner_list' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_page_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{# FIXT@prefered = true #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">

		{% if is_granted('ROLE_USER') %}

		<div class="row">
			<div class="col-lg-6">
				<div class="row">
					{% for directory in directorys if canManage(directory, app.user, 'update') %}
					{{ actions.directory_content(directory) }}
					{% endfor %}
				</div>
			</div>

			<div class="col-lg-6">
				{% if owner.rootDirs|default([])|length %}
					{{ actions.iboxDirs(owner, [entity.id]) }}
				{% elseif entity.rootDirs|default([])|length %}
					{{ actions.iboxDirs(owner, [entity.id]) }}
				{% endif %}
			</div>
		</div>

		{% elseif app.user %}

		<div class="row">
			<div class="col-lg-12">
				<div class="alert alert-danger" role="alert">Vous n'avez pas accès à ces dossiers.</div>
			</div>
		</div>

		{% else %}

		<div class="row">
			<div class="col-lg-12">
				<div class="alert alert-danger" role="alert">Vous devez vous connecter pour avoir accès à vos dossiers.</div>
			</div>
		</div>

		{% endif %}

	</div>
</div>
{% endblock content %}
