{# FIXT@fixt_reference = 'entity_update.html.twig' #}
{# FIXT@name = 'Entity update' #}
{# FIXT@titleh1 = 'Modification élément' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_update' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_update_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<h2 class="text-center m-t-none p-b-sm p-sm border-bottom"><small class="text-muted">{{ 'name'|trans({}, entity.shortname)|striptags }}</small> {{ icon(form.vars.data)|raw }} <strong>{{ entity.name|default(entity.id) }}</strong>{% if site_context.isTranslatorAndShow() and entity._tm|default(null) is not null %} {% set language = getLanguage(entity._tm.currentLocale) %}<img src="{{ asset(fileurl(language.thumbnail,'thumbnails',32)) }}" style="width: 32px;">{% endif %} {{ actions.menuFormContexts(app.user) }}</h2>
		{{ actions.alertStatus(form.vars.data) }}
		{{ actions.showOnwers(form.vars.data) }}
		{{ form(form) }}
	</div>
</div>
{% endblock content %}
