{# FIXT@fixt_reference = 'entity_update.html.twig' #}
{# FIXT@name = 'Entity update' #}
{# FIXT@titleh1 = 'Modification élément' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_update' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_update_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<h2 class="text-center m-t-none p-b-sm p-sm border-bottom"><small class="text-muted">{{ 'name'|trans({}, form.vars.data|shortname)|striptags }}</small> {{ icon(form.vars.data)|raw }} <strong>{{ 'Creation...'|trans|striptags }}</strong>{% if site_context.isTranslatorAndShow() and form.vars.data._tm|default(null) is not null %} {% set language = getLanguage(form.vars.data._tm.currentLocale) %}<img src="{{ asset(fileurl(language.thumbnail,'thumbnails',32)) }}" style="width: 32px;">{% endif %} {{ actions.menuFormContexts(app.user) }}</h2>
		{{ actions.alertStatus(form.vars.data) }}
		{{ actions.showOnwers(form.vars.data) }}
		{% if entity|isInterface('NestedInterface') %}
		{# {% if is_granted('ROLE_SUPER_ADMIN') and form.vars.data.ownerdir != site_context.environment %}
		<div class="alert alert-danger text-center text-danger">
			<h2 class="m-t-none"><i class="fa fa-exclamation-triangle fa-fw m-r-xs"></i>ALERTE !</h2>
			<span>Cet élément (ownerdir : <strong>{{ form.vars.data.ownerdir }}</strong>) n'est pas contenu dans l'environnement de contexte (<strong>{{ site_context.environment }}</strong>) !</span>
		</div>
		{% endif %} #}
		{% set choicesEnvironments = site_context.getUserChoicesEnvironments(app.user) %}
		{% if choicesEnvironments.Entreprise.count|default(0) > 0 and form.vars.data|isInstance(['Annonce','Blog']) and form.vars.data.ownerdir|isInstance('User') %}
		<div class="alert alert-warning text-left text-warning">
			<div class="row">
				{% if entity.dirparents|default([])|length < 2 %}
				<div class="col-md-6">
					<h2 class="m-t-none"><i class="fa fa-exclamation-triangle fa-fw m-r-xs"></i>Attention !</h2>
					<span>Cet élément est créé à titre personnel (<strong>{{ form.vars.data.ownerdir.name }}</strong>). Si vous voulez la créer au nom de l'une de vos entreprises, pensez à vous placer dans le contexte de cette entreprise, puis créer votre élément.</span>
				</div>
				{% endif %}
				<div class="col-md-6">
					<h3>Changer de contexte</h3>
					<ul class="list-unstyled">
						{% for new_user in choicesEnvironments.User %}
						{% if site_context.isCurrentEnvironment(new_user) %}
						<li class="text-success"><i class="fa {{ new_user.icon }} fa-fw m-r-sx"></i><strong><u>{{ new_user.name }}</u></strong></li>
						{% else %}
						<li><a href="?{{ site_context.CONTEXT_ENVIRONMENT_TOKEN_NAME ~ '=' ~ new_user.bddid|url_encode }}"><i class="fa {{ new_user.icon }} fa-fw m-r-sx"></i>{{ new_user.name }}</a></li>
						{% endif %}
						{% endfor %}
						{% for new_environment in choicesEnvironments.Entreprise %}
						{% if site_context.isCurrentEnvironment(new_environment) %}
						<li class="text-success"><i class="fa {{ new_environment.icon }} fa-fw m-r-sx"></i><strong><u>{{ new_environment.name }}</u></strong></li>
						{% else %}
						<li><a href="?{{ site_context.CONTEXT_ENVIRONMENT_TOKEN_NAME ~ '=' ~ new_environment.bddid|url_encode }}"><i class="fa {{ new_environment.icon }} fa-fw m-r-sx"></i>{{ new_environment.name }}</a></li>
						{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		{% endif %}
		{% endif %}
		{{ form(form) }}
	</div>
</div>
{% endblock content %}
