{# FIXT@fixt_reference = 'entity_list.html.twig' #}
{# FIXT@name = 'Entity list' #}
{# FIXT@titleh1 = 'Entités' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_list' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<h2 class="text-center m-t-none p-b-sm p-sm border-bottom">{{ icon(model, true, true, ['fa-fw'])|raw }} {{ 'names'|trans({}, model|shortname)|striptags }}</h2>
		{# {% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
		<h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ site_context.date|localizeddate('full', 'full', currentLanguage.fullname) }}</h4>
		{% endif %} #}
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">

			{% if entities|length %}
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th style="width:38px;" class="text-center">{{ icon(model, true, true, ['fa-2x','fa-fw'])|raw }}</th>
							<th style="width:1%;" class="text-center">{{ 'field.id'|trans({}, model|shortname) }}</th>
							{% if is_granted('ROLE_SUPER_ADMIN') %}<th style="width:1%;" class="text-center">Valid</th>{% endif %}
							<th class="text-left">{{ 'Actions'|trans }}</th>
							<th class="text-left">{{ 'field.name'|trans({}, model|shortname) }}</th>
							<th class="text-center">{{ 'field.owner'|trans({}, model|shortname) }}</th>
							{# <th class="text-left">{{ 'field.tags'|trans({}, model|shortname) }}</th> #}
							<th class="text-left">{{ 'field.associates'|trans({}, model|shortname) }}</th>
							{# <th class="text-left">{{ 'field.groups'|trans({}, model|shortname) }}</th> #}
{# 							{% if site_context.isDevOrSadmin() %}
							<th class="text-center" style="width:24px;">{{ 'Ctrl'|trans }}</th>
							{%- endif %}
 #}						</tr>
					</thead>
					<tbody>
						{% for one in entities if one.hasAssociateUser(app.user) or is_granted('ROLE_ADMIN') %}
						<tr class="{{ tableClass(one) }}"{% if one.description is defined %} data-popover data-content="{{ one.description|empty('<p>Description manquante<br>Ajouter cette information dans le champ \"description\" de cet élément</p>')|nl2br }}"{% endif %}>
							<td class="text-center">
								{% set file_url = one.favicon is defined ? fileurl(one.favicon,'thumbnails',32) : null %}
								{% if file_url is not null %}
								<img src="{{ asset(file_url) }}" class="img-sm" alt="{{ one.favicon.mediatype }} {{ one.name }}" data-view-media="'{{ one.favicon.bddIdentifyer }}'" data-view-width="400" data-view-type="'thumbnails'" data-view-name="{{ one.name|json_encode }}">
								{% else %}
								<i class="fa {{ one.icon }} fa-2x fa-fw" style="color:{{ one.color|default('#AAAAAA') }};"></i>
								{% endif %}
							</td>
							<td class="text-center">{{ one.id }}</td>
							{% if is_granted('ROLE_SUPER_ADMIN') %}<td class="text-center">{{ actions.booleanIcon(one.valid) }}</td>{% endif %}
							<td class="text-left">
								{{ actions.buttons_groups(one) }}
							</td>
							<td class="text-left">
								{% if one.prefered %}
								<u><strong>{{ one.title }}</strong></u>
								{% else %}
								{{ one.title }}
								{% endif %}
							</td>
							<td class="text-center">{{ actions.entity_label(one.owner, one.owner == site_context.environment ? 'primary' : null, true, true) }}</td>
							<td class="text-left">
								{{ actions.entity_labels(one.associates, null, true, true) }}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
			{{ actions.notfoundlist(model) }}
			{% endif %}

		</div>
	</div>
</div>
{% endblock content %}
