{# FIXT@fixt_reference = 'entity_show.html.twig' #}
{# FIXT@name = 'Entity show' #}
{# FIXT@titleh1 = 'Entité' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_show' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends 'WebsiteAdminBundle:Bases:base_wrap_01.html.twig' %}
{% import 'WebsiteAdminBundle:Macro:entities_actions.html.twig' as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">

		{% if entity|default(null) is not null %}

		<div class="row">
			<div class="col-lg-12">
				<h2 class="text-center m-t-none p-b-sm p-sm border-bottom"><small class="text-muted">{{ 'name'|trans({}, entity.shortname)|striptags }}</small> <strong>{{ entity.name }}</strong> <span class="label label-primary m-sm">{{ app.user.preference('forms.contexts').value|default('?')|join(' ') }}</span></h2>
				{% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
				<h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ entity.contextdate|localizeddate('full', 'full', currentLanguage.fullname) }}</h4>
				{% endif %}
				{{ actions.alertStatus(entity) }}
				{{ actions.showOnwers(entity) }}
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">

				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>{{ 'Informations'|trans }}</h5>
						<div class="ibox-tools">
							<a class="collapse-link">
								<i class="fa fa-chevron-up fa-fw"></i>
							</a>
						</div>
					</div>
					<div class="ibox-content">
						{# {% set links = entity.parentLinks.toArray|join(' / ') %} #}
						{# {{ dump(links) }} #}
						{# {{ dump(entity.parentLinks) }} #}
						<p>{{ 'field.name'|trans({}, entity.shortname) }} : <strong>{{ entity.name }}</strong></p>
						<p>{{ 'field.pathname'|trans({}, entity.shortname) }} : <strong>{{ entity.pathname }}</strong></p>
						<p>{{ 'field.prefered'|trans({}, entity.shortname) }} : <strong>{{ (entity.prefered ? '<i class="fa fa-star fa-fw"></i>' : '<i class="fa fa-star-o fa-fw"></i>' )|raw }}</strong></p>
						<p>{{ 'field.title'|trans({}, entity.shortname) }} : <strong>{{ entity.title|default('')|raw }}</strong></p>
						<p>{{ 'field.subtitle'|trans({}, entity.shortname) }} : <strong>{{ entity.subtitle|default('')|raw }}</strong></p>
						<p>{{ 'field.functionality'|trans({}, entity.shortname) }} : <strong>{{ entity.functionality|default('')|raw }}</strong></p>
						<p>{{ 'field.accroche'|trans({}, entity.shortname) }} : <strong>{{ entity.accroche|default('')|raw }}</strong></p>
						<p>{{ 'field.description'|trans({}, entity.shortname) }} : <strong>{{ entity.description|default('')|raw }}</strong></p>
						<hr>
						<p>{{ 'field.created'|trans({}, entity.shortname) }} : <strong>{{ entity.created|localizeddate('none', 'none', app.request.locale, null, "dd/MM/YYYY HH:mm:ss") }}</strong></p>
						<p>{{ 'field.updated'|trans({}, entity.shortname) }} : <strong>{{ entity.updated is not null ? entity.updated|localizeddate('none', 'none', app.request.locale, null, "dd/MM/YYYY HH:mm:ss") : '<i class="fa fa-times fa-fw fa-1x text-muted"></i>'|raw }}</strong></p>
						{# <hr> #}
						{% if entity.hasAssociateUser(app.user) or is_granted('ROLE_ADMIN') %}
						{{ actions.show_preferences(entity, is_granted('ROLE_SUPER_ADMIN') ? 'edit' : null) }}
						{% endif %}
						<hr>
						<h4>CEO codes</h4>
						<ul>
							{% for name,ceocode in entity.ceocodes %}
							<li>{{ name }} : <strong>{{ ceocode }}</strong></li>
							{% endfor %}
						</ul>
						<p>{{ 'field.elocation'|trans({}, entity.shortname) }} : <strong>{{ entity.elocation|default('')|raw }}</strong></p>
						<p>{{ 'field.email'|trans({}, entity.shortname) }} : <strong>{{ entity.email|default('')|raw }}</strong></p>
						<p>{{ 'field.telephon'|trans({}, entity.shortname) }} : <strong>{{ entity.telephon|default('')|raw }}</strong></p>
						<p>{{ 'field.gmapref'|trans({}, entity.shortname) }} : <strong>{{ entity.gmapref|default('')|raw }}</strong></p>
						{# <p>{{ 'field.owner'|trans({}, entity.shortname) }} : <strong>{{ entity.owner.__toString|default('unknown'|trans) }}</strong></p> #}
						<p>{{ 'field.associatePartenaires'|trans({}, entity.shortname) }} : {{ actions.entity_labels(entity.associatePartenaires) }}</p>
					</div>
				</div>
			</div>

			<div class="col-md-6">

				{{ actions.imagesThumbs(entity, 'lg') }}

				{% if entity.hasAssociateUser(app.user) or is_granted('ROLE_ADMIN') %}

				{% set diaporama = entity.getOwnerDirectory('system/Diaporamas', false) %}
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>{{ icon('Image', true, true, ['fa-fw'])|raw }} {{ 'Dossier'|trans }} <u title="{{ diaporama.ownerdir.name }} > #{{ diaporama.id }} {{ diaporama.getPathname(true) }}">{{ diaporama.name }}</u> {{ ('<span class="label label-info pull-right">' ~ diaporama.childs|length ~ '</span>')|raw }}</h5>
					</div>
					<div class="ibox-content" data-manage-files="{{ {classes: ['Image'], content_types: 'auto', parent: diaporama.id, text_addfile: 'Ajouter une image'|trans}|json_encode }}">
						{# <div>
							<a href="{{ path('wsa_image_create', {parent: diaporama.id}) }}" class="btn btn-xs btn-info woc"><i class="fa fa-plus fa-fw"></i>{{ 'Ajouter une image'|trans }}</a>
						</div>
						{{ actions.slider_carousel(diaporama.childs, {type: 'thumbnail', addDiaposBddid: entity.bddid}) }} #}
					</div>
				</div>

				{% set videos_folder = entity.getOwnerDirectory('drive/Video', false) %}
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>{{ icon('Video', true, true, ['fa-fw'])|raw }} {{ 'Dossier'|trans }} <u title="{{ videos_folder.ownerdir.name }} > #{{ videos_folder.id }} {{ videos_folder.getPathname(true) }}">{{ 'names'|trans([], 'Video') }}</u> {{ ('<span class="label label-info pull-right">' ~ videos_folder.childs|length ~ '</span>')|raw }}</h5>
					</div>
					<div class="ibox-content" data-manage-files="{{ {classes: ['Video'], content_types: 'auto', parent: videos_folder.id, text_addfile: 'Ajouter une vidéo'|trans}|json_encode }}">
						{# <div>
							<a href="{{ path('wsa_video_create', {parent: videos_folder.id}) }}" class="btn btn-xs btn-info woc"><i class="fa fa-plus fa-fw"></i>{{ 'Ajouter une vidéo'|trans }}</a>
						</div>
						{{ actions.video_carousel(videos_folder.childs, {type: 'thumbnail', addVideosBddid: entity.bddid}) }} #}
					</div>
				</div>

				{% else %}

				{% set diaporama = entity.getOwnerDirectory('system/Diaporamas', false) %}
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>{{ icon('Image', true, true, ['fa-fw'])|raw }} {{ 'Dossier'|trans }} <u title="{{ diaporama.ownerdir.name }} > #{{ diaporama.id }} {{ diaporama.getPathname(true) }}">{{ diaporama.name }}</u> {{ ('<span class="label label-info pull-right">' ~ diaporama.childs|length ~ '</span>')|raw }}</h5>
					</div>
					<div class="ibox-content">
						{{ actions.slider_carousel(diaporama.childs, {type: 'thumbnail', addDiaposBddid: entity.bddid}) }}
					</div>
				</div>

				{% set videos_folder = entity.getOwnerDirectory('drive/Video', false) %}
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>{{ icon('Video', true, true, ['fa-fw'])|raw }} {{ 'Dossier'|trans }} <u title="{{ videos_folder.ownerdir.name }} > #{{ videos_folder.id }} {{ videos_folder.getPathname(true) }}">{{ 'names'|trans([], 'Video') }}</u> {{ ('<span class="label label-info pull-right">' ~ videos_folder.childs|length ~ '</span>')|raw }}</h5>
					</div>
					<div class="ibox-content">
						{{ actions.video_carousel(videos_folder.childs, {type: 'thumbnail', addVideosBddid: entity.bddid}) }}
					</div>
				</div>

				{% endif %}

				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>{{ ('Tags'|trans ~ ' <span class="label label-info pull-right">' ~ entity.allTags.count ~ '</span>')|raw }}</h5>
						<div class="ibox-tools">
							<a class="collapse-link">
								<i class="fa fa-chevron-up fa-fw"></i>
							</a>
						</div>
					</div>
					<div class="ibox-content">
						{{ actions.entity_labels(entity.allTags, {'primary': entity.tags}, true, false) }}
					</div>
				</div>

				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>{{ ('Managers'|trans ~ ' <span class="label label-info pull-right">' ~ entity.getOwners(true).count ~ '</span>')|raw }}</h5>
						<div class="ibox-tools">
							<a class="collapse-link">
								<i class="fa fa-chevron-up fa-fw"></i>
							</a>
						</div>
					</div>
					<div class="ibox-content">
						<h4>Propriétaires</h4>
						{{ actions.entity_labels(entity.owners, {'primary': entity.owner}, true, false) }}
						<h4>Managers associés</h4>
						{{ actions.entity_labels(entity.getManagers(), {'primary': entity.owner}, true, false) }}
					</div>
				</div>

				{# {{ actions.ownedDirectoryChilds(entity, 'Associés', 'associates', 'associate', 'system/Associates') }} #}

				{{ actions.ownedDirectoryChilds(entity, 'Adresses', 'adresses', 'adresse', 'system/Adresses') }}

				{{ actions.ownedDirectoryChilds(entity, 'Téléphones', 'telephons', 'telephon', 'system/Telephons') }}

				{{ actions.ownedDirectoryChilds(entity, 'Réseaux sociaux', 'reseausocials', 'reseausocial', 'system/Socials') }}

				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>Paths</h5>
						<div class="ibox-tools">
							<a class="collapse-link">
								<i class="fa fa-chevron-up fa-fw"></i>
							</a>
						</div>
					</div>
					<div class="ibox-content">
						{# {{ actions.entity_labels(entity.getOwnerDirectoryChilds('system/Socials'), 'primary', true, true) }} #}
						<div class="row">
							<div class="col-md-4 text-right"><strong>Parent</strong> <i class="fa fa-arrow-right fa-fw"></i></div>
							<div class="col-md-8">{{ actions.entity_label(entity.parent, null, true, true) }}</div>
							<div class="col-md-4 text-right"><strong>Path name</strong> <i class="fa fa-arrow-right fa-fw"></i></div>
							<div class="col-md-8">{{ actions.iconIfEmpty(entity.pathname, 'fa-times text-muted') }}</div>
							<div class="col-md-4 text-right"><strong>Path slug</strong> <i class="fa fa-arrow-right fa-fw"></i></div>
							<div class="col-md-8">{{ actions.iconIfEmpty(entity.pathslug, 'fa-times text-muted') }}</div>
						</div>
					</div>
				</div>

				{{ actions.iboxDirs(entity, true) }}

				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>{{ ('Groupes'|trans ~ ' <span class="label label-info pull-right">' ~ entity.allGroups.count ~ '</span>')|raw }}</h5>
						<div class="ibox-tools">
							<a class="collapse-link">
								<i class="fa fa-chevron-up fa-fw"></i>
							</a>
						</div>
					</div>
					<div class="ibox-content">
						{{ actions.entity_labels(entity.allGroups, {'primary': entity.groups}, true, true) }}
					</div>
				</div>

			</div>
		</div>

		{% else %}
		{{ actions.notfound(model) }}
		{% endif %}

	</div>
</div>
{% endblock content %}
