{# FIXT@fixt_reference = 'entity_list.html.twig' #}
{# FIXT@name = 'Entity list' #}
{# FIXT@titleh1 = 'Entités' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_list' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<h2 class="text-center m-t-none p-b-sm p-sm border-bottom">{{ icon(model, true, true, ['fa-fw'])|raw }} {{ 'names'|trans({}, model|shortname)|striptags }}</h2>
		{# {% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
		<h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ site_context.date|localizeddate('full', 'full', currentLanguage.fullname) }}</h4>
		{% endif %} #}
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">

			{% if entities|length %}
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th style="width:38px;" class="text-center">{{ icon(model, true, true, ['fa-fw'])|raw }}</th>
							<th style="width:1%;" class="text-center">{{ 'field.id'|trans({}, model|shortname) }}</th>
							<th class="text-left">{{ 'Actions'|trans }}</th>
							<th class="text-left">{{ 'field.category'|trans({}, model|shortname) }}</th>
							<th class="text-left">{{ 'field.question'|trans({}, model|shortname) }}</th>
							<th class="text-left">{{ 'field.response'|trans({}, model|shortname) }}</th>
							{# <th class="text-center">{{ 'Créateur'|trans({}, model|shortname) }}</th> #}
							<th class="text-center">{{ 'field.created'|trans({}, model|shortname) }}<br>{{ 'field.updated'|trans({}, model|shortname) }}</th>
						</tr>
					</thead>
					<tbody>
						{% for one in entities %}
						<tr class="{{ tableClass(one) }}"{% if one.description is defined %} data-popover data-content="{{ one.description|empty('<p>Description manquante<br>Ajouter cette information dans le champ \"description\" de cet élément</p>')|nl2br }}"{% endif %}>
							<td class="text-center">
								<i class="fa {{ one.icon }} fa-fw" style="color:{{ one.color|default('#AAAAAA') }};"></i>
							</td>
							<td class="text-center">{{ one.id }}</td>
							<td class="text-left">
								{{ actions.buttons_groups(one) }}
							</td>
							<td class="text-left">
								<strong>{{ one.category }}</strong>
							</td>
							<td class="text-left">
								{{ one.question|striptags|truncate(70, true) }}
							</td>
							<td class="text-left">
								{{ one.response|striptags|truncate(70, true) }}
							</td>
							{# <td class="text-center">{{ actions.entity_label(one.owner, one.owner == site_context.environment ? 'primary' : null) }}</td> #}
							<td class="text-center">
								{{ one.created|localizeddate('none', 'none', app.request.locale, null, "YY/MM/dd HH:mm:ss") }}
								<br>
								<strong>{{ one.created is not null ? one.created|localizeddate('none', 'none', app.request.locale, null, "YY/MM/dd HH:mm:ss") : '<i class="fa fa-times fa-fw fa-1x text-muted"></i>'|raw }}</strong>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
			{{ actions.notfoundlist(model) }}
			{% endif %}

		</div>
	</div>
</div>
{% endblock content %}
