{# FIXT@fixt_reference = 'entity_list.html.twig' #}
{# FIXT@name = 'Entity list' #}
{# FIXT@titleh1 = 'Entités' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_list' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">

		{% if entities|length %}
		<h3><strong>{{ model|shortname }}</strong> found {{ entities|length }} elements</h3>
		<div class="table-responsive">
			<input type="text" class="form-control form-control-sm m-b-xs" id="filter" placeholder="{{ 'Search'|trans }}">
			<table class="table table-hover footable" data-page-size="25" data-filter=#filter>
				<thead>
					<tr>
						<td colspan="100%">
							<ul class="pagination pull-right"></ul>
						</td>
					</tr>
					<tr>
						<th style="width:38px;" class="text-center">{{ icon('Fileversion', true, true, ['fa-fw'])|raw }}</th>
						<th style="width:1%;" class="text-center">Id</th>
						<th class="text-left">{{ 'Actions'|trans }}</th>
						<th class="text-left">{{ 'Nom'|trans }}</th>
						<th class="text-left">{{ 'Size'|trans }}</th>
						<th class="text-left">{{ 'Type media'|trans }}</th>
						<th class="text-left">{{ 'List by file'|trans }}</th>
						<th class="text-left">{{ 'Item'|trans }}</th>
						<th class="text-right">{{ 'Création'|trans }}</th>
						<th class="text-right">{{ 'Modifiée'|trans }}</th>
					</tr>
				</thead>
				<tbody>
					{% for one in entities if one == one.file.currentVersion %}
					<tr>
						<td class="text-center">
							{% if one.isScreenableAsImage() %}
							<img src="{{ asset(fileurl(one,'thumbnails',128)) }}" class="img-md" alt="{{ one.mediatype }} {{ one.__toString }}" data-view-media="'{{ one.bddIdentifyer }}'" data-view-width="400" data-view-type="'thumbnails'" data-view-name="{{ one.name|json_encode }}">
							{% else %}
							<i class="fa {{ one.file.icon }} fa-2x fa-fw" style="color:{{ one.file.color|default('#AAAAAA') }};"></i>
							{% endif %}
						</td>
						<td class="text-center">{{ one.id }}</td>
						<td class="text-left">
							{%- set addedButtons = null -%}
							{% if one.fileformat.mediaType == 'text' %}
							{%- set addedButtons -%}
							<a role="button" class="btn btn-xs btn-white woc" href="{{ path('wsa_fileversion_checksluglinks', {id: one.id}) }}" title="Transformer les liens SLUG par ID">
								<i class="fa fa-code fa-fw"></i>
							</a>
							{%- endset -%}
							{% endif %}
							{{ actions.buttons_groups(one, addedButtons) }}
						</td>
						<td class="text-left">
							<u><strong>{{ one.name }}</strong></u><br>
							<small><strong>{{ one.originalFileName }}</strong></small>
							<br>
							<small>{{ one.fileName }}</small>
						</td>
						<td class="text-left">
							<span data-filesize="{{ one.fileSize }}"></span>
						</td>
						<td class="text-left">
							-&nbsp;{{ one.fileformat.mediaType }}<br>
							-&nbsp;{{ one.fileformat.subtype }}<br>
							-&nbsp;{{ one.fileformat.contentType }}
						</td>
						<td class="text-left">
							{{ actions.entity_labels(one.file.versionsButCurrent, 'primary') }}
						</td>
						<td class="text-left">
							{{ actions.entity_label(one.file) }}
						</td>
						<td class="text-right">
							{{ one.created|localizeddate('short', 'short', app.request.locale) }}
						</td>
						<td class="text-right">
							{{ one.updated is not null ? one.updated|localizeddate('short', 'short', app.request.locale) }}
						</td>
					</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="100%">
							<ul class="pagination pull-right"></ul>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
		{% else %}
		{{ actions.notfoundlist('Fileversion') }}
		{% endif %}

	</div>
</div>
{% endblock content %}
