{# FIXT@fixt_reference = 'fileformat_list.html.twig' #}
{# FIXT@name = 'Fileformat list' #}
{# FIXT@titleh1 = 'Formats de fichiers' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'fileformat_list' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">

		{% if entities|length %}
		<div class="table-responsive">
			<input type="text" class="form-control form-control-sm m-b-xs" id="filter" placeholder="{{ 'Search'|trans }}">
			<table class="table table-hover footable" data-page-size="25" data-filter=#filter>
				<thead>
					<tr>
						<td colspan="100%">
							<ul class="pagination pull-right"></ul>
						</td>
					</tr>
					<tr>
						<th style="width:38px;" class="text-center">{{ icon(model, true, true, ['fa-fw'])|raw }}</th>
						<th style="width:1%;" class="text-center">Id</th>
						<th class="text-left">{{ 'Actions'|trans }}</th>
						<th class="text-left">{{ 'nom'|trans }}</th>
						<th class="text-left">{{ 'Extension'|trans }}</th>
						<th class="text-left">{{ 'Sub Type'|trans }}</th>
						<th class="text-left">{{ 'Type'|trans }}</th>
						<th class="text-left">{{ 'Content type'|trans }}</th>
					</tr>
				</thead>
				<tbody>
					{% for one in entities %}
					<tr{{ one.inactive|default(false) ? ' class="text-muted"' }}>
						<td class="text-center">
							<i class="fa {{ one.icon }} fa-2x fa-fw" style="color:{{ one.color|default('#AAAAAA') }};"></i>
						</td>
						<td class="text-center">{{ one.id }}</td>
						<td class="text-left">
							{{ actions.buttons_groups(one) }}
						</td>
						<td class="text-left">
							<u><strong>{{ one.name }}</strong></u>
						</td>
						<td class="text-left">.{{ one.extension }}</td>
						<td class="text-left">{{ one.subtype }}</td>
						<td class="text-left">{{ one.mediaType }}</td>
						<td class="text-left">{{ one.contentType }}</td>
					</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="100%">
							<ul class="pagination pull-right"></ul>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
		{% else %}
		{{ actions.notfoundlist(model) }}
		{% endif %}

	</div>
</div>
{% endblock content %}
