{# FIXT@fixt_reference = 'entity_show.html.twig' #}
{# FIXT@name = 'Entity show' #}
{# FIXT@titleh1 = 'Entité' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_show' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">

		{% if entity|default(null) is not null %}
		{% set file = entity.file %}

		<div class="row">

			<div class="col-lg-6">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>{{ 'Binary file informations'|trans }}</h5>
					</div>
					<div class="ibox-content">
						<p>{{ 'field.name'|trans({}, entity.shortname) }} : <strong>{{ entity.__toString }}</strong></p>
						<p>{{ 'field.owner'|trans({}, entity.shortname) }} : <strong>{{ entity.owner.__toString|default('unknown'|trans) }}</strong></p>
						<p>{{ 'field.size'|trans({}, entity.shortname) }} : <strong data-filesize="{{ entity.fileSize }}"></strong></p>
						<p>{{ 'field.currentVersion'|trans({}, entity.shortname) }} : {{ actions.booleanIcon(entity.isCurrentVersion) }}</p>
						<p>{{ 'field.instances'|trans({}, entity.shortname) }} : <strong>{{ actions.entity_labels(entity.instances) }}</strong></p>
						<p>{{ 'field.created'|trans({}, entity.shortname) }} : {{ entity.created|localizeddate('short', 'short', app.request.locale) }}</p>
						<p>{{ 'field.updated'|trans({}, entity.shortname) }} : {{ entity.updated is not null ? entity.updated|localizeddate('short', 'short', app.request.locale) }}</p>
						{% if entity|isInstance('Binary') %}
						<p><strong>Visionner</strong> : <br>
							- system access: <a href="{{ asset(entity.fileUrl) }}" target="_blank">{{ entity.originalFileName|default("???") }}</a>
							<br>
							- controller access: <a href="{{ path('website_view_media', {slug: file.slug, ext: entity.fileExtension, version: (entity.isCurrentVersion ? null : entity.id )}) }}" target="_blank">{{ entity.originalFileName|default("???") }}{{ entity.isCurrentVersion ? null : '/' ~ entity.id }}</a>
						</p>
						<p><strong>Télécharger</strong> : <br>
							- controller load: <a href="{{ path('website_download_media', {slug: file.slug, ext: entity.fileExtension, version: (entity.isCurrentVersion ? null : entity.id )}) }}" target="_blank">{{ entity.originalFileName|default("???") }}{{ entity.isCurrentVersion ? null : '/' ~ entity.id }}</a>
						</p>
						{% endif %}
						<hr>
						<p>{{ 'field.fileUrls'|trans({}, entity.shortname) }} :
							<ul class="list-unstyled">
								{% for url in entity.fileUrls -%}
								<li><a href="{{ asset(url) }}" target="_blank">{{ url }}</a></li>
								{% endfor -%}
							</ul>
						</p>
						<p>{{ 'Files report'|trans({}, entity.shortname) }} : {{ actions.screenFileReport(entity) }}</p>
						{% if entity.allPathnames|default([])|length %}
						<hr>
						<p>{{ 'field.allPathnames'|trans({}, entity.shortname) }} : <ul class="list-unstyled"><li>{{ entity.allPathnames|join('</li><li>')|raw }}</li></ul></p>
						{% endif %}
					</div>
				</div>
			</div>

			{# <div class="col-lg-6">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>{{ 'Dump'|trans }}</h5>
					</div>
					<div class="ibox-content">
						{{ dump(entity) }}
					</div>
				</div>
			</div>
#}
			<div class="col-lg-6">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>{{ 'File informations'|trans }}</h5>
					</div>
					<div class="ibox-content">
						<p>{{ 'field.name'|trans({}, file.shortname) }} : <strong>{{ file.__toString }}</strong></p>
						<p>{{ 'field.owner'|trans({}, file.shortname) }} : <strong>{{ file.owner.__toString|default('unknown'|trans) }}</strong></p>
						<p>{{ 'field.instances'|trans({}, file.shortname) }} : <strong>{{ actions.entity_labels(file.instances) }}</strong></p>
						<p>{{ 'field.created'|trans({}, file.shortname) }} : {{ file.created|localizeddate('short', 'short', app.request.locale) }}</p>
						<p>{{ 'field.updated'|trans({}, file.shortname) }} : {{ file.updated is not null ? file.updated|localizeddate('short', 'short', app.request.locale) }}</p>
						{% if file|isInstance('File') %}
						<p><strong>Visionner</strong> : <br>
							- system access: <a href="{{ asset(file.fileUrl) }}" target="_blank">{{ file.currentVersion.originalFileName|default("???") }}</a>
							<br>
							- controller access: <a href="{{ path('website_view_media', {slug: file.slug, ext: file.fileExtension}) }}" target="_blank">{{ file.currentVersion.originalFileName|default("???") }}</a>
						</p>
						<p><strong>Télécharger</strong> : <br>
							- controller load: <a href="{{ path('website_download_media', {slug: file.slug, ext: file.fileExtension}) }}" target="_blank">{{ file.currentVersion.originalFileName|default("???") }}</a>
						</p>
						{% endif %}
						<hr>
						<p>{{ 'field.fileUrls'|trans({}, file.shortname) }} :
							<ul class="list-unstyled">
								{% for url in file.fileUrls -%}
								<li><a href="{{ asset(url) }}" target="_blank">{{ url }}</a></li>
								{% endfor -%}
							</ul>
						</p>
						<hr>
						<p>{{ 'field.allPathnames'|trans({}, file.shortname) }} : <ul class="list-unstyled"><li>{{ file.allPathnames|join('</li><li>')|raw }}</li></ul></p>
					</div>
				</div>
			</div>

			{% if entity.fileformat.mediaType == 'text' %}
			{% set controlCode = getCheckedSlugCode(entity) %}
			<div class="col-lg-6">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>Texte/code</h5>
					</div>
					<div class="ibox-content">
						<textarea style="width:100%; height: 800px;">{{ entity.binaryfile }}</textarea>
					</div>
				</div>
			</div>

			{# {% if controlCode.result %} #}
			<div class="col-lg-6">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5 class="full-width">Texte/code search slug/Bddid links {% if controlCode.found > 0 %}<a href="{{ path('wsa_fileversion_checksluglinks', {id: entity.id}) }}" title="Transformer les liens SLUG/BDDID par ID" class="woc action-confirm pull-right"><i class="fa fa-code fa-fw m-r-xs"></i>Check Slugs/Bddid -> ID <i class="text-muted">(found: {{ controlCode.found }})</i></a>{% endif %}</h5>
					</div>
					<div class="ibox-content">
						<div>{{ controlCode.code|raw }}</div>
					</div>
				</div>
			</div>
			{# {% endif %} #}
			{% endif %}

		</div>

		{% else %}
		{{ actions.notfound(model) }}
		{% endif %}

	</div>
</div>
{% endblock content %}
