{# FIXT@fixt_reference = 'file_list.html.twig' #}
{# FIXT@name = 'File list' #}
{# FIXT@titleh1 = 'Fichiers file' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'file_list' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">

		<h2 class="text-center m-t-none p-b-sm p-sm border-bottom">{{ icon(model, true, true, ['fa-fw'])|raw }} {{ 'names'|trans({}, model|shortname)|striptags }}</h2>
		{# {% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
		<h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ site_context.date|localizeddate('full', 'full', currentLanguage.fullname) }}</h4>
		{% endif %} #}

		{% if entities|length %}
		<div class="table-responsive">
			<input type="text" class="form-control form-control-sm m-b-xs" id="filter" placeholder="{{ 'Search'|trans }}">
			<table class="footable table table-hover" data-page-size="25" data-filter=#filter>
				<thead>
					<tr>
						<td colspan="100%">
							<ul class="pagination pull-right"></ul>
						</td>
					</tr>
					<tr>
						<th style="width:38px;" class="text-center">{{ icon(model, true, true, ['fa-fw'])|raw }}</th>
						<th style="width:1%;" class="text-center">Id</th>
						<th class="text-left">{{ 'Actions'|trans }}</th>
						<th class="text-left">{{ 'nom'|trans }}</th>
						<th class="text-center">{{ 'Type'|trans }}</th>
						<th class="text-center">{{ 'Taille'|trans }}</th>
						<th class="text-center">{{ 'Versions'|trans }}</th>
						<th class="text-center">{{ 'Créateur'|trans }}</th>
						<th class="text-center">{{ 'Dossier'|trans }}</th>
						<th class="text-center">{{ 'Type'|trans }}</th>
					</tr>
				</thead>
				<tbody>
					{% for one in entities %}
					{% if shortname_only|default(one.shortname) == 'Image' and one.shortname == 'Image' %}
					<tr class="{{ tableClass(one) }}"{% if one.description is defined %} data-popover data-content="{{ one.description|empty('<p>Description manquante<br>Ajouter cette information dans le champ \"description\" de cet élément</p>')|nl2br }}"{% endif %}>
						<td class="text-center">
							{% set file_url = fileurl(one,'thumbnails',128) %}
							{% if file_url is not null %}
							<img src="{{ asset(file_url) }}" class="img-md" alt="{{ one.slug }}" data-view-media="{{ one.id }}" data-view-shortname="'Item'" data-view-width="1000" data-view-type="'optimized'">
							{# <img src="{{ asset(one.fileUrls.thumbnails_64x64) }}" class="img-responsive" style="max-width:36px; width:36px;" alt="{{ one.slug }}" data-view-media="{{ one.id }}" data-view-width="800" data-view-type="'optimized'"> #}
							{# <img src="{{ one.currentVersion.B64File(true) }}" class="img-responsive" style="width:32px;"> #}
							{% else %}
							<i class="fa {{ one.icon }} fa-2x fa-fw" style="color:{{ one.color|default('#AAAAAA') }};"></i>
							{% endif %}
						</td>
						<td class="text-center">{{ one.id }}</td>
						<td class="text-left">
							{{ actions.buttons_groups(one) }}
						</td>
						<td class="text-left">
							<u><strong>{{ one.name }}.{{ one.fileExtension }}</strong></u> <i class="text-info">{{ 'name'|trans([], one.shortname) }}</i>
							<br>
							<small><i>{{ one.slug }}</i> / Owner: <span class="text-success">{{ one.owner.username|default(null) }} </span></small>
							<br>
							<small>Path: <i>{{ one.pathname }} / {{ one.pathslug }}</i></small>
						</td>
						<td class="text-center">{{ one.subtype }} / {{ one.mediatype }}</td>
						<td class="text-right"><span data-filesize="{{one.fileSize}}"></span></td>
						<td class="text-center">{{ one.nbversions }}</td>
						<td class="text-center">{{ actions.entity_label(one.owner, one.owner == site_context.environment ? 'primary' : null) }}</td>
						<td class="text-left">{{ actions.entity_label(one.parent, null, true, true) }}</td>
						<td class="text-left">{{ actions.entity_label(one.rootparent, null, true, true) }}</td>
					</tr>
					{% elseif shortname_only|default(one.shortname) == 'Pdf' and one.shortname == 'Pdf' %}
					<tr{{ one.inactive|default(false) ? ' class="text-muted active"' }}>
						<td class="text-center">
							{% set file_url = fileurl(one,'thumbnails',128) %}
							{% if file_url is not null %}
							<img src="{{ asset(file_url) }}" class="img-md" alt="{{ one.slug }}" data-view-media="{{ one.id }}" data-view-shortname="'Item'" data-view-width="1000" data-view-type="'optimized'">
							{# <img src="{{ asset(one.fileUrls.thumbnails_64x64) }}" class="img-responsive" style="max-width:36px; width:36px;" alt="{{ one.slug }}" data-view-media="{{ one.id }}" data-view-width="800" data-view-type="'optimized'"> #}
							{# <img src="{{ one.currentVersion.B64File(true) }}" class="img-responsive" style="width:32px;"> #}
							{% else %}
							<i class="fa {{ one.icon }} fa-2x fa-fw" style="color:{{ one.color|default('#AAAAAA') }};"></i>
							{% endif %}
						</td>
						<td class="text-right">{{ one.id }}</td>
						<td class="text-left">
							{{ actions.buttons_groups(one) }}
						</td>
						<td class="text-left">
							<u><strong>{{ one.name }}.{{ one.fileExtension }}</strong></u> <i class="text-info">{{ 'name'|trans([], one.shortname) }}</i>
							<br>
							<small><i>{{ one.slug }}</i> / Owner: <span class="text-success">{{ one.owner.username|default(null) }} </span></small>
							<br>
							<small>Path: <i>{{ one.pathname }} / {{ one.pathslug }}</i></small>
						</td>
						<td class="text-center">{{ one.subtype }} / {{ one.mediatype }}</td>
						<td class="text-right">{{ (one.fileSize / 1024 / 1024)|number_format(2, ',', '') }}&nbsp;Mo</td>
						<td class="text-center">{{ one.nbversions }}</td>
						<td class="text-center">{{ actions.entity_label(one.owner, one.owner == site_context.environment ? 'primary' : null) }}</td>
						<td class="text-left">{{ actions.entity_label(one.parent, null, true, true) }}</td>
						<td class="text-left">{{ actions.entity_label(one.rootparent, null, true, true) }}</td>
						{# <td class="text-left">
							{% for link in one.parentLinks %}
							{% if link.typeLink == 'solid' %}<strong>{{ link.directory.pathname|default('?') }}</strong>{% else %}{{ link.directory.pathname|default('?') }}{% endif %}
							{{ not loop.last ? '<br>' }}
							{% endfor %}
						</td> #}
					</tr>
					{% elseif shortname_only|default(one.shortname) == 'Video' and one.shortname == 'Video' %}
					<tr{{ one.inactive|default(false) ? ' class="text-muted active"' }}>
						<td class="text-center">
							<div data-view-media="'{{ one.bddIdentifyer }}'" data-view-type="'originals'">
								<i class="fa {{ one.icon }} fa-2x fa-fw" style="color:{{ one.color|default('#AAAAAA') }};"></i>
							</div>
						</td>
						<td class="text-right">{{ one.id }}</td>
						<td class="text-left">
							{{ actions.buttons_groups(one) }}
						</td>
						<td class="text-left">
							<u><strong>{{ one.name }}.{{ one.fileExtension }}</strong></u> <i class="text-info">{{ 'name'|trans([], one.shortname) }}</i>
							<br>
							<small><i>{{ one.slug }}</i> / Owner: <span class="text-success">{{ one.owner.username|default(null) }} </span></small>
							<br>
							<small>Path: <i>{{ one.pathname }} / {{ one.pathslug }}</i></small>
						</td>
						<td class="text-center">{{ one.subtype }} / {{ one.mediatype }}</td>
						<td class="text-right">{{ (one.fileSize / 1024 / 1024)|number_format(2, ',', '') }}&nbsp;Mo</td>
						<td class="text-center">{{ one.nbversions }}</td>
						<td class="text-center">{{ actions.entity_label(one.owner, one.owner == site_context.environment ? 'primary' : null) }}</td>
						<td class="text-left">{{ actions.entity_label(one.parent, null, true, true) }}</td>
						<td class="text-left">{{ actions.entity_label(one.rootparent, null, true, true) }}</td>
						{# <td class="text-left">
							{% for link in one.parentLinks %}
							{% if link.typeLink == 'solid' %}<strong>{{ link.directory.pathname|default('?') }}</strong>{% else %}{{ link.directory.pathname|default('?') }}{% endif %}
							{{ not loop.last ? '<br>' }}
							{% endfor %}
						</td> #}
					</tr>
					{% elseif shortname_only|default(one.shortname) == 'Audio' and one.shortname == 'Audio' %}
						<h1>Créer template pour AUDIO !!</h1>
					{% elseif shortname_only|default(one.shortname) == 'Text' and one.shortname == 'Text' %}
					<tr{{ one.inactive|default(false) ? ' class="text-muted active"' }}>
						<td class="text-center">
							<i class="fa {{ one.icon }} fa-2x fa-fw" style="color:{{ one.color|default('#AAAAAA') }};"></i>
						</td>
						<td class="text-right">{{ one.id }}</td>
						<td class="text-left">
							{{ actions.buttons_groups(one) }}
						</td>
						<td class="text-left">
							<u><strong>{{ one.name }}.{{ one.fileExtension }}</strong></u> <i class="text-info">{{ 'name'|trans([], one.shortname) }}</i>
							<br>
							<small><i>{{ one.slug }}</i> / Owner: <span class="text-success">{{ one.owner.username|default(null) }} </span></small>
							<br>
							<small>Path: <i>{{ one.pathname }} / {{ one.pathslug }}</i></small>
						</td>
						<td class="text-center">{{ one.subtype }} / {{ one.mediatype }}</td>
						<td class="text-right"><span data-filesize="{{one.fileSize}}"></span></td>
						<td class="text-center">{{ one.nbversions }}</td>
						<td class="text-center">{{ actions.entity_label(one.owner, one.owner == site_context.environment ? 'primary' : null) }}</td>
						<td class="text-left">{{ actions.entity_label(one.parent, null, true, true) }}</td>
						<td class="text-left">{{ actions.entity_label(one.rootparent, null, true, true) }}</td>
					</tr>
					{% elseif shortname_only|default(one.shortname) == 'Html' and one.shortname == 'Html' %}
					<tr{{ one.inactive|default(false) ? ' class="text-muted active"' }}>
						<td class="text-center">
							<i class="fa {{ one.icon }} fa-2x fa-fw" style="color:{{ one.color|default('#AAAAAA') }};"></i>
						</td>
						<td class="text-right">{{ one.id }}</td>
						<td class="text-left">
							{{ actions.buttons_groups(one) }}
						</td>
						<td class="text-left">
							<u><strong>{{ one.name }}.{{ one.fileExtension }}</strong></u> <i class="text-info">{{ 'name'|trans([], one.shortname) }}</i>
							<br>
							<small><i>{{ one.slug }}</i> / Owner: <span class="text-success">{{ one.owner.username|default(null) }} </span></small>
							<br>
							<small>Path: <i>{{ one.pathname }} / {{ one.pathslug }}</i></small>
						</td>
						<td class="text-center">{{ one.subtype }} / {{ one.mediatype }}</td>
						<td class="text-right"><span data-filesize="{{one.fileSize}}"></span></td>
						<td class="text-center">{{ one.nbversions }}</td>
						<td class="text-center">{{ actions.entity_label(one.owner, one.owner == site_context.environment ? 'primary' : null) }}</td>
						<td class="text-left">{{ actions.entity_label(one.parent, null, true, true) }}</td>
						<td class="text-left">{{ actions.entity_label(one.rootparent, null, true, true) }}</td>
					</tr>
					{% elseif shortname_only|default(one.shortname) == 'Twig' and one.shortname == 'Twig' %}
					<tr{{ one.inactive|default(false) ? ' class="text-muted active"' }}>
						<td class="text-center">
							<i class="fa {{ one.icon }} fa-2x fa-fw" style="color:{{ one.color|default('#AAAAAA') }};"></i>
						</td>
						<td class="text-right">{{ one.id }}</td>
						<td class="text-left">
							{{ actions.buttons_groups(one) }}
						</td>
						<td class="text-left">
							{{ one.defaultjoin ? '<i class="fa fa-star fa_fw m-r-xs text-info" title="Cette section sera ajoutée aux nouvelles pages web."></i>'|raw : '<i class="fa fa-star-o fa_fw m-r-xs text-muted" title="Cette section n\'est pas ajoutée aux nouvelles pages web."></i>'|raw }}
							<u><strong>{{ one.filename }}</strong></u> <i class="text-info">{{ 'name'|trans([], one.shortname) }}</i>
							{% if is_granted('ROLE_SUPER_ADMIN') %}
							<br><small><i>{{ one.slug }}</i> / Owner: <span class="text-success">{{ one.owner.name|default('unknown'|trans) }} </span></small>
							<br><small>Path: <i>{{ one.pathname }} / {{ one.pathslug }}</i></small>
							{% endif %}
							<br><small>{{ 'plateforme'|trans }}: <i>{{ one.bundle|trans }}</i></small>
						</td>
						<td class="text-center">{{ one.subtype }} / {{ one.mediatype }}</td>
						<td class="text-right"><span data-filesize="{{one.fileSize}}"></span></td>
						<td class="text-center">{{ one.nbversions }}</td>
						<td class="text-center">{{ actions.entity_label(one.owner, one.owner == site_context.environment ? 'primary' : null) }}</td>
						<td class="text-left">{{ actions.entity_label(one.parent, null, true, true) }}</td>
						<td class="text-center">{{ one.typepage }}</td>
					</tr>
					{% elseif shortname_only|default(one.shortname) == 'Pageweb' and one.shortname == 'Pageweb' %}
					<tr{{ one.inactive|default(false) ? ' class="text-muted active"' }}>
						<td class="text-center">
							<i class="fa {{ one.icon }} fa-2x fa-fw" style="color:{{ one.color|default('#AAAAAA') }};"></i>
						</td>
						<td class="text-right">{{ one.id }}</td>
						<td class="text-left">
							{{ actions.buttons_groups(one) }}
						</td>
						<td class="text-left">
							<u><strong>{{ one.filename }}</strong></u> <i class="text-info">{{ 'name'|trans([], one.shortname) }}</i>
							{% if is_granted('ROLE_SUPER_ADMIN') %}
							<br><small><i>{{ one.slug }}</i> / Owner: <span class="text-success">{{ one.owner.name|default('unknown'|trans) }} </span></small>
							<br><small>Path: <i>{{ one.pathname }} / {{ one.pathslug }}</i></small>
							{% endif %}
							<br><small>{{ 'plateforme'|trans }}: <i>{{ one.bundle|trans }}</i></small>
						</td>
						<td class="text-center">{{ one.subtype }} / {{ one.mediatype }}</td>
						<td class="text-right"><span data-filesize="{{one.fileSize}}"></span></td>
						<td class="text-center">{{ one.nbversions }}</td>
						<td class="text-center">{{ actions.entity_label(one.owner, one.owner == site_context.environment ? 'primary' : null) }}</td>
						<td class="text-left">{{ actions.entity_label(one.parent, null, true, true) }}</td>
						<td class="text-center">{{ one.typepage }}</td>
					</tr>
					{% endif %}
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="100%">
							<ul class="pagination pull-right"></ul>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
		{% else %}
		{{ actions.notfoundlist(model) }}
		{% endif %}

	</div>
</div>
{% endblock content %}
