{# FIXT@fixt_reference = 'entity_show.html.twig' #}
{# FIXT@name = 'Entity show' #}
{# FIXT@titleh1 = 'Entité' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_show' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">

			{% if entity|default(null) is not null %}

			<div class="row">
				<div class="col-lg-12">
					<h2 class="text-center m-t-none p-b-sm p-sm border-bottom"><small class="text-muted">{{ 'name'|trans({}, entity.shortname)|striptags }}</small> <strong title="{{ entity.longname }}">{{ entity.name }}</strong> <span class="label label-primary m-sm">{{ app.user.preference('forms.contexts').value|default('?')|join(' ') }}</span></h2>
					{# {% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
					<h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ entity.contextdate|localizeddate('full', 'full', currentLanguage.fullname) }}</h4>
					{% endif %} #}
				</div>
			</div>

			<div class="row">

				<div class="col-md-6">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>{{ 'Informations'|trans }}</h5>
						</div>
						<div class="ibox-content">
							<h3>Members</h3>
							<p>{{ 'Tiers'|trans({}, entity.shortname) }} : {{ actions.entity_labels(request_data('Tier', 'findByGroups', [entity], true), null, true, true) }}</p>
							<p>{{ 'field.groupowner'|trans({}, entity.shortname) }} : {{ actions.entity_label(entity.groupowner, null, true, true) }}</p>
							<p>{{ 'Utilisateurs (tous)'|trans({}, entity.shortname) }} : {{ actions.entity_labels(request_data('User', 'findByLongnameGroup', entity.longname, true)) }}</p>
							<p>{{ 'Utilisateurs'|trans({}, entity.shortname) }} : {{ actions.entity_labels(request_data('User', 'findByLongnameGroup', entity.longname, false)) }}</p>
							<p>{{ 'field.rootParent'|trans({}, entity.shortname) }} : {{ actions.entity_label(entity.rootParent, null, true, true) }}</p>
							<p>{{ 'field.parent'|trans({}, entity.shortname) }} : {{ actions.entity_label(entity.parent, null, true, true) }}</p>
							<p>{{ 'field.childs'|trans({}, entity.shortname) }} : {{ actions.entity_labels(entity.childs, 'primary') }}</p>
							<p>{{ 'field.allChilds'|trans({}, entity.shortname) }} : {{ actions.entity_labels(entity.allChilds, {'primary': entity.childs}) }}</p>
							<hr>
							{{- actions.admin_print(entity, metadata_singles(entity)|keys) -}}
						</div>
					</div>
				</div>

				<div class="col-md-6">
					{{ actions.iboxEntityInfo() }}
					{{ actions.iboxGroup(entity.rootParent(true)) }}
				</div>

			</div>

			{% else %}
			{{ actions.notfound(model) }}
			{% endif %}

		</div>
	</div>
</div>
{% endblock content %}
