{# FIXT@fixt_reference = 'group_list.html.twig' #}
{# FIXT@name = 'Group list' #}
{# FIXT@titleh1 = 'Groupes' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'group_list' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">

		<h2 class="text-center m-t-none p-b-sm p-sm border-bottom">{{ icon(model, true, true, ['fa-fw'])|raw }} {{ 'names'|trans({}, model|shortname)|striptags }}</h2>
		{# {% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
		<h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ site_context.date|localizeddate('full', 'full', currentLanguage.fullname) }}</h4>
		{% endif %} #}

		{% if entities|length %}
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th style="width:38px;" class="text-center">{{ icon(model, true, true, ['fa-fw'])|raw }}</th>
						<th style="width:1%;" class="text-center">Id</th>
						<th class="text-left">{{ 'Actions'|trans }}</th>
						<th class="text-left">{{ 'Nom'|trans }}</th>
						<th class="text-center">{{ 'Level'|trans }}</th>
						<th class="text-left">{{ 'Roles'|trans }}</th>
						<th class="text-left">{{ 'Sous-groupes'|trans }}</th>
						<th class="text-left">{{ 'Tiers'|trans }}</th>
					</tr>
				</thead>
				<tbody>
					{% for one in entities %}
					<tr class="{{ tableClass(one) }}"{% if one.description is defined %} data-popover data-content="{{ one.description|empty('<p>Description manquante<br>Ajouter cette information dans le champ \"description\" de cet élément</p>')|nl2br }}"{% endif %}>
						<td class="text-center">
							<i class="fa {{ one.icon }} fa-1x fa-fw" style="color:{{ one.color|default('#AAAAAA') }};"></i>
						</td>
						<td class="text-center">{{ one.id }}</td>
						<td class="text-left">
							{{ actions.buttons_groups(one) }}
						</td>
						<td class="text-left" title="{{ one.longname }}">
							<strong>{{ one.name|default(one.username|default(one.id)) }}</strong>
							{# {% if one.groupowner is not null %} #}
							<br>
							<small>
								{# <i class="fa {{ one.groupowner.icon }} fa-fw m-r-xs"></i>{{ one.groupowner.name }} #}
								{# {% for role in one.roles %}<span class="label label-default m-r-xs">{{ role }}</span>{% endfor %} #}
								Owner: {{ actions.entity_label(one.groupowner) }}
							</small>
							{# {% endif %} #}
						</td>
						<td class="text-center">
							{{ one.lvl }}
						</td>
						<td class="text-left">
							<small>{{ actions.roles_labels(one.roles) }}</small>
						</td>
						<td class="text-left">
							{{ actions.entity_labels(one.allChilds, {'primary': one.childs}) }}
						</td>
						<td class="text-left">
							{{ actions.entity_labels(request_data('Tier', 'findByLongnameGroup', one.longname, false)) }}<br>
							{{ actions.entity_labels(request_data('Tier', 'findByGroups', [one], true), 'info') }}<br>
							{{ actions.entity_labels(request_data('Tier', 'findByGroups', [one], false), 'warning') }}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% else %}
		{{ actions.notfoundlist(model) }}
		{% endif %}

	</div>
</div>
{% endblock content %}
