{# FIXT@fixt_reference = 'html_list.html.twig' #}
{# FIXT@name = 'Html list' #}
{# FIXT@titleh1 = 'Fichiers html' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'html_list' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends 'WebsiteAdminBundle:Pageweb:file_list.html.twig' %}
{% set shortname_only = 'Html' %}

