{# FIXT@fixt_reference = 'image_list.html.twig' #}
{# FIXT@name = 'Image list' #}
{# FIXT@titleh1 = 'Fichiers image' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'image_list' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">

		<h2 class="text-center m-t-none p-b-sm p-sm border-bottom">{{ icon(model, true, true, ['fa-fw'])|raw }} {{ 'names'|trans({}, model|shortname)|striptags }}</h2>
		{# {% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
		<h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ site_context.date|localizeddate('full', 'full', currentLanguage.fullname) }}</h4>
		{% endif %} #}

		{% if entities|length %}
			{# {% for one in entities %} #}
				{# {{ dump(entity) }} #}
			{# {% endfor %} #}
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th style="width:38px;" class="text-center">{{ icon(model, true, true, ['fa-fw'])|raw }}</th>
						<th style="width:1%;" class="text-center">Id</th>
						<th class="text-left">{{ 'Actions'|trans }}</th>
						<th class="text-left">{{ 'nom'|trans }}</th>
						<th class="text-center">{{ 'Type'|trans }}</th>
						<th class="text-center">{{ 'Taille'|trans }}</th>
						<th class="text-center">{{ 'Versions'|trans }}</th>
						<th class="text-center">{{ 'Créateur'|trans }}</th>
						<th class="text-left">{{ 'Dossier'|trans }}</th>
						<th class="text-left">{{ 'Root'|trans }}</th>
					</tr>
				</thead>
				<tbody>
					{% for one in entities %}
					<tr class="{{ tableClass(one) }}"{% if one.description is defined %} data-popover data-content="{{ one.description|empty('<p>Description manquante<br>Ajouter cette information dans le champ \"description\" de cet élément</p>')|nl2br }}"{% endif %}>
						<td class="text-center">
							<blocitem data-item="{{ one|serialized }}" data-size="64" data-statusbar="false"></blocitem>
						</td>
						<td class="text-center">{{ one.id }}</td>
						<td class="text-left">
							{{ actions.buttons_groups(one) }}
						</td>
						<td class="text-left">
							<u><strong>{{ one.filename }}</strong></u>
							<br>
							<small><i>{{ one.slug }}</i> / Owner: <span class="text-success">{{ one.owner.username|default(null) }} </span></small>
							<br>
							<small>Path: <i>{{ one.pathname }} / {{ one.pathslug }}</i></small>
						</td>
						<td class="text-center">{{ one.subtype }} / {{ one.mediatype }}</td>
						<td class="text-right"><span data-filesize="{{one.fileSize}}"></span></td>
						<td class="text-center">{{ one.nbversions }}</td>
						<td class="text-center">{{ actions.entity_label(one.owner, one.owner == site_context.environment ? 'primary' : null) }}</td>
						<td class="text-left">{{ actions.entity_label(one.parent, null, true, true) }}</td>
						<td class="text-left">{{ actions.entity_label(one.rootparent, null, true, true) }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% else %}
		{{ actions.notfoundlist(model) }}
		{% endif %}

	</div>
</div>
{% endblock content %}
