{# FIXT@fixt_reference = 'entity_show.html.twig' #}
{# FIXT@name = 'Entity show' #}
{# FIXT@titleh1 = 'Entité' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_show' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">

			{% if entity|default(null) is not null %}

			<div class="row">
				<div class="col-lg-12">
					<h2 class="text-center m-t-none p-b-sm p-sm border-bottom"><small class="text-muted">{{ 'name'|trans({}, entity.shortname)|striptags }}</small> <strong>{{ entity.name }}</strong> <span class="label label-primary m-sm">{{ app.user.preference('forms.contexts').value|default('?')|join(' ') }}</span></h2>
					{# {% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
					<h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ entity.contextdate|localizeddate('full', 'full', currentLanguage.fullname) }}</h4>
					{% endif %} #}
					{{ actions.alertStatus(entity) }}
					{{ actions.showOnwers(entity) }}
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="row">

						<div class="col-lg-12">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5>{{ 'Informations'|trans }}</h5>
								</div>
								<div class="ibox-content">
									<p>{{ 'field.name'|trans({}, entity.shortname) }} : <strong>{{ entity.__toString }}</strong></p>
									<p>{{ 'field.owner'|trans({}, entity.shortname) }} : <strong>{{ entity.owner.__toString|default('unknown'|trans) }}</strong></p>
									<p>{{ 'field.originalFileName'|trans({}, entity.shortname) }} : <strong>{{ entity.currentVersion.originalFileName }}</strong></p>
									<p>{{ 'field.created'|trans({}, entity.shortname) }} : {{ entity.created|localizeddate('short', 'short', app.request.locale) }}</p>
									<p>{{ 'field.updated'|trans({}, entity.shortname) }} : {{ entity.updated is not null ? entity.updated|localizeddate('short', 'short', app.request.locale) }}</p>
									<div class="well row">
										<div class="col-md-4 text-right"><strong>System access</strong> <i class="fa fa-arrow-right fa-fw"></i></div>
										<div class="col-md-8"><a href="{{ asset(entity.fileUrl) }}" target="_blank">{{ entity.currentVersion.originalFileName|default("???") }}</a></div>
										<div class="col-md-4 text-right"><strong>Controller access</strong> <i class="fa fa-arrow-right fa-fw"></i></div>
										<div class="col-md-8"><a href="{{ path('website_view_media', {slug: entity.slug, ext: entity.fileExtension}) }}" target="_blank">{{ entity.currentVersion.originalFileName|default("???") }}</a></div>
										<div class="col-md-4 text-right"><strong>Controller download</strong> <i class="fa fa-arrow-right fa-fw"></i></div>
										<div class="col-md-8"><a href="{{ path('website_download_media', {slug: entity.slug, ext: entity.fileExtension}) }}" target="_blank">{{ entity.currentVersion.originalFileName|default("???") }}</a></div>
									</div>
									{# <p>{{ 'field.allPathnames'|trans({}, entity.shortname) }} : <ul class="list-unstyled"><li>{{ entity.allPathnames|join('</li><li>')|raw }}</li></ul></p> #}
									{# <hr> #}
									<p>{{ 'field.fileUrls'|trans({}, entity.shortname) }} :
										<ul class="list-unstyled">
											{% for url in entity.fileUrls -%}
											<li><a href="{{ asset(url) }}" target="_blank">{{ url }}</a></li>
											{% endfor -%}
										</ul>
									</p>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="col-md-6">
					<div class="row">

						{% if entity.nbVersions|default(0) > 0 %}
						<div class="col-lg-12">
							{{ actions.iboxVersions(entity) }}
						</div>
						{% endif %}

						{{ actions.iboxDirs(entity, true) }}

					</div>
				</div>

			</div>

			{% else %}
			{{ actions.notfound(model) }}
			{% endif %}

		</div>
	</div>
</div>
{% endblock content %}
