{# FIXT@fixt_reference = 'jeux_show.html.twig' #}
{# FIXT@name = 'Jeu show' #}
{# FIXT@titleh1 = 'Jeu' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_show' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">

			{% if entity|default(null) is not null %}

			<div class="row">
				<div class="col-lg-12">
					<h2 class="text-center m-t-none p-b-sm p-sm border-bottom"><small class="text-muted">{{ 'name'|trans({}, entity.shortname)|striptags }}</small> <strong>{{ entity.name }}</strong> <span class="label label-primary m-sm">{{ app.user.preference('forms.contexts').value|default('?')|join(' ') }}</span></h2>
					<h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ entity.contextdate|localizeddate('full', 'full', currentLanguage.fullname) }}</h4>
					{{ actions.alertStatus(entity) }}
					{{ actions.showOnwers(entity) }}
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="row">

						<div class="col-md-6">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5>{{ 'Informations'|trans }}</h5>
								</div>
								<div class="ibox-content">
									{# <p>{{ 'field.name'|trans({}, entity.shortname) }} : <strong>{{ entity.__toString }}</strong></p> #}
									{# <p>{{ 'field.owner'|trans({}, entity.shortname) }} : <strong>{{ entity.owner.__toString|default('unknown'|trans) }}</strong></p> #}
									{# <p>{{ 'field.title'|trans({}, entity.shortname) }} : <strong>{{ entity.title|default('unknown'|trans)|raw }}</strong></p> #}
									{# <p>{{ 'field.menutitle'|trans({}, entity.shortname) }} : <strong>{{ entity.menutitle|default('unknown'|trans)|raw }}</strong></p> #}
									{# <p>{{ 'field.description'|trans({}, entity.shortname) }} : <strong>{{ entity.description|default('unknown'|trans)|raw }}</strong></p> #}
									{{- actions.admin_print(entity, metadata_singles(entity)|keys) -}}
									{% if entity.fileUrls|default([])|length %}
									<hr><p>{{ 'field.fileUrls'|trans({}, entity.shortname) }} : <ul class="list-unstyled"><li>{{ entity.fileUrls|join('</li><li>')|raw }}</li></ul></p>
									{% endif %}
									{% if entity.allPathnames|default([])|length %}
									<hr><p>{{ 'field.allPathnames'|trans({}, entity.shortname) }} : <ul class="list-unstyled"><li>{{ entity.allPathnames|join('</li><li>')|raw }}</li></ul></p>
									{% endif %}
									<hr>
									<h3>Billets</h3>
									<p>{{ 'field.products'|trans({}, entity.shortname) }} : {{ actions.entity_labels(entity.products, null, true, true) }}</p>
									<p>{{ 'field.addedAutoProducts'|trans({}, entity.shortname) }} : {{ actions.entity_labels(entity.addedAutoProducts, null, true, true) }}</p>
									<p>{{ 'field.allProducts'|trans({}, entity.shortname) }} : {{ actions.entity_labels(entity.allProducts, null, true, true) }}</p>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							{{ actions.imagesThumbs(entity, 'lg') }}
							{{ actions.iboxEventdates(entity, is_granted('ROLE_COLLAB')) }}
						</div>

{# 						<div class="col-md-6">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5>{{ 'PDF'|trans }}</h5>
								</div>
								<div class="ibox-content">
									{{ dump(entity.getOwnerDirectoryChilds('system/Pdf', 'Pdf')) }}
									{{ dump(entity.getOwnerDirectoryChilds('system/Diaporamas', 'Image')) }}
								</div>
							</div>
						</div> #}

					</div>
				</div>

				<div class="col-md-12">
					<div class="row">

						{% if entity.nbVersions|default(0) > 0 %}
						<div class="col-md-6">
							{{ actions.iboxVersions(entity) }}
						</div>
						{% endif %}


						{% if entity.hasDirs()|default(false) %}
						<div class="col-md-6">
							{{ actions.iboxDirs(entity, true) }}
						</div>
						{% endif %}

					</div>
				</div>
			</div>

			{% else %}
			{{ actions.notfound(model) }}
			{% endif %}

		</div>
	</div>
</div>
{% endblock content %}
