{# FIXT@fixt_reference = 'entity_list.html.twig' #}
{# FIXT@name = 'Entity list' #}
{# FIXT@titleh1 = 'Entités' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_list' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<h2 class="text-center m-t-none p-b-sm p-sm border-bottom">
			{{ icon(model, true, true, ['fa-fw'])|raw }} {{ 'names'|trans({}, model|shortname)|striptags }}
			<br>
			{% for current in years %}
			<a href="{{ path('wsa_journey_list', {year: current}) }}" class="btn btn-sm btn-{{ current == year ? 'info' : 'white' }} m-r-xs woc">{{ icon(model, true, true, ['fa-fw','m-r-xs'])|raw }}{{ current }}</a>
			{% endfor %}
			<a role="button" class="btn btn-sm btn-white woc" href="{{ path('wsa_calendar_updateallcachedchilds') }}" title="{{ 'Mettre à jour le cache des agendas'|transno }}">{{ icon('Eventdate', true, true, ['fa-fw'])|raw }}</a>
			<a role="button" class="btn btn-sm btn-white woc" href="{{ path('wsa_event_checkjourneys') }}" title="{{ 'Check journeys parcs'|transno }}"><i class="fa fa-refresh fa-fw"></i></a>
			<a role="button" class="btn btn-sm btn-white woc" href="{{ path('wsa_eventdate_check') }}" title="{{ 'Vérifier les eventdates, supprimer les inutiles, rattacher aux Journées et Saisons'|transno }}"><i class="fa fa-refresh fa-fw"></i></a>
		</h2>
		{# {% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
		<h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ site_context.date|localizeddate('full', 'full', currentLanguage.fullname) }}</h4>
		{% endif %} #}
	</div>
</div>

<div class="row">
	<div class="col-lg-12">

		{# NOUVELLE SAISON #}
		{% set currentYear = currentYear() %}
		{% if currentYear not in years|default([currentYear]) %}
		<div class="alert alert-warning alert-dismissible animated fadeInRight" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			Il est temps de créer la <strong><a href="{{ path('wsa_season_create') }}" class="alert-link">Nouvelle saison {{ currentYear }}</a></strong> !
		</div>
		{% endif %}

		{% if entities|length %}
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th style="width:38px;" class="text-center">{{ icon(model, true, true, ['fa-fw'])|raw }}</th>
						<th style="width:1%;" class="text-center">Id</th>
						<th class="text-left">{{ 'Actions'|trans }}</th>
						<th class="text-left">{{ 'nom'|trans }}</th>
						<th class="text-center">{{ 'field.season'|trans }}</th>
						<th class="text-center">{{ 'Horaires Parc'|trans }}</th>
						{# <th class="text-left">{{ 'field.parcs'|trans }}</th> #}
						<th class="text-center">{{ 'field.parc'|trans }}</th>
						<th class="text-left">{{ 'field.items'|trans }}</th>
						<th class="text-center">{{ 'field.eventdates'|trans }}</th>
					</tr>
				</thead>
				<tbody>
					{% for one in entities %}
					<tr class="{{ tableClass(one) }}"{% if one.description is defined %} data-popover data-content="{{ one.description|empty('<p>Description manquante<br>Ajouter cette information dans le champ \"description\" de cet élément</p>')|nl2br }}"{% endif %}>
						<td class="text-center">
							{% set file_url = one.avatar is defined ? fileurl(one.avatar,'thumbnails',128) : null %}
							{% set file_url = one.thumbnail is defined ? fileurl(one.thumbnail,'thumbnails',128) : null %}
							{% if file_url is not null and one.avatar is defined %}
							<img src="{{ asset(file_url) }}" class="img-sm" alt="{{ one.avatar.mediatype }} {{ one.slug|default(one.name) }}" data-view-media="'{{ one.avatar.bddIdentifyer }}'" data-view-width="400" data-view-type="'thumbnail'" data-view-name="'{{ one.__toString }}'">
							{% elseif file_url is not null and one.thumbnail is defined %}
							<img src="{{ asset(file_url) }}" class="img-sm" alt="{{ one.thumbnail.mediatype }} {{ one.slug|default(one.name) }}" data-view-media="'{{ one.thumbnail.bddIdentifyer }}'" data-view-width="400" data-view-type="'thumbnail'" data-view-name="'{{ one.__toString }}'">
							{% else %}
							<i class="fa {{ one.icon }} fa-2x fa-fw" style="color:{{ one.color|default('#AAAAAA') }};"></i>
							{% endif %}
						</td>
						<td class="text-center">{{ one.id }}</td>
						<td class="text-left">
							{{ actions.buttons_groups(one) }}
						</td>
						<td class="text-left">
							<u><strong>{{ one.__toString }}</strong>&nbsp;<i class="text-muted">{{ one.year }}</i></u>
						</td>
						<td class="text-center">
							{{ actions.entity_labels(one.seasons) }}
						</td>
						<td class="text-center">
							{{ one.parcstart|localizeddate('none', 'short', app.request.locale) }}<i class="fa fa-arrow-right fa-fw text-muted"></i>{{ one.parcend|localizeddate('none', 'short', app.request.locale) }}
						</td>
						{# <td class="text-left">
							{{ actions.event_labels(one.parcs) }}
						</td> #}
						<td class="text-center">
							{{ actions.event_labels([one.parc]) }}
						</td>
						<td class="text-left">
							{{ actions.entity_labels(one.noparcs) }}
						</td>
						<td class="text-center">
							<strong>{{ one.eventdates(site_context.getContextDate())|length }}</strong> / <span class="text-muted">{{ one.eventdates|length }}</span>
							<br>
							{% set next_eventdate = one.getNextEventdate(site_context.getContextDate()) %}
							{{ next_eventdate is not null ? next_eventdate.start|localizeddate('none', 'none', app.request.locale, null, "cccc d MMMM Y HH:mm") : '<i class="fa fa-times fa-fw text-danger"></i>'|raw }}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% else %}
		{{ actions.notfoundlist(model) }}
		{% endif %}

	</div>
</div>
{% endblock content %}
