{# FIXT@fixt_reference = 'entity_show.html.twig' #}
{# FIXT@name = 'Entity show' #}
{# FIXT@titleh1 = 'Entité' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_show' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends 'WebsiteAdminBundle:Bases:base_wrap_01.html.twig' %}
{% import 'WebsiteAdminBundle:Macro:entities_actions.html.twig' as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">

			{% if entity|default(null) is not null %}

			<div class="row">
				<div class="col-lg-12">
					<h2 class="text-center m-t-none p-b-sm p-sm border-bottom">
						<small class="text-muted">{{ 'name'|trans({}, entity.shortname)|striptags }}</small> <strong>{{ entity.daymark|default(entity.id) }}</strong> <span class="label label-primary m-sm">{{ app.user.preference('forms.contexts').value|default('?')|join(' ') }}</span>
						<div class="text-center m-t-none p-b-sm p-sm">Date {{ 'name'|trans({}, entity.shortname)|striptags }} : {{ entity.journeydate|localizeddate('full', 'none', currentLanguage.fullname) }}</div>
						{{ actions.alertStatus(entity) }}
						{{ actions.showOnwers(entity) }}
					</h2>
				</div>
			</div>

			<div class="row">

				<div class="col-md-6 col-lg-4">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>{{ 'Informations'|trans }}</h5>
						</div>
						<div class="ibox-content">
							{{- actions.admin_print(entity, metadata_singles(entity)|keys) -}}
						</div>
					</div>
				</div>

				<div class="col-md-6 col-lg-4">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>{{ 'Elements'|trans }}</h5>
						</div>
						<div class="ibox-content table-responsive">
							<table class="table table-condensed table-bordered">
								<thead>
									<tr>
										<th>{{ 'Names/types'|trans() }}</th>
										<th class="text-center">{{ 'List'|trans() }}</th>
										<th class="text-center">{{ 'Actions'|trans() }}</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>{{ 'field.parcs'|trans({}, entity.shortname) }}</td>
										<td>{{ actions.event_label(entity.parc) }}</td>
										<td>{{ parcForm is defined ? form(parcForm) : '<i class="fa fa-ban fa-fw text-center text-muted"></i>'|raw }}</td>
									</tr>
									<tr>
										<td>{{ 'field.noparcs'|trans({}, entity.shortname) }}</td>
										<td>{{ actions.entity_labels(entity.noparcs) }}</td>
										<td><i class="fa fa-ban fa-fw text-center text-muted"></i></td>
									</tr>
									<tr>
										<td>{{ 'field.items'|trans({}, entity.shortname) }}</td>
										<td>{{ actions.entity_labels(entity.items) }}</td>
										<td><i class="fa fa-ban fa-fw text-center text-muted"></i></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-lg-4">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>{{ 'Evènements de la journée'|trans }}</h5>
						</div>
						<div class="ibox-content table-responsive">
							<table class="table table-condensed table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th>{{ 'field.name'|trans([], 'Eventdate') }}</th>
										<th class="text-center">{{ 'field.start'|trans([], 'Eventdate') }}</th>
										<th class="text-center">{{ 'field.end'|trans([], 'Eventdate') }}</th>
										<th class="text-center">{{ 'Actif'|trans([], 'Eventdate') }}</th>
									</tr>
								</thead>
								<tbody>
									{% for eventdate in entity.eventdates|reverse -%}
									<tr{{ eventdate.isDeprecated(site_context.date) ? ' class="danger"' : ' class="info"'  }}>
										<td>{{ eventdate.name }}</td>
										<td class="text-center">{{ eventdate.start|localizeddate('short', 'short', currentLanguage.fullname) }}</td>
										<td class="text-center">{{ eventdate.end(true)|localizeddate('short', 'short', currentLanguage.fullname) }}</td>
										<td class="text-center">{{ actions.booleanIcon(eventdate.active) }}</td>
									</tr>
									{%- endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>

				{% if entity.hasDirs()|default(false) %}
				<div class="col-md-6 col-lg-4">
					{{ actions.iboxDirs(entity, true) }}
				</div>
				{% endif %}

			</div>
		</div>

	</div>

	{% else %}
	{{ actions.notfound(model) }}
	{% endif %}

</div>
{% endblock content %}
