{# FIXT@fixt_reference = 'language_list.html.twig' #}
{# FIXT@name = 'Language list' #}
{# FIXT@titleh1 = 'Languages' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'language_list' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<h2 class="text-center m-t-none p-b-sm p-sm border-bottom">{{ icon(model, true, true, ['fa-fw'])|raw }} {{ 'names'|trans({}, model|shortname)|striptags }}</h2>
		{# {% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
		<h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ site_context.date|localizeddate('full', 'full', currentLanguage.fullname) }}</h4>
		{% endif %} #}
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">

			{% if entities|length %}
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th style="width:38px;" class="text-center">{{ icon(model, true, true, ['fa-fw'])|raw }}</th>
							<th style="width:1%;" class="text-center">Id</th>
							<th class="text-left">{{ 'Actions'|trans }}</th>
							<th class="text-left">{{ 'field.name'|trans({}, model|shortname) }}</th>
							<th class="text-center">{{ 'field.country'|trans({}, model|shortname) }}</th>
							<th class="text-left">{{ 'field.countryName'|trans({}, model|shortname) }}</th>
							<th class="text-left">{{ 'field.timezone'|trans({}, model|shortname) }}</th>
{# 							{% if site_context.isDevOrSadmin() %}
							<th class="text-center" style="width:24px;">{{ 'Ctrl'|trans }}</th>
							{%- endif %}
 #}						</tr>
					</thead>
					<tbody>
						{% for one in entities %}
						<tr class="{{ tableClass(one) }}"{% if one.description is defined %} data-popover data-content="{{ one.description|empty('<p>Description manquante<br>Ajouter cette information dans le champ \"description\" de cet élément</p>')|nl2br }}"{% endif %}>
							<td class="text-center">
								{% if one.thumbnail is not null %}
								<img src="{{ asset(fileurl(one.thumbnail,'thumbnails',128)) }}" class="img-sm" alt="{{ one.thumbnail.fileName }}">
								{# <img src="{{ asset(one.fileUrls.thumbnails_64x64) }}" class="img-responsive" style="max-width:36px; width:36px;" alt="{{ one.slug }}" data-view-image="{{ one.id }}" data-view-width="800" data-view-type="'optimized'"> #}
								{# <img src="{{ one.currentVersion.B64File(true) }}" class="img-responsive" style="width:32px;"> #}
								{% else %}
								<i class="fa {{ one.icon }} fa-2x fa-fw" style="color:{{ one.color|default('#AAAAAA') }};"></i>
								{% endif %}
							</td>
							<td class="text-center">{{ one.id }}</td>
							<td class="text-left">
								{{ actions.buttons_groups(one) }}
							</td>
							</td>
							<td class="text-left">
								{% if one.prefered %}
								<u><strong>{{ one.name }}</strong></u>
								{% else %}
								{{ one.name }}
								{% endif %}
							</td>
							<td class="text-center">{{ one.country }}</td>
							<td class="text-left">{{ one.countryName }}</td>
							<td class="text-left">{{ one.timezone }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
			{{ actions.notfoundlist(model) }}
			{% endif %}

		</div>
	</div>
</div>
{% endblock content %}
