{# FIXT@fixt_reference = 'entity_show.html.twig' #}
{# FIXT@name = 'Entity show' #}
{# FIXT@titleh1 = 'Entité' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_show' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">

			{% if entity|default(null) is not null %}

			<div class="row">
				<div class="col-lg-12">
					<h2 class="text-center m-t-none p-b-sm p-sm border-bottom"><small class="text-muted">{{ 'name'|trans({}, 'Logg')|striptags }}</small> <strong>{{ entity.name|default(entity.id) }}</strong> <span class="label label-primary m-sm">{{ app.user.preference('forms.contexts').value|default('?')|join(' ') }}</span></h2>
					{# <h2 class="text-center m-t-none p-b-sm p-sm border-bottom"><small class="text-muted">{{ 'name'|trans({}, entity.shortname)|striptags }}</small> <strong>{{ entity.name|default(entity.id) }}</strong> <span class="label label-primary m-sm">{{ app.user.preference('forms.contexts').value|default('?')|join(' ') }}</span></h2> #}
					{# {% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
					<h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ entity.contextdate|localizeddate('full', 'full', currentLanguage.fullname) }}</h4>
					{% endif %} #}
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>{{ 'Informations'|trans }}</h5>
						</div>
						<div class="ibox-content">
							{{- actions.admin_print(entity, metadata_singles(entity)|keys) -}}
							{# {{- dump(entity) -}} #}
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>{{ 'name'|trans([], 'User') }}</h5>
						</div>
						<div class="ibox-content">
							{% if entity.user is not null %}
								{% set file_url = fileurl(entity.user.avatar,'thumbnails',256) %}
								{% if file_url is not null %}
								<img src="{{ asset(file_url) }}" title="{{ 'entity.user.avatar'|trans({}, entity.user.shortname) }}" class="img-lg img-thumbnail im-responsive" alt="{{ entity.user.avatar.__toString }}" data-view-media="'{{ entity.user.avatar.bddIdentifyer }}'" data-view-width="1000" data-view-type="'optimized'">
								{% else %}
								<i class="fa fa-times fa-2x fa-fw" title="{{ 'entity.user.avatar'|trans({}, entity.user.shortname) }}"></i>
								{% endif %}
								<hr>
								{{- actions.admin_print(entity.user, metadata_singles(entity)|keys) -}}
								{% if entity.user.temppassword is not null %}
								<p class="text-danger">{{ 'field.temppassword'|trans({}, entity.user.shortname) }} : <strong>{{ entity.user.temppassword }}</strong></p>
								{% endif %}
								<p>{{ 'field.groupes'|trans({}, entity|shortname) }} : {{ actions.entity_labels(entity.user.allGroups, null, true, false) }}</p>
								<hr>
								<p>{{ 'field.created'|trans({}, entity.user.shortname) }} : <strong>{{ entity.user.created|localizeddate('none', 'none', app.request.locale, null, "dd/MM/YYYY HH:mm:ss") }}</strong></p>
								<p>{{ 'field.updated'|trans({}, entity.user.shortname) }} : <strong>{{ entity.user.updated is not null ? entity.user.updated|localizeddate('none', 'none', app.request.locale, null, "dd/MM/YYYY HH:mm:ss") : '<i class="fa fa-times fa-fw fa-1x text-muted"></i>'|raw }}</strong></p>
								<p>{{ 'field.lastLogin'|trans({}, entity.user.shortname) }} : <strong>{{ entity.user.lastLogin is not null ? entity.user.lastLogin|localizeddate('none', 'none', app.request.locale, null, "dd/MM/YYYY HH:mm:ss") : '<i class="fa fa-times fa-fw fa-1x text-muted"></i>'|raw }}</strong></p>
								<hr>
								<h4>Préférences</h4>
								<ul>
								{% for name,pref in entity.user.preferences %}
									{% if pref is iterable %}
										<li>{{ name }} :</li>
										<ul>
										{% for name2,pref2 in pref %}
										<li>{{ name2 }} : <strong>{{ pref2|json_encode }}</strong></li>
										{% endfor %}
										</ul>
									{% elseif name in ['newsletter','cookies'] %}
									<li>{{ name }} : <strong><a href="{{ path('wsa_user_' ~ name, {id: entity.user.id, status: entity.user.preferences[name]|default(false) ? 0 : 1 }) }}">{{ pref|json_encode }}</a></strong></li>
									{% else %}
									<li>{{ name }} : <strong>{{ pref|json_encode }}</strong></li>
									{% endif %}
								{% endfor %}
								</ul>
							{% else %}
								<h3>Utilisateur non connecté<br><small>{{ entity.ipaddrmain }}</small></h3>
							{% endif %}
						</div>
					</div>
				</div>
			</div>

			{% else %}
			{{ actions.notfound(model) }}
			{% endif %}

		</div>
	</div>
</div>
{% endblock content %}
