{# FIXT@fixt_reference = 'entity_list.html.twig' #}
{# FIXT@name = 'Entity list' #}
{# FIXT@titleh1 = 'Entités' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_list' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<h2 class="text-center m-t-none p-b-sm p-sm border-bottom">{{ icon(model, true, true, ['fa-fw'])|raw }} {{ 'names'|trans({}, 'Logg')|striptags }}
		{# <h2 class="text-center m-t-none p-b-sm p-sm border-bottom">{{ icon(model, true, true, ['fa-fw'])|raw }} {{ 'names'|trans({}, model|shortname)|striptags }} #}
			{% if is_granted('ROLE_SUPER_ADMIN') %}
			<a href="{{ path('wsa_logg_reset') }}" class="btn btn-danger btn-sm pull-right woc action-confirm"><i class="fa fa-times fa-fw"></i>Reset all</a>
			{# {{ dump(search) }} #}
			{% endif %}
		</h2>
		<a href="{{ path('wsa_logg_list', {nb: 'reset'}) }}" class="btn btn-white btn-xs woc m-r-xs"><i class="fa fa-times fa-fw m-r-xs"></i>Reset search</a>
		{% for i in [10,25,50,100,200] -%}
		{% set params = search.params|url_params_combine({nb: i}, true) %}
		<a href="{{ path('wsa_logg_list', params) }}" class="btn btn-{{ search.nb == i ? 'info' : 'white' }} btn-xs woc m-r-xs"><i class="fa fa-search fa-fw m-r-xs"></i>{{ i }} éléments</a>
		{%- endfor %}
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content">

			{% if entities|length %}
			{# {{ dump(session_loggs_data) }} #}
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th style="width:38px;" class="text-center">{{ icon(model, true, true, ['fa-fw'])|raw }}</th>
							<th style="width:1%;" class="text-center">Id</th>
							<th class="text-left">{{ 'Actions'|trans }}</th>
							<th class="text-center">{{ 'Closed'|trans }}</th>
							<th class="text-center">{{ 'Status'|trans }}</th>
							<th class="text-center">{{ (search.params.uri is defined ? '<u class="text-info">' ~ 'Url'|trans~'</u>' : 'Url'|trans)|raw }} / Bundle</th>
							<th class="text-center">{{ 'xmlHttp'|trans }}</th>
							<th class="text-center">{{ 'Errors'|trans }}</th>
							<th class="text-center">{{ (search.params.userid is defined ? '<u class="text-info">'~'User'|trans~'</u>' : 'User'|trans)|raw }}</th>
							<th class="text-center">{{ (search.params.ipaddrmain is defined ? '<u class="text-info">'~'IP'|trans~'</u>' : 'IP'|trans)|raw }}</th>
							<th class="text-center">{{ 'Time'|trans }}<i class="text-muted">&nbsp;{{ time_average|number_format(3,',','') }}&nbsp;ms</i></th>
						</tr>
					</thead>
					<tbody>
						{% for one in entities %}
						{% set class = one.current ? "danger text-danger" : "" %}
						{% set class = one.hasErrors() ? "danger text-danger" : "" %}
						<tr class="{{ class }}">
							<td class="text-center{{ one.isDev() ? ' text-danger' }}" title="{{ one.isDev() ? ' DEV' : 'PROD' }}">
								<i class="fa {{ one.icon }} fa-1x fa-fw"></i>
							</td>
							<td class="text-center" title="{{ one.request.HTTP_USER_AGENT|default('Système inconnu') }}">{{ one.id }}</td>
							<td class="text-left">
								{{ actions.buttons_groups(one) }}
							</td>
							<td class="text-center">
								{% if one.current and not one.closed %}
								<i class="fa fa-clock-o fa-fw text-warning"></i>
								{% else %}
								{{ actions.booleanIcon(one.closed) }}
								{% endif %}
							</td>
							<td class="text-left">
								{{ one.lastStatus }}
							</td>
							<td class="text-left">
								{% set params = search.params|url_params_combine({nb: search.nb, uri: one.uri}, true) %}
								<a href="{{ path('wsa_logg_list', params) }}" class="woc"><i class="fa fa-search fa-fw {{ search.params.uri|default(null) == one.uri ? 'text-info' : 'text-muted' }}"></i></a> {{ one.uri|url_decode }}
								<br>
								{{ (one.bundle|default('<i class="fa fa-times fa-fw text-muted"></i>'))|raw }}
							</td>
							<td class="text-center">
								{{ actions.booleanIcon(one.xmlHttp, 'fa-check text-info', 'fa-minus text-muted') }}
							</td>
							<td class="text-center">
								{{ one.errors|length }}
							</td>
							<td class="text-center">
								{% if one.user is not null %}
								{% set params = search.params|url_params_combine({nb: search.nb, userid: one.userid}, true) %}
								<a href="{{ path('wsa_logg_list', params) }}" class="woc"><i class="fa fa-search fa-fw {{ search.params.userid|default(null) == one.userid ? 'text-info' : 'text-muted' }}"></i></a>
								{% endif %}
								{{ actions.entity_label(one.user, null, true, true) }}
							</td>
							<td class="text-center">
								{% if one.ipaddrmain|isString %}
								{% set params = search.params|url_params_combine({nb: search.nb, ipaddrmain: one.ipaddrmain}, true) %}
								<a href="{{ path('wsa_logg_list', params) }}" class="woc"><i class="fa fa-search fa-fw {{ search.params.ipaddrmain|default(null) == one.ipaddrmain ? 'text-info' : 'text-muted' }}"></i></a>
								{% endif %}
								{{ one.ipaddrmain|default('<i class="fa fa-times fa-fw text-danger"></i>')|raw }}
							</td>
							<td class="text-center">
								{% if not one.current %}
								{% set color = one.during <= 2 ? 'success' : 'warning' %}
								{% set color = one.during <= 1 ? 'info' : color %}
								{% set color = one.during > 3 ? 'danger' : color %}
								{# {% set color = one.during < 0 ? 'muted' : color %} #}
								<div>
									<span class="float-left">{{ one.created|localizeddate('none', 'none', app.request.locale, null, "d/MM/Y HH:mm:ss") }}</span>
									<br>
									<strong class="float-right text-{{ color }}">{{ one.during >= 0 ? (one.during|number_format(3,',','') ~ '&nbsp;ms')|raw : '<i class="fa fa-times fa-fw"></i>'|raw }}</strong>
								</div>
								{% if one.during >= 0 %}
								<div class="progress progress-small" style="background-color: #DDDDDD;">
									{% set pcent = one.during * 100 / 5 %}
									{% set pcent = pcent > 100 ? 100 : pcent %}
									<div style="width: {{ pcent }}%;" class="progress-bar progress-bar-{{ color }}"></div>
								</div>
								{% endif %}
								{% else %}
								<div>
									<span class="float-left">{{ one.created|localizeddate('none', 'none', app.request.locale, null, "d/MM/Y HH:mm:ss") }}</span>
								</div>
								{% endif %}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
			{{ actions.notfoundlist(model) }}
			{% endif %}

		</div>
	</div>
</div>
{% endblock content %}
