{# FIXT@fixt_reference = 'menu_list.html.twig' #}
{# FIXT@name = 'Menu list' #}
{# FIXT@titleh1 = 'Menus' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'menu_list' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<h2 class="text-center m-t-none p-b-sm p-sm border-bottom">
			{{ icon(model, true, true, ['fa-fw'])|raw }} {{ 'names'|trans({}, model|shortname)|striptags }} <a role="button" class="btn btn-sm btn-white" href="{{ path('wsa_'~model|shortname|lower~'_updateallcachedchilds') }}" title="{{ 'Mettre à jour le cache de tous les menus'|transno }}"><i class="fa fa-refresh fa-fw woc"></i></a>
		</h2>
		{# {% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
		<h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ site_context.date|localizeddate('full', 'full', currentLanguage.fullname) }}</h4>
		{% endif %} #}
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">

			{% if entities|length %}
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th style="width:38px;" class="text-center">{{ icon(model, true, true, ['fa-fw'])|raw }}</th>
							<th style="width:1%;" class="text-center">Id</th>
							<th class="text-left">{{ 'Actions'|trans }}</th>
							<th class="text-left">{{ 'field.name'|trans({}, model|shortname) }}</th>
							<th class="text-center">{{ 'field.rootmenu'|trans({}, model|shortname) }}</th>
							<th class="text-left">{{ 'field.parent'|trans({}, model|shortname) }}</th>
							<th class="text-left">{{ 'field.childs'|trans({}, model|shortname) }}</th>
							<th class="text-left">{{ 'field.pageweb'|trans({}, model|shortname) }}</th>
							{# {% if model.groups is defined %}
							<th class="text-left">{{ 'field.groups'|trans({}, model|shortname) }}</th>
							{% endif %} #}
						</tr>
					</thead>
					<tbody>
						{% for one in entities %}
						<tr class="{{ tableClass(one) }}"{% if one.description is defined %} data-popover data-content="{{ one.description|empty('<p>Description manquante<br>Ajouter cette information dans le champ \"description\" de cet élément</p>')|nl2br }}"{% endif %}>
							<td class="text-center">
								<blocitem data-item="{{ one|serialized }}" data-media="{{ one.picone|serialized }}" data-size="64" data-statusbar="false"></blocitem>
							</td>
							<td class="text-center">{{ one.id }}</td>
							<td class="text-left">
								{{ actions.buttons_groups(one) }}
							</td>
							<td class="text-left">
								{% if one.rootmenu %}
								<u><strong>{{ one.name }}</strong></u>
								{% else %}
								{{ one.name }}
								{% endif %}
								<br><i class="text-muted">{{ one.slug }}</i>
							</td>
							<td class="text-center">
								{% if one.rootmenu %}<i class="fa fa-circle fa-fw text-info"></i>{% endif %}
							</td>
							<td class="text-left">
								{{ actions.entity_label(one.parent) }}
							</td>
							<td class="text-left">
								{# {{ dump(one.childs) }} #}
								{{ actions.entity_labels(one.childs) }}
							</td>
							<td class="text-left">
								{{ actions.entity_label(one.pageweb) }}
							</td>
							{# {% if model.groups is defined %}
							<td class="text-left">
								{{ actions.entity_labels(one.groups) }}
							</td>
							{% endif %} #}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
			{{ actions.notfoundlist(model) }}
			{% endif %}

		</div>
	</div>
</div>
{% endblock content %}
