{# FIXT@fixt_reference = 'menu_owner_list.html.twig' #}
{# FIXT@name = 'menu owner' #}
{# FIXT@titleh1 = 'Menus' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'menu_owner_list' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_page_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{# FIXT@prefered = true #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}

	<div class="row">
		<div class="col-lg-12">
		{{ actions.flashMessages() }}
		</div>
	</div>

	{% if is_granted('ROLE_USER') %}

	<div class="row">
		<div class="col-lg-6">
			{{ actions.iboxEntityInfo() }}
		</div>
		<div class="col-lg-6">
			{{ actions.iboxDir(entity.driveDir) }}
			{{ actions.iboxDir(entity.systemDir) }}
		</div>
	</div>

	{% else %}

	<div class="row">
		<div class="col-lg-12">
			<div class="alert alert-danger" role="alert">Vous devez vous connecter pour avoir accès à vos dossiers.</div>
		</div>
	</div>

	{% endif %}

{% endblock content %}
