{# FIXT@fixt_reference = 'menu_show.html.twig' #}
{# FIXT@name = 'Menu show' #}
{# FIXT@titleh1 = 'Menu' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'menu_show' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">

			{% if entity|default(null) is not null %}

			<div class="row">
				<div class="col-lg-12">
					<h2 class="text-center m-t-none p-b-sm p-sm border-bottom"><small class="text-muted">{{ 'name'|trans({}, entity.shortname)|striptags }}</small> <strong>{{ entity.name }}</strong> <span class="label label-primary m-sm">{{ app.user.preference('forms.contexts').value|default('?')|join(' ') }}</span></h2>
					{% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
					<h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ entity.contextdate|localizeddate('full', 'full', currentLanguage.fullname) }}</h4>
					{% endif %}
					{{ actions.alertStatus(entity) }}
					{{ actions.showOnwers(entity) }}
				</div>
			</div>

			<div class="row">

				<div class="col-md-6">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>{{ 'Informations'|trans }}</h5>
							<div class="ibox-tools">
								<a class="collapse-link">
									<i class="fa fa-chevron-up"></i>
								</a>
								{# {%- if entity._fsCache.isApply() -%}
								<a title="Refresh folders" href="{{ path('wsa_'~entity.shortname(true)~'_updatecachedchilds', {id: entity.id}) }}" title="{{ 'actions.updatecachedchilds'|transno }}">
									<i class="fa fa-refresh fa-fw woc"></i>
								</a>
								{%- endif -%} #}
							</div>
						</div>
						<div class="ibox-content">
							{{- actions.admin_print(entity, metadata_singles(entity)|keys) -}}
							{# <hr> #}
							{# <h5>Cache content:</h5> #}
							{# {{ dump(entity.cachedchilds()) }} #}
						</div>
					</div>
				</div>

				<div class="col-md-6">
					{{ actions.imagesThumbs(entity, 'lg') }}
				</div>


				{% if is_granted('ROLE_SUPER_ADMIN') %}
				<div class="col-md-6">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5 class="text-danger">{{ 'Super admin info'|trans }}</h5>
							<div class="ibox-tools">
								<a class="collapse-link">
									<i class="fa fa-chevron-up"></i>
								</a>
							</div>
						</div>
						<div class="ibox-content">
							<div class="row">
								<div class="col-lg-4">
									<h4>Childs <span class="label label-info">{{ entity.childs.count }}</span></h4>
									{{ actions.entity_labels(entity.childs) }}
								</div>
								<div class="col-lg-4">
									<h4>Exclude <span class="label label-info">{{ entity.excludedirchilds|length }}</span></h4>
									{{ actions.entity_labels(entity.excludedirchilds) }}
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-lg-12">
									<h4>Request</h4>
								</div>
								<div class="col-md-6 col-lg-3">{{ actions.booleanIcon(entity.isChildsOrChildsAndQuery()) }} With childs</div>
								<div class="col-md-6 col-lg-3">{{ actions.booleanIcon(entity.isOnlyChilds()) }} Only childs</div>
								<div class="col-md-6 col-lg-3">{{ actions.booleanIcon(entity.isSorted()) }} Is sorted</div>
								<div class="col-md-6 col-lg-3">{{ actions.booleanIcon(entity.isUniqueQuery()) }} Unique query</div>
								<div class="col-md-6 col-lg-3">{{ actions.booleanIcon(entity.publicFiltered) }} Public filtered</div>
								<div class="col-md-6 col-lg-3">{{ actions.booleanIcon(entity.isQuery()) }} Is query</div>
								<div class="col-md-6 col-lg-3">{{ actions.booleanIcon(entity.isMixedquery()) }} Mixed query</div>
								<div class="col-md-6 col-lg-3">&nbsp;</div>
{# 								<div class="col-lg-4">
									<h4>Childs values <span class="label label-info">{{ entity.getLinkdataUniqueValue()|length }}</span></h4>
									{{ actions.entity_labels(entity.getLinkdataUniqueValue()) }}
								</div>
 #}								<div class="col-lg-4">
									<h4>Repostorys &amp; methods</h4>
									<ul>
										{% for query in entity.getQueryRepositorysAndMethods() %}
										<li>{{ query.repository|shortname }}<br>{{ query.method }}()</li>
										{% endfor %}
									</ul>
								</div>
								<div class="col-lg-4">
									{% set childs = entity.getChilds() %}
									<h4>Childs found <span class="label label-info">{{ childs.count }}</span></h4>
									{{ actions.entity_labels(childs) }}
								</div>
							</div>
							<hr>
{# 							<h4>Linkdata</h4>
							{{ dump(entity.linkdata) }}
 #}						</div>
					</div>
				</div>
				{% endif %}

				<div class="col-md-6">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>{{ 'Données de menu (public)'|trans }}</h5>
							<div class="ibox-tools">
								<a class="collapse-link">
									<i class="fa fa-chevron-up"></i>
								</a>
							</div>
						</div>
						<div class="ibox-content">
							<div class="row">
								<div class="col-lg-12">
									{{ actions.printMenu(entity) }}
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="col-md-6">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>{{ 'Arborescence du menu'|trans }}</h5>
							<div class="ibox-tools">
								<a class="collapse-link">
									<i class="fa fa-chevron-up"></i>
								</a>
							</div>
						</div>
						<div class="ibox-content">
							<div class="row">
								<div class="col-lg-4">
									<h4>Root parent</h4>
									{{ actions.entity_label(entity.rootParent) }}
								</div>
								<div class="col-lg-4">
									<h4>Parent</h4>
									{{ actions.entity_label(entity.parent) }}
									<h4>Parents</h4>
									{{ actions.entity_labels(entity.dirparents) }}
								</div>
								<div class="col-lg-4">
									<h4>Enfants</h4>
									{{ actions.entity_labels(entity.childs) }}
								</div>
							</div>
							<hr>
							<h4>Path (name)</h4>
							<ol>
								{% for path,complete in entity.getPathnames(false, true) %}
								<li class="{{ entity.pathname == complete ? 'text-info' }}">{{ complete }}</li>
								{% endfor %}
							</ol>
							<h4>Path (slug)</h4>
							<ol>
								{% for path,complete in entity.getPathslugs(false, true) %}
								<li class="{{ entity.pathslug == complete ? 'text-info' }}">{{ complete }}</li>
								{% endfor %}
							</ol>
							<hr>
							<h4>Autres informations</h4>
							<p>{{ 'field.owner'|trans({}, entity.shortname) }} : <strong>{{ entity.owner.__toString|default('unknown'|trans) }}</strong></p>
							{% if entity.fileUrls|default([])|length %}
							<p>{{ 'field.fileUrls'|trans({}, entity.shortname) }} : <ul class="list-unstyled"><li>{{ entity.fileUrls|join('</li><li>')|raw }}</li></ul></p>
							{% endif %}
							{% if entity.allPathnames|default([])|length %}
							<p>{{ 'field.allPathnames'|trans({}, entity.shortname) }} : <ul class="list-unstyled"><li>{{ entity.allPathnames|join('</li><li>')|raw }}</li></ul></p>
							{% endif %}
						</div>
					</div>
				</div>

			</div>

			{% else %}
			{{ actions.notfound(model) }}
			{% endif %}

		</div>
	</div>
</div>
{% endblock content %}
