{# FIXT@fixt_reference = 'entity_show.html.twig' #}
{# FIXT@name = 'Entity show' #}
{# FIXT@titleh1 = 'Entité' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_show' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends 'WebsiteAdminBundle:Bases:base_wrap_01.html.twig' %}
{% import 'WebsiteAdminBundle:Macro:entities_actions.html.twig' as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">

			{% if entity|default(null) is not null %}

			<div class="row">
				<div class="col-lg-12">
					<h2 class="text-center m-t-none p-b-sm p-sm border-bottom"><small class="text-muted">{{ 'name'|trans({}, entity.shortname)|striptags }}</small> <strong>{{ entity.name }}</strong> <span class="label label-primary m-sm">{{ app.user.preference('forms.contexts').value|default('?')|join(' ') }}</span></h2>
					{# {% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
					<h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ entity.contextdate|localizeddate('full', 'full', currentLanguage.fullname) }}</h4>
					{% endif %} #}
					{{ actions.alertStatus(entity) }}
					{{ actions.showOnwers(entity) }}
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="row">

						<div class="col-lg-12">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5>{{ 'Informations'|trans }} <i class="fa {{ entity.prefered ? 'fa-star' : 'fa-star-o' }}"></i></h5>
								</div>
								<div class="ibox-content">
									<p title="Field: name">{{ 'field.name'|trans({}, entity.shortname) }} : <strong>{{ entity.name }}</strong></p>
									<p title="Field: filename">{{ 'field.filename'|trans({}, entity.shortname) }} : <strong>{{ entity.filename }}</strong></p>
									<p title="Field: bundle">{{ 'field.bundle'|trans({}, entity.shortname) }} : <strong>{{ entity.bundle|trans }}</strong></p>
									<p title="Field: singlefilename">{{ 'field.singlefilename'|trans({}, entity.shortname) }} : <strong>{{ entity.singlefilename }}</strong></p>
									<p title="Field: bundlepathname">{{ 'field.bundlepathname'|trans({}, entity.shortname) }} : <strong>{{ entity.bundlepathname }}</strong></p>
									<p title="Field: templatename">{{ 'field.templatename'|trans({}, entity.shortname) }} : {{ actions.entity_label(entity.templatename) }}</p>
									<p>{{ 'field.typepage'|trans({}, entity.shortname) }} : {{ actions.entity_label(entity.typepage) }}</p>
									<p title="Field: seo">{{ 'field.seo'|trans({}, entity.shortname) }} : <i class="fa {{ entity.seo ? 'fa-check text-info' : 'fa-times text-danger' }}"></i></p>
									<p title="Field: titleh1">{{ 'field.titleh1'|trans({}, entity.shortname) }} : <strong>{{ entity.titleh1|raw }}</strong></p>
									<p title="Field: title">{{ 'field.title'|trans({}, entity.shortname) }} : <strong>{{ entity.title|raw }}</strong></p>
									<p title="Field: menutitle">{{ 'field.menutitle'|trans({}, entity.shortname) }} : <strong>{{ entity.menutitle|raw }}</strong></p>
									<p title="Field: description">{{ 'field.description'|trans({}, entity.shortname) }} : <strong>{{ entity.description|raw }}</strong></p>
									<p>{{ 'Types d\'items'|trans({}, entity.shortname) }} : {{ actions.entity_labels(entity.getItemtypes(true)) }}</p>
									{% if entity|isInstance('File') %}
									<p>Visionner : <br>
										<strong class="block">- URL site: <a href="{{ path('website_pageweb_by_cat', {cat1: entity.slug}) }}" target="_blank">{{ entity.slug }}</a></strong>
										- system access: <a href="{{ asset(entity.fileUrl) }}" target="_blank">{{ entity.currentVersion.originalFileName|default("???") }}</a>
										<br>
										- controller access: <a href="{{ path('website_view_media', {slug: entity.slug, ext: entity.fileExtension}) }}" target="_blank">{{ entity.currentVersion.originalFileName|default("???") }}</a>
									</p>
									<p>Télécharger : <br>
										- controller load: <a href="{{ path('website_download_media', {slug: entity.slug, ext: entity.fileExtension}) }}" target="_blank">{{ entity.currentVersion.originalFileName|default("???") }}</a>
									</p>
									{% endif %}
									<hr>
									{# <p>{{ 'field.twigsections'|trans({}, entity.shortname) }} : {{ actions.entity_labels(entity.twigsections) }}</p> #}
									{# <p><strong class="text-info">{{ 'field.twigsections'|trans({}, entity.shortname) }}</strong> :</p> #}
									{# {% for type in entity.typesections %} #}
									{# <p><strong>{{ type }}</strong> : {{ actions.entity_labels(entity.getTpls(type)) }}</p> #}
									{# {% endfor %} #}
									{# <p><strong class="text-info">{{ 'field.dirmenus'|trans({}, entity.shortname) }}</strong> : {{ actions.entity_labels(entity.dirmenus) }}</p> #}
									{# <hr> #}
									{# <p>{{ 'field.nbversions'|trans({}, entity.shortname) }} : {{ entity.nbversions }}</p> #}
									{# <p>{{ 'field.fileUrl'|trans({}, entity.shortname) }} : {{ entity.fileUrl }}</p> #}
									<p>{{ 'field.fileSize'|trans({}, entity.shortname) }} : <span data-filesize="{{entity.fileSize}}"></span></p>
									<p>{{ 'Type MIME'|trans({}, entity.shortname) }} : {{ entity.currentVersion.fileformat.contentType }}</p>
									<p>{{ 'Extension'|trans({}, entity.shortname) }} : {{ entity.currentVersion.fileformat.extension }}</p>
									<p>{{ 'Types'|trans({}, entity.shortname) }} : {{ entity.currentVersion.fileformat.mediaType }} / {{ entity.currentVersion.fileformat.subtype }}</p>
									<hr>
									<p>{{ 'field.owner'|trans({}, entity.shortname) }} : <strong>{{ entity.owner.name|default('unknown'|trans) }}</strong></p>
									<p>{{ 'field.parent'|trans({}, entity.shortname) }} : {{ actions.entity_labels(entity.parent) }}</p>
									<p>{{ 'field.groups'|trans({}, entity.shortname) }} : {{ actions.entity_labels(entity.allGroups) }}</p>
									<hr>
									<p>{{ 'field.allPathnames'|trans({}, entity.shortname) }}
										<br>
										<ul class="list-unstyled">
											{% for pathname in entity.allPathnames|default([]) %}
											<li>{{ pathname }}</li>
											{% endfor %}
										</ul>
									</p>
								</div>
							</div>
						</div>

						<div class="col-lg-12">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5>{{ 'field.twigsections'|trans({}, entity.shortname) }} <strong class="text-info">{{ entity.templatename }}</strong></h5>
								</div>
								<div class="ibox-content">
									{% for typesection in entity.typesections %}
									<ul class="list-group list-group-item-info">
										{% for section in entity.getTpls(typesection) %}
										<li class="list-group-item">
											<span class="badge badge-info">&nbsp;{{ section.typepage|trans }}&nbsp;</span>
											{{ section.filename }}
										</li>
										{% endfor %}
									</ul>
									{% endfor %}
								</div>
							</div>
						</div>

						{% if entity.currentVersion is defined %}
						<div class="col-lg-12">
							{{ actions.iboxVersions(entity) }}
						</div>
						{% endif %}

						{% if is_granted('ROLE_SUPER_ADMIN') %}
						<div class="col-lg-12">

							{{ actions.ownedDirectoryChilds(entity, 'Menus', 'dirmenus', 'menu', 'system/Menus') }}

							{{ actions.ownedDirectoryChilds(entity, 'Sections', 'twigsections', 'section', 'system/Twigs') }}

						</div>
						{% endif %}

						<div class="col-lg-12">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5>{{ 'Menus dans header'|trans }}</h5>
								</div>
								<div class="ibox-content">
									{{ actions.printMenu(entity.getTpl('header').dirmenus|default([])) }}
								</div>
							</div>
						</div>

						<div class="col-lg-12">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5>{{ 'Menus dans footer'|trans }}</h5>
								</div>
								<div class="ibox-content">
									{{ actions.printMenu(entity.getTpl('footer').dirmenus|default([])) }}
								</div>
							</div>
						</div>

						<div class="col-lg-12">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5>{{ 'Menus dans side menu'|trans }}</h5>
								</div>
								<div class="ibox-content">
									{{ actions.printMenu(entity.getTpl('sidemenu').dirmenus|default([])) }}
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="col-md-6">

					{{ actions.imagesThumbs(entity, 'lg') }}

					{% set diaporama = entity.getOwnerDirectory('system/Diaporamas', false) %}
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>{{ icon('Image', true, true, ['fa-fw'])|raw }} {{ 'Dossier'|trans }} <u title="{{ diaporama.ownerdir.name }} > #{{ diaporama.id }} {{ diaporama.getPathname(true) }}">{{ diaporama.name }}</u> {{ ('<span class="label label-info pull-right">' ~ diaporama.childs|length ~ '</span>')|raw }}</h5>
						</div>
						<div class="ibox-content" data-manage-files="{{ {classes: ['Image'], content_types: 'auto', parent: diaporama.id, text_addfile: 'Ajouter une image'|trans}|json_encode }}">
							<div data-angular-hide>
								<div>
									<a href="{{ path('wsa_image_create', {parent: diaporama.id}) }}" class="btn btn-xs btn-info woc"><i class="fa fa-plus fa-fw m-r-xs"></i>{{ 'Ajouter une image'|trans }}</a>
								</div>
								{{ actions.slider_carousel(diaporama.childs, {type: 'thumbnail', addDiaposBddid: entity.bddid}) }}
							</div>
						</div>
					</div>

					{% set videos_folder = entity.getOwnerDirectory('system/Entities', false) %}
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>{{ icon('Video', true, true, ['fa-fw'])|raw }} {{ 'Dossier'|trans }} <u title="{{ videos_folder.ownerdir.name }} > #{{ videos_folder.id }} {{ videos_folder.getPathname(true) }}">{{ 'names'|trans([], 'Video') }}</u> {{ ('<span class="label label-info pull-right">' ~ videos_folder.childs|length ~ '</span>')|raw }}</h5>
						</div>
						<div class="ibox-content" data-manage-files="{{ {classes: ['Video'], content_types: 'auto', parent: videos_folder.id, text_addfile: 'Ajouter une vidéo'|trans}|json_encode }}">
							<div data-angular-hide>
								<div>
									<a href="{{ path('wsa_video_create', {parent: videos_folder.id}) }}" class="btn btn-xs btn-info woc"><i class="fa fa-plus fa-fw m-r-xs"></i>{{ 'Ajouter une vidéo'|trans }}</a>
								</div>
								{{ actions.video_carousel(videos_folder.childs, {type: 'thumbnail', addVideosBddid: entity.bddid}) }}
							</div>
						</div>
					</div>

					{% set pdf_folder = entity.getOwnerDirectory('system/Pdf', false) %}
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>{{ icon('Pdf', true, true, ['fa-fw'])|raw }} {{ 'Dossier'|trans }} <u title="{{ pdf_folder.ownerdir.name }} > #{{ pdf_folder.id }} {{ pdf_folder.getPathname(true) }}">{{ 'names'|trans([], 'Pdf') }}</u> {{ ('<span class="label label-info pull-right">' ~ pdf_folder.childs|length ~ '</span>')|raw }}</h5>
						</div>
						<div class="ibox-content" data-manage-files="{{ {classes: ['Pdf'], content_types: 'auto', parent: pdf_folder.id, text_addfile: 'Ajouter un Pdf'|trans}|json_encode }}">
							<div data-angular-hide>
								<div>
									<a href="{{ path('wsa_pdf_create', {parent: pdf_folder.id}) }}" class="btn btn-xs btn-info woc"><i class="fa fa-plus fa-fw m-r-xs"></i>{{ 'Ajouter un Pdf'|trans }}</a>
								</div>
								{{ actions.slider_carousel(pdf_folder.childs, {type: 'thumbnail', addPdfsBddid: entity.bddid}) }}
							</div>
						</div>
					</div>

					{{ actions.tags(entity) }}

					{{ actions.iboxDirs(entity, true) }}

				</div>

			</div>

			{% else %}
			{{ actions.notfound(model) }}
			{% endif %}

		</div>
	</div>
</div>
{% endblock content %}
