{# FIXT@fixt_reference = 'pageweb_list.html.twig' #}
{# FIXT@name = 'Pageweb list' #}
{# FIXT@titleh1 = 'Pages web' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'pageweb_list' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<h2 class="text-center m-t-none p-b-sm p-sm border-bottom">{{ icon(model, true, true, ['fa-fw'])|raw }} {{ 'names'|trans({}, model|shortname)|striptags }}</h2>
		{# {% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
		<h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ site_context.date|localizeddate('full', 'full', currentLanguage.fullname) }}</h4>
		{% endif %} #}
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">

			{% if entities|length %}
{# 				{% for one in entities %}
					{{ dump(one) }}
				{% endfor %}
 #}			<div class="table-responsive">
  				<input type="text" class="form-control form-control-sm m-b-xs" id="filter" placeholder="{{ 'Search'|trans }}">
 				<table class="footable table table-hover table-condensed" data-page-size="25" data-filter=#filter>
					<thead>
						<tr>
							<th colspan="100%">
								<ul class="pagination pull-right"></ul>
							</th>
						</tr>
						<tr>
							<th style="width:38px;" class="text-center">{{ icon(model, true, true, ['fa-fw'])|raw }}</th>
							<th style="width:1%;" class="text-center">Id</th>
							<th class="text-left">{{ 'Actions'|trans }}</th>
							<th class="text-left">{{ 'field.filename'|trans({}, model|shortname) }}</th>
							<th class="text-center">{{ 'field.mediatype'|trans({}, model|shortname) }}</th>
							<th class="text-center">{{ 'field.fileSize'|trans({}, model|shortname) }}</th>
							<th class="text-center">{{ 'field.nbversions'|trans({}, model|shortname) }}</th>
							<th class="text-center">{{ 'Créateur'|trans({}, model|shortname) }}</th>
							<th class="text-left">{{ 'field.itemtypes'|trans({}, model|shortname) }}</th>
							{# <th class="text-left">{{ 'field.twigsections'|trans({}, model|shortname) }}</th> #}
							{# <th class="text-left">{{ 'Dossier'|trans }}</th> #}
							{# <th class="text-left">{{ 'Root'|trans }}</th> #}
{# 							{% if site_context.isDevOrSadmin() %}
							<th class="text-center" style="width:24px;">{{ 'Ctrl'|trans }}</th>
							{%- endif %}
 #}						</tr>
					</thead>
					<tbody>
						{% for one in entities %}
						<tr class="{{ tableClass(one) }}"{% if one.description is defined %} data-popover data-content="{{ one.description|empty('<p>Description manquante<br>Ajouter cette information dans le champ \"description\" de cet élément</p>')|nl2br }}"{% endif %}>
							<td class="text-center">
								{# <i class="fa {{ one.icon }} fa-2x fa-fw" style="color:{{ one.color|default('#AAAAAA') }};"></i> #}
								{% if one.seo %}
								<span class="fa-stack fa-lg" title="{{ 'field.seo'|trans({}, one.shortname) }}">
									<i class="fa fa-circle-o fa-stack-2x text-info"></i>
									<i class="fa {{ one.icon }} fa-stack-1x fa-inverse" style="color:{{ one.color|default('#666666') }};"></i>
								</span>
								{% else %}
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x text-muted"></i>
									<i class="fa {{ one.icon }} fa-stack-1x" style="color:{{ one.color|default('#666666') }};"></i>
								</span>
								{% endif %}
							</td>
							<td class="text-center">{{ one.id }}</td>
							<td class="text-left">
								{{ actions.buttons_groups(one) }}
							</td>
							<td class="text-left">
								<u><strong>{{ one.filename }}</strong></u>
								<br><small><i>{{ one.slug }}</i></small>
								{%- if is_granted('ROLE_SUPER_ADMIN') -%}
								<small>&nbsp;/ Owner: <span class="text-success">{{ one.owner.name|default('unknown'|trans) }} </span></small>
								<br><small>Path: <i>{{ one.pathname }} / {{ one.pathslug }}</i></small>
								<br><small>{{ 'plateforme'|trans }}: <i>{{ one.bundle|trans }}</i></small>
								{% endif %}
							</td>
							<td class="text-center">{{ one.subtype }} / {{ one.mediatype }}</td>
							<td class="text-right"><span data-filesize="{{one.fileSize}}"></span></td>
							<td class="text-center">{{ one.nbversions }}</td>
							<td class="text-center">{{ actions.entity_label(one.owner, one.owner == site_context.environment ? 'primary' : null) }}</td>
							<td class="text-left">{{ actions.entity_labels(one.getItemtypes(true)) }}</td>
						</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<td colspan="100%">
								<ul class="pagination pull-right"></ul>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
			{% else %}
			{{ actions.notfoundlist(model) }}
			{% endif %}

		</div>
	</div>
</div>
{% endblock content %}
