{# FIXT@fixt_reference = 'parc_list.html.twig' #}
{# FIXT@name = 'Parcs list' #}
{# FIXT@titleh1 = 'Parcs' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_list' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}

{# {% extends 'WebsiteAdminBundle:Pageweb:event_list.html.twig' %} #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<h2 class="text-center m-t-none p-b-sm p-sm border-bottom">
			{{ icon(model, true, true, ['fa-fw'])|raw }} {{ 'names'|trans({}, model|shortname)|striptags }}{{ year|default(null) != null ? ' ' ~ year }}
			<br>
			<a href="{{ path('wsa_parc_list') }}" class="btn btn-sm btn-{{ year|default(null) == null ? 'info' : 'white' }} m-r-xs">{{ icon(model, true, true, ['fa-fw'])|raw }}</a>
			{% for current in years %}
			<a href="{{ path('wsa_parc_list', {year: current}) }}" class="btn btn-sm btn-{{ year == current ? 'info' : 'white' }} m-r-xs"><i class="fa fa-calendar fa-fw m-r-xs"></i>{{ current }}</a>
			{% endfor %}
			<a role="button" class="btn btn-sm btn-white" href="{{ path('wsa_calendar_updateallcachedchilds') }}" title="{{ 'Mettre à jour le cache des agendas'|transno }}">{{ icon('Eventdate', true, true, ['fa-fw'])|raw }}</a>
		</h2>
		{# {% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %} #}
		{# <h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ site_context.date|localizeddate('full', 'full', currentLanguage.fullname) }}</h4> #}
		{# {% endif %} #}
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">

			{% if year|default(null) == null %}

			{% if entities|length %}
			<div class="table-responsive">
				<input type="text" class="form-control form-control-sm m-b-xs" id="filter" placeholder="{{ 'Search'|trans }}">
				<table class="table table-hover footable table-condensed" data-page-size="25" data-filter=#filter>
					<thead>
						<tr>
							<th colspan="100%">
								<ul class="pagination pull-right"></ul>
							</th>
						</tr>
						<tr>
							<th style="width:38px;" class="text-center">{{ icon(model, true, true, ['fa-fw'])|raw }}</th>
							<th style="width:1%;" class="text-center">Id</th>
							<th class="text-left">{{ 'Actions'|trans }}</th>
							<th class="text-left">{{ 'field.name'|trans({}, model|shortname) }}</th>
							{# <th class="text-left">{{ 'field.pageweb'|trans({}, model|shortname) }}</th> #}
							<th class="text-center">{{ 'Début Fin'|trans({}, model|shortname) }}</th>
							<th class="text-center">{{ 'Terminé'|trans({}, model|shortname) }}</th>
							<th class="text-center" data-sort-value="data-value">{{ 'field.eventdates'|trans({}, model|shortname) }}</th>
							<th class="text-center">{{ 'Pdf'|trans({}, model|shortname) }}</th>
							{% if model.groups is defined %}
							<th class="text-left">{{ 'field.groupes'|trans({}, model|shortname) }}</th>
							{% endif %}
						</tr>
					</thead>
					<tbody>
						{% for one in entities %}
						<tr class="{{ tableClass(one) }}"{% if one.description is defined %} data-popover data-content="{{ one.description|empty('<p>Description manquante<br>Ajouter cette information dans le champ \"description\" de cet élément</p>')|nl2br }}"{% endif %}>
							<td class="text-center">
								{% set photo = one.avatar|default(one.thumbnail) %}
								{% if photo is not null %}
								<img src="{{ asset(fileurl(photo,'thumbnails',128)) }}" class="img-sm" alt="{{ photo.mediatype }} {{ one.__toString }}" data-view-media="'{{ photo.bddIdentifyer }}'" data-view-width="400" data-view-type="'thumbnails'" data-view-name="{{ one.name|json_encode }}">
								{% else %}
								<i class="fa {{ one.icon }} fa-2x fa-fw" style="color:{{ one.color|default('#AAAAAA') }};"></i>
								{% endif %}
							</td>
							<td class="text-center">{{ one.id }}</td>
							<td class="text-left">
								{%- set addedButtons -%}
								<a role="button" class="btn btn-xs btn-white" href="{{ path('wsa_event_checkjourneys', {id: one.id}) }}" title="{{ 'actions.checkjourneys'|transno }}">
									{{ icon('Journey', true, true, ['fa-fw','woc'])|raw }}
								</a>
								<a role="button" class="btn btn-xs btn-white{{ one.visibleagenda ? ' text-info' : ' text-danger' }} action-confirm" href="{{ path('wsa_event_visibleagenda', {visibleagenda: (one.visibleagenda ? 0 : 1), id: one.id}) }}" title="{{ 'actions.visibleagenda'|transno }}">
									<i class="fa fa-calendar-{{ one.visibleagenda ? 'plus' : 'minus' }}-o fa-fw woc"></i>
								</a>
								{%- endset -%}
								{{ actions.buttons_groups(one, addedButtons|default(null)) }}
							</td>
							<td class="text-left">
								<u><strong>{{ one.name }}</strong></u><br>
								<i>{{ one.slug }}</i>
							</td>
							{# <td class="text-left">{{ actions.entity_label(one.pageweb) }}</td> #}
							<td class="text-center">
								{{ one.start|localizeddate('none', 'short', app.request.locale) }}<i class="fa fa-arrow-right fa-fw text-muted"></i>{{ one.end|localizeddate('none', 'short', app.request.locale) }}
							</td>
							<td class="text-center">
								{{ one.isDeprecated(site_context.date) ? '<i class="fa fa-times fa-fw text-danger"></i>' : '<i class="fa fa-check fa-fw text-info"></i>' }}
							</td>
							<td class="text-center" data-value="{{ one.nextEventdate is not null ? one.nextEventdate.start.timestamp : 0 }}">
								<strong>{{ one.eventdates(site_context.getContextDate())|length }}</strong> / <span class="text-muted">{{ one.eventdates|length }}</span>
								<br>
								{% set next_eventdate = one.getNextEventdate(site_context.getContextDate()) %}
								{{ next_eventdate is not null ? next_eventdate.start|localizeddate('none', 'none', app.request.locale, null, "cccc d MMMM Y HH:mm") : '<i class="fa fa-times fa-fw text-danger"></i>'|raw }}
							</td>
							<td class="text-left">
								{{ actions.entity_labels(one.getContentDirectory('system/Pdf', 'Pdf')|default([])) }}
							</td>
							{% if model.groups is defined %}
							<td class="text-left">
								{{ actions.entity_labels(one.groups) }}
							</td>
							{% endif %}
						</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<td colspan="100%">
								<ul class="pagination pull-right"></ul>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
			{% else %}
			{{ actions.notfoundlist(model) }}
			{% endif %}

			{% else %}
			<h2 class="text-center">Programmation des {{ 'names'|trans({}, model|shortname)|striptags|upper }} sur l'année {{ year }}</h2>
			{# {{ dump(year_parcs) }} #}
			<div class="table-responsive">
				<input type="text" class="form-control form-control-sm m-b-xs" id="filter" placeholder="{{ 'Search'|trans }}">
				<table class="table table-hover footable table-condensed" data-page-size="25" data-filter=#filter>
					<thead>
						<tr>
							<th colspan="100%">
								<ul class="pagination pull-right"></ul>
							</th>
						</tr>
						<tr>
							<th style="width:38px;" class="text-center">{{ icon(year_parcs|first, true, true, ['fa-fw'])|raw }}</th>
							<th class="text-left">{{ 'Actions'|trans }}</th>
							<th class="text-left">{{ 'Saisons'|trans({}, (year_parcs|first).shortname) }}</th>
							<th class="text-left">{{ 'Parcs'|trans({}, (year_parcs|first).shortname) }}</th>
							{# <th class="text-center">{{ 'Parc H'|trans({}, (year_parcs|first).shortname) }}</th> #}
							<th class="text-left">{{ 'Date'|trans({}, (year_parcs|first).shortname) }}</th>
							<th class="text-center">{{ 'Start/End'|trans({}, (year_parcs|first).shortname) }}</th>
							{# <th class="text-center">{{ 'field.obsolete'|trans({}, (year_parcs|first).shortname) }}</th> #}
							<th class="text-left">{{ 'field.eventdates'|trans({}, (year_parcs|first).shortname) }}</th>
						</tr>
					</thead>
					<tbody>
						{% for one in year_parcs %}
						<tr class="{{ tableClass(one) }}"{% if one.description is defined %} data-popover data-content="{{ one.description|empty('<p>Description manquante<br>Ajouter cette information dans le champ \"description\" de cet élément</p>')|nl2br }}"{% endif %}>
							<td class="text-center">
								<i class="fa {{ one.icon }} fa-2x fa-fw" style="color:{{ one.color|default('#AAAAAA') }};"></i>
							</td>
							<td class="text-left">{{ actions.buttons_groups(one, addedButtons|default(null)) }}</td>
							<td class="text-left">{{ actions.entity_labels(one.seasons) }}</td>
							<td class="text-left">{{ actions.event_labels(one.parcs) }}</td>
							{# <td class="text-center">{{ one.parc.getMoststart('auto', one.start) }}&nbsp;<i class="fa fa-arrow-right fa-fw"></i>&nbsp;{{ one.parc.getMostend('auto', one.start) }}</td> #}
							<td class="text-left">{{ one.start|localizeddate('full', 'none', currentLanguage.fullname) }}</td>
							<td class="text-center">{{ one.start|localizeddate('none', 'medium', currentLanguage.fullname) }}&nbsp;<i class="fa fa-arrow-right fa-fw"></i>&nbsp;{{ one.end|localizeddate('none', 'medium', currentLanguage.fullname) }}</td>
							{# <td class="text-center">{{ one.isDeprecated(site_context.date) ? '<i class="fa fa-times fa-fw text-danger"></i>' : '<i class="fa fa-check fa-fw text-info"></i>' }}</td> #}
							<td class="text-left">{{ one.eventdates|length }}</td>
						</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<td colspan="100%">
								<ul class="pagination pull-right"></ul>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
			{% endif %}

		</div>
	</div>
</div>
{% endblock content %}
