{# FIXT@fixt_reference = 'entity_list.html.twig' #}
{# FIXT@name = 'Entity list' #}
{# FIXT@titleh1 = 'Entités' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_list' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<h2 class="text-center m-t-none p-b-sm p-sm border-bottom">{{ icon(model, true, true, ['fa-fw'])|raw }} {{ 'names'|trans({}, model|shortname)|striptags }}</h2>
		{# {% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
		<h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ site_context.date|localizeddate('full', 'full', currentLanguage.fullname) }}</h4>
		{% endif %} #}
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">

			{% if entities|length %}
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th style="width:38px;" class="text-center">
								{% if is_granted('ROLE_ADMIN') %}
								<a href="{{ url('wsa_partenaire_sort') }}" class="woc" title="Rafraîchir l'ordre des partenaires..."><i class="fa fa-refresh fa-fw"></i></a>
								{% else %}
								<i class="fa fa-arrows-v fa-fw"></i>
								{% endif %}
							</th>
							<th style="width:38px;" class="text-center">{{ icon(model, true, true, ['fa-2x','fa-fw'])|raw }}</th>
							<th style="width:1%;" class="text-center">{{ 'field.id'|trans({}, model|shortname) }}</th>
							<th class="text-left">{{ 'Actions'|trans }}</th>
							<th class="text-left">{{ 'field.title'|trans({}, model|shortname) }}</th>
							<th class="text-left">{{ 'field.typepartenaire'|trans({}, model|shortname) }}</th>
							<th class="text-left">{{ 'names'|trans({}, 'Entreprise') }}</th>
							<th class="text-center">{{ 'Créateur'|trans({}, 'Entreprise') }}</th>
{# 							{% if site_context.isDevOrSadmin() %}
							<th class="text-center" style="width:24px;">{{ 'Ctrl'|trans }}</th>
							{%- endif %}
 #}						</tr>
					</thead>
					<tbody>
						{% for one in entities %}
						<tr class="{{ tableClass(one) }}" draggable="true" rel="{{ one.bddid }}">
							<td class="text-center" style="vertical-align: center; cursor: move;">
								<i class="fa fa-arrows-v fa-fw"></i>
							</td>
							<td class="text-center">
								{% set file_url = one.avatar is defined ? fileurl(one.avatar,'thumbnails',128) : null %}
								{% if file_url is not null %}
								<img src="{{ asset(file_url) }}" class="img-sm" alt="{{ one.avatar.mediatype }} {{ one.slug|default(one.name) }}" data-view-media="'{{ one.avatar.bddIdentifyer }}'" data-view-width="400" data-view-type="'thumbnail'" data-view-name="'{{ one.__toString }}'">
								{% else %}
								<i class="fa {{ one.icon }} fa-2x fa-fw" style="color:{{ one.color|default('#AAAAAA') }};"></i>
								{% endif %}
							</td>
							<td class="text-center">{{ one.id }}<br><strong title="Index ordinal">{{ one.sortpartenaire }}</strong></td>
							<td class="text-left">
								{{ actions.buttons_groups(one) }}
							</td>
							<td class="text-left">
								<u><strong>{{ one.title }}</strong></u><br>
							</td>
							<td class="text-left">
								{{ actions.entity_label(one.typepartenaire) }}
							</td>
							<td class="text-left">
								{{ actions.entity_labels(one.entreprises) }}
							</td>
							<td class="text-center">{{ actions.entity_label(one.owner, one.owner == site_context.environment ? 'primary' : null, true, true) }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
			{{ actions.notfoundlist(model) }}
			{% endif %}

		</div>
	</div>
</div>
{% endblock content %}
