{# FIXT@fixt_reference = 'entity_show.html.twig' #}
{# FIXT@name = 'Entity show' #}
{# FIXT@titleh1 = 'Entité' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_show' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">

			{% if entity|default(null) is not null %}

			<div class="row">
				<div class="col-lg-12">
					<h2 class="text-center m-t-none p-b-sm p-sm border-bottom"><small class="text-muted">{{ 'name'|trans({}, entity.shortname)|striptags }}</small> <strong>{{ entity.name }}</strong> <span class="label label-primary m-sm">{{ app.user.preference('forms.contexts').value|default('?')|join(' ') }}</span></h2>
					{# {% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
					<h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ entity.contextdate|localizeddate('full', 'full', currentLanguage.fullname) }}</h4>
					{% endif %} #}
					{{ actions.alertStatus(entity) }}
					{{ actions.showOnwers(entity) }}
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">

					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>{{ 'Informations'|trans }}</h5>
						</div>
						<div class="ibox-content">
							<p>{{ 'field.name'|trans({}, entity.shortname) }} : <strong>{{ entity.__toString }}</strong></p>
							<p>{{ 'field.email'|trans({}, entity.shortname) }} : <strong>{{ entity.email }}</strong></p>
							<p>{{ 'field.functionality'|trans({}, entity.shortname) }} : <strong>{{ entity.functionality|default('')|raw }}</strong></p>
							<p>{{ 'field.description'|trans({}, entity.shortname) }} : <strong>{{ entity.description|default('')|raw }}</strong></p>
							<p>{{ 'field.groupes'|trans({}, entity|shortname) }} : {{ actions.entity_labels(entity.allGroups, null, true, false) }}</p>
							<hr>
							<p>{{ 'field.created'|trans({}, entity.shortname) }} : <strong>{{ entity.created|localizeddate('none', 'none', app.request.locale, null, "dd/MM/YYYY HH:mm:ss") }}</strong></p>
							<p>{{ 'field.updated'|trans({}, entity.shortname) }} : <strong>{{ entity.updated is not null ? entity.updated|localizeddate('none', 'none', app.request.locale, null, "dd/MM/YYYY HH:mm:ss") : '<i class="fa fa-times fa-fw fa-1x text-muted"></i>'|raw }}</strong></p>
							{# <hr> #}
							{# {{ actions.show_preferences([entity.bddid,'newsletter']|join('|'), 'edit') }} #}
							{# <hr> #}
							{# {{ dump(entity.getPreferencesAsArray()) }} #}
							{{ actions.show_preferences(entity, is_granted('ROLE_ADMIN') ? 'edit' : null) }}
							{# <hr> #}
							{# <h4>Préférences print</h4> #}
							{# {{ actions.print_preferences(entity, 'edit') }} #}
						</div>
					</div>

					{% if user_loggs is defined and is_granted('ROLE_ADMIN') %}
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>{{ 'User loggs'|trans }}</h5>
							<small class="pull-right"><i><a href="{{ path('wsa_logg_list', {nb: 100, userid: entity.id}) }}" class="">Voir plus...</a></i></small>
						</div>
						<div class="ibox-content">
							{% if user_loggs|length %}
							<div class="table-responsive">
								<table class="table table-hover table-condensed">
									<thead>
										<tr>
											<th style="width:38px;" class="text-center">{{ icon(model, true, true, ['fa-fw'])|raw }}</th>
											<th class="text-left">{{ 'Route'|trans }}</th>
											<th class="text-center">{{ 'Date'|trans }}</th>
											<th class="text-center">{{ 'Time'|trans }}<i class="text-muted">&nbsp;{{ time_average|number_format(3,',','') }}&nbsp;ms</i></th>
										</tr>
									</thead>
									<tbody>
										{% for one in user_loggs %}
										{% set class = one.current ? "danger text-danger" : "" %}
										{% set class = one.hasErrors() ? "danger text-danger" : "" %}
										<tr class="{{ class }}">
											<td class="text-center{{ one.isDev() ? ' text-danger' }}" title="Environment {{ one.env|upper }}">
												<i class="fa {{ one.icon }} fa-1x fa-fw"></i>
											</td>
											<td class="text-left" title="{{ one.route_params|json_encode }}">
												{{ one.route }}
											</td>
											<td class="text-center" title="{{ one.created|localizeddate('none', 'none', app.request.locale, null, "d/MM/Y HH:mm:ss") }}">
												{{ one.created|localizeddate('none', 'none', app.request.locale, null, "d/MM/YY HH:mm") }}
											</td>
											<td class="text-center" title="{{ one.during >= 0 ? one.during|number_format(3,',','') ~ ' ms' }}">
												<div class="progress progress-small" style="background-color: #DDDDDD;">
													{% set color = one.during <= 2 ? 'success' : 'warning' %}
													{% set color = one.during <= 1 ? 'info' : color %}
													{% set color = one.during > 3 ? 'danger' : color %}
													{% set pcent = one.during * 100 / 5 %}
													{% set pcent = pcent > 100 ? 100 : pcent %}
													<div style="width: {{ pcent }}%;" class="progress-bar progress-bar-{{ color }}"></div>
												</div>
											</td>
										</tr>
										{% endfor %}
									</tbody>
									<tfoot>
										<tr>
											<th style="width:38px;" class="text-center">{{ icon(model, true, true, ['fa-fw'])|raw }}</th>
											<th class="text-left">{{ 'Route'|trans }}</th>
											<th class="text-center">{{ 'Date'|trans }}</th>
											<th class="text-center">{{ 'Time'|trans }}<i class="text-muted">&nbsp;{{ time_average|number_format(3,',','') }}&nbsp;ms</i></th>
										</tr>
									</tfoot>
								</table>
							</div>
							{% else %}
							<h3 class="text-center">Aucune donnée de logg</h3>
							{% endif %}
						</div>
					</div>
					{% endif %}

				</div>

				<div class="col-md-6">

					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>{{ 'Images'|trans }}</h5>
						</div>
						<div class="ibox-content">
							{% set file_url = fileurl(entity.avatar,'thumbnails',256) %}
							{% if file_url is not null %}
							<img src="{{ asset(file_url) }}" title="{{ 'entity.avatar'|trans({}, entity.shortname) }}" class="img-md img-thumbnail im-responsive" alt="{{ entity.avatar.__toString }}" data-view-media="'{{ entity.avatar.bddIdentifyer }}'" data-view-width="1000" data-view-type="'optimized'">
							{% else %}
							<i class="fa fa-times fa-2x fa-fw" title="{{ 'entity.avatar'|trans({}, entity.shortname) }}"></i>
							{% endif %}
						</div>
					</div>

					{{ actions.iboxDirs(entity, true) }}

				</div>

			</div>

			{% else %}
			{{ actions.notfound(model) }}
			{% endif %}

		</div>
	</div>
</div>
{% endblock content %}
