{# FIXT@fixt_reference = 'entity_list.html.twig' #}
{# FIXT@name = 'Entity list' #}
{# FIXT@titleh1 = 'Entités' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_list' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">

		<h2 class="text-center m-t-none p-b-sm p-sm border-bottom">{{ icon(model, true, true, ['fa-fw'])|raw }} {{ 'names'|trans({}, model|shortname)|striptags }}</h2>
		{% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
		<h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ site_context.date|localizeddate('full', 'full', currentLanguage.fullname) }}</h4>
		{% endif %}

		{% if entities|length %}
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th style="width:38px;" class="text-center">{{ icon(model, true, true, ['fa-fw'])|raw }}</th>
						<th style="width:1%;" class="text-center">Id</th>
						<th class="text-left">{{ 'Actions'|trans }}</th>
						<th class="text-left">{{ 'field.name'|trans({}, model|shortname) }}</th>
						<th class="text-left">{{ 'field.typepopup'|trans({}, model|shortname) }}</th>
						<th class="text-left">{{ 'field.show'|trans({}, model|shortname) }}<br><small><i>{{ site_context.date|localizeddate('short', 'short', app.request.locale) }}</i></small></th>
						<th class="text-left">{{ 'field.start'|trans({}, model|shortname) }}/{{ 'field.end'|trans({}, model|shortname) }}</th>
						<th class="text-left">{{ 'field.pagewebs'|trans({}, model|shortname) }}</th>
						<th class="text-center">{{ 'field.role'|trans({}, model|shortname) }}</th>
						{% if model.groups is defined %}
						<th class="text-left">{{ 'groupes'|trans }}</th>
						{% endif %}
					</tr>
				</thead>
				<tbody>
					{% for one in entities %}
					<tr class="{{ tableClass(one) }}"{% if one.description is defined %} data-popover data-content="{{ one.description|empty('<p>Description manquante<br>Ajouter cette information dans le champ \"description\" de cet élément</p>')|nl2br }}"{% endif %}>
						<td class="text-center">
							{% set file_url = one.photo is defined ? fileurl(one.photo,'thumbnails',128) : null %}
							{% if file_url is not null %}
							<img src="{{ asset(file_url) }}" class="img-sm" alt="{{ one.avatar.mediatype }} {{ one.slug|default(one.name) }}" data-view-media="'{{ one.avatar.bddIdentifyer }}'" data-view-width="400" data-view-type="'thumbnail'" data-view-name="'{{ one.__toString }}'">
							{% else %}
							<i class="fa {{ one.icon }} fa-1x fa-fw" style="color:{{ one.color|default('#AAAAAA') }};"></i>
							{% endif %}
						</td>
						<td class="text-center">{{ one.id }}</td>
						<td class="text-left">
							{%- set addedButtons -%}
							{% if one.isLifesession %}
							<a role="button" class="btn btn-xs btn-white{{ hasInSession(one, false) ? ' text-info' }}" href="{{ path('wsa_'~one.shortname(true)~'_refresh', {id: one.id}) }}" title="{{ 'actions.refresh'|transno }}">
								<i class="fa fa-refresh fa-fw woc"></i>
							</a>
							{% endif %}
							<a role="button" data-show-popup="{{ one|serialized() }}" class="btn btn-xs btn-white" href="#" title="{{ 'actions.popup_show'|transno }}">
								<i class="fa {{ one.icon }} fa-1x fa-fw"></i>
							</a>
							{%- endset -%}
							{{ actions.buttons_groups(one, addedButtons) }}
						</td>
						<td class="text-left">
							<u><strong>{{ one.name }}</strong></u><br><i>{{ one.slug }}</i>
						</td>
						<td class="text-left">
							{{ actions.entity_label(one.getMasterTypepopup()) }} {{ actions.entity_label(one.getOptionTypepopup()) }}
						</td>
						<td class="text-center">
							{% if one.isShow(site_context.date) %}<i class="fa fa-check fa-fw text-info"></i>{% else %}<i class="fa fa-minus fa-fw text-muted"></i>{% endif %}
						</td>
						<td class="text-left">
							{{ one.start|localizeddate('short', 'short', app.request.locale) }} > <strong>{{ one.truestart|localizeddate('short', 'short', app.request.locale) }}</strong> <i>({{ one.hoursstart >= 0 ? '+' }}{{ one.hoursstart }}h)</i>
							<br>
							{% if one.end is not null %}
							{{ one.end|localizeddate('short', 'short', app.request.locale) }} > <strong>{{ one.trueend|localizeddate('short', 'short', app.request.locale) }}</strong> <i>({{ one.hoursend >= 0 ? '+' }}{{ one.hoursend }}h)</i>
							{% else %}----- > <strong>-----</strong>{% endif %}
						</td>
						<td class="text-left">
							{{ actions.entity_labels(one.pagewebs) }}
						</td>
						<td class="text-left">{{ one.role|json_encode }}</td>
						{% if model.groups is defined %}
						<td class="text-left">
							{{ actions.entity_labels(one.groups) }}
						</td>
						{% endif %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% else %}
		{{ actions.notfoundlist(model) }}
		{% endif %}

	</div>
</div>
{% endblock content %}
