{# FIXT@fixt_reference = 'entity_show.html.twig' #}
{# FIXT@name = 'Entity show' #}
{# FIXT@titleh1 = 'Entité' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_show' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">

			{% if entity|default(null) is not null %}

			<div class="row">
				<div class="col-lg-12">
					<h2 class="text-center m-t-none p-b-sm p-sm border-bottom"><small class="text-muted">{{ 'name'|trans({}, entity.shortname)|striptags }}</small> <strong>{{ entity.name }}</strong> <span class="label label-primary m-sm">{{ app.user.preference('forms.contexts').value|default('?')|join(' ') }}</span></h2>
					{% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
					<h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ entity.contextdate|localizeddate('full', 'full', currentLanguage.fullname) }}</h4>
					{% endif %}
					{{ actions.alertStatus(entity) }}
					{{ actions.showOnwers(entity) }}
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">

					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>{{ 'Textes'|trans }}</h5>
							<div class="ibox-tools">
								<a class="collapse-link">
									<i class="fa fa-chevron-up"></i>
								</a>
								<a data-show-popup="{{ entity|serialized() }}" href="#" title="{{ 'actions.popup_show'|transno }}">
									<i class="fa {{ entity.icon }} fa-1x fa-fw"></i>
								</a>
							</div>
						</div>
						<div class="ibox-content">
							<p>{{ 'field.name'|trans({}, entity.shortname) }} : <strong>{{ entity.name }}</strong></p>
							<p>{{ 'field.owner'|trans({}, entity.shortname) }} : <strong>{{ entity.owner.__toString|default('unknown'|trans) }}</strong></p>
							<p>{{ 'field.dates'|trans({}, entity.shortname) }} : <strong>
								{%- if entity.end is not null -%}
								Du {{ entity.start|localizeddate('medium', 'short', currentLanguage.fullname) }} au {{ entity.end|localizeddate('short', 'short', currentLanguage.fullname) }}
								{%- else -%}
								À partir du {{ entity.start|localizeddate('medium', 'short', currentLanguage.fullname) }}
								{%- endif -%}
								</strong></p>
							<p>{{ 'field.title'|trans({}, entity.shortname) }} : <strong>{{ entity.title|default('<i class="fa fa-times fa-fw text-muted"></i>')|raw }}</strong></p>
							<p>{{ 'field.menutitle'|trans({}, entity.shortname) }} : <strong>{{ entity.menutitle|default('<i class="fa fa-times fa-fw text-muted"></i>')|raw }}</strong></p>
							<p>{{ 'field.subtitle'|trans({}, entity.shortname) }} : <strong>{{ entity.subtitle|default('<i class="fa fa-times fa-fw text-muted"></i>')|raw }}</strong></p>
							<p>{{ 'field.description'|trans({}, entity.shortname) }} : <strong>{{ entity.description|default('<i class="fa fa-times fa-fw text-muted"></i>')|raw }}</strong></p>
							<p>{{ 'field.accroche'|trans({}, entity.shortname) }} : <strong>{{ entity.accroche|default('<i class="fa fa-times fa-fw text-muted"></i>')|raw }}</strong></p>
							<p>{{ 'field.resume'|trans({}, entity.shortname) }} : <strong>{{ entity.resume|default('<i class="fa fa-times fa-fw text-muted"></i>')|raw }}</strong></p>
							<p>{{ 'field.fulltext'|trans({}, entity.shortname) }} : <strong>{{ entity.fulltext|default('<i class="fa fa-times fa-fw text-muted"></i>')|raw }}</strong></p>
							{% if entity.allPathnames|default([])|length %}
							<hr>
							<p>{{ 'field.allPathnames'|trans({}, entity.shortname) }} : <ul class="list-unstyled"><li>{{ entity.allPathnames|join('</li><li>')|raw }}</li></ul></p>
							{% endif %}
						</div>

						{% if entity.hasDirs()|default(false) %}
						<div class="col-lg-12">
							{{ actions.iboxDirs(entity, true) }}
						</div>
						{% endif %}
					</div>

				</div>

				<div class="col-md-6">

					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>
								{{ 'Session'|trans }}
							</h5>
							<div class="ibox-tools">
								<a class="collapse-link">
									<i class="fa fa-chevron-up"></i>
								</a>
								{% if entity.isLifesession %}
								<a class="{{ hasInSession(entity, false) ? 'text-info' }}" href="{{ path('wsa_'~entity.shortname(true)~'_refresh', {id: entity.id}) }}" title="{{ 'actions.refresh'|transno }}">
									<i class="fa fa-refresh fa-fw woc"></i>
								</a>
								{% endif %}
								<a data-show-popup="{{ entity|serialized() }}" href="#" title="{{ 'actions.popup_show'|transno }}">
									<i class="fa {{ entity.icon }} fa-1x fa-fw"></i>
								</a>
							</div>
						</div>
						<div class="ibox-content">
							<p>{{ 'session.onetime'|trans }} : {{ actions.booleanIcon(entity.isOnetime()) }}</p>
							<p>{{ 'field.lifesession'|trans }} : {{ entity.lifesession > 0 ? ('<strong>' ~ entity.lifesession ~ ' minute(s)</strong>')|raw : '<i class="fa fa-times fa-fw text-muted"></i>'|raw }}</p>
							<p>{{ 'field.lifesession_modifier'|trans }} : <strong>{{ entity.lifesession(true) }}</strong></p>
							<p>{{ 'session.inSession'|trans }} : {{ actions.booleanIcon(hasInSession(entity, false)) }}{{ hasInSession(entity, false) ? ('<i>(ends at ' ~ getSessionEnds(entity)|localizeddate('short', 'long', app.request.locale) ~ ')</i>')|raw }}</p>
						</div>
					</div>

					{{ actions.imagesThumbs(entity, 'lg') }}

					{{ actions.tags(entity) }}
					
				</div>
			</div>

			{% else %}
			{{ actions.notfound(model) }}
			{% endif %}

		</div>
	</div>
</div>
{% endblock content %}
