{# FIXT@fixt_reference = 'product_show.html.twig' #}
{# FIXT@name = 'Entity show' #}
{# FIXT@titleh1 = 'Product' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'product_show' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">

			{% if entity|default(null) is not null %}

			<div class="row">
				<div class="col-lg-12">
					<h2 class="text-center m-t-none p-b-sm p-sm border-bottom"><small class="text-muted">{{ 'name'|trans({}, entity.shortname)|striptags }}</small> <strong>{{ entity.name }}</strong> <span class="label label-primary m-sm">{{ app.user.preference('forms.contexts').value|default('?')|join(' ') }}</span></h2>
					{% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
					<h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ entity.contextdate|localizeddate('full', 'full', currentLanguage.fullname) }}</h4>
					{% endif %}
					{{ actions.alertStatus(entity) }}
					{{ actions.showOnwers(entity) }}
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="row">

						<div class="col-lg-5">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5>{{ 'Informations'|trans }}</h5>
								</div>
								<div class="ibox-content">
									<p>{{ 'field.name'|trans({}, entity.shortname) }} : <strong>{{ entity.name }}</strong></p>
									<p>{{ 'field.slug'|trans({}, entity.shortname) }} : <strong>{{ entity.slug }}</strong></p>
									<p>{{ 'field.longname'|trans({}, entity.shortname) }} : <strong>{{ entity.longname|default(null) }}</strong></p>
									<p>{{ 'field.title'|trans({}, entity.shortname) }} : <strong>{{ entity.title|default(null) }}</strong></p>
									<p>{{ 'field.menutitle'|trans({}, entity.shortname) }} : <strong>{{ entity.menutitle|default(null) }}</strong></p>
									<p>{{ 'field.dates'|trans({}, entity.shortname) }} : <strong>
										{%- if entity.end is not null -%}
										Du {{ entity.start|localizeddate('medium', 'short', currentLanguage.fullname) }} au {{ entity.end|localizeddate('short', 'short', currentLanguage.fullname) }}
										{%- else -%}
										À partir du {{ entity.start|localizeddate('medium', 'short', currentLanguage.fullname) }}
										{%- endif -%}
										</strong></p>
									<hr>
									<p>{{ 'field.description'|trans({}, entity.shortname) }} : <span>{{ entity.description|default(null)|raw }}</span></p>
									<p>{{ 'field.accroche'|trans({}, entity.shortname) }} : <span>{{ entity.accroche|default(null)|raw }}</span></p>
									<p>{{ 'field.resume'|trans({}, entity.shortname) }} : <span>{{ entity.resume|default(null)|raw }}</span></p>
									<p>{{ 'field.fulltext'|trans({}, entity.shortname) }} : <span>{{ entity.fulltext|default(null)|raw }}</span></p>
									<hr>
									<p>{{ 'field.owner'|trans({}, entity.shortname) }} : <strong>{{ entity.owner.__toString|default('unknown'|trans) }}</strong></p>
									<p>{{ 'field.classements'|trans({}, entity.shortname) }} : {{ actions.entity_labels(entity.classements, null, false, true) }}</p>
									<p>{{ 'field.autoevents'|trans({}, entity.shortname) }} : {{ actions.entity_labels(entity.autoevents(true), null, false, true) }}</p>
									<p>{{ 'field.events'|trans({}, entity.shortname) }} : {{ actions.entity_labels(entity.events, null, true, true) }}</p>
									<p>{{ 'field.addedAutoEvents'|trans({}, entity.shortname) }} : {{ actions.entity_labels(entity.addedAutoEvents, null, true, true) }}</p>
									<p>{{ 'field.allEvents'|trans({}, entity.shortname) }} : {{ actions.entity_labels(entity.allEvents, null, true, true) }}</p>
									{% if entity.fileUrls|default([])|length %}
									<hr>
									<p>{{ 'field.fileUrls'|trans({}, entity.shortname) }} : <ul class="list-unstyled"><li>{{ entity.fileUrls|join('</li><li>')|raw }}</li></ul></p>
									{% endif %}
									{% if entity.allPathnames|default([])|length %}
									<hr><p>{{ 'field.allPathnames'|trans({}, entity.shortname) }} : <ul class="list-unstyled"><li>{{ entity.allPathnames|join('</li><li>')|raw }}</li></ul></p>
									{% endif %}
								</div>
							</div>
						</div>

						<div class="col-lg-7">
							{{ actions.imagesThumbs(entity, 'lg') }}
						</div>

						<div class="col-lg-7">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5>{{ 'field.childs'|trans({}, entity.shortname) }}</h5>
								</div>
								<div class="ibox-content">
									{# <ul class="list-unstyled">
										{% for child in entity.childs %}
										<li><i class="fa {{ child.icon }} fa-1x fa-fw" style="color:{{ child.color|default('#AAAAAA') }};"></i> {{ child.__toString }} / {{ child.longname|default(null) }} / <i>{{ child.pathname }}</i></li>
										{% endfor %}
									</ul> #}

									<div class="table-responsive">
										<table class="table table-hover">
											<thead>
												<tr>
													<th style="width:38px;" class="text-center">{{ icon(model, true, true, ['fa-fw'])|raw }}</th>
													<th style="width:1%;" class="text-center">{{ 'field.id'|trans({}, model|shortname) }}</th>
													<th class="text-left">{{ 'Actions'|trans }}</th>
													<th class="text-left">{{ 'field.nom'|trans({}, model|shortname) }}</th>
													<th class="text-left">{{ 'field.childs'|trans({}, model|shortname) }}</th>
													<th class="text-center">{{ 'field.allprixttc'|trans({}, model|shortname) }}</th>
												</tr>
											</thead>
											<tbody>
												{% for one in [entity]|merge(entity.childs) %}
												<tr{{ one == entity ? ' class="info"' }}>
													<td class="text-center">
														{% set file_url = one.avatar is defined ? fileurl(one.avatar,'thumbnails',128) : null %}
														{% set file_url = one.thumbnail is defined ? fileurl(one.thumbnail,'thumbnails',128) : null %}
														{% if file_url is not null and one.avatar is defined %}
														<img src="{{ asset(file_url) }}" class="img-sm" alt="{{ one.avatar.mediatype }} {{ one.slug|default(one.name) }}" data-view-media="'{{ one.avatar.bddIdentifyer }}'" data-view-width="800" data-view-type="'optimized'" data-view-name="'{{ one.__toString }}'">
														{% elseif file_url is not null and one.thumbnail is defined %}
														<img src="{{ asset(file_url) }}" class="img-sm" alt="{{ one.thumbnail.mediatype }} {{ one.slug|default(one.name) }}" data-view-media="'{{ one.thumbnail.bddIdentifyer }}'" data-view-width="800" data-view-type="'optimized'" data-view-name="'{{ one.__toString }}'">
														{% else %}
														<i class="fa {{ one.icon }} fa-2x fa-fw" style="color:{{ one.color|default('#AAAAAA') }};"></i>
														{% endif %}
													</td>
													<td class="text-center">{{ one.id }}<br><strong title="Index ordinal">{{ one.sortprod }}</strong></td>
													<td class="text-left">
														{{ actions.buttons_groups(one) }}
													</td>
													<td class="text-left" title="{{ one.longname|default(null) }}">
														<u><strong>{{ one.longname }}</strong></u>
														<br>
														<i>{{ one.slug }} / {{ one.pathname }}</i>
														<br>
														OpenBillet: {{ one.opcode|default("---") }}
													</td>
													<td class="text-left">
														{{ actions.entity_labels(one.childs, null, true, false, true) }}
													</td>
													<td class="text-right">
														<span title="Prix en ligne" class="{{ one.prixttc == entity.minprixttc ? 'text-info' }} {{ one.prixttc == entity.maxprixttc ? 'text-danger' }}">{{ one.prixttc|number_format(2, ',', '') }}€<sup>TTC</sup>&nbsp;<i class="fa fa-globe fa-1x fa-fw text-primary"></i></span>
														<br>
														<span title="Prix guichet" class="{{ one.prixaccueilttc == entity.minprixttc ? 'text-info' }} {{ one.prixaccueilttc == entity.maxprixttc ? 'text-danger' }}">{{ one.prixaccueilttc|number_format(2, ',', '') }}€<sup>TTC</sup>&nbsp;<i class="fa fa-home fa-1x fa-fw text-primary"></i></span>
														<br>
														<span title="Prix minimum">{{ one.minprixttc|number_format(2, ',', '') }}€<sup>TTC</sup>&nbsp;<i class="fa fa-arrow-down fa-1x fa-fw text-info"></i></span>
														<br>
														<span title="Prix maximum">{{ one.maxprixttc|number_format(2, ',', '') }}€<sup>TTC</sup>&nbsp;<i class="fa fa-arrow-up fa-1x fa-fw text-danger"></i></span>
													</td>
												</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>

								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="row">


						{% if entity.hasDirs()|default(false) %}
						<div class="col-md-6">
							{{ actions.iboxDirs(entity, true) }}
						</div>
						{% endif %}

					</div>
				</div>

			</div>

			{% else %}
			{{ actions.notfound(model) }}
			{% endif %}

		</div>
	</div>
</div>
{% endblock content %}
