{# FIXT@fixt_reference = 'entity_list.html.twig' #}
{# FIXT@name = 'Entity list' #}
{# FIXT@titleh1 = 'Entités' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_list' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<h2 class="text-center m-t-none p-b-sm p-sm border-bottom">{{ icon(model, true, true, ['fa-fw'])|raw }} {{ 'names'|trans({}, model|shortname)|striptags }}</h2>
		{% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
		<h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ site_context.date|localizeddate('full', 'full', currentLanguage.fullname) }}</h4>
		{% endif %}
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">

			{% if entities|length %}
			<div class="table-responsive">
 				{# <input type="text" class="form-control form-control-sm m-b-xs" id="filter" placeholder="{{ 'Search'|trans }}"> #}
				<table class="table table-hover sortable" data-page-size="20" data-filter=#filter>
					<thead>
						<tr>
							<th style="width:38px;" class="text-center">
								{% if is_granted('ROLE_ADMIN') %}
								<a href="{{ url('wsa_product_sort') }}" class="woc" title="Rafraîchir l'ordre des billets..."><i class="fa fa-refresh fa-fw"></i></a>
								{% else %}
								<i class="fa fa-arrows-v fa-fw"></i>
								{% endif %}
							</th>
							<th style="width:38px;" class="text-center">{{ icon(model, true, true, ['fa-fw'])|raw }}</th>
							<th style="width:1%;" class="text-center">{{ 'field.id'|trans({}, model|shortname) }}</th>
							<th class="text-left">{{ 'Actions'|trans }}</th>
							<th class="text-left">{{ 'field.name'|trans({}, model|shortname) }}</th>
							<th class="text-left">{{ 'field.visible'|trans({}, model|shortname) }}</th>
							<th class="text-left">{{ 'field.classements'|trans({}, model|shortname) }}</th>
							<th class="text-left">{{ 'field.dates'|trans({}, model|shortname) }}</th>
							{# <th class="text-left">{{ 'field.pageweb'|trans({}, model|shortname) }}</th> #}
							<th class="text-left">{{ 'field.childs'|trans({}, model|shortname) }}</th>
							<th class="text-left">{{ 'field.infos'|trans({}, model|shortname) }}</th>
							<th class="text-center">{{ 'field.prix'|trans({}, model|shortname) }}</th>
						</tr>
					</thead>
					<tbody>
						{% for one in entities %}
						<tr class="{{ tableClass(one) }}" draggable="true" rel="{{ one.bddid }}">
							<td class="text-center" style="vertical-align: center; cursor: move;">
								<i class="fa fa-arrows-v fa-fw"></i>
							</td>
							<td class="text-center">
								{% set file_url = one.avatar is defined ? fileurl(one.avatar,'thumbnails',128) : null %}
								{% set file_url = one.thumbnail is defined ? fileurl(one.thumbnail,'thumbnails',128) : null %}
								{% if file_url is not null and one.avatar is defined %}
								<img src="{{ asset(file_url) }}" class="img-sm" alt="{{ one.avatar.mediatype }} {{ one.slug|default(one.name) }}" data-view-media="'{{ one.avatar.bddIdentifyer }}'" data-view-width="800" data-view-type="'optimized'" data-view-name="'{{ one.__toString }}'">
								{% elseif file_url is not null and one.thumbnail is defined %}
								<img src="{{ asset(file_url) }}" class="img-sm" alt="{{ one.thumbnail.mediatype }} {{ one.slug|default(one.name) }}" data-view-media="'{{ one.thumbnail.bddIdentifyer }}'" data-view-width="800" data-view-type="'optimized'" data-view-name="'{{ one.__toString }}'">
								{% else %}
								<i class="fa {{ one.icon }} fa-2x fa-fw" style="color:{{ one.color|default('#AAAAAA') }};"></i>
								{% endif %}
							</td>
							<td class="text-center">{{ one.id }}<br><strong title="Index ordinal">{{ one.sortprod }}</strong></td>
							<td class="text-left">
								{{ actions.buttons_groups(one) }}
							</td>
							<td class="text-left" title="{{ one.longname|default(null) }}">
								<u><strong>{{ one.longname }}</strong></u>
								<br>
								{# <i>{{ one.slug }} / {{ one.pathname }}</i> #}
								{# <br> #}
								Code OpenBillet:<br>{{ one.opcode|default("---") }}
							</td>
							<td class="text-left">
								{%- if not one.visibleEvenIfInactive and one.visible %}<i class="fa fa-eye-slash fa-fw text-muted" title="visible, mais ne sera pas visible si inactif"></i>
								{%- elseif one.inactiveButVisible %}<i class="fa fa-eye fa-fw text-warning" title="Inactif, mais visible"></i>
								{%- elseif one.visible %}<i class="fa fa-eye fa-fw text-success" title="visible"></i>
								{%- else %}<i class="fa fa-eye-slash fa-fw text-danger" title="non visible"></i>
								{%- endif %}
								{{ (one.inStartEnd ? '<i class="fa fa-calendar-check-o fa-fw text-success" title="En cours de validité au regard des dates"></i>' : '<i class="fa fa-calendar-times-o fa-fw text-danger" title="Hors des dates de validité"></i>')|raw }}</td>
							<td class="text-left">
								{{ actions.entity_labels(one.getValidClassements(false, true), 'primary', true, false, true, one.shortname) }}
								{# {{ actions.entity_labels(one.getUnvalidClassements(false, true), null, true, false, true, one.shortname) }} #}
							</td>
							<td class="text-center{{ one.inStartEnd ? ' text-success' : ' text-danger' }}">
								{{ one.start|localizeddate('short', 'short', currentLanguage.fullname) }}
								<br>
								{{ one.end is not null ? one.end|localizeddate('short', 'short', currentLanguage.fullname) : '<i class="fa fa-times fa-fw text-muted"></i>'|raw }}
							</td>
{# 							<td class="text-left">
								{{ actions.entity_labels(one.pageweb) }}
							</td> #}
							<td class="text-left">
								{{ actions.entity_labels(one.childs, null, true, false, true) }}
							</td>
							<td class="text-left">
								<i class="fa fa-calendar-check-o fa-fw {{ one.season ? 'text-info' : 'text-muted' }}" title="Valable toute la saison"></i>
								<i class="fa fa-globe fa-fw {{ one.onlyweb ? 'text-info' : 'text-muted' }}" title="Seulement en vente en ligne"></i>
							</td>
							<td class="text-right">
								<span title="Prix en ligne">{{ one.prixttc|number_format(2, ',', '') }}€<sup>TTC</sup>&nbsp;<i class="fa fa-globe fa-1x fa-fw text-primary"></i></span>
								<br>
								<span title="Prix guichet">{{ one.prixaccueilttc|number_format(2, ',', '') }}€<sup>TTC</sup>&nbsp;<i class="fa fa-home fa-1x fa-fw text-primary"></i></span>
								<br>
								<span title="Prix minimum">{{ one.minprixttc|number_format(2, ',', '') }}€<sup>TTC</sup>&nbsp;<i class="fa fa-arrow-down fa-1x fa-fw text-info"></i></span>
								<br>
								<span title="Prix maximum">{{ one.maxprixttc|number_format(2, ',', '') }}€<sup>TTC</sup>&nbsp;<i class="fa fa-arrow-up fa-1x fa-fw text-danger"></i></span>
							</td>
						</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<td colspan="100%">
								<ul class="pagination pull-right"></ul>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
			{% else %}
			{{ actions.notfoundlist(model) }}
			{% endif %}

		</div>
	</div>
</div>
{% endblock content %}
