{# FIXT@fixt_reference = 'entity_list.html.twig' #}
{# FIXT@name = 'Entity list' #}
{# FIXT@titleh1 = 'Entités' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_list' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<h2 class="text-center m-t-none p-b-sm p-sm border-bottom">{{ icon(model, true, true, ['fa-fw'])|raw }} {{ 'names'|trans({}, model|shortname)|striptags }}</h2>
		{# {% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
		<h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ site_context.date|localizeddate('full', 'full', currentLanguage.fullname) }}</h4>
		{% endif %} #}
	</div>
</div>

<div class="row">
	<div class="col-lg-12">

		{# NOUVELLE SAISON #}
		{% set currentYear = currentYear() %}
		{% if currentYear not in years|default([currentYear]) %}
		<div class="alert alert-warning alert-dismissible animated fadeInRight" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			Il est temps de créer la <strong><a href="{{ path('wsa_season_create') }}" class="alert-link">Nouvelle saison {{ currentYear }}</a></strong> !
		</div>
		{% endif %}

		{% if report.need_check|default(false) %}
		<div class="alert alert-danger alert-dismissible animated fadeInRight" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			Les saisons nécessitent un checkup ! <strong><a href="{{ path('wsa_season_check') }}" class="alert-link woc"><i class="fa fa-refresh fa-fw"></i> CHECK!</a></strong>
		</div>
		{% endif %}

		{% if report.seasons|default([])|length %}
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th style="width:38px;" class="text-center">{{ icon(model, true, true, ['fa-fw'])|raw }}</th>
						<th class="text-left">{{ 'Actions'|trans }}</th>
						<th class="text-center">{{ 'Nom'|trans }}</th>
						<th class="text-center">{{ 'Année'|trans }}</th>
						<th class="text-center">{{ 'Dates saison'|trans }}</th>
						<th class="text-center">{{ 'Dates réelles'|trans }}</th>
						<th class="text-center">{{ 'names'|trans({}, 'Journey') }}</th>
						<th class="text-center">{{ 'names'|trans({}, 'Eventdate') }}</th>
					</tr>
				</thead>
				<tbody>
					{% for year,one in report.seasons %}
					<tr{% if one.found is null %} class="warning"{% endif %}>
						<td class="text-center"><i class="fa {{ one.found.icon|default('fa-times') }} fa-2x fa-fw" style="color:{{ one.found.color|default('#AAAAAA') }};"></i></td>
						<td class="text-left">
							{%- if one.found is not null -%}
							{{ actions.buttons_groups(one.found) }}
							{%- else -%}
							<i class="fa fa-times fa-fw text-muted"></i> <i class="text-muted">Saison inexistante en base de données</i>
							{%- endif -%}
						</td>
						<td class="text-center">{{ (one.found.name|default('<i class="fa fa-times fa-fw text-muted"></i>'))|raw }}</td>
						<td class="text-center" style="font-size: 1.8em;">{{ one.found.year|default(year) }}</td>
						<td class="text-center">{{ (one.found.start|default(one.search.start))|localizeddate('short', 'none', currentLanguage.fullname) }}<br>{{ (one.found.end|default(one.search.end))|localizeddate('short', 'none', currentLanguage.fullname) }}</td>
						<td class="text-center">{% if one.found is not null %}{{ one.found.realstart|localizeddate('short', 'none', currentLanguage.fullname) }}<br>{{ one.found.realend|localizeddate('short', 'none', currentLanguage.fullname) }}{% endif %}</td>
						<td class="text-center">{% if one.found is not null %}{{ one.found.journeys|length }}{% else %}{{ one.journeys|length }}{% endif %}</td>
						<td class="text-center">{{ one.nb_eventdates }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% endif %}

		{% if is_granted('ROLE_SUPER_ADMIN') %}
		{% if entities|length %}
		<h2 class="text-center m-t-none p-b-sm p-sm border-bottom">Liste brute</h2>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th style="width:38px;" class="text-center">{{ icon(model, true, true, ['fa-fw'])|raw }}</th>
						{# <th style="width:1%;" class="text-center">Id</th> #}
						<th class="text-left">{{ 'Actions'|trans }}</th>
						<th class="text-center">{{ 'Nom'|trans }}</th>
						<th class="text-center">{{ 'Année'|trans }}</th>
						<th class="text-center">{{ 'Dates saison'|trans }}</th>
						<th class="text-center">{{ 'Dates réelles'|trans }}</th>
						<th class="text-center">{{ 'names'|trans({}, 'Journey') }}</th>
					</tr>
				</thead>
				<tbody>
					{% for one in entities %}
					<tr class="{{ tableClass(one) }}"{% if one.description is defined %} data-popover data-content="{{ one.description|empty('<p>Description manquante<br>Ajouter cette information dans le champ \"description\" de cet élément</p>')|nl2br }}"{% endif %}>
						<td class="text-center">
							<i class="fa {{ one.icon }} fa-2x fa-fw" style="color:{{ one.color|default('#AAAAAA') }};"></i>
						</td>
						{# <td class="text-center">{{ one.id }}</td> #}
						<td class="text-left">{{ actions.buttons_groups(one) }}</td>
						<td class="text-center" style="font-size: 1.8em;"><u><strong>{{ one.name }}</strong></u></td>
						<td class="text-center">{{ one.year }}</td>
						<td class="text-center">{{ one.start|localizeddate('short', 'none', currentLanguage.fullname) }}<br>{{ one.end|localizeddate('short', 'none', currentLanguage.fullname) }}</td>
						<td class="text-center">{{ one.realstart|localizeddate('short', 'none', currentLanguage.fullname) }}<br>{{ one.realend|localizeddate('short', 'none', currentLanguage.fullname) }}</td>
						<td class="text-center">{% if one.journeys|length %}{{ one.journeys|length }}{% else %}<i class="fa fa-times fa-fw text-muted"></i>{% endif %}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% else %}
		{{ actions.notfoundlist(model) }}
		{% endif %}
		{% endif %}

	</div>
</div>
{% endblock content %}
