{# FIXT@fixt_reference = 'entity_show.html.twig' #}
{# FIXT@name = 'Entity show' #}
{# FIXT@titleh1 = 'Entité' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_show' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">

			{% if entity|default(null) is not null %}

			<div class="row">
				<div class="col-lg-12">
					<h2 class="text-center m-t-none p-b-sm p-sm border-bottom"><small class="text-muted">{{ 'name'|trans({}, entity.shortname)|striptags }}</small> <strong>{{ entity.name|default(entity.id) }}</strong> <span class="label label-primary m-sm">{{ app.user.preference('forms.contexts').value|default('?')|join(' ') }}</span></h2>
					{% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
					<h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ entity.contextdate|localizeddate('full', 'full', currentLanguage.fullname) }}</h4>
					{% endif %}
					{{ actions.alertStatus(entity) }}
					{{ actions.showOnwers(entity) }}
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">

					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>{{ 'Informations'|trans }}</h5>
						</div>
						<div class="ibox-content">
							{# {{ dump(entity_annotations(entity)) }} #}
							{# {% set test = entity._tm.encode() %} #}
							{# {{ dump(entity) }} #}
							<p>{{ 'field.name'|trans({}, entity.shortname) }} : <strong>{{ entity.__toString }}</strong></p>
							{# <p>{{ 'field.owner'|trans({}, entity.shortname) }} : <strong>{{ entity.owner.__toString|default('unknown'|trans) }}</strong></p> #}
							{{- actions.admin_print(entity, metadata_singles(entity)|keys) -}}
							{% if entity|isInstance('File') %}
							<p>Visionner : <br>
								- system access: <a href="{{ asset(entity.fileUrl) }}" target="_blank">{{ entity.currentVersion.originalFileName|default("???") }}</a>
								<br>
								- controller access: <a href="{{ path('website_view_media', {slug: entity.slug, ext: entity.fileExtension}) }}" target="_blank">{{ entity.currentVersion.originalFileName|default("???") }}</a>
							</p>
							<p>Télécharger : <br>
								- controller load: <a href="{{ path('website_download_media', {slug: entity.slug, ext: entity.fileExtension}) }}" target="_blank">{{ entity.currentVersion.originalFileName|default("???") }}</a>
							</p>
							{% endif %}
							{% if entity.fileUrls|default([])|length %}
							<hr><p>{{ 'field.fileUrls'|trans({}, entity.shortname) }} : <ul class="list-unstyled"><li>{{ entity.fileUrls|join('</li><li>')|raw }}</li></ul></p>
							{% endif %}
							{% if entity.allPathnames|default([])|length %}
							<hr><p>{{ 'field.allPathnames'|trans({}, entity.shortname) }} : <ul class="list-unstyled"><li>{{ entity.allPathnames|join('</li><li>')|raw }}</li></ul></p>
							{% endif %}
						</div>
					</div>

					{{ actions.imagesThumbs(entity, 'lg') }}

				</div>

				<div class="col-md-8">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>{{ 'names'|trans([], 'Journey') }}</h5>
						</div>
						<div class="ibox-content">
							<div class="table-responsive">
								<table class="table table-hover">
									<thead>
										<tr>
											<th style="width:38px;" class="text-center">{{ icon(model, true, true, ['fa-fw'])|raw }}</th>
											{# <th style="width:1%;" class="text-center">Id</th> #}
											{# <th class="text-left">{{ 'Actions'|trans }}</th> #}
											<th class="text-left">{{ 'nom'|trans }}</th>
											<th class="text-center">{{ 'field.season'|trans }}</th>
											{# <th class="text-left">{{ 'field.parcs'|trans }}</th> #}
											<th class="text-center">{{ 'field.parc'|trans }}</th>
											{# <th class="text-left">{{ 'field.items'|trans }}</th> #}
											<th class="text-center">{{ 'field.eventdates'|trans }}</th>
										</tr>
									</thead>
									<tbody>
										{% for one in entity.journeys %}
										<tr class="{{ tableClass(one) }}"{% if one.description is defined %} data-popover data-content="{{ one.description|empty('<p>Description manquante<br>Ajouter cette information dans le champ \"description\" de cet élément</p>')|nl2br }}"{% endif %}>
											<td class="text-center">
												<i class="fa {{ one.icon }} fa-2x fa-fw" style="color:{{ one.color|default('#AAAAAA') }};"></i>
											</td>
											{# <td class="text-center">{{ one.id }}</td> #}
											{# <td class="text-left">
												{{ actions.buttons_groups(one) }}
											</td> #}
											<td class="text-left">
												<u><strong>{{ one.__toString }}</strong>&nbsp;<i class="text-muted">{{ one.year }}</i></u>
											</td>
											<td class="text-center">
												{{ actions.entity_labels(one.seasons) }}
											</td>
											{# <td class="text-left">
												{{ actions.event_labels(one.parcs) }}
											</td> #}
											<td class="text-center">
												{{ actions.event_labels([one.parc]) }}
											</td>
											{# <td class="text-left">
												{{ actions.entity_labels(one.noparcs) }}
											</td> #}
											<td class="text-center">
												<strong>{{ one.eventdates(site_context.getContextDate())|length }}</strong> / <span class="text-muted">{{ one.eventdates|length }}</span>
												<br>
												{% set next_eventdate = one.getNextEventdate(site_context.getContextDate()) %}
												{{ next_eventdate is not null ? next_eventdate.start|localizeddate('none', 'none', app.request.locale, null, "cccc d MMMM Y HH:mm") : '<i class="fa fa-times fa-fw text-danger"></i>'|raw }}
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>

						</div>
					</div>
				</div>

			</div>

			{% else %}
			{{ actions.notfound(model) }}
			{% endif %}

		</div>
	</div>
</div>
{% endblock content %}
