{# FIXT@fixt_reference = 'entity_list.html.twig' #}
{# FIXT@name = 'Entity list' #}
{# FIXT@titleh1 = 'Entités' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_list' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">

		<h2 class="text-center m-t-none p-b-sm p-sm border-bottom">{{ icon(model, true, true, ['fa-fw'])|raw }} {{ 'names'|trans({}, model|shortname)|striptags }}</h2>
		{# {% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
		<h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ site_context.date|localizeddate('full', 'full', currentLanguage.fullname) }}</h4>
		{% endif %} #}

		{% if entities|length %}
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th style="width:38px;" class="text-center">{{ icon(model, true, true, ['fa-fw fa-2x'])|raw }}</th>
						<th style="width:1%;" class="text-center">{{ 'field.id'|trans({}, model|shortname) }}</th>
						<th class="text-left">{{ 'Actions'|trans }}</th>
						<th class="text-left">{{ 'field.name'|trans({}, model|shortname) }}</th>
						<th class="text-left">{{ 'field.parent'|trans({}, model|shortname) }}</th>
						<th class="text-left">{{ 'field.childs'|trans({}, model|shortname) }}</th>
						<th class="text-center">{{ 'field.items'|trans({}, model|shortname) }}</th>
						{% if site_context.isDevOrSadmin() %}
						<th class="text-center" style="width:24px;">{{ 'Ctrl'|trans }}</th>
						{%- endif %}
					</tr>
				</thead>
				<tbody>
					{% for one in entities %}
					<tr class="{{ tableClass(one) }}"{% if one.description is defined %} data-popover data-content="{{ one.description|empty('<p>Description manquante<br>Ajouter cette information dans le champ \"description\" de cet élément</p>')|nl2br }}"{% endif %}>
						<td class="text-center">
							{% set file_url = one.avatar is defined ? fileurl(one.avatar,'thumbnails',128) : null %}
							{% if file_url is not null %}
							<img src="{{ asset(file_url) }}" class="img-sm" alt="{{ one.avatar.mediatype }} {{ one.slug|default(one.name) }}" data-view-media="'{{ one.avatar.bddIdentifyer }}'" data-view-width="400" data-view-type="'thumbnail'" data-view-name="'{{ one.__toString }}'">
							{% else %}
							<i class="fa {{ one.icon }} fa-2x fa-fw" style="color:{{ one.color|default('#AAAAAA') }};"></i>
							{% endif %}
						</td>
						<td class="text-center">{{ one.id }}</td>
						<td class="text-left">
							{{ actions.buttons_groups(one) }}
						</td>
						<td class="text-left" title="{{ one._translatable_code_name|default("") }}">
							<u><strong>{{ one.name|striptags|truncate(30, true)|raw|nl2br }}</strong></u><br>
						</td>
						<td class="text-left">
							{{ actions.entity_label(one.parent) }}
						</td>
						<td class="text-left">
							{{ actions.entity_labels(one.childs) }}
						</td>
						<td class="text-center">
							{{ one.items.count }}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% else %}
		{{ actions.notfoundlist(model) }}
		{% endif %}

	</div>
</div>
{% endblock content %}
