{# FIXT@fixt_reference = 'entity_show.html.twig' #}
{# FIXT@name = 'Entity show' #}
{# FIXT@titleh1 = 'Entité' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_show' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">

			{% if entity|default(null) is not null %}

			<div class="row">
				<div class="col-lg-12">
					<h2 class="text-center m-t-none p-b-sm p-sm border-bottom"><small class="text-muted">{{ 'name'|trans({}, entity.shortname)|striptags }}</small> <strong>{{ entity.name|default(entity.id) }}</strong> <span class="label label-primary m-sm">{{ app.user.preference('forms.contexts').value|default('?')|join(' ') }}</span></h2>
					{{ actions.alertStatus(entity) }}
					{{ actions.showOnwers(entity) }}
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">

					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>{{ 'Informations'|trans }}</h5>
						</div>
						<div class="ibox-content">
							<p>{{ 'field.name'|trans({}, entity.shortname) }} : <strong>{{ entity.__toString }}</strong></p>
							{# <p>{{ 'field.owner'|trans({}, entity.shortname) }} : <strong>{{ entity.owner.__toString|default('unknown'|trans) }}</strong></p> #}
							<p>{{ 'field.items'|trans({}, entity.shortname) }} : <strong>{{ entity.items.count }}</strong></p>
							<hr>
							{{- actions.admin_print(entity, metadata_singles(entity)|keys) -}}
						</div>
					</div>

				</div>

				<div class="col-md-6">

					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>{{ 'Items'|trans }}</h5>
						</div>
						<div class="ibox-content">
							<h3>Direct items <span class="label label-info m-sm">{{ entity.items.count }}</span></h3>
							{{ actions.entity_labels(entity.items, 'primary', null, null, null, null, null, 32) }}
							<hr>
							<h3>All items <span class="label label-info m-sm">{{ entity.allItems().count }}</span></h3>
							{{ actions.entity_labels(entity.allItems(), null, null, null, null, null, null, 32) }}
							<hr>
							<h3>All sub items <span class="label label-info m-sm">{{ entity.subItems(true).count }}</span></h3>
							{{ actions.entity_labels(entity.subItems(true), null, null, null, null, null, null, 32) }}
						</div>
					</div>

					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>{{ 'Childs'|trans }}</h5>
						</div>
						<div class="ibox-content">
							<h3>Direct childs <span class="label label-info m-sm">{{ entity.childs.count }}</span></h3>
							{{ actions.entity_labels(entity.childs, 'primary') }}
							<hr>
							<h3>All childs <span class="label label-info m-sm">{{ entity.allChilds.count }}</span></h3>
							{{ actions.entity_labels(entity.allChilds) }}
						</div>
					</div>

					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>{{ 'Parent'|trans }} <small>{{ 'level'|trans|ucfirst }} {{ entity.lvl }}</small></h5>
						</div>
						<div class="ibox-content">
							<h3>Parent</h3>
							{{ actions.entity_labels(entity.parent, 'primary') }}
							<hr>
							<h3>Root parent</h3>
							{{ actions.entity_labels(entity.rootParent) }}
						</div>
					</div>

				</div>

			</div>

			{% else %}
			{{ actions.notfound(model) }}
			{% endif %}

		</div>
	</div>
</div>
{% endblock content %}
