{# FIXT@fixt_reference = 'twgtranslation_list.html.twig' #}
{# FIXT@name = 'Translations list' #}
{# FIXT@titleh1 = 'Tradutions' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'twgtranslation_list' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends 'WebsiteAdminBundle:Bases:base_wrap_01.html.twig' %}
{% import 'WebsiteAdminBundle:Macro:entities_actions.html.twig' as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12 animated fadeInRight">
		<h2 class="text-center m-t-none p-b-sm p-sm border-bottom">{{ icon(model, true, true, ['fa-fw'])|raw }} {{ 'names'|trans([], model|shortname) }}
		{# <h2 class="text-center m-t-none p-b-sm p-sm border-bottom">{{ icon(model, true, true, ['fa-fw'])|raw }} {{ 'names'|trans({}, model|shortname)|striptags }} #}
			{% if is_granted('ROLE_TRANSLATOR') %}
			<a href="{{ path('wsa_twgtranslation_reset_cache') }}" class="btn btn-danger btn-sm pull-right woc action-confirm m-l-xs"><i class="fa fa-refresh fa-fw m-r-xs"></i>Reset cache</a>
			{# <a href="{{ path('wsa_twgtranslation_injectform') }}" class="btn btn-primary btn-sm pull-right woc m-l-xs"><i class="fa fa-upload fa-fw m-r-xs"></i>Inject file</a> #}
			{% endif %}
		</h2>
		<a href="{{ path('wsa_twgtranslation_list', {reset: true}) }}" class="btn btn-white btn-sm woc m-r-xs"><i class="fa fa-times fa-fw m-r-xs"></i>{{ 'Reset search'|trans }}</a>
		{% for i in [0,10,25,50,100,200] -%}
		<a href="{{ path('wsa_twgtranslation_list', {nb: i}) }}" class="btn btn-{{ search.nb == i ? 'info' : 'white' }} btn-sm woc m-r-xs"><i class="fa fa-search fa-fw m-r-xs"></i>{{ i > 0 ? i : 'Tous ' }} {{ 'résultats'|trans }}</a>
		{%- endfor %}
		<form method="GET" action="{{ path('wsa_twgtranslation_list') }}" class="form-inline m-t-sm">
			{# <label>Domaine</label> #}
			{# <input type="hidden" name="nb" value="0"> #}
			<select name="domain">
				{# <option></option> #}
				{% for dom in domains %}
				<option{{ dom == search.domain ? ' selected' }}>{{ dom }}</option>
				{% endfor %}
			</select>
			<button class="btn btn-info btn-sm"><i class="fa fa-search fa-fw m-r-xs"></i>Chercher domaine</button>
		</form>
		<form method="GET" action="{{ path('wsa_twgtranslation_list') }}" class="form-inline m-t-sm">
			{# <label>Clé</label> #}
			{# <input type="hidden" name="nb" value="0"> #}
			<input type="text" name="keytext" value="{{ search.keytext }}" placeholder="{{ 'Search'|trans }}">
			<select name="mode">
				{% for mod in modes %}
				<option{{ mod == search.mode ? ' selected' }}>{{ mod|trans }}</option>
				{% endfor %}
			</select>
			<button class="btn btn-info btn-sm"><i class="fa fa-search fa-fw m-r-xs"></i>{{ 'Search'|trans }}</button>
		</form>
		{# {{ dump(search) }} #}
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">

			<h2><strong>Resultats {{ entities|length }}</strong>{{ search.nb > 0 ? (' <small class="text-muted">max: ' ~ search.nb ~ '</small>')|raw }} / <small class="text-muted">Domaine :</small> {{ search.domain }}{{ search.keytext is not empty ? (' / <small class="text-muted">Cherche :</small> "' ~ search.keytext ~ '"')|raw }}</h2>
			{% if entities|length %}
			{% set footable = false %}
			<div class="table-responsive">
				{% if footable %}<input type="text" class="form-control form-control-sm m-b-xs" id="filter" placeholder="{{ 'Search'|trans }}">{% endif %}
				<table class="table table-hover table-condensed{{ footable ? ' footable"  data-page-size="25" data-filter=#filter' : '"' }}>
					<thead>
						{% if footable %}
						<tr>
							<th colspan="100%">
								<ul class="pagination pull-right"></ul>
							</th>
						</tr>
						{% endif %}
						<tr>
							{# <th style="width:38px;" class="text-center">{{ icon(entity, true, true, ['fa-fw'])|raw }}</th> #}
							<th style="width:1%;" class="text-center">Id</th>
							<th class="text-left">{{ 'field.domain'|trans({}, model|shortname) }}</th>
							<th class="text-left">{{ 'Actions'|trans }}</th>
							<th class="text-left">{{ 'field.source'|trans({}, model|shortname) }}</th>
							<th class="text-center">{{ 'field.needcontrol'|trans({}, model|shortname) }}</th>
							<th class="text-center">{{ 'field.translatableLocale'|trans({}, model|shortname) }} <i class="fa fa-play"></i></th>
							<th class="text-left">{{ 'field.keytext'|trans({}, model|shortname) }} / <strong>{{ 'field.content'|trans({}, model|shortname) }}</strong></th>
							<th class="text-center">{{ 'field.type'|trans({}, model|shortname) }}</th>
							<th class="text-center">{{ 'field.similars'|trans({}, model|shortname) }}</th>
							<th class="text-center">{{ 'field.versions'|trans({}, model|shortname) }}</th>
							<th class="text-center">{{ 'field.created'|trans({}, model|shortname) }}<br>{{ 'field.updated'|trans({}, model|shortname) }}</th>
						</tr>
					</thead>
					<tbody>
						{% for one in entities %}
						<tr{{ one.inactive|default(false) ? ' class="text-muted active"' }}>
{# 							<td class="text-center">
								<i class="fa {{ one.icon }} fa-2x fa-fw" style="color:{{ one.color|default('#AAAAAA') }};"></i>
							</td> #}
							<td class="text-right">{{ one.id }}</td>
							<td class="text-left">{{ one.domain }}</td>
							<td class="text-left">
								{{ actions.buttons_groups(one) }}
							</td>
							<td class="text-left">
								{{ ('source.' ~ one.source)|trans({}, model|shortname) }}
							</td>
							<td class="text-center" title="{{ one.needcontrol }}">
								<i class="fa fa-circle fa-fw fa-2x {{ one.needcontrolcolor }}"></i>
							</td>
							<td class="text-center">{{ one.translatableLocale }} <i class="fa fa-play"></i></td>
							<td class="text-left">
								<i class="fa fa-key fa-fw mr-xs"></i><i class="text-muted">{{ one.keytext|striptags|truncate(30, true)|raw }}</i>
								<br>
								{{ one.content|striptags|truncate(70, true)|raw }}
								{% if one.content != one.keytext|trans({}, one.domain, one.translatableLocale) %}
								<br><i class="fa fa-exclamation-triangle fa-fw text-danger" title="Not effective on website. Please, refresh the cache!"></i> <span class="text-muted"><i>Website text:</i></span> <strong class="text-danger">{{ one.keytext|trans({}, one.domain, one.translatableLocale)|striptags|truncate(70, true)|raw }}</strong>
								{% endif %}
							</td>
							<td class="text-center">
								<div class="label label-primary">{{ one.getTypeContent()|upper }}</div>
							</td>
							<td class="text-center">
								{% set similars = request_data('TwgTranslation', 'findSimilars', one) %}
								<div class="label label-{{ similars|length ? 'info' : 'muted'}}">{{ similars|length }}</div>
							</td>
							<td class="text-center">
								{{ (one.htmlfile is not null ? '<div class="label label-info">{{ one.htmlfile.nbVersions }}</div>' : '<div class="label label-muted">&nbsp;</div>')|raw }}
							</td>
							<td class="text-center">
								{{ one.created|localizeddate('none', 'none', app.request.locale, null, "dd/MM/YYYY HH:mm:ss") }}
								<br>
								<strong>{{ one.updated is not null ? one.updated|localizeddate('none', 'none', app.request.locale, null, "dd/MM/YYYY HH:mm:ss") : '<i class="fa fa-times fa-fw fa-1x text-muted"></i>'|raw }}</strong>
							</td>
						</tr>
						{% endfor %}
					</tbody>
					{% if footable %}
					<tfoot>
						<tr>
							<td colspan="100%">
								<ul class="pagination pull-right"></ul>
							</td>
						</tr>
					</tfoot>
					{% endif %}
				</table>
			</div>
			{% else %}
			{{ actions.notfoundlist(model) }}
			{% endif %}

		</div>
	</div>
</div>
{% endblock content %}
