{# FIXT@fixt_reference = 'entity_show.html.twig' #}
{# FIXT@name = 'Entity show' #}
{# FIXT@titleh1 = 'Entité' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_show' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends 'WebsiteAdminBundle:Bases:base_wrap_01.html.twig' %}
{% import 'WebsiteAdminBundle:Macro:entities_actions.html.twig' as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">

			{% if entity|default(null) is not null %}

			<div class="row">
				<div class="col-lg-12">
					<h2 class="text-center m-t-none p-b-sm p-sm border-bottom"><small class="text-muted">{{ 'name'|trans({}, entity.shortname)|striptags }}</small> <strong>"{{ entity.keytext|striptags|truncate(70, true) }}"</strong> <span class="label label-primary m-sm">{{ app.user.preference('forms.contexts').value|default('?')|join(' ') }}</span></h2>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">

					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>{{ 'Informations'|trans }}</h5>
						</div>
						<div class="ibox-content">
							{% if entity.content != entity.keytext|trans({}, entity.domain, entity.translatableLocale) %}
							<p><i class="fa fa-exclamation-triangle fa-fw text-danger" title="Not effective on website. Please, refresh the cache!"></i> <span class="text-muted"><i>Website text:</i></span> <strong class="text-danger">{{ entity.keytext|trans({}, entity.domain, entity.translatableLocale)|raw }}</strong></p>
							{% endif %}
							<p>{{ 'field.id'|trans({}, entity.shortname) }} : <strong>{{ entity.__toString }}</strong></p>
							<p>{{ 'field.domain'|trans({}, entity.shortname) }} : <strong>{{ entity.domain }}</strong></p>
							<p>{{ 'field.source'|trans({}, entity.shortname) }} : <strong>{{ entity.source }}</strong></p>
							<p>{{ 'field.translatableLocale'|trans({}, entity.shortname) }} : <strong>{{ entity.translatableLocale }}</strong></p>
							<p>{{ 'field.keytext'|trans({}, entity.shortname) }} : <strong>{{ entity.keytext|striptags|truncate(70, true) }}</strong></p>
							<p>{{ 'field.content'|trans({}, entity.shortname) }} : <span class="label label-primary">{{ entity.getTypeContent()|upper }}</span>
								<br>
								<div class="p-xs m-b-xs" style="border: 1px solid #999;">{% autoescape %}{{- entity.content -}}{% endautoescape %}</div>
							</p>
						</div>
					</div>

				</div>

				<div class="col-md-8">

					<div class="ibox float-e-margins">
						{% set sames = request_data('TwgTranslation', 'findBy', {keytext: entity.keytext, domain: entity.domain}) %}
						<div class="ibox-title">
							<h5>{{ 'field.content'|trans({}, entity.shortname) }} <div class="label label-info pull-right">{{ sames|length }}</div></h5>
						</div>
						<div class="ibox-content">
							<table class="table table-responsive table-condensed table-bordered">
								<thead>
									<tr>
										<th style="width: 32px;">{{ 'name'|trans({}, 'Language') }}</th>
										<th class="text-center">{{ 'Actions'|trans }}</th>
										<th>{{ 'field.content'|trans({}, entity.shortname) }}</th>
									</tr>
								</thead>
								<tbody>
									{% for item in sames %}
									<tr>
										<td{{ item == entity ? ' class="bg-info"'|raw }}>{{ item.translatableLocale }}</td>
										<td>{{ actions.buttons_groups(item) }}</td>
										<td>{{ item.content|striptags|truncate(300, true) }} <i class="text-muted">({{ item.getTypeContent()|lower }})</i></td>
									</tr>
									{% endfor %}
								</tbody>
							</table>

							{% set mode_aff = 1 %}

							{% if mode_aff == 1 %}
							{% set similars = request_data('TwgTranslation', 'findSimilars', entity) %}
							{# {{ dump(similars) }} #}
							{% if similars|length %}
							<hr>
							<h5>{{ ('other_similars'|trans({}, entity.shortname))|ucfirst }} <div class="label label-info">{{ similars|length }}</div></h5>
							<table class="table table-responsive table-condensed table-bordered">
								<thead>
									<tr>
										<th style="width: 32px;">{{ 'name'|trans({}, 'Language') }}</th>
										<th class="text-center">{{ 'Actions'|trans }}</th>
										<th>{{ 'field.keytext'|trans({}, entity.shortname) }}</th>
										<th>{{ 'field.domain'|trans({}, entity.shortname) }}</th>
										<th>{{ 'field.content'|trans({}, entity.shortname) }}</th>
									</tr>
								</thead>
								<tbody>
									{% for item in similars %}
									<tr>
										<td>{{ item.translatableLocale }}</td>
										<td>{{ actions.buttons_groups(item) }}</td>
										<td><strong>{{ item.keytext|striptags|truncate(30, true) }}</strong></td>
										<td><strong>{{ item.domain }}</strong></td>
										<td>{{ item.content|striptags|truncate(300, true) }} <i class="text-muted">({{ item.getTypeContent()|lower }})</i></td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
							{% else %}
							<hr>
							<p class="text-center text-muted"><i>{{ 'no_other_similars'|trans({}, entity.shortname) }}</i></p>
							{% endif %}

							{% elseif mode_aff == 1 %}
							<hr>
							{% set similars_keytext = request_data('TwgTranslation', 'findBy', {keytext: entity.keytext}) %}
							<hr>
							<h3>{{ 'other_same_keytext'|trans({}, entity.shortname) }}</h3>
							{% if similars_keytext|length %}
							<table class="table table-responsive table-condensed table-bordered">
								<thead>
									<tr>
										<th style="width: 32px;">{{ 'name'|trans({}, 'Language') }}</th>
										<th class="text-center">{{ 'Actions'|trans }}</th>
										<th>{{ 'field.domain'|trans({}, entity.shortname) }}</th>
										<th>{{ 'field.content'|trans({}, entity.shortname) }}</th>
									</tr>
								</thead>
								<tbody>
									{% for item in similars_keytext %}
									<tr>
										<td>{{ item.translatableLocale }}</td>
										<td>{{ actions.buttons_groups(item) }}</td>
										<td><strong>{{ item.domain }}</strong></td>
										<td>{{ item.content|striptags|truncate(300, true) }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
							{% else %}
							<p class="text-center text-muted">{{ 'no_other_same_keytext'|trans({}, entity.shortname) }}</p>
							{% endif %}
							{% set similars_content = request_data('TwgTranslation', 'findBy', {content: entity.content}) %}
							<h3>{{ 'other_same_content'|trans({}, entity.shortname) }}</h3>
							{% if similars_content|length %}
							<table class="table table-responsive table-condensed table-bordered">
								<thead>
									<tr>
										<th style="width: 32px;">{{ 'name'|trans({}, 'Language') }}</th>
										<th class="text-center">{{ 'Actions'|trans }}</th>
										<th>{{ 'field.domain'|trans({}, entity.shortname) }}</th>
										<th>{{ 'field.content'|trans({}, entity.shortname) }}</th>
									</tr>
								</thead>
								<tbody>
									{% for item in similars_content %}
									<tr>
										<td>{{ item.translatableLocale }}</td>
										<td>{{ actions.buttons_groups(item) }}</td>
										<td><strong>{{ item.domain }}</strong></td>
										<td>{{ item.content|striptags|truncate(300, true) }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
							{% else %}
							<p class="text-center text-muted">{{ 'no_other_same_content'|trans({}, entity.shortname) }}</p>
							{% endif %}

							{% endif %}
						</div>
					</div>

					{# <div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5 title="{{ (entity.keytext|striptags)|truncate(200, true) }}">Autres "{{ (entity.keytext|striptags)|truncate(30, true) }}"</h5>
						</div>
						<div class="ibox-content">
							{% for item in request_data('TwgTranslation', 'findByKeytext', entity.keytext) %}
							<ul>
								<li><strong>{{ item.__toString }}</strong></li>
								<li>Domain: {{ item.domain }}</li>
								<li>Locale: {{ item.translatableLocale }}</li>
								<li>Key: {{ item.keytext|striptags|truncate(70, true) }}</li>
								<li>Value:<br>
									{% if item.content != item.keytext|trans({}, item.domain, item.translatableLocale) %}
									<div>
										<i class="fa fa-exclamation-triangle fa-fw text-danger" title="Not effective on website. Please, refresh the cache!"></i> <span class="text-muted"><i>Website text:</i></span> <strong class="text-danger">{{ item.keytext|trans({}, item.domain, item.translatableLocale)|raw }}</strong>
									</div>
									{% endif %}
									<div class="p-xs m-b-xs" style="border: 1px solid #999;">{{- item.content|striptags|truncate(200, true) -}}</div>
								</li>
								<li>{{ actions.buttons_groups(item) }}</li>
							</ul>
							{{ not loop.last ? '<hr>'|raw }}
							{% endfor %}
						</div>
					</div> #}

				</div>
			</div>

			{% else %}
			{{ actions.notfound(model) }}
			{% endif %}

		</div>
	</div>
</div>
{% endblock content %}
