{# FIXT@fixt_reference = 'entity_show.html.twig' #}
{# FIXT@name = 'Entity show' #}
{# FIXT@titleh1 = 'Entité' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_show' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends 'WebsiteAdminBundle:Bases:base_wrap_01.html.twig' %}
{% import 'WebsiteAdminBundle:Macro:entities_actions.html.twig' as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">

			{# {% if entities|length %} #}

			<div class="row">
				<div class="col-lg-12">
					{% if entities|length %}
					<h2 class="text-center m-t-none p-b-sm p-sm border-bottom"><small class="text-muted">{{ 'name'|trans({}, entities|first.shortname)|striptags }}</small> <strong>"{{ entities|first.keytext|striptags|truncate(70, true) }}"</strong> <span class="label label-primary m-sm">{{ app.user.preference('forms.contexts').value|default('?')|join(' ') }}</span></h2>
					{% else %}
					<h2 class="text-center m-t-none p-b-sm p-sm border-bottom"><small class="text-muted">{{ 'name'|trans({}, model|shortname)|striptags }}</small> <strong>"<i class="fa fa-question fa-fw"></i>"</strong> <span class="label label-primary m-sm">{{ app.user.preference('forms.contexts').value|default('?')|join(' ') }}</span></h2>
					{% endif %}
					<div class="text-center">
						<form name="{{ form_name }}" class="form-inline pull-left" style="display: inline-block;" action="{{ url('wsa_twgtranslation_km_edit') }}" method="POST">
							<div class="form-group">
								<input class="form-control" type="hidden" name="reset" value="1">
								<button class="{{ not entities|length ? ' disabled' }}btn btn-white btn-sm"><i class="fa fa-refresh"></i></button>
							</div>
						</form>
						<form name="{{ form_name }}" class="form-inline" style="display: inline-block;" action="{{ url('wsa_twgtranslation_km_edit') }}" method="POST">
							<div class="form-group">
								<input class="form-control" type="hidden" name="index" value="{{ 0 }}">
								<button class="{{ not entities|length ? ' disabled' }}btn btn-white btn-sm"><i class="fa fa-fast-backward"></i></button>
							</div>
						</form>
						<form name="{{ form_name }}" class="form-inline" style="display: inline-block;" action="{{ url('wsa_twgtranslation_km_edit') }}" method="POST">
							<div class="form-group">
								<input class="form-control" type="hidden" name="index" value="{{ data.index - 1 }}">
								<button class="{{ not entities|length ? ' disabled' }}btn btn-white btn-sm"><i class="fa fa-step-backward"></i></button>
							</div>
						</form>
						<form name="{{ form_name }}" class="form-inline" style="display: inline-block;" action="{{ url('wsa_twgtranslation_km_edit') }}" method="POST">
							<div class="form-group">
								<input style="display: inline-block;" class="form-control" type="text" name="index" value="{{ data.index }}">
								<button class="{{ not entities|length ? ' disabled' }}btn btn-white btn-sm"><i class="fa fa-search"></i></button>
								{# <input style="display: inline-block;" class="form-control" type="submit" name="submit" value="{{ 'edit'|trans }}"> #}
							</div>
						</form>
						<form name="{{ form_name }}" class="form-inline" style="display: inline-block;" action="{{ url('wsa_twgtranslation_km_edit') }}" method="POST">
							<div class="form-group">
								<input class="form-control" type="hidden" name="index" value="{{ data.index + 1 }}">
								<button class="{{ not entities|length ? ' disabled' }}btn btn-white btn-sm"><i class="fa fa-step-forward"></i></button>
							</div>
						</form>
						<form name="{{ form_name }}" class="form-inline" style="display: inline-block;" action="{{ url('wsa_twgtranslation_km_edit') }}" method="POST">
							<div class="form-group">
								<input class="form-control" type="hidden" name="index" value="{{ count - 1 }}">
								<button class="{{ not entities|length ? ' disabled' }}btn btn-white btn-sm"><i class="fa fa-fast-forward"></i></button>
							</div>
						</form>
						<div class="pull-right">
							<h2>Total: <strong>{{ count }}</strong>&nbsp;&nbsp;<a href="#deep_search" class="btn btn-sm btn-primary"><i class="fa fa-search fa-fw"></i></a></h2>
						</div>
					</div>
					<hr>
					<div class="text-center">
						{% for domain,nb in domains %}
						{% if domain in data.domains %}
						<form name="{{ form_name }}" class="form-inline" style="display: inline-block; margin-bottom: 2px;" action="{{ url('wsa_twgtranslation_km_edit') }}" method="POST">
							<input type="hidden" name="switch_domain" value="{{ domain }}">
							<div class="btn-group">
								<button class="btn btn-xs btn-info" name="submit_only" title="Found {{ nb }}"><i class="fa fa-check fa-fw"></i> {{ domain }}</button>
								<button class="btn btn-xs btn-info" name="submit_switch" title="Found {{ nb }}"><i class="fa fa-minus fa-fw"></i></button>
							</div>
						</form>
						{% else %}
						<form name="{{ form_name }}" class="form-inline" style="display: inline-block; margin-bottom: 2px;" action="{{ url('wsa_twgtranslation_km_edit') }}" method="POST">
							<input type="hidden" name="switch_domain" value="{{ domain }}">
							<div class="btn-group">
								<button class="btn btn-xs btn-white text-muted" name="submit_only" title="Found {{ nb }}"><i class="fa fa-check fa-fw"></i> {{ domain }}</button>
								<button class="btn btn-xs btn-white text-muted" name="submit_switch" title="Found {{ nb }}"><i class="fa fa-plus fa-fw"></i></button>
							</div>
						</form>
						{% endif %}
						{% endfor %}
					</div>
					<hr>
				</div>
			</div>

			<div class="row">
				{% if forms|length %}
				{% set firstLanguages = defaultLanguage == currentLanguage ? [defaultLanguage] : [defaultLanguage, currentLanguage] %}
				{% for language in firstLanguages %}
				<div class="col-lg-6">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>
								<img src="{{ asset(language.thumbnail.file_urls.formated_32x32|default(language.thumbnail.file_url|default(''))) }}" style="width: 18px;" class="m-r-xs">
								{% if language.active %}
								{{ language.description|default(language.fullname) }} <i class="fa fa-check fa-fw text-info"></i>
								{% else %}
								<i class="text-muted">{{ language.description|default(language.fullname) }} </i><i class="fa fa-ban fa-fw text-muted"></i>
								{% endif %}
								{% if forms[language.fullname].vars.data.id is null %}
								<div class="label label-danger pull-right">Traduction à faire</div>
								{% endif %}
							</h5>
								{# <div class="label m-r-xs">{{ language.description }}</div> {{ entity.keytext|striptags|truncate(40, true) }}</h5> #}
						</div>
						<div class="ibox-content" style="background-color: #f9f9f9;">
							{% if forms[language.fullname] is defined %}
							{{ form(forms[language.fullname]) }}
							{% else %}
							<h4 class="alert alert-warning">{{ 'Formulaire de saisie manquant'|trans }}</h4>
							{% endif %}
						</div>
					</div>
				</div>
				{% endfor %}
				{% for language in languages if language not in firstLanguages %}
				<div class="col-lg-6">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>
								<img src="{{ asset(language.thumbnail.file_urls.formated_32x32|default(language.thumbnail.file_url|default(''))) }}" style="width: 18px;" class="m-r-xs">
								{% if language.active %}
								{{ language.description|default(language.fullname) }} <i class="fa fa-check fa-fw text-info"></i>
								{% else %}
								<i class="text-muted">{{ language.description|default(language.fullname) }} </i><i class="fa fa-ban fa-fw text-muted"></i>
								{% endif %}
								{% if forms[language.fullname].vars.data.id is null %}
								<div class="label label-danger pull-right">Traduction à faire</div>
								{% endif %}
							</h5>
								{# <div class="label m-r-xs">{{ language.description }}</div> {{ entity.keytext|striptags|truncate(40, true) }}</h5> #}
						</div>
						<div class="ibox-content" style="background-color: #f9f9f9;">
							{% if forms[language.fullname] is defined %}
							{{ form(forms[language.fullname]) }}
							{% else %}
							<h4 class="alert alert-warning">{{ 'Formulaire de saisie manquant'|trans }}</h4>
							{% endif %}
						</div>
					</div>
				</div>
				{% endfor %}
				{% else %}
				<div class="col-lg-12 m-b-xl">
				{% for domain in data.domains %}
					<h2 class="text-center alert alert-warning">Aucune traduction pour ce domaine "<strong><u>{{ domain }}</u></strong>", pour l'instant.<br><small>Créer une <a href="{{ path('wsa_twgtranslation_create', {domain: domain}) }}">première traduction</a> pour ce domaine</small></h2>
				{% endfor %}
				</div>
				{% endif %}
			</div>

			<span id="deep_search"></span>

			<div class="row">
				<div class="col-lg-12">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>Recherche...</h5>
						</div>
						<div class="ibox-content">
							<div class="row">
								{% for index,item in complete_list %}
								<div class="col-md-6">
									<div class="well">
										<div>
											<form name="{{ form_name }}" class="form-inline" style="display: inline-block;" action="{{ url('wsa_twgtranslation_km_edit') }}" method="POST">
												<div class="form-group">
													<input style="display: inline-block;" class="form-control" type="hidden" name="index" value="{{ index }}">
													<button class="btn btn-white btn-sm"><i class="fa fa-search"></i>&nbsp;<strong>{{ index }}</strong></button>
												</div>
											</form>
											&nbsp;<i class="fa fa-arrow-right fa-fw"></i> <strong>{{ item.keytext|striptags|truncate(100, true) }}</strong>
										</div>
										<hr>
										<div>{{ item.content|striptags|truncate(300, true) }}</div>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>

{# 			{% if is_granted('ROLE_SUPER_ADMIN') %}
			<div class="row">
				<div class="col-md-12">

					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>{{ 'Informations'|trans }}</h5>
						</div>
						<div class="ibox-content">
							{{ dump(complete_list) }}
							{{ dump(forms) }}
							{% if form is defined %}
								{{ dump(form) }}
								{{ form(form.createView()) }}
							{% endif %}
							{{ dump(languages) }}
							{{ dump(form_name) }}
							{{ dump(count) }}
							{{ dump(entities) }}
							{{ dump(data) }}
							{{ dump(domains) }}
							{{ dump(model) }}
						</div>
					</div>

				</div>
			</div>
			{% endif %} #}

			{# {% else %} #}
			{# {{ actions.notfound(model) }} #}
			{# {% endif %} #}

		</div>
	</div>
</div>
{% endblock content %}
