{# FIXT@fixt_reference = 'twgtranslation_update.html.twig' #}
{# FIXT@name = 'Entitys update' #}
{# FIXT@titleh1 = 'Entity' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'twgtranslation_update' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_update_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<h2 class="text-center m-t-none p-b-sm p-sm border-bottom"><small class="text-muted">{{ 'name'|trans({}, entity.shortname)|striptags }}</small> {{ icon(form.vars.data)|raw }} <strong>{{ entity.keytext }}</strong> <span class="label label-primary m-sm">{{ app.user.preference('forms.contexts').value|default('?')|join(' ') }}</span></h2>
		{{ actions.alertStatus(entity) }}
		{{ form(form) }}
	</div>
</div>
{% endblock content %}
