{# FIXT@fixt_reference = 'entity_show.html.twig' #}
{# FIXT@name = 'Entity show' #}
{# FIXT@titleh1 = 'Entité' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_show' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends 'WebsiteAdminBundle:Bases:base_wrap_01.html.twig' %}
{% import 'WebsiteAdminBundle:Macro:entities_actions.html.twig' as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">

			{% if entity|default(null) is not null %}

			<div class="row">
				<div class="col-lg-12">
					<h2 class="text-center m-t-none p-b-sm p-sm border-bottom"><small class="text-muted">{{ 'name'|trans({}, entity.shortname)|striptags }}</small> <strong>{{ entity.name }}</strong> <span class="label label-primary m-sm">{{ app.user.preference('forms.contexts').value|default('?')|join(' ') }}</span></h2>
					{# {% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
					<h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ entity.contextdate|localizeddate('full', 'full', currentLanguage.fullname) }}</h4>
					{% endif %} #}
					{{ actions.alertStatus(entity) }}
					{{ actions.showOnwers(entity) }}
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="row">

						<div class="col-lg-12">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5>{{ 'Informations'|trans }}</h5>
								</div>
								<div class="ibox-content">
									<p>{{ 'field.name'|trans({}, entity.shortname) }} : <strong>{{ entity.name }}</strong></p>
									<p>{{ 'field.filename'|trans({}, entity.shortname) }} : <strong>{{ entity.filename }}</strong></p>
									<p>{{ 'field.bundle'|trans({}, entity.shortname) }} : <strong>{{ entity.bundle|trans }}</strong></p>
									{# <p>{{ 'field.singlefilename'|trans({}, entity.shortname) }} : <strong>{{ entity.singlefilename }}</strong></p> #}
									<p>{{ 'field.bundlepathname'|trans({}, entity.shortname) }} : <strong>{{ entity.bundlepathname }}</strong></p>
									<p>{{ 'field.templatename'|trans({}, entity.shortname) }} : {{ actions.entity_label(entity.templatename) }}</p>
									<p>{{ 'field.pathname'|trans({}, entity.shortname) }} : {{ actions.entity_label(entity.pathname) }}</p>
									<p>{{ 'field.typepage'|trans({}, entity.shortname) }} : {{ actions.entity_label(entity.typepage) }}</p>
									{# <p>{{ 'field.dirmenus'|trans({}, entity.shortname) }} : {{ actions.entity_labels(entity.dirmenus) }}</p> #}
									<p>{{ 'field.description'|trans({}, entity.shortname) }} : <strong>{{ entity.description|raw }}</strong></p>
									{% if entity|isInstance('File') %}
									<p>Visionner : <br>
										- system access: <a href="{{ asset(entity.fileUrl) }}" target="_blank">{{ entity.currentVersion.originalFileName|default("???") }}</a>
										<br>
										- controller access: <a href="{{ path('website_view_media', {slug: entity.slug, ext: entity.fileExtension}) }}" target="_blank">{{ entity.currentVersion.originalFileName|default("???") }}</a>
									</p>
									<p>Télécharger : <br>
										- controller load: <a href="{{ path('website_download_media', {slug: entity.slug, ext: entity.fileExtension}) }}" target="_blank">{{ entity.currentVersion.originalFileName|default("???") }}</a>
									</p>
									{% endif %}
									<hr>
									{# <p>{{ 'field.typepage'|trans({}, entity.shortname) }} : {{ entity.typepage }}</p> #}
									<p>{{ 'field.nbversions'|trans({}, entity.shortname) }} : {{ entity.nbversions }}</p>
									{# <p>{{ 'field.fileUrl'|trans({}, entity.shortname) }} : {{ entity.fileUrl }}</p> #}
									<p>{{ 'field.fileSize'|trans({}, entity.shortname) }} : <span data-filesize="{{entity.fileSize}}"></span></p>
									<p>{{ 'Type MIME'|trans({}, entity.shortname) }} : {{ entity.currentVersion.fileformat.contentType }}</p>
									<p>{{ 'Extension'|trans({}, entity.shortname) }} : {{ entity.currentVersion.fileformat.extension }}</p>
									<p>{{ 'Types'|trans({}, entity.shortname) }} : {{ entity.currentVersion.fileformat.mediaType }} / {{ entity.currentVersion.fileformat.subtype }}</p>
									<hr>
									<p>{{ 'field.owner'|trans({}, entity.shortname) }} : <strong>{{ entity.owner.name|default('unknown'|trans) }}</strong></p>
									<p>{{ 'field.parent'|trans({}, entity.shortname) }} : {{ actions.entity_labels(entity.parent) }}</p>
									<p>{{ 'field.groups'|trans({}, entity.shortname) }} : {{ actions.entity_labels(entity.allGroups) }}</p>
									<hr>
									<p>{{ 'field.fileUrls'|trans({}, entity.shortname) }} : <ul class="list-unstyled"><li>{{ entity.fileUrls|join('</li><li>')|raw }}</li></ul></p>
								</div>
							</div>
						</div>

						{% if entity.nbVersions|default(0)|length %}
						<div class="col-lg-12">
							{{ actions.iboxVersions(entity) }}
						</div>
						{% endif %}

					</div>
				</div>

{# 				<div class="col-md-6">
					<div class="row">

						{{ dump(code|default('no code!')) }}

					</div>
				</div> #}

				<div class="col-md-6">

					{{ actions.imagesThumbs(entity, 'lg') }}

					{{ actions.ownedDirectoryChilds(entity, 'Menus', 'dirmenus', 'menu', 'system/Menus') }}

					{{ actions.iboxDirs(entity, true) }}

				</div>

			</div>

			{% else %}
			{{ actions.notfound(model) }}
			{% endif %}

		</div>
	</div>
</div>
{% endblock content %}
