{# FIXT@fixt_reference = 'entity_list.html.twig' #}
{# FIXT@name = 'Entity list' #}
{# FIXT@titleh1 = 'Entités' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_list' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<h2 class="text-center m-t-none p-b-sm p-sm border-bottom">{{ icon(model, true, true, ['fa-fw'])|raw }} {{ 'names'|trans({}, model|shortname)|striptags }}</h2>
		{# {% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
		<h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ site_context.date|localizeddate('full', 'full', currentLanguage.fullname) }}</h4>
		{% endif %} #}
	</div>
</div>

<div class="row">
	<div class="col-lg-4">

	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">

			{% if grouped_entities|default([])|length %}
			<div class="tabs-container">
				<div class="tabs-left">
					<ul class="nav nav-tabs">
						{% for name,group in grouped_entities -%}
						<li title="{{ group.description|striptags }}" class="{{ loop.first ? 'active' }}">
							<a href="#tab{{ loop.index }}" class="nav-link" data-toggle="tab">{{ name|trans([], model|shortname) }}</a>
						</li>
						{%- endfor %}
					</ul>
					<div class="tab-content">
						{% for name,group in grouped_entities -%}
							<div id="tab{{ loop.index }}" class="tab-pane{{ loop.first ? ' active' }}">
								<div class="panel-body">

									<h2 class="text-center">{{- group.description|raw -}}</h2>
									<hr>

									{% if group.entities|length %}
									<div class="table-responsive">
										<table class="table table-hover">
											<thead>
												<tr>
													<th style="width:38px;" class="text-center">{{ icon(model, true, true, ['fa-fw'])|raw }}</th>
													<th style="width:1%;" class="text-center">Id</th>
													<th class="text-left">{{ 'Actions'|trans }}</th>
													<th class="text-left">{{ 'nom'|trans }}</th>
													<th class="text-left">{{ 'groupitem'|trans }}</th>
												</tr>
											</thead>
											<tbody>
												{% for one in group.entities %}
												<tr class="{{ tableClass(one) }}"{% if one.description is defined %} data-popover data-content="{{ one.description|empty('<p>Description manquante<br>Ajouter cette information dans le champ \"description\" de cet élément</p>')|nl2br }}"{% endif %}>
													<td class="text-center">
														{% set file_url = one.avatar is defined ? fileurl(one.avatar,'thumbnails',128) : null %}
														{% set file_url = one.thumbnail is defined ? fileurl(one.thumbnail,'thumbnails',128) : null %}
														{% if file_url is not null and one.avatar is defined %}
														<img src="{{ asset(file_url) }}" class="img-sm" alt="{{ one.avatar.mediatype }} {{ one.slug|default(one.name) }}" data-view-media="'{{ one.avatar.bddIdentifyer }}'" data-view-width="400" data-view-type="'thumbnail'" data-view-name="'{{ one.__toString }}'">
														{% elseif file_url is not null and one.thumbnail is defined %}
														<img src="{{ asset(file_url) }}" class="img-sm" alt="{{ one.thumbnail.mediatype }} {{ one.slug|default(one.name) }}" data-view-media="'{{ one.thumbnail.bddIdentifyer }}'" data-view-width="400" data-view-type="'thumbnail'" data-view-name="'{{ one.__toString }}'">
														{% else %}
														<i class="fa {{ one.icon }} fa-2x fa-fw" style="color:{{ one.color|default('#AAAAAA') }};"></i>
														{% endif %}
													</td>
													<td class="text-center">{{ one.id }}</td>
													<td class="text-left">{{ actions.buttons_groups(one) }}</td>
													<td class="text-left"><u><strong>{{ one.name }}</strong></u><br></td>
													<td class="text-left">{{ one.groupitem in group.groups ? name|trans([], model|shortname) : '?' }}</td>
												</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
									{% else %}
									{{ actions.notfoundlist(model) }}
									{% endif %}

								</div>
							</div>
						{%- endfor %}
					</div>
				</div>
			</div>
			{% elseif entities|default([])|length %}
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th style="width:38px;" class="text-center">{{ icon(model, true, true, ['fa-fw'])|raw }}</th>
							<th style="width:1%;" class="text-center">Id</th>
							<th class="text-left">{{ 'Actions'|trans }}</th>
							<th class="text-left">{{ 'nom'|trans }}</th>
							<th class="text-left">{{ 'groupitem'|trans }}</th>
						</tr>
					</thead>
					<tbody>
						{% for one in entities %}
						<tr class="{{ tableClass(one) }}"{% if one.description is defined %} data-popover data-content="{{ one.description|empty('<p>Description manquante<br>Ajouter cette information dans le champ \"description\" de cet élément</p>')|nl2br }}"{% endif %}>
							<td class="text-center">
								{% set file_url = one.avatar is defined ? fileurl(one.avatar,'thumbnails',128) : null %}
								{% set file_url = one.thumbnail is defined ? fileurl(one.thumbnail,'thumbnails',128) : null %}
								{% if file_url is not null and one.avatar is defined %}
								<img src="{{ asset(file_url) }}" class="img-sm" alt="{{ one.avatar.mediatype }} {{ one.slug|default(one.name) }}" data-view-media="'{{ one.avatar.bddIdentifyer }}'" data-view-width="400" data-view-type="'thumbnail'" data-view-name="'{{ one.__toString }}'">
								{% elseif file_url is not null and one.thumbnail is defined %}
								<img src="{{ asset(file_url) }}" class="img-sm" alt="{{ one.thumbnail.mediatype }} {{ one.slug|default(one.name) }}" data-view-media="'{{ one.thumbnail.bddIdentifyer }}'" data-view-width="400" data-view-type="'thumbnail'" data-view-name="'{{ one.__toString }}'">
								{% else %}
								<i class="fa {{ one.icon }} fa-2x fa-fw" style="color:{{ one.color|default('#AAAAAA') }};"></i>
								{% endif %}
							</td>
							<td class="text-center">{{ one.id }}</td>
							<td class="text-left">{{ actions.buttons_groups(one) }}</td>
							<td class="text-left"><u><strong>{{ one.name }}</strong></u><br></td>
							<td class="text-left">{{ one.groupitem }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
			{{ actions.notfoundlist(model) }}
			{% endif %}

		</div>
	</div>
</div>
{% endblock content %}
