{# FIXT@fixt_reference = 'entity_update.html.twig' #}
{# FIXT@name = 'Entity update' #}
{# FIXT@titleh1 = 'Modification élément' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_update' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_update_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">
			<h2 class="text-center m-t-none p-b-sm p-sm border-bottom"><small class="text-muted">{{ 'name'|trans({}, entity.shortname)|striptags }}</small> {{ icon(form.vars.data)|raw }} <strong>{{ entity.name|default(entity.id) }}</strong>{% if site_context.isTranslatorAndShow() and entity._tm|default(null) is not null %} {% set language = getLanguage(entity._tm.currentLocale) %}<img src="{{ asset(fileurl(language.thumbnail,'thumbnails',32)) }}" style="width: 32px;">{% endif %} {{ actions.menuFormContexts(app.user) }}</h2>

			<div class="row">
				<div class="col-lg-12">
					{# {{ form(form) }} #}
					{{ actions.alertStatus(form.vars.data) }}
					{{ actions.showOnwers(form.vars.data) }}

					{# https://symfony.com/doc/current/form/form_customization.html #}
					{{ form_start(form) }}
					{{ form_errors(form) }}

					<div class="row">
						<div class="col-md-6">
							{{ form.inputname is defined ? form_row(form.inputname) }}
							{{ form.email is defined ? form_row(form.email) }}
							{{ form.firstname is defined ? form_row(form.firstname) }}
							{{ form.lastname is defined ? form_row(form.lastname) }}
							{{ form.functionality is defined ? form_row(form.functionality) }}
							{{ form.associateEntreprises is defined ? form_row(form.associateEntreprises) }}
						</div>

						<div class="col-md-6">
							{{ form.ordernumber is defined ? form_row(form.ordernumber) }}
							{{ form.forms_contexts is defined ? form_row(form.forms_contexts) }}
							{{ form.timezone is defined ? form_row(form.timezone) }}
							{{ form.color is defined ? form_row(form.color) }}
							{{ form.newsletter is defined ? form_row(form.newsletter) }}
							{{ form.cookies is defined ? form_row(form.cookies) }}
							{{ form.tags is defined ? form_row(form.tags) }}
							{% if form.plainPassword is defined %}
							<div class="alert alert-info">
								<div class="m-b-sm"><u><strong>Attention</strong></u> : <strong>notez bien votre mot de passe</strong>, car celui-ci est encodé dès l'envoi et n'est pas enregistré tel quel sur notre site. Seul vous en avez connaissance.</div>
								{{ form.plainPassword.first is defined ? form_row(form.plainPassword.first) }}
								{{ form.plainPassword.second is defined ? form_row(form.plainPassword.second) }}
							</div>
							{% endif %}
						</div>
					</div>

					{% if form.avatar is defined or form.picone is defined %}
					<div class="row">
						<div class="col-md-12">
							<hr class="hr-line-solid">
							<div class="row">
								<div class="col-md-6">
									{{ form.avatar is defined ? form_row(form.avatar) }}
								</div>
								<div class="col-md-6">
									{{ form.picone is defined ? form_row(form.picone) }}
								</div>
							</div>
						</div>
					</div>
					{% endif %}

					{% if form.adresses is defined or form.telephons is defined or form.reseausocials is defined %}
					<div class="row">
						<div class="col-md-12">
							<hr class="hr-line-solid">
							{{ form.adresses is defined ? form_row(form.adresses) }}
							{{ form.telephons is defined ? form_row(form.telephons) }}
							{{ form.reseausocials is defined ? form_row(form.reseausocials) }}
						</div>
					</div>
					{% endif %}

					{% if form.fulltext is defined or form.resume is defined %}
					<div class="row">
						<div class="col-md-12">
							<hr class="hr-line-solid">
							<div class="row">
								<div class="col-md-6">
									{{ form.fulltext is defined ? form_row(form.fulltext) }}
								</div>
								<div class="col-md-6">
									{{ form.resume is defined ? form_row(form.resume) }}
								</div>
							</div>
						</div>
					</div>
					{% endif %}

					{# REST BUT SUBMITS #}
					{% set haverests = false %}
					{% for name,rests in form if not (rests.rendered or name matches '/^submit/') %}{% set haverests = true %}{% endfor %}
					{% if haverests %}
					<hr class="hr-line-solid">
					<div class="row">
						<div class="col-lg-12">
							<div class="ibox float-e-margins collapsed">
								<div class="ibox-title">
									<h5>Autres informations</h5>
									<div class="ibox-tools">
										<a class="collapse-link">
											<i class="fa fa-chevron-up fa-fw"></i>
										</a>
									</div>
								</div>
								<div class="ibox-content">
									<div class="row">
										{% for name,rests in form if not (rests.rendered or name matches '/^submit/') %}
										{% if name in ['plainPassword'] %}
										<div class="col-md-6">
											{{ form_row(rests.first) }}
											{{ form_row(rests.second) }}
										</div>
										{% else %}
										<div class="col-md-6">
											{{ form_row(rests) }}
										</div>
										{% endif %}
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endif %}

					{# SUBMITS #}
					{% for name,submit in form if not submit.rendered %}
						{{ form_row(submit) }}
					{% endfor %}

					{{ form_end(form) }}

					{# {{ dump(form) }} #}
				</div>
			</div>

		</div>
	</div>
</div>
{% endblock content %}
