{# FIXT@fixt_reference = 'user_list.html.twig' #}
{# FIXT@name = 'User list' #}
{# FIXT@titleh1 = 'Utilisateurs' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'user_list' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<h2 class="text-center m-t-none p-b-sm p-sm border-bottom">{{ icon(model, true, true, ['fa-fw'])|raw }} {{ 'names'|trans({}, model|shortname)|striptags }}</h2>
		{# {% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
		<h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ site_context.date|localizeddate('full', 'full', currentLanguage.fullname) }}</h4>
		{% endif %} #}
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">

			{% if entities|length %}
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th style="width:38px;" class="text-center">{{ icon(model, true, true, ['fa-2x','fa-fw'])|raw }}</th>
							<th style="width:1%;" class="text-center">{{ 'field.id'|trans({}, model|shortname) }}</th>
							{# {% if is_granted('ROLE_SUPER_ADMIN') %}<th style="width:1%;" class="text-center">Valid</th>{% endif %} #}
							<th class="text-left">{{ 'Actions'|trans({}, model|shortname) }}</th>
							<th class="text-left">{{ 'field.username'|trans({}, model|shortname) }}</th>
							<th class="text-center" title="{{ 'field.newsletter'|trans({}, model|shortname) }}"><i class="fa fa-newspaper-o fa-fw"></i></th>
							<th class="text-center" title="{{ 'field.cookies'|trans({}, model|shortname) }}"><i class="fa fa-bookmark fa-fw"></i></th>
							<th class="text-left">{{ 'field.groupes'|trans({}, model|shortname) }}</th>
							{# <th class="text-left">{{ 'field.tags'|trans({}, model|shortname) }}</th> #}
							<th class="text-left">{{ 'field.associateEntreprises'|trans({}, model|shortname) }}</th>
							<th class="text-left">{{ 'field.created'|trans({}, model|shortname) }}<br>{{ 'field.lastLogin'|trans({}, model|shortname) }}</th>
						</tr>
					</thead>
					<tbody>
						{% for one in entities if one.username != "root" or is_granted('ROLE_SUPER_ADMIN') %}
						<tr class="{{ tableClass(one) }}"{% if one.description is defined %} data-popover data-content="{{ one.description|empty('<p>Description manquante<br>Ajouter cette information dans le champ \"description\" de cet élément</p>')|nl2br }}"{% endif %}>
							<td class="text-center">
								<blocitem data-item="{{ one|serialized }}" data-media="{{ one.avatar|serialized }}" data-size="64" data-statusbar="false"></blocitem>
							</td>
							<td class="text-center">{{ one.id }}</td>
							{# {% if is_granted('ROLE_SUPER_ADMIN') %}<td class="text-center">{{ actions.booleanIcon(one.valid) }}</td>{% endif %} #}
							<td class="text-left">
								{%- set addedButtons -%}
								{% if is_granted('ROLE_ADMIN') or one == app.user %}
								<a role="button" class="btn btn-xs btn-white woc" href="{{ path('wsa_'~one.shortname(true)~'_sendinfos', {user: one.username|url_encode}) }}" title="{{ one.shortname ~ '.sendinformations'|transno }}">
									<i class="fa fa-envelope fa-fw"></i>
								</a>
								{% endif %}
								{% if app.user != one and one.active and is_granted(one.higherRole) %}
								{% if is_granted('ROLE_ALLOWED_TO_SWITCH') %}
								{% set route = one.hasRole('ROLE_ADMIN') ? 'website_admin_homepage' : 'website_site_homepage' %}
								<a role="button" class="btn btn-xs btn-white woc action-confirm" href="{{ path(route, {'_switch_user': one.username|url_encode}) }}&{{ site_context.CONTEXT_ENVIRONMENT_TOKEN_NAME ~ '=' ~ one.bddid|url_encode }}" title="Switch to {{ one.username }}">
									<i class="fa fa-user-circle-o fa-fw"></i>
								</a>
								{% endif %}
								{% if app.user.getRolesChoices(false)|length > 0 %}
								{% set menu %}
								<ul class="list-unstyled">
									{% for name,role in app.user.getRolesChoices(false) if role != 'ROLE_USER' %}
									{% if one.hasRole(role) %}
									<li><a href="{{ path('wsa_user_switch_role', {user: one.id, role: role, status: 0}) }}" class="woc action-confirm"><i class="fa {{ role|role_icon }} fa-fw m-r-xs text-{{ role|role_color }}"></i><i class="fa fa-minus fa-fw m-r-xs"></i>{{ name }}</a></li>
									{% else %}
									<li><a href="{{ path('wsa_user_switch_role', {user: one.id, role: role, status: 1}) }}" class="woc action-confirm"><i class="fa {{ role|role_icon }} fa-fw m-r-xs text-{{ role|role_color }} opacity3"></i><i class="fa fa-plus fa-fw m-r-xs"></i>{{ name }}</a></li>
									{% endif %}
									{% endfor %}
								</ul>
								{% endset %}
								<button role="button" class="btn btn-xs btn-white" title="Changer les privilèges" data-popover data-content="{{ menu|e }}" data-trigger="'focus'" data-compile="true">
									<i class="fa fa-cog fa-fw"></i>
								</button>
								{% endif %}
								{% endif %}
								{%- endset -%}
								{{ actions.buttons_groups(one, addedButtons) }}
							</td>
							<td class="text-left">
								<i class="fa {{ one|role_icon }} fa-fw text-{{ one|role_color }} m-r-xs"></i>{% if is_granted('ROLE_SUPER_ADMIN') and one.hasRole('ROLE_SUPER_ADMIN') and not one.isSuperAdmin() %}<i class="fa fa-exclamation-triangle fa-fw text-danger m-r-xs" title="Has role, but not SUPERADMIN!!!"></i>{% endif %}
								<u><strong>{{ one.username }}</strong></u> <em class="badge badge-default" style="font-size: .65em;">{{ one.getHigherRole(true) }}</em><br>
								<small>
									{{ one.getFullnameOrUsername('long')|raw }}
									<br>
									{{ one.email }}
								</small>
							</td>
							<td class="text-center">
								<a href="{{ path('wsa_user_parameter', {id: one.id, name: 'newsletter', parameter: one.getPreferenceValue('newsletter', false) ? 0 : 1 }) }}"><i class="fa fa-{{ one.getPreferenceValue('newsletter', false) ? 'newspaper-o text-success' : 'times text-muted' }} fa-fw"></i></a>
							</td>
							<td class="text-center">
								<a href="{{ path('wsa_user_parameter', {id: one.id, name: 'cookies', parameter: one.getPreferenceValue('cookies', false) ? 0 : 1 }) }}"><i class="fa fa-bookmark{{ one.getPreferenceValue('cookies', false) ? ' text-success' : '-o text-muted' }} fa-fw"></i></a>
							</td>
							<td class="text-left">
								{{ actions.entity_labels(one.groups, null, true, false) }}
							</td>
{# 							<td class="text-left">
								{{ actions.entity_labels(one.tags, null, true, true) }}
							</td> #}
							<td class="text-left">
								{{ actions.entity_labels(one.associateEntreprises, null, true, true) }}
							</td>
							<td class="text-left">
								{{ one.created|localizeddate('none', 'none', app.request.locale, null, "cccc d MMMM Y HH:mm") }}
								<br>
								{{ one.lastLogin is not null ? one.lastLogin|localizeddate('none', 'none', app.request.locale, null, "cccc d MMMM Y HH:mm") : '<i class="fa fa-times fa-fw fa-1x text-muted"></i>'|raw }}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
			{{ actions.notfoundlist(model) }}
			{% endif %}

		</div>
	</div>
</div>
{% endblock content %}
