{# FIXT@fixt_reference = 'user_entrepriseassociates_list.html.twig' #}
{# FIXT@name = 'User entreprises associates list' #}
{# FIXT@titleh1 = 'Entités' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'user_entrepriseassociates_list' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">

			<div class="row">
				<div class="col-lg-12">
					{% if user == app.user %}
					<h2 class="text-center m-t-none p-b-sm p-sm border-bottom">{{ icon(model, true, true, ['fa-fw'])|raw }} {{ 'my_entreprises'|trans|striptags }}</h2>
					{% else %}
					<h2 class="text-center m-t-none p-b-sm p-sm border-bottom">{{ icon(model, true, true, ['fa-fw'])|raw }} {{ 'names'|trans({}, model|shortname)|striptags }} de <strong class="text-success">{{ user.username }}</strong></h2>
					{% endif %}
					{# {% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
					<h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ site_context.date|localizeddate('full', 'full', currentLanguage.fullname) }}</h4>
					{% endif %} #}
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<div class="wrapper wrapper-content{#  animated fadeInRight #}">

						{% if entities|length %}
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th style="width:38px;" class="text-center">{{ icon(model, true, true, ['fa-2x','fa-fw'])|raw }}</th>
										<th style="width:1%;" class="text-center">{{ 'field.id'|trans({}, model|shortname) }}</th>
										<th class="text-left">{{ 'Actions'|trans }}</th>
										<th class="text-left">{{ 'field.name'|trans({}, model|shortname) }}</th>
										<th class="text-left">{{ 'field.owner'|trans({}, model|shortname) }}</th>
										<th class="text-left">{{ 'field.associateEntreprises'|trans({}, model|shortname) }}</th>
										<th class="text-left">{{ 'field.groups'|trans({}, model|shortname) }}</th>
									</tr>
								</thead>
								<tbody>
									{% for one in entities %}
									<tr class="{{ tableClass(one) }}"{% if one.description is defined %} data-popover data-content="{{ one.description|empty('<p>Description manquante<br>Ajouter cette information dans le champ \"description\" de cet élément</p>')|nl2br }}"{% endif %}>
										<td class="text-center">
											{% set file_url = one.favicon is defined ? fileurl(one.favicon,'thumbnails',32) : null %}
											{% if file_url is not null %}
											<img src="{{ asset(file_url) }}" class="img-sm" alt="{{ one.favicon.mediatype }} {{ one.name }}" data-view-media="'{{ one.favicon.bddIdentifyer }}'" data-view-width="400" data-view-type="'thumbnails'" data-view-name="{{ one.name|json_encode }}">
											{% else %}
											<i class="fa {{ one.icon }} fa-2x fa-fw" style="color:{{ one.color|default('#AAAAAA') }};"></i>
											{% endif %}
										</td>
										<td class="text-center">{{ one.id }}</td>
										<td class="text-left">
											{{ actions.buttons_groups(one) }}
										</td>
										<td class="text-left">
											{% if one.prefered %}
											<u><strong>{{ one.title }}</strong></u>
											{% else %}
											{{ one.title }}
											{% endif %}
										</td>
										<td class="text-left">
											{{ actions.entity_label(one.owner, null, true, true) }}
										</td>
										<td class="text-left">
											{{ actions.entity_labels(one.associateEntreprises, null, true, true) }}
										</td>
										<td class="text-left">
											{{ actions.entity_labels(one.groups, null, true, true) }}
											{# {% for group in one.groups %}<span class="label label-default m-r-xs">{{ group }}</span>{% endfor %} #}
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						{% else %}
						{{ actions.notfoundlist(model) }}
						{% endif %}

					</div>
				</div>
			</div>

		</div>
	</div>
</div>
{% endblock content %}
