{# FIXT@fixt_reference = 'entity_show.html.twig' #}
{# FIXT@name = 'Entity show' #}
{# FIXT@titleh1 = 'Entité' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_show' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">

			{% if entity|default(null) is not null %}

			{{ actions.alertStatus(entity) }}
			{{ actions.showOnwers(entity) }}

			<div class="row m-b-lg m-t-lg">
				<div class="col-md-6">
					<div class="profile-image">
						{% if attr(entity, 'avatar') is not null %}
						<img src="{{ asset(fileurl(entity.avatar,'thumbnails',128)) }}" title="{{ entity.username }}" class="img-circle circle-border m-b-md" alt="profile {{ entity.username }}" data-view-media="'{{ attr(entity, 'avatar').bddIdentifyer }}'" data-view-width="1000" data-view-type="'optimized'">
						{% else %}
						<i class="fa {{ entity.icon }} fa-4x fa-fw" title="{{ entity.username }}"></i>
						{% endif %}
					</div>
					<div class="profile-info">
						<div class="">
							<div>
								<h2 class="no-margins">{{ entity.getFullnameOrUsername('long')|raw }}</h2>
								<h4><i class="fa {{ entity|role_icon }} fa-fw m-r-xs text-{{ entity|role_color }}"></i>{{ entity.functionality|raw }}{{ entity.ordernumber is not null ? ((entity.functionality|hasText ? ' / ') ~ 'Numéro ordre : <span class="label label-primary">' ~ entity.ordernumber ~ '</span>')|raw }}</h4>
								<small></small>
								{% if is_granted('ROLE_ADMIN') or entity == app.user %}
								<a role="button" class="btn btn-sm btn-white woc action-confirm" href="{{ path('wsa_'~entity.shortname(true)~'_sendinfos', {user: entity.username}) }}" title="{{ entity.shortname ~ '.sendinformations'|transno }}">
									<i class="fa fa-envelope fa-fw"></i>
								</a>
								{% endif %}
								{% if is_granted('ROLE_ADMIN') %}
								{% if entity != app.user %}
								<a role="button" class="btn btn-sm btn-white woc action-confirm" href="{{ path('wsa_'~entity.shortname(true)~'_enable', {id: entity.id, status: entity.enabled ? 0 : 1}) }}" title="{{ entity.enabled ? 'Désactiver utilisateur' : 'Activer utilisateur' }}">
									<i class="fa fa-{{ entity.enabled ? 'check text-info' : 'times text-danger' }} fa-fw"></i>
								</a>
								{% endif %}
								{% endif %}
								{% if app.user != entity and entity.active and is_granted('ROLE_ALLOWED_TO_SWITCH') %}
								{% set route = entity.hasRole('ROLE_ADMIN') ? 'website_admin_homepage' : 'website_site_homepage' %}
								<a role="button" class="btn btn-sm btn-white woc action-confirm" href="{{ path(route, {'_switch_user': entity.username}) }}&{{ site_context.CONTEXT_ENVIRONMENT_TOKEN_NAME ~ '=' ~ entity.bddid|url_encode }}" title="Switch to {{ entity.username }}">
									<i class="fa fa-user-circle-o fa-1x fa-fw"></i>
								</a>
								{% endif %}
								{% if app.user.getRolesChoices(false)|length > 0 %}
								{% set menu %}
								<ul class="list-unstyled">
									{% for name,role in app.user.getRolesChoices(false) if role != 'ROLE_USER' %}
									{% if entity.hasRole(role) %}
									<li><a href="{{ path('wsa_user_switch_role', {user: entity.id, role: role, status: 0}) }}" class="woc action-confirm"><i class="fa {{ role|role_icon }} fa-fw m-r-xs text-{{ role|role_color }}"></i><i class="fa fa-minus fa-fw m-r-xs"></i>{{ name }}</a></li>
									{% else %}
									<li><a href="{{ path('wsa_user_switch_role', {user: entity.id, role: role, status: 1}) }}" class="woc action-confirm"><i class="fa {{ role|role_icon }} fa-fw m-r-xs text-{{ role|role_color }} opacity3"></i><i class="fa fa-plus fa-fw m-r-xs"></i>{{ name }}</a></li>
									{% endif %}
									{% endfor %}
								</ul>
								{% endset %}
								<button role="button" class="btn btn-sm btn-white" title="Changer les privilèges" data-popover data-content="{{ menu|e }}" data-trigger="'focus'" data-compile="true">
									<i class="fa fa-cog fa-fw"></i>
								</button>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<table class="table small m-b-xs">
						<tbody>
							<tr>
								<td>{{ 'field.ordernumber'|trans([], entity.shortname) }} {{ actions.iconIfEmpty(entity.ordernumber, 'fa-times text-muted') }}</td>
								{# <td>{{ 'unread_messages'|transchoice(entity.messages.count, [], 'Message') }}</td> #}
								<td><strong>{{ entity.associateEntreprises.count }}</strong> {{ ('name' ~ (entity.associateEntreprises.count > 1 ? 's'))|trans({}, 'Entreprise') }}</td>
							</tr>
							<tr>
								<td><i>Fuseau</i> <strong>{{ entity.timezone }}</strong></td>
								<td>
									{# {% set done = false %}
									{% for name,role in entity.getRolesChoices()|reverse %}
									{% if not done and is_granted(role) %}{{ name }}{% set done = true %}{% endif %}
									{% endfor %} #}
									{{ actions.entity_label(entity.getHigherRole(true)) }}
									{# {{ actions.entity_label(serviceRoles.getUserHigherRole(entity)) }} #}
								</td>
							</tr>
							<tr>
								{# <td><i>{{ 'Mode'|trans }}</i> {{ entity.preference('forms.contexts').value|default(['?'])|join('/') }}</td> #}
								<td><i>{{ 'Mode'|trans }}</i> {{ entity.getPreferenceValue('forms.contexts', ['<a class="action-confirm woc" href="' ~ path('wsa_tier_check_preferences', {id: entity.id, reset: 1}) ~ '"><i class="fa fa-exclamation-triangle text-danger fa-fw"></i></a>'])|join('/')|raw }}</td>
								{% set user_help = entity.getPreferenceValue('help', false) %}
								<td><i>{{ 'Help'|trans }}</i> <a href="{{ path('wsa_user_help', {id: entity.id}) }}" class="action-confirm woc" title="{{ user_help ? 'Désactiver aide en ligne' : 'Activer aide en ligne' }}">{{ actions.booleanIcon(user_help, 'fa-check text-info', 'fa-times text-muted', 1) }}</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-md-3">
					<small>Compte créé</small>
					<h4 class="no-margins">{{ entity.created|localizeddate('short', 'short', currentLanguage.fullname) }}</h4>
					<small>Dernière connexion</small>
					<h2 class="no-margins">{{ entity.lastlogin is not null ? entity.lastlogin|localizeddate('short', 'medium', currentLanguage.fullname) : '<i class="fa fa-times text-muted"></i>'|raw }}</h2>
					{# <div id="sparkline1"></div> #}
				</div>
			</div>

			{% if entity.isRecentlyCreated('-7 days') and serviceUserrequest.isPossibleRequestCreate('rolecollab', entity) %}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-warning">
						<h3>Vous êtes inscrit récemment sur le site, et vous souhaitez être enregistré comme collaborateur ?</h3>
						<div>Cliquez <a href="{{ path('wsa_userrequest_rolecollab', {id: entity.id, requester: app.user.id}) }}">ICI</a> pour envoyer la demande aux administrateurs.</div>
					</div>
				</div>
			</div>
			{% endif %}

			<div class="row">
				<div class="col-lg-4">
					<div class="ibox">
						<div class="ibox-content">
							<h3>Présentation {{ entity.getFullnameOrUsername('medium')|raw }}</h3>
							<p class="small">{{ entity.description|raw }}</p>
							{# <p class="small font-bold"><span><i class="fa fa-circle text-navy"></i> Online status</span></p> #}
							<h4>{{ icon('Adresse', true, true, 'fa-fw m-r-xs')|raw }}{{ 'names'|trans([], 'Adresse') }} <div class="label">{{ entity.adresses.count }}</div></h4>
							<ul class="list-unstyled">
								{% for adresse in entity.adresses %}
								<li class="well well-sm m-b-xs" title="{{ adresse.address|striptags }}"><u>{{ adresse.name|raw|truncate(64, true) }}</u> :<br>{{ actions.iconIfEmpty(adresse.address, 'fa-times fa-fw text-danger')|raw }}</li>
								{% endfor %}
							</ul>
							<h4>{{ icon('Telephon', true, true, 'fa-fw m-r-xs')|raw }}{{ 'names'|trans([], 'Telephon') }} <div class="label">{{ entity.telephons.count }}</div></h4>
							<ul class="list-unstyled">
								{% for telephon in entity.telephons %}
								<li class="well well-sm m-b-xs" title="{{ telephon.name|striptags }}"><u>{{ telephon.name|raw|truncate(24, true) }}</u> : {{ actions.iconIfEmpty(telephon.phonenumber, 'fa-times fa-fw text-danger') }}</li>
								{% endfor %}
							</ul>
						</div>
					</div>

					{% if entity == app.user %}
					<div class="ibox">
						<div class="ibox-title">
							<h5>{{ 'Messages'|trans }}</h5>
							{# <span class="pull-right">{{ 'found_messages'|transchoice(entity.messages.count, [], 'Message') }}</span> #}
						</div>
						<div class="ibox-content">
							<div class="list-group">
								{% if entity.messages|length %}
								{% for message in entity.messages %}
								<a href="#" class="list-group-item{{ loop.first ? ' active' }}">
									<h4 class="list-group-item-heading">Message n°{{ loop.index }}</h4>
									<p class="list-group-item-text">{{ Message.fulltext|raw }}</p>
								</a>
								{% endfor %}
								{% else %}
								<div class="alert alert-warning">Aucun message pour le moment...</div>
								{% endif %}
							</div>
						</div>
					</div>
					{% endif %}

					{# <div class="ibox">
						<div class="ibox-content">
							<h3>Personal friends</h3>
							<ul class="list-unstyled file-list">
								<li><a href=""><i class="fa fa-file"></i> Project_document.docx</a></li>
								<li><a href=""><i class="fa fa-file-picture-o"></i> Logo_zender_company.jpg</a></li>
								<li><a href=""><i class="fa fa-stack-exchange"></i> Email_from_Alex.mln</a></li>
								<li><a href=""><i class="fa fa-file"></i> Contract_20_11_2014.docx</a></li>
								<li><a href=""><i class="fa fa-file-powerpoint-o"></i> Presentation.pptx</a></li>
								<li><a href=""><i class="fa fa-file"></i> 10_08_2015.docx</a></li>
							</ul>
						</div>
					</div> #}
					{% if entity != app.user %}
					<div class="ibox">
						<div class="ibox-title">
							<h5>{{ 'Message privé'|trans }}</h5>
						</div>
						<div class="ibox-content">
							<form action="{{ path('send_internal_message') }}" method="POST">
								<p class="small">{{ 'Envoyer un message à '|trans }}<strong>{{ entity.getFullnameOrUsername('medium')|raw }}</strong></p>
								<div class="form-group">
									<label>{{ 'Objet'|trans }}</label>
									<input type="text" name="object" class="form-control" placeholder="{{ 'Objet du message'|trans }}">
								</div>
								<div class="form-group">
									<label>{{ 'Email'|trans }}</label>
									<input type="email" name="email" class="form-control" placeholder="{{ 'Destinataire du message'|trans }}" disabled value="{{ entity.email }}">
								</div>
								<div class="form-group">
									<label>{{ 'Message'|trans }}</label>
									<textarea class="form-control" placeholder="{{ 'Votre message...'|trans }}" rows="6" style="resize: vertical;"></textarea>
								</div>
								<div class="form-group">
									<label>{{ 'Envoyer aussi par mail'|trans }}</label>
									<input type="checkbox" name="send_mail">
								</div>
								<input type="hidden" name="from" value="{{ app.user.id }}">
								<input type="hidden" name="to" value="{{ entity.id }}">
								<button class="btn btn-primary btn-block"><i class="fa fa-paper-plane fa-fw"></i> {{ 'Envoyer'|trans }}</button>
							</form>
						</div>
					</div>
					{% endif %}

					{% if user_loggs is defined and is_granted('ROLE_ADMIN') %}
					<div class="ibox">
						<div class="ibox-title">
							<h5>{{ 'User loggs'|trans }}</h5>
							{% if user_loggs|length %}
							<small class="pull-right"><i><a href="{{ path('wsa_logg_list', {nb: 100, userid: entity.id}) }}" class="">Voir plus...</a></i></small>
							{% endif %}
						</div>
						<div class="ibox-content">
							{% if user_loggs|length %}
							<div class="table-responsive">
								<table class="table table-hover table-condensed">
									<thead>
										<tr>
											<th style="width:38px;" class="text-center">{{ icon(model, true, true, ['fa-fw'])|raw }}</th>
											<th class="text-left">{{ 'Route'|trans }}</th>
											<th class="text-center">{{ 'Date'|trans }}</th>
											<th class="text-center">{{ 'Time'|trans }}<i class="text-muted">&nbsp;{{ time_average|number_format(3,',','') }}&nbsp;ms</i></th>
										</tr>
									</thead>
									<tbody>
										{% for one in user_loggs %}
										{% set class = one.current ? "danger text-danger" : "" %}
										{% set class = one.hasErrors() ? "danger text-danger" : "" %}
										<tr class="{{ class }}">
											<td class="text-center{{ one.isDev() ? ' text-danger' }}" title="Environment {{ one.env|upper }}">
												<i class="fa {{ one.icon }} fa-1x fa-fw"></i>
											</td>
											<td class="text-left" title="{{ one.route_params|json_encode }}">
												{{ one.route }}
											</td>
											<td class="text-center" title="{{ one.created|localizeddate('none', 'none', app.request.locale, null, "d/MM/Y HH:mm:ss") }}">
												{{ one.created|localizeddate('none', 'none', app.request.locale, null, "d/MM/YY HH:mm") }}
											</td>
											<td class="text-center" title="{{ one.during >= 0 ? one.during|number_format(3,',','') ~ ' ms' }}">
												<div class="progress progress-small" style="background-color: #DDDDDD;">
													{% set color = one.during <= 2 ? 'success' : 'warning' %}
													{% set color = one.during <= 1 ? 'info' : color %}
													{% set color = one.during > 3 ? 'danger' : color %}
													{% set pcent = one.during * 100 / 5 %}
													{% set pcent = pcent > 100 ? 100 : pcent %}
													<div style="width: {{ pcent }}%;" class="progress-bar progress-bar-{{ color }}"></div>
												</div>
											</td>
										</tr>
										{% endfor %}
									</tbody>
									<tfoot>
										<tr>
											<th style="width:38px;" class="text-center">{{ icon(model, true, true, ['fa-fw'])|raw }}</th>
											<th class="text-left">{{ 'Route'|trans }}</th>
											<th class="text-center">{{ 'Date'|trans }}</th>
											<th class="text-center">{{ 'Time'|trans }}<i class="text-muted">&nbsp;{{ time_average|number_format(3,',','') }}&nbsp;ms</i></th>
										</tr>
									</tfoot>
								</table>
							</div>
							{% else %}
							<h3 class="text-center">Aucune donnée de logg</h3>
							{% endif %}
						</div>
					</div>
					{% endif %}

				</div>

				<div class="col-lg-8">

					{% if site_context.isGranted(['ROLE_COLLAB'], entity) %}
					{{ actions.ownedDirectoryChilds(entity, 'Entreprises associées', 'associateEntreprises', 'associate', 'system/Associates') }}
					{{ actions.ownedDirectoryChilds(entity, 'Utilisateurs associés', 'associateUsers', 'associate', 'system/Associates') }}
					{% endif %}

					{{ actions.ownedDirectoryChilds(entity, 'Liens sociaux', 'reseausocials', 'reseausocial', 'system/Socials') }}
					{{ actions.ownedDirectoryChilds(entity, 'Adresses', 'adresses', 'adresse', 'system/Adresses') }}
					{{ actions.ownedDirectoryChilds(entity, 'Téléphones', 'telephons', 'telephon', 'system/Telephons') }}

					<div class="row">
						<div class="col-lg-4">
							{{ actions.imagesThumbs(entity, 'lg') }}
						</div>

						<div class="col-lg-8">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5>Paths</h5>
									<div class="ibox-tools">
										<a class="collapse-link">
											<i class="fa fa-chevron-up fa-fw"></i>
										</a>
									</div>
								</div>
								<div class="ibox-content">
									{# {{ actions.entity_labels(entity.getOwnerDirectoryChilds('system/Socials'), 'primary', true, true) }} #}
									<div class="row">
										<div class="col-md-4 text-right"><strong>Parent</strong> <i class="fa fa-arrow-right fa-fw"></i></div>
										<div class="col-md-8">{{ actions.entity_label(entity.parent, null, true, true) }}</div>
										<div class="col-md-4 text-right"><strong>Path name</strong> <i class="fa fa-arrow-right fa-fw"></i></div>
										<div class="col-md-8">{{ actions.iconIfEmpty(entity.pathname, 'fa-times text-muted') }}</div>
										<div class="col-md-4 text-right"><strong>Path slug</strong> <i class="fa fa-arrow-right fa-fw"></i></div>
										<div class="col-md-8">{{ actions.iconIfEmpty(entity.pathslug, 'fa-times text-muted') }}</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-8">
							{{ actions.iboxDirs(entity, true) }}
						</div>
					</div>

				</div>
			</div>

			{% if is_granted('ROLE_SUPER_ADMIN') -%}
			<div class="row">
				<div class="col-lg-12">
					<h2 class="alert alert-danger">INFORMATIONS SURPER ADMIN</h2>
					{{- actions.show_preferences(entity, is_granted('ROLE_ADMIN') or app.user == entity ? 'edit' : null) -}}
				</div>

				<div class="col-lg-4">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>Entreprises</h5>
						</div>
						<div class="ibox-content">
							{{ actions.entity_labels(site_context.getGrantedItems(entity, ['Entreprise'], [], false), null, true, true) }}
						</div>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>Pagewebs</h5>
						</div>
						<div class="ibox-content">
							{{ actions.entity_labels(site_context.getGrantedItems(entity, ['Pageweb'], [], false), null, true, true) }}
						</div>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>Annonces</h5>
						</div>
						<div class="ibox-content">
							{{ actions.entity_labels(site_context.getGrantedItems(entity, ['Annonce'], [], false), null, true, true) }}
						</div>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>Blogs</h5>
						</div>
						<div class="ibox-content">
							{{ actions.entity_labels(site_context.getGrantedItems(entity, ['Blog'], [], false), null, true, true) }}
						</div>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>Popups</h5>
						</div>
						<div class="ibox-content">
							{{ actions.entity_labels(site_context.getGrantedItems(entity, ['Popup'], [], false), null, true, true) }}
						</div>
					</div>
				</div>

			</div>
			{%- endif %}


			{% else %}
			{{ actions.notfound(model) }}
			{% endif %}

		</div>
	</div>
</div>
{% endblock content %}
