{# FIXT@fixt_reference = 'entity_list.html.twig' #}
{# FIXT@name = 'Entity list' #}
{# FIXT@titleh1 = 'Entités' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_list' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<h2 class="text-center m-t-none p-b-sm p-sm border-bottom">{{ icon(model, true, true, ['fa-fw'])|raw }} {{ 'names'|trans({}, model|shortname)|striptags }}</h2>
		{# {% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
		<h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ site_context.date|localizeddate('full', 'full', currentLanguage.fullname) }}</h4>
		{% endif %} #}
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">

			{% if entities|length %}
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th style="width:38px;" class="text-center">{{ icon(model, true, true, ['fa-fw'])|raw }}</th>
							<th class="text-left">Id</th>
							{% if is_granted('ROLE_SUPER_ADMIN') %}
							<th class="text-left">{{ 'Actions'|trans }}</th>
							{% endif %}
							<th class="text-left">{{ 'field.reqname'|trans([], model|shortname) }}</th>
							<th class="text-left">{{ 'field.requser'|trans([], model|shortname) }}</th>
							<th class="text-center">{{ 'field.created'|trans([], model|shortname) }}</th>
							<th class="text-center">{{ 'field.reqstatus'|trans([], model|shortname) }}</th>
							<th class="text-center">{{ 'Validation'|trans([], model|shortname) }}</th>
						</tr>
					</thead>
					<tbody>
						{% for one in entities %}
						<tr class="{{ tableClass(one) }}"{% if one.description is defined %} data-popover data-content="{{ one.description|empty('<p>Description manquante<br>Ajouter cette information dans le champ \"description\" de cet élément</p>')|nl2br }}"{% endif %}>
							<td class="text-center">
								<i class="fa {{ one.icon }} fa-1x fa-fw" style="color:{{ one.color|default('#AAAAAA') }};"></i>
							</td>
							<td class="text-left"{{ is_granted('ROLE_SUPER_ADMIN') ? ' title="' ~ one.reqtoken ~ '"' }}>
								{{ one.id }}
							</td>
							{% if is_granted('ROLE_SUPER_ADMIN') %}
							<td class="text-left">
								{{ actions.buttons_groups(one) }}
							</td>
							{% endif %}
							<td class="text-left">
								<strong>{{ one.reqname }}</strong>
							</td>
							<td class="text-left">
								{{ actions.entity_label(one.requser) }}
							</td>
							<td class="text-center">
								<div>{{ one.created|localizeddate('short', 'short', currentLanguage.fullname) }}</div>
								{% if one.updated is not null %}
								<div><i class="text-muted">{{ one.updated|localizeddate('short', 'short', currentLanguage.fullname) }}</i></div>
								{% endif %}
							</td>
							<td class="text-center">
								{% if one.reqstatus == 0 %}
								<i class="fa fa-question-circle fa-2x text-warning" title="Cet élément est à valider."></i>
								{% elseif one.reqstatus == 1 %}
								<i class="fa fa-check-circle fa-2x text-info" title="Validé !"></i>
								{% elseif one.reqstatus == 2 %}
								<i class="fa fa-times-circle fa-2x text-danger" title="Refusé !"></i>
								{% else %}
								<i class="fa fa-question-circle-o fa-2x text-muted" title="Statut inconnu !"></i>
								{% endif %}
							</td>
							<td class="text-center">
								<div class="btn-group btn-group-sm" role="group" aria-label="validations">
									{% if is_granted('ROLE_SUPER_ADMIN') %}
									<a href="{{ path('wsa_userrequest_validate', {id: one.id, status: 0}) }}" class="btn btn-white woc action-confirm {{ one.reqstatus == 0 ? ' disabled' }}" title="Réinitialiser"><i class="fa fa-refresh text-{{ one.reqstatus == 0 ? 'muted' : 'default' }}"></i></a>
									{% endif %}
									<a href="{{ path('wsa_userrequest_validate', {id: one.id, status: 1}) }}" class="btn btn-white woc action-confirm {{ one.reqstatus == 1 ? ' disabled' }}" title="Valider"><i class="fa fa-check text-{{ one.reqstatus == 1 ? 'muted' : 'info' }}"></i></a>
									<a href="{{ path('wsa_userrequest_validate', {id: one.id, status: 2}) }}" class="btn btn-white woc action-confirm {{ one.reqstatus == 2 ? ' disabled' }}" title="Rejeter"><i class="fa fa-times text-{{ one.reqstatus == 2 ? 'muted' : 'danger' }}"></i></a>
								</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{# <div class="well">{{ dump(entities|first) }}</div> #}
			{% else %}
			{{ actions.notfoundlist(model) }}
			{% endif %}

		</div>
	</div>
</div>
{% endblock content %}
