{# FIXT@fixt_reference = 'video_list.html.twig' #}
{# FIXT@name = 'Video list' #}
{# FIXT@titleh1 = 'Fichiers video' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'video_list' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<h2 class="text-center m-t-none p-b-sm p-sm border-bottom">{{ icon(model, true, true, ['fa-fw'])|raw }} {{ 'names'|trans({}, model|shortname)|striptags }}</h2>
		{# {% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
		<h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ site_context.date|localizeddate('full', 'full', currentLanguage.fullname) }}</h4>
		{% endif %} #}
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">

			{% if entities|length %}
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th style="width:38px;" class="text-center">{{ icon(model, true, true, ['fa-fw'])|raw }}</th>
							<th style="width:1%;" class="text-center">Id</th>
							<th class="text-left">{{ 'Actions'|trans }}</th>
							<th class="text-left">{{ 'nom'|trans }}</th>
							<th class="text-center">{{ 'Type'|trans }}</th>
							<th class="text-center">{{ 'Taille'|trans }}</th>
							<th class="text-center">{{ 'Priorité'|trans }}</th>
							<th class="text-center">{{ 'Versions'|trans }}</th>
							<th class="text-left">{{ 'Dossier'|trans }}</th>
							{# <th class="text-left">{{ 'Root'|trans }}</th> #}
						</tr>
					</thead>
					<tbody>
						{% for one in entities %}
						<tr class="{{ tableClass(one) }}"{% if one.description is defined %} data-popover data-content="{{ one.description|empty('<p>Description manquante<br>Ajouter cette information dans le champ \"description\" de cet élément</p>')|nl2br }}"{% endif %}>
							<td class="text-center">
								<blocitem data-item="{{ one|serialized }}" data-size="64" data-statusbar="false"></blocitem>
							</td>
							<td class="text-center">{{ one.id }}</td>
							<td class="text-left">
								{{ actions.buttons_groups(one) }}
							</td>
							<td class="text-left">
								<u><strong>{{ one.filename }}</strong></u>
								<br>
								<small><i>{{ one.slug }}</i> / Owner: <span class="text-success">{{ one.owner.username|default(null) }} </span></small>
								<br>
								<small>Path: <i>{{ one.pathname }}</i></small>
							</td>
							<td class="text-center">{{ one.subtype }} / {{ one.mediatype }}</td>
							<td class="text-right">{{ (one.fileSize / 1024 / 1024)|number_format(2, ',', '') }}&nbsp;Mo</td>
							<td class="text-center">
								{{ actions.entity_labels(one.getAvailableTypevideos(), {'info': [one.typevideo]}) }}
								{# &nbsp;({{ actions.entity_labels(one.typevideos) }}) #}
							</td>
							<td class="text-center">{{ one.nbversions }}</td>
							<td class="text-left">{{ actions.entity_label(one.parent, null, true, true) }}</td>
							{# <td class="text-left">{{ actions.entity_label(one.rootparent, null, true, true) }}</td> #}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
			{{ actions.notfoundlist(model) }}
			{% endif %}

		</div>
	</div>
</div>
{% endblock content %}
