{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<h2 class="text-center m-t-none p-b-sm p-sm border-bottom">{{ icon(model, true, true, ['fa-fw'])|raw }} {{ 'names'|trans({}, model|shortname)|striptags }}</h2>
		{# <h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ site_context.date|localizeddate('full', 'full', currentLanguage.fullname) }}</h4> #}
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">

			{% if checkeds|length %}
			<div class="table-responsive">
  				<input type="text" class="form-control form-control-sm m-b-xs" id="filter" placeholder="{{ 'Search'|trans }}">
 				<table class="footable table table-hover table-condensed" data-page-size="10" data-filter=#filter>
					<thead>
						<tr>
							<th colspan="100%">
								<ul class="pagination pull-right"></ul>
							</th>
						</tr>
						<tr>
							<th style="width:38px;" class="text-center">{{ icon(model, true, true, ['fa-fw'])|raw }}</th>
							<th style="width:1%;" class="text-center">Id</th>
							<th class="text-left">{{ 'Actions'|trans }}</th>
							<th class="text-left">{{ 'field.filename'|trans({}, model|shortname) }}</th>
							{# <th class="text-center">{{ 'field.mediatype'|trans({}, model|shortname) }}</th> #}
							{# <th class="text-center">{{ 'field.fileSize'|trans({}, model|shortname) }}</th> #}
							<th class="text-left">{{ 'field.errors'|trans({}, model|shortname) }}</th>
							{# <th class="text-center">{{ 'field.nbversions'|trans({}, model|shortname) }}</th> #}
							{# <th class="text-left">{{ 'field.twigsections'|trans({}, model|shortname) }}</th> #}
							{# <th class="text-left">{{ 'field.violations'|trans({}, model|shortname) }}</th> #}
						</tr>
					</thead>
					<tbody>
						{% for checked in checkeds %}
						<tr{% if checked.checked %} class="{{ checked.repaired ? 'success' : 'danger' }}"{% endif %}>
							<td class="text-center">
								{% if checked.status > 1 %}
								<a href="{{ path('wsa_twig_check', {id: checked.entity.slug}) }}" class="action-confirm"><i class="fa {{ checked.entity.icon }} fa-2x fa-fw text-danger woc"></i></a>
								{% else %}
								{# <a href="{{ path('wsa_twig_check', {id: checked.entity.slug}) }}" class="action-confirm"><i class="fa {{ checked.entity.icon }} fa-2x fa-fw text-danger woc"></i></a> #}
								<i class="fa {{ checked.entity.icon }} fa-2x fa-fw {{ checked.status == 1 ? 'text-info' : 'text-muted' }}"></i>
								{% endif %}
							</td>
							<td class="text-center">{{ checked.entity.id }}</td>
							<td class="text-left">{{ actions.buttons_groups(checked.entity) }}</td>
							<td class="text-left">
								<u><strong>{{ checked.entity.filename }}</strong></u>
								<br><strong><span class="text-info">{{ 'name'|trans([], checked.entity.shortname) }}</span> : <i>{{ checked.entity.bundlepathname }}</i></strong>
								<br><small><i>{{ checked.entity.slug }}</i></small>
								{%- if is_granted('ROLE_SUPER_ADMIN') -%}
								<small>&nbsp;/ Owner: <span class="text-success">{{ checked.entity.owner.name|default('unknown'|trans) }} </span></small>
								<br><small>Path: <i>{{ checked.entity.pathname }}</i></small>
								<br><small>{{ 'plateforme'|trans }}: <i>{{ checked.entity.bundle|trans }}</i></small>
								{% endif %}
							</td>
							{# <td class="text-center">{{ checked.entity.subtype }} / {{ checked.entity.mediatype }}</td> #}
							{# <td class="text-right"><span data-filesize="{{checked.entity.fileSize}}"></span></td> #}
							<td class="text-left {{ checked.status == 1 ? 'text-info' : 'text-danger' }}">
								<ul>
								{% for violation in checked.violations -%}
								<li>
									<div><strong>{{ violation.propertyPath }}</strong></div>
									<div><i>{{ violation.message }}</i></div>
								</li>
								{%- endfor %}
								</ul>
							</td>
							{# <td class="text-center">{{ checked.entity.nbversions }}</td> #}
							{# <td class="text-left">{{ actions.entity_labels(checked.entity.twigsections|default([])) }}</td> #}
							{# <td class="text-left">
								{% if checked.violations|length %}{{ dump(checked.violations) }}{% endif %}
								{% if checked.entity == entity_checked.entity|default(null) %}{{ dump(entity_checked) }}{% endif %}
							</td> #}
						</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<td colspan="100%">
								<ul class="pagination pull-right"></ul>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
			{% else %}
			{{ actions.notfoundlist(model) }}
			{% endif %}

		</div>
	</div>
</div>
{% endblock content %}
