{# FIXT@fixt_reference = 'entity_list.html.twig' #}
{# FIXT@name = 'Entity list' #}
{# FIXT@titleh1 = 'Entités' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'entity_list' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_entity_list_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}
{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<h2 class="text-center m-t-none p-b-sm p-sm border-bottom">{{ icon(model, true, true, ['fa-fw'])|raw }} {{ 'names'|trans({}, model|shortname)|striptags }}</h2>
		{# {% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
		<h4 class="text-center m-t-none p-b-sm p-sm">Context date : {{ site_context.date|localizeddate('full', 'full', currentLanguage.fullname) }}</h4>
		{% endif %} #}
		<div class="text-center">
			<a href="{{ path('wsa_cruds_check') }}" class="btn btn-sm btn-danger woc"><i class="fa fa-refresh fa-fw m-r-xs"></i>Reset &amp; check</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content{#  animated fadeInRight #}">

			{% if entities|length %}
			<h2>Found {{ entities|length }} annotations</h2>
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th style="width:38px;" class="text-center">{{ icon(model, true, true, ['fa-fw', 'fa-1x'])|raw }}</th>
							<th style="width:1%;" class="text-center">Id</th>
							{# <th class="text-left">{{ 'Actions'|trans }}</th> #}
							<th class="text-left">{{ 'nom'|trans }}</th>
							<th class="text-left">{{ 'Annotation'|trans }}</th>
							<th class="text-center">{{ 'Entity'|trans }}</th>
							<th class="text-center">{{ 'Type'|trans }}</th>
							<th class="text-center">{{ 'Target'|trans }}</th>
						</tr>
					</thead>
					<tbody>
						{% for one in entities %}
						<tr class="{{ tableClass(one) }}"{% if one.description is defined %} data-popover data-content="{{ one.description|empty('<p>Description manquante<br>Ajouter cette information dans le champ \"description\" de cet élément</p>')|nl2br }}"{% endif %}>
							<td class="text-center">
								<i class="fa {{ one.icon }} fa-1x fa-fw" style="color:{{ one.color|default('#AAAAAA') }};"></i>
							</td>
							<td class="text-center">{{ one.id }}</td>
							{# <td class="text-left">{{ actions.buttons_groups(one) }}</td> #}
							<td class="text-left">{{ actions.entity_label(one) }}</td>
							<td class="text-left">{{ actions.entity_label(one.annotation) }}</td>
							<td class="text-center">{{ one.classentity }}{{ one.entitybddmcid is not null ? ('<br><strong>' ~ one.entitybddmcid ~ '</strong>')|raw }}</td>
							<td class="text-center">{{ one.type }}</td>
							<td class="text-center">{{ one.target }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
			{{ actions.notfoundlist(model) }}
			{% endif %}

		</div>
	</div>
</div>
{% endblock content %}
