{# FIXT@fixt_reference = 'index.html.twig' #}
{# FIXT@name = 'tableau de bord admin' #}
{# FIXT@titleh1 = 'Tableau de bord administration' #}
{# FIXT@bundle = 'WebsiteAdminBundle' #}
{# FIXT@singlefilename = 'index' #}
{# FIXT@headers = ['@FIXT_REF=Sectionheader@admin_topnavbar.html.twig','@FIXT_REF=Sectionheader@admin_page_heading.html.twig'] #}
{# FIXT@sidebars = ['@FIXT_REF=Sectionsidebar@admin_sidebar.html.twig'] #}
{# FIXT@footers = ['@FIXT_REF=Sectionfooter@admin_footer.html.twig'] #}
{# FIXT@seo = false #}
{# FIXT@prefered = true #}
{% extends ['WebsiteSiteBundle:Admin:Bases/base_wrap_01.html.twig','WebsiteAdminBundle:Bases:base_wrap_01.html.twig'] %}

{% block content %}

	<div class="row">

		{% for entity in entities %}
		<div class="col-md-{{ entities|length > 1 ? '6' : '12' }}">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>{{ entity.shortname }} <span class="text-info">{{ entity.name }}</span></h5>
				</div>
				<div class="ibox-content">
					<h3><a href="{{ path('wsa_directory_owner', {id: entity.id}) }}">Voir dossier parent</a></h3>
					{# {{ dump(entity) }} #}
				</div>
			</div>
		</div>
		{% endfor %}

	</div>

{% endblock content %}
