<span style="position: relative;">
	<button data-ng-if="isImage" class="btn btn-lg btn-white p-xxs" data-ng-style="{height: size+'px', width: size+'px'}">
		<span data-ng-if="statusbar" data-ng-style="{position: 'absolute', left: '5px', top: '-'+((size-24)/2)+'px'}">
			<i class="fa fa-check fa-fw fa-1x text-info" data-ng-if="item.active" title="Visible sur le site"></i>
			<i class="fa fa-ban fa-fw fa-1x text-warning" data-ng-if="!item.active && !item.is_softdeleted" title="Désactivé : non visible sur le site"></i>
			<i class="fa fa-times fa-fw fa-1x text-danger" data-ng-if="item.is_softdeleted" title="Supprimé : non visible sur le site"></i>
		</span>
		<img data-ng-src="{[{ media|fileurl:size:'thumbnail' }]}" class="img-responsive" alt="{[{ item.slug }]}" data-ng-style="{opacity: item.active ? 1 : 0.2 }" data-view-media="media.bddid" data-view-width="1024" data-view-type="'optimized'">
	</button>
	<button data-ng-if="!isImage" class="btn btn-lg btn-white p-xxs" data-ng-style="{height: size+'px', width: size+'px'}" data-view-media="item.bddid" data-view-shortname="item.mediatype" data-view-width="1000" data-view-type="'optimized'">
		<span data-ng-if="statusbar" data-ng-style="{position: 'absolute', left: '5px', top: '-'+((size-24)/2)+'px'}">
			<i class="fa fa-check fa-fw fa-1x text-info" data-ng-if="item.active" title="Visible sur le site"></i>
			<i class="fa fa-ban fa-fw fa-1x text-warning" data-ng-if="!item.active && !item.is_softdeleted" title="Désactivé : non visible sur le site"></i>
			<i class="fa fa-times fa-fw fa-1x text-danger" data-ng-if="item.is_softdeleted" title="Supprimé : non visible sur le site"></i>
		</span>
		<i data-ng-class="item.icon || 'fa-question'" class="fa fa-fw fa-2x" data-ng-style="{color: item.color || '#666666'}"></i>
	</button>
</span>