<!-- <img data-ng-repeat="" data-ng-src="{[{ mediaUrl }]}" class="img-responsive" style="margin: 0px auto;"> -->
<div>
	<button data-ng-click="refreshFileslist()" class="btn btn-xs btn-info m-r-xs"><i data-ng-class="{'fa-spin': loading}" class="fa fa-refresh fa-fw"></i></button>
	<button data-ng-click="addFile()" class="btn btn-xs btn-info m-r-xs" data-ng-class="{'disabled': is_swal || loading_form}"><i data-ng-class="{'fa-spin fa-refresh': loading_form, 'fa-plus': !loading_form}" class="fa fa-fw m-r-xs"></i><span data-ng-bind="manageFiles.text_addfile"></span></button>
	<button data-ng-hide="!loading" class="btn btn-xs btn-warning m-r-xs"><i class="fa fa-spinner fa-spin fa-fw"></i></button>
	<!-- <button data-ng-hide="!dev" class="btn btn-xs btn-info m-r-xs" data-ng-class="{'btn-danger': is_swal}"><i class="fa fa-circle fa-fw"></i></button> -->
</div>
<div class="text-center m-b-md m-t-md">
	<div class="list text-left" data-ng-style="loadStyle">
		<span data-ng-repeat="file in files">
			<blocitem data-item="file" data-size="itemSize" data-statusbar="true"></blocitem>
		</span>
	</div>
</div>
<!-- <div style="border: 1px solid orange;" data-ng-hide="!dev" data-ng-bind="manageFiles|json"></div> -->

