<div>
	<p data-ng-bind-html="message"></p>
	<div class="text-center">
		<img data-ng-src="{[{ mediaUrl }]}" rel:animated_src="{[{ mediaAnimated }]}" rel:auto_play="{[{ prinTplay }]}" class="img-responsive img-rounded">
	</div>
	<div class="text-center" data-ng-if="status.loading" style="margin: 12px auto;">
		<span><i class="fa fa-refresh fa-fw fa-spin m-r-xs"></i>Loading...</span>
	</div>
	<div data-ng-if="!status.loading && status.multiple" style="margin: 12px auto;">
		<div class="text-center">
			<div class="btn-group">
				<a href="#" data-ng-click="Rewind()" class="btn btn-sm btn-white m-r-xs" data-ng-class="{disabled: status.atBegin}"><i class="fa fa-fast-backward fa-fw"></i></a>
				<a href="#" data-ng-click="Play()" class="btn btn-sm btn-white m-r-xs" data-ng-if="!status.playing"><i class="fa fa-play fa-fw"></i></a>
				<a href="#" data-ng-click="Pause()" class="btn btn-sm btn-white m-r-xs" data-ng-if="status.playing"><i class="fa fa-pause fa-fw"></i></a>
				<a href="#" data-ng-click="StepBack()" class="btn btn-sm btn-white m-r-xs" data-ng-class="{disabled: status.playing || status.atBegin}"><i class="fa fa-backward fa-fw"></i></a>
				<a href="#" data-ng-click="StepForward()" class="btn btn-sm btn-white m-r-xs" data-ng-class="{disabled: status.playing || status.atEnd}"><i class="fa fa-forward fa-fw"></i></a>
			</div>
		</div>
		<div class="text-center">
			<div class="progress" style="width: 70%; margin: 8px auto;">
				<div class="progress-bar progress-bar-striped" data-ng-class="{active: status.playing}" role="progressbar" aria-valuenow="{[{ status.currentPC }]}" aria-valuemin="0" aria-valuemax="100" data-ng-style="{width: status.currentPC}" style="-webkit-transition: none; -moz-transition: none; -ms-transition: none; -o-transition: none; transition: none;">
					<span data-ng-bind="status.current"></span> / <span data-ng-bind="status.length"></span>
					<span class="sr-only" data-ng-bind="status.current"></span>
				</div>
			</div>
		</div>
	</div>
<!-- 	<hr>
	<div data-ng-repeat="(key,value) in status">
		<strong class="text-success" data-ng-bind="key"></strong> <span data-ng-bind="value|json"></span>
	</div> -->
</div>


