<div>
	<div class="text-center">
		<p data-ng-bind-html="message"></p>
		<figure>
			<iframe data-ng-src="{[{ mediaUrl  }]}" frameborder="0" allowfullscreen="1" style="width: 100%; height: 512px;"></iframe>
		</figure>
	</div>
</div>
