<div>
	<!-- <figure>
		<iframe data-ng-src="{[{ mediAurl  }]}" frameborder="0" allowfullscreen="1" style="width: 100%; height: 512px;"></iframe>
	</figure> -->
	<p data-ng-bind-html="message"></p>
	<div class="text-center pdf-toolbar m-t-sm">
		<div class="btn-group">
			<button id="prev" class="btn btn-white"><i class="fa fa-long-arrow-left"></i></button>
			<button id="next" class="btn btn-white"><i class="fa fa-long-arrow-right"></i></button>
			<button id="zoomin" class="btn btn-white"><i class="fa fa-search-plus"></i></button>
			<button id="zoomout" class="btn btn-white"><i class="fa fa-search-minus"></i></button>
			<button id="zoomfit" class="btn btn-white">1:1</button>
			<span class="btn btn-white hidden-xs">Page</span>
			<div class="input-group">
				<input type="text" class="form-control" id="page_num">
				<div class="input-group-append">
					<button type="button" class="btn btn-white" id="page_count"></button>
				</div>
			</div>
		</div>
	</div>
	<div class="text-center m-t-sm" style="max-height: 600px; overflow: auto; border: 1px solid #09173e; background-color: #707880; padding: 10px;">
		<canvas id="pdf_canvas" class="pdfcanvas"></canvas>
	</div>

</div>


