<div>
	<div data-ng-if="!current" class="text-center" style="margin: 40px auto 70px; width: 100%;"><i class="fa fa-times fa-fw fa-5x text-muted"></i></div>
	<div data-ng-if="['Image'].includes(current.shortname)">
		<div class="row">
			<div class="col-sm-4">
				<img data-ng-src="{[{ current|fileurl : 512 : 'thumbnail' }]}" class="img-responsive img-rounded" data-view-media="current.id" data-view-width="800" data-view-type="'optimized'">
			</div>
			<div class="col-sm-8">
				<ul class="list-unstyled">
					<li><strong>Nom</strong> <span data-ng-bind="current.name"></span></li>
					<!-- <li><strong>Id</strong> <span data-ng-bind="current.id"></span></li> -->
					<li><strong>Type</strong> <i class="fa {[{ current|defaulticon }]} fa-fw m-r-xs"></i><span data-ng-bind="current.subtype"></span> > <span data-ng-bind="current.mediatype"></span> > <span data-ng-bind="current.file_extension"></span></li>
					<li><strong>Taille</strong> <span data-ng-bind="current.file_size|filesize : 'mo'"></span></li>
					<li><strong>Versions</strong> <span data-ng-bind="current.nbversions"></span></li>
					<li><strong>Statut</strong> <span data-ng-if="current.active" class="text-info">actif</span><span data-ng-if="!current.active" class="text-warning"><i>inactif</i></span></li>
					<li data-ng-if="!!current.parent"><strong>Dossier</strong> <i class="{[{ current.parent|defaulticon  }]} fa-fw m-r-xs"></i><span data-ng-bind="current.parent.name"></span></li>
					<li data-ng-if="!current.parent"><strong>Dossier</strong> <i class="text-muted">aucun</i></li>
					<li><strong>Origine</strong> <span data-ng-bind="current.pathname"></span></li>
					<li><strong>Chemin</strong> <span data-ng-bind="current.currentpathname"></span></li>
					<li><strong>Niveau</strong> <span data-ng-bind="current.lvl"></span></li>
				</ul>
				<span data-ng-if="current.meta_data.length">
					<hr>
					<h4>Meta data</h4>
					<ul class="list-unstyled">
						<li data-ng-repeat="(data,key) in current.meta_data"><strong data-ng-bind="key"></strong> <span data-ng-bind="data"></span></li>
					</ul>
				</span>
			</div>
		</div>
	</div>
	<div data-ng-if="['Video'].includes(current.shortname)">
		<div class="row">
			<div class="col-sm-4">
				<div data-view-media="current.id" data-view-type="'original'"><i class="fa {[{ current|defaulticon }]} fa-fw fa-5x"></i></div>
				<!-- <a data-ng-href="{[{ current|fileurl }]}" target="_blank"><i class="fa {[{ current|defaulticon }]} fa-fw fa-5x"></i></a> -->
			</div>
			<div class="col-sm-8">
				<ul class="list-unstyled">
					<li><strong>Nom</strong> <span data-ng-bind="current.name"></span></li>
					<!-- <li><strong>Id</strong> <span data-ng-bind="current.id"></span></li> -->
					<li><strong>Type</strong> <i class="fa {[{ current|defaulticon }]} fa-fw m-r-xs"></i><span data-ng-bind="current.subtype"></span> > <span data-ng-bind="current.mediatype"></span> > <span data-ng-bind="current.file_extension"></span></li>
					<li><strong>Taille</strong> <span data-ng-bind="current.file_size|filesize : 'mo'"></span></li>
					<li><strong>Versions</strong> <span data-ng-bind="current.nbversions"></span></li>
					<li><strong>Statut</strong> <span data-ng-if="current.active" class="text-info">actif</span><span data-ng-if="!current.active" class="text-warning"><i>inactif</i></span></li>
					<li data-ng-if="!!current.parent"><strong>Dossier</strong> <i class="{[{ current.parent|defaulticon  }]} fa-fw m-r-xs"></i><span data-ng-bind="current.parent.name"></span></li>
					<li data-ng-if="!current.parent"><strong>Dossier</strong> <i class="text-muted">aucun</i></li>
					<li><strong>Origine</strong> <span data-ng-bind="current.pathname"></span></li>
					<li><strong>Chemin</strong> <span data-ng-bind="current.currentpathname"></span></li>
					<li><strong>Niveau</strong> <span data-ng-bind="current.lvl"></span></li>
				</ul>
			</div>
		</div>
	</div>
	<div data-ng-if="['Pdf'].includes(current.shortname)">
		<div class="row">
			<div class="col-sm-4">
				<img data-ng-src="{[{ current|fileurl : 512 : 'thumbnail' }]}" class="img-responsive img-rounded" data-view-media="current.id" data-view-width="800" data-view-type="'optimized'">
			</div>
			<div class="col-sm-8">
				<ul class="list-unstyled">
					<li><strong>Nom</strong> <span data-ng-bind="current.name"></span></li>
					<!-- <li><strong>Id</strong> <span data-ng-bind="current.id"></span></li> -->
					<li><strong>Type</strong> <a data-ng-href="{[{ current|fileurl : 0 : 'original' }]}" target="_blank"><i class="fa {[{ current|defaulticon }]} fa-fw m-r-xs"></i></a><span data-ng-bind="current.subtype"></span> > <span data-ng-bind="current.mediatype"></span> > <span data-ng-bind="current.file_extension"></span></li>
					<li><strong>Taille</strong> <span data-ng-bind="current.file_size|filesize : 'mo'"></span></li>
					<li><strong>Versions</strong> <span data-ng-bind="current.nbversions"></span></li>
					<li><strong>Statut</strong> <span data-ng-if="current.active" class="text-info">actif</span><span data-ng-if="!current.active" class="text-warning"><i>inactif</i></span></li>
					<li data-ng-if="!!current.parent"><strong>Dossier</strong> <i class="{[{ current.parent|defaulticon  }]} fa-fw m-r-xs"></i><span data-ng-bind="current.parent.name"></span></li>
					<li data-ng-if="!current.parent"><strong>Dossier</strong> <i class="text-muted">aucun</i></li>
					<li><strong>Origine</strong> <span data-ng-bind="current.pathname"></span></li>
					<li><strong>Chemin</strong> <span data-ng-bind="current.currentpathname"></span></li>
					<li><strong>Niveau</strong> <span data-ng-bind="current.lvl"></span></li>
				</ul>
			</div>
		</div>
	</div>
	<div data-ng-if="['Text','Html','Twig'].includes(current.shortname)">
		<div class="row">
			<div class="col-sm-4">
				<i class="fa {[{ current|defaulticon }]} fa-fw fa-5x"></i>
			</div>
			<div class="col-sm-8">
				<ul class="list-unstyled">
					<li><strong>Nom</strong> <span data-ng-bind="current.name"></span></li>
					<!-- <li><strong>Id</strong> <span data-ng-bind="current.id"></span></li> -->
					<li><strong>Type</strong> <a data-ng-href="{[{ current|fileurl : 0 : 'original' }]}" target="_blank"><i class="fa {[{ current|defaulticon }]} fa-fw m-r-xs"></i></a><span data-ng-bind="current.subtype"></span> > <span data-ng-bind="current.mediatype"></span> > <span data-ng-bind="current.file_extension"></span></li>
					<li><strong>Taille</strong> <span data-ng-bind="current.file_size|filesize : 'mo'"></span></li>
					<li><strong>Versions</strong> <span data-ng-bind="current.nbversions"></span></li>
					<li><strong>Statut</strong> <span data-ng-if="current.active" class="text-info">actif</span><span data-ng-if="!current.active" class="text-warning"><i>inactif</i></span></li>
					<li data-ng-if="!!current.parent"><strong>Dossier</strong> <i class="{[{ current.parent|defaulticon  }]} fa-fw m-r-xs"></i><span data-ng-bind="current.parent.name"></span></li>
					<li data-ng-if="!current.parent"><strong>Dossier</strong> <i class="text-muted">aucun</i></li>
					<li><strong>Origine</strong> <span data-ng-bind="current.pathname"></span></li>
					<li><strong>Chemin</strong> <span data-ng-bind="current.currentpathname"></span></li>
					<li><strong>Niveau</strong> <span data-ng-bind="current.lvl"></span></li>
				</ul>
			</div>
		</div>
	</div>
	<div data-ng-if="['Pageweb'].includes(current.shortname)">
		<div class="row">
			<div class="col-sm-4">
				<i class="fa {[{ current|defaulticon }]} fa-fw fa-5x"></i>
			</div>
			<div class="col-sm-8">
				<ul class="list-unstyled">
					<li><strong>Nom</strong> <span data-ng-bind="current.name"></span></li>
					<!-- <li><strong>Id</strong> <span data-ng-bind="current.id"></span></li> -->
					<li><strong>Type</strong> <a data-ng-href="{[{ current|fileurl : 0 : 'original' }]}" target="_blank"><i class="fa {[{ current|defaulticon }]} fa-fw m-r-xs"></i></a><span data-ng-bind="current.subtype"></span> > <span data-ng-bind="current.mediatype"></span> > <span data-ng-bind="current.file_extension"></span></li>
					<li><strong>Taille</strong> <span data-ng-bind="current.file_size|filesize : 'mo'"></span></li>
					<li><strong>Versions</strong> <span data-ng-bind="current.nbversions"></span></li>
					<li><strong>Statut</strong> <span data-ng-if="current.active" class="text-info">actif</span><span data-ng-if="!current.active" class="text-warning"><i>inactif</i></span></li>
					<li data-ng-if="!!current.parent"><strong>Dossier</strong> <i class="{[{ current.parent|defaulticon  }]} fa-fw m-r-xs"></i><span data-ng-bind="current.parent.name"></span></li>
					<li data-ng-if="!current.parent"><strong>Dossier</strong> <i class="text-muted">aucun</i></li>
					<li><strong>Origine</strong> <span data-ng-bind="current.pathname"></span></li>
					<li><strong>Chemin</strong> <span data-ng-bind="current.currentpathname"></span></li>
					<li><strong>Niveau</strong> <span data-ng-bind="current.lvl"></span></li>
				</ul>
			</div>
		</div>
	</div>
	<div data-ng-if="['Directory'].includes(current.shortname)">
		<div class="row">
			<div class="col-sm-4">
				<i class="fa {[{ current|defaulticon }]} fa-fw fa-5x"></i>
			</div>
			<div class="col-sm-8">
				<ul class="list-unstyled">
					<li><strong>Nom</strong> <span data-ng-bind="current.name"></span></li>
					<!-- <li><strong>Id</strong> <span data-ng-bind="current.id"></span></li> -->
					<li><strong>Type</strong> <span data-ng-bind="current.shortname"></span> / <span data-ng-bind="current.typedir"></span></li>
					<li><strong>Statut</strong> <span data-ng-if="current.active" class="text-info">actif</span><span data-ng-if="!current.active" class="text-warning"><i>inactif</i></span></li>
					<li data-ng-if="!!current.parent"><strong>Dossier</strong> <i class="{[{ current.parent|defaulticon  }]} fa-fw m-r-xs"></i><span data-ng-bind="current.parent.name"></span></li>
					<li data-ng-if="!current.parent"><strong>Dossier</strong> <i class="text-muted">aucun</i></li>
					<li><strong>Origine</strong> <span data-ng-bind="current.pathname"></span></li>
					<li><strong>Chemin</strong> <span data-ng-bind="current.currentpathname"></span></li>
					<li><strong>Niveau</strong> <span data-ng-bind="current.lvl"></span></li>
					<li><strong>Éléments</strong> <span data-ng-bind="current.child_links.length"></span></li>
					<li><strong>Root</strong> <span data-ng-bind="current.root ? 'true' : 'false';"></span></li>
				</ul>
			</div>
		</div>
	</div>
	<div data-ng-if="['Group'].includes(current.shortname)">
		<div class="row">
			<div class="col-sm-4">
				<i class="fa {[{ current|defaulticon }]} fa-fw fa-5x"></i>
			</div>
			<div class="col-sm-8">
				<ul class="list-unstyled">
					<li><strong>Nom</strong> <span data-ng-bind="current.name"></span></li>
					<li><strong>Propriétaire + nom</strong> <span data-ng-bind="current.longname"></span></li>
					<!-- <li><strong>Id</strong> <span data-ng-bind="current.id"></span></li> -->
					<li><strong>Type</strong> <span data-ng-bind="current.shortname"></span></li>
					<li data-ng-if="!!current.parent"><strong>Parent</strong> <i class="{[{ current.parent|defaulticon  }]} fa-fw m-r-xs"></i><span data-ng-bind="current.parent.name"></span></li>
					<li data-ng-if="!current.parent"><strong>Parent</strong> <i class="text-muted">aucun</i></li>
					<li><strong>Enfants</strong> <span data-ng-bind="current.childs.length"></span></li>
				</ul>
			</div>
		</div>
	</div>
	<div data-ng-if="!!current && !['Image','Pdf','Video','Directory','Text','Html','Twig','Pageweb','Group'].includes(current.shortname)">
		<div class="row">
			<div class="col-sm-4">
				<i class="fa {[{ current.icon|defaulticon }]} fa-fw fa-5x"></i>
			</div>
			<div class="col-sm-8">
				<ul class="list-unstyled">
					<li><strong>Nom</strong> <span data-ng-bind="current.name"></span></li>
					<li><strong>Id</strong> <span data-ng-bind="current.id"></span></li>
					<li><strong>Classe</strong> <span data-ng-bind="current.shortname"></span></li>
					<!-- <li><strong>Statut</strong> <span data-ng-if="current.active" class="text-info">actif</span><span data-ng-if="!current.active" class="text-warning"><i>inactif</i></span></li> -->
					<!-- <li data-ng-if="!!current.parent"><strong>Dossier</strong> <i class="{[{ current.parent|defaulticon  }]} fa-fw m-r-xs"></i><span data-ng-bind="current.parent.name"></span></li> -->
					<!-- <li data-ng-if="!current.parent"><strong>Dossier</strong> <i class="text-muted">aucun</i></li> -->
					<!-- <li><strong>Chemin</strong> <span data-ng-bind="current.pathname"></span></li> -->
					<!-- <li><strong>Niveau</strong> <span data-ng-bind="current.lvl"></span></li> -->
				</ul>
			</div>
		</div>
	</div>
	<!-- <div data-ng-if="!!current">
		<hr>
		<ul class="list-unstyled">
			<li data-ng-repeat="(field,data) in current"><strong data-ng-bind="field"></strong> <span data-ng-bind="data|json"></span></li>
		</ul>
	</div> -->
</div>


