<div>
	<i class="fa fa-refresh fa-spin fa-3x fa-fw" data-ng-show="loading && !error"></i>
	<div data-ng-class="'alert alert-danger'" data-ng-show="error" data-ng-bind="message"></div>
	<div class="table-responsive" data-ng-show="!loading && !error">
		<table class="table">
			<thead>
				<tr>
					<th data-ng-class="'text-center'">Id</th>
					<th data-ng-class="'text-center'">Type</th>
					<!-- <th data-ng-class="'text-left'">Pathname</th> -->
					<th data-ng-class="'text-left'"><strong>Pathslug/name</strong></th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="(key, item) in data" data-ng-class="{'bg-primary': item.id === id}">
					<th data-ng-class="'text-center'"><span data-ng-bind="item.id"></span></th>
					<th data-ng-class="'text-center'"><div><i class="fa fa-fw" data-ng-class="item.icon"></i></div><div data-ng-bind="item.shortname"></div></th>
					<!-- <th data-ng-class="'text-left'"><span data-ng-bind="item.pathname + '/' + item.name"></span></th> -->
					<th data-ng-class="'text-left'"><strong data-ng-bind="item.pathslug + '/' + item.name"></strong></th>
				</tr>
			</tbody>
		</table>
	</div>
</div>


