<div>
	<i class="fa fa-refresh fa-spin fa-3x fa-fw" data-ng-hide="!loading"></i>
	<div class="table-responsive" data-ng-hide="loading">
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="text-left">Test</th>
					<th class="text-center">Résultat</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-left"><strong>General Valid</strong></td>
					<td class="text-center" data-ng-bind-html="data.valid"></td>
				</tr>
				<tr>
					<td class="text-left"><i>Valid Name</i></td>
					<td class="text-center" data-ng-bind-html="data.validName"></td>
				</tr>
				<tr>
					<td class="text-left"><i>Valid Inputname</i></td>
					<td class="text-center" data-ng-bind-html="data.validInputname"></td>
				</tr>
				<tr>
					<td class="text-left"><i>Valid RootDirs</i></td>
					<td class="text-center" data-ng-bind-html="data.validRootDirs"></td>
				</tr>
				<tr>
					<td class="text-left"><i>Valid Rootparent</i></td>
					<td class="text-center" data-ng-bind-html="data.validRootparent"></td>
				</tr>
				<tr>
					<td class="text-left"><i>Valid Ownerdirs</i></td>
					<td class="text-center" data-ng-bind-html="data.validOwnerdirs"></td>
				</tr>
				<tr>
					<td class="text-left"><i>Valid Ownerdir</i></td>
					<td class="text-center" data-ng-bind-html="data.validOwnerdir"></td>
				</tr>
				<tr>
					<td class="text-left"><i>Valid Owner</i></td>
					<td class="text-center" data-ng-bind-html="data.validOwner"></td>
				</tr>
				<tr>
					<td class="text-left"><i>Valid Owners</i></td>
					<td class="text-center" data-ng-bind-html="data.validOwners"></td>
				</tr>
				<tr>
					<td class="text-left"><i>Valid Parent</i></td>
					<td class="text-center" data-ng-bind-html="data.validParent"></td>
				</tr>
				<tr>
					<td class="text-left"><i>Valid OwnerAndParent</i></td>
					<td class="text-center" data-ng-bind-html="data.validOwnerAndParent"></td>
				</tr>
				<tr>
					<td class="text-left"><i>Valid Root</i></td>
					<td class="text-center" data-ng-bind-html="data.validRoot"></td>
				</tr>
				<tr>
					<td class="text-left"><i>Valid Orphan</i></td>
					<td class="text-center" data-ng-bind-html="data.validOrphan"></td>
				</tr>
				<tr>
					<td class="text-left"><i>Valid Pathname</i></td>
					<td class="text-center" data-ng-bind-html="data.validPathname"></td>
				</tr>
				<tr>
					<td class="text-left"><i>Valid Pathslug</i></td>
					<td class="text-center" data-ng-bind-html="data.validPathslug"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


