{% trans_default_domain 'FOSUserBundle' %}

{# <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
	<div>
		<label for="username" class="mr-4">{{ 'resetting.request.username'|trans }}</label>
		<input type="text" id="username" name="username" required="required" />
	</div>
	<div>
		<input type="submit" class="btn btn-primary btn-md btn-block" value="{{ 'resetting.request.submit'|trans }}" />
	</div>
</form>
 #}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
	<div class="form-group mb-4">
		{# <label class="form-check-label" for="username">{{ 'resetting.request.username'|trans }}</label> #}
		<input type="text" id="username" name="username" required="required" class="form-control form-control-lg rounded border-0" placeholder="{{ 'resetting.request.username'|trans }}" />
	</div>
	<div class="pt-2 text-right">
		<input type="submit" class="btn btn-primary text-uppercase font-size-15 px-6 px-md-7" value="{{ 'resetting.request.submit'|trans }}" />
	</div>
</form>

<div class="text-center mt-6">
	<hr>
	<h4>Renseignez votre nom d'utilisateur ou votre email. Vous recevrez un mail (attention à bien vérifier également dans vos spams) avec un lien vous permettant de changer votre mot de passe. <strong class="text-info">Pensez bien à le noter pour ne pas l'oublier</strong>.</h4>
</div>

