<div class="form-group" data-ng-class="getResultClass(form_child)">
	<div class="col-md-offset-2 col-md-10">
		<div class="checkbox">
			<label>
				<input type="checkbox" data-ng-model="form_child.vars.data" data-switchery="{size: 'small', color: '#3f89d6'}" data-ng-checked="!!form_child.vars.data" data-ng-disabled="form_child.vars.disabled" data-ng-change="form_child.setTouched(true)" data-ng-model="form_child.vars.data" aria-describedby="{[{ 'description_'+form_child.vars.id  }]}"> <span data-translate="{[{ 'entities.'+form_child.parent.vars.value.shortname.toLowerCase()+'.fields.'+form_child.vars.name  }]}"></span>
				<input type="hidden" data-ng-value="!!form_child.vars.data" data-ng-attr-id="{[{ form_child.vars.id  }]}" data-ng-attr-name="{[{ form_child.vars.full_name }]}">
				<span id="{[{ 'description_'+form_child.vars.id  }]}" class="help-block user-help" data-ng-bind="form_child.vars.description"></span>
				<span id="{[{ 'error_'+form_child.vars.id  }]}" data-ng-if="form_child.vars.errors.errors.length" class="help-block">
					<ul><li data-ng-repeat="error in form_child.vars.errors.errors" class="text-danger" data-translate="{[{ 'form.errors.'+error  }]}"></li></ul>
				</span>
			</label>
		</div>
	</div>
</div>
