<div class="form-group" data-ng-class="getResultClass(form_child)">
	<label for="{[{ form_child.vars.id  }]}" class="col-md-2 control-label" data-translate="{[{ 'entities.'+form_child.parent.vars.value.shortname.toLowerCase()+'.fields.'+form_child.vars.name  }]}"></label>
	<div class="col-md-10">
		<!-- https://stackoverflow.com/questions/17922557/angularjs-how-to-check-for-changes-in-file-input-fields -->
		<!-- https://www.guipss.com/posts/angular-ng-change-file/ -->
		<input type="file" class="form-control" data-ng-attr-id="{[{ form_child.vars.id  }]}" data-ng-attr-name="{[{ form_child.vars.full_name }]}" data-ng-disabled="form_child.vars.disabled" onchange="angular.element(this).scope().form_child.setTouched(true);angular.element(this).scope().form.addFile(form_child.vars.id);console.log('ok');" data-ng-model="form_child.vars.data" aria-describedby="{[{ 'description_'+form_child.vars.id  }]}" placeholder="...">
		<span id="{[{ 'description_'+form_child.vars.id  }]}" class="help-block user-help" data-ng-bind="form_child.vars.description"></span>
		<span id="{[{ 'error_'+form_child.vars.id  }]}" data-ng-if="form_child.vars.errors.errors.length" class="help-block">
			<ul><li data-ng-repeat="error in form_child.vars.errors.errors" class="text-danger" data-translate="{[{ 'form.errors.'+error  }]}"></li></ul>
		</span>
	</div>
</div>
