<div class="form-group" data-ng-class="getResultClass(form_child)">
	<label data-ng-if="form_child.parent.parent != null" for="{[{ form_child.vars.id  }]}" class="col-sm-2 control-label" data-translate="{[{ 'entities.'+form_child.parent.parent.vars.data.shortname.toLowerCase()+'.fields.'+form_child.parent.vars.name  }]}"></label>
	<label data-ng-if="form_child.parent.parent == null" for="{[{ form_child.vars.id  }]}" class="col-sm-2 control-label" data-translate="{[{ 'entities.'+form_child.parent.vars.data.shortname.toLowerCase()+'.fields.'+form_child.vars.name  }]}"></label>
	<div class="col-sm-10">
		<textarea data-ng-attr-id="{[{ form_child.vars.id }]}" data-ng-attr-name="{[{ form_child.vars.full_name }]}" class="form-control hidden" data-ng-bind="form_child.vars.data|json"></textarea>
		<div class="tabs-container" aria-describedby="{[{ 'description_'+form_child.vars.id  }]}">
			<!-- <div class="tabs-left"> -->
				<ul class="nav nav-tabs">
					<li data-ng-repeat="locale in form_child.vars.data|keys" data-ng-class="{active: locale === form.currentlocale}">
						<a data-toggle="tab" data-target="{[{ '#tab-'+form_child.vars.id+'-'+locale }]}" data-translate="{[{ 'languages.'+locale }]}"></a>
					</li>
				</ul>
				<div class="tab-content">
					<div data-ng-repeat="locale in form_child.vars.data|keys" data-ng-attr-id="{[{ 'tab-'+form_child.vars.id+'-'+locale }]}" class="tab-pane" data-ng-class="{active: locale === form.currentlocale}">
						<div class="panel-body">
							<div data-summernote data-ng-change="form_child.setTouched(true)" data-ng-model="form_child.vars.data[locale]"></div>
						</div>
					</div>
				</div>
			<!-- </div> -->
		</div>
		<span id="{[{ 'description_'+form_child.vars.id  }]}" class="help-block user-help" data-ng-bind="form_child.vars.description"></span>
		<span id="{[{ 'error_'+form_child.vars.id  }]}" data-ng-if="form_child.vars.errors.errors.length" class="help-block">
			<ul><li data-ng-repeat="error in form_child.vars.errors.errors" class="text-danger" data-translate="{[{ 'form.errors.'+error  }]}"></li></ul>
		</span>
	</div>
</div>
