<!-- <h3 data-translate="{[{ 'entities.'+form.formdata.vars.value.shortname.toLowerCase()+'.fields.'+fieldname  }]}"></h3>
<span id="{[{ 'description_'+form_child.vars.id  }]}" class="help-block user-help" data-ng-bind="form_child.vars.description"></span>
<span id="{[{ 'error_'+form_child.vars.id  }]}" data-ng-if="form_child.vars.errors.errors.length" class="help-block"></span>
<div data-ng-if="hasChildren(form_child)" data-ng-repeat="(fieldname,form_child) in form_child.children">
	<div data-ng-include="form_child.template"></div>
</div>
 -->