<div class="form-group" data-ng-class="getResultClass(form_child)">
	<label for="{[{ form_child.vars.id  }]}" class="col-md-2 control-label" data-translate="{[{ 'entities.'+form_child.parent.vars.value.shortname.toLowerCase()+'.fields.'+form_child.vars.name  }]}"></label>
	<div class="col-md-10">
		<!-- https://stackoverflow.com/questions/17922557/angularjs-how-to-check-for-changes-in-file-input-fields -->
		<!-- https://www.guipss.com/posts/angular-ng-change-file/ -->
		<img data-ng-if="!!form_child.vars.data.fileUrl" data-file-url="{[{ form_child.vars.data.fileUrl }]}" class="img img-responsive" alt="{[{ form_child.vars.data.fileName }]}" style="width:64px;">
		<span class="base64container">
			<div class="btn btn-white btn-sm" data-ng-click="form.setFile(form_child.vars)" data-ng-disabled="form_child.vars.disabled" aria-describedby="{[{ 'description_'+form_child.vars.id  }]}">Nouveau fichier</div>
			<span class="hidden-no-dev superadmin">
				<hr>
				<textarea class="hidden" data-ng-attr-id="{[{ form_child.vars.id  }]}" data-ng-attr-name="{[{ form_child.vars.full_name }]}" data-ng-change="form_child.setTouched(true)" data-ng-model="form_child.vars.data.binaryFile"></textarea>
				<input type="file" data-ng-attr-id="{[{ form_child.vars.id  }]}_FILE" class="hidden" data-ng-change="form.inputFileChange(form_child.vars)" data-ng-model="form_child.vars.data.file" data-ng-attr-accept="{[{ form_child.vars.attr.accept.join(',')  }]}" data-ng-multiple="form_child.vars.attr.multiple || false">
				<input data-ng-change="form_child.setTouched(true)" data-ng-model="form_child.vars.data.fileSize">
				<input data-ng-change="form_child.setTouched(true)" data-ng-model="form_child.vars.data.fileName">
				<input data-ng-change="form_child.setTouched(true)" data-ng-model="form_child.vars.data.fileExtension">
			</span>
		</span>
		<span id="{[{ 'description_'+form_child.vars.id  }]}" class="help-block user-help" data-ng-bind="form_child.vars.description"></span>
		<span id="{[{ 'error_'+form_child.vars.id  }]}" data-ng-if="form_child.vars.errors.errors.length" class="help-block">
			<ul><li data-ng-repeat="error in form_child.vars.errors.errors" class="text-danger" data-translate="{[{ 'form.errors.'+error  }]}"></li></ul>
		</span>
	</div>
</div>
