{% macro site_context(classes) %}
	{% if is_granted('ROLE_ADMIN') %}
	{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

	{% set iconIfNone = 'fa-exclamation-triangle text-danger' %}
	<div class="{{ classes|default('col-md-6') }}">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>{{ 'Site context informations'|trans }}</h5>
				<div class="ibox-tools">
					<a class="collapse-link">
						<i class="fa fa-chevron-up fa-fw"></i>
					</a>
				</div>
			</div>
			<div class="ibox-content table-responsive">
				<table class="table table-condensed table-hover no-margins">
					<thead>
						<tr>
							<th>{{ 'Proriété'|trans }}</th>
							<th>{{ 'Valeur'|trans }}</th>
{# 							{% if site_context.isDevOrSadmin() %}
							<th class="text-center">{{ 'Report'|trans }}</th>
							{% endif %} #}
						</tr>
					</thead>
					<tbody>
						<tr class="bg-info">
							<td>{{ 'Environnement'|trans }}</td>
							<td>{{ actions.entity_label(site_context.environment, null, true, iconIfNone) }}</td>
						</tr>
						<tr>
							<td>{{ 'Entreprise'|trans }}</td>
							<td>{{ actions.entity_label(site_context.entreprise, null, true, iconIfNone) }}</td>
						</tr>
						<tr>
							<td>{{ 'Utilisateur'|trans }}</td>
							<td>{{ actions.entity_label(site_context.user, null, true, iconIfNone) }}</td>
						</tr>
						{% if site_context.isTimetraveller() %}
						<tr>
							<td>{{ 'Context date'|trans }}</td>
							<td>{{ actions.entity_label(site_context.date, null, true, iconIfNone) }}</td>
							<td class="text-center"></td>
						</tr>
						<tr>
							<td>{{ 'Date modifier'|trans }}</td>
							<td>{{ actions.entity_label(site_context.getContextDateAsString()|trans|raw, null, true, iconIfNone) }}</td>
							<td class="text-center"></td>
						</tr>
						{% endif %}
					</tbody>
					{% if app.user.getPreferenceValue('help')|default(false) -%}
					<tfoot>
						<tr>
							<td colspan="100%"><i class="text-muted"><i class="fa fa-arrow-up fa-fw m-r-xs"></i>Données informatives sur le contexte administrateur. Entreprise et/ou profil utilisateur concerné, et date contextuelle.</i></td>
						</tr>
					</tfoot>
					{%- endif %}
				</table>
			</div>
		</div>
	</div>
	{% endif %}
{% endmacro %}

{% macro profile(classes) %}
	{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}
	{# {% set tier = app.user %} #}
	{% set tier = site_context.getEnvironment() %}

	<div class="{{ classes|default('col-md-6') }}">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>{{ 'Profile'|trans }} {{ icon(tier)|raw }} {{ tier.username }}</h5>
				<div class="ibox-tools">
					<a class="collapse-link">
						<i class="fa fa-chevron-up fa-fw"></i>
					</a>
				</div>
			</div>
			<div class="ibox-content table-responsive">
				<table class="table table-condensed table-hover no-margins">
					<thead>
						<tr>
							<th class="text-left">{{ 'Attribut'|trans }}</th>
							<th class="text-left">{{ 'Valeur'|trans }}</th>
						</tr>
					</thead>
					<tbody>
						{% if tier|isInstance('Entreprise') %}

						{% elseif tier|isInstance('User') %}
						<tr>
							<td class="text-left">{{ 'field.name'|trans({}, tier.shortname) }}</td>
							<td class="text-left"><strong>{{ tier.firstname|default(null) }} {{ tier.lastname|default(null) }}</strong></td>
						</tr>
						{% endif %}
						<tr>
							<td class="text-left">{{ 'field.email'|trans({}, tier.shortname) }}</td>
							<td class="text-left"><strong>{{ tier.email }}</strong></td>
						</tr>
						<tr>
							<td class="text-left">{{ 'field.functionality'|trans({}, tier.shortname) }}</td>
							<td class="text-left"><strong>{{ tier.functionality|default('')|raw }}</strong></td>
						</tr>
						<tr>
							<td class="text-left">{{ 'field.description'|trans({}, tier.shortname) }}</td>
							<td class="text-left"><strong>{{ tier.description|default('')|raw }}</strong></td>
						</tr>
						{% if tier|isInstance('Entreprise') %}
							
						{% elseif tier|isInstance('User') %}
						<tr>
							<td class="text-left">{{ ('Entreprises'|trans ~ ' <span class="label label-info pull-right">' ~ tier.associateEntreprises.count ~ '</span>')|raw }}</td>
							<td class="text-left">{{ actions.entity_labels(tier.associateEntreprises, null, true, true) }}</td>
						</tr>
						{% endif %}
						<tr>
							<td class="text-left">{{ ('Groupes'|trans ~ ' <span class="label label-info pull-right">' ~ tier.allGroups.count ~ '</span>')|raw }}</td>
							<td class="text-left">{{ actions.entity_labels(tier.allGroups, {'primary': tier.groups}, true, true) }}</td>
						</tr>
						{% if tier|isInstance('User') and tier.temppassword is not null -%}
						<tr>
							<td class="text-left text-danger">{{ 'field.temppassword'|trans({}, tier.shortname) }}</td>
							<td class="text-left"><strong>{{ tier.temppassword }}</strong></td>
						</tr>
						{%- endif %}
					</tbody>
					{# {% if tier.getPreferenceValue('help')|default(false) -%} #}
					<tfoot>
						<tr>
							<td class="text-right" colspan="100%"><i><a href="{{ path('wsa_' ~ tier.shortname(true) ~ '_show', {id: tier.id}) }}" class="text-muted">Voir plus...</a></i></td>
						</tr>
					</tfoot>
					{# {%- endif %} #}
				</table>
			</div>
		</div>
	</div>
{% endmacro %}

{% macro tutos(classes) %}
	{# {% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %} #}

	<div class="{{ classes|default('col-md-6') }}">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>{{ 'Tutoriels'|trans }}</h5>
				<div class="ibox-tools">
					<a class="collapse-link">
						<i class="fa fa-chevron-up fa-fw"></i>
					</a>
				</div>
			</div>
			<div class="ibox-content table-responsive">
				<table class="table table-condensed table-hover no-margins">
					<thead>
						<tr>
							<th>{{ 'Thème'|trans }}</th>
							<th class="text-right">{{ 'Vidéo'|trans }}</th>
						</tr>
					</thead>
					<tbody>
						{% for link,data in {
							'2Ry5fxcR3YE': {title: 'Tutoriel langues #1 Youtube', text: '<i>Comment procéder à la traduction d\'éléments du site dans les différentes langues</i>'},
							'VXKmCljIwgs': {title: 'Tutoriel PDF Journée Youtube', text: '<i>Comment ajouter une nouvelle version au PDF attribué à une journée</i>'},
							'z2Nm23MBlzQ': {title: 'Tutoriel masquer un évènement dans l\'agenda', text: '<i>Un évènement ne figure plus dans l\'agenda du site, mais doit rester visible sur le site ? Suivez ce tuto !</i>'},
						} %}
						<tr data-toggle="modal" data-target="#tutoModal{{ loop.index }}">
							<td>
								<strong class="text-info">{{ data.title|default('')|striptags }}</strong>
								<p>{{ data.text|default('')|raw }}</p>
							</td>
							<td class="text-right" width="30%">
								{# <a href="https://youtu.be/{{ link }}" target="_blank" title="{{ data.title|default('')|striptags }}"> #}
									<img src="http://i3.ytimg.com/vi/{{ link }}/hqdefault.jpg" class="img-responsive img img-lg img-thumbnail">
								{# </a> #}
							</td>
							<div class="modal inmodal" id="tutoModal{{ loop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
								<div class="modal-dialog modal-lg">
									<div class="modal-content animated flipInY">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Terminer</span></button>
											<h4 class="modal-title">{{ data.title|default('')|striptags }}</h4>
											<small class="font-bold">{{ data.text|default('')|raw }}</small>
										</div>
										<div class="modal-body">
											<p>
												<iframe width="100%" height="500" src="https://www.youtube.com/embed/{{ link }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{# 												<a href="https://youtu.be/{{ link }}" target="_blank" title="{{ data.title|default('')|striptags }}">
													<img src="http://i3.ytimg.com/vi/{{ link }}/hqdefault.jpg" class="img-responsive img img-lg img-thumbnail">
												</a>
 #}											</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-white" data-dismiss="modal">Terminer</button>
										</div>
									</div>
								</div>
							</div>
						</tr>
						{% endfor %}
					</tbody>
					{% if app.user.getPreferenceValue('help')|default(false) -%}
					<tfoot>
						<tr>
							<td colspan="100%"><i class="text-muted"><i class="fa fa-arrow-up fa-fw m-r-xs"></i>Tutoriels Youtube à visionner sans modération (s'ouvrent dans un nouvel onglet de votre navigateur)</i></td>
						</tr>
					</tfoot>
					{%- endif %}
				</table>
			</div>
		</div>
	</div>

{% endmacro %}

{% macro site_updates(classes) %}
	{# {% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %} #}

	{% if is_granted('ROLE_ADMIN') %}
	<div class="{{ classes|default('col-md-6') }}">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>{{ 'Updates'|trans }} / {{ 'Caches'|trans }}</h5>
				<div class="ibox-tools">
					<a class="collapse-link">
						<i class="fa fa-chevron-up fa-fw"></i>
					</a>
				</div>
			</div>
			<div class="ibox-content table-responsive">
				<table class="table table-condensed table-hover no-margins">
					<thead>
						<tr>
							<th>{{ 'Elements'|trans }}</th>
							<th>{{ 'Action'|trans }}</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{ icon('Menu', true, true, ['fa-fw','m-r-xs'])|raw }} Menus du site</td>
							<td>
								<a href="{{ path('wsa_menu_list') }}" class="btn btn-xs btn-white"><i class="fa fa-eye fa-fw woc"></i></a>
								<a href="{{ path('wsa_menu_updateallcachedchilds') }}" class="btn btn-xs btn-white"><i class="fa fa-refresh fa-fw woc"></i></a>
							</td>
						</tr>
						<tr>
							<td>{{ icon('Eventdate', true, true, ['fa-fw','m-r-xs'])|raw }} Agendas du site</td>
							<td>
								<a href="{{ path('wsa_calendar') }}" class="btn btn-xs btn-white"><i class="fa fa-eye fa-fw woc"></i></a>
								<a href="{{ path('wsa_calendar_updateallcachedchilds') }}" class="btn btn-xs btn-white"><i class="fa fa-refresh fa-fw woc"></i></a>
							</td>
						</tr>
						<tr>
							<td>{{ icon('Pageweb', true, true, ['fa-fw','m-r-xs'])|raw }} Pages web du site</td>
							<td>
								<a href="{{ path('wsa_pageweb_list') }}" class="btn btn-xs btn-white"><i class="fa fa-eye fa-fw woc"></i></a>
								<a href="{{ path('wsa_pageweb_updatecache') }}" class="btn btn-xs btn-white"><i class="fa fa-refresh fa-fw woc"></i></a>
							</td>
						</tr>
						{% if is_granted('ROLE_SUPER_ADMIN') %}
						<tr>
							<td>{{ icon('Item', true, true, ['fa-fw','m-r-xs'])|raw }} Metadata entities</td>
							<td>
								<a href="{{ path('wsa_info_entities') }}" class="btn btn-xs btn-white"><i class="fa fa-eye fa-fw woc"></i></a>
								<a href="{{ path('wsa_clearcache_entity') }}" class="btn btn-xs btn-white"><i class="fa fa-refresh fa-fw woc"></i></a>
							</td>
						</tr>
						{% endif %}
						<tr>
							<td>{{ icon('TwgTranslation', true, true, ['fa-fw','m-r-xs'])|raw }} {{ site_context.isTranslator() ? 'Traductions/langues' : 'Textes' }} du site</td>
							<td>
								<a href="{{ path('wsa_twgtranslation_list') }}" class="btn btn-xs btn-white"><i class="fa fa-eye fa-fw woc"></i></a>
								<a href="{{ path('wsa_twgtranslation_reset_cache') }}" class="btn btn-xs btn-white"><i class="fa fa-refresh fa-fw woc"></i></a>
							</td>
						</tr>
						<tr>
							<td>{{ icon('User', true, true, ['fa-fw','m-r-xs'])|raw }} Clear session</td>
							<td>
								<a href="{{ path('website_admin_homepage', {'X-context-reset': 'all'}) }}" class="btn btn-xs btn-white" title="clear ALL session data"><i class="fa fa-refresh fa-fw woc text-danger"></i></a>
								<a href="{{ path('website_admin_homepage', {'X-context-reset': 'context'}) }}" class="btn btn-xs btn-white" title="clear CONTEXT session data"><i class="fa fa-refresh fa-fw woc text-warning"></i></a>
							</td>
						</tr>
					</tbody>
					{% if app.user.getPreferenceValue('help')|default(false) -%}
					<tfoot>
						<tr>
							<td colspan="100%"><i class="text-muted"><i class="fa fa-arrow-up fa-fw m-r-xs"></i>Certaines modifications sur le site peuvent ne pas prendre effet immédiatement, car les informations restent en cache sur le serveur. Pour vider les caches, lancer la réinitialisation pour la cache concernée.</i></td>
						</tr>
					</tfoot>
					{%- endif %}
				</table>
			</div>
		</div>
	</div>
	{% endif %}

{% endmacro %}

{% macro site_operations(classes) %}
	{% if is_granted('ROLE_SUPER_ADMIN') %}
	{% if site_context.isEvents() %}
	{# {% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %} #}

	<div class="{{ classes|default('col-md-6') }}">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>{{ 'Checks'|trans }}</h5>
				<div class="ibox-tools">
					<a class="collapse-link">
						<i class="fa fa-chevron-up fa-fw"></i>
					</a>
				</div>
			</div>
			<div class="ibox-content table-responsive">
				<table class="table table-condensed table-hover no-margins">
					<thead>
						<tr>
							<th>{{ 'Elements'|trans }}</th>
							<th>{{ 'Action'|trans }}</th>
						</tr>
					</thead>
					<tbody>
						{% if is_granted('ROLE_ADMIN') %}
						<tr>
							<td>{{ icon('Event', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Event')|raw }}/agenda</td>
							<td>
								<a href="{{ path('wsa_event_visibleagenda', {visibleagenda: 1}) }}" class="btn btn-xs btn-white action-confirm" title="Tous visibles"><i class="fa fa-calendar-plus-o fa-fw woc text-info"></i></a>
								<a href="{{ path('wsa_event_visibleagenda', {visibleagenda: 0}) }}" class="btn btn-xs btn-white action-confirm" title="Tous invisibles"><i class="fa fa-calendar-minus-o fa-fw woc text-danger"></i></a>
							</td>
						</tr>
						<tr>
							<td colspan="100%"><i class="text-muted"><i class="fa fa-arrow-up fa-fw m-r-xs"></i>On peut choisir pour chaque évènement s'il est visible ou pas dans l'agenda. Ici, l'action regroupe TOUS les évènements pour choisir s'ils sont TOUS visibles ou TOUS invisibles dans l'agenda. À utiliser avec précaution, donc !</i></td>
						</tr>
						{% endif %}
						{% if is_granted('ROLE_ADMIN') %}
						<tr>
							<td>{{ icon('Journey', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Journey')|raw }}/{{ 'names'|trans({}, 'Event')|raw }}</td>
							<td>
								<a href="{{ path('wsa_journey_list') }}" class="btn btn-xs btn-white"><i class="fa fa-eye fa-fw woc"></i></a>
								<a href="{{ path('wsa_event_checkjourneys') }}" class="btn btn-xs btn-white">{{ icon('Journey', true, true, ['fa-fw','woc'])|raw }}</i></a>
							</td>
						</tr>
						<tr>
							<td colspan="100%"><i class="text-muted"><i class="fa fa-arrow-up fa-fw m-r-xs"></i>Chaque journée contient tous les évènements et informations la concernant. Si les informations peinent à se mettre à jour, lancer l'opération de check des journées.</i></td>
						</tr>
						{% endif %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	{% endif %}
	{% endif %}

{% endmacro %}

{% macro site_modules(classes) %}
	{% if is_granted('ROLE_ADMIN') %}
	{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}

	<div class="{{ classes|default('col-md-6') }}">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>{{ 'Website modules'|trans }}</h5>
				<div class="ibox-tools">
					<a class="collapse-link">
						<i class="fa fa-chevron-up fa-fw"></i>
					</a>
				</div>
			</div>
			<div class="ibox-content table-responsive">
				<table class="table table-condensed no-margins">
					<thead>
						<tr>
							<th class="text-center" style="width: 64px;">{{ 'Status'|trans }}</th>
							<th>{{ 'Module'|trans }}</th>
						</tr>
					</thead>
					<tbody>
						{% for name, status in site_context.modules.getModulesStatus() -%}
						<tr>
							<td class="text-center">{{ actions.booleanIcon(status) }}</td>
							{% if status %}
							<td><strong><u>{{ name|trans|raw|ucfirst }}</u></strong></td>
							{% else %}
							<td class="text-muted"><i>{{ name|trans|raw|ucfirst }}</i></td>
							{% endif %}
						</tr>
						{%- endfor %}
					</tbody>
					{% if app.user.getPreferenceValue('help')|default(false) -%}
					<tfoot>
						<tr>
							<td colspan="100%"><i class="text-muted"><i class="fa fa-arrow-up fa-fw m-r-xs"></i>Liste des modules et leurs statuts.</i></td>
						</tr>
					</tfoot>
					{%- endif %}
				</table>
			</div>
		</div>
	</div>
	{% endif %}

{% endmacro %}

{% macro site_stats(classes) %}
	{# {% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %} #}

	<div class="{{ classes|default('col-md-6') }}">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>{{ 'Traffic site internet'|trans }}</h5>
				<div class="ibox-tools">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a class="close-link">
						<i class="fa fa-times"></i>
					</a>
				</div>
			</div>
			<div class="ibox-content">
				{# <h3 class="text-center text-warning">{{ 'Plugin statistique non activé pour le moment.'|trans }}</h3> #}
				<div class="flot-chart">
					{# {% set data = [{label:'chiffres',data:[[1,34],[2,25],[3,19],[4,34],[5,32],[6,44]]}] %} #}
					{% set options = {series:{lines:{show:true,lineWidth:3,fill:true,fillColor:{colors:[{opacity:0.4},{opacity:0.4}]}}},xaxis:{tickDecimals:0},yaxis:{tickDecimals:1},colors:["#337ab7"],grid:{color:"#999999",hoverable:true,clickable:true,tickColor:"#D4D4D4",borderWidth:0},legend:{show:false},tooltip:true,tooltipOpts:{content:"%y"}} %}
					<div class="flot-chart-content" data-flot-line-chart="{{ path('modelapibase-get-loggs')|json_encode }}"></div>
					{# <div class="flot-chart-content flot-line-chart" data-flotchart-data="{{ data|json_encode }}" data-flotchart-options="{{ options|json_encode }}"></div> #}
				</div>
				{% if app.user.getPreferenceValue('help')|default(false) %}
				<hr>
				<i class="text-muted">Représentation graphique des données de fréquentation du site durant les dernière heures.</i>
				{% endif %}
			</div>
		</div>
	</div>
{% endmacro %}

{% macro site_perfs(classes) %}
	{# {% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %} #}

	<div class="{{ classes|default('col-md-6') }}">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>{{ 'Performances site internet'|trans }}</h5>
				<div class="ibox-tools">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a class="close-link">
						<i class="fa fa-times"></i>
					</a>
				</div>
			</div>
			<div class="ibox-content">
				{# <h3 class="text-center text-warning">{{ 'Plugin statistique non activé pour le moment.'|trans }}</h3> #}
				<div class="flot-chart">
					{# {% set data = [{label:'chiffres',data:[[1,34],[2,25],[3,19],[4,34],[5,32],[6,44]]}] %} #}
					{% set options = {series:{lines:{show:true,lineWidth:3,fill:true,fillColor:{colors:[{opacity:0.4},{opacity:0.4}]}}},xaxis:{tickDecimals:0},yaxis:{tickDecimals:1},colors:["#337ab7"],grid:{color:"#999999",hoverable:true,clickable:true,tickColor:"#D4D4D4",borderWidth:0},legend:{show:false},tooltip:true,tooltipOpts:{content:"%y"}} %}
					<div class="flot-chart-content" data-flot-line-chart="{{ path('modelapibase-get-perfs')|json_encode }}"></div>
					{# <div class="flot-chart-content flot-line-chart" data-flotchart-data="{{ data|json_encode }}" data-flotchart-options="{{ options|json_encode }}"></div> #}
				</div>
				{% if app.user.getPreferenceValue('help')|default(false) %}
				<hr>
				<i class="text-muted">Représentation graphique des performances du site durant les dernière heures.</i>
				{% endif %}
			</div>
		</div>
	</div>
{% endmacro %}

{% macro environment_counter(classes) %}
	{% set environment_info = site_context.getCountersEnvironments() %}
		{# {{ dump(environment_info) }} #}
	<div class="{{ classes|default('col-md-6') }}">
		<div class="row">
			{% for shortname,data in environment_info %}
			<div class="col-xs-6 col-md-6 col-lg-3">
				<a href="{{ path('wsa_' ~ shortname|lower ~ '_list') }}" class="woc">
					<div class="widget style1 lazur-bg">
						<div class="row">
							<div class="col-xs-4">
								{{ icon(shortname, true, true, ['fa-5x'])|raw }}
							</div>
							<div class="col-xs-8 text-right">
								<span> {{ 'names'|trans({}, shortname) }} </span>
								{# <h2 class="font-bold">{{ data.count }}</h2> #}
							</div>
						</div>
					</div>
				</a>
			</div>
			{% endfor %}
			{# {% for item,count in environment_info|default([]) %}
			{% if item == '_user' and count|isInstance('Tier') %}
			<div class="col-xs-6 col-md-4 col-lg-3">
				<a href="{{ path('wsa_' ~ count.shortname|lower ~ '_show', {id: count.id}) }}" class="woc">
					<div class="widget style1 navy-bg">
						<div class="row">
							<div class="col-xs-4">
								{{ icon(count, true, true, ['fa-5x'])|raw }}
							</div>
							<div class="col-xs-8 text-right">
								<span> {{ 'name'|trans({}, count.shortname) }} </span>
								<h4 class="font-bold">{{ count.username }}</h4>
							</div>
						</div>
					</div>
				</a>
			</div>
			{% elseif item != '_user' %}
			<div class="col-xs-6 col-md-4 col-lg-3">
				<a href="{{ path('wsa_' ~ item|lower ~ '_list') }}" class="woc">
					<div class="widget style1 lazur-bg">
						<div class="row">
							<div class="col-xs-4">
								{{ icon(item, true, true, ['fa-5x'])|raw }}
							</div>
							<div class="col-xs-8 text-right">
								<span> {{ 'names'|trans({}, item) }} </span>
								<h2 class="font-bold">{{ count }}</h2>
							</div>
						</div>
					</div>
				</a>
			</div>
			{% endif %}
			{% endfor %} #}
			{% if is_granted('ROLE_SUPER_ADMIN') %}
			{% set doublons = getDoublons() %}
			{% if doublons|length > 0 %}
			<div class="col-xs-6 col-md-4 col-lg-3">
				<a href="{{ path('wsa_info_directorys', {action: 'show-doublons'}) }}" class="woc">
					<div class="widget style1 red-bg">
						<div class="row">
							<div class="col-xs-4">
								<i class="fa fa-clone fa-fw fa-5x"></i>
							</div>
							<div class="col-xs-8 text-right">
								<span> Doublons </span>
								<h2 class="font-bold">{{ doublons|length }}</h2>
							</div>
						</div>
					</div>
				</a>
			</div>
			{% endif %}
			{% endif %}
		</div>
	</div>
{% endmacro %}

{# ---------------------- DEV INFORMATIONS ---------------------- #}

{% macro devInformations(params) %}
	{% if site_context.isDevOrSadmin() %}
	{% import _self as self %}
	{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}
	<div class="ibox float-e-margins collapsed">
		<div class="ibox-title">
			<h5>DEV/Sadmin informations</h5>
			<div class="ibox-tools">
				<a class="collapse-link">
					<i class="fa fa-chevron-up fa-fw"></i>
				</a>
			</div>
		</div>
		<div class="ibox-content">
			<div class="row">
				<div class="col-lg-6">
					{# SITE CONTEXT #}
					<h3 class="border-bottom" style="margin-top: 24px;">Site Context <small>Current {{ actions.booleanIcon(site_context.isNormalContext()) }}</small></h3>
					<div class="row">
						<div class="col-sm-3 text-right"><span class="text-success">Context date</span></div>
						<div class="col-sm-9">{{ site_context.date|localizeddate('full', 'full', currentLanguage.fullname) }}</div>
					</div>

					{# FLASH MESSAGES #}
					<h3 class="border-bottom" style="margin-top: 24px;">Flash messages</h3>
					{% set nomsg = true %}
					{% for mtype,classe in {success: 'success', info: 'info', warning: 'warning', error: 'danger'} %}
					{% set messages = app.flashes(mtype) %}
					{% if messages|length %}
					<div class="alert alert-{{ classe }}">
						{% for message in messages -%}
						<p class="m-b-none" data-flash-message data-type="{{ classe }}" data-support="{{ message.support }}"><i class="fa fa-comment fa-fw m-r-xs"></i>{{ message.message|raw }} <i class="text-muted">(Role: {{ message.role|default('AUCUN') }})</i></p>
						{%- endfor %}
					</div>
					{% set nomsg = false %}
					{% endif %}
					{% endfor %}
					{% if nomsg %}
					<div class="alert alert-info">
						<p class="m-b-none"><i class="fa fa-comment fa-fw m-r-xs"></i>Aucun message à afficher</p>
					</div>
					{% endif %}
					{% if params.form|default(null) is not null %}
						<h3 class="border-bottom" style="margin-top: 24px;">Ceci est une page avec formulaire : pas de formulaire ici.</h3>
					{% else %}
					{% if params.entity is not null and params.entity|isInterface('NestedInterface') and params.entity.id is not null %}
						<h3 class="border-bottom" style="margin-top: 24px;">Change owner of this entity {{ params.entity.name }}</h3>
						{% set form = getAnnotUpdateForm(params.entity, app.user, ['change_owner']) %}
						{% if form is not null %}
							{{ form(form) }}
						{% else %}
							<h3 class="text-danger border-bottom" style="margin-top: 24px;">Impossible de générer le formulaire...</h3>
						{% endif %}
					{% endif %}
					{% endif %}
				</div>

				<div class="col-lg-6">
					{# ENTITY #}
					<h3 class="border-bottom" style="margin-top: 24px;">Entity <i><small class="text-muted">{{ params.entity.shortname|default(null) }}</small></i> {{ actions.booleanIcon(params.entity|default(null) is not null) }}</h3>
					<ul id="oneentity" class="sortable-list connectList agile-list ui-sortable" sortable-list=".connectList">
						{{ self.showEntity({entity: params.entity}) }}
					</ul>

					{# ENTITY IN FORM #}
					{% set form_entity = params.form|default(null) %}
					{% if form_entity is not null %}
					<h3 class="border-bottom" style="margin-top: 24px;">Entity in form <i><small class="text-muted">{{ form_entity.vars.data.shortname }}</small></i> {{ actions.booleanIcon(form_entity.vars.data is not null) }}</h3>
					<ul class="agile-list">
						{{ self.showEntity({entity: form_entity.vars.data}) }}
					</ul>
					{% endif %}

					{# ENTITIES #}
					{% set number_max = 50 %}
					<h3 class="border-bottom" style="margin-top: 24px;">Entities {{ actions.booleanIcon(params.entities|default([])|length) }}</h3>
					{% if params.entities|default([])|length %}
					{% set sliced = params.entities|slice(0,number_max) %}
					{% if params.entities|length > sliced|length %}
					<div class="alert alert-warning">Affichage {{ sliced|length }} sur {{ params.entities|length }}...</div>
					{% endif %}
					<ul id="entitylist" class="sortable-list connectList agile-list ui-sortable" sortable-list=".connectList">
						{% for one_entity in sliced %}{{ self.showEntity({entity: one_entity}) }}{% endfor %}
					</ul>
					<div class="well">
						<h4>Sortable list demo</h4>
						<div class="output connectList"></div>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	{% endif %}
{% endmacro %}

{% macro showEntity(params) %}
	{% if site_context.isDevOrSadmin() %}
	{% if params.entity is not null %}
		{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as actions %}
		{# {% set test = params.entity.computeRootparent()|default(null) %} #}
		<li class="{{ params.entity|status_color('success', null, '-element') }} ui-sortable-handle" id="task{{ params.entity.bddid }}">
			<h5>{{ icon(params.entity, true, true, ['fa-fw'])|raw }} {{ 'name'|trans({}, params.entity.shortname)|striptags }} {{ params.entity.name|default(params.entity.id) }}</h5>
			<div class="row">
				<div class="col-sm-3 text-right"><span class="text-success">nom</span></div>
				<div class="col-sm-9">{{ params.entity.name|default(params.entity.id) }}</div>
			</div>
			<div class="row">
				<div class="col-sm-3 text-right"><span class="text-success">Shortname</span></div>
				<div class="col-sm-9">{{ params.entity.shortname }}</div>
			</div>
			{% if params.entity.contextdate|default(null) is not null %}
			<div class="row">
				<div class="col-sm-3 text-right"><span class="text-success">Context date</span></div>
				<div class="col-sm-9">{{ params.entity.contextdate|localizeddate('full', 'full', currentLanguage.fullname) }}</div>
			</div>
			{% endif %}
			<div class="row">
				<div class="col-sm-3 text-right"><span class="text-success">Deep control</span></div>
				<div class="col-sm-9">{{ actions.booleanIcon(params.entity.deepControl) }}</div>
			</div>
			<div class="row">
				<div class="col-sm-3 text-right"><span class="text-success">Public filtered</span></div>
				<div class="col-sm-9">{{ actions.booleanIcon(params.entity.publicFiltered) }}</div>
			</div>
			<div class="row">
				<div class="col-sm-3 text-right"><span class="text-success">Mode context</span></div>
				<div class="col-sm-9">{{ params.entity.modeContext }}</div>
			</div>
			{# {{ actions.alertStatus(params.entity) }} #}
			{% if params.entity|isInstance('Item') %}
			<h5 class="m-t-none p-b-xs">{{ icon('Directory', true, true, ['fa-fw'])|raw }} Directorys</h5>
			<div class="row">
				<div class="col-sm-3 text-right"><span class="text-success">Root</span></div>
				<div class="col-sm-9">{{ actions.booleanIcon(params.entity.isRoot()) }}</div>
			</div>
			<div class="row">
				<div class="col-sm-3 text-right"><span class="text-success">Orphan</span></div>
				<div class="col-sm-9">{{ actions.booleanIcon(params.entity.isOrphan()) }}</div>
			</div>
			<div class="row">
				<div class="col-sm-3 text-right"><span class="text-success">Owner</span></div>
				<div class="col-sm-9">{{ actions.entity_label(params.entity.owner, 'primary', true, true) }}</div>
			</div>
			<div class="row">
				<div class="col-sm-3 text-right"><span class="text-success">Owners</span></div>
				<div class="col-sm-9">{{ actions.entity_labels(params.entity.owners, 'primary', true, true) }}</div>
			</div>
			<div class="row">
				<div class="col-sm-3 text-right"><span class="text-success">Root parent</span></div>
				<div class="col-sm-9">{{ actions.entity_label(params.entity.rootparent, 'primary', true, true) }}</div>
			</div>
			<div class="row">
				<div class="col-sm-3 text-right"><span class="text-success">Parent</span></div>
				<div class="col-sm-9">{{ actions.entity_label(params.entity.parent, 'primary', true, true) }}</div>
			</div>
			<div class="row">
				<div class="col-sm-3 text-right"><span class="text-success">Parents</span></div>
				<div class="col-sm-9">{{ actions.entity_labels(params.entity.dirParents, {'primary': [params.entity.parent]}, true, true) }}</div>
			</div>
			<div class="row">
				<div class="col-sm-3 text-right"><span class="text-success">Parents to root</span></div>
				<div class="col-sm-9">{{ actions.directory_labels(params.entity.parent, {'primary': [params.entity.parent]}, true, true) }}</div>
			</div>
			{% if params.entity|isInstance('Pageweb') %}
			<div class="row">
				<div class="col-sm-3 text-right"><span class="text-success"><i class="fa fa-link fa-fw text-muted"></i> Section</span></div>
				<div class="col-sm-9">{{ actions.entity_label(params.entity.section, null, true, true) }}</div>
			</div>
			{% endif %}
			<div class="row">
				<div class="col-sm-3 text-right"><span class="text-success">Level</span></div>
				<div class="col-sm-9">{{ params.entity.lvl }}</div>
			</div>
			<div class="row">
				<div class="col-sm-3 text-right"><span class="text-success">Path slug</span></div>
				<div class="col-sm-9">
					{{ actions.iconIfEmpty(params.entity.pathslug) }}
					{# <br> #}
					{# <i class="text-muted">Updated:</i> {{ actions.iconIfEmpty(params.entity.getPathslug(false)) }} #}
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3 text-right"><span class="text-success">Path name</span></div>
				<div class="col-sm-9">
					{{ actions.iconIfEmpty(params.entity.pathname) }}
					{# <br> #}
					{# <i class="text-muted">Updated:</i> {{ actions.iconIfEmpty(params.entity.getPathname(false)) }} #}
				</div>
			</div>
			{% else %}
				{#  #}
			{% endif %}
		</li>
	{% endif %}
	{% endif %}
{% endmacro %}

