
{%- macro agenda_month(data_comp, title) -%}
	{% if data_comp|length -%}
	{% set title = title ?? data_comp.title %}
	<h3 class="text-center text-capitalize"><strong>{{ title|isString ? title : title|date("F Y", site_context.getTimeZone()) }}</strong></h3>
	<table class="table table-condensed table-agenda" style="table-layout: fixed;">
		<thead>
			<tr>
				{% for day in namesOfDay(2) -%}<th>{{ day|upper }}</th>{%- endfor %}
			</tr>
		</thead>
		<tbody>
			{% for i,item1 in data_comp.days -%}
			<tr>
				{% for j,item2 in item1 -%}
				{% if item2 is not null %}
					{% set today = site_context.isContextToday(item2.start|default(item2)) ? ' today' : '' %}
					{% set deprecated = site_context.isContextDeprecated(item2.start|default(item2)) ? ' opacity-5' : '' %}
				{% endif %}
				{%- if item2|isInstance('DateTime') -%}
				<td class="text-center{{ today }}{{ deprecated }} text-muted" style="background-color: transparent;">{{ item2|date('d', site_context.getTimeZone()) }}</td>
				{%- elseif item2|isArray and item2.start is defined -%}
				{% if item2._events|default([])|length > 0 %}
				{% set titles = [] %}
				{% for ti in item2._events %}{% set titles = titles|merge([ti.menutitle|striptags]) %}{% endfor %}
				<td class="text-center{{ today }}{{ deprecated }} cursor-pointer font-weight-bold title-popover agenda-event" style="background-color: {{ item2.parc.color|default('transparent') }};" data-toggle="popover" data-placement="bottom" data-trigger="focus" title="{{ item2.start|localizeddate('full', 'none', currentLanguage.fullname) }}" data-content='<ul class="list-unstyled"><li class="font-weight-bold text-center">{{ titles|arrayunique|join("</li><li>") }}</li></ul><hr class="my-1"><p>{{ (item2.parc.resume|default(''))|striptags }}</p>'>{{ item2.start|date('d', site_context.getTimeZone()) }}</td>
				{%- else -%}
				<td class="text-center{{ today }}{{ deprecated }} cursor-pointer" style="background-color: {{ item2.parc.color|default('transparent') }};">{{ item2.start|date('d', site_context.getTimeZone()) }}</td>
				{%- endif -%}
				{%- else -%}
				<td class="text-center" style="background-color: transparent;">&nbsp;</td>
				{%- endif -%}
				{%- endfor %}
			</tr>
			{%- endfor %}
		</tbody>
	</table>
	{% endif -%}
{%- endmacro -%}

{% macro month(year, month) %}
	{% import _self as self %}
	{% set calendars = parcsCalendars(year|default(site_context.getContextYear()), month|default('04')) %}
	{# {% set calendars = parcsCalendars(year|default(site_context.getContextYear()), month|default(site_context.getContextMonth())) %} #}
	{# {{ dump([month, year]) }} #}
	{% set compiled = calendars.getCompiled() %}
	{% if compiled|length -%}
	<div class="m-b-xs m-t-xs">
		{{ self.agenda_month(compiled) }}
	</div>
	{% endif %}
{% endmacro %}

