{# {% macro dump_content(entity, levels) %}
		{% import _self as self %}
	{% set levels = levels|default(4) %}
	{% if entity.directorysystem is defined %}
	<ul class="unstyled">
		<li title="Entity system dir: {{ entity.directorysystem }}"><strong><u>System</u> Directory</strong> :
			{{ self.dump_content_level(entity.directorysystem, levels - 1) }}
		</li>
	</ul>
	{% endif %}
	{% if entity.directoryroot is defined %}
	<ul class="unstyled">
		<li title="Entity root dir: {{ entity.directoryroot }}"><strong><u>Root</u> Directory</strong> :
			{{ self.dump_content_level(entity.directoryroot, levels - 1) }}
		</li>
	</ul>
	{% endif %}
{% endmacro %}

{% macro dump_content_level(item, levels) %}
		{% import _self as self %}
	{% set files = item.files|default([]) %}
	{% if levels >= 0 and files|length %}
	<ul class="unstyled">
		{% for file in files %}
		<li title="Class {{ file.shortname ~ ' > ' ~ file.item.shortname }}"><a class="woc" href="{{ pageweb_path(file.item, {}) }}"><i class="fa {{ file.icon|default('fa-cirle') }} fa-fw"></i> {{ file.item }}</a>
			{{ self.dump_content_level(file.item, levels - 1) }}
		</li>
		{% endfor %}
	</ul>
	{% endif %}
{% endmacro %}
 #}