{% macro flashMessages() %}
	<span id="flashbag_messages" style="display:none;">
		{% for label, messages in app.flashes %}
		{% for message in messages if message is iterable and is_granted(message.role|default(null)) %}
		<div data-flash-message data-type="{{ label }}" data-support="{{ message.support }}">{{ message.message|trans|raw }}</div>
		{% endfor %}
		{% endfor %}
	</span>
{% endmacro %}

{% macro booleanIcon(value, class_true, class_false, size) %}
	{{ value|isBoolean(true) ? ('<i class="fa ' ~ class_true|default('fa-check text-info') ~ ' fa-fw fa-' ~ size|default(1) ~ 'x"></i>')|raw : ('<i class="fa ' ~ class_false|default('fa-times text-danger') ~ ' fa-fw fa-' ~ size|default(1) ~ 'x"></i>')|raw }}
{% endmacro %}

{% macro iconIfEmpty(value, class_empty, size) %}
	{{ value is empty ? ('<i class="fa ' ~ class_empty|default('fa-times text-danger') ~ ' fa-fw fa-' ~ size|default(1) ~ 'x"></i>')|raw : value|raw }}
{% endmacro %}

{%- macro buttons_header(actions, entity) -%}
	{% set actions = entity_actions(entity, actions|default('@list')) %}
	{% if actions.hasValidUrls() %}
	<div class="btn-group btn-group-sm pull-right" role="group" aria-label="actions">
		{% for name,action in actions if action.hasUrl() %}
		<a href="{{ action.url }}" role="button" class="woc btn {{ action.btn }}{{ action.confirm ? ' action-confirm' }}{{ action.disabled ? ' disabled' }} m-l-xs">{{ action.disabled ? ' disabled="disabled"' }}<i class="fa {{ action.icon }} fa-fw m-r-xs"></i>{{ action.title|trans|striptags }}</a>
		{% endfor %}
	</div>
	{% endif %}
{%- endmacro -%}

{% macro menuFormContexts(user, update) %}
	{% set contexts = user.preferences.value('forms|contexts', ['simple']) %}
	{% if not update|default(true) %}
		{% for context in contexts %}
		<span class="label label-primary m-l-xs">{{ context }}</span>
		{% endfor %}
	{% else %}
		<div class="btn-group">
			<button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Selon votre niveau, sélectionnez un mode pour afficher les champs dont vous avez besoin dans le formulaire ci-dessous.">
				&nbsp;{{ contexts|join('/') }}&nbsp;&nbsp;&nbsp;<span class="caret"></span>&nbsp;
			</button>
			<ul class="dropdown-menu">
				<li><a href="{{ path('wsa_tier_setpreference', {id: user.id, path: "forms|contexts", value: ["simple"]|json_encode }) }}">Simple</a></li>
				<li><a href="{{ path('wsa_tier_setpreference', {id: user.id, path: "forms|contexts", value: ["medium"]|json_encode }) }}">Medium</a></li>
				<li><a href="{{ path('wsa_tier_setpreference', {id: user.id, path: "forms|contexts", value: ["expert"]|json_encode }) }}">Expert</a></li>
				<li><a href="{{ path('wsa_tier_setpreference', {id: user.id, path: "forms|contexts", value: ["all"]|json_encode }) }}">All</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="{{ path('wsa_tier_setpreference', {id: user.id, path: "forms|contexts", value: ["simple"]|json_encode }) }}">Default</a></li>
			</ul>
		</div>
	{% endif %}
{% endmacro %}

{%- macro alertStatus(entity) -%}
	{# {% import _self as self %} #}
	{% if entity.softdeleted|default(false) %}
	<div class="alert alert-{{ entity|status_color }} text-center alert-dismissable" role="alert"><i class="fa fa-exclamation-triangle fa-fw m-r-xs"></i>{{ "Cet élément a été supprimé." }}</div>
	{% elseif entity|attr('adminvalidated', false, null, true) == false %}
	<div class="alert alert-{{ entity|status_color }} text-center alert-dismissable" role="alert"><i class="fa fa-exclamation-triangle fa-fw m-r-xs"></i>{{ "Cet élément doit être validé par un administrateur pour être activé.<br>La demande de validation sera envoyé aux administrateurs dès l'enregistrement.<br>Aucune opération supplémentaire n'est nécessaire de votre part." }}</div>
	{% elseif entity.inactive|default(false) %}
	<div class="alert alert-{{ entity|status_color }} text-center alert-dismissable" role="alert"><i class="fa fa-exclamation-triangle fa-fw m-r-xs"></i>{{ "Cet élément est désactivé." }}</div>
	{% endif %}
	{% if entity|isInstance('Annonce') %}
		{% if entity.isPeremption %}
		<div class="alert alert-{{ entity|status_color }} text-center alert-dismissable" role="alert"><i class="fa fa-exclamation-triangle fa-fw m-r-xs"></i>{{ "Cette annonce est périmée." }}</div>
		{% elseif entity.isSoonPeremption() %}
		<div class="alert alert-{{ entity|status_color }} text-center alert-dismissable" role="alert"><i class="fa fa-exclamation-triangle fa-fw m-r-xs"></i>{{ "Cette annonce est bientôt périmée (moins de 72 heures)." }}</div>
		{% endif %}
	{% endif %}
	{# {% if is_granted('ROLE_SUPER_ADMIN') %}
		{% if entity._is_model|default(false) %}
		<div class="alert alert-danger text-center alert-dismissable" role="alert"><i class="fa fa-exclamation-triangle fa-fw m-r-xs"></i>{{ "Cet élément est un MODEL." }}</div>
		{% else %}
		<div class="alert alert-success text-center alert-dismissable" role="alert"><i class="fa fa-exclamation-triangle fa-fw m-r-xs"></i>{{ "Cet élément est une ENTITE." }}</div>
		{% endif %}
	{% endif %} #}
{%- endmacro -%}

{%- macro showOnwers(entity) -%}
	{% if (is_granted('ROLE_SUPER_ADMIN') or app.environment == 'dev') and entity|isInterface('NestedInterface') %}
	{% import _self as self %}
	<div class="row">
		<div class="col-md-6">
			{% set owners = entity.owners(true) %}
			<h4 class="text-left m-xs p-xs border-top-bottom border-left-right">Propriétaires : {{ self.entity_label(entity.owner, owners.contains(entity.owner) ? 'primary' : 'danger') }} <i class="fa fa-arrow-right fa-fw text-muted"></i> {{ self.entity_labels(owners) }} <i class="fa fa-arrow-right fa-fw text-muted"></i> {{ self.entity_label(entity.ownerdir) }} </h4>
			<div class="row">
				<div class="col-md-6">
					<h4 class="text-left m-xs p-xs border-top-bottom border-left-right">Actual User : {{ self.entity_label(entity.owner, entity.id is null and entity.owner == app.user ? 'info' : 'primary') }}</h4>
				</div>
				<div class="col-md-6">
					{% if entity.id is null %}
					<h4 class="text-left m-xs p-xs border-top-bottom border-left-right">Environment : {{ entity|isInterface('NestedInterface') ? self.entity_label(entity.contextEnvironment, entity.contextEnvironment == site_context.environment ? 'primary' : 'danger') : '<i class="fa fa-times fa-fw text-muted"></i>'|raw }}</h4>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<h4 class="text-left m-xs p-xs border-top-bottom border-left-right">Dossiers parents : {{ self.entity_labels(entity.allParents(true)) }}</h4>
			<h4 class="text-left m-xs p-xs border-top-bottom border-left-right">Tous les dossiers:
				<ul>
				{% for dir in entity.dirparents|default([]) %}
					<li>{{ self.entity_label(dir) }}</li>
				{% endfor %}
				</ul>
			</h4>
		</div>
	</div>
	{% endif %}
{%- endmacro -%}

{%- macro buttons_groups(entity, addedButtons, actions) -%}
	{% if entity|isObject %}
	{% set actions = entity_actions(entity, '@entity') %}
	{% if actions.hasValidUrls() or addedButtons|default(null) is not null %}
	<div class="btn-group btn-group-xs" role="group" aria-label="actions">
		{% for name,action in actions if action.hasUrl() %}
		<a role="button" href="{{ action.url }}" title="{{ action.title|trans }}" class="woc btn {{ action.btn }}{{ action.confirm ? ' action-confirm' }}{{ action.disabled ? ' disabled' }}"{{ action.disabled ? ' disabled="disabled"' }}>
			<i class="fa {{ action.icon }} fa-fw"></i>
		</a>
		{% endfor %}
		{%- if addedButtons|default(null) is not null -%}{{ addedButtons|raw }}{%- endif -%}
		{% if entity|isObject and is_granted('ROLE_SUPER_ADMIN') %}
		<a role="button" class="btn btn-xs btn-white woc" data-show-info="{{ path('modelapifile-getitem-validity', {id: entity.id})|json_encode }}" data-check-item-url="{{ path('modelapifile-action-on-item', {id: entity.id, action: 'check'})|json_encode }}" title="Informations {{ entity.shortname }} {{ entity.name }}">
			<i class="fa fa-info fa-fw"></i>
		</a>
		{% endif %}
	</div>
	{% else %}
	<small><i class="text-muted">No action</i></small>
	{% endif %}
	{% else %}
	<small><i class="text-muted">{{ entity.isFacticee()|default(false) ? '(Facticee)' : '(Array)' }}</i></small>
	{% endif %}
{%- endmacro -%}

{%- macro entity_label(entity, colors, printIcon, iconIfNone, trans_domain, marge) -%}
	{% set color = action_color(colors|default('default'), entity|default(null)) %}
	{% set marge = marge|default('') %}
	{# {% set marge = marge|default('m-l-xs ') %} #}
	{%- if entity|isObject %}
		{% if entity.isFacticee() %}
			<a href="{{ entity_url(entity, 'show') }}" class="woc label label-{{ color }} {{ marge|default('') }}m-t-md" title="{{ entity.name }}">{{ printIcon|default(true) ? ('<i class="fa ' ~ entity.icon|default('fa-question') ~ ' fa-fw m-r-xs"></i> ')|raw }}{{ entity.name|truncate(20, false) }}</a>
		{% else %}
			{%- if entity|isInstance(['ArrayCollection']) %}
				{% import _self as self %}
				{{ self.entity_labels(entity. colors|default('default'), printIcon|default(true), iconIfNone|default(false), trans_domain|default('domain_admin'), marge) }}
			{%- elseif entity|isInstance(['User']) %}
				<a href="{{ entity_url(entity, 'show') }}" class="woc label label-{{ color }} {{ marge|default('') }}m-t-md" title="{{ entity.pathname(true) }}">{{ printIcon|default(true) ? ('<i class="fa ' ~ entity.icon|default('fa-question') ~ ' fa-fw"></i> ')|raw }}<i>{{ entity.name|truncate(20, false) }}</i></a>
			{%- elseif entity|isInterface(['NestedInterface']) %}
				<a href="{{ entity_url(entity, 'show') }}" class="woc label label-{{ color }} {{ marge|default('') }}m-t-md" title="{{ entity.owner.name }} > {{ entity.ownerdir.name|default(entity.name) }} > {{ entity.pathname(true) }}">{{ printIcon|default(true) ? ('<i class="fa ' ~ entity.icon|default('fa-question') ~ ' fa-fw"></i> ')|raw }}<i>{{ entity.name|truncate(20, false) }}</i></a>
			{%- elseif entity|isInstance(['BaseEntity','ClassDescriptor']) %}
				<a href="{{ entity_url(entity, 'show') }}" class="woc label label-{{ color }} {{ marge|default('') }}m-t-md" title="{{ entity.name }}">{{ printIcon|default(true) ? ('<i class="fa ' ~ entity.icon|default('fa-question') ~ ' fa-fw m-r-xs"></i> ')|raw }}{{ entity.name|truncate(20, false) }}</a>
			{%- elseif entity|isDatetime %}
				<span class="label label-{{ color }} {{ marge|default('') }}m-t-md" title="{{ entity|localizeddate('full', 'full', currentLanguage.fullname) }}">{{ entity|localizeddate('medium', 'short', currentLanguage.fullname) }}</span>
			{%- else %}
				<span class="label label-{{ color }} {{ marge|default('') }}m-t-md" title="{{ entity.name|default(entity.__toString)|striptags }}">{{ entity.name|default(entity.__toString)|striptags|truncate(20, false) }}</span>
			{%- endif %}
		{% endif %}
	{%- elseif entity|isArray and entity.id is defined %}
		{% if entity.shortname == 'User' %}
			<a href="{{ entity_url(entity, 'show') }}" class="woc label label-{{ color }} {{ marge|default('') }}m-t-md" title="{{ entity.pathname }}/{{ entity.name }}">{{ printIcon|default(true) ? ('<i class="fa ' ~ entity.icon|default('fa-question') ~ ' fa-fw"></i> ')|raw }}<i>{{ entity.name|truncate(20, false) }}</i></a>
		{%- else %}
			<span class="label label-{{ color }} {{ marge|default('') }}m-t-md" title="{{ entity.name|striptags }}">{{ entity.name|striptags|truncate(20, false) }}</span>
		{%- endif %}
	{%- elseif entity|isString %}
		{% set string = entity|split('|') %}
		<span class="label label-{{ color }} {{ marge|default('') }}m-t-md" title="{{ (string.1|default(string.0))|trans({}, trans_domain|default('domain_admin'))|striptags }}">{{ string.0|trans({}, trans_domain|default('domain_admin'))|striptags|truncate(20, false) }}</span>
	{%- elseif iconIfNone|default(false) != false %}
		<i class="{{ marge|default('') }}fa {{ iconIfNone|isString ? iconIfNone : 'fa-times' }} fa-fw"></i>
	{%- endif -%}
{%- endmacro -%}

{% macro entity_labels(entities, colors, printIcon, iconIfNone, column, trans_domain, marge, max) %}
	{% import _self as self %}
	{% set marge = marge|default('') %}
	{% set max = max|default(0) %}
	{# {% set marge = marge|default('m-l-xs ') %} #}
	{% if entities|isArray %}
		{% if entities|length > 0 %}
		{% set entities = max > 0 ? entities|slice(0, max + 1) : entities %}
		{% for entity in entities %}
			{% if loop.index > max and max > 0 %}
				{{ self.entity_label('+' ~ (entities|length - max) ~ '|' ~ 'Total: ' ~ entities|length, colors|default('default')) }}
			{% else %}
				{{ self.entity_label(entity, colors|default('default'), printIcon|default(true), iconIfNone|default(false), trans_domain|default('domain_admin'), marge) -}}
				{% if not loop.last %}{{- column|default(false) ? '<br>'|raw }}{% endif %}
			{% endif %}
		{% endfor %}
		{% elseif iconIfNone|default(false) != false -%}
			<i class="fa {{ iconIfNone|isString ? iconIfNone : 'fa-times' }} fa-fw"></i>
		{%- endif %}
	{% elseif entities|isObject %}
		{% set color = action_color(colors|default('default'), entities) %}
		{{ self.entity_label(entities, color, printIcon|default(true), iconIfNone|default(false), trans_domain|default('domain_admin'), marge) }}
	{% endif %}
{% endmacro %}

{% macro roles_labels(roles, color) %}
	{%- set roles = roles|isString ? [roles] : roles -%}
	{%- for role in roles -%}
	<span class="label label-{{ color|default('default') }} m-t-md">{{ role|trans }}</span>
	{%- endfor -%}
{% endmacro %}

{% macro directory_labels(item, colors, printIcon, iconIfNone, column, trans_domain, marge, separator) %}
	{% import _self as self %}
	{% set marge = marge|default('') %}
	{% set separator = separator|default('<i class="fa fa-play fa-fw text-muted"></i>') %}
	{% set entities = item.allParents(true)|default([]) %}
	{% set parent = null %}
	{% if entities|isArray and entities|length %}
		{% if entities|length > 0 %}
		{% for entity in entities %}
			{% set separator2 = parent is not null and not parent.hasChild(entity) and is_granted('ROLE_SUPER_ADMIN') ? '<i class="fa fa-unlink fa-fw text-danger"></i>' : separator %}
			{{- not loop.first ? separator2|raw -}}
			{{ self.entity_label(entity, colors|default('default'), printIcon|default(true), iconIfNone|default(false), trans_domain|default('domain_admin'), marge) -}}
			{{- column|default(false) ? '<br>'|raw -}}
			{% set parent = entity %}
		{% endfor %}
		{% elseif iconIfNone|default(false) != false -%}
			<i class="m-l-xs fa {{ iconIfNone|isString ? iconIfNone : 'fa-times' }} fa-fw"></i>
		{%- endif %}
		{% set separator2 = parent is not null and not parent.hasChild(item) and is_granted('ROLE_SUPER_ADMIN') ? '<i class="fa fa-unlink fa-fw text-danger"></i>' : separator %}
		{{- separator2|raw -}}
	{% endif %}
	{{- self.entity_label(item, colors|default('info'), printIcon|default(true), iconIfNone|default(false), trans_domain|default('domain_admin')) -}}
{% endmacro %}

{% macro event_label(entity, printIcon, marge) %}
	{% set marge = marge|default('') %}
	{%- if entity|isObject %}
		<a href="{{ entity_url(entity, 'show') }}" class="woc label {{ marge|default('') }}m-t-md" style="background-color:{{ entity.color }}; color: {{ color_contrast(entity.color) }};" title="{{ entity.name }}">{{ printIcon|default(true) ? ('<i class="fa ' ~ entity.icon|default('fa-question') ~ ' fa-fw m-r-xs"></i> ')|raw }}{{ entity.name|truncate(20, false) }}</a>
	{%- else %}
		<i class="fa fa-times fa-fw {{ marge|default('') }}"></i>
	{%- endif -%}
{% endmacro %}

{% macro event_labels(entities, printIcon, marge) %}
	{% import _self as self %}
	{% set marge = marge|default('') %}
	{# {% set marge = marge|default('m-l-xs ') %} #}
	{% for entity in entities %}
	{{ self.event_label(entity, printIcon, marge) }}
	{% endfor %}
{% endmacro %}

{%- macro notfoundlist(entity) -%}
	{# <div class="col-lg-12"> #}
		<div class="jumbotron">
			<i class="fa fa-stack fa-lg fa-5x fa-pull-left" aria-hidden="true">
				{{ icon(entity, true, true, ['fa-stack-1x'])|raw }}
				<i class="fa fa-ban fa-stack-2x text-danger"></i>
			</i>
			<h1>{{ 'liste vide !'|trans }}</h1>
			<p>{{ 'not.founds'|trans({}, entity|shortname) }}<br><br>
			</p>
		</div>
	{# </div> #}
{%- endmacro -%}

{%- macro iboxGroup(group, title) -%}
	{% if group is not null %}
	<div class="ibox-title">
		<h5>{{ title|default('field.hierarchyof'|trans({name: group.name}, group.shortname)) }} <small><i class="text-muted">{{ group.longname }}</i></small></h5>
		<div class="ibox-tools">
			<a class="collapse-link">
				<i class="fa fa-chevron-up fa-fw"></i>
			</a>
			<a title="Refresh folders">
				<i class="fa fa-refresh fa-fw" data-jstree-refresh="#jstree-{{ group.id }}"></i>
			</a>
		</div>
	</div>
	<div class="ibox-content">
		<div id="jstree-{{ group.id }}" data-jstree-groups="{{ group.id }}"></div>
	</div>
	{% endif %}
{%- endmacro -%}

{%- macro ownedDirectoryChilds(entity, title, fieldname, fielddirectory, pathname) -%}
	{% import _self as self %}
	{% set field_childs = entity|field(fieldname) %}
	{% set field_directory = entity|field(fielddirectory) %}
	<div class="ibox float-e-margins">
		<div class="ibox-title">
			{% if is_granted('ROLE_SUPER_ADMIN') %}
			{% set alert_color = pathname == 'system/Associates' ? 'warning' : 'danger' %}
			{% set search_childs = entity.getOwnerDirectory(pathname) %}
			<h5>{{ (title|trans ~ ' <span class="label label-' ~ (field_childs.count != search_childs.childs.count ? alert_color : "info") ~ ' pull-right">' ~ field_childs.count ~ ' / ' ~ search_childs.childs.count ~ '</span>')|raw }}</h5>
			{% else %}
			<h5>{{ (title|trans ~ ' <span class="label label-info pull-right">' ~ field_childs.count ~ '</span>')|raw }}</h5>
			{% endif %}
			<div class="ibox-tools">
				<a class="collapse-link">
					<i class="fa fa-chevron-up fa-fw"></i>
				</a>
			</div>
		</div>
		<div class="ibox-content">
			{% if is_granted('ROLE_SUPER_ADMIN') %}
			{% set doublons = entity.getDoublons(pathname) %}
			{% if doublons|length > 1 %}
			<h4>From entity / Directory {{ self.entity_label(search_childs, null, true, true) }} / parent {{ self.entity_label(search_childs.parent, null, true, true) }}</h4>
			{{ self.entity_labels(field_childs, 'primary', true, true) }}
			<hr>
			<h4>Doublons <div class="label label-{{ doublons|length > 1 ? 'danger' : 'default' }}">{{ doublons|length }}</div></h4>
			{% for doublon in doublons %}
			<div class="well well-sm m-b-xs">
				{{ self.entity_label(doublon, doublon == field_directory ? 'warning' : 'danger', true, true) }} <i class="fa fa-arrow-right fa-fw"></i> {{ self.entity_labels(doublon.childs, null, true, true) }}
				<span data-get-doublons="{{ path('modelapifile-get-doublons', {id: doublon.id})|json_encode }}" data-resolve-doublons="{{ path('modelapifile-resolve-doublons')|json_encode }}"></span>
			</div>
			{% endfor %}
			<hr>
			<h4>From directory</h4>
			<p>Directory: {{ self.entity_label(field_directory, 'primary', true, true) }} / parent: {{ self.entity_label(field_directory.parent, null, true, true) }}</p>
			{{ self.entity_labels(search_childs.childs, 'primary', true, true) }}
			{% else %}
				{% if pathname in ['system/Menus'] %}
				{{ self.printMenu(field_childs) }}
				{% else %}
				{{ self.entity_labels(field_childs, 'primary', true, true) }}
				{% endif %}
			{% endif %}
			{% else %}
				{% if pathname in ['system/Menus'] %}
				{{ self.printMenu(field_childs) }}
				{% else %}
				{{ self.entity_labels(field_childs, 'primary', true, true) }}
				{% endif %}
			{% endif %}
		</div>
	</div>
{%- endmacro -%}

{% macro directory_content(directory) %}
{% import _self as self %}
<div class="col-lg-12">
	<div class="ibox float-e-margins">
		<div class="ibox-title">
			<h5>{{ 'name'|trans([], directory.shortname) }} {{ icon(directory, true, true, ['fa-fw'])|raw }} <strong>{{ directory.name }}</strong> <span class="badge badge-primary">{{ directory.childs|length }} élément(s)</span></h5>
			<div class="ibox-tools">
				<a class="collapse-link">
					<i class="fa fa-chevron-up fa-fw"></i>
				</a>
			</div>
		</div>
		<div class="ibox-content">
			<h5>Dossiers parents <span class="badge badge-primary">{{ directory.allParents|length }}</span></h5>
			{{ self.directory_labels(directory, null, true, true) }}
			<hr>
			<table class="table table-hover table-condensed table-bordered">
				<thead>
					<tr>
						<th colspan="100%" class="text-left">
							<h5>
								Éléments de {{ icon(directory, true, true, ['fa-fw'])|raw }}
								&nbsp;<strong>{{ directory.name }}</strong>
								&nbsp;<span class="badge badge-primary">{{ directory.childs|length }} élément(s)</span>
								{# {% if not directory.isChildPositionsValid() and is_granted('ROLE_SUPER_ADMIN') %}<a href="{{ path('wsa_directory_checkchildpositions', {id: directory.id}) }}" class="btn btn-xs btn-danger pull-right woc action-confirm" title="Réorganiser les positions des éléments contenus"><i class="fa fa-cog fa-fw m-r-xs"></i>Reorder</a>{% endif %} #}
							</h5>
						</th>
					</tr>
					<tr>
						<th colspan="100%" class="text-center">
							{% if directory.isChildeable() %}
							<a href="{{ path('wsa_file_create', {parent: directory.id}) }}" class="btn btn-xs btn-info woc">
								<i class="fa fa-plus fa-fw"></i>{{ 'Nouveau fichier'|trans }}
							</a>
							<a href="{{ path('wsa_basedirectory_update', {id: directory.id, method: 'put', context: 'additem'}) }}" class="btn btn-xs btn-info woc">
								<i class="fa fa-plus fa-fw"></i>{{ 'Fichier existant'|trans }}
							</a>
							<br>
							{% endif %}
							<a href="{{ path('wsa_menu_create', {parent: directory.id}) }}" class="btn btn-xs btn-info woc">
								<i class="fa fa-plus fa-fw"></i>{{ 'Nouveau Menu'|trans }}
							</a>
							<a href="{{ path('wsa_directory_create', {parent: directory.id}) }}" class="btn btn-xs btn-info woc">
								<i class="fa fa-plus fa-fw"></i>{{ 'Nouveau Dossier'|trans }}
							</a>
							<a href="{{ path('wsa_basedirectory_update', {id: directory.id, method: 'put', context: 'addbasedirectory'}) }}" class="btn btn-xs btn-info woc">
								<i class="fa fa-plus fa-fw"></i>{{ 'Dossier/menu existant'|trans }}
							</a>
						</th>
					</tr>
					<tr>
						<th style="width:38px;" class="text-center">{{ icon('Item', true, true, ['fa-fw'])|raw }}</th>
						<th class="text-center"><i class="fa fa-cog fa-fw"></i></th>
						<th class="text-left">{{ 'Élément'|trans() }} <span class="pull-right"><i class="fa fa-arrow-right fa-fw text-muted"></i> {{ 'Contenu'|trans() }}</span></th>
						<th class="text-center">{{ 'Type'|trans }}</th>
						<th class="text-center">{{ 'Link'|trans }}</th>
						<th class="text-center">
							{{- 'Ord'|trans -}}
{# 												{%- if is_granted('ROLE_SUPER_ADMIN') -%}
							<a href="{{ path('wsa_basedirectory_checkchildpositions', {id: directory.id}) }}" class="btn btn-xs btn-{{ directory.isChildPositionsValid() ? 'white' : 'danger' }} woc m-l-xs" title="{{ 'Refresh order of elements'|trans }}">
								<i class="fa fa-refresh fa-fw"></i>
							</a>
							{%- endif -%} #}
						</th>
					</tr>
				</thead>
				<tbody>
					{% for one in directory.childs %}
					<tr class="{{ tableClass(one) }}" title="{{ 'name'|trans([], one.shortname) }}">
						<td class="text-center">
							{# {% set photo = one|isInstance('Image') ? one : one.avatar|default(one.thumbnail|default(one.photo|default(one.picone|default(null)))) %} #}
							{# {% if photo is not null %} #}
							{# <img src="{{ asset(fileurl(photo,'thumbnail',64)) }}" class="img-sm" alt="{{ photo.mediatype }} {{ one.__toString }}" data-view-media="'{{ photo.bddIdentifyer }}'" data-view-width="800" data-view-type="'thumbnail'" data-view-name="{{ one.name|json_encode }}"> #}
							{# {% else %} #}
							<i class="fa {{ one.icon }} fa-1x fa-fw" style="color:{{ one.color|default('#AAAAAA') }};"></i>
							{# {% endif %} #}
						</td>
						<td class="text-center">
							{% if one.currentParent is not null and not one.currentParent.isQuery() %}
							{%- set addedButtons -%}
							<a role="button" class="btn btn-xs btn-white action-confirm woc" href="{{ path('wsa_basedirectory_removechild', {parent: one.currentParent.id, child: one.id}) }}" title="Détacher l'élément...">
								<i class="fa fa-unlink fa-fw"></i>
							</a>
							{%- endset -%}
							{% endif %}
							{{ self.buttons_groups(one, addedButtons) }}
						</td>
						<td class="text-left">
							{% set childs_count = one.childs.count|default(-1) %}
							{% set coul = childs_count < 0 ? ' text-warning' : ' text-info' %}
							{% set coul = childs_count == 0 ? ' text-muted' : coul %}
							{{ self.entity_label(one) }}{% if one|isInterface('DirectoryInterface') %} <span class="pull-right">{% if childs_count > 0 %}<i class="fa fa-arrow-right fa-fw {{ coul }}"></i> {% endif %}<span class="{{ coul|trim }}">{{ childs_count >= 0 ? childs_count : '?' }}</span></span>{% endif %}
						</td>
						<td class="text-center">
							{{ 'name'|trans([], one.shortname) }}
						</td>
						<td class="text-center">
							{{ one.solid ? ('<i class="fa fa-circle fa-fw text-' ~ (directory.hasChild(one) or not is_granted('ROLE_SUPER_ADMIN') ? 'info' : 'danger') ~ '" title="Hard link"></i>')|raw }}
							{{ one.symbolic ? ('<i class="fa fa-link fa-fw text-' ~ (directory.hasChild(one) or not is_granted('ROLE_SUPER_ADMIN') ? 'muted' : 'danger') ~ '" title="Symbolic link"></i>')|raw }}
							{{ one.processed ? '<i class="fa fa-magic fa-fw text-muted" title="Processed link"></i>' }}
						</td>
						<td class="text-center">
							{% if is_granted('ROLE_SUPER_ADMIN') %}
							{% set wrong = false %}
							{% if one.position != loop.index0 %}
								{# {% set pos = one.setPosition(loop.index0) %} #}
								{% set wrong = true %}
							{% endif %}
							<span class="pull-left {{ wrong ? 'text-danger' : 'text-success' }}">{{ one.position }}{% if wrong %}<span class="text-muted"> / {{ loop.index0 }}</span>{% endif %}</span>
							{% else %}
							<span class="pull-left">{{ one.position }}</span>
							{% endif %}
							<div class="btn-group btn-group-xs pull-right" role="group" aria-label="orders">
								{% if not loop.last %}
								<a role="button" href="{{ path('wsa_basedirectory_movechild', {parent: one.currentParent.id, child: one.id, position: (one.position + 1)}) }}" title="{{ 'Move down'|trans }}" class="woc btn btn-white">
									<i class="fa fa-arrow-down fa-fw"></i>
								</a>
								{% endif %}
								{% if not loop.first %}
								<a role="button" href="{{ path('wsa_basedirectory_movechild', {parent: one.currentParent.id, child: one.id, position: (one.position - 1)}) }}" title="{{ 'Move up'|trans }}" class="woc btn btn-white">
									<i class="fa fa-arrow-up fa-fw"></i>
								</a>
								{% endif %}
							</div>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>

			<hr>

			{% set owner = directory.owner %}
			{% set ownerdir = directory.ownerdir %}
			<div class="row">
				<div class="col-md-6">
					<h5><u>Utilisateur</u> propriétaire</h5>
					{% if owner is not null %}
					<div>{{ self.entity_label(owner, owner|isInstance('User') and (owner == ownerdir.owner|default(null) or owner|isInstance('User')) ? 'info' : 'danger') }}</div>
					{% if owner.rootDirs|default([])|length %}
					<div class="text-left m-r-md">&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-down fa-fw"></i>&nbsp;<i class="text-muted"><small>{{ 'names'|trans([], 'Directory') }}</small></i></div>
					<div>{{ self.entity_labels(owner.rootDirs, 'default', true, true) }}</div>
					{% endif %}
					{% else %}
					<div class="alert alert-danger">Manquant</div>
					{% endif %}
				</div>
				{% if owner != ownerdir %}
				<div class="col-md-6">
					<h5><u>Élément</u> propriétaire</h5>
					{% if ownerdir is not null %}
					<div>{{ self.entity_label(ownerdir, 'info') }}</div>
					{% if ownerdir.rootDirs|default([])|length %}
					<div class="text-left m-r-md">&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-down fa-fw"></i>&nbsp;<i class="text-muted"><small>{{ 'names'|trans([], 'Directory') }}</small></i></div>
					<div>{{ self.entity_labels(ownerdir.rootDirs, 'default', true, true) }}</div>
					{% endif %}
					{% else %}
					{# <div class="alert alert-danger">Manquant</div> #}
					{% endif %}
				</div>
				{% endif %}
			</div>

{# 			<div class="row">
				{% if entity|isInstance('Tier') %}
				<div class="col-md-6">
					<h5>Utilisateur <i>{{ 'name'|trans([], entity.shortname) }}</i></h5>
					<div>{{ self.entity_label(entity, 'info') }}</div>
					{% if entity.rootDirs|default([])|length %}
					<div class="text-left m-r-md">&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-down fa-fw"></i>&nbsp;<i class="text-muted"><small>{{ 'names'|trans([], 'Directory') }}</small></i></div>
					<div>{{ self.entity_labels(entity.rootDirs, 'default', true, true) }}</div>
					{% endif %}
				</div>
				{% else %}
				<div class="col-md-6">
					<h5><u>Utilisateur</u> propriétaire</h5>
					<div>{{ self.entity_label(entity.owner, 'info') }}</div>
					{% if entity.owner.rootDirs|default([])|length %}
					<div class="text-left m-r-md">&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-down fa-fw"></i>&nbsp;<i class="text-muted"><small>{{ 'names'|trans([], 'Directory') }}</small></i></div>
					<div>{{ self.entity_labels(entity.owner.rootDirs, 'default', true, true) }}</div>
					{% endif %}
				</div>
				<div class="col-md-6">
					<h5><u>Élément</u> propriétaire</h5>
					<div>{{ self.entity_label(owner, 'info') }}</div>
					{% if owner.rootDirs|default([])|length %}
					<div class="text-left m-r-md">&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-down fa-fw"></i>&nbsp;<i class="text-muted"><small>{{ 'names'|trans([], 'Directory') }}</small></i></div>
					<div>{{ self.entity_labels(owner.rootDirs, 'default', true, true) }}</div>
					{% endif %}
				</div>
				{% endif %}
			</div> #}

		</div>
	</div>
</div>
{% endmacro %}

{%- macro iboxDirs(dirs, highlights) -%}
	{% import _self as self %}
	{% set highlights = highlights|default([]) %}

	{% set directorys = getDirectorys(dirs) %}
	{% if directorys is not empty %}
	<div class="ibox float-e-margins">
		<div class="ibox-title">
			<h5>DOSSIERS {{ dirs|isEntity ? ('name'|trans({}, dirs.shortname)|striptags ~ ' <span class="text-info">' ~ dirs.__toString|striptags ~ '</span>')|raw : 'names'|trans({}, 'Directory')|striptags }}</h5>
			<div class="ibox-tools">
				<a class="collapse-link">
					<i class="fa fa-chevron-up fa-fw"></i>
				</a>
			</div>
		</div>
		<div class="ibox-content">
			{%- for dir in directorys -%}
			<div id="nestable{{ dir.id }}-menu">
				<button type="button" data-action="expand-all" class="btn btn-white btn-xs">Ouvrir</button>
				<button type="button" data-action="collapse-all" class="btn btn-white btn-xs">Fermer</button>
			</div>
			{% if is_granted('ROLE_SUPER_ADMIN') %}<h5>Owner dir: {{ self.entity_label(dir.ownerdir, dir.ownerdir|isInstance('Item') ? '' : 'danger') }} / Owner: {{ self.entity_label(dir.owner, dir.owner|isInstance('User') and (dir.owner == dir.ownerdir.owner or dir.ownerdir|isInstance('User')) ? '' : 'danger') }}</h5>{% endif %}
			<div class="dd" id="nestable{{ dir.id }}" nestable-directorys>
				<ol class="dd-list">
					<li class="dd-item" data-id="{{ dir.getPathslug(true) }}">
						{% set childs_1 = dir.childs|default([]) %}
						<div class="dd-handle{{ dir.id in highlights ? ' bg-primary' }}">
							<span class="badge pull-right"> {{ childs_1|length }} </span>
							<span class="label {{ dir|status_color('info', 'label-') }}" title="Propriétaire: O:{{ dir.owner.name|default('?')}} / Od:{{ dir.ownerdir.name|default('?')}}">{{ icon(dir)|raw }}</span> <span {{ dir.id is null and is_granted('ROLE_SUPER_ADMIN') ? 'class="text-danger" ' }}title="id:{{ dir.id|default('NEW') }} {{ dir.name }}">{{ dir.name|truncate(50,true) }}</span>
						</div>
						{% if childs_1|length > 0 %}
						<ol class="dd-list">
							{% for child_1 in childs_1 %}
							<li class="dd-item" data-id="{{ child_1.getPathslug(true) }}">
								{% set childs_2 = child_1.childs|default([]) %}
								<div class="dd-handle{{ child_1.id in highlights ? ' bg-primary' }}">
									{% if child_1|isInstance('Basedirectory') %}<span class="badge pull-right"> {{ childs_2|length }} </span>{% endif %}
									<span class="label {{ child_1|status_color('info', 'label-') }}" title="{% if not child_1|isInstance('User') %}Propriétaire: O:{{ child_1.owner.name|default('?')}} / Od:{{ child_1.ownerdir.name|default('?')}}{% else %}Propriétaire de lui-même{% endif %}">{{ icon(child_1)|raw }}</span>{{ child_1.isSymbolic() ? ('<span class="label label-default" title="Parent: ' ~ child_1.pathname ~ '"><i class="fa fa-link fa-fw"></i></span>')|raw }} <span {{ child_1.id is null and is_granted('ROLE_SUPER_ADMIN') ? 'class="text-danger" ' }}title="id:{{ child_1.id|default('NEW') }} {{ child_1.pathname(true) }} / {{ child_1.pathslug(true) }}">{{ child_1.name|truncate(50,true) }}</span>
								</div>
								{% if childs_2|length > 0 %}
								<ol class="dd-list">
									{% for child_2 in childs_2 %}
									<li class="dd-item" data-id="{{ child_2.getPathslug(true) }}">
										{% set childs_3 = child_2.childs|default([]) %}
										<div class="dd-handle{{ child_2.id in highlights ? ' bg-primary' }}">
											{% if child_2|isInstance('Basedirectory') %}<span class="badge pull-right"> {{ childs_3|length }} </span>{% endif %}
											<span class="label {{ child_2|status_color('info', 'label-') }}" title="{% if not child_2|isInstance('User') %}Propriétaire: O:{{ child_2.owner.name|default('?')}} / Od:{{ child_2.ownerdir.name|default('?')}}{% else %}Propriétaire de lui-même{% endif %}">{{ icon(child_2)|raw }}</span>{{ child_2.isSymbolic() ? ('<span class="label label-default" title="Parent: ' ~ child_2.pathname ~ '"><i class="fa fa-link fa-fw"></i></span>')|raw }} <span {{ child_2.id is null and is_granted('ROLE_SUPER_ADMIN') ? 'class="text-danger" ' }}title="id:{{ child_2.id|default('NEW') }} {{ child_2.pathname(true) }} / {{ child_2.pathslug(true) }}">{{ child_2.name|truncate(50,true) }}</span>
										</div>
										{% if childs_3|length > 0 %}
										<ol class="dd-list">
											{% for child_3 in childs_3 %}
											<li class="dd-item" data-id="{{ child_3.getPathslug(true) }}">
												{% set childs_4 = child_3.childs|default([]) %}
												<div class="dd-handle{{ child_3.id in highlights ? ' bg-primary' }}">
													{% if child_3|isInstance('Basedirectory') %}<span class="badge pull-right"> {{ childs_4|length }} </span>{% endif %}
													<span class="label {{ child_3|status_color('info', 'label-') }}" title="{% if not child_3|isInstance('User') %}Propriétaire: O:{{ child_3.owner.name|default('?')}} / Od:{{ child_3.ownerdir.name|default('?')}}{% else %}Propriétaire de lui-même{% endif %}">{{ icon(child_3)|raw }}</span>{{ child_3.isSymbolic() ? ('<span class="label label-default" title="Parent: ' ~ child_3.pathname ~ '"><i class="fa fa-link fa-fw"></i></span>')|raw }} <span {{ child_3.id is null and is_granted('ROLE_SUPER_ADMIN') ? 'class="text-danger" ' }}title="id:{{ child_3.id|default('NEW') }} {{ child_3.pathname(true) }} / {{ child_3.pathslug(true) }}">{{ child_3.name|truncate(50,true) }}</span>
												</div>
											</li>
											{% endfor %}
										</ol>
										{% endif %}
									</li>
									{% endfor %}
								</ol>
								{% endif %}
							</li>
							{% endfor %}
						</ol>
						{% endif %}
					</li>
				</ol>
			</div>
			{% if is_granted('ROLE_SUPER_ADMIN') %}
				<div class="m-t-md">
					<h5>Serialised Output</h5>
					<textarea id="nestable{{ dir.id }}-output" class="form-control"></textarea>
				</div>
				{% set search_path = dir.getPathname(true) %}
				{# {% set search_path = 'Twigs' %} #}
				{% set childs1 = request_data('Item', 'findItemsByParent', {parent: dir}) %}
				{% set childs2 = dir.getContentDirectory(search_path, [], false) %}
				{% set childs3 = dir.childs.toArray() %}
				{% if (childs1|length != childs2|length) or (childs1|length != childs3|length) or (childs3|length != childs2|length) %}
				<hr>
				<div class="row">
					<div class="col-md-10">
						<div class="m-t-md">
							<h5>Search children by query (parent)}</h5>
							{{ self.entity_labels(childs1, null, true, true) }}
						</div>
						<div class="m-t-md">
							<h5>Search children by path: {{ (search_path)|json_encode }}</h5>
							{{ self.entity_labels(childs2, null, true, true) }}
						</div>
						<div class="m-t-md">
							<h5>Search children by getter:</h5>
							{{ self.entity_labels(childs3, null, true, true) }}
						</div>
					</div>
					<div class="col-md-2 m-t-lg">
						<a href="{{ path('wsa_info_directorys', {action: 'resolve-lostchilds', id: dir.id}) }}" class="btn btn-sm btn-danger woc pull-right"><i class="fa fa-refresh fa-fw"></i> Réparer</a>
					</div>
				</div>
				{% endif %}
			{% endif %}
			{{ not loop.last ? '<hr>'|raw }}
			{%- endfor %}
		</div>
	</div>
	{% endif %}

	{# {% import _self as self %} #}
{%- endmacro -%}

{%- macro iboxDir(dir) -%}
	{% if dir is not null %}
	{# {% import _self as self %} #}
	<div class="ibox float-e-margins">
		<div class="ibox-title"{% if is_granted('ROLE_SUPER_ADMIN') %} title="{{ dir.name }}"{% endif %}>
			<h5>{{ 'name'|trans({}, dir.shortname) }} <strong>{{ dir.__toString }}</strong></h5>
			<div class="ibox-tools">
				<a href="{{ path('wsa_directory_owner', {id: dir.id}) }}" class="woc text-primary">
					{{ icon('Basedirectory', true, true, ['fa-fw'])|raw }}
				</a>
				<a class="collapse-link">
					<i class="fa fa-chevron-up fa-fw"></i>
				</a>
				<a title="Refresh folders">
					<i class="fa fa-refresh fa-fw" data-jstree-refresh="#jstree-{{ dir.id }}"></i>
				</a>
			</div>
		</div>
		<div class="ibox-content">
			<div id="jstree-{{ dir.id }}" data-jstree-directory="{{ dir.id }}"></div>
		</div>
	</div>
	{% endif %}
{%- endmacro -%}

{% macro printMenu(menus) %}
	{% if menus is not empty %}
	{% import _self as self %}
	{% set menus = menus|isArray(false) ? menus : [menus] %}
	{% for dirmenu in menus %}
	{% set st = starttimer() %}
	<div>
		{% if not loop.first %}<hr class="hr-line-solid">{% endif %}
		<h3>{{ self.entity_label(dirmenu, 'primary') }}</h3>
		{% set dirmenu_childs = dirmenu.getElementsForMenu(false, true) %}
		<ul>
			{% for child1 in dirmenu_childs %}
			<li title="{{ child1.currentPathname }}">{{ self.entity_label(child1) }}</li>
			<ul>
				{% for child2 in child1.childs %}
				<li title="{{ child2.currentPathname }}">{{ self.entity_label(child2) }}</li>
				<ul>
					{% for child3 in child2.childs %}
					<li title="{{ child3.currentPathname }}">{{ self.entity_label(child3) }}</li>
					{% endfor %}
				</ul>
				{% endfor %}
			</ul>
			{% endfor %}
		</ul>
	</div>
	{% if is_granted('ROLE_SUPER_ADMIN') %}<span class="label label-warning"><i class="fa fa-clock-o fa-fw m-r-xs"></i>{{ printtimer(st)|raw }}</span>{% endif %}
	{% endfor %}
	{% else %}
	<i class="fa fa-times fa-fw"></i>
	{% endif %}
{% endmacro %}

{%- macro iboxEntityInfo() -%}
	<div class="ibox float-e-margins entity-info">
		<div class="ibox-title">
			<h5>{{ 'Informations sélection'|trans }}</h5>
			<div class="ibox-tools">
				<a class="collapse-link">
					<i class="fa fa-chevron-up fa-fw"></i>
				</a>
			</div>
		</div>
		<div class="ibox-content">
			<div data-current-entity-show></div>
		</div>
	</div>
{%- endmacro -%}

{% macro joinedOwnerDirChilds(title, entity, origin_property, childs_property) %}
	{% import _self as self %}
	{% set data = getOwnerDirAnnotation(entity, origin_property) %}
	{% if data|isObject %}
	{% set childs_property = childs_property|default(data.altproperty) %}
	<div class="ibox float-e-margins">
		<div class="ibox-title">
			{% if is_granted('ROLE_SUPER_ADMIN') %}
			{% set reseaux = entity.getOwnerDirectoryChilds(data.path) %}
			<h5>{{ (title ~ ' <span class="label label-' ~ (attr(entity, childs_property).count != reseaux.count ? "danger" : "info") ~ ' pull-right">' ~ attr(entity, childs_property).count ~ ' / ' ~ reseaux.count ~ '</span>')|raw }}</h5>
			{% else %}
			<h5>{{ (title ~ ' <span class="label label-info pull-right">' ~ attr(entity, childs_property).count ~ '</span>')|raw }}</h5>
			{% endif %}
			<div class="ibox-tools">
				<a class="collapse-link">
					<i class="fa fa-chevron-up fa-fw"></i>
				</a>
			</div>
		</div>
		<div class="ibox-content">
			{% if is_granted('ROLE_SUPER_ADMIN') %}
			<h4>From entity</h4>
			{{ self.entity_labels(attr(entity, childs_property), 'primary', true, true) }}
			<hr>
			<h4>From directory</h4>
			<p>Directory: {{ self.entity_label(entity.reseausocial, 'primary', true, true) }}</p>
			{{ self.entity_labels(reseaux, 'primary', true, true) }}
			{% else %}
			{{ self.entity_labels(attr(entity, childs_property), 'primary', true, true) }}
			{% endif %}
		</div>
	</div>
	{% endif %}
{% endmacro %}

{%- macro representation(media, size, parent) -%}
	{% set parent = parent|default(media) %}
	{% if media.isScreenableAsImage()|default(false) %}
		{% set file_url = fileurl(media,'thumbnail', size|default(256)) %}
		{% if file_url is not null %}
		<img src="{{ asset(file_url) }}" title="{{ media.shortname|trans({}, media.shortname) }}" class="img-{{ size|default(256) >= 256 ? 'lg' : 'md' }} img-thumbnail im-responsive" alt="{{ media.__toString }}" data-view-media="'{{ media.bddIdentifyer }}'" data-view-width="1000" data-view-type="'optimized'">
		{% else %}
		<i class="fa fa-times fa-2x fa-fw"></i>
		{% endif %}
	{% else %}
		<i class="fa {{ parent.icon|default('fa-times') }} fa-4x fa-fw"></i>
	{% endif %}
{%- endmacro -%}

{%- macro iboxEventdates(entity, edit) -%}
	{% if entity.eventdates is defined %}
	{% set fform = edit|default(false) ? getForm('ModelApi\\EventBundle\\Form\\Type\\EventEventdatesType', {event: entity}) : false %}
	<div class="ibox float-e-margins">
		<div class="ibox-title">
			<h5>{{ (fform != false ? 'Dates<small class="text-muted"> édition</small>' : 'Dates<small class="text-muted"> vue</small>')|raw }} <span class="label label-default pull-right">{{ entity.eventdates|length }}</span></h5>
			<div class="ibox-tools">
				<a class="collapse-link">
					<i class="fa fa-chevron-up"></i>
				</a>
			</div>
		</div>
		<div class="ibox-content">
			{% if fform != false %}
			<div class="well">
				{{ form(fform) }}
			</div>
			{% else %}
			{% if entity.eventdates|length %}
			<div class="table-responsive">
				<table class="table table-hover table-condensed table-bordered">
					<thead>
						<tr>
							<th class="text-left">Début</th>
							<th class="text-left">Fin</th>
							<th class="text-center">Durée</th>
						</tr>
					</thead>
					<tbody>
						{% for eventdate in entity.eventdates %}
						<tr>
							<td class="text-left">{{ eventdate.start is not null ? eventdate.start|localizeddate('medium', 'short', app.request.locale) : '<i class="fa fa-times fa-fw text-danger"></i>'|raw }}</td>
							<td class="text-left">{{ eventdate.end is not null ? eventdate.end|localizeddate('medium', 'short', app.request.locale) : '<i class="fa fa-times fa-fw text-danger"></i>'|raw }}</td>
							{# <td class="text-left">{{ eventdate.duration|date("%d jour / %hh%i") }}</td> #}
							<td class="text-center">{{ eventdate.duration|date("%hh%I") }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{# {{ dump(entity.eventdates) }} #}
			{% endif %}
			{% endif %}
		</div>
	</div>
	{% endif %}
{%- endmacro -%}

{%- macro iboxVersions(entity) -%}
	{% import _self as self %}
	<div class="ibox float-e-margins">
		<div class="ibox-title">
			<h5>Versions <span class="label label-default pull-right">{{ entity.nbVersions|default(0) }}</span></h5>
			<div class="ibox-tools">
				<a class="collapse-link">
					<i class="fa fa-chevron-up"></i>
				</a>
			</div>
		</div>
		<div class="ibox-content">
			{% if entity.currentVersion is not null %}
			<div class="row">
				<div class="col-md-4 col-lg-3 text-center">
					{{ self.representation(entity.currentVersion, null, entity) }}
				</div>
				<div class="col-md-8 col-lg-9">
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th class="text-center">{{ icon(entity, true, true, ['fa-fw text-muted'])|raw }}</th>
									<th class="text-left">{{ 'creation'|trans }}</th>
									<th class="text-center">{{ 'courante'|trans }}</th>
									{% if is_granted('ROLE_SUPER_ADMIN') %}
									<th class="text-center">{{ 'check'|trans }}</th>
									{% endif %}
									<th class="text-center">{{ 'Supp.'|trans }}</th>
								</tr>
							</thead>
							<tbody>
								{% for version in entity.versions %}
								<tr class="{{ version.isCurrentVersion ? 'bg-success' }}">
									<td class="text-center">{{ version.isScreenableAsImage() ? self.representation(version, 128, entity) : icon(entity, true, true, (version.isCurrentVersion ? ['fa-fw',"text-info"] : ['fa-fw']))|raw }}</td>
									<td class="text-left">
										<div><strong>{{ version.name|default('?') }}</strong></div>
										<div>{{ version.created|localizeddate('short', 'short', app.request.locale)}}</div>
										<div data-filesize="{{ version.fileSize }}"></div>
									</td>
									<td class="text-center">
										{% if version.isCurrentVersion -%}
										<i class="fa fa-check fa-fw woc text-white"></i>
										{%- else %}
										<a href="{{ path('wsa_file_set_current_version', {id: version.id}) }}" class="woc action-confirm"><i class="fa fa-check fa-fw text-muted"></i></a>
										{%- endif %}
									</td>
									{% if is_granted('ROLE_SUPER_ADMIN') %}
									<td class="text-center">
										{% if version.fileformat.mediaType == 'text' %}
										{% set controlCode = getCheckedSlugCode(version) %}
										{% if controlCode.found > 0 %}
											<a href="{{ path('wsa_fileversion_checksluglinks', {id: version.id}) }}" title="Transformer {{ controlCode.found }} lien{{ controlCode.found > 1 ? 's' }} SLUG/BDDID par ID" class="woc action-confirm">
												<i class="fa fa-code fa-fw m-r-xs text-danger"></i>
											</a>
										{%- else %}
											<i class="fa fa-code fa-fw m-r-xs {{ version.isCurrentVersion ? 'text-white' : 'text-muted' }}"></i>
										{%- endif %}
										{%- else %}
											<i class="fa fa-code fa-fw m-r-xs {{ version.isCurrentVersion ? 'text-white' : 'text-muted' }}"></i>
										{%- endif %}
									</td>
									{% endif %}
									<td class="text-center">
										{% if version.isCurrentVersion -%}
										{# <i class="fa fa-ban fa-fw text-muted"></i> #}
										{%- else %}
										<a href="{{ path('wsa_fileversion_delete', {id: version.id}) }}" class="woc action-confirm"><i class="fa fa-times fa-fw text-muted"></i></a>
										{%- endif %}
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			{% else %}
			<div class="alert alert-warning full-width text-center">Aucune version disponible</div>
			{% endif %}
		</div>
	</div>
{%- endmacro -%}

{% macro screenFileReport(fileversion) %}
	{% import _self as self %}
	<ul>
		{% for name,file in fileversion.checkFilesReport %}
		<li><strong>{{ name }}</strong> : {{ file|isBoolean ? self.booleanIcon(file) : file }}</li>
		{% endfor %}
	</ul>
{% endmacro %}




{%- macro admin_dump(value, type, class) -%}
	{% import _self as self %}
	{% if value|isObject and not value|isDatetime %}
		{{ self.entity_labels(value) }}
	{% elseif type|default(null) in ['text'] %}
		<div class="{{ class|default('well well-sm') }}">{{- value|raw -}}</div>
	{% elseif value|isString or type|default(null) in ['string'] %}
		{{- value|raw -}}
	{% elseif value|isInteger or type|default(null) in ['integer','float','decimal'] %}
		{{- value -}}
	{% elseif value|isBoolean or type|default(null) in ['boolean'] %}
		{{- value ? '<i class="fa fa-check fa-fw text-success"></i>'|raw : '<i class="fa fa-times fa-fw text-danger"></i>'|raw -}}
	{% elseif value|isDatetime or type|default(null) in ['datetime'] %}
		{{- value is null ? '<i class="fa fa-times fa-fw text-danger"></i>'|raw : value|localizeddate('full', 'full', currentLanguage.fullname) -}}
	{% elseif value|isArray or type|default(null) in ['json_array','array'] %}
		<div class="{{ class|default('well well-sm') }}">
			<ul>
			{% for idx,val in value %}
				<li><strong>{{ idx }}</strong>: {{ self.admin_dump(val, null, 'nc') }}</li>
			{% endfor %}
			</ul>
		</div>
	{% else %}
		<div class="{{ class|default('well well-sm') }}">{{- value|json_encode -}}</div>
	{% endif %}
{% endmacro %}

{%- macro admin_print(entity, fields, types, class) -%}
	{% import _self as self %}
	{% set fields = metadata_singles(entity, getArray(fields), types|default(true)) %}
	{# {{ dump(fields) }} #}
	{% for field,data in fields if data.cruds.show|default(true) -%}
		{# {% if is_granted(data.role|default(false)) %} #}
		{% set value = attr(entity, field) %}
		<p><strong title="Type: {{ data.type }}">{{ ('field.' ~  field)|trans({}, entity.shortname)|ucfirst }}</strong> :&nbsp;
			{{- self.admin_dump(value, data.type, class) -}}
		</p>
		{# {% endif %} #}
	{%- endfor %}
{% endmacro %}




{%- macro imagesThumbs(entity, size, inBox) -%}
	{% set binarys = getBinarys(entity, 'image') %}
	{# {% set pics = metadata_relations(entity, ['Avatar','Favicon','Photo','Thumbnail','Image'], 'OneToOne') %} #}
	{% if binarys|length %}
		{% if inBox|default(true) %}
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>{{ (inBox|isString ? inBox : 'Images'|trans)|raw }} {{ ('<span class="label label-info pull-right">' ~ binarys|length ~ '</span>')|raw }}</h5>
				<div class="ibox-tools">
					<a class="collapse-link">
						<i class="fa fa-chevron-up fa-fw"></i>
					</a>
				</div>
			</div>
			<div class="ibox-content">
		{% endif %}
		{% for name,pic in binarys if attr(entity, name, true) %}
		{% set size = size in ['sm','md','lg'] ? size : 'lg' %}
		{% set file_url = fileurl(attr(entity, name),'thumbnails',256) %}
		{% if file_url is not null %}
		<img src="{{ asset(file_url) }}" title="{{ ('field.' ~ name)|trans({}, entity.shortname) }}" class="img-{{ size }} img-thumbnail img-responsive" alt="{{ attr(entity, name).__toString }}" data-view-media="'{{ attr(entity, name).bddIdentifyer }}'" data-view-width="1000" data-view-type="'optimized'">
		{% else %}
		<i class="fa fa-times fa-2x fa-fw" title="{{ ('field.' ~ name)|trans({}, entity.shortname) }}"></i>
		{% endif %}
		{% endfor %}
		{% if inBox|default(true) %}
			</div>
		</div>
		{% endif %}
	{% endif %}
	{# {{ dump(metadata_relations(entity, ['Avatar','Favicon','Photo','Thumbnail','Image'], 'OneToOne')) }} #}
{%- endmacro -%}

{% macro tags(entity, inBox, withchilds) %}
	{% import _self as self %}
	{% if entity.tags is defined %}
	{% if inBox|default(true) %}
	<div class="ibox float-e-margins">
		<div class="ibox-title">
			<h5>{{ icon('Tag', true, true, ['fa-fw'])|raw }} {{ 'names'|trans({}, 'Tag') }} {{ ('<span class="label label-info pull-right">' ~ entity.allTags|length ~ '</span>')|raw }}</h5>
		</div>
		<div class="ibox-content">
		{% endif %}
			{{ withchilds|default(true) ? self.entity_labels(entity.allTags, {'primary': entity.tags}, true, true) : self.entity_labels(entity.tags, {}, true, true) }}
		{% if inBox|default(true) %}
		</div>
	</div>
		{% endif %}
	{% endif %}
{% endmacro %}

{%- macro notfound(entity) -%}
	<div class="col-lg-12">
		<div class="jumbotron">
			<i class="fa fa-stack fa-lg fa-5x fa-pull-left" aria-hidden="true">
				{{ icon(entity, true, true, ['fa-stack-1x'])|raw }}
				<i class="fa fa-ban fa-stack-2x text-danger"></i>
			</i>
			<h2><br>{{ 'not.found'|trans({}, entity|shortname) }}<br><br><br></h2>
		</div>
	</div>
{%- endmacro -%}

{%- macro show_preferences(data, mode, level) -%}
	{% import _self as self %}
	{% set level = level|default(6) %}
	{% set mode = mode|default('show') %}
	{% set data = data|isString ? getPreference(data) : data %}
	{% if level > 0 %}
		{% if data|isEntity(false) %}
			{# *** ENTITY *** #}
			<div class="panel panel-success">
				<div class="panel-heading">Préférences <strong>{{ data.name }}</strong>
					{% if data.hasAssociateUser(app.user) or is_granted('ROLE_ADMIN') %}
					<a href="{{ path('wsa_tier_check_preferences', {id: data.id, reset: 1}) }}" class="btn btn-xs btn-danger pull-right action-confirm woc"><i class="fa fa-cog fa-fw m-r-xs"></i>Reset</a>
					<a href="{{ path('wsa_tier_check_preferences', {id: data.id, reset: 0}) }}" class="btn btn-xs btn-success pull-right action-confirm woc"><i class="fa fa-cog fa-fw m-r-xs"></i>Check prefs</a>
					{% endif %}
				</div>
				<div class="panel-body">
					{% if mode == 'edit' %}
					<form name="edit_preferences_{{ data.shortname }}_{{ data.id }}" method="POST" action="{{ path('wsa_post_tier_parameter') }}" class="bordered">
						<input type="hidden" name="entity__bddid" value="{{ data.bddid }}">
					{% endif %}
					{{ self.show_preferences(data.preferences, mode, level) }}
					{% if mode == 'edit' and is_granted('ROLE_SUPER_ADMIN') %}
						<hr>
						{# New parameter / binaire #}
						<h4 class="text-info"><small>Ajouter un paramètre</small> binaire</h4>
						<label>Parent</label for="create__boolean__parent">
						<select id='create__boolean__parent' name='create__boolean__parent'>
							{% for path,name in data.getAllChildablePaths() -%}
							<option value='{{ path }}'>{{ name }}</option>
							{% endfor -%}
						</select>
						<label>Nom</label for="create__boolean__name">
						<input type="text" id="create__boolean__name" name="create__boolean__name" value="">
						<label>Valeur</label for="create__boolean__value">
						<input type="checkbox" id="create__boolean__value" name="create__boolean__value">
						{# New parameter / texte #}
						<h4 class="text-info"><small>Ajouter un paramètre</small> texte</h4>
						<label>Parent</label for="create__text__parent">
						<select id='create__text__parent' name='create__text__parent'>
							{% for path,name in data.getAllChildablePaths() -%}
							<option value='{{ path }}'>{{ name }}</option>
							{% endfor -%}
						</select>
						<label>Nom</label for="create__text__name">
						<input type="text" id="create__text__name" name="create__text__name" value="">
						<label>Valeur</label for="create__text__value">
						<input type="text" id="create__text__value" name="create__text__value" placeholder="Texte" value="">
						{# New parameter / numérique #}
						<h4 class="text-info"><small>Ajouter un paramètre</small> numérique</h4>
						<label>Parent</label for="create__numeric__parent">
						<select id='create__numeric__parent' name='create__numeric__parent'>
							{% for path,name in data.getAllChildablePaths() -%}
							<option value='{{ path }}'>{{ name }}</option>
							{% endfor -%}
						</select>
						<label>Nom</label for="create__numeric__name">
						<input type="text" id="create__numeric__name" name="create__numeric__name" value="">
						<label>Valeur</label for="create__numeric__value">
						<input type="number" id="create__numeric__value" name="create__numeric__value" placeholder="Valeurs" value="">
						{# New parameter / tableau #}
						<h4 class="text-info"><small>Ajouter un paramètre</small> tableau</h4>
						<label>Parent</label for="create__array__parent">
						<select id='create__array__parent' name='create__array__parent'>
							{% for path,name in data.getAllChildablePaths() -%}
							<option value='{{ path }}'>{{ name }}</option>
							{% endfor -%}
						</select>
						<label>Nom</label for="create__array__name">
						<input type="text" id="create__array__name" name="create__array__name" value="">
						<label>Valeurs</label for="create__array__value">
						<textarea id="create__array__value" name="create__array__value" placeholder="Séparer les valeurs par retours à la ligne..."></textarea>
					{% endif %}
					{% if mode == 'edit' %}
						<hr>
						<input class="btn btn-sm btn-primary btn-block" type="submit" value="Enregistrer">
					</form>
					{% endif %}
				</div>
			</div>
			{# {{ dump(data.preferences) }} #}
		{% elseif data.type == 'childable' %}
			{# *** ARRAY *** #}
			<ul class="list-unstyled{{ not data.isLevel(0) ? ' m-l-md' }}">
			{% for name,preference in data.value %}
				<li>{{ preference.isChildable() or preference.isLevel(1) ? ("<h3><u>" ~ name ~ "</u> :</h3>")|raw }}{{ self.show_preferences(preference, mode, level - 1) }}</li>
			{% endfor %}
			</ul>
		{% elseif data|isInstance('Preference') %}
			{# *** OBJECT *** #}
			<span title="{{ data.type|default(null) }}">
				{% if mode == 'edit' %}
					{% if data.type in ['boolean'] %}
					<label for="{{ data.newName }}{{ data.path }}">{{ data.name }}</label>
					<input type="checkbox" id="{{ data.newName }}{{ data.path }}" name="{{ data.newName }}{{ data.path }}"{{ data.value ? ' checked' }}>
					<input type="hidden" name="{{ data.originName }}{{ data.path }}" value="{{ data.value|json_encode }}">
					{% elseif data.type in ['string'] %}
					<label for="{{ data.newName }}{{ data.path }}">{{ data.name }}</label>
					<input type="text" id="{{ data.newName }}{{ data.path }}" name="{{ data.newName }}{{ data.path }}" value="{{ data.value }}">
					<input type="hidden" name="{{ data.originName }}{{ data.path }}" value="{{ data.value }}">
					{% elseif data.type in ['integer','real','numeric'] %}
					<label for="{{ data.newName }}{{ data.path }}">{{ data.name }}</label>
					<input type="number" id="{{ data.newName }}{{ data.path }}" name="{{ data.newName }}{{ data.path }}" value="{{ data.value }}">
					<input type="hidden" name="{{ data.originName }}{{ data.path }}" value="{{ data.value }}">
					{% elseif data.type in ['array'] %}
					<label for="{{ data.newName }}{{ data.path }}">{{ data.name }}</label>
					<textarea id="{{ data.newName }}{{ data.path }}" name="{{ data.newName }}{{ data.path }}">{{ data.value|join('\n') }}</textarea>
					<input type="hidden" name="{{ data.originName }}{{ data.path }}" value="{{ data.value|json_encode }}">
					{% else %}
					<span class="text-info">{{ data.value|json_encode }}</span>
					{% endif %}
				{% else %}
					<strong>{{ data.name }}</strong> : <span class="text-info">{{ data.value|json_encode }}</span>
				{% endif %}
			</span>
		{% else %}
			{# *** ELSE... *** #}
			{# <h1 class="text-danger">NOOOOO!!!!!</h1> #}
		{% endif %}
	{% endif %}
{%- endmacro -%}

{# {%- macro print_preferences(data, mode) -%}
	{% set mode = mode|default('show') %}
	{% set preferencesAsObjects = data.getPreferencesAsObjects() %}
	{% if data.isPreferencesArray %}
		<h2>Preferences as Array</h2>
		<ul>
		{% for name,pref in data.preferences %}
			{% if pref is iterable %}
				<li>{{ name }} :</li>
				<ul>
				{% for name2,pref2 in pref %}
					<li>{{ name2 }} : <strong>{{ pref2|json_encode }}</strong></li>
				{% endfor %}
				</ul>
			{% elseif mode == 'edit' and name in ['newsletter','cookies','help'] %}
				<li>{{ name }} : <strong><a href="{{ path('wsa_user_parameter', {id: data.id, name: name, parameter: data.preferences[name]|default(false) ? 0 : 1 }) }}">{{ pref|json_encode }}</a></strong></li>
			{% else %}
				<li>{{ name }} : <strong>{{ pref|json_encode }}</strong></li>
			{% endif %}
		{% endfor %}
		</ul>
	{% else %}
		<h2>Preferences as Object</h2>
		<ul>
		{% for name,pref in data.preferences.value %}
			{% if pref.type == 'childable' %}
				<li>{{ name }} :</li>
				<ul>
				{% for name2,pref2 in pref.value %}
					<li>{{ name2 }} : <strong>{{ pref2.value|json_encode }}</strong></li>
				{% endfor %}
				</ul>
			{% elseif mode == 'edit' and name in ['newsletter','cookies','help'] %}
				<li>{{ name }} : <strong><a href="{{ path('wsa_user_parameter', {id: data.id, name: name, parameter: pref.value|default(false) ? 0 : 1 }) }}">{{ pref.value|json_encode }}</a></strong></li>
			{% else %}
				<li>{{ name }} : <strong>{{ pref.value|json_encode }}</strong></li>
			{% endif %}
		{% endfor %}
		</ul>
		{{ dump(data.preferences) }}
	{% endif %}
{%- endmacro -%}
 #}


{# ############## #}
{# TABLE ENTITIES #}
{# ############## #}

{% macro table_header(data) %}
	<thead>
		<tr>
			<th colspan="100%">
				<ul class="pagination pull-right"></ul>
			</th>
		</tr>
		<tr>
			{% set do_action = data.actions %}
			{% if do_action == 'first' %}
			<th>{{ 'Actions'|trans }}</th>
			{% set do_action = false %}
			{% endif %}
			{% for field in data.cruds.fields -%}
			{% if do_action == loop.index %}
			<th>{{ 'Actions'|trans }}</th>
			{% set do_action = false %}
			{% endif %}
			<th>{{ field.cruds.Show.label|trans({}, data.cruds.shortname) }}</th>
			{%- endfor %}
			{% if do_action|isInteger or do_action == 'last' %}
			<th>{{ 'Actions'|trans }}</th>
			{% set do_action = false %}
			{% endif %}
		</tr>
	</thead>
{% endmacro %}

{% macro table_body(data) %}
	{% import _self as self %}
	<tbody>
		{% for entity in data.data %}
		{% if loop.index <= data.length %}
		{{ self.table_line(entity, data) }}
		{% endif %}
		{% endfor %}
	</tbody>
{% endmacro %}

{% macro table_footer(data, table_type) %}
	{% if table_type matches '/^footable/' %}
	<tfoot>
		<tr>
			<td colspan="100%">
				<ul class="pagination pull-right"></ul>
			</td>
		</tr>
	</tfoot>
	{% endif %}
{% endmacro %}

{% macro table_line(entity, data, actions) %}
	{% import _self as self %}
	<tr class="{{ tableClass(entity) }}">
		{% set do_action = data.actions %}
		{% if do_action == 'first' %}
		<td>{{ self.buttons_groups(entity, null, actions|default(null)) }}</td>
		{% set do_action = false %}
		{% endif %}
		{% for field,description in data.cruds.fields -%}
		{% if do_action == loop.index %}
		<td>{{ self.buttons_groups(entity, null, actions|default(null)) }}</td>
		{% set do_action = false %}
		{% endif %}
		<td class="{{ self.cell_class(data.cruds.fields[field].cruds.Show.type) }}">{{ self.field_print(entity, field, data) }}</td>
		{%- endfor %}
		{% if do_action|isInteger or do_action == 'last' %}
		<td>{{ self.buttons_groups(entity, null, actions|default(null)) }}</td>
		{% set do_action = false %}
		{% endif %}
	</tr>
{% endmacro %}

{% macro table_entities(model, table_type, parameters) %}
	{% import _self as self %}
	{% set data = table_compile_parameters(model, parameters) %}
	{% set table_type = table_type ?? '' %}
	{% if table_type matches '/^footable/' %}<input type="text" class="form-control form-control-sm m-b-xs" id="filter" placeholder="{{ 'Search'|trans }}">{% endif %}
	<table class="{{ table_type|isString ? table_type ~ ' ' }}{{ data.table_class }}"{% if table_type matches '/^footable/' %} data-page-size="25" data-filter=#filter{% endif %}>
		{{ self.table_header(data) }}
		{{ self.table_body(data) }}
		{{ self.table_footer(data, table_type|default(null)) }}
	</table>
	{# {{ dump(data.cruds) }} #}
	{# {{ dump(data) }} #}
{% endmacro %}

{% macro field_print(entity, field, data) %}
	{% import _self as self %}
	{% set value = attr(entity,field) %}
	{% set type = data.cruds.fields[field].cruds.Show.type %}

	{%- if type == 'boolean' -%}
		{{- value ? '<i class="fa fa-check fa-fw text-info"></i>'|raw : '<i class="fa fa-times fa-fw text-muted"></i>'|raw -}}
	{%- elseif type in ['icon','fa-icon'] -%}
		{# {{- value|striptags|truncate(24, true) -}} #}
		<i class="fa {{ value }} fa-fw fa-1x"></i>
	{%- elseif type in ['icon-2x','fa-icon-2x'] -%}
		<i class="fa {{ value }} fa-fw fa-2x"></i>
	{%- elseif type in ['icon-3x','fa-icon-3x'] -%}
		<i class="fa {{ value }} fa-fw fa-3x"></i>
	{%- elseif type == 'string' -%}
		{{- value|striptags|truncate(24, true) -}}
	{%- elseif type == 'text' -%}
		{{- value|striptags|truncate(24, true) -}}
	{%- elseif type == 'integer' -%}
		{{- value -}}
	{%- elseif type == 'float' -%}
		{{- value|number_format(2,",","") -}}
	{%- elseif type == 'filesize' -%}
		<span data-filesize="{{ value }}"></span>
	{%- elseif type == 'datetime' -%}
		{{- value is null ? '<i class="fa fa-times fa-fw text-muted"></i>'|raw : value|localizeddate('none', 'none', app.request.locale, null, "YY/MM/dd HH:mm:ss") -}}
	{%- elseif type == 'colordot' -%}
		<i class="fa fa-circle fa-fw fa-2x" style="color:{{ value }};"></i>
	{%- elseif type in ['ManyToOne','OneToOne'] -%}
		{{ self.entity_label(value) }}
	{%- elseif type in ['ManyToMany','OneToMany'] -%}
		{{ self.entity_labels(value) }}
	{% elseif type == 'graphic_sm' %}
		{% set file_url = value is not null ? fileurl(value,'thumbnails',128) : null %}
		{% if file_url is not null %}
		<img src="{{ asset(file_url) }}" class="img-sm" alt="{{ value.mediatype }} {{ entity.slug|default(entity.name) }}" data-view-media="'{{ value.bddIdentifyer }}'" data-view-width="400" data-view-type="'optimized'" data-view-name="'{{ entity.name|default(entity.slug) }}'">
		{% else %}
		<i class="fa {{ entity.icon }} fa-2x fa-fw" style="color:{{ entity.color|default('#AAAAAA') }};"></i>
		{% endif %}
	{% elseif type == 'graphic_md' %}
		{% set file_url = value is not null ? fileurl(value,'thumbnails',256) : null %}
		{% if file_url is not null %}
		<img src="{{ asset(file_url) }}" class="img-md" alt="{{ value.mediatype }} {{ entity.slug|default(entity.name) }}" data-view-media="'{{ value.bddIdentifyer }}'" data-view-width="800" data-view-type="'optimized'" data-view-name="'{{ entity.name|default(entity.slug) }}'">
		{% else %}
		<i class="fa {{ entity.icon }} fa-2x fa-fw" style="color:{{ entity.color|default('#AAAAAA') }};"></i>
		{% endif %}
	{% else %}
		{{- '?' -}}
	{% endif %}

{% endmacro %}

{% macro cell_class(type) %}
	{%- if type in ['boolean','icon','fa-icon','icon-2x','fa-icon-2x','icon-3x','fa-icon-3x','colordot','graphic_sm','graphic_md'] -%}
		text-center
	{%- elseif type in ['integer','filesize'] -%}
		text-right
	{%- else -%}
		text-left
	{%- endif -%}
{% endmacro %}



{% macro video_carousel(videos, parameters) %}
	{% if parameters.addVideosBddid|default(null)|isString %}
	{% set vidform = getFormAddDiapo(parameters.addVideosBddid) %}
	{% if vidform is not null %}
	{{ form(vidform) }}
	{% endif %}
	{% endif %}
	{% set videos = getArray(videos) %}
	{% if videos|length %}
	{% if parameters.shuffle|default(false) %}{% set videos = shuffle_array(videos) %}{% endif %}
	{% set size = parameters.size|default(null)|isInteger ? parameters.size : 1024 %}
	{% set classize = parameters.classize|default(null) in ['sm','md','lg'] ? parameters.classize : 'lg' %}
	{% for alt,vid in videos if (vid|isInstance('Video')) %}
		<i class="fa {{ vid.icon }} fa-3x fa-fw" title="{{ vid.name }}" data-view-media="'{{ vid.bddIdentifyer }}'" data-view-shortname="{{ vid.mediatype }}" data-view-width="1000" data-view-type="'optimized'"></i>
	{% endfor %}
	{% endif %}
{% endmacro %}

{% macro slider_carousel(images, parameters) %}
	{% if parameters.addDiaposBddid|default(null)|isString %}
	{% set imgform = getFormAddDiapo(parameters.addDiaposBddid) %}
	{% if imgform is not null %}
	{{ form(imgform) }}
	{% endif %}
	{% endif %}
	{% set images = getArray(images) %}
	{% if images|length %}
	{% if parameters.shuffle|default(false) %}{% set images = shuffle_array(images) %}{% endif %}
	{% set size = parameters.size|default(null)|isInteger ? parameters.size : 1024 %}
	{% set classize = parameters.classize|default(null) in ['sm','md','lg'] ? parameters.classize : 'lg' %}
	{% for alt,img in images if (img|isInstance('Image') or img|isInstance('Pdf')) %}
		{% set file_url = fileurl(img, parameters.type|default('thumbnail'), 256) %}
		{% if file_url is not null %}
		{% set alt = alt|isString ? alt : img.slug %}
		<img src="{{ asset(file_url) }}" class="img-{{ classize }} img-thumbnail im-responsive{{ not img.active ? ' opacity-5' }}" title="{{ not img.active ? 'Invisible : ' }}{{ alt }}" alt="{{ alt }}" data-view-media="'{{ img.bddIdentifyer }}'" data-view-width="{{ size }}" data-view-type="'optimized'">
		{% else %}
		<i class="fa fa-times fa-2x fa-fw text-danger" title="Image exists, but file are missing!"></i>
		{% endif %}
	{% endfor %}
	{% endif %}
{% endmacro %}
{# {% macro slider_carousel(images, parameters) %}
	{% set images = getArray(images) %}
	{% if images|length %}
	{% if parameters.shuffle|default(false) %}{% set images = shuffle_array(images) %}{% endif %}
	{% set car_id = parameters.id is defined ? parameters.id : 'carousel_' ~ random(100000,999999) %}
	<div id="{{ car_id }}" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			{% for img in images %}
			{% if loop.index0 < parameters.maxlength|default(24) and img|isInstance('Image') %}
			<li data-target="#{{ car_id }}" data-slide-to="{{ loop.index0 }}" class="{{ loop.first ? 'active' }}"></li>
			{% endif %}
			{% endfor %}
		</ol>
		<div class="carousel-inner">
			{% for alt,img in images %}
			{% if loop.index0 < parameters.maxlength|default(24) and img|isInstance('Image') %}
			{% set alt = (not alt|isString ? img.slug : alt)|default_string('photo') %}
			<div class="carousel-item {{ loop.first ? 'active' }}">
				<img class="d-block w-100" src="{{ asset(fileurl(img, parameters.type|default_string('optimized'), parameters.size|default_integer(800))) }}" alt="{{ alt }}">
				<div class="carousel-caption d-none d-md-block">
					<p>{{ alt }}</p>
				</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
		<a class="carousel-control-prev" href="#{{ car_id }}" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#{{ car_id }}" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
	{% endif %}
{% endmacro %}

 #}
