{% macro sitedata() %}
	{% import 'WebsiteSiteBundle:Macro:environment.html.twig' as environment %}
	{{ environment.sitedata() }}

{# 	<div id="site-data">
		<div id="sd-environment" data-info="{{ app.environment }}"></div>
		<div id="sd-languages" data-info="{{ Languages|default([])|serialize }}"></div>
		<div id="sd-user" data-info="{{ (app.user|isInstance('User') ? app.user : null)|serialize }}"></div>
		<div id="sd-entreprise" data-info="{{ site_context.Entreprise.preferences|default([])|serialize }}"></div>
	</div> #}
{% endmacro %}