{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
{%- autoescape false -%}
Email information
{%- endautoescape -%}
{% endblock %}

{% block body_text %}
{% autoescape false %}
{% endautoescape %}
{% endblock %}

{% block body_html %}
{% endblock %}
