{% extends 'WebsiteAdminBundle:Emails:layout.html.twig' %}

{# {% trans_default_domain 'FOSUserBundle' %} #}
{% block subject %}
{%- autoescape false -%}
Informations utilisateur {{ user.username }}
{%- endautoescape -%}
{% endblock %}

{% block body_html %}
<div>Nom utilisateur : {{ user.username }}</div>
<div>Email : {{ user.email }}</div>
{% if user.temppassword is not null %}
<div>Password : {{ user.temppassword }}</div>
{% endif %}
{% endblock %}

{% block body_text %}{% endblock %}
