{% extends 'WebsiteAdminBundle:Emails:layout.html.twig' %}

{# {% trans_default_domain 'FOSUserBundle' %} #}
{% block subject %}
{%- autoescape false -%}
Informations utilisateur {{ user.username }}
{%- endautoescape -%}
{% endblock %}

{% block body_html %}{% endblock %}

{% block body_text %}
{% autoescape false %}
Nom utilisateur : {{ user.username }}
Email : {{ user.email }}
{% if user.temppassword is not null %}
Password : {{ user.temppassword }}
{% endif %}
{% endautoescape %}
{% endblock %}
