<div class="row border-bottom">
	<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
		<div class="navbar-header">
			<a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#"><i class="fa fa-bars"></i> </a>
			<form role="search" class="navbar-form-custom" action="search_results.html">
				<div class="form-group">
					<input type="text" placeholder="{{ 'Search'|transno }}" class="form-control" name="top-search" id="top-search">
				</div>
			</form>
		</div>
		<ul class="nav navbar-top-links navbar-right">

			{###########################################################}
			{# CONTEXTS                                                #}
			{###########################################################}

			{% if site_context.hasErrors() %}
			<li class="text-danger" title="{{ site_context.getErrors(true) }} error(s)">Site Context ERRORS</li>
			{% else %}

			{# {% set choicesEnvironments = site_context.getGrantedItems(app.user, ['User','Entreprise'], [], false) %} #}
			{% set choicesEnvironments = site_context.getUserChoicesEnvironments(app.user) %}
			{# {{ dump(choicesEnvironments) }} #}
			{% set max_user = 5 %}
			{% set max_entreprise = 8 %}
			{% if is_granted('ROLE_COLLAB') and (choicesEnvironments.User.count|default(0) > 0 or choicesEnvironments.Entreprise.count|default(0) > 0) %}
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#"><strong><i class="fa {{ site_context.Environment.icon }} fa-fw m-r-sx" style="color:{{ site_context.Environment.color|default('#666666') }};"></i>{{ site_context.Environment_as_string }}</strong></a>
				<ul class="dropdown-menu">
					{% for new_user in choicesEnvironments.User.slice(0, max_user) %}
					<li{{ site_context.isCurrentEnvironment(new_user) ? ' class="active"' }}><a class="dropdown-item" href="{{ path('website_admin_homepage') ~ '?' ~ site_context.CONTEXT_ENVIRONMENT_TOKEN_NAME ~ '=' ~ new_user.bddid|url_encode }}"><i class="fa {{ new_user.icon }} fa-fw m-r-sx"></i>{{ new_user.name }}</a></li>
					{% endfor %}
					{% for new_environment in choicesEnvironments.Entreprise.slice(0, max_entreprise) %}
					<li{{ site_context.isCurrentEnvironment(new_environment) ? ' class="active"' }}><a class="dropdown-item" href="{{ path('website_admin_homepage') ~ '?' ~ site_context.CONTEXT_ENVIRONMENT_TOKEN_NAME ~ '=' ~ new_environment.bddid|url_encode }}">{{ new_environment.prefered ? '<i class="fa fa-star fa-fw"></i>'|raw }}<i class="fa {{ new_environment.icon }} fa-fw m-r-sx"></i>{{ new_environment.name }}</a></li>
					{% if new_environment.prefered %}
					<li class="dropdown-divider"></li>
					{% endif %}
					{% endfor %}
					{% if is_granted('ROLE_ADMIN') %}
					{# <li>
						<a href="{{ path('wsa_contexts_list') }}" class="dropdown-item" title="Voir tous les environnements en tant qu'Administrateur"><i class="fa fa-cog text-success"></i> Voir tous</a>
					</li> #}
					{% elseif choicesEnvironments.User.count > max_user or choicesEnvironments.Entreprise.count > max_entreprise %}
					<li title="Voir tous les environnements disponibles">
						<a href="{{ path('wsa_contexts_list') }}">...<small> (voir tous)</small></a>
					</li>
					{% endif %}
				</ul>
			</li>
			{% else %}
			<li><strong><i class="fa {{ site_context.Environment.icon }} fa-fw m-r-sx" style="color:{{ site_context.Environment.color|default('#666666') }};"></i>{{ site_context.Environment_as_string }}</strong></li>
			{% endif %}

			{###########################################################}
			{# CONTEXT DATE                                            #}
			{###########################################################}

			{% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:{{ site_context.isDefaultDate() ? 'inherit' : 'red' }};" title="{{ site_context.date|localizeddate('none', 'none', site_context.locale, null, "cccc d MMMM Y HH:mm") }}"><i class="fa fa-clock-o fa-fw"></i>{{ site_context.getContextDateAsString()|trans|raw }}</a>
				<ul class="dropdown-menu">
					{% for new_date,name in site_context.choicesDates %}
					<li{{ name == site_context.date(false) ? ' class="active"' }}><a class="dropdown-item" href="{{ path('website_admin_homepage') ~ '?' ~ site_context.CONTEXT_DATE_TOKEN_NAME ~ '=' ~ new_date|url_encode }}">{{ name|trans|raw }}</a></li>
					{% endfor %}
				</ul>
			</li>
			{% endif %}

			{###########################################################}
			{# CONTEXTS LIST                                           #}
			{###########################################################}

			{% if is_granted('ROLE_SUPER_ADMIN') %}
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#" title="ID# {{ site_context.id }}">
					{%- if site_context.hasErrors() -%}<i class="fa fa-exclamation-triangle fa-fw text-danger"></i>
					{%- elseif site_context.hasWarnings() -%}<i class="fa fa-exclamation-triangle fa-fw text-warning"></i>
					{%- else -%}<i class="fa fa-check fa-fw text-info"></i>{%- endif -%}
					{{- ('Site Contexts'|trans)|raw -}}
				</a>
				{% set contextElem = site_context.getAllContextNamedElements(false, true) %}
				<ul class="dropdown-menu">
					<li><a class="dropdown-item"><strong>Env.</strong> {{ contextElem["_CEnvironment_show"]|raw }}</a></li>
					<li><a class="dropdown-item"><strong>Entrep.</strong> {{ contextElem["_CEntreprise_show"]|raw }}</a></li>
					<li><a class="dropdown-item"><strong>User</strong> {{ contextElem["_CUser_show"]|raw }}</a></li>
					{# <li><a class="dropdown-item"><strong>Public</strong> {{ contextElem["_CPublic"] ? 'oui' : 'non' }}</a></li> #}
					<li><a class="dropdown-item"><strong>Bundle</strong> <i class="fa {{ contextElem["_CPublic"] ? 'fa-unlock' : 'fa-lock' }} fa-fw {{ contextElem["_CPublic"] ? 'text-info' : 'text-danger' }}" title="{{ contextElem["_CPublic"] ? 'Public' : 'Sécurisé' }}"></i> {{ contextElem["_CBundle"]|shortname }}</a></li>
					{% if site_context.isTimetraveller() and is_granted('ROLE_EDITOR') %}
					<li><a class="dropdown-item"><strong>Date</strong> {{ contextElem["_CDate"] }}</a></li>
					{# <li><a class="dropdown-item"><strong>Date</strong> {{ contextElem["_CDate"]|localizeddate('none', 'none', site_context.locale, null, "cccc d MMMM Y HH:mm") }}</a></li> #}
					<li><a class="dropdown-item"><strong>Atom</strong> {{ contextElem["_CAtom"] }}</a></li>
					<li><a class="dropdown-item"><strong>TimeZone</strong> {{ contextElem["_CTimezone"] }}</a></li>
					{% endif %}
					{% for name,warning in contextElem["_CWarnings"] %}
					{% if loop.first %}<li><a class="dropdown-item bg-warning"><strong><u>{{ 'WARNINGS'|trans }}</u></strong></a></li>{% endif %}
					<li><a class="dropdown-item"><strong>{{ name }}</strong> {{ warning|raw }}</a></li>
					{% endfor %}
					{% for name,error in contextElem["_CErrors"] %}
					{% if loop.first %}<li><a class="dropdown-item bg-danger"><strong><u>{{ 'ERRORS'|trans }}</u></strong></a></li>{% endif %}
					<li><a class="dropdown-item"><strong>{{ name }}</strong> {{ error|raw }}</a></li>
					{% endfor %}
					<li class="dropdown-divider"></li>
					<li><a class="dropdown-item"><strong>{{ 'Route'|trans }}</strong> {{ app.request.get('_route') }}</a></li>
				</ul>
			</li>
			{% endif %}

			{###########################################################}
			{# LANGUAGES                                               #}
			{###########################################################}

			{% if site_context.isTranslatorAndShow() %}
			<li class="dropdown">
				<a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
					<i class="fa fa-flag"></i> {{ currentLanguage.description|default(currentLanguage.fullname) }}
				</a>
				<ul class="dropdown-menu dropdown-alerts">
					{% for language in Languages %}
					{% if language.active %}
					<li{{ language.fullname == site_context.locale ? ' class="active"' }}>
						<a class="dropdown-item" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({locale: language.fullname})) }}" title="{{ language.fullname }}">
							<div>
								<i class="fa fa-flag fa-fw" style="color:{{ language.fullname == site_context.locale ? 'white' : language.color|default('#AAAAAA') }};"></i>&nbsp;
								{% if language.fullname == site_context.locale %}
								<strong><u>{{ language.description|default(language.fullname) }}</u></strong>
								{% else %}
								{{ language.description|default(language.fullname) }}
								{% endif %}
								<span class="pull-right text-muted small"{{ language.fullname == site_context.locale ? ' style="color:white;"' }}>{{ language.countryName }}</span>
							</div>
						</a>
					</li>
					{% else %}
					<li class="text-muted">
						<a class="dropdown-item" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({locale: language.fullname})) }}" title="{{ language.fullname }}">
							<div>
								<i class="fa fa-flag fa-fw" style="color:{{ language.color|default('#AAAAAA') }};"></i>&nbsp;
								{% if language.fullname == site_context.locale %}
								<strong><u><i>{{ language.description|default(language.fullname) }}</i></u></strong>
								{% else %}
								<i>{{ language.description|default(language.fullname) }}</i>
								{% endif %}
								<span class="pull-right text-muted small"><i>{{ language.countryName }}</i></span>
							</div>
						</a>
					</li>
					{% endif %}
					<li class="divider"></li>
					{% endfor %}
					<li>
						<a class="dropdown-item" href="{{ path('wsa_language_switchmode') }}">{{ translation_mode(true)|raw }} {{ 'translation.switch'|trans|raw }}</a>
					</li>
				</ul>
			</li>
			{% endif %}

			{###########################################################}
			{# ENVIRONMENT / ANGULAR                                   #}
			{###########################################################}

			{% if app.environment matches '/dev/i' %}
			<li><div class="label label-warning">{{ app.environment }}</div></li>
			{% endif %}
			<li><div class="label label-danger superadmin">Super Admin</div></li>
			{% for mode in app.user.getPreferenceValue('forms.contexts', ['<a class="action-confirm woc" href="' ~ path('wsa_tier_check_preferences', {id: app.user.id, reset: 1}) ~ '"><i class="fa fa-exclamation-triangle fa-fw text-white"></i></a>']) %}
				<li><div class="label label-primary text-white">{{ mode|raw }}</div></li>
			{% endfor %}
			<li><span class="m-r-sm text-muted welcome-message">Angular <span data-angular-ready><i class="fa fa-circle fa-fw text-danger"></i></span></span></li>

			{###########################################################}
			{# LOGIN / LOGOUT                                          #}
			{###########################################################}

			<li>
				{% if app.user %}
				<a href="{{ path('fos_user_security_logout') }}" class="woc action-confirm">
					<i class="fa fa-sign-out"></i> <span>{{ 'user.account.logout'|trans|raw }} {{ app.user.username }}</span>
				</a>
				{% else %}
				<a href="{{ path('fos_user_security_login') }}">
					<i class="fa fa-sign-in"></i> <span>{{ 'user.account.login'|trans|raw }}</span>
				</a>
				{% endif %}
			</li>

			{% endif %}
		</ul>
	</nav>
	{# {{ dump(choicesEnvironments) }} #}
</div>

