<div class="footer">
	<div class="pull-right">
		v.{{ site_context.version }} | {{ 'Crée par'|trans }} <strong>Aequation-Webdesign</strong>
	</div>
	<div>
		Copyright <strong>Aequation-Webdesign</strong> &copy; {{ site_context.getCurrentYear() }}
	</div>
</div>
