{% import ['WebsiteSiteBundle:Admin:Macro/entities_actions.html.twig','WebsiteAdminBundle:Macro:entities_actions.html.twig'] as entities_actions %}

<div class="row border-bottom dashboard-header" style="background-color: {{ site_context.environment.color }};">
	<div class="{{ actions|default(false) and entity|default(model|default(false)) ? 'col-md-6' : 'col-md-12' }}">
		{% if site_context.isUserEnvironment() %}
		<h2 style="color: {{ color_contrast(site_context.environment.color, '#FFFFFF', '#676a6c') }};">Espace personnel {# <i class="fa fa-circle fa-fw" style="color: {{ site_context.environment.color }};"></i> #}<strong>{{ site_context.environment.name }}</strong></h2>
		{% elseif site_context.isUserEntrepriseEnv() %}
		<h2 style="color: {{ color_contrast(site_context.environment.color, '#FFFFFF', '#676a6c') }};">Espace personnel Entreprise {# <i class="fa fa-circle fa-fw" style="color: {{ site_context.environment.color }};"></i> #}<strong>{{ site_context.environment.name }}</strong></h2>
		{% elseif site_context.isMainEntrepriseEnv() %}
		<h2 style="color: {{ color_contrast(site_context.environment.color, '#FFFFFF', '#676a6c') }};">Administration site web {# <i class="fa fa-circle fa-fw" style="color: {{ site_context.environment.color }};"></i> #}<strong>{{ site_context.environment.name }}</strong></h2>
		{# <h2>{{ site_context.isEntrepriseEnv() ? Pageweb.titleh1|default(('Administration site web <strong>' ~ site_context.environment.name ~ '</strong>')|trans)|raw : ("Espace personnel"|trans() ~ ' <strong>' ~ site_context.environment.name ~ '</strong>')|raw }}&nbsp; #}
			{# <small>
				<div class="btn-group" role="group" aria-label="homepage">
					<a href="{{ path('website_site_homepage') }}" target="_self" type="button" class="btn btn-xs btn-default woc"><i class="fa fa-globe fa-fw"></i> {{ 'Voir le site'|trans|raw }}</a>
					<a href="{{ path('website_site_homepage') }}" target="_blank" type="button" class="btn btn-xs btn-default woc" title="{{ 'Voir le site dans une nouvelle page' }}"><i class="fa fa-plus fa-fw"></i></a>
				</div>
			</small> #}
		{# </h2> #}
		{% endif %}
	</div>
	{% if actions|default(false) and entity|default(model|default(false)) %}
	<div class="col-md-6">
		{# {% if model is not defined %}{% set model = entity|default(null) %}{% endif %}
		{% if model is not null %}
		{{ entities_actions.buttons_header(actions, entity|default(model)) }}
		{% endif %} #}
		{# {% if entity|default(model|default(false)) %} #}
		{{ entities_actions.buttons_header(actions, entity|default(model|default(null))) }}
		{# {% endif %} #}
	</div>
	{% endif %}
</div>

