<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<ul class="nav metismenu" id="side-menu" data-side-menu>
			{# https://github.com/onokumus/metismenu #}
			<li class="nav-header"{{ site_context.isUserEnvironment() and app.user.picone|default(null) is not null ? (' style="background-image: url(' ~ asset(fileurl(app.user.picone,'thumbnail', 256)) ~ '); background-size: cover; background-repeat: no-repeat;"')|raw : '' }}>
			{# <li class="nav-header"{{ site_context.isUserEnvironment() and site_context.Environment.picone is not null ? (' style="background-image: url(' ~ asset(fileurl(site_context.Environment.picone,'thumbnail', 256)) ~ '); background-size: cover; background-repeat: no-repeat;"')|raw : '' }}> #}
				<div class="dropdown profile-element">
					{% if not site_context.isEntrepriseEnvironment() %}
					<span>
						{% if site_context.Environment.avatar.fileUrl is defined %}
						<img alt="{{ site_context.Environment.username }}" class="img-circle" src="{{ asset(fileurl(site_context.Environment.avatar, 'thumbnails', 64)) }}" style="width:42px;height:42px;">
						{% else %}
						<i class="fa {{ site_context.Environment.icon }} fa-3x fa-fw" style="color: {{ site_context.Environment.color|default('#666666;') }};"></i>
						{% endif %}
					</span>
					<a data-toggle="dropdown" class="dropdown-toggle" href="{{ path('website_admin_homepage') }}">
						<span class="clear">
							<span class="block m-t-xs"><strong class="font-bold">{{ app.user.username }}</strong></span>
							<span class="text-muted text-xs block"><span>{{ app.user.functionality|default(app.user.email) }}</span>&nbsp;<b class="caret"></b></span>
						</span>
					</a>
					<ul class="dropdown-menu animated fadeInRight m-t-xs">
						{% if app.user %}
						<li><a href="{{ path('wsa_user_show', {id: app.user.id}) }}">{{ 'user.account.profile'|trans }}</a></li>
						{# <li><a href="{{ path('fos_user_profile_show') }}">{{ 'user.account.profile'|trans }}</a></li> #}
						<li><a href="{{ path('nelmio_api_doc_index') }}" target="_blank"><i class="fa fa-info-circle fa-fw"></i> {{ 'api-doc'|trans }}</a></li>
						<li class="divider"></li>
						<li><a href="{{ path('fos_user_security_logout') }}" class="woc action-confirm">{{ 'user.account.logout'|trans }}</a></li>
						{% else %}
						<li><a href="{{ path('fos_user_security_login') }}">{{ 'user.account.login'|trans }}</a></li>
						{% endif %}
						<li class="divider"></li>
						<li><a href="{{ path('website_site_homepage') }}">{{ 'Voir le site'|trans }}</a></li>
						<li><a href="{{ path('website_site_homepage') }}" target="_blank">{{ 'Site dans une nouvelle fenêtre'|trans }}</a></li>
						<li class="divider"></li>
						<li><a href="{{ path('website_admin_homepage', {'_switch_user': '_exit'}) }}">Unswitch {{ app.user.username|default('X') }}</a></li>
					</ul>
					{% else %}
					<span>
						{% if site_context.Environment.favicon.fileUrl is defined %}
						<img alt="{{ site_context.Environment.username }}" class="img-circle" src="{{ asset(fileurl(site_context.Environment.favicon, 'thumbnails', 64)) }}" style="width:42px;height:42px;">
						{# {% elseif site_context.Environment.avatar.fileUrl is defined %} #}
						{# <img alt="{{ site_context.Environment.username }}" class="img-circle" src="{{ asset(fileurl(site_context.Environment.avatar, 'thumbnails', 64)) }}" style="width:42px;height:42px;"> #}
						{% else %}
						<i class="fa {{ site_context.Environment.icon }} fa-3x fa-fw" style="color: {{ site_context.Environment.color|default('#666666;') }};"></i>
						{% endif %}
					</span>
					<a data-toggle="dropdown" class="dropdown-toggle" href="{{ path('website_admin_homepage') }}">
						<span class="clear">
							<span class="block m-t-xs"><strong class="font-bold">{{ site_context.Environment.title|default(site_context.Environment.name) }}</strong></span>
							<span class="text-muted text-xs block"><span>{{ app.user.username }}</span>&nbsp;<b class="caret"></b></span>
						</span>
					</a>
					<ul class="dropdown-menu animated fadeInRight m-t-xs">
						{% if app.user %}
						<li><a href="{{ path('wsa_user_show', {id: app.user.id}) }}">{{ 'user.account.profile'|trans }}</a></li>
						<li><a href="{{ path('nelmio_api_doc_index') }}" target="_blank"><i class="fa fa-info-circle fa-fw"></i> {{ 'api-doc'|trans }}</a></li>
						<li class="divider"></li>
						<li><a href="{{ path('fos_user_security_logout') }}" class="woc action-confirm">{{ 'user.account.logout'|trans }}</a></li>
						{% else %}
						<li><a href="{{ path('fos_user_security_login') }}">{{ 'user.account.login'|trans }}</a></li>
						{% endif %}
						<li class="divider"></li>
						<li><a href="{{ path('website_site_homepage') }}">{{ 'Voir le site'|trans }}</a></li>
						<li><a href="{{ path('website_site_homepage') }}" target="_blank">{{ 'Site dans une nouvelle fenêtre'|trans }}</a></li>
						<li class="divider"></li>
						<li><a href="{{ path('website_admin_homepage', {'_switch_user': '_exit'}) }}">Unswitch {{ app.user.username|default('X') }}</a></li>
					</ul>
					{% endif %}
				</div>
				<div class="logo-element">
					AEW
				</div>
			</li>

			{% if not app.user or site_context.isUserEnvironmentButNotCurrent() %}

			{#####################################################################################################
			//
			// INVALID ENVIRONMENT
			//
			######################################################################################################}

			<li>
				<a href="{{ path('website_admin_homepage') }}" class="woc"><i class="fa fa-fw fa-home"></i> <span class="nav-label">{{ 'Tableau de bord'|trans }}</span></a>
			</li>

			{% elseif site_context.isUserEnvironment() %}

			{#####################################################################################################
			//
			// USER ENVIRONMENT
			//
			######################################################################################################}

			<li><a href="{{ path('website_admin_homepage') }}" class="woc"><i class="fa fa-fw fa-home"></i> <span class="nav-label">{{ 'Tableau de bord'|trans }}</span></a></li>
			{% if site_context.isOwnerEntreprises() %}
			<li><a href="{{ path('wsa_user_entreprise_list', {id: app.user.id}) }}" class="woc">{{ icon('Entreprise', true, true, ['fa-fw','m-r-xs'])|raw }} <span class="nav-label">{{ 'my_entreprises'|trans }}</span></a></li>
			{% endif %}
			<li>
				<a href="#">{{ icon('Reseausocial', true, true, ['fa-fw','m-r-xs'])|raw }}<span class="nav-label">{{ 'Liens sociaux'|trans|raw }}</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					{% if site_context.isAnnonce() %}
					<li><a href="{{ path('wsa_annonce_list') }}" class="woc">{{ icon('Annonce', true, true, ['fa-fw','m-r-xs'])|raw }} {{ 'names'|trans({}, 'Annonce')|striptags }}</a></li>
					{% endif %}
					<li><a href="{{ path('wsa_reseausocial_list') }}" class="woc">{{ icon('Reseausocial', true, true, ['fa-fw','m-r-xs'])|raw }} {{ 'names'|trans({}, 'Reseausocial')|striptags }}</a></li>
					<li><a href="{{ path('wsa_message_list') }}" class="woc">{{ icon('Message', true, true, ['fa-fw','m-r-xs'])|raw }} {{ 'names'|trans({}, 'Message')|striptags }}</a></li>
					<li><a href="{{ path('wsa_adresse_list') }}" class="woc">{{ icon('Adresse', true, true, ['fa-fw','m-r-xs'])|raw }} {{ 'names'|trans({}, 'Adresse')|striptags }}</a></li>
					<li><a href="{{ path('wsa_telephon_list') }}" class="woc">{{ icon('Telephon', true, true, ['fa-fw','m-r-xs'])|raw }} {{ 'names'|trans({}, 'Telephon')|striptags }}</a></li>
				</ul>
			</li>
			<li>
				<a href="#">{{ icon('Group', true, true, ['fa-fw','m-r-xs'])|raw }}<span class="nav-label">{{ 'names'|trans({}, 'User')|raw }}</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					{% if app.user %}
					<li><a href="{{ path('wsa_user_show', {id: app.user.id}) }}"><i class="fa {{ app.user.icon }} fa-fw m-r-xs"></i>{{ 'user.account.profile'|trans }}</a></li>
					{% endif %}
					<li><a href="{{ path('wsa_user_list') }}" class="woc">{{ icon('User', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'User')|striptags }}</a></li>
				</ul>
			</li>
			<li>
				<a href="#">{{ icon('File', true, true, ['fa-fw','m-r-xs'])|raw }}<span class="nav-label">{{ 'Files'|trans }}</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="{{ path('wsa_directory_owner') }}" class="woc">{{ icon('Directory', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'myfolders'|trans }}</a></li>
					{# <li><a href="{{ path('wsa_directory_list') }}" class="woc">{{ icon('Directory', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'sharedfolders'|trans }}</a></li> #}
					<li><a href="{{ path('wsa_image_list') }}" class="woc">{{ icon('Image', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Image')|striptags }}</a></li>
					<li><a href="{{ path('wsa_pdf_list') }}" class="woc">{{ icon('Pdf', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Pdf')|striptags }}</a></li>
					<li><a href="{{ path('wsa_video_list') }}" class="woc">{{ icon('Video', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Video')|striptags }}</a></li>
					<li><a href="{{ path('wsa_text_list') }}" class="woc">{{ icon('Text', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Text')|striptags }}</a></li>
					{# <li><a href="#" class="woc">{{ icon('Audio', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Audio')|striptags }}</a></li> #}
{# 					{% if app.user.superadmin|default(false) %}
					<li><a href="{{ path('wsa_file_list') }}" class="woc">{{ icon('File', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'Tous fichiers'|trans }}</a></li>
					<li><a href="{{ path('wsa_file_orphan_list') }}" class="woc">{{ icon('File', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'Fichiers orphelins'|trans }}</a></li>
					{% endif %} #}
				</ul>
			</li>

			{% elseif site_context.isUserEntrepriseEnv() %}

			{#####################################################################################################
			//
			// USER PERSONAL ENTREPRISE ENVIRONMENT
			//
			######################################################################################################}

			<li><a href="{{ path('website_admin_homepage') }}" class="woc"><i class="fa fa-fw fa-home"></i> <span class="nav-label">{{ 'Tableau de bord'|trans }}</span></a></li>
			<li><a href="{{ path('wsa_entreprise_show', {id: site_context.environment.id}) }}" class="woc"><i class="fa {{ site_context.environment.icon }} fa-fw m-r-xs"></i> <span class="nav-label">{{ site_context.environment.title }}</span></a></li>
			<li>
				<a href="#">{{ icon('Reseausocial', true, true, ['fa-fw','m-r-xs'])|raw }}<span class="nav-label">{{ 'Liens sociaux'|trans|raw }}</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					{% if site_context.isAnnonce() %}
					<li><a href="{{ path('wsa_annonce_list') }}" class="woc">{{ icon('Annonce', true, true, ['fa-fw','m-r-xs'])|raw }} {{ 'names'|trans({}, 'Annonce')|striptags }}</a></li>
					{% endif %}
					<li><a href="{{ path('wsa_reseausocial_list') }}" class="woc">{{ icon('Reseausocial', true, true, ['fa-fw','m-r-xs'])|raw }} {{ 'names'|trans({}, 'Reseausocial')|striptags }}</a></li>
					<li><a href="{{ path('wsa_message_list') }}" class="woc">{{ icon('Message', true, true, ['fa-fw','m-r-xs'])|raw }} {{ 'names'|trans({}, 'Message')|striptags }}</a></li>
					<li><a href="{{ path('wsa_adresse_list') }}" class="woc">{{ icon('Adresse', true, true, ['fa-fw','m-r-xs'])|raw }} {{ 'names'|trans({}, 'Adresse')|striptags }}</a></li>
					<li><a href="{{ path('wsa_telephon_list') }}" class="woc">{{ icon('Telephon', true, true, ['fa-fw','m-r-xs'])|raw }} {{ 'names'|trans({}, 'Telephon')|striptags }}</a></li>
				</ul>
			</li>
			<li>
				<a href="#">{{ icon('Group', true, true, ['fa-fw','m-r-xs'])|raw }}<span class="nav-label">{{ 'names'|trans({}, 'User')|raw }}</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					{% if app.user %}
					<li><a href="{{ path('wsa_user_show', {id: app.user.id}) }}"><i class="fa {{ app.user.icon }} fa-fw m-r-xs"></i>{{ 'user.account.profile'|trans }}</a></li>
					{% endif %}
					<li><a href="{{ path('wsa_user_list') }}" class="woc">{{ icon('User', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'User')|striptags }}</a></li>
				</ul>
			</li>
			<li>
				<a href="#">{{ icon('File', true, true, ['fa-fw','m-r-xs'])|raw }}<span class="nav-label">{{ 'Files'|trans }}</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="{{ path('wsa_directory_owner') }}" class="woc">{{ icon('Directory', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'myfolders'|trans }}</a></li>
					{# <li><a href="{{ path('wsa_directory_list') }}" class="woc">{{ icon('Directory', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'sharedfolders'|trans }}</a></li> #}
					<li><a href="{{ path('wsa_image_list') }}" class="woc">{{ icon('Image', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Image')|striptags }}</a></li>
					<li><a href="{{ path('wsa_pdf_list') }}" class="woc">{{ icon('Pdf', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Pdf')|striptags }}</a></li>
					<li><a href="{{ path('wsa_video_list') }}" class="woc">{{ icon('Video', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Video')|striptags }}</a></li>
					{# <li><a href="#" class="woc">{{ icon('Audio', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Audio')|striptags }}</a></li> #}
{# 					{% if app.user.superadmin|default(false) %}
					<li><a href="{{ path('wsa_text_list') }}" class="woc">{{ icon('Text', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Text')|striptags }}</a></li>
					<li><a href="{{ path('wsa_file_list') }}" class="woc">{{ icon('File', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'Tous fichiers'|trans }}</a></li>
					<li><a href="{{ path('wsa_file_orphan_list') }}" class="woc">{{ icon('File', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'Fichiers orphelins'|trans }}</a></li>
					{% endif %} #}
				</ul>
			</li>

			{% elseif site_context.isMainEntrepriseEnv() %}

			{#####################################################################################################
			//
			// PREFERED ENTREPRISE ENVIRONMENT
			//
			######################################################################################################}

			<li><a href="{{ path('website_admin_homepage') }}" class="woc"><i class="fa fa-fw fa-home"></i> <span class="nav-label">{{ 'Tableau de bord'|trans }}</span></a></li>
			<li>
				<a href="#">{{ icon('Reseausocial', true, true, ['fa-fw','m-r-xs'])|raw }}<span class="nav-label">{{ 'Liens sociaux'|trans|raw }}</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					{% if site_context.isAnnonce() %}
					<li><a href="{{ path('wsa_annonce_list') }}" class="woc">{{ icon('Annonce', true, true, ['fa-fw','m-r-xs'])|raw }} {{ 'names'|trans({}, 'Annonce')|striptags }}</a></li>
					{% endif %}
					<li><a href="{{ path('wsa_reseausocial_list') }}" class="woc">{{ icon('Reseausocial', true, true, ['fa-fw','m-r-xs'])|raw }} {{ 'names'|trans({}, 'Reseausocial')|striptags }}</a></li>
					<li><a href="{{ path('wsa_message_list') }}" class="woc">{{ icon('Message', true, true, ['fa-fw','m-r-xs'])|raw }} {{ 'names'|trans({}, 'Message')|striptags }}</a></li>
					<li><a href="{{ path('wsa_blog_list') }}" class="woc">{{ icon('Blog', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Blog')|striptags }}</a></li>
					<li><a href="{{ path('wsa_tag_list') }}" class="woc">{{ icon('Tag', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Tag')|striptags }}</a></li>
					<li><a href="{{ path('wsa_popup_list') }}" class="woc">{{ icon('Popup', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Popup')|striptags }}</a></li>
					<li><a href="{{ path('wsa_adresse_list') }}" class="woc">{{ icon('Adresse', true, true, ['fa-fw','m-r-xs'])|raw }} {{ 'names'|trans({}, 'Adresse')|striptags }}</a></li>
					<li><a href="{{ path('wsa_telephon_list') }}" class="woc">{{ icon('Telephon', true, true, ['fa-fw','m-r-xs'])|raw }} {{ 'names'|trans({}, 'Telephon')|striptags }}</a></li>
				</ul>
			</li>
			<li>
				<a href="#">{{ icon('File', true, true, ['fa-fw','m-r-xs'])|raw }}<span class="nav-label">{{ 'Files'|trans }}</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="{{ path('wsa_directory_owner', {id: site_context.Environment.id}) }}" class="woc">{{ icon('Directory', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Directory') }}</a></li>
					<li><a href="{{ path('wsa_image_list') }}" class="woc">{{ icon('Image', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Image')|striptags }}</a></li>
					<li><a href="{{ path('wsa_pdf_list') }}" class="woc">{{ icon('Pdf', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Pdf')|striptags }}</a></li>
					<li><a href="{{ path('wsa_video_list') }}" class="woc">{{ icon('Video', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Video')|striptags }}</a></li>
					{# <li><a href="#" class="woc">{{ icon('Audio', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Audio')|striptags }}</a></li> #}
					<li><a href="{{ path('wsa_text_list') }}" class="woc">{{ icon('Text', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Text')|striptags }}</a></li>
					{% if app.user.superadmin|default(false) %}
					<li><a href="{{ path('wsa_file_list') }}" class="woc">{{ icon('File', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'Tous fichiers'|trans }}</a></li>
					<li><a href="{{ path('wsa_file_orphan_list') }}" class="woc">{{ icon('File', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'Fichiers orphelins'|trans }}</a></li>
					{% endif %}
				</ul>
			</li>
			<li>
				<a href="#">{{ icon('Pageweb', true, true, ['fa-fw','m-r-xs'])|raw }}<span class="nav-label">{{ 'Site'|trans }}</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					{# <li><a href="{{ path('wsa_html_list') }}" class="woc">{{ icon('Html', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Html')|striptags }}</a></li> #}
					<li><a href="{{ path('wsa_twig_list') }}" class="woc">{{ icon('Twig', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Twig')|striptags }}</a></li>
					<li><a href="{{ path('wsa_pageweb_list') }}" class="woc">{{ icon('Pageweb', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Pageweb')|striptags }}</a></li>
					<li><a href="{{ path('wsa_menu_list') }}" class="woc">{{ icon('Menu', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Menu')|striptags }}</a></li>
					{# <li><a href="{{ path('wsa_faq_list') }}" class="woc">{{ icon('Faq', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Faq')|striptags }}</a></li> #}
					{# <li><a href="{{ path('wsa_annonce_list') }}" class="woc">{{ icon('Annonce', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Annonce')|striptags }}</a></li> #}
				</ul>
			</li>
			{% if site_context.isEvents() %}
			<li>
				<a href="#">{{ icon('Event', true, true, ['fa-fw','m-r-xs'])|raw }}<span class="nav-label">{{ 'names'|trans({}, 'Event')|raw }}</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="{{ path('wsa_visite_list') }}" class="woc">{{ icon('Visite', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Visite')|striptags }}</a></li>
					<li><a href="{{ path('wsa_atelier_list') }}" class="woc">{{ icon('Atelier', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Atelier')|striptags }}</a></li>
					<li><a href="{{ path('wsa_animation_list') }}" class="woc">{{ icon('Animation', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Animation')|striptags }}</a></li>
					<li><a href="{{ path('wsa_jeux_list') }}" class="woc">{{ icon('Jeux', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Jeux')|striptags }}</a></li>
					<li><a href="{{ path('wsa_calendar') }}" class="woc">{{ icon('Eventdate', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Eventdate')|striptags }}</a></li>
					<li><a href="{{ path('wsa_parc_list') }}" class="woc">{{ icon('Parc', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Parc')|striptags }}</a></li>
					<li><a href="{{ path('wsa_journey_list') }}" class="woc">{{ icon('Journey', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Journey')|striptags }}</a></li>
					<li><a href="{{ path('wsa_season_list') }}" class="woc">{{ icon('Season', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Season')|striptags }}</a></li>
					{# <li><a href="{{ path('wsa_eventdate_list') }}" class="woc">{{ icon('Eventdate', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Eventdate')|striptags }}</a></li> #}
				</ul>
			</li>
			{% endif %}
			{% if site_context.isMarketplace() %}
			<li>
				<a href="#">{{ icon('Product', true, true, ['fa-fw','m-r-xs'])|raw }}<span class="nav-label">{{ 'MarketPlace'|trans({}, 'Product')|raw }}</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="{{ path('wsa_product_list') }}" class="woc">{{ icon('Product', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Product')|striptags }}</a></li>
					<li><a href="{{ path('wsa_activity_list') }}" class="woc">{{ icon('Activity', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Activity')|striptags }}</a></li>
				</ul>
			</li>
			{% endif %}
			<li>
				<a href="#">{{ icon('Entreprise', true, true, ['fa-fw','m-r-xs'])|raw }}<span class="nav-label">{{ 'names'|trans({}, 'Entreprise')|raw }}</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="{{ path('wsa_entreprise_show', {id: site_context.Entreprise.id}) }}" class="woc"><i class="fa {{ site_context.Entreprise.icon }} fa-fw m-r-xs"></i>{{ site_context.Entreprise.title }}</a></li>
					<li><a href="{{ path('wsa_entreprise_list') }}" class="woc">{{ icon('Entreprise', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Entreprise')|striptags }}</a></li>
					{# <li><a href="{{ path('wsa_partenaire_list') }}" class="woc">{{ icon('Partenaire', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Partenaire')|striptags }}</a></li> #}
					{# <li><a href="{{ path('wsa_certificat_list') }}" class="woc">{{ icon('Certificat', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Certificat')|striptags }}</a></li> #}
				</ul>
			</li>
			{% if site_context.isTranslatorAndShow() or is_granted('ROLE_SUPER_ADMIN') %}
			<li>
				<a href="#">{{ icon('Language', true, true, ['fa-fw','m-r-xs'])|raw }}<span class="nav-label">{{ 'international'|trans }}</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="{{ path('wsa_language_list') }}" class="woc">{{ icon('Language', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Language')|striptags }}</a></li>
					<li><a href="{{ path('wsa_twgtranslation_list') }}" class="woc">{{ icon('TwgTranslation', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'TwgTranslation')|striptags }}</a></li>
					<li><a href="{{ path('wsa_twgtranslation_km_list') }}" class="woc"><i class="fa fa-pencil a-fw m-r-xs"></i>{{ 'Saisie au KM'|trans({}, 'TwgTranslation')|striptags }}</a></li>
					<li><a href="{{ path('wsa_twgtranslation_create') }}" class="woc"><i class="fa fa-plus fa-fw m-r-xs"></i>{{ 'action.create'|trans({}, 'TwgTranslation')|striptags }}</a></li>
					{# <li><a href="{{ path('wsa_twgtranslation_check_from_fixtures') }}" class="woc"><i class="fa fa-refresh fa-fw m-r-xs"></i>{{ 'check from file'|trans({}, 'TwgTranslation')|striptags }}</a></li> #}
				</ul>
			</li>
			{% endif %}
			<li>
				<a href="#">{{ icon('Group', true, true, ['fa-fw','m-r-xs'])|raw }}<span class="nav-label">{{ 'names'|trans({}, 'User')|raw }}</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					{% if app.user %}
					<li><a href="{{ path('wsa_user_show', {id: app.user.id}) }}"><i class="fa {{ app.user.icon }} fa-fw m-r-xs"></i>{{ 'user.account.profile'|trans }}</a></li>
					{% endif %}
					<li><a href="{{ path('wsa_user_list') }}" class="woc">{{ icon('User', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'User')|striptags }}</a></li>
					<li><a href="{{ path('wsa_group_list') }}" class="woc">{{ icon('Group', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Group')|striptags }}</a></li>
				</ul>
			</li>
			<li>
				<a href="#"><i class="fa fa-tasks fa-fw m-r-xs"></i><span class="nav-label">{{ 'Réglages'|trans }}</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="{{ path('wsa_typitem_list') }}" class="woc">{{ icon('Typitem', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Typitem')|striptags }}</a></li>
				</ul>
			</li>

			{% else %}

			{#####################################################################################################
			//
			// UNKNOWN ENVIRONMENT
			//
			######################################################################################################}

			<li>
				<a href="{{ path('website_admin_homepage') }}" class="woc"><i class="fa fa-fw fa-home"></i> <span class="nav-label" title="Contexte non reconnu !">{{ 'Inconnu'|trans }}</span></a>
			</li>

			{% endif %}

			{#####################################################################################################
			//
			// SUPER ADMIN OPTIONS
			//
			######################################################################################################}

			{% if app.user.superadmin|default(false) %}
			<li>
				<a href="#"><i class="fa fa-fw fa-lock m-r-xs"></i><span class="nav-label">Super Admin</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					{# <li><a href="{{ path('wsa_configuration') }}" class="woc"><i class="fa fa-cogs fa-fw m-r-xs"></i>Configuration</a></li> #}
					<li><a href="{{ path('wsa_logg_list') }}" class="woc">{{ icon('Logg', true, true, ['fa-fw','m-r-xs'])|raw }}{{ 'names'|trans({}, 'Logg')|striptags }}</a></li>
					{# <li><a href="{{ path('wsa_test_context') }}" class="woc"><i class="fa fa-cog fa-fw m-r-xs"></i>Contexts</a></li> #}
					<li><a href="{{ path('wsa_info_entities') }}" class="woc"><i class="fa fa-file-o fa-fw m-r-xs"></i>Entities informations</a></li>
					<li><a href="{{ path('wsa_fileformat_list') }}" class="woc">{{ icon('Fileformat', true, true, ['fa-fw','m-r-xs'])|raw }}File formats</a></li>
					<li><a href="{{ path('wsa_fileversion_list') }}" class="woc">{{ icon('Fileversion', true, true, ['fa-fw','m-r-xs'])|raw }}File versions</a></li>
					<li><a href="{{ path('wsa_binary_list') }}" class="woc">{{ icon('Binary', true, true, ['fa-fw','m-r-xs'])|raw }}Binary files</a></li>
					<li><a href="{{ path('wsa_eventdate_list') }}" class="woc">{{ icon('Eventdate', true, true, ['fa-fw','m-r-xs'])|raw }}All dates</a></li>
					<li><a href="{{ path('wsa_twig_check') }}" class="woc">{{ icon('Twig', true, true, ['fa-fw','m-r-xs'])|raw }}Twigs check</a></li>
					<li><a href="{{ path('wsa_cruds_list') }}" class="woc">{{ icon('Crud', true, true, ['fa-fw','m-r-xs'])|raw }}Cruds</a></li>
					<li><a href="{{ path('wsa_basedirectory_transit') }}" class="woc">{{ icon('Basedirectory', true, true, ['fa-fw','m-r-xs'])|raw }}Transit tests</a></li>
				</ul>
			</li>
			{% endif %}

		</ul>

	</div>
</nav>

